Repository tikv/tikv, pull requests merged in 2018-11, with the labels that each got.

#3717 implement builtin SubstringIndex
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor

#3735 expression: add builtin_time - month_name
  src/coprocessor/codec/mysql/time/mod.rs
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor

#3725 add panic mark file
  components/test_util/src/lib.rs
  src/bin/tikv-importer.rs
  src/bin/tikv-server.rs
  src/coprocessor/dag/executor/scanner.rs
  src/raftstore/store/region_snapshot.rs
  src/util/mod.rs
Labels: T: Enhancement

#3740 mvcc: record start_ts in write conflict error
  components/test_storage/src/assert_storage.rs
  src/server/service/kv.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  tests/storage_cases/test_storage.rs
Labels: C: Txn

#3745 *: regress grpcio to v0.3
  Cargo.lock
  Cargo.toml
  components/test_raftstore/Cargo.toml
  src/import/kv_service.rs
  src/import/sst_service.rs
  src/server/raft_client.rs
  src/server/service/debug.rs
  src/server/service/kv.rs
  src/server/snap.rs
  tests/pd/mock/server.rs
Labels: S: LGT2

#3746 [2.1 cherry-pick] panic mark file
  components/test_util/lib.rs
  src/bin/tikv-importer.rs
  src/bin/tikv-server.rs
  src/coprocessor/dag/executor/scanner.rs
  src/raftstore/store/region_snapshot.rs
  src/util/mod.rs
  src/util/panic_hook.rs
Labels: T: CherryPick

#3729 Polish Config
  etc/config-template.toml
Labels: C: Doc, S: LGT2

#3750 mvcc: record start_ts in write conflict error
  components/test_storage/assert_storage.rs
  src/server/service/kv.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  tests/storage_cases/test_storage.rs
Labels: T: CherryPick

#3757 A cleaner way to create Storage or Engine for tests
  components/test_coprocessor/src/fixture.rs
  components/test_storage/src/sync_storage.rs
  src/coprocessor/dag/executor/scanner.rs
  src/coprocessor/endpoint.rs
  src/server/server.rs
  src/storage/engine/mod.rs
  src/storage/engine/rocksdb.rs
  src/storage/gc_worker.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/backward_scanner.rs
  src/storage/mvcc/reader/forward_scanner.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/store.rs
  tests/coprocessor/test_select.rs
  tests/storage_cases/test_storage.rs
Labels: C: Test, S: LGT2

#3760 fix raftstore_cases::test_conf_change::test_server_split_brain.
  tests/raftstore_cases/test_conf_change.rs
Labels: C: Test, S: LGT2

#3753 expression: add builtin_time - hour/minute/second/micro_second and improve tests
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor

#3751 Makefile: add tikv-ctl make rule
  Makefile
Labels: C: Build, S: LGT2

#3763 endpoint: log errors (#3731)
  src/coprocessor/endpoint.rs
Labels: C: Copr, T: CherryPick

#3689 Prepare for Coprocessor Executor Benchmarks
  Cargo.toml
  Makefile
  benches/benches.rs
  benches/coprocessor/dag/mod.rs
  benches/coprocessor_executors.rs
  components/test_coprocessor/src/column.rs
  components/test_coprocessor/src/dag.rs
  components/test_coprocessor/src/fixture.rs
  components/test_coprocessor/src/store.rs
  components/test_coprocessor/src/table.rs
  src/storage/mod.rs
  src/storage/txn/mod.rs
  src/storage/txn/store.rs
  tests/coprocessor/test_select.rs
Labels: C: Test, S: LGT1

#3723 src/storage: add a new BTreeEngine for local tests
  src/lib.rs
  src/storage/engine/btree_engine.rs
  src/storage/engine/mod.rs
  src/storage/engine/rocksdb.rs
Labels: C: Test, S: LGT2

#3775 raftstore: use an optimized method to ingest snapshots
  Cargo.lock
  src/raftstore/store/snap.rs
Labels: C: Perf, S: LGT2

#3782 [Cherry Pick] Add `max-tasks-per-worker-xxx` and remove `end-point-max-tasks`(#3093)
  etc/config-template.toml
  src/config.rs
  src/coprocessor/endpoint.rs
  src/server/config.rs
  src/server/readpool/config.rs
  src/server/readpool/mod.rs
  tests/config/mod.rs
  tests/config/test-custom.toml
Labels: T: CherryPick

#3716 expression: implement ToBase64 and FromBase64
  Cargo.lock
  Cargo.toml
  components/cop_datatype/src/def/mod.rs
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
  src/lib.rs
Labels: C: Copr, S: LGT2, T: Contributor

#3743 Add args ldb to tikv-ctl
  Cargo.lock
  docs/tools/tikv-control.md
  src/bin/tikv-ctl.rs
Labels: C: TiKV-Ctl

#3780 [release-2.0] Cherry-pick: service/kv: Add end_key limit to kv_scan interface (#3720)
  Cargo.lock
  benches/bin/mvcc.rs
  src/server/service/kv.rs
  src/storage/mod.rs
  tests/storage/assert_storage.rs
  tests/storage/sync_storage.rs
  tests/storage_cases/test_raft_storage.rs
Labels: T: CherryPick

#3769 Remove `Storage::start()` and `Storage::stop()`
  benches/storage/scan.rs
  components/test_coprocessor/src/store.rs
  components/test_raftstore/src/server.rs
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/sync_storage.rs
  components/test_storage/src/util.rs
  src/bin/tikv-server.rs
  src/config.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/snap.rs
  src/server/node.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/storage/engine/btree_engine.rs
  src/storage/engine/mod.rs
  src/storage/engine/raftkv.rs
  src/storage/engine/rocksdb.rs
  src/storage/gc_worker.rs
  src/storage/mod.rs
  tests/failpoints_cases/test_storage.rs
  tests/import/kv_service.rs
  tests/storage_cases/test_raft_storage.rs
  tests/storage_cases/test_storage.rs
Labels: C: Storage, S: LGT1

#3724 storage: support reverse raw_scan and raw_batch_scan
  components/test_storage/src/sync_storage.rs
  src/server/service/kv.rs
  src/storage/mod.rs
Labels: C: Storage, S: LGT2, T: Contributor ⭐️

#3788 raftstore: avoid large write batch during raft log gc
  src/raftstore/store/util.rs
  src/raftstore/store/worker/raftlog_gc.rs
Labels: C: Raft

#3776 More table scan benchmarks
  Cargo.toml
  benches/coprocessor_executors.rs
  components/test_coprocessor/src/table.rs
  src/coprocessor/mod.rs
Labels: C: Copr, C: Test/Bench, S: LGT2

#3774 Copr: Add day_name, day_of_month, day_of_week, day_of_year
  src/coprocessor/codec/mysql/time/mod.rs
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor ⭐️

#3802 set master version to 3.0.0-alpha
  Cargo.lock
  Cargo.toml
Labels: C: Build, S: LGT2

#3722 raftstore: add more seek and seek_for_prev test
  src/raftstore/store/region_snapshot.rs
Labels: C: Raft, S: LGT2

#3813 implement SubstringBinary2Args & SubstringBinary3Args
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor ⭐️

#3733 Introduce optimize_filters_for_hits to cf_config
  etc/config-template.toml
  src/config.rs
  tests/config/mod.rs
  tests/config/test-custom.toml
Labels: C: RocksDB, S: LGT1

#3840 tikv-ctl: Some small fixes
  src/bin/tikv-ctl.rs
Labels: C: TiKV-Ctl

#3841 implement builtin function: space
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#3850 A quick fix for tombstone command's bad error message.
  src/server/debug.rs
Labels: C: TiKV-Ctl

#3857 add coprocessor function week_with_mode
  src/coprocessor/codec/mysql/time/mod.rs
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor ⭐️

#3846 release-2.1: cherry-pick fixes of help messages of tikv-ctl
  src/bin/tikv-ctl.rs
  src/server/debug.rs
Labels: T: CherryPick

#3854 Cherry pick: Support ambiguous time
  src/coprocessor/codec/mysql/time/mod.rs
Labels: C: Copr, S: LGT1, T: CherryPick

#3853 Provide seeded KV generator
  Cargo.lock
  benches/misc/mod.rs
  benches/raftstore/mod.rs
  components/test_util/Cargo.toml
  components/test_util/src/kv_generator.rs
  components/test_util/src/lib.rs
Labels: C: Test/Bench, S: LGT1

#3859 util/logger: collects logs of components
  src/util/logger.rs
Labels: C: Util

#3864 raftstore: fix redundant heartbeat
  src/raftstore/store/fsm/peer.rs
Labels: C: Raft
