Repository tikv/tikv, pull requests merged in 2018-12, with the labels that each got.

#3861 Add coprocessor function week_without_mode and more tests for week_with_mode
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#3867 Compaction reason
  Cargo.lock
  src/util/rocksdb/engine_metrics.rs
  src/util/rocksdb/event_listener.rs
Labels: T: Enhancement

#3866 raftstore: fix redundant heartbeat (#3864)
  src/raftstore/store/fsm/peer.rs
Labels: T: CherryPick

#3849 tests: try to make test_kv_service more stable
  components/test_util/src/lib.rs
  components/test_util/src/macros.rs
  tests/integrations/import/kv_service.rs
  tests/integrations/mod.rs
Labels: C: Test/Bench, S: LGT2

#3863 Update Raft to 0.4.0
  Cargo.lock
  Cargo.toml
  components/test_raftstore/Cargo.toml
Labels: C: Raft, S: LGT2

#3870 Upgrade tipb to a7fd2aa
  Cargo.lock
  src/coprocessor/dag/dag.rs
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
  tests/integrations/coprocessor/test_select.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#3871 Copr: Add week_day and week_of_year
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#3879 implement builtin strcmp function
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor ⭐️

#3856 implement compress,uncompress,uncompressed_length
  Cargo.lock
  Cargo.toml
  src/coprocessor/codec/error.rs
  src/coprocessor/dag/expr/builtin_encryption.rs
  src/coprocessor/dag/expr/scalar_function.rs
  src/lib.rs
Labels: C: Copr, S: LGT1, T: Contributor ⭐️

#3884 *: replace FxHashMap with Hashbrown
  Cargo.lock
  Cargo.toml
  components/test_raftstore/src/pd.rs
  src/lib.rs
  src/util/collections.rs
Labels: S: LGT2

#3885 raftstore/error: add StoreNotMatch details
  Cargo.lock
  src/raftstore/errors.rs
Labels: C: Raft

#3787 benches: add benchmarks for BTreeEngine
  Cargo.toml
  benches/engines/mod.rs
Labels: C: Test/Bench, S: LGT2

#3880 storage/mvcc/txn: polish prewrite
  src/storage/mvcc/txn.rs
Labels: C: Storage, S: LGT2

#3874 util/mpsc: refactor channel
  Cargo.lock
  Cargo.toml
  benches/misc/channel/bench_channel.rs
  benches/misc/mod.rs
  src/lib.rs
  src/util/mpsc.rs
  src/util/worker/mod.rs
Labels: C: Util

#3878 raftstore: reject transfer leader to the recently added peers
  components/test_raftstore/src/util.rs
  src/raftstore/store/config.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/peer.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_conf_change.rs
Labels: C: Raft, P: Critical

#3897 raftstore: reject transfer leader to the recently added peers (#3878)
  components/test_raftstore/util.rs
  src/raftstore/store/config.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/peer.rs
  tests/config/mod.rs
  tests/config/test-custom.toml
  tests/raftstore_cases/test_conf_change.rs
Labels: T: CherryPick

#3818 Copr: add builtin function "concat_ws"
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: Waiting, T: Contributor ⭐️

#3821 Make test_handle_time more stable
  Cargo.lock
  Cargo.toml
  src/coprocessor/endpoint.rs
  src/coprocessor/mod.rs
  src/lib.rs
Labels: C: Test/Bench, S: LGT2

#3843 op-guide: make docker-compose doc runnable
  docs/op-guide/deploy-tikv-using-docker-compose.md
Labels: C: Doc

#3848 Support Multiple Fuzzers
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/cli.rs
  fuzz/fuzzer-afl/Cargo.toml
  fuzz/fuzzer-afl/src/bin/.gitignore
  fuzz/fuzzer-afl/src/lib.rs
  fuzz/fuzzer-afl/template.rs
  fuzz/fuzzer-honggfuzz/.gitignore
  fuzz/fuzzer-honggfuzz/Cargo.toml
  fuzz/fuzzer-honggfuzz/src/bin/.gitignore
  fuzz/fuzzer-honggfuzz/src/lib.rs
  fuzz/fuzzer-honggfuzz/template.rs
  fuzz/fuzzer-libfuzzer/.gitignore
  fuzz/fuzzer-libfuzzer/Cargo.toml
  fuzz/fuzzer-libfuzzer/src/bin/.gitignore
  fuzz/fuzzer-libfuzzer/src/lib.rs
  fuzz/fuzzer-libfuzzer/template.rs
  fuzz/src/fuzz_targets/codec_number.rs
  fuzz/src/fuzz_targets/coprocessor/codec/mysql/decimal.rs
  fuzz/src/util/number_maker.rs
  fuzz/targets/Cargo.toml
  fuzz/targets/mod.rs
  fuzz/targets/util.rs
Labels: C: Test/Bench, S: LGT2

#3891 When TiKV is closing, should set `retryable` error instead of `abort` error
  src/server/service/kv.rs
Labels: T: Bug

#3738 Add a batch mpsc and upgrade crossbeam-channel to 0.3
  benches/misc/channel/bench_channel.rs
  benches/misc/mod.rs
  src/util/mpsc/batch.rs
  src/util/mpsc/mod.rs
Labels: C: Util

#3906 Fix unnecessary print in tests
  src/coprocessor/endpoint.rs
Labels: S: LGT2

#3907 Remove unnecessary &mut in Coprocessor
  src/coprocessor/dag/executor/aggregation.rs
  src/coprocessor/dag/executor/selection.rs
  src/coprocessor/dag/expr/builtin_arithmetic.rs
  src/coprocessor/dag/expr/builtin_cast.rs
  src/coprocessor/dag/expr/builtin_compare.rs
  src/coprocessor/dag/expr/builtin_control.rs
  src/coprocessor/dag/expr/builtin_encryption.rs
  src/coprocessor/dag/expr/builtin_json.rs
  src/coprocessor/dag/expr/builtin_like.rs
  src/coprocessor/dag/expr/builtin_miscellaneous.rs
  src/coprocessor/dag/expr/builtin_op.rs
  src/coprocessor/dag/expr/builtin_other.rs
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/column.rs
  src/coprocessor/dag/expr/constant.rs
  src/coprocessor/dag/expr/mod.rs
Labels: S: LGT2

#3901 github: update docs link
  .github/pull_request_template.md
Labels: C: Doc, S: LGT2

#3909 Use failure for cop_datatype
  Cargo.lock
  components/cop_datatype/Cargo.toml
  components/cop_datatype/src/def/eval_type.rs
  components/cop_datatype/src/error.rs
  components/cop_datatype/src/lib.rs
Labels: S: LGT2

#3741 add load statistics for grpc threads.
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/server/config.rs
  src/server/load_statistics/linux.rs
  src/server/load_statistics/mod.rs
  src/server/mod.rs
  src/server/server.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: C: gRPC

#3845 doc: add warning for client API
  docs/clients/go-client-api.md
Labels: C: Doc, S: LGT2

#3915 fix build on macOS
  src/server/load_statistics/mod.rs
Labels: C: Build, S: LGT2, T: Contributor ⭐️

#3888 Fuzz Time
  fuzz/targets/mod.rs
Labels: C: Test/Bench, S: LGT2

#3876 add builtin function year_week_with_mode and year_week_without_mode
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor ⭐️

#3822 raftstore: not always update pending_cross_snap
  src/raftstore/store/fsm/mod.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/store.rs
  tests/integrations/raftstore/test_merge.rs
Labels: C: Raft, P: Critical

#3927 readme: replace PingCAP website links with repo links
  README.md
Labels: C: Doc, S: LGT2

#3918 *: rename RUST_VERSION to rust-toolchain
  .circleci/config.yml
  README.md
  RUST_VERSION
  ci-build/Makefile
  docker/rust_dockerfile
  rust-toolchain
Labels: C: Build

#3929 raftstore: reject transfer leader to the recently added peers (#3878)
  src/raftstore/store/config.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/store.rs
  tests/config/mod.rs
  tests/config/test-custom.toml
  tests/raftstore/util.rs
  tests/raftstore_cases/test_conf_change.rs
Labels: T: CherryPick

#3914 implement builtin rpad & rpad_binary
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor ⭐️

#3930 raftstore: fix redundant heartbeat (#3864)
  src/raftstore/store/store.rs
Labels: S: LGT1, T: CherryPick

#3899 Copr: add add_datetime_and_duration, add_datetime_and_string and add_time_datetime_null
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
  src/util/macros.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#3939 *: use util::collections::HashMap/HashSet
  components/test_coprocessor/src/store.rs
  src/import/test_helpers.rs
  src/util/rocksdb/event_listener.rs
Labels: S: LGT2

#3931 Supports day format in ReadableDuration (#3687)
  src/util/config.rs
Labels: T: CherryPick

#3933 raftstore/coprocessor: use scan way when approximate way fail
  src/raftstore/coprocessor/mod.rs
  src/raftstore/coprocessor/split_check/half.rs
  src/raftstore/coprocessor/split_check/mod.rs
  src/raftstore/coprocessor/split_check/size.rs
  src/raftstore/store/util.rs
  src/raftstore/store/worker/split_check.rs
Labels: S: LGT2, T: BugFix, T: CherryPick

#3873 raftstore: do not update pending_cross_snap when peer is applying snapshot
  components/test_raftstore/src/transport_simulate.rs
  src/pd/pd.rs
  src/raftstore/store/fsm/peer.rs
  tests/failpoints/cases/test_merge.rs
  tests/integrations/raftstore/test_snap.rs
Labels: C: Raft, T: BugFix

#3916 raftstore: introduce router
  src/lib.rs
  src/raftstore/store/fsm/mod.rs
  src/raftstore/store/fsm/router.rs
Labels: C: Raft, P: Critical

#3949 raftstore: do not update pending_cross_snap when peer is applying snapshot (#3873)
  components/test_raftstore/transport_simulate.rs
  src/pd/pd.rs
  src/raftstore/store/fsm/peer.rs
  tests/failpoints_cases/test_merge.rs
  tests/raftstore_cases/test_snap.rs
Labels: T: CherryPick

#3954 storage: remove unused variants
  src/storage/mod.rs
  src/storage/txn/process.rs
Labels: C: Storage

#3800 Support column name access in test_coprocessor
  benches/coprocessor_executors/mod.rs
  components/test_coprocessor/src/column.rs
  components/test_coprocessor/src/dag.rs
  components/test_coprocessor/src/fixture.rs
  components/test_coprocessor/src/store.rs
  components/test_coprocessor/src/table.rs
  tests/integrations/coprocessor/test_analyze.rs
  tests/integrations/coprocessor/test_checksum.rs
  tests/integrations/coprocessor/test_select.rs
Labels: S: LGT1

#3943 implement builtin lpad & lpad_binary
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor ⭐️

#3855 add an HTTP port
  Cargo.lock
  Cargo.toml
  etc/config-template.toml
  src/bin/tikv-server.rs
  src/bin/util/setup.rs
  src/lib.rs
  src/server/config.rs
  src/server/errors.rs
  src/server/mod.rs
  src/server/status_server.rs
  src/util/metrics/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: S: LGT1, T: Enhancement

#3961 raftstore/router: stable test
  src/raftstore/store/fsm/router.rs
Labels: C: Raft, T: BugFix

#3758 tikv-ctl: Add multi-threaded recover-mvcc
  src/bin/tikv-ctl.rs
  src/server/debug.rs
Labels: C: TiKV-Ctl, C: Txn, S: LGT2

#3975 peer: remove unused `propose_snapshot`
  src/raftstore/store/peer.rs
Labels: S: LGT2

#3973 add is_unsigned to Expression
  src/coprocessor/dag/expr/builtin_arithmetic.rs
  src/coprocessor/dag/expr/builtin_cast.rs
  src/coprocessor/dag/expr/builtin_compare.rs
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/builtin_op.rs
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/mod.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#3928 tikv-ctl: generate random bytes and print as hex
  src/bin/tikv-ctl.rs
Labels: C: TiKV-Ctl

#3924 storage: Add more comments to storage
  src/storage/gc_worker.rs
  src/storage/mod.rs
Labels: C: Doc

#3627 raftstore: Use observers to collect region informations to a collection
  src/raftstore/coprocessor/dispatcher.rs
  src/raftstore/coprocessor/mod.rs
  src/raftstore/coprocessor/region_info_accessor.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/peer.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_region_change_observer.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
Labels: C: Raft

#3982 implement builtin string function left_binary and right_binary
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor ⭐️

#3978 coprocessor/dag/expr: add to_days
  src/coprocessor/codec/mysql/time/extension.rs
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#3956 util/file_log: close the log file explicitly
  src/util/file_log.rs
Labels: C: Util, S: LGT2

#3957 pd: add comments
  src/pd/client.rs
  src/pd/mod.rs
  src/pd/pd.rs
  src/pd/util.rs
Labels: C: Doc, C: PD-Client, S: LGT2

#3955 importer: add annotation
  src/import/common.rs
  src/import/engine.rs
  src/import/import.rs
  src/import/kv_importer.rs
  src/import/kv_service.rs
  src/import/prepare.rs
Labels: C: Doc

#3682 raftstore: implement seek region on RegionInfoAccessor
  src/raftstore/coprocessor/region_info_accessor.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/msg.rs
  tests/integrations/storage/test_seek_region.rs
Labels: C: Raft

#3960 Improve coprocessor comments
  src/coprocessor/dag/executor/index_scan.rs
  src/coprocessor/dag/executor/limit.rs
  src/coprocessor/dag/executor/mod.rs
  src/coprocessor/dag/executor/selection.rs
  src/coprocessor/dag/executor/table_scan.rs
  src/coprocessor/dag/executor/topn.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/mod.rs
  src/coprocessor/util.rs
Labels: C: Copr, C: Doc, S: LGT2

#3937 coprocessor/dag/expr push down builtin method DateDiff
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#3970 Add comments for raftstore.
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
Labels: C: Doc

#3925 benches: add hierarchy bench
  Cargo.toml
  benches/engines/mod.rs
  benches/hierarchy/engine/mod.rs
  benches/hierarchy/engine_factory.rs
  benches/hierarchy/mod.rs
  benches/hierarchy/mvcc/mod.rs
  benches/hierarchy/storage/mod.rs
  benches/hierarchy/txn/mod.rs
Labels: C: Test/Bench, S: LGT2

#3941 util: add comment
  src/util/codec/bytes.rs
  src/util/codec/number.rs
  src/util/file.rs
  src/util/file_log.rs
  src/util/future.rs
  src/util/futurepool.rs
  src/util/io_limiter.rs
  src/util/macros.rs
  src/util/metrics/mod.rs
  src/util/metrics/threads_linux.rs
  src/util/mod.rs
  src/util/mpsc/batch.rs
  src/util/rocksdb/mod.rs
  src/util/security.rs
  src/util/time.rs
  src/util/timer.rs
  src/util/worker/future.rs
  src/util/worker/mod.rs
Labels: C: Doc, C: Util, S: LGT2
