Repository tikv/tikv, pull requests merged in 2018-03, with the labels that each got.

#2784 pd: cancel unused region heartbeat rpc
  src/pd/client.rs
  src/pd/mod.rs
  src/pd/util.rs
  src/util/mod.rs
  tests/pd/mock/server.rs
  tests/pd/test_rpc_client.rs
Labels: WIP, bug, gRPC

#2713 Move Storage Read Operations into Readpool
  benches/bin/mvcc.rs
  src/bin/tikv-server.rs
  src/server/node.rs
  src/server/readpool/context.rs
  src/server/readpool/mod.rs
  src/server/readpool/priority.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/readpool_context.rs
  src/storage/txn/scheduler.rs
  src/util/future.rs
  src/util/futurepool.rs
  src/util/mod.rs
  tests/coprocessor/test_select.rs
  tests/failpoints_cases/test_storage.rs
  tests/raftstore/server.rs
  tests/raftstore/util.rs
  tests/storage/assert_storage.rs
  tests/storage/sync_storage.rs
  tests/storage/util.rs
  tests/storage_cases/test_storage.rs
Labels: high priority

#2798 pd: cancel unused region heartbeat rpc (#2784)
  src/pd/client.rs
  src/pd/mod.rs
  src/pd/util.rs
  src/util/mod.rs
  tests/pd/mock/server.rs
  tests/pd/test_rpc_client.rs
Labels: cherry-pick

#2828 apply hot fix for murmur3
  Cargo.lock
  Cargo.toml
  src/coprocessor/statistics/cmsketch.rs
Labels: high priority

#2478 Add coprocessor streaming support.
  src/coprocessor/dag/dag.rs
  src/coprocessor/dag/executor/aggregate.rs
  src/coprocessor/dag/executor/aggregation.rs
  src/coprocessor/dag/executor/index_scan.rs
  src/coprocessor/dag/executor/limit.rs
  src/coprocessor/dag/executor/metrics.rs
  src/coprocessor/dag/executor/mod.rs
  src/coprocessor/dag/executor/scanner.rs
  src/coprocessor/dag/executor/selection.rs
  src/coprocessor/dag/executor/table_scan.rs
  src/coprocessor/dag/executor/topn.rs
  src/coprocessor/dag/executor/topn_heap.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/local_metrics.rs
  src/coprocessor/mod.rs
  src/server/config.rs
  src/server/mod.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/storage/engine/mod.rs
  src/storage/engine/rocksdb.rs
  src/storage/mvcc/reader.rs
  src/storage/txn/store.rs
  tests/config/mod.rs
  tests/config/test-custom.toml
  tests/coprocessor/test_select.rs
  tests/raftstore_cases/test_service.rs
Labels: coprocessor

#2502 Support region merge
  Cargo.lock
  src/pd/pd.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/store.rs
  src/raftstore/store/util.rs
  src/raftstore/store/worker/apply.rs
  tests/failpoints_cases/mod.rs
  tests/failpoints_cases/test_merge.rs
  tests/raftstore/cluster.rs
  tests/raftstore/pd.rs
  tests/raftstore/util.rs
  tests/raftstore_cases/mod.rs
  tests/raftstore_cases/test_merge.rs
Labels: high priority
