Repository tikv/tikv, pull requests merged in 2018-09, with the labels that each got.

#3535 docs: add TiKV Coprocessor config doc
  docs/tikv-coprocessor-config.md
Labels: S: LGT1

#3530 storage/txn: reduce clone in txn scheduler
  src/coprocessor/dag/executor/scanner.rs
  src/storage/gc_worker.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
Labels: S: LGT2

#3507 Allow configuring leader transfer max allowed log lag
  etc/config-template.toml
  src/raftstore/store/config.rs
  src/raftstore/store/peer.rs
  tests/config/mod.rs
  tests/config/test-custom.toml
Labels: C: Raft

#3554 coprocessor/dag/expr: add un-pushed builtin UDFs(md5)
  Cargo.lock
  Cargo.toml
  src/coprocessor/dag/expr/builtin_encryption.rs
  src/coprocessor/dag/expr/mod.rs
  src/coprocessor/dag/expr/scalar_function.rs
  src/lib.rs
Labels: C: Copr, S: LGT2

#3495 Move coprocessor test utilites to test_coprocessor library
  Cargo.lock
  Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_coprocessor/column.rs
  components/test_coprocessor/dag.rs
  components/test_coprocessor/fixture.rs
  components/test_coprocessor/lib.rs
  components/test_coprocessor/store.rs
  components/test_coprocessor/table.rs
  components/test_coprocessor/util.rs
  tests/coprocessor/test_analyze.rs
  tests/coprocessor/test_checksum.rs
  tests/coprocessor/test_select.rs
  tests/failpoints.rs
  tests/integrations.rs
Labels: S: LGT2

#3435 coprocessor/dag/expr: add some un-pushed builtin UDF(Reverse, ReverseBinary)
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor

#3556 coprocessor/dag/expr: add lastDay
  src/coprocessor/codec/mysql/time/mod.rs
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr

#3406 expr/builtin_fncall: implement math.Sin
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor

#3519 expr/builtin_fncall: implement Inet6Ntoa
  src/coprocessor/dag/expr/builtin_miscellaneous.rs
  src/coprocessor/dag/expr/scalar_function.rs
  src/lib.rs
Labels: C: Copr

#3461 coprocessor/dag/expr: add some un-pushed builtin UDF(CharLength)
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor

#3558 gc_worker: reduce key clone in gc
  src/storage/gc_worker.rs
Labels: S: LGT2

#3482 coprocessor/dag/expr: add un-pushed builtin UDFs(Asin and Acos)
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor

#3512 docs: add label config file
  docs/label-config.md
Labels: S: LGT2

#3500 docs: add PD Scheduler config file
  docs/pd-scheduler.md
  docs/tikv-storage-configuration.md
Labels: S: LGT2

#3496 Restrict opening engine number
  etc/tikv-importer.toml
  src/import/config.rs
  src/import/errors.rs
  src/import/kv_importer.rs
  tests/config/mod.rs
  tests/config/test-custom.toml
Labels: S: LGT2

#3478 expr/builtin_fncall: implement HexIntArg, HexStrArg
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2

#3394 coprocessor/dag/expr: add some un-pushed builtin UDFs(BitCount)
  src/coprocessor/dag/expr/builtin_cast.rs
  src/coprocessor/dag/expr/builtin_other.rs
  src/coprocessor/dag/expr/mod.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor

#3400 coprocessor/dag/expr: add some un-pushed builtin UDFs(LTrim, RTrim)
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor

#3561 raftstore: remove read delegate on conf change remove node
  components/test_raftstore/cluster.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/worker/read.rs
  tests/failpoints_cases/mod.rs
  tests/failpoints_cases/test_conf_change.rs
Labels: S: LGT2

#3543 expression: add builtin cot, degrees
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2

#3415 coprocessor/dag/expr: add some builtin UDFs(Rand, RandWithSeed)
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/mod.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor

#3395 coprocessor/dag/expr: add builtin function round_int
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor

#3576 *: Update the tikv repo link
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
  docker/release_dockerfile
  docker/rust_dockerfile
  docs/tools/tikv-control.md
Labels: C: Doc, S: LGT1, T: Enhancement

#3565 raftstore: always update read delegate's region
  src/raftstore/store/peer.rs
  src/raftstore/store/worker/read.rs
  tests/raftstore_cases/test_merge.rs
  tests/raftstore_cases/test_split_region.rs
Labels: S: LGT2

#3113 coprocessor/dag/expr: add some un-pushed builtin UDFs(Greatest*/Least*)
  src/coprocessor/codec/error.rs
  src/coprocessor/codec/mysql/time/mod.rs
  src/coprocessor/dag/expr/builtin_compare.rs
  src/coprocessor/dag/expr/ctx.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor

#3569 expr: add MONTH function
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor

#3582 util/threadpool: add thread pool scheduler
  src/util/threadpool.rs
Labels: S: LGT2

#3581 txn: split out process module
  src/storage/txn/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: S: DNM

#3379 dag/expr: implement log2 && log10
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor

#3551 scheduler: use async snapshot
  src/storage/metrics.rs
  src/storage/txn/scheduler.rs
Labels: S: LGT2

#3583 storage: reduce scheduler msgs
  src/storage/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: C: Perf, C: Storage

#3603 coprocessor/dag/expr: add un-pushed builtin UDFs(Log1Arg, Log2Args)
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor

#2873 fix from_hex bug
  src/bin/tikv-ctl.rs
Labels: S: LGT2

#3515 Move coprocessor to read pool
  Cargo.lock
  components/test_coprocessor/fixture.rs
  components/test_coprocessor/util.rs
  components/test_raftstore/server.rs
  src/bin/tikv-importer.rs
  src/bin/tikv-server.rs
  src/coprocessor/codec/table.rs
  src/coprocessor/dag/dag.rs
  src/coprocessor/dag/executor/table_scan.rs
  src/coprocessor/dag/expr/builtin_arithmetic.rs
  src/coprocessor/dag/expr/builtin_cast.rs
  src/coprocessor/dag/expr/builtin_compare.rs
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/builtin_other.rs
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/ctx.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/error.rs
  src/coprocessor/metrics.rs
  src/coprocessor/mod.rs
  src/coprocessor/tracker.rs
  src/coprocessor/util.rs
  src/server/config.rs
  src/server/errors.rs
  src/server/mod.rs
  src/server/readpool/config.rs
  src/server/readpool/mod.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/util/futurepool.rs
  src/util/time.rs
  tests/coprocessor/test_analyze.rs
  tests/coprocessor/test_checksum.rs
  tests/coprocessor/test_select.rs
Labels: S: LGT2

#3612 expression: add builtin sha1
  src/coprocessor/dag/expr/builtin_encryption.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, T: Contributor

#3615 refactor Month by using new handle_invalid_time_error.
  src/coprocessor/dag/expr/builtin_time.rs
Labels: C: Copr, S: LGT1, T: Contributor

#3620 add invalid propose metrics
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/local_metrics.rs
  src/raftstore/store/metrics.rs
Labels: S: LGT1, T: Contributor, T: Enhancement

#3622 expression: add year buildin function
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/ctx.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor

#3589 coprocessor/codec/mysql/time: Fix parse datetime from string
  src/coprocessor/codec/mysql/time/mod.rs
  src/coprocessor/dag/expr/builtin_cast.rs
  src/coprocessor/dag/expr/builtin_compare.rs
Labels: C: Copr, T: Contributor

#3633 expression: add builtin truncate_real
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor

#3636 Provide BufferWriter and BufferReader as alternatives to Read and Write trait
  Cargo.lock
  Cargo.toml
  Makefile
  components/codec/Cargo.toml
  components/codec/buffer.rs
  components/codec/error.rs
  components/codec/lib.rs
Labels: C: Perf, T: Enhancement

#3641 Roadmap: improve and update
  docs/ROADMAP.md
Labels: C: Doc

#3646 Change codegen-units to 1 && Copy release profile to bench
  Cargo.toml
Labels: S: LGT2, T: Enhancement
