Repository tikv/tikv, pull requests merged in 2018-08, with the labels that each got.

#3374 expression: add builtin crc32
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor

#3376 coprocessor/dag/expr: add some un-pushed builtin UDFs(Length, BitLength)
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/mod.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: Tests passed, T: Contributor

#3330 coprocessor/dag/expr: add some un-pushed builtin UDFs(Interval)
  src/coprocessor/dag/expr/builtin_compare.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor

#3397 coprocessor/dag/expr: add some un-pushed builtin UDF(Bin)
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: 1 APROVE, T: Contributor

#3317 coprocessor/split_check: support split region by the number of keys
  etc/config-template.toml
  src/raftstore/coprocessor/config.rs
  src/raftstore/coprocessor/dispatcher.rs
  src/raftstore/coprocessor/metrics.rs
  src/raftstore/coprocessor/mod.rs
  src/raftstore/coprocessor/split_check/half.rs
  src/raftstore/coprocessor/split_check/keys.rs
  src/raftstore/coprocessor/split_check/mod.rs
  src/raftstore/coprocessor/split_check/size.rs
  src/raftstore/coprocessor/split_check/table.rs
  src/raftstore/store/mod.rs
  src/raftstore/store/worker/mod.rs
  src/raftstore/store/worker/split_check.rs
  tests/config/mod.rs
  tests/config/test-custom.toml
Labels: S: Tests passed

#3343 mysql/decimal:fix bug caused by overflow
  fuzz/fuzz_targets/coprocessor/codec/mysql/decimal.rs
  src/coprocessor/codec/mysql/decimal.rs
Labels: C: Copr, T: 1 APROVE, T: Bug

#3382 expr/builtin_fncall: implement PI
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: 1 APROVE, T: Contributor

#3421 Output Unit "Byte" for tikv-ctl
  src/bin/tikv-ctl.rs
Labels: T: Enhancement

#3419 coprocessor/chunk: add comments and inline for chunk
  src/coprocessor/codec/chunk/chunk.rs
  src/coprocessor/codec/chunk/column.rs
Labels: C: Copr

#3433 coprocessor/dag/expr: add some un-pushed builtin UDF(Upper, Lower)
  src/coprocessor/codec/mysql/charset.rs
  src/coprocessor/codec/mysql/types.rs
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/mod.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor

#3436 coprocessor/dag/expr: add some un-pushed builtin UDF(ASCII)
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor

#3412 benches/coprocessor: add some benchmark cases
  benches/benches.rs
  benches/coprocessor/codec/mod.rs
  benches/coprocessor/dag/expr/mod.rs
  benches/coprocessor/dag/expr/scalar.rs
  benches/coprocessor/dag/mod.rs
  benches/coprocessor/mod.rs
Labels: C: Copr

#3336 mysql/decimal: fix bug in do_div_mod
  src/coprocessor/codec/mysql/decimal.rs
  src/coprocessor/dag/expr/builtin_arithmetic.rs
Labels: C: Copr, S: LGT1, S: TestsPassed, T: Bug, T: Contributor

#3354 coprocessor: add EvalConfigBuilder
  src/coprocessor/codec/convert.rs
  src/coprocessor/codec/datum.rs
  src/coprocessor/codec/mysql/json/json_cast.rs
  src/coprocessor/dag/dag.rs
  src/coprocessor/dag/executor/aggregate.rs
  src/coprocessor/dag/expr/builtin_arithmetic.rs
  src/coprocessor/dag/expr/builtin_cast.rs
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/ctx.rs
  src/coprocessor/dag/expr/mod.rs
Labels: C: Copr, T: Contributor

#3391 coprocessor/dag/expr: add some un-pushed builtin UDFs(LeftShift, RightShift)
  src/coprocessor/dag/expr/builtin_op.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT1, S: TestsPassed, T: Contributor

#3413 coprocessor/dag/expr: add some un-pushed builtin UDF(Left)
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor

#3437 bench/test: add tests for the official lib of arrow.
  Cargo.lock
  Cargo.toml
  benches/benches.rs
  benches/coprocessor/codec/chunk/arrow.rs
  benches/coprocessor/codec/chunk/mod.rs
  src/coprocessor/codec/chunk/column.rs
Labels: C: Copr

#3451 coprocessor: decode string with given charset in field type
  Cargo.lock
  Cargo.toml
  src/coprocessor/codec/mysql/json/path_expr.rs
  src/coprocessor/dag/expr/builtin_cast.rs
  src/coprocessor/dag/expr/builtin_like.rs
  src/coprocessor/dag/expr/mod.rs
Labels: C: Copr

#3476 coprocessor/dag/expr: add un-pushed builtin UDFs(Sqrt)
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor

#3469 expr/builtin_fncall: implement UnHex
  Cargo.lock
  Cargo.toml
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
  src/lib.rs
Labels: C: Copr, T: Contributor

#3475 coprocessor/dag/expr: add some un-pushed builtin UDF(Pow) #3411
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor

#3457 coprocessor/codec: add comments and inline
  src/coprocessor/codec/convert.rs
  src/coprocessor/codec/datum.rs
  src/coprocessor/codec/overflow.rs
  src/coprocessor/codec/table.rs
Labels: C: Copr

#3488 upgrade denendencies
  Cargo.lock
  Cargo.toml
Labels: S: LGT1

#3480 expr/builtin_fncall: implement Inet6Aton
  src/coprocessor/dag/expr/builtin_miscellaneous.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: S: LGT2

#3514 release v2.1.0-rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: S: TestsPassed

#3521 Change get_region and get_region_info to use a common implementation
  src/pd/client.rs
Labels: S: LGT2

#3522 fix wrong changelog format
  CHANGELOG.md
Labels: S: LGT2

#3531 Print help message when starting tikv-ctl without argument
  src/bin/tikv-ctl.rs
Labels: S: LGT1, S: LGT2

#3540 Update .dockerignore
  .dockerignore
Labels: S: LGT1

#3518 coprocessor/dag/expr: add un-pushed builtin UDFs(Sign)
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: S: LGT2

#3494 docs/*: add overview, op-guide, client
  docs/clients/go-client-api.md
  docs/op-guide/deploy-tikv-using-ansible.md
  docs/op-guide/deploy-tikv-using-binary.md
  docs/op-guide/deploy-tikv-using-docker-compose.md
  docs/op-guide/deploy-tikv-using-docker.md
  docs/overview.md
Labels: S: LGT1

#3506 raftstore: add a way to get approximate split keys
  src/raftstore/coprocessor/mod.rs
  src/raftstore/coprocessor/split_check/half.rs
  src/raftstore/coprocessor/split_check/mod.rs
  src/raftstore/coprocessor/split_check/size.rs
  src/raftstore/store/util.rs
  src/raftstore/store/worker/split_check.rs
Labels: S: LGT2

#3520 coprocessor/dag/expr: add un-pushed builtin UDFs(Atan1Arg, Atan2Args)
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: S: LGT2

#3544 tests: stabilize test_batch_snapshot
  tests/storage_cases/test_raftkv.rs
Labels: S: LGT2

#3479 added is_ipv6 to coprocessor expressions
  src/coprocessor/dag/expr/builtin_miscellaneous.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: S: LGT2

#3511 raftstore/coprocessor: use approximate way to split when meet large region
  src/raftstore/coprocessor/dispatcher.rs
  src/raftstore/coprocessor/mod.rs
  src/raftstore/coprocessor/split_check/half.rs
  src/raftstore/coprocessor/split_check/keys.rs
  src/raftstore/coprocessor/split_check/mod.rs
  src/raftstore/coprocessor/split_check/size.rs
  src/raftstore/coprocessor/split_check/table.rs
  src/raftstore/store/worker/split_check.rs
Labels: S: LGT2

#3533 config-template: add keepalive configurations
  etc/config-template.toml
Labels: S: LGT2

#3483 raftstore: fix false stale peer alert
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/peer.rs
  tests/failpoints_cases/mod.rs
  tests/failpoints_cases/test_stale_peer.rs
Labels: S: LGT2

#3502 docs: add TiKV Control User Guide
  docs/tikv-control.md
Labels: S: LGT2

#3545 store/util: human readable expired time
  src/raftstore/store/util.rs
Labels: S: LGT2
