Repository tikv/tikv, pull requests merged in 2018-07, with the labels that each got.

#3277 expr/builtin_fncall: implement MultiplyIntUnsigned
  src/coprocessor/dag/expr/builtin_arithmetic.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr

#3280 Makefile: add command make expression
  Makefile
Labels: C: Copr

#3285 Prepare 2.0.5
  src/coprocessor/codec/mysql/decimal.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/store.rs
  src/raftstore/store/worker/apply.rs
  tests/coprocessor/test_select.rs
  tests/failpoints_cases/test_stale_read.rs
  tests/raftstore/util.rs
  tests/raftstore_cases/test_lease_read.rs
  tests/storage_cases/test_raft_storage.rs
  tests/storage_cases/test_raftkv.rs
Labels: P: Critical

#3269 Custom Log Formatting
  src/bin/util/setup.rs
  src/lib.rs
  src/util/logger.rs
Labels: T: Bug

#3325 aggregation: handle non-integer input for bit related functions
  src/coprocessor/codec/datum.rs
  src/coprocessor/codec/mysql/mod.rs
  src/coprocessor/dag/executor/aggregate.rs
Labels: S: Tests passed

#3240 mysql/decimal: fix bug in from_bytes
  Cargo.lock
  Cargo.toml
  src/coprocessor/codec/mysql/decimal.rs
  src/lib.rs
Labels: C: Copr, S: Tests passed

#3289 raft: Enable prevote by default
  Cargo.lock
  etc/config-template.toml
  src/raftstore/store/config.rs
Labels: C: Test
