Repository tikv/tikv, pull requests merged in 2018-06, with the labels that each got.

#3204 tests: fix tracing test
  tests/util/mod.rs
Labels: C: Test

#3206 coprocessor: collect row count for each index prefix
  src/coprocessor/codec/table.rs
  src/coprocessor/statistics/analyze.rs
  tests/coprocessor/test_analyze.rs
Labels: C: Copr

#3191 logger: Bigger channel and blocks on overflow.
  src/bin/util/setup.rs
Labels: C: Perf, T: Enhancement

#3225 Use static metrics for storage/engine
  src/storage/engine/metrics.rs
  src/storage/engine/raftkv.rs
  src/storage/mod.rs
Labels: C: Perf, T: Enhancement

#3227 Use static metrics for storage/mvcc
  src/storage/mvcc/metrics.rs
  src/storage/mvcc/txn.rs
Labels: C: Perf, T: Enhancement

#3190 fuzz: fuzzing decimal
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/coprocessor/codec/mysql/decimal.rs
  src/coprocessor/codec/mysql/decimal.rs
Labels: C: Copr, C: Test

#3173 util/metrics: collect threads state
  src/util/metrics/threads_linux.rs
Labels: T: Enhancement

#3247 Improve CI performance
  .circleci/config.yml
Labels: C: Build, T: Enhancement
