Repository tikv/tikv, pull requests merged in 2019-11, with the labels that each got.

#5783 Remove bound from MvccReader
  benches/hierarchy/mvcc/mod.rs
  src/server/gc_worker.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
Labels: S: CanMerge

#5782 Readme: discontinue wiki page and direct users to tikv.org for docs
  README.md
Labels: C: Doc, S: CanMerge

#5755 tidb_query: support metadata in RPN functions
  components/tidb_query/src/rpn_expr/impl_cast.rs
  components/tidb_query/src/rpn_expr/types/expr.rs
  components/tidb_query/src/rpn_expr/types/expr_builder.rs
  components/tidb_query/src/rpn_expr/types/expr_eval.rs
  components/tidb_query/src/rpn_expr/types/function.rs
  components/tidb_query_codegen/src/rpn_function.rs
Labels: C: Copr, S: CanMerge

#5772 sst_importer: change download() to use closed range
  components/keys/src/rewrite.rs
  components/sst_importer/src/sst_importer.rs
  tests/integrations/import/sst_service.rs
Labels: C: Backup-Restore, S: CanMerge, S: LGT2, T: BugFix, T: NeedCherryPick-3.1

#5788 Bump v2.1.18
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: P: Release-blocker

#5781 backup: stop test cluster before finishing tests
  components/backup/tests/integrations/test_backup.rs
Labels: C: Backup-Restore, C: Test/Bench, S: CanMerge, T: NeedCherryPick-3.1

#5684 fix client-c url
  README.md
Labels: S: CanMerge, T: Contributor ⭐️

#5803 backup: stop test cluster before finishing tests (#5781)
  components/backup/tests/integrations/test_backup.rs
Labels: C: Backup-Restore, C: Test/Bench, S: CanMerge

#5680 pessimistic-txn: support lock wait timeout
  Cargo.lock
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/service/kv.rs
  src/storage/lock_manager/mod.rs
  src/storage/mod.rs
  src/storage/mvcc/lock.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/txn_entry.rs
  src/storage/mvcc/reader/util.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: C: Txn, S: CanMerge

#5762 txn: Refine code related to large transaction
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
Labels: C: Txn, S: CanMerge

#5801 raftstore: Add a panic log for get merge entries
  src/raftstore/store/fsm/peer.rs
Labels: C: Raft, S: CanMerge

#5811 txn: check_txn_status Support setting write rollback or not when txn not exist
  Cargo.lock
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
Labels: C: Txn, S: CanMerge

#5793 tidb_query: fix inappropriate err msg of `ConvertTo<f64> for &[u8]`
  components/tidb_query/src/codec/convert.rs
  components/tidb_query/src/codec/mysql/duration.rs
  components/tidb_query/src/rpn_expr/impl_cast.rs
Labels: C: Copr, S: CanMerge

#5761 tidb_query: fix inconsistent error message between Coprocessor and TiDB
  components/tidb_query/src/codec/error.rs
  components/tidb_query/src/codec/mysql/decimal.rs
  components/tidb_query/src/expr/builtin_cast.rs
  components/tidb_query/src/rpn_expr/impl_cast.rs
Labels: C: Copr, T: BugFix

#5821 Update GRPC to fix GCC 9.2.1
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  components/backup/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/tikv_util/Cargo.toml
Labels: C: Build, S: BotClose, S: CanMerge

#5768 tidb_query: verify range for Table/Index scan executor
  components/tidb_query/src/batch/executors/index_scan_executor.rs
  components/tidb_query/src/batch/executors/table_scan_executor.rs
  components/tidb_query/src/codec/table.rs
  components/tidb_query/src/executor/index_scan.rs
  components/tidb_query/src/executor/mod.rs
  components/tidb_query/src/executor/table_scan.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5823 storage: remove Deref impls
  src/coprocessor/tracker.rs
  src/storage/kv/perf_context.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mvcc/reader/scanner/mod.rs
Labels: C: Storage, C: Txn, S: CanMerge

#5826 Copr: Vectorize `LogicalXor`
  components/tidb_query/src/rpn_expr/impl_op.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5790 Move SST code to engine traits
  Cargo.lock
  components/backup/Cargo.toml
  components/backup/src/errors.rs
  components/backup/src/writer.rs
  components/engine/src/rocks/mod.rs
  components/engine/src/rocks/sst.rs
  components/engine/src/rocks/util/mod.rs
  components/engine_rocks/src/cf_handle.rs
  components/engine_rocks/src/cf_options.rs
  components/engine_rocks/src/db_options.rs
  components/engine_rocks/src/engine_iterator.rs
  components/engine_rocks/src/import.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/sst.rs
  components/engine_rocks/src/util.rs
  components/engine_traits/src/cf_handle.rs
  components/engine_traits/src/cf_options.rs
  components/engine_traits/src/db_options.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/sst.rs
  components/sst_importer/src/import_mode.rs
  components/sst_importer/src/sst_importer.rs
  components/test_sst_importer/src/lib.rs
  src/import/sst_service.rs
  src/raftstore/errors.rs
  src/raftstore/store/region_snapshot.rs
  src/raftstore/store/snap.rs
  src/raftstore/store/snap/io.rs
  src/server/debug.rs
Labels: S: CanMerge

#5827 storage: remove storage.scheduler-notify-capacity
  docs/reference/configuration/storage-config.md
  etc/config-template.toml
  src/storage/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: C: Storage, S: CanMerge

#5677 txn: protect primary locks of pessimistic transactions from being collapsed
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/mvcc/write.rs
Labels: C: Txn, S: CanMerge, T: BugFix, T: CherryPick

#5735 gc_worker: limit the write flow of GC(#5263)
  components/test_raftstore/src/server.rs
  components/test_storage/src/sync_storage.rs
  etc/config-template.toml
  src/binutil/server.rs
  src/config.rs
  src/server/node.rs
  src/storage/config.rs
  src/storage/gc_worker.rs
  src/storage/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/config/test-default.toml
  tests/integrations/storage/test_storage.rs
Labels: C: Storage, S: CanMerge, T: CherryPick

#5736 gc_worker: limit the write flow of GC(#5263)
  cmd/src/server.rs
  components/test_raftstore/src/server.rs
  components/test_storage/src/sync_storage.rs
  etc/config-template.toml
  src/config.rs
  src/server/node.rs
  src/storage/config.rs
  src/storage/gc_worker.rs
  src/storage/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/config/test-default.toml
  tests/integrations/storage/test_storage.rs
Labels: C: Storage, S: CanMerge, T: CherryPick

#5779 *: rename Arrow to chunk
  Cargo.lock
  benches/misc/coprocessor/codec/chunk/chunk.rs
  benches/misc/coprocessor/codec/chunk/mod.rs
  components/tidb_query/src/batch/runner.rs
  components/tidb_query/src/codec/batch/lazy_column.rs
  components/tidb_query/src/codec/batch/lazy_column_vec.rs
  components/tidb_query/src/codec/chunk/chunk.rs
  components/tidb_query/src/codec/data_type/vector.rs
Labels: C: Copr, S: CanMerge

#5842 tidb_query: fix parse number to JSON
  components/tidb_query/src/codec/mysql/json/binary.rs
  components/tidb_query/src/codec/mysql/json/json_type.rs
  components/tidb_query/src/codec/mysql/json/serde.rs
  components/tidb_query/src/expr/builtin_json.rs
  components/tidb_query/src/rpn_expr/impl_json.rs
Labels: S: CanMerge

#5834 *: move lock manager to server (#5381)
  benches/deadlock_detector/mod.rs
  components/test_raftstore/src/server.rs
  components/test_storage/src/sync_storage.rs
  src/binutil/server.rs
  src/config.rs
  src/server/lock_manager/client.rs
  src/server/lock_manager/config.rs
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/metrics.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/mod.rs
  src/server/node.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/storage/gc_worker.rs
  src/storage/lock_manager/mod.rs
  src/storage/lock_manager/util.rs
  src/storage/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: S: CanMerge, T: CherryPick

#5818 *: support grpc memory quota
  Cargo.lock
  docs/reference/configuration/grpc-config.md
  etc/config-template.toml
  src/server/config.rs
  src/server/server.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: C: gRPC, S: CanMerge, S: LGT1

#5830 add Titan config for raftdb
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: C: Titan, S: CanMerge

#5824 Support batch split region command and empty batch command (#5470)
  src/server/service/kv.rs
  tests/integrations/raftstore/test_service.rs
Labels: C: Storage, S: CanMerge, T: CherryPick

#5822 storage: simple refactoring
  components/engine_rocks/src/import.rs
  src/storage/commands.rs
  src/storage/errors.rs
  src/storage/kv/cursor.rs
  src/storage/kv/cursor_builder.rs
  src/storage/kv/mod.rs
  src/storage/kv/stats.rs
  src/storage/lock_manager/mod.rs
  src/storage/lock_manager/util.rs
  src/storage/mod.rs
  src/storage/mvcc/lock.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/mvcc/reader/scanner/txn_entry.rs
  src/storage/mvcc/reader/util.rs
  src/storage/types.rs
Labels: C: Storage, C: Txn, S: CanMerge

#5740 txn: fix wrong txn_size in acquire_pessimistic_lock (#5681)
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
Labels: C: Txn, S: CanMerge, T: CherryPick

#5721 Cherry-pick check titandb directory when titan is disabled
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  components/tikv_util/src/config.rs
  src/config.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/storage/mod.rs
  tests/integrations/storage/test_turnoff_titan.rs
Labels: C: Titan, S: CanMerge, T: CherryPick

#5845 lock_manager: make has_waiter accurate (#5518)
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
Labels: S: CanMerge, T: CherryPick

#5806 sst_importer: make the download speed limit global
  Cargo.lock
  components/sst_importer/src/sst_importer.rs
  src/import/sst_service.rs
Labels: C: Backup-Restore, S: CanMerge, S: LGT2, T: Enhancement, T: NeedCherryPick-3.1

#5773 Rollup of Docker commits
  .dockerignore
  Dockerfile
  Makefile
  scripts/gen-dockerfile.sh
Labels: S: CanMerge

#5855 Report better error message when PbCode is unspecified
  Cargo.lock
  components/tidb_query/src/expr/scalar_function.rs
Labels: C: Copr, S: CanMerge

#5848 pessimistic-txn: support lock wait timeout (#5680)
  Cargo.lock
  components/test_storage/src/assert_storage.rs
  src/coprocessor/dag/batch/executors/table_scan_executor.rs
  src/coprocessor/error.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/service/kv.rs
  src/storage/lock_manager/mod.rs
  src/storage/lock_manager/util.rs
  src/storage/mod.rs
  src/storage/mvcc/lock.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/mvcc/reader/util.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
Labels: T: CherryPick

#5839 copr: vectorize Sign Sqrt
  components/tidb_query/src/rpn_expr/impl_math.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, T: Contributor ⭐️

#5858 raftstore: make `on_apply_write_cmd` failpoint injectable
  src/raftstore/store/fsm/apply.rs
Labels: C: Raft, S: CanMerge, T: NeedCherryPick-3.1

#5820 Optimize binary size
  Dockerfile
  Makefile
  scripts/gen-dockerfile.sh
Labels: C: Build, S: CanMerge

#5812 copr: Vectorize PI
  components/tidb_query/src/rpn_expr/impl_math.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5864 copr: Add vectorized BitNegSig
  components/tidb_query/src/rpn_expr/impl_op.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5868 raftstore: set is_merging flag after restart
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/peer.rs
  tests/failpoints/cases/test_merge.rs
Labels: C: Raft, S: CanMerge, T: BugFix, T: NeedCherryPick-2.1, T: NeedCherryPick-3.1

#5837 copr: fix json_extract with PathLeg::Index
  components/tidb_query/src/codec/mysql/json/json_extract.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5829 copr: vectorize Log1Arg Log2Args Log2 Log10
  components/tidb_query/src/rpn_expr/impl_math.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, T: Contributor ⭐️

#5798 txn: Support bypass specified locks for reads
  benches/misc/storage/incremental_get.rs
  components/backup/src/endpoint.rs
  components/backup/tests/integrations/test_backup.rs
  components/test_coprocessor/src/store.rs
  src/coprocessor/checksum.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/mod.rs
  src/coprocessor/statistics/analyze.rs
  src/storage/mod.rs
  src/storage/mvcc/lock.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/mvcc/reader/scanner/txn_entry.rs
  src/storage/txn/store.rs
  tests/integrations/coprocessor/test_checksum.rs
Labels: C: Txn, S: CanMerge

#5843 copr/mysql/json: support json_length
  components/tidb_query/src/codec/mysql/json/json_length.rs
  components/tidb_query/src/codec/mysql/json/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5856 copr: Add vectorized BitAndSig
  components/tidb_query/src/rpn_expr/impl_op.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5874 Remove discourse
  CONTRIBUTING.md
Labels: C: Doc, P: Low, S: CanMerge

#5725 Coprocessor: v2 row format for decode
  components/tidb_query/src/codec/mod.rs
  components/tidb_query/src/codec/row.rs
  components/tidb_query/src/codec/row/v2.rs
  components/tidb_query/src/codec/row/v2/encoder.rs
  components/tidb_query/src/codec/row/v2/row_slice.rs
Labels: C: Copr, C: Copr SIG, S: CanMerge, T: Contributor ⭐️

#5859 Copr: Vectorize `Length`
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, T: Contributor ⭐️

#5741 txn: fix wrong txn_size in acquire_pessimistic_lock (#5681)
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
Labels: C: Txn, S: CanMerge, T: CherryPick

#5865 [release-3.1] Cherry pick lock manager releated improvements
  benches/deadlock_detector/mod.rs
  cmd/src/server.rs
  components/test_raftstore/src/server.rs
  components/test_storage/src/sync_storage.rs
  src/config.rs
  src/server/lock_manager/client.rs
  src/server/lock_manager/config.rs
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/metrics.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/mod.rs
  src/server/node.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/storage/gc_worker.rs
  src/storage/lock_manager/mod.rs
  src/storage/lock_manager/util.rs
  src/storage/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: P: Release-blocker, S: CanMerge, T: CherryPick

#5861 copr: Add vectorized BitOrSig
  components/tidb_query/src/rpn_expr/impl_op.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5877 [3.1] sst_importer: make the download speed limit global (#5806)
  Cargo.lock
  src/import/sst_importer.rs
  src/import/sst_service.rs
Labels: C: Backup-Restore, S: LGT2, T: CherryPick

#5888 benches/coprocessor_executors: update libpapi_sys to build with -fPIC
  Cargo.lock
Labels: S: CanMerge

#5674 cherry-pick titan missing blob file fix and a few other rocksdb changes
  Cargo.lock
Labels: C: RocksDB, C: Titan, S: CanMerge, T: CherryPick

#5549 *: support grpc memory quota
  Cargo.lock
  docs/op-guide/grpc-config.md
  etc/config-template.toml
  src/server/config.rs
  src/server/server.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: C: gRPC, P: Release-blocker, S: CanMerge, T: CherryPick

#5886 copr: Add vectorized left_shift
  components/tidb_query/src/rpn_expr/impl_op.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5887 raftstore: more condition checks before proposing raft cmd
  components/test_raftstore/src/transport_simulate.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/local_metrics.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/worker/region.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: C: Raft, S: CanMerge, T: BugFix, T: NeedCherryPick-3.1

#5909 Temporarily disable force_consistency_checks
  src/config.rs
Labels: S: CanMerge

#5894 copr: Vectorize exp.
  components/tidb_query/src/rpn_expr/impl_math.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5873 Copr: vectorize sin, cos, tan, cot
  components/tidb_query/src/rpn_expr/impl_math.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5697 Generate flamegraph at runtime
  Cargo.lock
  Cargo.toml
  src/server/status_server.rs
Labels: S: CanMerge

#5881 [release-3.0] cherry pick: add commit log duration metrics
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/local_metrics.rs
  src/raftstore/store/metrics.rs
  src/raftstore/store/peer.rs
Labels: P: Release-blocker, T: CherryPick

#5872 copr: Vectorize bin.
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT1, T: Contributor ⭐️

#5866 copr: improve like algorithm performance
  components/tidb_query/src/expr/builtin_like.rs
  components/tidb_query/src/expr_util/like.rs
  components/tidb_query/src/rpn_expr/impl_like.rs
Labels: C: Copr, C: Perf, S: CanMerge, S: LGT1, T: Contributor ⭐️

#5878 txn: add rollback reason for check_txn_status
  Cargo.lock
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
  src/storage/types.rs
Labels: C: Txn, S: CanMerge

#5933 Build: fix build on Mac OS by cfg'ing away pprof
  Cargo.lock
  Cargo.toml
  src/server/status_server.rs
Labels: C: Build, S: CanMerge

#5897 copr: vectorize BitLength
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#5910 raftstore: more condition checks before proposing raft cmd (#5887)
  components/test_raftstore/src/transport_simulate.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/local_metrics.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/worker/region.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: C: Raft, T: BugFix, T: CherryPick

#5895 Copr: vectorize asin, acos, atan and atan2
  components/tidb_query/src/rpn_expr/impl_math.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT1, T: Contributor ⭐️

#5863 copr: Add vectorized BitXorSig
  components/tidb_query/src/rpn_expr/impl_op.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT1, T: Contributor ⭐️

#5934 Makefile: a new rule for CI test
  Makefile
Labels: S: CanMerge, T: NeedCherryPick-3.0, T: NeedCherryPick-3.1

#5720 Cherry-pick check titandb directory when titan is disabled
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  components/tikv_util/src/config.rs
  src/config.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/storage/mod.rs
  tests/integrations/storage/test_turnoff_titan.rs
Labels: C: Titan, S: CanMerge, T: CherryPick

#5925 support rpn_fn metadata in RpnFnScalarEvaluator
  components/tidb_query/src/rpn_expr/types/expr_builder.rs
  components/tidb_query/src/rpn_expr/types/test_util.rs
Labels: C: Copr, S: CanMerge, T: BugFix

#5918 copr: vectorize radians
  components/tidb_query/src/rpn_expr/impl_math.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#5937 txn: return the action check_txn_status does
  Cargo.lock
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
  src/storage/types.rs
Labels: C: Txn, S: CanMerge

#5919 raftstore: delay replica read when applying snapshot
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/worker/region.rs
  src/server/snap.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: C: Raft, S: CanMerge, T: BugFix, T: NeedCherryPick-3.1

#5913 copr: vectorize degrees
  components/tidb_query/src/rpn_expr/impl_math.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#5903 copr: vectorize ascii
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT1, T: Contributor ⭐️

#5769 gc: config gc io limit dynamically
  cmd/src/bin/tikv-ctl.rs
  cmd/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/debug.rs
  src/server/gc_worker.rs
  src/server/service/debug.rs
Labels: C: Server, C: TiKV-Ctl, P: Release-blocker, S: CanMerge, T: Enhancement, T: NeedCherryPick-3.0, T: NeedCherryPick-3.1

#5923 Cargo: unify protobuf dependency
  Cargo.lock
Labels: C: Build, S: CanMerge

#5899 copr: Vectorize `concat`.
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#5942 [Cherry pick 3.1]raftstore: delay replica read when applying snapshot
  src/raftstore/store/peer.rs
  src/raftstore/store/worker/region.rs
  src/server/snap.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: T: CherryPick

#5949 copr: set Expr.tp in RpnFnScalarEvaluator
  components/tidb_query/src/rpn_expr/types/expr.rs
  components/tidb_query/src/rpn_expr/types/test_util.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5936 TiKV supports unordered write
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: C: RocksDB, S: CanMerge

#5777 Dist artifacts
  .dockerignore
  .gitignore
  CHANGELOG.md
  Dockerfile
  Makefile
  scripts/gen-dockerfile.sh
Labels: C: Build, S: CanMerge

#5950 copr: vectorize HexIntArg
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5929 readme: update an outdated doc link
  README.md
Labels: C: Doc, S: CanMerge

#5951 copr: bit shift use wrapping shift instead checked shift
  components/tidb_query/src/expr/builtin_op.rs
  components/tidb_query/src/rpn_expr/impl_op.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5935 txn: refactor commands and lock_manager
  Cargo.lock
  Cargo.toml
  components/keys/Cargo.toml
  components/keys/src/types.rs
  components/test_storage/src/sync_storage.rs
  src/server/gc_worker.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/storage/commands.rs
  src/storage/lock_manager.rs
  src/storage/lock_manager/mod.rs
  src/storage/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: C: Txn, S: CanMerge

#5938 [release-3.0] cherry pick: Makefile: a new rule for CI test
  Makefile
Labels: S: CanMerge

#5962 Fix panic when profiling is enabled
  benches/coprocessor_executors/util/bencher.rs
  components/profiler/examples/prime.rs
  components/tidb_query/src/rpn_expr/types/expr_eval.rs
Labels: S: CanMerge

#5958 copr: Add vectorized right shift
  components/tidb_query/src/rpn_expr/impl_op.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5954 copr: vectorize LTrim
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT1, T: Contributor ⭐️

#5959 lock_manager: reduce clean up requests
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/mod.rs
  src/server/resolve.rs
Labels: C: Txn, P: Release-blocker, T: NeedCherryPick-3.0, T: NeedCherryPick-3.1

#5968 engine: update rocksdb and titan
  Cargo.lock
Labels: P: Release-blocker

#5957 gc: config gc io limit dynamically (#5769)
  src/bin/tikv-ctl.rs
  src/server/debug.rs
  src/server/server.rs
  src/server/service/debug.rs
  src/storage/gc_worker.rs
  src/storage/mod.rs
Labels: C: TiKV-Ctl, P: Release-blocker, S: CanMerge, T: CherryPick

#5892 raftstore: set is_merging flag after restart
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/peer.rs
  tests/failpoints/cases/test_merge.rs
Labels: C: Raft, S: CanMerge, T: CherryPick

#5961 [release-3.0] cherry pick: Generate flamegraph at runtime
  Cargo.lock
  Cargo.toml
  src/server/status_server.rs
Labels: S: CanMerge, T: CherryPick

#5965 lock_manager: reduce clean up requests (#5959)
  src/pd/client.rs
  src/pd/mod.rs
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/mod.rs
  src/server/resolve.rs
Labels: P: Release-blocker, S: CanMerge, T: CherryPick

#5946 copr: Vectorize `reverse`.
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5953 copr: vectorize RTrim
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5819 Avoid Write Allocation for PointGetter and ForwardScanner
  Cargo.lock
  Cargo.toml
  components/codec/src/buffer.rs
  components/codec/src/byte.rs
  components/codec/src/error.rs
  components/codec/src/lib.rs
  components/codec/src/number.rs
  components/tidb_query/src/codec/error.rs
  src/raftstore/coprocessor/properties.rs
  src/raftstore/coprocessor/split_check/keys.rs
  src/raftstore/store/region_snapshot.rs
  src/raftstore/store/worker/compact.rs
  src/server/debug.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/mvcc/reader/scanner/txn_entry.rs
  src/storage/mvcc/txn.rs
  src/storage/mvcc/write.rs
  src/storage/txn/store.rs
  tests/integrations/raftstore/test_compact_after_delete.rs
Labels: S: CanMerge

#5922 copr: vectorize HexStrArg
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#5904 Copr: Vectorize LocateBinary2Args
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT1, T: Contributor ⭐️

#5993 copr: metadata_ctor should return Result
  components/tidb_query/src/rpn_expr/types/expr_builder.rs
  components/tidb_query/src/rpn_expr/types/expr_eval.rs
  components/tidb_query/src/rpn_expr/types/function.rs
  components/tidb_query/src/rpn_expr/types/test_util.rs
  components/tidb_query_codegen/src/rpn_function.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5920 copr: vectorize weekday
  components/tidb_query/src/rpn_expr/impl_time.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5979 PCP: reduce size of tikv::storage::errors::Error
  components/backup/src/errors.rs
  components/backup/src/lib.rs
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/lib.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/error.rs
  src/lib.rs
  src/server/gc_worker.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/raftkv.rs
  src/server/service/kv.rs
  src/storage/errors.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mod.rs
  src/storage/mvcc/lock.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/mvcc/write.rs
  src/storage/txn/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
  tests/failpoints/cases/test_gc_worker.rs
  tests/failpoints/cases/test_storage.rs
  tests/failpoints/mod.rs
  tests/integrations/mod.rs
  tests/integrations/storage/test_raft_storage.rs
Labels: T: Contributor ⭐️

#5975 copr: Add vectorized crc32
  components/tidb_query/src/rpn_expr/impl_math.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, T: Contributor ⭐️

#5966 txn: Return commit_ts in commit response
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/sync_storage.rs
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/txn/process.rs
  tests/integrations/raftstore/test_service.rs
  tests/integrations/storage/test_storage.rs
Labels: C: Txn, S: CanMerge

#5982 *: replace crc by crc32fast and crc64fast
  Cargo.lock
  Cargo.toml
  components/backup/Cargo.toml
  components/backup/src/writer.rs
  components/backup/tests/integrations/test_backup.rs
  components/engine/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/sst_importer/Cargo.toml
  components/sst_importer/src/sst_importer.rs
  components/test_sst_importer/Cargo.toml
  components/test_sst_importer/src/lib.rs
  components/tidb_query/Cargo.toml
  components/tidb_query/src/expr/builtin_math.rs
  components/tidb_query/src/rpn_expr/impl_math.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/file.rs
  src/coprocessor/checksum.rs
  src/raftstore/store/snap.rs
  src/raftstore/store/worker/consistency_check.rs
  tests/integrations/coprocessor/test_checksum.rs
Labels: C: Perf, S: CanMerge, T: NeedCherryPick-3.1

#5835 Encapsulate IOLimiter, remove rocksdb dependency from sst_importer
  Cargo.lock
  cmd/src/server.rs
  components/backup/src/endpoint.rs
  components/backup/src/writer.rs
  components/engine/src/rocks/util/io_limiter.rs
  components/engine/src/rocks/util/mod.rs
  components/engine_rocks/src/io_limiter.rs
  components/engine_rocks/src/lib.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/io_limiter.rs
  components/engine_traits/src/lib.rs
  components/sst_importer/Cargo.toml
  components/sst_importer/src/sst_importer.rs
  src/import/sst_service.rs
  src/raftstore/store/region_snapshot.rs
  src/raftstore/store/snap.rs
  src/raftstore/store/snap/io.rs
  src/server/config.rs
  src/server/debug.rs
  src/server/gc_worker.rs
Labels: S: LGT1

#5901 More engine abstraction, work toward Peekable and Iterable for Snapshot
  Cargo.lock
  components/engine/Cargo.toml
  components/engine/src/iterable.rs
  components/engine/src/rocks/db.rs
  components/engine/src/rocks/snapshot.rs
  components/engine/src/util.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/compat.rs
  components/engine_rocks/src/db_vector.rs
  components/engine_rocks/src/engine.rs
  components/engine_rocks/src/engine_iterator.rs
  components/engine_rocks/src/import.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/options.rs
  components/engine_rocks/src/snapshot.rs
  components/engine_rocks/src/sst.rs
  components/engine_traits/src/db_vector.rs
  components/engine_traits/src/iterable.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/options.rs
  components/engine_traits/src/peekable.rs
  components/engine_traits/src/snapshot.rs
  components/sst_importer/src/sst_importer.rs
  components/test_sst_importer/src/lib.rs
  src/into_other.rs
  src/lib.rs
  src/raftstore/store/region_snapshot.rs
  src/server/debug.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
Labels: S: LGT1

#6002 Cherry pick #5429
  Cargo.toml
  src/coprocessor/codec/data_type/vector.rs
  src/coprocessor/dag/aggr_fn/impl_avg.rs
  src/coprocessor/dag/aggr_fn/impl_first.rs
  src/coprocessor/dag/aggr_fn/impl_max_min.rs
  src/coprocessor/dag/aggr_fn/impl_sum.rs
  src/server/status_server.rs
Labels: P: Release-blocker, S: CanMerge, T: CherryPick

#5927 copr: vectorize is_ipv4_compat
  components/tidb_query/src/rpn_expr/impl_miscellaneous.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5969 copr: Add vectorized left
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT1, T: Contributor ⭐️

#5977 copr: vectorize LocateBinary3Args
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#5928 copr: Add Non-Vectorize Built-in Function `FromDays`
  components/tidb_query/src/codec/mysql/time/mod.rs
  components/tidb_query/src/expr/builtin_time.rs
  components/tidb_query/src/expr/scalar_function.rs
Labels: C: Copr, S: CanMerge, T: Contributor ⭐️

#5999 fix: Misbehavior of non-vectorized version of `concat_ws`.
  components/tidb_query/src/expr/builtin_string.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#6032 fix(copr): Handle trailing NULL correctly for `concat_ws`.
  components/tidb_query/src/expr/builtin_string.rs
Labels: C: Copr, S: CanMerge, S: LGT1, T: BugFix, T: Contributor ⭐️

#6001 [3.1] *: replace crc by crc32fast and crc64fast (#5982)
  Cargo.lock
  Cargo.toml
  components/backup/Cargo.toml
  components/backup/src/writer.rs
  components/backup/tests/integrations/test_backup.rs
  components/engine/Cargo.toml
  components/tikv_util/Cargo.toml
  components/tikv_util/src/file.rs
  src/coprocessor/checksum.rs
  src/coprocessor/dag/expr/builtin_math.rs
  src/import/engine.rs
  src/import/sst_importer.rs
  src/import/test_helpers.rs
  src/raftstore/store/snap.rs
  src/raftstore/store/worker/consistency_check.rs
  tests/integrations/coprocessor/test_checksum.rs
  tests/integrations/import/sst_service.rs
Labels: C: Perf, T: CherryPick

#6034 fix rpn_fn codegen unit test
  components/tidb_query_codegen/src/rpn_function.rs
Labels: C: Test/Bench, S: CanMerge, T: BugFix

#5930 corp: Add vectorized pow
  components/tidb_query/src/rpn_expr/impl_math.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#6012 copr: vectorize `conv`.
  components/tidb_query/src/expr/builtin_math.rs
  components/tidb_query/src/expr_util/conv.rs
  components/tidb_query/src/expr_util/mod.rs
  components/tidb_query/src/rpn_expr/impl_math.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#5978 copr: Vecotorize `concat_ws`
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#6014 copr: Add vectorize right
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#6030 copr: vectorize `FromDays`
  components/tidb_query/src/rpn_expr/impl_time.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5998 copr: vectorize Strcmp
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#5967 improve: json modify error
  components/tidb_query/src/codec/mysql/json/json_modify.rs
Labels: S: CanMerge, T: Contributor ⭐️

#5900 copr: Vectorize InetNtoa
  components/tidb_query/src/rpn_expr/impl_miscellaneous.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT1, T: Contributor ⭐️

#6037 copr: Rewrite non-vectorized inet_ntoa
  components/tidb_query/src/expr/builtin_miscellaneous.rs
Labels: C: Copr, S: CanMerge, S: LGT1, T: Contributor ⭐️

#6036 gc: config gc io limit dynamically (#5769) (#5957)
  cmd/src/bin/tikv-ctl.rs
  cmd/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/debug.rs
  src/server/service/debug.rs
  src/storage/gc_worker.rs
  src/storage/mod.rs
Labels: S: CanMerge, T: CherryPick

#6006 Migrate engine::rocks::Snapshot to engine_rocks
  benches/misc/raftkv/mod.rs
  benches/misc/storage/incremental_get.rs
  components/engine/src/lib.rs
  components/engine/src/rocks/mod.rs
  components/engine/src/rocks/snapshot.rs
  components/engine_rocks/src/compat.rs
  components/engine_rocks/src/snapshot.rs
  components/engine_traits/src/snapshot.rs
  src/into_other.rs
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/region_snapshot.rs
  src/raftstore/store/snap.rs
  src/raftstore/store/snap/io.rs
  src/raftstore/store/worker/consistency_check.rs
  src/raftstore/store/worker/region.rs
  src/server/raftkv.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mvcc/reader/point_getter.rs
Labels: S: CanMerge

#5987 debug: Print sst files in region properties
  src/server/debug.rs
Labels: C: TiKV-Ctl, S: CanMerge

#6021 copr: vectorize Inet6Ntoa
  components/tidb_query/src/rpn_expr/impl_miscellaneous.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#6010 Cleanup RegionIterator to use RocksDB features directly
  components/engine_traits/src/iterable.rs
  src/raftstore/store/region_snapshot.rs
  src/storage/kv/cursor.rs
  src/storage/mvcc/mod.rs
Labels: C: Perf, C: Raft, S: LGT2

#5980 Implement the Diagnostics gRPC service
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  cmd/src/lib.rs
  cmd/src/server.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/server.rs
  components/tidb_query/Cargo.toml
  src/server/service/debug.rs
  src/server/service/diagnostics.rs
  src/server/service/mod.rs
Labels: C: Server, S: CanMerge

#6013 copr: Add vectorize is_ipv4/6
  components/tidb_query/src/rpn_expr/impl_miscellaneous.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#6027 copr: vectorize reverse_binary
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: S: CanMerge, T: Contributor ⭐️

#6042 *: use simd sha256
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  components/backup/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/tikv_util/Cargo.toml
  components/tikv_util/src/file.rs
Labels: C: Backup-Restore, C: Perf

#6041 Make build_dist_release support Mac
  Makefile
Labels: C: Build, S: CanMerge

#6029 copr: Add vectorized month
  components/tidb_query/src/rpn_expr/impl_time.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#6011 copr: Vectorize `unaryminus`
  components/tidb_query/src/rpn_expr/impl_op.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, T: Contributor ⭐️

#6031 copr: Add non-vectorized Quote
  components/tidb_query/src/expr/builtin_string.rs
  components/tidb_query/src/expr/scalar_function.rs
Labels: C: Copr, S: CanMerge, S: LGT2, T: Contributor ⭐️

#6020 copr: vectorize Inet6Aton
  components/tidb_query/src/rpn_expr/impl_miscellaneous.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, T: Contributor ⭐️

#5880 pessimistic-txn: support lock wait timeout (#5680) (#5848)
  Cargo.lock
  components/backup/src/errors.rs
  components/test_storage/src/assert_storage.rs
  src/coprocessor/dag/batch/executors/table_scan_executor.rs
  src/coprocessor/error.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/service/kv.rs
  src/storage/lock_manager/mod.rs
  src/storage/lock_manager/util.rs
  src/storage/mod.rs
  src/storage/mvcc/lock.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/mvcc/reader/scanner/txn_entry.rs
  src/storage/mvcc/reader/util.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
Labels: P: Release-blocker, S: CanMerge, T: CherryPick

#6046 Fix Fuzzing using AFL and Honggfuzz
  fuzz/README.md
  fuzz/cli.rs
  fuzz/fuzzer-honggfuzz/Cargo.toml
Labels: S: CanMerge

#5871 raftstore: set is_merging flag after restart
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/peer.rs
  tests/failpoints/cases/test_merge.rs
Labels: P: Release-blocker, S: CanMerge, T: CherryPick
