Repository tikv/tikv, pull requests merged in 2019-04, with the labels that each got.

#4449 Call cargo audit and cargo search when necessary
  Makefile
Labels: S: LGT2, T: Contributor ⭐️

#4456 Build on FreeBSD
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/storage/config.rs
  src/util/config.rs
  src/util/rocksdb_util/mod.rs
Labels: C: Build, S: LGT1

#4442 storage: use static metrics for KV_COMMAND_COUNTER
  src/storage/metrics.rs
  src/storage/mod.rs
Labels: T: Contributor ⭐️

#4446 Reuse ScalarFunc::find_str in ScalarFunc::instr
  src/coprocessor/dag/expr/builtin_string.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#4462 docs/adopter: remove eleme user case
  docs/adopters.md
Labels: C: Doc, S: LGT1, S: LGT2

#4322 Introduce Vectorized Evaluation framework
  src/coprocessor/dag/rpn_expr/function.rs
  src/coprocessor/dag/rpn_expr/mod.rs
  src/coprocessor/dag/rpn_expr/types/expr.rs
  src/coprocessor/dag/rpn_expr/types/expr_builder.rs
  src/coprocessor/dag/rpn_expr/types/expr_eval.rs
  src/coprocessor/dag/rpn_expr/types/mod.rs
Labels: C: Copr

#4437 batch_executor/table_scan_executor: refactor basic tests
  src/coprocessor/dag/batch_executor/table_scan_executor.rs
Labels: C: Copr

#4467 Remove #[inline(always)] and check output offsets to avoid panic
  components/codec/src/byte.rs
  src/coprocessor/dag/handler.rs
  src/coprocessor/dag/rpn_expr/function.rs
  src/coprocessor/dag/rpn_expr/types/expr_builder.rs
  src/coprocessor/dag/rpn_expr/types/expr_eval.rs
Labels: C: Copr, P: High, S: LGT1

#4457 *: use fs::{read, read_to_string, write} where possible
  src/bin/tikv-ctl.rs
  src/config.rs
  src/import/test_helpers.rs
  src/raftstore/store/snap.rs
  src/util/config.rs
  src/util/file.rs
  src/util/io_limiter.rs
  src/util/security.rs
Labels: S: LGT2

#4464 raftstore: enlarge ingest buffer
  src/raftstore/store/worker/region.rs
Labels: C: Raft, S: LGT1, T: Enhancement

#4433 Add execution summary framework
  src/coprocessor/dag/batch_executor/index_scan_executor.rs
  src/coprocessor/dag/batch_executor/interface.rs
  src/coprocessor/dag/batch_executor/scan_executor.rs
  src/coprocessor/dag/batch_executor/statistics.rs
  src/coprocessor/dag/batch_executor/table_scan_executor.rs
  src/coprocessor/dag/batch_handler.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/handler.rs
Labels: C: Copr

#4484 no need to use region peers
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/peer.rs
Labels: C: Raft, S: LGT2

#4488 .github: ask for the TiKV instead of rustc version in bug-report template
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: C: Doc, S: LGT2

#4489 *: fix misspell in comments and docs.
  docs/op-guide/deploy-tikv-using-docker-compose.md
  docs/op-guide/rocksdb-option-config.md
  src/bin/tikv-ctl.rs
  src/coprocessor/codec/mysql/time/extension.rs
  src/coprocessor/codec/mysql/time/mod.rs
  src/coprocessor/dag/expr/builtin_encryption.rs
  src/coprocessor/dag/expr/builtin_string.rs
  src/pd/pd.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/util.rs
  src/server/debug.rs
  src/server/transport.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/types.rs
  tests/integrations/raftstore/test_prevote.rs
Labels: S: LGT2

#4479 Move batch scan executor into standalone directory
  src/coprocessor/dag/batch/executors/index_scan_executor.rs
  src/coprocessor/dag/batch/executors/mod.rs
  src/coprocessor/dag/batch/executors/table_scan_executor.rs
  src/coprocessor/dag/batch/executors/util/mod.rs
  src/coprocessor/dag/batch/executors/util/ranges_iter.rs
  src/coprocessor/dag/batch/executors/util/scan_executor.rs
  src/coprocessor/dag/batch/interface.rs
  src/coprocessor/dag/batch/mod.rs
  src/coprocessor/dag/batch/statistics.rs
  src/coprocessor/dag/batch_handler.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/mod.rs
Labels: S: LGT2

#4496 bin: use fatal level when fatal
  src/bin/tikv-ctl.rs
  src/bin/tikv-importer.rs
  src/bin/tikv-server.rs
  src/bin/util/setup.rs
Labels: T: BugFix

#4487 Update Roadmap
  docs/2018-ROADMAP.md
Labels: S: LGT1

#4475 enlarge ingest stall buffer (#4464)
  src/raftstore/store/worker/region.rs
Labels: T: CherryPick

#4503 engine: fix prefix extractor panic when delete range
  components/engine/src/util.rs
  tests/integrations/raftstore/test_single.rs
Labels: C: RocksDB, S: LGT1, T: BugFix

#4492 util: avoid panic in RotatingFileLogger
  src/util/logger/file_log.rs
Labels: S: LGT2

#4469 Copr: implement batch_executor/limit
  src/coprocessor/codec/batch/lazy_column_vec.rs
  src/coprocessor/dag/batch/executors/limit.rs
  src/coprocessor/dag/batch/executors/mod.rs
  src/coprocessor/dag/builder.rs
Labels: C: Copr

#4370 Add tcmalloc support to the tikv_alloc crate
  Cargo.lock
  Cargo.toml
  Makefile
  components/codec/Cargo.toml
  components/cop_datatype/Cargo.toml
  components/engine/Cargo.toml
  components/log_wrappers/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_storage/Cargo.toml
  components/test_util/Cargo.toml
  components/tikv_alloc/Cargo.toml
  components/tikv_alloc/README.md
  components/tikv_alloc/src/default.rs
  components/tikv_alloc/src/jemalloc.rs
  components/tikv_alloc/src/lib.rs
  components/tikv_alloc/src/system.rs
  components/tikv_alloc/src/tcmalloc.rs
  fuzz/targets/Cargo.toml
Labels: C: Build, S: LGT2, T: Contributor ⭐️

#4486 use tokio threadpool and thread local metrics for readpool
  Cargo.lock
  Cargo.toml
  components/test_coprocessor/src/fixture.rs
  components/test_raftstore/src/server.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/future_pool/builder.rs
  components/tikv_util/src/future_pool/metrics.rs
  components/tikv_util/src/future_pool/mod.rs
  components/tikv_util/src/futurepool.rs
  components/tikv_util/src/lib.rs
  src/bin/tikv-server.rs
  src/coprocessor/dag/executor/metrics.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/mod.rs
  src/coprocessor/readpool_context.rs
  src/coprocessor/readpool_impl.rs
  src/coprocessor/tracker.rs
  src/server/node.rs
  src/server/readpool/builder.rs
  src/server/readpool/mod.rs
  src/server/readpool/priority.rs
  src/server/server.rs
  src/storage/mod.rs
  src/storage/readpool_context.rs
  src/storage/readpool_impl.rs
  tests/failpoints/cases/test_coprocessor.rs
  tests/integrations/coprocessor/test_select.rs
Labels: C: Perf, T: Contributor ⭐️, T: Enhancement

#4527 coprocessor: move build related function to DAGBuilder
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/handler.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/endpoint.rs
Labels: C: Copr

#4528 Metrics: rocksdb.num-immutable-mem-table
  components/engine/src/rocks/util/engine_metrics.rs
  components/engine/src/rocks/util/mod.rs
Labels: C: RocksDB

#4529 readme: remove repeated content
  README.md
Labels: C: Doc

#4473 server: reduce context switch about batch commands
  components/tikv_util/src/mpsc/batch.rs
  src/server/server.rs
  src/server/service/kv.rs
Labels: C: Perf

#4498 batch/statistics: make exector summary collector easier
  src/coprocessor/dag/batch/executors/limit.rs
  src/coprocessor/dag/batch/executors/util/scan_executor.rs
  src/coprocessor/dag/batch/statistics.rs
Labels: S: LGT2

#4499 Accept multiple PK handles in the request
  src/coprocessor/dag/batch/executors/index_scan_executor.rs
  src/coprocessor/dag/batch/executors/table_scan_executor.rs
  src/coprocessor/dag/batch_handler.rs
Labels: C: Copr, S: LGT2, T: BugFix

#4512 Adds ret_field_type
  src/coprocessor/dag/rpn_expr/types/expr.rs
Labels: S: LGT1

#4423 import: wait all scatter region finished before importing
  Cargo.lock
  components/test_raftstore/src/pd.rs
  etc/tikv-importer.toml
  src/import/client.rs
  src/import/config.rs
  src/import/import.rs
  src/import/kv_importer.rs
  src/import/kv_service.rs
  src/import/metrics.rs
  src/import/prepare.rs
  src/import/test_helpers.rs
  src/pd/client.rs
  src/pd/mod.rs
  src/pd/util.rs
  src/server/resolve.rs
  tests/integrations/config/mod.rs
  tests/integrations/pd/mock/server.rs
Labels: P: High

#4543 *: cleanup util and engine components
  Cargo.lock
  components/engine/Cargo.toml
  components/engine/src/errors.rs
  components/engine/src/lib.rs
  components/engine/src/rocks/util/config.rs
  components/engine/src/rocks/util/io_limiter.rs
  components/engine/src/rocks/util/mod.rs
  components/engine/src/rocks/util/security.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/config.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/security.rs
  src/bin/tikv-ctl.rs
  src/bin/tikv-server.rs
  src/config.rs
  src/import/engine.rs
  src/raftstore/store/snap.rs
  src/server/config.rs
  tests/integrations/config/mod.rs
Labels: C: Build-Time

#4536 use bitflag to replace bool
  src/coprocessor/codec/error.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/expr/builtin_arithmetic.rs
  src/coprocessor/dag/expr/builtin_cast.rs
  src/coprocessor/dag/expr/builtin_compare.rs
  src/coprocessor/dag/expr/builtin_other.rs
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/column.rs
  src/coprocessor/dag/expr/ctx.rs
Labels: T: Contributor ⭐️

#4517 config: make properties index distance configurable
  src/config.rs
  src/import/engine.rs
  src/import/prepare.rs
  src/raftstore/coprocessor/mod.rs
  src/raftstore/coprocessor/properties.rs
  src/raftstore/coprocessor/split_check/half.rs
  src/raftstore/coprocessor/split_check/keys.rs
  src/raftstore/coprocessor/split_check/size.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/worker/compact.rs
  src/server/debug.rs
  src/storage/kv/compact_listener.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: C: RocksDB

#4470 *: check iterator status when invalid
  Cargo.lock
  src/raftstore/store/region_snapshot.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/mod.rs
  src/storage/kv/raftkv.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/util.rs
  src/storage/txn/store.rs
Labels: C: RocksDB, S: LGT2

#4545 Add some comments
  src/coprocessor/codec/data_type/vector.rs
Labels: S: LGT2

#4546 Add field type builder
  components/cop_datatype/src/builder/field_type.rs
  components/cop_datatype/src/builder/mod.rs
  components/cop_datatype/src/lib.rs
Labels: S: LGT2

#4534 Align BatchLimitExecutor's style to other batch executors
  src/coprocessor/dag/batch/executors/limit.rs
  src/coprocessor/dag/builder.rs
Labels: S: LGT2

#4526 engine: remove delete range extend key hack
  components/engine/src/util.rs
Labels: S: LGT2

#4554 cherry-pick 3 PRs (#4349, #4386, #4423) into release 2.1
  Cargo.lock
  components/test_raftstore/pd.rs
  etc/tikv-importer.toml
  src/import/client.rs
  src/import/config.rs
  src/import/engine.rs
  src/import/import.rs
  src/import/kv_importer.rs
  src/import/kv_service.rs
  src/import/metrics.rs
  src/import/prepare.rs
  src/import/stream.rs
  src/import/test_helpers.rs
  src/pd/client.rs
  src/pd/mod.rs
  src/pd/util.rs
  src/server/resolve.rs
  tests/config/mod.rs
  tests/config/test-custom.toml
  tests/pd/mock/server.rs
Labels: T: CherryPick

#4556 engine: add test for preparing SST ingestion from Titan
  components/engine/src/rocks/util/mod.rs
Labels: C: RocksDB

#4559 raftstore: learners should be considered when check progresses before merge
  src/raftstore/store/peer.rs
  tests/integrations/raftstore/test_merge.rs
Labels: C: Raft, T: BugFix

#4547 Several trivial engineering improvements
  components/cop_datatype/src/def/field_type.rs
  components/tikv_util/src/lib.rs
  src/coprocessor/codec/data_type/scalar.rs
  src/coprocessor/codec/data_type/vector.rs
  src/coprocessor/dag/rpn_expr/function.rs
  src/coprocessor/dag/rpn_expr/types/expr.rs
  src/coprocessor/dag/rpn_expr/types/expr_builder.rs
  src/coprocessor/dag/rpn_expr/types/expr_eval.rs
Labels: C: Copr

#4453 Disable unused features of dependencies
  Cargo.lock
  Cargo.toml
Labels: C: Build, C: Build-Time, T: Contributor ⭐️

#4576 tests: reduce allocation
  components/test_raftstore/src/util.rs
Labels: C: Test/Bench, T: Enhancement

#4539 Utilize Criterion's new feature iter_batched_ref
  benches/hierarchy/engine/mod.rs
  benches/hierarchy/mvcc/mod.rs
  benches/hierarchy/storage/mod.rs
  benches/hierarchy/txn/mod.rs
Labels: C: Test/Bench, S: LGT2, T: Contributor ⭐️

#4566 import: use memory to cache split sst instead of disk file
  src/import/engine.rs
  src/import/import.rs
Labels: S: LGT1, T: Bug

#4578 Cherry-pick: import: use memory to cache split sst instead of disk file (#4566)
  src/import/engine.rs
  src/import/import.rs
Labels: T: CherryPick

#4428 coprocessor: implement functions: period_add, period_diff
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#4555 github: require release note on pull requests
  .github/pull_request_template.md
Labels: C: Doc

#4562 Adds BatchSelectionExecutor
  src/coprocessor/dag/batch/executors/mod.rs
  src/coprocessor/dag/batch/executors/selection_executor.rs
  src/coprocessor/dag/batch/executors/util/mock_executor.rs
  src/coprocessor/dag/batch/executors/util/mod.rs
  src/coprocessor/dag/batch_handler.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/expr/ctx.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/dag/rpn_expr/mod.rs
  src/coprocessor/dag/rpn_expr/types/expr_builder.rs
  tests/integrations/coprocessor/test_select.rs
Labels: C: Copr

#4412 import,etc: implement a speed limit for tikv-importer
  etc/tikv-importer.toml
  src/import/config.rs
  src/import/import.rs
  src/import/mod.rs
  src/import/speed_limiter.rs
  src/lib.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: S: LGT1

#4593 Enhance error report for fuzzing
  fuzz/cli.rs
Labels: C: Test/Bench, T: Contributor ⭐️

#4575 Adds RPN function LogicalAnd
  src/coprocessor/dag/rpn_expr/impl_op.rs
  src/coprocessor/dag/rpn_expr/mod.rs
  src/coprocessor/dag/rpn_expr/types/mod.rs
  src/coprocessor/dag/rpn_expr/types/test_util.rs
Labels: S: LGT2

#4596 Rename and move ExecSummary to support non-batch executors
  src/coprocessor/dag/aggr_fn/impl_avg.rs
  src/coprocessor/dag/batch/executors/index_scan_executor.rs
  src/coprocessor/dag/batch/executors/limit.rs
  src/coprocessor/dag/batch/executors/selection_executor.rs
  src/coprocessor/dag/batch/executors/table_scan_executor.rs
  src/coprocessor/dag/batch/executors/util/scan_executor.rs
  src/coprocessor/dag/batch/interface.rs
  src/coprocessor/dag/batch/statistics.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/exec_summary.rs
  src/coprocessor/dag/mod.rs
Labels: S: LGT2

#4604 update raft to 0.4.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  components/test_raftstore/Cargo.toml
Labels: C: Raft, T: BugFix

#4608 [WIP] Add more fuzz tests
  fuzz/targets/mod.rs
Labels: C: Test/Bench, S: LGT2, T: Contributor ⭐️
