Repository tikv/tikv, pull requests merged in 2019-01, with the labels that each got.

#3993 storage: make `Engine` and `Snapshot` more legible
  src/storage/engine/btree_engine.rs
  src/storage/engine/mod.rs
  src/storage/engine/raftkv.rs
  src/storage/engine/rocksdb.rs
  src/storage/mod.rs
Labels: S: LGT2

#3987 *: rearrange loggers
  components/test_util/src/lib.rs
  components/test_util/src/logging.rs
  src/bin/tikv-ctl.rs
  src/bin/tikv-importer.rs
  src/bin/tikv-server.rs
  src/bin/util/setup.rs
  src/util/logger/file_log.rs
  src/util/logger/mod.rs
  src/util/mod.rs
  tests/failpoints/cases/test_merge.rs
  tests/integrations/raftstore/test_merge.rs
Labels: C: Util, S: LGT2

#4003 raftstore: not always update pending_cross_snap (#3822)
  src/raftstore/store/store.rs
  tests/raftstore_cases/test_merge.rs
Labels: C: Raft, S: LGT2, T: CherryPick

#4004 raftstore: do not update pending_cross_snap when peer is applying snapshot (#3873)
  src/pd/pd.rs
  src/raftstore/store/store.rs
  tests/failpoints_cases/test_merge.rs
  tests/raftstore/transport_simulate.rs
  tests/raftstore_cases/test_snap.rs
Labels: C: Raft, S: LGT2, T: CherryPick

#4002 Upgrade `rust-rocksdb`: make it possible to upgrade from `RocksDB` to `Titan` smoothly
  Cargo.lock
Labels: C: Titan

#3851 pd/client: retry validating the endpoints when creating RPC client
  src/pd/client.rs
  tests/integrations/pd/test_rpc_client.rs
Labels: S: LGT2, T: Enhancement

#3989 *: install a new logger when panic to avoid no global logger
  components/test_util/src/lib.rs
  src/bin/tikv-importer.rs
  src/bin/tikv-server.rs
  src/util/logger/mod.rs
  src/util/mod.rs
Labels: S: LGT2, T: BugFix

#4010 expr/builtin_time: Implement AddDurationAndString
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor ⭐️

#4017 util: change the way of calculating the approximate distance
  src/raftstore/store/util.rs
  src/util/rocksdb/properties.rs
Labels: C: Util

#4022 util: remove unused mut
  src/util/rocksdb/properties.rs
Labels: C: Util, S: LGT2

#4024 gc_worker: Fix comments that causes error on rustdoc
  src/storage/gc_worker.rs
Labels: C: Doc

#4008 *: use macros from slog rather than Rust standard log
  Cargo.lock
  Cargo.toml
  benches/misc/mod.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/lib.rs
  components/test_util/Cargo.toml
  components/test_util/src/lib.rs
  components/test_util/src/logging.rs
  src/bin/tikv-ctl.rs
  src/bin/tikv-importer.rs
  src/bin/tikv-server.rs
  src/bin/util/setup.rs
  src/lib.rs
  src/util/logger/mod.rs
  src/util/mod.rs
  tests/failpoints/mod.rs
  tests/integrations/mod.rs
Labels: C: Util

#4018 Derive Copy for Duration
  Makefile
  src/coprocessor/codec/datum.rs
  src/coprocessor/codec/mysql/duration.rs
  src/coprocessor/codec/mysql/time/mod.rs
  src/coprocessor/dag/expr/builtin_cast.rs
  src/coprocessor/dag/expr/builtin_compare.rs
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/column.rs
  src/coprocessor/dag/expr/constant.rs
  src/coprocessor/endpoint.rs
Labels: C: Copr

#3991 server: add comments for public API
  src/raftstore/store/transport.rs
  src/server/config.rs
  src/server/debug.rs
  src/server/load_statistics/linux.rs
  src/server/load_statistics/mod.rs
  src/server/node.rs
  src/server/readpool/config.rs
  src/server/readpool/mod.rs
  src/server/readpool/priority.rs
  src/server/resolve.rs
  src/server/server.rs
  src/server/service/debug.rs
  src/server/service/kv.rs
  src/server/snap.rs
  src/server/transport.rs
  src/util/futurepool.rs
Labels: C: Doc, S: LGT2

#4007 coprocessor: implemented FIELD() function
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#3629 Efficient Codecs
  Cargo.lock
  components/codec/Cargo.toml
  components/codec/src/byte.rs
  components/codec/src/convert.rs
  components/codec/src/lib.rs
  components/codec/src/number.rs
Labels: C: Perf, S: LGT1, T: Enhancement

#4019 Let DAGContext accepts Store instead of Snapshot
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/executor/mod.rs
  src/coprocessor/dag/handler.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/mod.rs
  src/coprocessor/util.rs
  src/storage/txn/store.rs
Labels: C: Copr

#4046 Fix useless log level
  src/util/logger/mod.rs
Labels: C: Util, P: Critical, T: BugFix

#3913 Use batch_raft RPC and batch channel to reduce gRPC CPU usage.
  Cargo.lock
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/lib.rs
  components/test_raftstore/src/server.rs
  src/server/config.rs
  src/server/metrics.rs
  src/server/mod.rs
  src/server/raft_client.rs
  src/server/server.rs
  src/server/service/kv.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/mod.rs
  tests/integrations/server/mod.rs
  tests/integrations/server/raft_client.rs
Labels: C: gRPC

#4047 Redirect 3rd-party's stdlog
  Cargo.lock
  Cargo.toml
  components/test_raftstore/Cargo.toml
  src/bin/tikv-ctl.rs
  src/bin/tikv-importer.rs
  src/bin/tikv-server.rs
  src/lib.rs
  src/util/logger/mod.rs
Labels: C: Util, T: BugFix

#4055 server: refactor futures in service/kv.rs.
  src/server/service/kv.rs
Labels: C: Server

#4023 Cargo: upgrade grpcio to v0.4.2
  Cargo.lock
Labels: C: gRPC

#4060 util/timer: introduce steady timer
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/util/time.rs
  src/util/timer.rs
Labels: C: Util, P: Critical, S: LGT2

#4043 server: support batch grpc messages.
  Cargo.lock
  src/server/metrics.rs
  src/server/server.rs
  src/server/service/kv.rs
  tests/integrations/mod.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/server/mod.rs
Labels: C: gRPC

#4016 Implement Locate2Args & Locate3Args & LocateBinary2Args & LocateBinary3Args
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#3999 fuzz: implement run_afl, add seeds for fuzzer
  fuzz/.gitignore
  fuzz/README.md
  fuzz/cli.rs
  fuzz/common/seeds/default/testcase
  fuzz/common/seeds/fuzz_codec_bytes/0
Labels: C: Test/Bench, S: LGT2, T: Contributor ⭐️

#4059 executor/aggregate:adjust sum for aggregate functions (#3253)
  src/coprocessor/codec/datum.rs
  src/coprocessor/codec/mysql/json/json_cast.rs
  src/coprocessor/dag/executor/aggregate.rs
  src/coprocessor/dag/expr/builtin_cast.rs
Labels: C: Copr, T: CherryPick

#4062 raftstore: Remove deprecated seek_region from raftstore
  components/test_raftstore/src/server.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/msg.rs
  src/storage/engine/raftkv.rs
  tests/integrations/storage/test_raft_storage.rs
  tests/integrations/storage/test_seek_region.rs
Labels: C: Raft

#4034 tikv-ctl: Introduce crate vlog
  Cargo.lock
  Cargo.toml
  src/bin/tikv-ctl.rs
  src/lib.rs
  src/server/debug.rs
Labels: C: TiKV-Ctl

#4013 storage: verify the range for scan requests
  benches/misc/mod.rs
  benches/misc/util/mod.rs
  benches/misc/util/slice_compare.rs
  src/storage/engine/mod.rs
  src/storage/engine/raftkv.rs
  src/storage/txn/mod.rs
  src/storage/txn/store.rs
Labels: C: Storage

#4063 Implement add_time_duration_null; Fix month_name; Add more type annotation
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: BugFix, T: Contributor ⭐️

#3994 raftstore/store: add more comments
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/worker/cleanup_sst.rs
  src/raftstore/store/worker/compact.rs
  src/raftstore/store/worker/consistency_check.rs
  src/raftstore/store/worker/raftlog_gc.rs
  src/raftstore/store/worker/region.rs
  src/raftstore/store/worker/split_check.rs
Labels: C: Doc

#4070 docs: update TiKV adopters to the latest
  docs/adopters.md
Labels: C: Doc, S: LGT2

#4075 coprocessor:cherry-pick #3774
  src/coprocessor/codec/mysql/time/mod.rs
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: CherryPick

#4068 tikv-ctl: pass db options to ldb
  Cargo.lock
  docs/tools/tikv-control.md
  src/bin/tikv-ctl.rs
Labels: C: TiKV-Ctl, T: Enhancement

#4079 docs/clients: update go-client usage
  docs/clients/go-client-api.md
Labels: C: Doc

#4066 raftstore: make it scale
  Cargo.lock
  Cargo.toml
  README.md
  benches/misc/channel/bench_channel.rs
  benches/misc/mod.rs
  benches/misc/raftkv/mod.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/transport_simulate.rs
  components/test_raftstore/src/util.rs
  src/bin/tikv-server.rs
  src/lib.rs
  src/pd/pd.rs
  src/raftstore/coprocessor/dispatcher.rs
  src/raftstore/coprocessor/split_check/keys.rs
  src/raftstore/coprocessor/split_check/size.rs
  src/raftstore/coprocessor/split_check/table.rs
  src/raftstore/store/config.rs
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/batch.rs
  src/raftstore/store/fsm/metrics.rs
  src/raftstore/store/fsm/mod.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/router.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/local_metrics.rs
  src/raftstore/store/mod.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/region_snapshot.rs
  src/raftstore/store/snap.rs
  src/raftstore/store/worker/cleanup_sst.rs
  src/raftstore/store/worker/consistency_check.rs
  src/raftstore/store/worker/mod.rs
  src/raftstore/store/worker/read.rs
  src/raftstore/store/worker/split_check.rs
  src/server/debug.rs
  src/server/node.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/server/transport.rs
  src/storage/gc_worker.rs
  src/util/mod.rs
  src/util/transport.rs
  tests/failpoints/cases/test_conf_change.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_conf_change.rs
  tests/integrations/raftstore/test_snap.rs
Labels: C: Raft, T: Enhancement

#4084 test: fix epollex error on macOS
  components/test_util/src/lib.rs
Labels: C: Test/Bench, T: Bug

#4088 add store pool size configuration to config template file
  etc/config-template.toml
Labels: T: Enhancement

#4092 raftstore: adjust leader metircs
  src/raftstore/coprocessor/metrics.rs
  src/raftstore/coprocessor/region_info_accessor.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/metrics.rs
  src/raftstore/store/worker/read.rs
Labels: C: Raft

#4067 Slow log fields
  Cargo.lock
  Cargo.toml
  components/cop_datatype/Cargo.toml
  components/kvproto/Cargo.toml
  components/kvproto/src/lib.rs
  components/log_wrappers/Cargo.toml
  components/log_wrappers/src/lib.rs
  components/log_wrappers/src/test_util.rs
  components/test_coprocessor/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_storage/Cargo.toml
  components/tipb/Cargo.toml
  components/tipb/src/lib.rs
  src/coprocessor/tracker.rs
  src/lib.rs
  src/storage/engine/perf_context.rs
  src/util/logger/mod.rs
Labels: T: Enhancement

#3825 tikv-ctl: Support raw scan
  docs/tools/tikv-control.md
  src/bin/tikv-ctl.rs
  src/server/debug.rs
Labels: C: TiKV-Ctl, S: LGT1

#4090 raftstore: fix invalid log gc state
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  tests/failpoints/cases/test_conf_change.rs
Labels: C: Raft, T: BugFix

#4093 raftstore: only print CommitMerge once
  src/raftstore/store/fsm/apply.rs
Labels: C: Raft, T: Enhancement

#4110 fix little typos about manual compact log
  src/server/debug.rs
Labels: S: LGT2

#4076 coprocessor/*:use structured log format
  src/coprocessor/codec/convert.rs
  src/coprocessor/codec/mysql/decimal.rs
  src/coprocessor/dag/expr/mod.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/local_metrics.rs
Labels: C: Copr

#4078 bin/tikv-*:use structured log
  src/bin/tikv-importer.rs
  src/bin/tikv-server.rs
Labels: T: Enhancement

#4114 test: fix error when Linux kernel doesn't contain epollex engine
  components/test_util/src/lib.rs
Labels: S: LGT2

#3820 Use `procinfo::pid::stat` to implement src/util/metrics/threads_linux.rs
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/server/load_statistics/linux.rs
  src/util/metrics/mod.rs
  src/util/metrics/threads_linux.rs
Labels: C: Util, S: LGT2, T: Enhancement

#4119 fix is_point usage in IndexScanExecutor
  src/coprocessor/dag/executor/index_scan.rs
Labels: C: Copr, T: Contributor ⭐️

#4123 Update Raw KV API Doc
  docs/clients/go-client-api.md
Labels: C: Doc

#4129 *: use patch instead of component
  Cargo.lock
  Cargo.toml
  components/cop_datatype/Cargo.toml
  components/kvproto/Cargo.toml
  components/kvproto/src/lib.rs
  components/log_wrappers/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_storage/Cargo.toml
  components/tipb/Cargo.toml
  components/tipb/src/lib.rs
Labels: C: Build

#4112 test: stabilize half split test
  components/test_raftstore/src/pd.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: C: Test/Bench

#4087 src/storage: update log and key format
  src/storage/engine/btree_engine.rs
  src/storage/engine/rocksdb.rs
  src/storage/gc_worker.rs
  src/storage/mod.rs
  src/storage/readpool_context.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
  src/storage/types.rs
Labels: C: Storage, S: LGT2, T: Enhancement

#4131 [cherry-pick-2.0] Fix event listener issue
  Cargo.lock
  src/util/rocksdb/event_listener.rs
Labels: T: CherryPick

#4134 tests: stable test_thread_load_statistic and util::mpsc::batch::test_receiver
  src/server/load_statistics/linux.rs
  src/util/mpsc/batch.rs
Labels: C: Test/Bench, T: BugFix

#4142 test: stabilize test_server_snap_gc
  tests/integrations/raftstore/test_snap.rs
Labels: T: BugFix

#4081 docs/tools: update PD Control and PD Recover documents
  docs/tools/pd-control.md
  docs/tools/pd-recover.md
Labels: C: Doc
