Repository tikv/tikv, pull requests merged in 2019-03, with the labels that each got.

#4177 raftstore/store: unified log format
  src/raftstore/store/fsm/store.rs
Labels: C: Raft

#4135 raftstore/coprocessor: update log and key format
  src/raftstore/coprocessor/region_info_accessor.rs
  src/raftstore/coprocessor/split_check/keys.rs
  src/raftstore/coprocessor/split_check/size.rs
  src/raftstore/coprocessor/split_check/table.rs
  src/raftstore/coprocessor/split_observer.rs
Labels: C: Raft, T: Enhancement

#4145 importer: Update log and key format for src/import
  src/import/client.rs
  src/import/common.rs
  src/import/import.rs
  src/import/kv_importer.rs
  src/import/kv_service.rs
  src/import/prepare.rs
  src/import/service.rs
  src/import/sst_importer.rs
  src/import/sst_service.rs
Labels: T: Enhancement

#4242 Implements batch executor handler
  src/coprocessor/dag/batch_handler.rs
  src/coprocessor/dag/executor/aggregation.rs
  src/coprocessor/dag/executor/selection.rs
  src/coprocessor/dag/executor/topn.rs
  src/coprocessor/dag/expr/ctx.rs
  src/coprocessor/dag/mod.rs
Labels: C: Copr

#4296 Fix encrypted file generated issue
  src/import/engine.rs
Labels: T: BugFix

#4198 raftstore: fix merge panic when multiple snapshots
  components/test_raftstore/src/transport_simulate.rs
  components/test_util/src/logging.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  tests/failpoints/cases/test_merge.rs
  tests/integrations/raftstore/test_merge.rs
Labels: C: Raft, P: Critical, T: BugFix

#4297 Remove `extern crate` statements from the repo
  src/bin/tikv-ctl.rs
  src/bin/tikv-server.rs
Labels: T: Contributor ⭐️, T: Enhancement

#4285 readme: add Communication section in readme
  README.md
Labels: C: Doc

#4232 raftstore: remove message box/unbox
  benches/misc/raftkv/mod.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/transport_simulate.rs
  components/test_raftstore/src/util.rs
  src/bin/tikv-server.rs
  src/pd/pd.rs
  src/raftstore/coprocessor/dispatcher.rs
  src/raftstore/coprocessor/split_check/half.rs
  src/raftstore/coprocessor/split_check/keys.rs
  src/raftstore/coprocessor/split_check/size.rs
  src/raftstore/coprocessor/split_check/table.rs
  src/raftstore/errors.rs
  src/raftstore/mod.rs
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/mod.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/mod.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/snap.rs
  src/raftstore/store/transport.rs
  src/raftstore/store/worker/cleanup_sst.rs
  src/raftstore/store/worker/consistency_check.rs
  src/raftstore/store/worker/mod.rs
  src/raftstore/store/worker/read.rs
  src/raftstore/store/worker/split_check.rs
  src/server/node.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/server/transport.rs
  src/storage/gc_worker.rs
  src/storage/txn/scheduler.rs
  src/util/mod.rs
  src/util/transport.rs
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_conf_change.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: C: Raft, T: Enhancement

#4314 Makefile: check sse4.2 for tikv targets
  Makefile
  etc/check-sse4_2.sh
Labels: C: Build

#4243 Adds functions to build batch executors
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/handler.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/metrics.rs
Labels: C: Copr

#4307 raftstore/store: unified log format
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/region_snapshot.rs
  src/raftstore/store/snap.rs
  src/raftstore/store/util.rs
  src/server/debug.rs
  tests/failpoints/cases/test_stale_read.rs
Labels: C: Raft

#4269 Copr: implement sub_datetime_and_duration and sub_datetime_and_string
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#4206 config:write important config into metrics
  src/bin/tikv-importer.rs
  src/bin/tikv-server.rs
  src/config.rs
  src/import/import_mode.rs
  src/raftstore/store/config.rs
  src/server/debug.rs
  src/server/metrics.rs
  src/server/mod.rs
Labels: C: Raft

#4320 Introduce VectorLike
  src/coprocessor/codec/data_type/mod.rs
  src/coprocessor/codec/data_type/vector_like.rs
Labels: C: Copr

#4340 implement builtin_string/instr_binary
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor ⭐️

#4321 Implements AsMySQLBool
  src/coprocessor/codec/convert.rs
  src/coprocessor/codec/data_type/mod.rs
  src/coprocessor/codec/data_type/scalar.rs
  src/coprocessor/codec/data_type/vector.rs
  src/coprocessor/codec/mysql/decimal.rs
  src/coprocessor/codec/mysql/duration.rs
  src/coprocessor/codec/mysql/json/mod.rs
  src/coprocessor/codec/mysql/time/mod.rs
Labels: C: Copr

#4292 mvcc/reader/scanner: refactor ScannerBuilder
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/txn/mod.rs
  src/storage/txn/store.rs
Labels: C: Txn, S: LGT2

#4325 *: update contributing guide
  CONTRIBUTING.md
Labels: C: Doc, S: LGT2

#4347 import: increase default region-split-size to 512 MiB
  etc/tikv-importer.toml
  src/import/config.rs
Labels: C: Raft

#4350 import: fix #4257, restrict memory usage by RocksDB
  src/import/engine.rs
Labels: S: LGT2, T: BugFix

#4315 storage/mvcc: return error when mvcc corruption
  src/bin/tikv-server.rs
  src/config.rs
  src/raftstore/store/metrics.rs
  src/raftstore/store/region_snapshot.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/util.rs
  src/util/metrics/mod.rs
  src/util/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: C: Txn, S: LGT1, T: Enhancement

#4360 copr: impl replace function
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor ⭐️

#4326 raftstore: refactor logs in fsm/apply.rs
  src/raftstore/store/fsm/apply.rs
Labels: C: Raft

#4346 Add context for AsMySQLBool and remove BatchExecutorContext
  src/coprocessor/codec/batch/lazy_column.rs
  src/coprocessor/codec/batch/lazy_column_vec.rs
  src/coprocessor/codec/data_type/mod.rs
  src/coprocessor/codec/data_type/scalar.rs
  src/coprocessor/codec/data_type/vector.rs
  src/coprocessor/codec/mysql/decimal.rs
  src/coprocessor/codec/mysql/duration.rs
  src/coprocessor/codec/mysql/json/mod.rs
  src/coprocessor/codec/mysql/time/mod.rs
  src/coprocessor/dag/batch_executor/interface.rs
  src/coprocessor/dag/batch_executor/mod.rs
  src/coprocessor/dag/batch_executor/statistics.rs
  src/coprocessor/dag/batch_handler.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/handler.rs
Labels: C: Copr, P: High, T: Enhancement

#4362 Add option to decide panic or not when key exceed bound or mvcc corruption
  src/bin/tikv-server.rs
  src/config.rs
  src/raftstore/store/metrics.rs
  src/raftstore/store/region_snapshot.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/mvcc/reader/util.rs
  src/util/metrics/mod.rs
  src/util/mod.rs
  tests/config/mod.rs
  tests/config/test-custom.toml
Labels: T: CherryPick

#4332 Export jemalloc stats to prometheus
  Cargo.lock
  components/tikv_alloc/Cargo.toml
  components/tikv_alloc/src/lib.rs
  src/bin/util/setup.rs
  src/util/metrics/jemalloc_metrics.rs
  src/util/metrics/mod.rs
Labels: C: Util

#4349 import: do not read the entire SST into memory
  src/import/client.rs
  src/import/engine.rs
  src/import/import.rs
  src/import/stream.rs
Labels: C: RocksDB, S: LGT2

#4369 Cherry-pick 4 PRs related to tikv-importer to release-2.1
  etc/tikv-importer.toml
  src/import/client.rs
  src/import/config.rs
  src/import/engine.rs
  src/import/prepare.rs
  src/import/test_helpers.rs
Labels: S: LGT1, T: CherryPick

#4335 rocksdb: config auto tuned rate limiter
  etc/config-template.toml
  src/config.rs
  src/util/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: T: Contributor ⭐️

#4303 Remove ErrorRequestHandler
  src/coprocessor/endpoint.rs
  src/coprocessor/mod.rs
  src/coprocessor/util.rs
  src/server/readpool/mod.rs
  src/storage/engine/rocksdb_engine.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_coprocessor.rs
Labels: T: BugFix

#4353 Copr/ScalarFunc: Fix the bug for instr_binary
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#4373 storage/reader: Avoid some copy in mvcc reader
  src/storage/mvcc/reader/reader.rs
Labels: C: Perf, C: Txn, S: LGT2

#4371 Output KV pairs in CI log
  components/test_util/src/logging.rs
Labels: C: Test/Bench

#4380 remove unnecessary Copy trait of Tz and EvalConfig
  fuzz/targets/mod.rs
  src/coprocessor/codec/batch/lazy_column.rs
  src/coprocessor/codec/batch/lazy_column_vec.rs
  src/coprocessor/codec/data_type/vector.rs
  src/coprocessor/codec/datum.rs
  src/coprocessor/codec/mysql/time/mod.rs
  src/coprocessor/codec/mysql/time/tz.rs
  src/coprocessor/codec/table.rs
  src/coprocessor/dag/expr/builtin_cast.rs
  src/coprocessor/dag/expr/builtin_compare.rs
  src/coprocessor/dag/expr/ctx.rs
  src/coprocessor/dag/expr/mod.rs
Labels: T: Contributor ⭐️

#4336 Fix 4327 - make float_str_to_int_string append warning
  src/coprocessor/codec/convert.rs
Labels: C: Copr, T: Contributor ⭐️

#4261 Add governance
  GOVERNANCE.md
Labels: C: Doc, S: LGT1

#4399 Makefile: check sse4.2 only in release
  Makefile
  etc/check-sse4_2.sh
Labels: S: LGT1

#4354 readme: update WeChat contact info
  README.md
Labels: S: LGT2

#4383 storage: use static metrics for raw read
  src/storage/metrics.rs
  src/storage/mod.rs
Labels: C: Storage, S: LGT2, T: Contributor ⭐️

#4386 import: refactor concurrency mode
  src/import/import.rs
  src/import/metrics.rs
Labels: C: RocksDB, S: LGT2

#4401 adopters: update the adopter list to latest
  docs/adopters.md
Labels: C: Doc

#4413 Minor fixup - use single quote in error message
  src/coprocessor/codec/error.rs
Labels: S: LGT2, T: Contributor ⭐️

#4329 Support transform exp tree into RPN
  src/coprocessor/dag/mod.rs
  src/coprocessor/dag/rpn_expr/function.rs
  src/coprocessor/dag/rpn_expr/mod.rs
  src/coprocessor/dag/rpn_expr/types/expr.rs
  src/coprocessor/dag/rpn_expr/types/expr_builder.rs
  src/coprocessor/dag/rpn_expr/types/mod.rs
Labels: C: Copr

#4351 Adds BatchTableScanExecutor
  src/coprocessor/codec/batch/lazy_column_vec.rs
  src/coprocessor/dag/batch_executor/mod.rs
  src/coprocessor/dag/batch_executor/ranges_iter.rs
  src/coprocessor/dag/batch_executor/scan_executor.rs
  src/coprocessor/dag/batch_executor/table_scan_executor.rs
  src/coprocessor/dag/batch_handler.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/executor/mod.rs
  src/storage/txn/store.rs
  tests/integrations/mod.rs
Labels: C: Copr

#4417 coprocessor/endpoint:disable batch executor since it is not ready
  src/coprocessor/endpoint.rs
Labels: C: Copr, S: LGT2

#4378 Copr/ScalarFunc: improve instr_binary/locate/locate_binary
  Cargo.lock
  Cargo.toml
  src/coprocessor/dag/expr/builtin_string.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#4403 Update maintainers.md format
  MAINTAINERS.md
Labels: S: LGT2

#4337 implement function instr
  src/coprocessor/dag/expr/builtin_string.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#4408 storage/engine/rocksdb: Add cfg for ErrorHeader to fix compile warning
  src/storage/engine/rocksdb_engine.rs
Labels: S: LGT2, T: Contributor ⭐️

#4418 Fix incorrect default value handling in batch table scan executor
  src/coprocessor/dag/batch_executor/table_scan_executor.rs
  src/coprocessor/endpoint.rs
Labels: C: Copr

#4381 *: add a procedure that upgrades data from v2 to v3
  components/test_raftstore/src/cluster.rs
  src/bin/tikv-server.rs
  src/config.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/keys.rs
  src/raftstore/store/mod.rs
  src/raftstore/store/peer_storage.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_upgrade.rs
Labels: S: LGT2

#4089 refactor TableScanExecutor and IndexScanExecutor
  benches/coprocessor_executors/mod.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/executor/aggregation.rs
  src/coprocessor/dag/executor/index_scan.rs
  src/coprocessor/dag/executor/limit.rs
  src/coprocessor/dag/executor/mod.rs
  src/coprocessor/dag/executor/scan.rs
  src/coprocessor/dag/executor/scanner.rs
  src/coprocessor/dag/executor/selection.rs
  src/coprocessor/dag/executor/table_scan.rs
  src/coprocessor/dag/executor/topn.rs
  src/coprocessor/statistics/analyze.rs
Labels: C: Copr, T: Contributor ⭐️

#4425 kvproto: update to use lite-runtime
  Cargo.lock
Labels: C: Build-Time, S: LGT2, T: Enhancement

#4379 raftstore/store: take snapshots in apply worker
  src/raftstore/store/engine.rs
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/mod.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/mod.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/region_snapshot.rs
  src/raftstore/store/worker/region.rs
  src/util/worker/mod.rs
Labels: S: LGT1

#4393 Use a non-empty DEFAULT_DATA_DIR
  src/config.rs
  src/storage/config.rs
Labels: C: Raft, S: LGT1

#4115 raftstore: reduce clones when compact regions
  src/raftstore/store/worker/compact.rs
Labels: C: Raft, S: LGT2

#4407 is_ipv4_compat and is_ipv4_mapped expression for coprocessor
  src/coprocessor/dag/expr/builtin_miscellaneous.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#4419 Add batch index scan executor
  src/coprocessor/dag/batch_executor/index_scan_executor.rs
  src/coprocessor/dag/batch_executor/mod.rs
  src/coprocessor/dag/batch_executor/table_scan_executor.rs
  src/coprocessor/dag/builder.rs
Labels: C: Copr

#4443 *: simplify seek region interface
  src/raftstore/coprocessor/mod.rs
  src/raftstore/coprocessor/region_info_accessor.rs
  src/raftstore/store/mod.rs
  src/raftstore/store/msg.rs
  src/storage/engine/mod.rs
  src/storage/gc_worker.rs
  tests/integrations/storage/test_seek_region.rs
Labels: C: Raft, T: Enhancement

#4451 fix typos in comment.
  src/raftstore/coprocessor/mod.rs
  src/raftstore/store/fsm/batch.rs
  src/raftstore/store/worker/split_check.rs
Labels: S: LGT2

#4448 Allow logger cleanup on fatal!()
  src/bin/util/setup.rs
Labels: S: LGT2

#4415 Cargo profiles with faster compile times
  .gitignore
  Makefile
  etc/cargo.config.bench
  etc/cargo.config.dev-nopt
  etc/cargo.config.dev-opt
  etc/cargo.config.prod
  etc/cargo.config.test
  scripts/check-bins-for-jemalloc.sh
  scripts/check-sse4_2.sh
  scripts/run-cargo.sh
Labels: C: Build-Time, S: LGT1
