Repository tikv/tikv, pull requests merged in 2019-05, with the labels that each got.

#4577 tests: should register mailbox before sending
  src/raftstore/store/fsm/batch.rs
  src/raftstore/store/fsm/router.rs
Labels: C: Test/Bench, T: BugFix

#4602 Add RPN function LTReal LEReal GTReal GEReal NEReal EQReal
  src/coprocessor/codec/data_type/mod.rs
  src/coprocessor/dag/rpn_expr/function.rs
  src/coprocessor/dag/rpn_expr/impl_compare.rs
  src/coprocessor/dag/rpn_expr/mod.rs
Labels: S: LGT2

#4598 Support exec summary for normal table / index scan executor.
  benches/coprocessor_executors/mod.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/executor/aggregation.rs
  src/coprocessor/dag/executor/index_scan.rs
  src/coprocessor/dag/executor/mod.rs
  src/coprocessor/dag/executor/scan.rs
  src/coprocessor/dag/executor/table_scan.rs
  src/coprocessor/statistics/analyze.rs
Labels: S: LGT1

#4624 Cherry-pick: import: tune SstFileWriter options to reduce CPU usage (#4611)
  etc/tikv-importer.toml
  src/import/engine.rs
Labels: T: CherryPick

#4607 [cherry-pick 2.1] import,etc: implement a speed limit for tikv-importer (#4412)
  etc/tikv-importer.toml
  src/import/config.rs
  src/import/import.rs
  src/import/mod.rs
  src/import/speed_limiter.rs
  src/lib.rs
  tests/config/mod.rs
  tests/config/test-custom.toml
Labels: S: LGT1, T: CherryPick

#4599 Support exec summary for limit executor
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/executor/limit.rs
Labels: S: LGT2

#4632 raftstore: add tick registry
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/mod.rs
  src/raftstore/store/msg.rs
Labels: C: Raft

#3971 Support CPU profiling sections of code
  Cargo.lock
  Cargo.toml
  components/profiler/Cargo.toml
  components/profiler/examples/prime.rs
  components/profiler/src/lib.rs
  components/profiler/src/profiler_dummy.rs
  components/profiler/src/profiler_unix.rs
Labels: C: Perf, S: LGT1

#4454 codec improvement
  components/codec/src/byte.rs
  components/codec/src/error.rs
  components/codec/src/lib.rs
  components/codec/src/number.rs
Labels: C: Perf, S: LGT2, T: Contributor ⭐️

#4643 Add priority label to coprocessor metrics
  src/coprocessor/dag/executor/metrics.rs
  src/coprocessor/local_metrics.rs
  src/coprocessor/metrics.rs
  src/coprocessor/mod.rs
  src/coprocessor/readpool_context.rs
  src/coprocessor/tracker.rs
Labels: T: Contributor ⭐️

#4637 *: update raft to 0.4.2
  Cargo.lock
  src/raftstore/store/peer.rs
Labels: S: LGT1

#4645 Update to use tzdata 2018i
  Cargo.lock
  Cargo.toml
  src/coprocessor/codec/mysql/time/mod.rs
Labels: C: Copr

#4629 Add *AnyValue functions
  src/coprocessor/dag/expr/builtin_miscellaneous.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#4647 tests: fix tick_after_destroy
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/store.rs
  tests/failpoints/cases/test_conf_change.rs
Labels: C: Raft, T: BugFix

#4650 the panic's param may be `$ty` but not `$tt`
  src/coprocessor/codec/data_type/scalar.rs
Labels: T: Contributor ⭐️

#4648 *: report unreachable in more cases
  benches/misc/raftkv/mod.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/transport_simulate.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/router.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  src/server/raft_client.rs
  src/server/server.rs
  src/server/transport.rs
  tests/integrations/server/raft_client.rs
Labels: C: Raft, C: gRPC, T: Enhancement

#4649 Simplify some code using field type converts
  src/coprocessor/codec/batch/lazy_column.rs
  src/coprocessor/codec/batch/lazy_column_vec.rs
  src/coprocessor/codec/data_type/vector.rs
  src/coprocessor/dag/batch/executors/index_scan_executor.rs
  src/coprocessor/dag/batch/executors/limit_executor.rs
  src/coprocessor/dag/batch/executors/mod.rs
  src/coprocessor/dag/batch/executors/table_scan_executor.rs
  src/coprocessor/dag/rpn_expr/types/expr_eval.rs
Labels: C: Copr

#4653 Cargo: upgrade raft to v0.4.3
  CHANGELOG.md
  Cargo.lock
Labels: C: Raft

#4654 metrics: fix may count metrics multiple times
  src/raftstore/store/fsm/peer.rs
Labels: S: LGT2, T: BugFix

#4660 storage: elide unnecessary life type parameter
  src/storage/mvcc/reader/scanner/mod.rs
Labels: C: Storage

#4665 Coprocessor: Output start_ts in Coprocessor batch messages
  src/coprocessor/dag/builder.rs
Labels: C: Copr

#4663 engine: skip check raft cf in delete range
  components/engine/src/mutable.rs
  components/engine/src/util.rs
Labels: S: LGT2

#4664 codec: Some small improvements
  Cargo.lock
  components/codec/Cargo.toml
  components/codec/src/buffer.rs
  components/codec/src/byte.rs
  components/codec/src/error.rs
  components/codec/src/lib.rs
  components/codec/src/number.rs
Labels: C: Perf

#4671 gc_worker: Change logs about plenty versions to debug level
  src/storage/gc_worker.rs
Labels: C: Storage, S: LGT2

#4683 coprocessor: add unit tests to coverage `parse_frac` all path
  src/coprocessor/codec/mysql/mod.rs
Labels: C: Copr, C: Test/Bench

#4592 tikv/util: support GiB and its families (#4541)
  components/tikv_util/src/config.rs
Labels: S: LGT1

#4690 Update rust-rocksdb to pick up latest Titan changes
  Cargo.lock
Labels: C: RocksDB, C: Titan

#4619 tikv-ctl: make storage.block_cache.capacity dynamic changeable
  components/engine/src/lib.rs
  components/engine/src/rocks/util/engine_metrics.rs
  components/engine/src/rocks/util/metrics_flusher.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  src/bin/tikv-ctl.rs
  src/binutil/server.rs
  src/raftstore/store/bootstrap.rs
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/region_snapshot.rs
  src/raftstore/store/snap.rs
  src/raftstore/store/worker/region.rs
  src/server/debug.rs
  src/storage/kv/rocksdb_engine.rs
  tests/failpoints/cases/test_upgrade.rs
  tests/integrations/raftstore/test_bootstrap.rs
Labels: C: RocksDB, C: TiKV-Ctl

#4678 images: update latest logo
  images/tikv-logo.png
  images/tikv.svg
Labels: C: Doc, S: LGT1

#4685 change coprocessor::dag::expr::builtin_math::test_rand_with_seed
  src/coprocessor/dag/expr/builtin_math.rs
Labels: C: Copr, T: Contributor ⭐️

#4691 test: remove tmp file generated by test_thread_stat_io
  components/tikv_util/src/metrics/threads_linux.rs
Labels: C: Test/Bench

#4684 *: reject transfer leader when the region recently changed config
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/peer.rs
  tests/integrations/raftstore/test_conf_change.rs
Labels: C: Raft

#4655 raftstore: make most ticks lazy
  src/pd/pd.rs
  src/raftstore/store/config.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_region_heartbeat.rs
Labels: C: Raft

#4699 Support exec summary for Selection executor
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/executor/limit.rs
  src/coprocessor/dag/executor/selection.rs
Labels: C: Copr

#4639 tikv: set panic=abort for dev and release
  Cargo.toml
  components/codec/Cargo.toml
  components/panic_hook/src/lib.rs
  components/tikv_util/Cargo.toml
  etc/cargo.config.prod
Labels: C: Build-Time

#4710 coprocessor: add support exec summary for TopN executor
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/executor/index_scan.rs
  src/coprocessor/dag/executor/mod.rs
  src/coprocessor/dag/executor/table_scan.rs
  src/coprocessor/dag/executor/topn.rs
Labels: C: Copr

#4688 raftstore: don't collect read index requests during transfering leader
  components/test_raftstore/src/transport_simulate.rs
  src/raftstore/store/peer.rs
  tests/integrations/raftstore/test_lease_read.rs
Labels: T: BugFix

#4628 txn: use tokio_threadpool for txn scheduler
  src/storage/mod.rs
  src/storage/txn/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/sched_pool.rs
  src/storage/txn/scheduler.rs
Labels: C: Perf, T: Contributor ⭐️

#4709 *: reject transfer leader when the region recently changed config
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/peer.rs
  tests/raftstore_cases/test_conf_change.rs
Labels: T: CherryPick

#4714 *: fix unknown file in log
  Cargo.lock
  Cargo.toml
Labels: T: BugFix

#4635 Batch Simple Aggregation Executor
  src/coprocessor/dag/batch/executors/mod.rs
  src/coprocessor/dag/batch/executors/simple_aggr_executor.rs
  src/coprocessor/dag/batch_handler.rs
  src/coprocessor/dag/builder.rs
Labels: C: Copr, S: LGT1

#4715 coprocessor: add explain analyze support for Aggregation executor
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/executor/aggregation.rs
Labels: C: Copr

#4667 Update rand to 0.6.5
  Cargo.lock
  Cargo.toml
  benches/misc/keybuilder/bench_keybuilder.rs
  benches/misc/serialization/bench_serialization.rs
  benches/misc/util/slice_compare.rs
  components/codec/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/util.rs
  components/test_util/Cargo.toml
  components/test_util/src/kv_generator.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/file.rs
  components/tikv_util/src/lib.rs
  src/coprocessor/dag/expr/builtin_math.rs
  src/coprocessor/dag/expr/mod.rs
  src/coprocessor/statistics/analyze.rs
  src/coprocessor/statistics/cmsketch.rs
  src/import/client.rs
  src/storage/txn/store.rs
  tests/integrations/raftstore/test_multi.rs
Labels: T: Contributor ⭐️

#4098 txn: remove scheduler
  Cargo.lock
  src/storage/mod.rs
  src/storage/txn/latch.rs
  src/storage/txn/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: C: Perf, C: Storage, C: Txn, P: High

#4724 raftstore: don't collect read index requests during transfering leade…
  components/test_raftstore/transport_simulate.rs
  src/raftstore/store/peer.rs
Labels: T: CherryPick

#4615 raftstore: write tombstone state with writes in one batch when catching up logs for merge [release-2.1]
  components/test_raftstore/cluster.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/worker/apply.rs
  tests/failpoints_cases/test_merge.rs
Labels: C: Raft, T: BugFix

#4519 Copr: implement sub_duration_and_string/sub_time_duration_null
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, S: LGT2, T: Contributor ⭐️

#4730 *: fix unknown logs
  Cargo.lock
  Cargo.toml
Labels: T: CherryPick

#4698 *: support pessimistic transaction (experimental feature)
  Cargo.lock
  components/test_raftstore/src/server.rs
  etc/config-template.toml
  src/binutil/server.rs
  src/config.rs
  src/pd/client.rs
  src/pd/config.rs
  src/server/debug.rs
  src/server/metrics.rs
  src/server/node.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/storage/lock_manager/client.rs
  src/storage/lock_manager/config.rs
  src/storage/lock_manager/deadlock.rs
  src/storage/lock_manager/mod.rs
  src/storage/lock_manager/waiter_manager.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/mvcc/lock.rs
  src/storage/mvcc/metrics.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/mvcc/reader/scanner/util.rs
  src/storage/mvcc/txn.rs
  src/storage/mvcc/write.rs
  src/storage/txn/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
  tests/integrations/pd/mock/server.rs
  tests/integrations/raftstore/test_service.rs
  tests/integrations/server/mod.rs
Labels: C: Txn, P: High

#4727 coprocessor: add mod(Int/Real/Decimal) RPN functions
  src/coprocessor/dag/rpn_expr/impl_arithmetic.rs
  src/coprocessor/dag/rpn_expr/mod.rs
Labels: C: Copr

#4737 Move check batch errors to builder
  src/coprocessor/dag/batch/executors/index_scan_executor.rs
  src/coprocessor/dag/batch/executors/selection_executor.rs
  src/coprocessor/dag/batch/executors/simple_aggr_executor.rs
  src/coprocessor/dag/batch/executors/table_scan_executor.rs
  src/coprocessor/dag/builder.rs
Labels: S: LGT2

#4722 config: note Titan experimental feature
  etc/config-template.toml
  src/config.rs
Labels: C: Doc, S: LGT2

#4738 Simplify global aggr def parser signature
  src/coprocessor/dag/aggr_fn/impl_avg.rs
  src/coprocessor/dag/aggr_fn/impl_count.rs
  src/coprocessor/dag/aggr_fn/mod.rs
  src/coprocessor/dag/aggr_fn/parser.rs
  src/coprocessor/dag/batch/executors/index_scan_executor.rs
  src/coprocessor/dag/batch/executors/limit_executor.rs
  src/coprocessor/dag/batch/executors/simple_aggr_executor.rs
  src/coprocessor/dag/batch/executors/table_scan_executor.rs
  src/coprocessor/dag/rpn_expr/impl_arithmetic.rs
Labels: S: LGT2

#4672 *: implement read index service
  components/test_raftstore/src/util.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/worker/read.rs
  src/server/metrics.rs
  src/server/service/kv.rs
  tests/integrations/raftstore/test_service.rs
  tests/integrations/storage/test_raftkv.rs
Labels: C: Raft, C: Server

#4752 Batch Hash Aggregation Executor
  components/match_template/src/lib.rs
  src/coprocessor/codec/mysql/duration.rs
  src/coprocessor/dag/batch/executors/fast_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/mod.rs
  src/coprocessor/dag/batch/executors/selection_executor.rs
  src/coprocessor/dag/batch/executors/simple_aggr_executor.rs
  src/coprocessor/dag/batch/executors/slow_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/util/aggr_executor.rs
  src/coprocessor/dag/batch/executors/util/hash_aggr_helper.rs
  src/coprocessor/dag/batch/executors/util/mod.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/rpn_expr/mod.rs
  src/coprocessor/dag/rpn_expr/types/expr_builder.rs
  src/coprocessor/dag/rpn_expr/types/mod.rs
Labels: C: Copr, P: High, S: LGT2

#4697 *: remove make bench target
  Makefile
  src/raftstore/store/fsm/store.rs
  tests/failpoints/mod.rs
Labels: C: Test/Bench

#4558 raftstore: remove the local reader thread
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/binutil/server.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/mod.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/util.rs
  src/raftstore/store/worker/mod.rs
  src/raftstore/store/worker/read.rs
  src/server/node.rs
  src/server/transport.rs
  src/storage/mod.rs
  tests/integrations/raftstore/test_bootstrap.rs
Labels: C: Raft

#4746 coprocessor: add minus(Int, Real, Decimal) RPN functions
  src/coprocessor/dag/rpn_expr/impl_arithmetic.rs
  src/coprocessor/dag/rpn_expr/mod.rs
Labels: C: Copr

#4591 raftstore: hibernate regions
  CHANGELOG.md
  Cargo.toml
  components/test_raftstore/src/util.rs
  src/raftstore/store/config.rs
  src/raftstore/store/fsm/mod.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  src/server/server.rs
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_conf_change.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: C: Raft

#4502 PD Connection: Retry for infinity, log periodically
  etc/config-template.toml
  src/import/client.rs
  src/pd/client.rs
  src/pd/config.rs
  src/pd/util.rs
  tests/integrations/config/mod.rs
Labels: T: BugFix

#4743 coprocessor: move ExecSummaryCollector out of Executors into a wrapper struct
  benches/coprocessor_executors/mod.rs
  src/coprocessor/dag/batch/executors/fast_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/index_scan_executor.rs
  src/coprocessor/dag/batch/executors/limit_executor.rs
  src/coprocessor/dag/batch/executors/selection_executor.rs
  src/coprocessor/dag/batch/executors/simple_aggr_executor.rs
  src/coprocessor/dag/batch/executors/slow_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/table_scan_executor.rs
  src/coprocessor/dag/batch/executors/util/aggr_executor.rs
  src/coprocessor/dag/batch/executors/util/scan_executor.rs
  src/coprocessor/dag/batch/interface.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/exec_summary.rs
  src/coprocessor/dag/executor/aggregation.rs
  src/coprocessor/dag/executor/index_scan.rs
  src/coprocessor/dag/executor/limit.rs
  src/coprocessor/dag/executor/mod.rs
  src/coprocessor/dag/executor/scan.rs
  src/coprocessor/dag/executor/selection.rs
  src/coprocessor/dag/executor/table_scan.rs
  src/coprocessor/dag/executor/topn.rs
  src/coprocessor/statistics/analyze.rs
Labels: C: Copr, S: LGT2

#4775 *: Fix some typos (#4758)
  benches/misc/coprocessor/codec/chunk/mod.rs
  src/binutil/server.rs
  src/pd/mod.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/peer.rs
  tests/failpoints/cases/test_conf_change.rs
  tests/integrations/raftstore/test_merge.rs
Labels: T: Contributor ⭐️

#4778 raftstore: mark read delegate as invalid correctly (#4765)
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/worker/read.rs
  tests/integrations/raftstore/test_lease_read.rs
Labels: P: Release-blocker

#4782 cop: Support empty aggr fn in batch aggr executor
  src/coprocessor/dag/batch/executors/fast_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/simple_aggr_executor.rs
  src/coprocessor/dag/batch/executors/util/aggr_executor.rs
Labels: P: Release-blocker

#4783 cop: Support empty aggr fn in batch aggr executor (cheery pick #4782)
  src/coprocessor/dag/batch/executors/fast_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/simple_aggr_executor.rs
  src/coprocessor/dag/batch/executors/util/aggr_executor.rs
  tests/integrations/raftstore/test_lease_read.rs
Labels: P: Release-blocker

#4751 Cargo: upgrade raft to v0.4.3 (#4653)
  Cargo.lock
  Cargo.toml
Labels: T: CherryPick

#4497 Fix bugs of `Duration::parse`via `nom`
  Cargo.lock
  Cargo.toml
  src/coprocessor/codec/mysql/duration.rs
  src/coprocessor/dag/expr/builtin_time.rs
Labels: C: Copr, S: LGT2

#4792 Replace all `Into` with `From`
  components/cop_datatype/src/builder/field_type.rs
  components/cop_datatype/src/def/field_type.rs
  components/engine/src/rocks/util/config.rs
  components/tikv_util/src/config.rs
  components/tipb_helper/src/expr_def_builder.rs
  src/coprocessor/codec/error.rs
  src/coprocessor/codec/mysql/time/mod.rs
  src/raftstore/errors.rs
  src/server/debug.rs
Labels: S: LGT2

#4790 Adds BufferVec
  src/coprocessor/codec/batch/buffer_vec.rs
  src/coprocessor/codec/batch/mod.rs
Labels: C: Copr, P: High, S: LGT2

#4794 coprocessor: returns error instead of panic when unexpected take origin
  src/coprocessor/dag/executor/aggregation.rs
  src/coprocessor/dag/executor/index_scan.rs
  src/coprocessor/dag/executor/limit.rs
  src/coprocessor/dag/executor/mod.rs
  src/coprocessor/dag/executor/selection.rs
  src/coprocessor/dag/executor/table_scan.rs
  src/coprocessor/dag/executor/topn.rs
  src/coprocessor/statistics/analyze.rs
Labels: C: Copr, S: LGT2, T: Enhancement

#4682 raftstore: skip empty callback
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  tests/integrations/raftstore/test_lease_read.rs
Labels: C: Raft, T: Enhancement

#4734 raftstore: ignore error when sending messages
  components/test_raftstore/src/transport_simulate.rs
  src/binutil/setup.rs
  src/raftstore/store/peer.rs
  tests/failpoints/cases/test_conf_change.rs
  tests/integrations/raftstore/test_lease_read.rs
Labels: T: BugFix

#4748 txn: some refinements to reduce duplicate code
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
Labels: C: Txn

#4786 coprocessor: Batch Stream Aggregation Executor
  src/coprocessor/codec/data_type/mod.rs
  src/coprocessor/codec/data_type/scalar.rs
  src/coprocessor/codec/data_type/vector.rs
  src/coprocessor/dag/batch/executors/fast_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/mod.rs
  src/coprocessor/dag/batch/executors/simple_aggr_executor.rs
  src/coprocessor/dag/batch/executors/slow_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/stream_aggr_executor.rs
  src/coprocessor/dag/batch/executors/util/aggr_executor.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/rpn_expr/types/expr_eval.rs
Labels: C: Copr, P: High, S: LGT2

#4771 coprocessor: Add batch aggregate function FIRST
  src/coprocessor/dag/aggr_fn/impl_first.rs
  src/coprocessor/dag/aggr_fn/mod.rs
  src/coprocessor/dag/aggr_fn/parser.rs
Labels: C: Copr, S: LGT2

#4757 tools: update pd control doc
  docs/tools/pd-control.md
Labels: C: Doc

#4796 coprocessor: Refine LazyBatchColumn to use BufferVec
  Cargo.lock
  Cargo.toml
  src/coprocessor/codec/batch/buffer_vec.rs
  src/coprocessor/codec/batch/lazy_column.rs
  src/coprocessor/codec/batch/lazy_column_vec.rs
  src/coprocessor/codec/data_type/vector.rs
  src/coprocessor/dag/batch/executors/fast_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/index_scan_executor.rs
  src/coprocessor/dag/batch/executors/selection_executor.rs
  src/coprocessor/dag/batch/executors/slow_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/table_scan_executor.rs
  src/coprocessor/dag/rpn_expr/types/expr_eval.rs
Labels: C: Copr, S: LGT2

#4723 apply: flush apply state before taking snapshot
  components/test_raftstore/src/cluster.rs
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/peer.rs
  tests/failpoints/cases/test_pending_peers.rs
Labels: C: Raft

#4795 Fix typo in readme
  README.md
Labels: T: Contributor ⭐️

#4803 GOVERNANCE.md: fix the release version number check
  GOVERNANCE.md
Labels: C: Doc

#4797 Coprocessor: Support SUM()
  src/coprocessor/dag/aggr_fn/impl_sum.rs
  src/coprocessor/dag/aggr_fn/mod.rs
  src/coprocessor/dag/aggr_fn/parser.rs
Labels: C: Copr, S: LGT2

#4811 raftstore: sync all cf files of received snapshots (#4807)
  CHANGELOG.md
  src/raftstore/store/snap.rs
Labels: T: CHANGELOG

#4810 raftstore: clear stale reads after role change
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/peer.rs
  tests/failpoints/cases/test_stale_read.rs
  tests/integrations/raftstore/test_lease_read.rs
Labels: T: BugFix
