Repository tikv/tikv, pull requests merged in 2019-06, with the labels that each got.

#4825 Batch Top N Executor
  components/tikv_util/src/lib.rs
  src/coprocessor/codec/batch/lazy_column.rs
  src/coprocessor/codec/batch/lazy_column_vec.rs
  src/coprocessor/codec/data_type/scalar.rs
  src/coprocessor/codec/data_type/vector.rs
  src/coprocessor/dag/batch/executors/mod.rs
  src/coprocessor/dag/batch/executors/stream_aggr_executor.rs
  src/coprocessor/dag/batch/executors/top_n_executor.rs
  src/coprocessor/dag/builder.rs
  src/coprocessor/dag/rpn_expr/types/expr_eval.rs
Labels: C: Copr

#4763 Add help message in doc:go-client-api.md
  docs/clients/go-client-api.md
Labels: C: Doc, S: LGT2, T: Contributor ⭐️

#4840 Makefile: fix gdb check
  scripts/check-sse4_2.sh
Labels: T: Contributor ⭐️

#4801 pessimistic-txn: solve non-pessimistic-lock conflict
  Cargo.lock
  src/server/debug.rs
  src/server/service/kv.rs
  src/storage/lock_manager/waiter_manager.rs
  src/storage/mod.rs
  src/storage/mvcc/lock.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
  tests/integrations/raftstore/test_service.rs
Labels: C: Txn, S: LGT1

#4824 coprocessor: add batch aggregate function BitAnd/BitOr/BitXor
  src/coprocessor/dag/aggr_fn/impl_bit_op.rs
  src/coprocessor/dag/aggr_fn/mod.rs
  src/coprocessor/dag/aggr_fn/parser.rs
  src/coprocessor/dag/aggr_fn/util.rs
Labels: C: Copr

#4837 coprocessor: add batch aggregate function Max/Min
  src/coprocessor/dag/aggr_fn/impl_max_min.rs
  src/coprocessor/dag/aggr_fn/mod.rs
  src/coprocessor/dag/aggr_fn/parser.rs
Labels: C: Copr

#4850 Add missing fsync calls in the snapshot module
  components/tikv_util/src/file.rs
  src/raftstore/store/snap.rs
Labels: P: Critical, T: BugFix

#4600 use HTTP to enable jemalloc profile
  Cargo.lock
  Cargo.toml
  components/tikv_alloc/src/default.rs
  components/tikv_alloc/src/error.rs
  components/tikv_alloc/src/jemalloc.rs
  components/tikv_alloc/src/lib.rs
  src/binutil/signal_handler.rs
  src/server/status_server.rs
Labels: T: Contributor ⭐️

#4844 shrink the latch waiting list
  src/storage/txn/latch.rs
Labels: C: Storage, C: Txn

#4829 scheduler use spin::Mutex
  Cargo.lock
  Cargo.toml
  src/storage/txn/latch.rs
  src/storage/txn/scheduler.rs
Labels: C: Perf

#4754 txn: expire long remaining detect info in detect table to prevent memory leak
  src/storage/lock_manager/deadlock.rs
  src/storage/lock_manager/util.rs
Labels: C: Txn, T: Enhancement

#4813 txn: avoid useless calculation and wake-up msgs
  src/storage/lock_manager/mod.rs
  src/storage/lock_manager/waiter_manager.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: S: LGT1

#4852 pessimistic-txn: add metrics
  src/storage/lock_manager/deadlock.rs
  src/storage/lock_manager/metrics.rs
  src/storage/lock_manager/mod.rs
  src/storage/lock_manager/waiter_manager.rs
Labels: C: Txn

#4848 pessimistic-txn: implement pessimistic rollback
  Cargo.lock
  Cargo.toml
  src/server/metrics.rs
  src/server/service/kv.rs
  src/storage/lock_manager/util.rs
  src/storage/lock_manager/waiter_manager.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/mvcc/metrics.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: C: Storage, C: Txn

#4847 Implement RpnFunction LIKE
  src/coprocessor/dag/expr/builtin_like.rs
  src/coprocessor/dag/expr_util/like.rs
  src/coprocessor/dag/expr_util/mod.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/dag/rpn_expr/impl_like.rs
  src/coprocessor/dag/rpn_expr/mod.rs
Labels: C: Copr

#4869 coprocessor: reduce allocations in slow hash aggregation
  components/tikv_util/src/lib.rs
  src/coprocessor/dag/batch/executors/slow_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/stream_aggr_executor.rs
  src/coprocessor/dag/batch/executors/top_n_executor.rs
  src/coprocessor/dag/batch/executors/util/aggr_executor.rs
  src/coprocessor/dag/rpn_expr/types/expr_eval.rs
Labels: C: Copr

#4836 metrics: add titan metrics
  Cargo.lock
  components/engine/src/rocks/util/engine_metrics.rs
Labels: C: Titan

#4863 engine: check iter status when scanning
  components/engine/src/iterable.rs
  components/engine/src/util.rs
  src/import/stream.rs
  src/raftstore/store/region_snapshot.rs
Labels: C: RocksDB, S: LGT2, T: BugFix

#4826 use static metric to reduce the cost of `with_label_values` in scheduler
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: C: Perf

#4862 improve bad-regions and tombstone subcommands for tikv-ctl
  src/bin/tikv-ctl.rs
  src/server/debug.rs
Labels: C: TiKV-Ctl

#4865 Add blob-run-mode for titan
  Cargo.lock
  components/engine/src/rocks/mod.rs
  components/engine/src/rocks/util/config.rs
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: C: Titan, S: LGT2

#4868 Docs: add error hint for golang lint
  docs/clients/go-client-api.md
Labels: C: Doc, T: Contributor ⭐️

#4705 storage/gc_worker: Add more metrics
  src/storage/gc_worker.rs
  src/storage/metrics.rs
Labels: S: LGT1

#4614 scheduler: write command should acquire write lock
  components/test_coprocessor/src/store.rs
  src/storage/mod.rs
  src/storage/txn/scheduler.rs
Labels: S: LGT2

#4788 set Enum and Set to valid batch types
  src/coprocessor/dag/batch/executors/util/scan_executor.rs
Labels: C: Copr, T: Contributor ⭐️

#4883 pessimistic-txn: resolve all optimistic locks when non-pessimistic lock conflict occurs
  src/storage/mvcc/txn.rs
Labels: C: Txn

#4689 Turn off debuginfo for dev, test, bench; turn on thinLTO for bench
  Cargo.toml
  Makefile
  README.md
  etc/cargo.config.dev-opt
  etc/cargo.config.test
  scripts/run-cargo.sh
Labels: C: Build-Time

#4888 cherry-pick: changes to make latency stable
  CHANGELOG.md
  components/test_raftstore/src/transport_simulate.rs
  src/binutil/setup.rs
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  tests/failpoints/cases/test_conf_change.rs
  tests/integrations/raftstore/test_lease_read.rs
Labels: T: CherryPick

#4873 Dockerfile use the Makefile to build tikv
  Dockerfile
  Makefile
  scripts/gen-dockerfile.sh
Labels: C: Build, T: Contributor ⭐️

#4899 support ARM64
  Cargo.lock
Labels: C: Build, C: RocksDB, S: LGT2

#4876 raftstore: generate snapshot after applying the current commit idx
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
Labels: C: Raft

#4885 coprocessor: Very late materialization
  benches/coprocessor_executors/util/fixture.rs
  components/cop_codegen/src/rpn_function.rs
  components/tikv_util/src/lib.rs
  src/coprocessor/codec/batch/buffer_vec.rs
  src/coprocessor/codec/batch/lazy_column.rs
  src/coprocessor/codec/batch/lazy_column_vec.rs
  src/coprocessor/codec/data_type/mod.rs
  src/coprocessor/codec/data_type/scalar.rs
  src/coprocessor/codec/data_type/vector.rs
  src/coprocessor/codec/data_type/vector_like.rs
  src/coprocessor/codec/mod.rs
  src/coprocessor/codec/raw_datum.rs
  src/coprocessor/dag/aggr_fn/impl_avg.rs
  src/coprocessor/dag/aggr_fn/impl_bit_op.rs
  src/coprocessor/dag/aggr_fn/impl_count.rs
  src/coprocessor/dag/aggr_fn/impl_first.rs
  src/coprocessor/dag/aggr_fn/impl_max_min.rs
  src/coprocessor/dag/aggr_fn/impl_sum.rs
  src/coprocessor/dag/aggr_fn/mod.rs
  src/coprocessor/dag/batch/executors/fast_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/index_scan_executor.rs
  src/coprocessor/dag/batch/executors/limit_executor.rs
  src/coprocessor/dag/batch/executors/selection_executor.rs
  src/coprocessor/dag/batch/executors/simple_aggr_executor.rs
  src/coprocessor/dag/batch/executors/slow_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/stream_aggr_executor.rs
  src/coprocessor/dag/batch/executors/table_scan_executor.rs
  src/coprocessor/dag/batch/executors/top_n_executor.rs
  src/coprocessor/dag/batch/executors/util/aggr_executor.rs
  src/coprocessor/dag/batch/executors/util/hash_aggr_helper.rs
  src/coprocessor/dag/batch/executors/util/mod.rs
  src/coprocessor/dag/batch/executors/util/scan_executor.rs
  src/coprocessor/dag/batch/interface.rs
  src/coprocessor/dag/batch_handler.rs
  src/coprocessor/dag/rpn_expr/function.rs
  src/coprocessor/dag/rpn_expr/types/expr_eval.rs
  src/coprocessor/dag/rpn_expr/types/mod.rs
  src/coprocessor/dag/rpn_expr/types/test_util.rs
  src/coprocessor/dag/rpn_expr/types/vector_view.rs
Labels: C: Copr

#4830 add 2 metrics.
  src/raftstore/store/metrics.rs
  src/raftstore/store/peer.rs
Labels: C: Raft

#4694 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: T: Contributor ⭐️

#4860 copr: introduce rpn_fn macro to generate RPN function code under the new framework
  Cargo.lock
  components/cop_codegen/Cargo.toml
  components/cop_codegen/src/lib.rs
  components/cop_codegen/src/rpn_function.rs
  src/coprocessor/dag/rpn_expr/function.rs
  src/coprocessor/dag/rpn_expr/impl_compare.rs
  src/lib.rs
Labels: C: Copr

#4889 Cherry-pick pessimistic txn related PR into release-3.0
  Cargo.lock
  Cargo.toml
  src/server/debug.rs
  src/server/metrics.rs
  src/server/service/kv.rs
  src/storage/lock_manager/deadlock.rs
  src/storage/lock_manager/metrics.rs
  src/storage/lock_manager/mod.rs
  src/storage/lock_manager/util.rs
  src/storage/lock_manager/waiter_manager.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/mvcc/lock.rs
  src/storage/mvcc/metrics.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
  tests/integrations/raftstore/test_service.rs
Labels: T: CherryPick

#4855 implement add_time_string_null
  src/coprocessor/dag/expr/builtin_time.rs
  src/coprocessor/dag/expr/scalar_function.rs
Labels: C: Copr, T: Contributor ⭐️

#4444 Add http failpoints on status_server
  src/server/status_server.rs
Labels: C: Server, S: LGT1, T: Contributor ⭐️

#4490 Support replicating delete_range request but do not delete data when applying
  Cargo.lock
  Cargo.toml
  components/engine/Cargo.toml
  components/log_wrappers/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_storage/Cargo.toml
  src/raftstore/store/fsm/apply.rs
  src/server/service/kv.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/mod.rs
  src/storage/kv/raftkv.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  tests/integrations/raftstore/test_single.rs
Labels: C: Raft

#4931 [3.0 cherry-pick] Support replicating delete_range request but do not delete data when …
  Cargo.lock
  Cargo.toml
  components/engine/Cargo.toml
  components/log_wrappers/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_storage/Cargo.toml
  src/raftstore/store/fsm/apply.rs
  src/server/service/kv.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/mod.rs
  src/storage/kv/raftkv.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  tests/integrations/raftstore/test_single.rs
Labels: C: Raft, P: Release-blocker

#4929 docs: reorg documentation structure for 3.0 updates
  docs/V2.1/2018-ROADMAP.md
  docs/V2.1/ROADMAP.md
  docs/V2.1/adopters.md
  docs/V2.1/clients/go-client-api.md
  docs/V2.1/op-guide/ansible-deployment-scale.md
  docs/V2.1/op-guide/coprocessor-config.md
  docs/V2.1/op-guide/deploy-tikv-using-ansible.md
  docs/V2.1/op-guide/deploy-tikv-using-binary.md
  docs/V2.1/op-guide/deploy-tikv-using-docker-compose.md
  docs/V2.1/op-guide/deploy-tikv-using-docker.md
  docs/V2.1/op-guide/grpc-config.md
  docs/V2.1/op-guide/horizontal-scale.md
  docs/V2.1/op-guide/key-metrics.md
  docs/V2.1/op-guide/label-config.md
  docs/V2.1/op-guide/monitor-a-tikv-cluster.md
  docs/V2.1/op-guide/monitor-overview.md
  docs/V2.1/op-guide/namespace-config.md
  docs/V2.1/op-guide/pd-scheduler-config.md
  docs/V2.1/op-guide/recommendation.md
  docs/V2.1/op-guide/rocksdb-option-config.md
  docs/V2.1/op-guide/security-config.md
  docs/V2.1/op-guide/storage-config.md
  docs/V2.1/overview.md
  docs/V2.1/tools/pd-control.md
  docs/V2.1/tools/pd-recover.md
  docs/V2.1/tools/tikv-control.md
  docs/how-to/configure/namespace.md
  docs/how-to/deploy/hardware-recommendation.md
  docs/how-to/deploy/location-awareness.md
  docs/how-to/deploy/using-ansible.md
  docs/how-to/deploy/using-binary.md
  docs/how-to/deploy/using-docker.md
  docs/how-to/get-started/deploy-using-docker-compose.md
  docs/how-to/monitor/overview.md
  docs/how-to/monitor/tikv-cluster.md
  docs/how-to/scale/ansible-deployment-scale.md
  docs/how-to/scale/horizontal-scale.md
  docs/reference/clients/go-client-api.md
  docs/reference/configuration/coprocessor-config.md
  docs/reference/configuration/grpc-config.md
  docs/reference/configuration/pd-scheduler-config.md
  docs/reference/configuration/rocksdb-option-config.md
  docs/reference/configuration/security-config.md
  docs/reference/configuration/storage-config.md
  docs/reference/monitor/key-metrics.md
  docs/reference/tools/pd-control.md
  docs/reference/tools/pd-recover.md
  docs/reference/tools/tikv-control.md
Labels: C: Doc

#4925 cherry pick some commits from master to release 3.0
  components/tikv_util/src/file.rs
  src/bin/tikv-ctl.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/metrics.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/snap.rs
  src/server/debug.rs
  tests/failpoints/cases/test_stale_read.rs
  tests/integrations/raftstore/test_lease_read.rs
Labels: P: Release-blocker, T: CherryPick

#4861 copr: change the whole project to use the new RPN function framework
  components/cop_codegen/src/lib.rs
  components/cop_codegen/src/rpn_function.rs
  src/coprocessor/dag/batch/executors/fast_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/selection_executor.rs
  src/coprocessor/dag/batch/executors/slow_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/stream_aggr_executor.rs
  src/coprocessor/dag/batch/executors/top_n_executor.rs
  src/coprocessor/dag/rpn_expr/function.rs
  src/coprocessor/dag/rpn_expr/impl_arithmetic.rs
  src/coprocessor/dag/rpn_expr/impl_cast.rs
  src/coprocessor/dag/rpn_expr/impl_compare.rs
  src/coprocessor/dag/rpn_expr/impl_control.rs
  src/coprocessor/dag/rpn_expr/impl_like.rs
  src/coprocessor/dag/rpn_expr/impl_op.rs
  src/coprocessor/dag/rpn_expr/mod.rs
  src/coprocessor/dag/rpn_expr/types/expr.rs
  src/coprocessor/dag/rpn_expr/types/expr_builder.rs
  src/coprocessor/dag/rpn_expr/types/expr_eval.rs
  src/coprocessor/dag/rpn_expr/types/mod.rs
  src/coprocessor/dag/rpn_expr/types/vector_view.rs
Labels: C: Copr

#4910 fix a tiny bug about tikv-ctl
  src/bin/tikv-ctl.rs
Labels: C: TiKV-Ctl, T: BugFix

#4922 storage/gc_worker: Add more metrics (#4705)
  src/storage/gc_worker.rs
  src/storage/metrics.rs
Labels: C: Storage, P: Release-blocker, T: CherryPick

#4936 engine: check iter status when scanning (#4863)
  CHANGELOG.md
  components/engine/src/iterable.rs
  components/engine/src/util.rs
  src/import/stream.rs
  src/raftstore/store/region_snapshot.rs
Labels: P: Release-blocker, T: CherryPick

#4937 Update rust-rocksdb and change branch
  CHANGELOG.md
  Cargo.lock
  components/engine/Cargo.toml
Labels: P: Release-blocker, T: CherryPick

#4940 storage: check iter status when invalid
  Cargo.lock
  src/import/stream.rs
  src/raftstore/store/region_snapshot.rs
  src/storage/engine/mod.rs
  src/storage/engine/raftkv.rs
  src/storage/engine/rocksdb.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/backward_scanner.rs
  src/storage/mvcc/reader/forward_scanner.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/mvcc/reader/util.rs
  src/storage/txn/store.rs
Labels: P: Release-blocker, T: CherryPick

#4948 cop_codegen: replace 'parse + unwrap' with 'quote!'
  components/cop_codegen/src/lib.rs
  components/cop_codegen/src/rpn_function.rs
Labels: C: Copr

#4933 docs/how-to: update doc for titan
  docs/how-to/configure/titan.md
  images/titan-architecture.png
Labels: C: Doc

#4890 coprocessor: parse expression 'val' while expression is ScalarFunction
  src/coprocessor/dag/aggr_fn/util.rs
  src/coprocessor/dag/expr/mod.rs
  src/coprocessor/dag/rpn_expr/impl_cast.rs
  src/coprocessor/dag/rpn_expr/types/expr.rs
  src/coprocessor/dag/rpn_expr/types/expr_builder.rs
  src/coprocessor/dag/rpn_expr/types/expr_eval.rs
  src/coprocessor/dag/rpn_expr/types/mod.rs
Labels: C: Copr

#4957 cop: Cherry pick several PRs from master
  Cargo.lock
  benches/coprocessor_executors/util/fixture.rs
  components/cop_codegen/Cargo.toml
  components/cop_codegen/src/lib.rs
  components/cop_codegen/src/rpn_function.rs
  components/tikv_util/src/lib.rs
  src/coprocessor/codec/batch/buffer_vec.rs
  src/coprocessor/codec/batch/lazy_column.rs
  src/coprocessor/codec/batch/lazy_column_vec.rs
  src/coprocessor/codec/data_type/mod.rs
  src/coprocessor/codec/data_type/scalar.rs
  src/coprocessor/codec/data_type/vector.rs
  src/coprocessor/codec/data_type/vector_like.rs
  src/coprocessor/codec/mod.rs
  src/coprocessor/codec/mysql/decimal.rs
  src/coprocessor/codec/raw_datum.rs
  src/coprocessor/dag/aggr_fn/impl_avg.rs
  src/coprocessor/dag/aggr_fn/impl_bit_op.rs
  src/coprocessor/dag/aggr_fn/impl_count.rs
  src/coprocessor/dag/aggr_fn/impl_first.rs
  src/coprocessor/dag/aggr_fn/impl_max_min.rs
  src/coprocessor/dag/aggr_fn/impl_sum.rs
  src/coprocessor/dag/aggr_fn/mod.rs
  src/coprocessor/dag/batch/executors/fast_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/index_scan_executor.rs
  src/coprocessor/dag/batch/executors/limit_executor.rs
  src/coprocessor/dag/batch/executors/selection_executor.rs
  src/coprocessor/dag/batch/executors/simple_aggr_executor.rs
  src/coprocessor/dag/batch/executors/slow_hash_aggr_executor.rs
  src/coprocessor/dag/batch/executors/stream_aggr_executor.rs
  src/coprocessor/dag/batch/executors/table_scan_executor.rs
  src/coprocessor/dag/batch/executors/top_n_executor.rs
  src/coprocessor/dag/batch/executors/util/aggr_executor.rs
  src/coprocessor/dag/batch/executors/util/hash_aggr_helper.rs
  src/coprocessor/dag/batch/executors/util/mod.rs
  src/coprocessor/dag/batch/executors/util/scan_executor.rs
  src/coprocessor/dag/batch/interface.rs
  src/coprocessor/dag/batch_handler.rs
  src/coprocessor/dag/rpn_expr/function.rs
  src/coprocessor/dag/rpn_expr/impl_arithmetic.rs
  src/coprocessor/dag/rpn_expr/impl_cast.rs
  src/coprocessor/dag/rpn_expr/impl_compare.rs
  src/coprocessor/dag/rpn_expr/impl_control.rs
  src/coprocessor/dag/rpn_expr/impl_like.rs
  src/coprocessor/dag/rpn_expr/impl_op.rs
  src/coprocessor/dag/rpn_expr/mod.rs
  src/coprocessor/dag/rpn_expr/types/expr.rs
  src/coprocessor/dag/rpn_expr/types/expr_builder.rs
  src/coprocessor/dag/rpn_expr/types/expr_eval.rs
  src/coprocessor/dag/rpn_expr/types/mod.rs
  src/coprocessor/dag/rpn_expr/types/test_util.rs
  src/lib.rs
Labels: P: Release-blocker, T: CherryPick

#4961 Cherry pick #4921
  Cargo.lock
  Cargo.toml
  components/engine/Cargo.toml
  components/engine/src/errors.rs
  components/log_wrappers/Cargo.toml
  components/log_wrappers/src/lib.rs
  components/test_coprocessor/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/pd.rs
  components/test_raftstore/src/util.rs
  components/test_storage/Cargo.toml
  src/coprocessor/codec/table.rs
  src/coprocessor/dag/scanner.rs
  src/coprocessor/tracker.rs
  src/pd/errors.rs
  src/pd/pd.rs
  src/raftstore/coprocessor/region_info_accessor.rs
  src/raftstore/coprocessor/split_check/size.rs
  src/raftstore/coprocessor/split_check/table.rs
  src/raftstore/coprocessor/split_observer.rs
  src/raftstore/errors.rs
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/keys.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/region_snapshot.rs
  src/raftstore/store/util.rs
  src/raftstore/store/worker/compact.rs
  src/raftstore/store/worker/region.rs
  src/server/debug.rs
  src/storage/kv/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/write.rs
  src/storage/txn/mod.rs
  tests/integrations/storage/test_raftkv.rs
Labels: P: Release-blocker, T: CherryPick

#4959 Add some metrics to Coprocessor
  src/coprocessor/dag/builder.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/metrics.rs
Labels: P: Release-blocker

#4965 Cherry pick: Add some coprocessor metrics (#4959)
  src/coprocessor/dag/builder.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/metrics.rs
Labels: P: Release-blocker, T: CherryPick

#4967 more check about transferring leader during configuration change (#4799)
  src/raftstore/store/peer.rs
Labels: P: Release-blocker

#4969 [release-3.0] engine: add titan key only option
  Cargo.lock
  components/engine/src/iterable.rs
  components/engine/src/util.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: P: Release-blocker

#4972 update hashbrown to 0.5
  Cargo.lock
  Cargo.toml
  components/tikv_util/Cargo.toml
Labels: T: Contributor ⭐️

#4977 update lazy_static to 1.3
  Cargo.lock
  Cargo.toml
  components/engine/Cargo.toml
  components/tikv_util/Cargo.toml
  fuzz/Cargo.toml
Labels: T: Contributor ⭐️

#4932 Refine deadlock
  etc/config-template.toml
  src/binutil/server.rs
  src/storage/lock_manager/client.rs
  src/storage/lock_manager/config.rs
  src/storage/lock_manager/deadlock.rs
  src/storage/lock_manager/metrics.rs
Labels: C: Txn

#4955 raftstore: move duplicated code into exists macro
  src/raftstore/store/fsm/batch.rs
Labels: T: Enhancement

#4963 Cherry pick makefile & rust-toolchain changes
  Cargo.lock
  Cargo.toml
  Dockerfile
  Makefile
  README.md
  benches/misc/raftkv/mod.rs
  components/engine/Cargo.toml
  etc/cargo.config.dev-opt
  etc/cargo.config.test
  rust-toolchain
  scripts/check-sse4_2.sh
  scripts/gen-dockerfile.sh
  scripts/run-cargo.sh
Labels: T: CherryPick

#4986 Revert "Cherry pick makefile & rust-toolchain changes"
  Cargo.lock
  Cargo.toml
  Dockerfile
  Makefile
  README.md
  benches/misc/raftkv/mod.rs
  components/engine/Cargo.toml
  etc/cargo.config.dev-opt
  etc/cargo.config.test
  rust-toolchain
  scripts/check-sse4_2.sh
  scripts/gen-dockerfile.sh
  scripts/run-cargo.sh
Labels: P: Critical

#4958 docs/how-to, reference: update Region Merge
  docs/how-to/configure/region-merge.md
  docs/reference/tools/pd-control.md
Labels: C: Doc

#4994 *: bump 3.0.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: P: Release-blocker
