Repository tikv/tikv, pull requests merged in 2020-03, with the labels that each got.

#6963 tidb_query: eliminate Arc<identical_logical_row>
  components/tidb_query/src/lib.rs
  components/tidb_query/src/rpn_expr/types/expr_eval.rs
Labels: component/coprocessor, status/can-merge

#6716 tidb_query: Let collated group by column return original data
  components/tidb_query/src/batch/executors/fast_hash_aggr_executor.rs
  components/tidb_query/src/batch/executors/slow_hash_aggr_executor.rs
  components/tidb_query/src/rpn_expr/types/function.rs
Labels: component/coprocessor, status/can-merge

#6968 copr/string: remove unnecessary allocation
  components/tidb_query/src/expr/builtin_string.rs
Labels: component/coprocessor, contribution, status/can-merge

#6739 *: move event listener into engine_rocks
  components/engine/src/rocks/util/metrics_flusher.rs
  components/engine/src/rocks/util/mod.rs
  components/engine_rocks/src/event_listener.rs
  components/engine_rocks/src/lib.rs
  src/config.rs
Labels: contribution, status/can-merge

#6970 backup: fix test_writer
  components/backup/src/writer.rs
Labels: needs-cherry-pick-3.1, status/can-merge

#6966 raftstore: skip commit index check on wake up
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
Labels: component/raft, needs-cherry-pick-3.1, status/can-merge, type/bugfix

#6691 cdc: check leadership before subscribing
  Cargo.lock
  cmd/src/server.rs
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/tests/integrations/mod.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  tests/failpoints/cases/test_cdc.rs
Labels: component/CDC, status/can-merge

#6713 copr: support collation aware compare_in
  components/tidb_query/src/codec/collation/mod.rs
  components/tidb_query/src/rpn_expr/impl_compare_in.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: component/coprocessor, contribution, status/can-merge

#6977 tikv-server: update explanation of enable-dynamic-config
  cmd/src/bin/tikv-server.rs
Labels: status/can-merge

#6975 raftstore, backup: fix test_read_hibernated_region & test_writer
  components/backup/src/writer.rs
  tests/integrations/raftstore/test_replica_read.rs
Labels: type/bugfix

#6360 copr: add vectorized and non-vectorized json keys
  components/tidb_query/src/expr/builtin_json.rs
  components/tidb_query/src/expr/scalar_function.rs
  components/tidb_query/src/rpn_expr/impl_json.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: component/coprocessor, contribution, sig/coprocessor, status/PTAL, status/can-merge

#6664 backup: do fill in the file size of each SST file in the response
  components/backup/src/writer.rs
  components/backup/tests/integrations/test_backup.rs
Labels: component/backup-restore, needs-cherry-pick-3.1, status/LGT2, status/can-merge, type/bugfix

#6988 tikv_util: refine some slog relate code
  components/test_util/src/logging.rs
  components/tikv_util/src/logger/mod.rs
Labels: component/util, contribution, status/can-merge

#6996 fix bug of early apply
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/engine/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/external_storage/Cargo.toml
  components/into_other/Cargo.toml
  components/keys/Cargo.toml
  components/pd_client/Cargo.toml
  components/raftstore/Cargo.toml
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/sst_importer/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_sst_importer/Cargo.toml
  components/test_storage/Cargo.toml
  components/tidb_query/Cargo.toml
  components/txn_types/Cargo.toml
  fuzz/targets/Cargo.toml
  src/server/debug.rs
  tests/Cargo.toml
  tests/failpoints/cases/test_merge.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_early_apply.rs
  tests/integrations/raftstore/test_multi.rs
Labels: component/performance, component/raft, type/cherry-pick

#6697 Move WriteBatch from engine to engine_traits/rocks
  components/engine/src/lib.rs
  components/engine/src/rocks/db.rs
  components/engine/src/rocks/mod.rs
  components/engine/src/util.rs
  components/engine_panic/src/engine.rs
  components/engine_panic/src/write_batch.rs
  components/engine_rocks/src/engine.rs
  components/engine_rocks/src/write_batch.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/engines.rs
  components/engine_traits/src/mutable.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/compact.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/raftstore/src/store/worker/region.rs
  src/server/debug.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mvcc/reader/reader.rs
  tests/benches/misc/writebatch/bench_writebatch.rs
  tests/benches/raftstore/mod.rs
Labels: status/LGT2, status/can-merge

#6707 Parameterize much of raftstore over engines
  Cargo.lock
  cmd/src/server.rs
  components/cdc/src/endpoint.rs
  components/engine_panic/Cargo.toml
  components/engine_panic/src/table_properties.rs
  components/engine_rocks/src/compact_listener.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/table_properties.rs
  components/engine_traits/src/errors.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/properties.rs
  components/engine_traits/src/table_properties.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/properties.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/compact.rs
  components/raftstore/src/store/worker/consistency_check.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/raftstore/src/store/worker/read.rs
  components/raftstore/src/store/worker/region.rs
  components/raftstore/src/store/worker/split_check.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/transport_simulate.rs
  components/test_raftstore/src/util.rs
  src/server/node.rs
  src/server/server.rs
  tests/benches/misc/raftkv/mod.rs
  tests/integrations/config/dynamic/raftstore.rs
Labels: status/LGT2, status/can-merge

#6997 Add security audit report
  README.md
  docs/Security-Audit.pdf
Labels: component/documentation

#7010 copr: add vectorized char_length
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: contribution, status/can-merge

#6715 txn: check keys must be not exists
  Cargo.lock
  components/raftstore/src/store/fsm/peer.rs
  components/txn_types/src/lock.rs
  components/txn_types/src/types.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/commands.rs
Labels: component/storage, status/can-merge

#7015 config: enable dynamic config by default
  cmd/src/bin/tikv-server.rs
  cmd/src/server.rs
  cmd/src/setup.rs
  src/config.rs
  tests/integrations/config/dynamic/raftstore.rs
Labels: status/can-merge

#7012 *: speed up test build
  Makefile
  components/sst_importer/src/sst_importer.rs
  components/tikv_alloc/src/jemalloc.rs
  tests/Cargo.toml
Labels: component/build, component/build-time, component/test-bench, status/can-merge, type/enhancement

#7018 cdc: check failpoints feature for failpoint tests
  components/cdc/tests/integrations/mod.rs
  components/cdc/tests/integrations/test_cdc.rs
Labels: status/can-merge

#6989 *: remove CompactionJobInfo re-exports
  components/engine/src/rocks/mod.rs
  components/engine_rocks/src/compact_listener.rs
  components/engine_traits/src/compact.rs
  components/engine_traits/src/lib.rs
  components/raftstore/src/store/fsm/store.rs
  components/test_raftstore/src/util.rs
Labels: component/rocksdb, contribution, status/can-merge

#6578 allow to custom quorum fn
  Cargo.lock
  Cargo.toml
  cmd/src/bin/tikv-ctl.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/util.rs
  components/test_raftstore/src/cluster.rs
  src/server/debug.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_custom_quorum.rs
Labels: status/can-merge

#6699 cop: move the logic of limiting heavy tasks out of runner
  Cargo.lock
  Cargo.toml
  components/tidb_query/Cargo.toml
  components/tidb_query/src/batch/runner.rs
  components/tidb_query/src/metrics.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/interceptors/concurrency_limiter.rs
  src/coprocessor/interceptors/mod.rs
  src/coprocessor/metrics.rs
  src/coprocessor/mod.rs
Labels: component/coprocessor, status/can-merge

#6986 utils: Use an extra drainer for slow logs
  cmd/src/setup.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/test_util/src/logging.rs
  components/tikv_util/src/config.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/logger/mod.rs
  components/tikv_util/src/macros.rs
  components/tikv_util/src/worker/mod.rs
  etc/config-template.toml
  src/config.rs
  src/coprocessor/tracker.rs
  src/server/gc_worker/gc_worker.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/util, contribution, status/can-merge

#5885 copr: Add non-vectorized repeat
  components/tidb_query/src/expr/builtin_string.rs
  components/tidb_query/src/expr/scalar_function.rs
Labels: component/coprocessor, contribution, status/waiting

#7034 tikv_alloc: remove unwrap and refine README.md
  components/tikv_alloc/README.md
  components/tikv_alloc/src/error.rs
  components/tikv_alloc/src/jemalloc.rs
  src/server/status_server.rs
Labels: component/util, contribution, status/can-merge

#7037 Update coverage badge
  README.md
Labels: status/can-merge

#7040 Bump v3.1.0-beta.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: priority/release-blocker, status/can-merge

#7030 fix failed test by `reserve space`
  components/tikv_util/src/lib.rs
Labels: component/storage, status/can-merge

#7044 tests: add custom runner
  Cargo.lock
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_util/Cargo.toml
  components/test_util/src/lib.rs
  components/test_util/src/runner.rs
  tests/failpoints/cases/test_bootstrap.rs
  tests/failpoints/cases/test_conf_change.rs
  tests/failpoints/cases/test_coprocessor.rs
  tests/failpoints/cases/test_gc_worker.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_pending_peers.rs
  tests/failpoints/cases/test_replica_read.rs
  tests/failpoints/cases/test_snap.rs
  tests/failpoints/cases/test_split_region.rs
  tests/failpoints/cases/test_stale_peer.rs
  tests/failpoints/cases/test_stale_read.rs
  tests/failpoints/cases/test_storage.rs
  tests/failpoints/cases/test_transfer_leader.rs
  tests/failpoints/mod.rs
  tests/integrations/mod.rs
Labels: component/test-bench, status/can-merge, type/enhancement

#6987 copr: Add vectorize trim1Arg
  components/tidb_query/src/rpn_expr/impl_string.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: component/coprocessor, contribution, status/can-merge

#6999 cop: add tracker to intercept each future execution switching
  src/coprocessor/endpoint.rs
  src/coprocessor/interceptors/mod.rs
  src/coprocessor/interceptors/tracker.rs
  src/coprocessor/tracker.rs
Labels: component/coprocessor, contribution, status/can-merge

#6981 yatp: reschedule only if there are awaiting tasks
  Cargo.lock
Labels: component/coprocessor, component/performance, status/can-merge

#6733 cdc: support batch service
  Cargo.lock
  Cargo.toml
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/lib.rs
  components/cdc/src/observer.rs
  components/cdc/src/service.rs
  components/cdc/tests/failpoints/mod.rs
  components/cdc/tests/failpoints/test_cdc.rs
  components/cdc/tests/integrations/mod.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_cdc.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: component/CDC, status/can-merge

#7054 txn: check keys must be not exists (#6715)
  Cargo.lock
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/mvcc/lock.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
Labels: component/transaction, type/bugfix

#7029 Remove engine::util
  components/engine/src/lib.rs
  components/engine_panic/src/cf_names.rs
  components/engine_panic/src/engine.rs
  components/engine_panic/src/lib.rs
  components/engine_panic/src/misc.rs
  components/engine_panic/src/write_batch.rs
  components/engine_rocks/src/cf_names.rs
  components/engine_rocks/src/engine.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/write_batch.rs
  components/engine_traits/src/cf_names.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/misc.rs
  components/engine_traits/src/write_batch.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/compact.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/raftstore/src/store/worker/region.rs
  src/server/debug.rs
  src/server/gc_worker/gc_worker.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mvcc/reader/reader.rs
  tests/benches/misc/writebatch/bench_writebatch.rs
  tests/benches/raftstore/mod.rs
  tests/integrations/storage/test_titan.rs
Labels: status/can-merge

#6984 Merged pipelined acquire-pessimistic-lock and some small improvements
  cmd/src/server.rs
  components/test_raftstore/src/server.rs
  etc/config-template.toml
  src/server/lock_manager/config.rs
  src/server/node.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/mvcc/metrics.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/commands.rs
  src/storage/txn/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: component/performance, component/transaction, priority/high, status/can-merge

#7020 makefile: update scripts
  Makefile
  scripts/check-bins-for-jemalloc.sh
  scripts/check-bins.py
  scripts/check-sse4_2.sh
  scripts/check-udeps.sh
Labels: component/test-bench, status/can-merge, type/bugfix

#7071 pd: adjust log level
  components/raftstore/src/store/worker/pd.rs
Labels: component/pd-client, status/can-merge

#6993 raft_client: limit batch size
  components/cdc/src/delegate.rs
  components/cdc/src/service.rs
  components/tikv_util/src/mpsc/batch.rs
  src/server/raft_client.rs
  src/server/service/kv.rs
  tests/benches/channel/bench_channel.rs
  tests/integrations/server/raft_client.rs
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, type/enhancement

#6543 raftstore: retry pending read index requests (#6348)
  src/raftstore/store/fsm/peer.rs
  tests/integrations/raftstore/test_replica_read.rs
Labels: component/raft, type/cherry-pick

#7072 *: update raft to include aggressive flow control
  Cargo.lock
  Cargo.toml
  src/raftstore/store/peer_storage.rs
Labels: component/raft, status/can-merge, type/bugfix

#7048 test: stabilize test_custom_quorum
  components/raftstore/src/store/peer.rs
  tests/integrations/raftstore/test_custom_quorum.rs
Labels: component/test-bench, type/bugfix

#7038 tidb_query: Implement collation aware StreamAggr
  components/tidb_query/src/batch/executors/slow_hash_aggr_executor.rs
  components/tidb_query/src/batch/executors/stream_aggr_executor.rs
Labels: component/coprocessor, sig/coprocessor, status/can-merge

#7057 metric: add tikv_engine_write_wal_time_micro_seconds
  components/engine/src/rocks/util/engine_metrics.rs
  components/engine_rocks/src/rocks_metrics.rs
  components/engine_rocks/src/rocks_metrics_defs.rs
  metrics/grafana/tikv_details.json
Labels: component/rocksdb, contribution, status/can-merge

#7051 backup raw kv (#6308)
  components/backup/src/endpoint.rs
  components/backup/src/errors.rs
  components/backup/src/lib.rs
  components/backup/src/writer.rs
  components/backup/tests/integrations/test_backup.rs
Labels: component/backup-restore, status/can-merge, type/cherry-pick

#7050 conf: comment on the status-addr to notice the risk
  etc/config-template.toml
Labels: component/configuration, status/can-merge

#6967 tikv_util: fix s3 writer always creating zeroes (#6675)
  Cargo.lock
  components/external_storage/src/s3.rs
  components/tikv_util/Cargo.toml
Labels: component/backup-restore, status/LGT1, type/cherry-pick

#6983 backup: do fill in the file size of each SST file in the response (#6664)
  Cargo.lock
  components/backup/src/writer.rs
  components/backup/tests/integrations/test_backup.rs
Labels: component/backup-restore, status/LGT2, type/cherry-pick

#7078 *: update raft to include aggressive flow control
  Cargo.lock
  Cargo.toml
  src/raftstore/store/peer_storage.rs
Labels: component/raft, status/can-merge, type/bugfix

#7090 use patch instead of replace
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  components/backup/Cargo.toml
  components/engine/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/pd_client/Cargo.toml
  components/raftstore/Cargo.toml
  components/sst_importer/Cargo.toml
  components/tidb_query/Cargo.toml
  components/tikv_util/Cargo.toml
Labels: contribution, status/can-merge

#7059 *: do not unify read pool by default if legacy pools are configured
  cmd/src/server.rs
  components/test_raftstore/src/util.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-default.toml
Labels: component/configuration, status/can-merge

#7098 kv_service: fix the wrong metric name of handling batch batch_rollback
  src/server/service/kv.rs
Labels: component/server, status/can-merge, type/bugfix

#6725 remove immutable change for WriteBatch
  components/engine_panic/src/engine.rs
  components/engine_panic/src/write_batch.rs
  components/engine_rocks/src/engine.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/write_batch.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/misc.rs
  components/engine_traits/src/mutable.rs
  components/engine_traits/src/write_batch.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/snap/io.rs
  components/raftstore/src/store/worker/compact.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/raftstore/src/store/worker/region.rs
  src/server/debug.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mvcc/reader/reader.rs
  tests/benches/misc/writebatch/bench_writebatch.rs
  tests/benches/raftstore/mod.rs
Labels: component/rocksdb, sig/engine, status/can-merge

#7102 test: add github workflow to auto-assign failed test issue to solid tests project
  .github/workflows/assign_failed_test_project.yml
Labels: status/can-merge

#7035 Fuzz: update dependencies
  Cargo.lock
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/cli.rs
  fuzz/fuzzer-afl/Cargo.toml
  fuzz/fuzzer-honggfuzz/Cargo.toml
  fuzz/fuzzer-libfuzzer/Cargo.toml
  fuzz/targets/Cargo.toml
  fuzz/targets/mod.rs
Labels: contribution, status/can-merge

#7073 tikv-server: compatible with pd that did not implement configpb.Config service
  cmd/src/server.rs
  components/pd_client/src/util.rs
  src/config.rs
Labels: status/can-merge

#6568 Support signed plus arithmetic
  Cargo.lock
  components/tidb_query/src/expr/scalar_function.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: status/can-merge

#7100 tests/config: readable diff check
  tests/integrations/config/mod.rs
Labels: status/can-merge

#7103 Update dependencies for grpcio
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  components/backup/Cargo.toml
  components/backup/src/service.rs
  components/cdc/Cargo.toml
  components/engine/Cargo.toml
  components/pd_client/Cargo.toml
  components/raftstore/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/tidb_query/src/expr/scalar_function.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/security.rs
  src/server/server.rs
  tests/Cargo.toml
  tests/integrations/pd/mock/server.rs
Labels: component/gRPC, status/can-merge

#7116 extern_storage: replace clap yaml with structopt
  Cargo.lock
  components/external_storage/Cargo.toml
  components/external_storage/examples/scli.rs
Labels: component/backup-restore, type/bugfix

#7089 update sysinfo to support build on arm64
  Cargo.lock
  Makefile
Labels: component/build, status/can-merge

#7112 txn: check keys must be not exists (#6715)
  Cargo.lock
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/mvcc/lock.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
Labels: priority/release-blocker

#7118 test: fix auto-assign workflow trigger event
  .github/workflows/assign_failed_test_project.yml
Labels: status/can-merge

#6154 raftstore: apply early
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/test_raftstore/src/cluster.rs
  src/server/debug.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_early_apply.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_early_apply.rs
  tests/integrations/raftstore/test_multi.rs
Labels: status/can-merge, type/enhancement

#5393 server: support tls for the status server
  Cargo.lock
  Cargo.toml
  cmd/src/server.rs
  components/test_util/data/ca.crt
  components/test_util/data/ca.pem
  components/test_util/data/key.pem
  components/test_util/data/server.crt
  components/test_util/data/server.pem
  components/test_util/src/security.rs
  src/server/errors.rs
  src/server/status_server.rs
Labels: component/server, status/can-merge

#7125 build: speed up clippy check
  Makefile
Labels: component/build, status/can-merge, type/enhancement

#7033 Delete several parts of engine crate
  components/backup/src/writer.rs
  components/engine/src/lib.rs
  components/engine/src/mutable.rs
  components/engine/src/peekable.rs
  components/engine/src/rocks/db.rs
  components/engine/src/rocks/mod.rs
  components/engine/src/rocks/util/engine_metrics.rs
  components/engine/src/rocks/util/mod.rs
  components/engine_rocks/src/properties.rs
  components/raftstore/src/coprocessor/split_check/table.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/region.rs
  components/raftstore/src/store/worker/split_check.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/util.rs
  src/server/debug.rs
  src/server/errors.rs
  src/server/node.rs
  tests/failpoints/cases/test_bootstrap.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_replica_read.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_compact_log.rs
  tests/integrations/raftstore/test_conf_change.rs
  tests/integrations/raftstore/test_lease_read.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_service.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_split_region.rs
  tests/integrations/raftstore/test_stale_peer.rs
  tests/integrations/raftstore/test_tombstone.rs
Labels: status/can-merge

#7136 external_storage: fix crash when using s3
  components/external_storage/examples/scli.rs
  components/external_storage/src/s3.rs
Labels: component/backup-restore, status/can-merge, type/bugfix

#7101 raftstore: fix a panic about read index during transfer leader
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/read_queue.rs
Labels: needs-cherry-pick-3.1, type/bugfix

#7126 sst_importer: add error field to `DownloadResponse`
  components/sst_importer/src/errors.rs
  src/import/sst_service.rs
  tests/integrations/import/sst_service.rs
Labels: component/backup-restore, status/can-merge

#7127 Prune some duplicated dependencies
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  components/backup/Cargo.toml
  components/batch-system/Cargo.toml
  components/engine/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/keys/Cargo.toml
  components/log_wrappers/Cargo.toml
  components/pd_client/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/sst_importer/Cargo.toml
  components/sst_importer/src/errors.rs
  components/test_raftstore/Cargo.toml
  components/test_sst_importer/Cargo.toml
  components/test_util/Cargo.toml
  components/test_util/src/kv_generator.rs
  components/tidb_query/Cargo.toml
  components/tidb_query/src/storage/range.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/buffer_vec.rs
  components/txn_types/Cargo.toml
  components/txn_types/src/types.rs
  fuzz/Cargo.toml
  tests/Cargo.toml
Labels: contribution, status/can-merge

#7135 import: handle ingest sst error properly
  components/sst_importer/src/service.rs
  src/import/sst_service.rs
  tests/integrations/import/sst_service.rs
Labels: component/backup-restore, status/can-merge, type/bugfix

#7137 scripts: check bins according to enable features
  Makefile
  scripts/check-bins.py
Labels: status/can-merge

#7145 Bump v4.0.0-beta.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: priority/release-blocker

#6998 config: fix tests resource leak
  cmd/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/tikv_util/src/config.rs
  src/config.rs
  tests/integrations/config/dynamic/gc_worker.rs
  tests/integrations/config/dynamic/pessimistic_txn.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/config/dynamic/split_check.rs
  tests/integrations/config/test_config_client.rs
  tests/integrations/raftstore/test_bootstrap.rs
Labels: component/configuration, component/test-bench, status/can-merge

#7114 [release-3.0] Pin tipb to release-3.0 branch
  Cargo.lock
  Cargo.toml
  components/cop_datatype/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/tipb_helper/Cargo.toml
Labels: status/can-merge

#7032 Abstract more raftstore over engine_traits
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/misc.rs
  components/engine_traits/src/misc.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/mod.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/coprocessor/split_check/table.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_check.rs
  src/server/debug.rs
Labels: status/LGT1

#6991 optimize batch system for better pipeline work
  components/batch-system/src/batch.rs
  components/batch-system/tests/cases/batch.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/peer.rs
Labels: component/raft, status/can-merge

#7144 tests: reduce spawned thread count
  components/test_raftstore/src/common-test.toml
  components/test_raftstore/src/util.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/test-bench, status/can-merge, type/enhancement

#7151 raftstore: set sync hint on ingest sst commands
  components/raftstore/src/store/fsm/apply.rs
Labels: component/backup-restore, component/raft, needs-cherry-pick-3.1, status/can-merge, type/bugfix

#7166 tests: stablize test_download_sst, test_invalid_read_index_when_no_leader
  tests/integrations/import/sst_service.rs
  tests/integrations/storage/test_raftkv.rs
Labels: status/can-merge, type/bugfix

#7162 tests: make test_check_conf_change and test_read_after_cleanup_range_for_snap stable
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/pd.rs
  tests/failpoints/cases/test_replica_read.rs
  tests/integrations/raftstore/test_custom_quorum.rs
Labels: component/test-bench, status/can-merge, type/bugfix

#6990 *: support encryption at rest
  Cargo.lock
  Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/src/crypter.rs
  components/encryption/src/encrypted_file/header.rs
  components/encryption/src/encrypted_file/mod.rs
  components/encryption/src/errors.rs
  components/encryption/src/lib.rs
  components/encryption/src/manager/mod.rs
  components/encryption/src/master_key/file.rs
  components/encryption/src/master_key/metadata.rs
  components/encryption/src/master_key/mod.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/encryption.rs
  components/engine_rocks/src/lib.rs
  components/engine_traits/src/encryption.rs
  components/engine_traits/src/lib.rs
  src/lib.rs
Labels: component/rocksdb, component/security, status/can-merge

#7169 dianostics: change the memory unit to keep consistant with disk
  src/server/service/diagnostics.rs
Labels: status/can-merge

#7155 txn: add basic failpoints
  src/storage/mvcc/txn.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_transaction.rs
Labels: component/test-bench, component/transaction, status/can-merge

#7119 Remove crate::engine from apply.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/region.rs
Labels: component/raft, sig/engine, status/can-merge

#7150 Security: support certificates reloading
  components/tikv_util/src/security.rs
Labels: component/security

#7175 copr: add unsigned int comparison
  components/tidb_query/src/batch/executors/top_n_executor.rs
  components/tidb_query/src/codec/data_type/scalar.rs
Labels: contribution, status/can-merge

#7171 *: Update rust-rocksdb
  Cargo.lock
Labels: component/rocksdb, status/can-merge

#7111 Use multi-batch-write for apply
  components/engine_panic/src/write_batch.rs
  components/engine_rocks/src/write_batch.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/write_batch.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/rocksdb, status/can-merge

#7055 Fix rust-rocksdb branch for tikv 4.0
  Cargo.lock
  components/engine/Cargo.toml
  components/engine_rocks/Cargo.toml
Labels: status/can-merge

#7174 external_storage: fix sst writer error with s3 storage, plus refactoring
  Cargo.lock
  components/backup/tests/integrations/test_backup.rs
  components/external_storage/Cargo.toml
  components/external_storage/examples/scli.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/local.rs
  components/external_storage/src/noop.rs
  components/external_storage/src/s3.rs
  components/external_storage/src/util.rs
  components/sst_importer/src/sst_importer.rs
  components/tikv_util/src/file.rs
Labels: component/backup-restore, status/LGT2, status/can-merge, type/bugfix

#7200 backup: unblock worker by releasing lock as soon as possible
  components/backup/src/endpoint.rs
Labels: component/backup-restore, needs-cherry-pick-3.1, status/LGT2, type/bugfix

#7142 server: support tls for the status server
  Cargo.lock
  Cargo.toml
  cmd/src/server.rs
  components/test_util/data/ca.crt
  components/test_util/data/ca.pem
  components/test_util/data/key.pem
  components/test_util/data/server.crt
  components/test_util/data/server.pem
  components/test_util/src/security.rs
  src/server/errors.rs
  src/server/status_server.rs
Labels: component/security, component/server, type/bugfix, type/cherry-pick

#7202 backup: unblock worker by releasing lock as soon as possible
  components/backup/src/endpoint.rs
Labels: component/backup-restore, status/can-merge, type/bugfix, type/cherry-pick

#7157 .github:refine issue template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/development-task.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/pull_request_template.md
Labels: component/documentation, status/can-merge

#7152 import: handle ingest sst error properly (#7135)
  src/import/service.rs
  src/import/sst_service.rs
  tests/integrations/import/sst_service.rs
Labels: status/can-merge, type/bugfix, type/cherry-pick

#7085 service: Support slow log searching
  cmd/src/server.rs
  cmd/src/setup.rs
  components/tikv_util/src/logger/mod.rs
  src/lib.rs
  src/server/service/diagnostics.rs
Labels: contribution, status/can-merge

#7156 raftstore: set sync hint on ingest sst commands (#7151)
  src/raftstore/store/fsm/apply.rs
Labels: status/can-merge, type/bugfix, type/cherry-pick

#7210 tests: make test-delay-split-region stable
  tests/integrations/raftstore/test_split_region.rs
Labels: component/test-bench, status/can-merge, type/bugfix

#7216 .github: update issue and pull request template
  .github/pull_request_template.md
Labels: status/can-merge

#7074 Adjust memory/CPU configurations automatically in container
  Cargo.lock
  cmd/src/server.rs
  components/engine/src/rocks/util/mod.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/sys/cgroup.rs
  components/tikv_util/src/sys/mod.rs
  src/config.rs
  src/server/config.rs
  src/server/service/diagnostics.rs
  src/storage/config.rs
Labels: needs-cherry-pick-3.1, status/can-merge

#7134 Security: support common names validation
  Cargo.lock
  cmd/src/server.rs
  components/backup/src/service.rs
  components/cdc/src/service.rs
  components/cdc/tests/mod.rs
  components/test_raftstore/src/server.rs
  components/test_util/Cargo.toml
  components/test_util/src/security.rs
  components/tikv_util/src/security.rs
  etc/config-template.toml
  src/import/sst_service.rs
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/mod.rs
  src/server/server.rs
  src/server/service/debug.rs
  src/server/service/diagnostics.rs
  src/server/service/kv.rs
  src/server/status_server.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/pd/test_rpc_client.rs
  tests/integrations/raftstore/test_transport.rs
  tests/integrations/server/mod.rs
  tests/integrations/server/security.rs
Labels: component/configuration, component/gRPC, component/security

#7154 tests: Fix unstable tests test_read_index_when_transfer_leader_1 and test_thread_pool_shutdown_when_idle
  components/backup/src/endpoint.rs
  tests/integrations/raftstore/test_lease_read.rs
Labels: component/test-bench, status/can-merge

#7201 *: add utilities to enable AWS IAM in k8s
  Cargo.lock
  components/external_storage/Cargo.toml
  components/external_storage/examples/scli.rs
  components/external_storage/src/s3.rs
  components/rusoto_util/Cargo.toml
  components/rusoto_util/src/lib.rs
  scripts/check-bins.py
Labels: component/backup-restore, component/security, status/can-merge

#7233 cdc: fix tracing the lock of rollback txn
  components/resolved_ts/src/lib.rs
Labels: component/CDC, needs-cherry-pick-4.0, status/can-merge, type/bugfix

#7230 raftstore: apply read after snapshot
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: component/raft, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, type/bugfix

#6698 PCP-14: localize some metrics in servers
  Cargo.lock
  Cargo.toml
  cmd/src/server.rs
  components/tidb_query/Cargo.toml
  components/tikv_util/src/metrics/tls.rs
  src/server/gc_worker/gc_worker.rs
  src/server/metrics.rs
  src/server/mod.rs
  src/server/raftkv.rs
  src/server/resolve.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  src/server/snap.rs
  src/server/transport.rs
  src/storage/kv/stats.rs
  tests/Cargo.toml
Labels: component/performance, contribution, status/can-merge

#7234 *: do not use the unified pool to handle storage requests by default
  cmd/src/server.rs
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/config/test-default.toml
Labels: component/configuration, needs-cherry-pick-4.0, status/can-merge, type/changelog

#7253 cdc: fix pd client was blocked by get_tso
  components/cdc/src/endpoint.rs
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/test_raftstore/src/pd.rs
Labels: component/CDC, needs-cherry-pick-4.0, status/can-merge

#7238 tidb_query: supports group by a constant
  components/tidb_query_datatype/src/codec/data_type/scalar.rs
  components/tidb_query_vec_executors/src/fast_hash_aggr_executor.rs
  components/tidb_query_vec_executors/src/slow_hash_aggr_executor.rs
  components/tidb_query_vec_executors/src/stream_aggr_executor.rs
Labels: contribution, status/can-merge

#7241 sst_importer: disable validate sst when length and crc were not both set
  components/engine_rocks/src/import.rs
  tests/integrations/import/sst_service.rs
Labels: component/backup-restore, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, type/bugfix

#7218 copr: shouldn't check invalid dates when using chunk format.
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
Labels: status/can-merge

#7197 ucp 7143 wait-for-lock-timeout and wake-up-delay-duration readable
  components/test_raftstore/src/common-test.toml
  etc/config-template.toml
  src/server/lock_manager/config.rs
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  tests/integrations/config/dynamic/pessimistic_txn.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: contribution, needs-cherry-pick-4.0, status/can-merge

#7259 MAINTAINERS: add Fu Chen as TiKV maintainer
  MAINTAINERS.md
Labels: status/can-merge

#7248 backup: fix hyper dispatch dropped panic by using tikv_util threadpool
  Cargo.lock
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/backup/src/lib.rs
  components/backup/src/service.rs
  components/backup/tests/integrations/test_backup.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/s3.rs
Labels: component/backup-restore, status/can-merge, type/bugfix

#7262 tests: fix read index during transfer leader case
  tests/integrations/raftstore/test_lease_read.rs
Labels: component/test-bench, status/can-merge, type/bugfix

#7275 security: update dependency
  Cargo.lock
Labels: component/security, status/can-merge, type/bugfix

#7199 tidb_query: fix TopN comparison for release 3.1
  components/cop_datatype/src/def/field_type.rs
  src/coprocessor/codec/data_type/scalar.rs
  src/coprocessor/dag/batch/executors/top_n_executor.rs
Labels: component/coprocessor

#7277 tidb_query: fix TopN comparison for release 3.0
  components/cop_datatype/src/def/field_type.rs
  src/coprocessor/codec/data_type/scalar.rs
  src/coprocessor/dag/batch/executors/top_n_executor.rs
Labels: component/coprocessor, status/can-merge

#7226 Makefile: allow verbose warnings
  Makefile
Labels: component/build, status/can-merge

#7271 sst_importer: add error field to DownloadResponse
  Cargo.lock
  src/import/errors.rs
  src/import/sst_service.rs
  tests/integrations/import/sst_service.rs
  tests/integrations/storage/test_raftkv.rs
Labels: status/LGT2, status/can-merge, type/cherry-pick

#7240 raftstore: fix a panic about read index during transfer leader (#7101)
  src/raftstore/store/peer.rs
  src/raftstore/store/read_queue.rs
Labels: status/can-merge

#7249 raftstore: apply read after snapshot (#7230)
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: component/raft, status/can-merge, type/bugfix, type/cherry-pick

#7237 MAINTAINERS: add Daobing Li as TiKV Maintainer
  MAINTAINERS.md
Labels: status/can-merge

#7294 *: update prometheus to fix test coredump
  Cargo.lock
  Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_vec_expr/Cargo.toml
Labels: status/can-merge, type/bugfix

#7276 tests: fix unstable test_node_compact_after_delete
  Cargo.lock
  Cargo.toml
  components/raftstore/src/store/worker/compact.rs
  tests/integrations/raftstore/test_compact_after_delete.rs
Labels: component/rocksdb

#7293 *: update yatp to fix #7258
  Cargo.lock
Labels: needs-cherry-pick-4.0, status/can-merge, type/bugfix

#7251 Security: work around race condition between threads updating handshakers
  components/tikv_util/src/security.rs
Labels: component/gRPC, component/security, status/can-merge, type/bugfix

#7285 *: update raft-rs to use aggressive flow control
  Cargo.lock
  components/raftstore/src/store/peer.rs
  tests/integrations/raftstore/test_multi.rs
Labels: component/raft, needs-cherry-pick-4.0, status/can-merge, type/bugfix

#7297 Rollup of backup commits
  Cargo.lock
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/backup/src/lib.rs
  components/backup/src/service.rs
  components/backup/tests/integrations/test_backup.rs
  components/engine/src/rocks/util/mod.rs
  components/external_storage/Cargo.toml
  components/external_storage/examples/scli.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/local.rs
  components/external_storage/src/noop.rs
  components/external_storage/src/s3.rs
  components/external_storage/src/util.rs
  components/rusoto_util/Cargo.toml
  components/rusoto_util/src/lib.rs
  components/tikv_util/src/file.rs
  scripts/check-bins-for-jemalloc.sh
  src/import/sst_importer.rs
  tests/integrations/import/sst_service.rs
Labels: component/backup-restore, status/can-merge, type/cherry-pick

#7273 diagnostics: fix test_search
  src/server/service/diagnostics.rs
Labels: contribution, status/can-merge

#7215 cdc: Carry a request id in events to distinguish events of different requests
  Cargo.lock
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/service.rs
Labels: component/CDC, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#7198 *: Add encryption config
  Cargo.lock
  cmd/src/bin/tikv-ctl.rs
  cmd/src/server.rs
  components/encryption/Cargo.toml
  components/encryption/src/config.rs
  components/encryption/src/crypter.rs
  components/encryption/src/encrypted_file/mod.rs
  components/encryption/src/errors.rs
  components/encryption/src/lib.rs
  components/encryption/src/manager/mod.rs
  components/encryption/src/master_key/file.rs
  components/encryption/src/master_key/mod.rs
  components/engine/Cargo.toml
  components/engine/src/lib.rs
  components/engine/src/rocks/util/mod.rs
  components/engine/src/rocks/util/security.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/encryption.rs
  components/engine_rocks/src/lib.rs
  components/test_util/src/security.rs
  components/tikv_util/src/config.rs
  components/tikv_util/src/security.rs
  src/config.rs
  tests/Cargo.toml
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/mod.rs
Labels: component/security, status/can-merge

#7164 Make engine only a dev-dependency of raftstore
  Cargo.lock
  cmd/src/server.rs
  components/engine/src/rocks/util/mod.rs
  components/engine_panic/src/compact.rs
  components/engine_panic/src/lib.rs
  components/engine_panic/src/misc.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/compact.rs
  components/engine_rocks/src/compat.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/properties.rs
  components/engine_traits/src/compact.rs
  components/engine_traits/src/compaction_job.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/misc.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/coprocessor/properties.rs
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/coprocessor/split_check/table.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/compact.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/region.rs
  components/raftstore/src/store/worker/split_check.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/config.rs
  src/import/sst_service.rs
  src/server/debug.rs
  src/server/gc_worker/gc_worker.rs
  src/server/node.rs
  src/storage/kv/cursor.rs
  src/storage/mvcc/reader/reader.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/config/dynamic/split_check.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/storage/test_titan.rs
Labels: status/can-merge
