Repository tikv/tikv, pull requests merged in 2020-07, with the labels that each got.

#8105 copr: the stats for normal column should be based on collation key
  Cargo.lock
  Cargo.toml
  src/coprocessor/error.rs
  src/coprocessor/statistics/analyze.rs
Labels: status/DNM, status/LGT2

#8172 Bump version v4.0.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: status/LGT2, status/can-merge

#8130 storage, txn_types: output previous write record to engine during prewrite
  components/txn_types/src/lib.rs
  components/txn_types/src/types.rs
  src/server/gc_worker/gc_worker.rs
  src/server/raftkv.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/benches/misc/raftkv/mod.rs
  tests/integrations/storage/test_raftkv.rs
Labels: component/storage, sig/tools, sig/transaction, status/LGT2, status/can-merge

#8120 gc: only run compaction filter if cluster version is ok
  Cargo.lock
  Cargo.toml
  cmd/src/server.rs
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/test_raftstore/src/server.rs
  components/test_storage/src/sync_storage.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/config.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/server/gc_worker/mod.rs
  src/server/server.rs
  tests/failpoints/cases/test_gc_worker.rs
  tests/integrations/config/dynamic/gc_worker.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/server, status/LGT2, status/can-merge

#8142 *: Improve rocksdb logger
  Cargo.lock
  cmd/src/setup.rs
  components/engine_rocks/src/logger.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/logger/mod.rs
Labels: component/rocksdb, sig/engine, status/DNM, status/LGT2, status/PTAL, status/can-merge, type/bugfix

#8176 Fix test_security_status_service_with_cn test
  src/server/status_server/mod.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8182 test: fix tikv::server::service::diagnostics::test_load_info on Linux
  src/server/service/diagnostics/ioload.rs
  src/server/service/diagnostics/sys.rs
Labels: component/server, component/test-bench, needs-cherry-pick-4.0, status/LGT3, status/can-merge

#8171 *: upgrade toolchain to 2020-07-01
  Makefile
  components/backup/src/endpoint.rs
  components/codec/src/lib.rs
  components/engine_rocks/src/properties.rs
  components/raftstore/src/store/worker/compact.rs
  components/test_coprocessor/src/lib.rs
  components/tidb_query_common/src/lib.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_modify.rs
  components/tidb_query_datatype/src/lib.rs
  components/tidb_query_normal_executors/src/runner.rs
  components/tidb_query_normal_expr/src/column.rs
  components/tidb_query_normal_expr/src/constant.rs
  components/tidb_query_normal_expr/src/lib.rs
  components/tidb_query_shared_expr/src/lib.rs
  components/tidb_query_vec_aggr/src/lib.rs
  components/tidb_query_vec_executors/src/lib.rs
  components/tidb_query_vec_executors/src/runner.rs
  components/tidb_query_vec_expr/src/impl_math.rs
  components/tidb_query_vec_expr/src/lib.rs
  components/tikv_util/src/lib.rs
  components/txn_types/src/lib.rs
  rust-toolchain
  src/lib.rs
  src/server/debug.rs
  src/server/gc_worker/gc_worker.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/service/diagnostics/sys.rs
  tests/benches/coprocessor_executors/mod.rs
Labels: component/build-time, status/LGT3, status/can-merge

#8154 txn_types: Update definition of Lock to support async commit
  Cargo.lock
  components/txn_types/src/lock.rs
  tests/integrations/raftstore/test_service.rs
Labels: component/transaction, sig/transaction, status/LGT4, status/can-merge

#8167 Use iterator instead of slice in Latches::gen_locks
  src/storage/txn/commands.rs
  src/storage/txn/latch.rs
Labels: contribution, status/LGT2, status/can-merge

#8178 metrics: collaps encryption pannel by default
  metrics/grafana/tikv_details.json
Labels: component/security, needs-cherry-pick-4.0, status/LGT1, type/enhancement

#8191 *: bump to 3.0.16
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: status/LGT2, status/can-merge

#7861 UCP: Support JSON log format
  Cargo.lock
  cmd/src/setup.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/config.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/logger/mod.rs
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: contribution, status/LGT2, status/can-merge

#8151 fuzzer-afl: Only depend on afl on x86_64
  fuzz/fuzzer-afl/Cargo.toml
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#7769 UCP: Migrate scalar function `Ord` from TiDB
  components/tidb_query_vec_expr/Cargo.toml
  components/tidb_query_vec_expr/src/impl_string.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: component/coprocessor, contribution, sig/coprocessor, status/LGT1, status/can-merge

#8193 backup,config: set backup thread pool size via config instead of gRPC
  Cargo.lock
  cmd/src/server.rs
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/backup/tests/integrations/test_backup.rs
  etc/config-template.toml
  src/config.rs
  src/lib.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/backup-restore, needs-cherry-pick-3.1, needs-cherry-pick-4.0, sig/tools, status/LGT2, status/PTAL, status/can-merge, type/enhancement

#8185 storage: refactor check_txn_status_missing_lock
  src/storage/mvcc/txn.rs
Labels: component/transaction, sig/transaction, status/LGT2, status/WIP, status/can-merge

#8183 Move ctx into each command and move impl of Display trait into command! macro
  src/storage/txn/commands.rs
  src/storage/txn/process.rs
Labels: component/transaction, contribution, sig/transaction, status/LGT2, status/can-merge

#8196 raftstore: Replace uses of raw_util::new_engine with util::new_engine
  components/raftstore/src/coprocessor/split_check/table.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/consistency_check.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/raftstore/src/store/worker/read.rs
Labels: status/LGT2, status/can-merge

#8227 copr: table scan ignores point get while encounter common handle
  components/tidb_query_vec_executors/src/table_scan_executor.rs
Labels: component/coprocessor, status/LGT2, status/can-merge

#8226 txn: Remove Command and rename CommandKind to Command
  src/storage/mod.rs
  src/storage/txn/commands.rs
  src/storage/txn/process.rs
Labels: contribution, status/LGT2, status/can-merge

#8186 raftstore: support to output old value to CmdObserver
  components/cdc/src/observer.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/read.rs
  components/test_raftstore/src/router.rs
  components/test_raftstore/src/transport_simulate.rs
  src/server/raftkv.rs
  src/server/server.rs
  tests/benches/misc/raftkv/mod.rs
Labels: component/CDC, sig/raft, sig/tools, status/LGT2, status/can-merge

#8222 config: support change shared block cache
  cmd/src/server.rs
  components/configuration/src/lib.rs
  components/tikv_util/src/config.rs
  src/config.rs
  src/storage/config.rs
  tests/integrations/config/mod.rs
Labels: component/configuration, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bugfix

#8141 copr: migrate executor and aggr to be compatible with `ChunkedVec`
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_datatype/src/codec/batch/lazy_column.rs
  components/tidb_query_datatype/src/codec/chunk/column.rs
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_datatype/src/codec/data_type/not_chunked_vec.rs
  components/tidb_query_datatype/src/codec/data_type/scalar.rs
  components/tidb_query_datatype/src/codec/data_type/vector.rs
  components/tidb_query_vec_aggr/src/impl_avg.rs
  components/tidb_query_vec_aggr/src/impl_bit_op.rs
  components/tidb_query_vec_aggr/src/impl_count.rs
  components/tidb_query_vec_aggr/src/impl_first.rs
  components/tidb_query_vec_aggr/src/impl_max_min.rs
  components/tidb_query_vec_aggr/src/impl_sum.rs
  components/tidb_query_vec_aggr/src/lib.rs
  components/tidb_query_vec_aggr/src/summable.rs
  components/tidb_query_vec_executors/src/fast_hash_aggr_executor.rs
  components/tidb_query_vec_executors/src/limit_executor.rs
  components/tidb_query_vec_executors/src/selection_executor.rs
  components/tidb_query_vec_executors/src/simple_aggr_executor.rs
  components/tidb_query_vec_executors/src/stream_aggr_executor.rs
  components/tidb_query_vec_executors/src/top_n_executor.rs
  components/tidb_query_vec_executors/src/util/aggr_executor.rs
  components/tidb_query_vec_executors/src/util/hash_aggr_helper.rs
  components/tidb_query_vec_expr/src/impl_cast.rs
  components/tidb_query_vec_expr/src/impl_compare.rs
  components/tidb_query_vec_expr/src/impl_compare_in.rs
  components/tidb_query_vec_expr/src/impl_math.rs
  components/tidb_query_vec_expr/src/impl_op.rs
  components/tidb_query_vec_expr/src/impl_string.rs
Labels: contribution, status/LGT2, status/can-merge

#8189 copr: remove `replace` from ChunkedVec interface
  components/tidb_query_datatype/src/codec/batch/lazy_column.rs
  components/tidb_query_datatype/src/codec/data_type/not_chunked_vec.rs
Labels: contribution, status/LGT1

#8152 copr: use `to_vec` instead of `as_slice` in unit tests
  components/tidb_query_datatype/src/codec/batch/lazy_column.rs
  components/tidb_query_datatype/src/codec/data_type/not_chunked_vec.rs
  components/tidb_query_datatype/src/codec/data_type/vector.rs
  components/tidb_query_vec_aggr/src/impl_avg.rs
  components/tidb_query_vec_aggr/src/impl_bit_op.rs
  components/tidb_query_vec_aggr/src/impl_count.rs
  components/tidb_query_vec_aggr/src/impl_first.rs
  components/tidb_query_vec_aggr/src/impl_max_min.rs
  components/tidb_query_vec_aggr/src/impl_sum.rs
  components/tidb_query_vec_aggr/src/lib.rs
  components/tidb_query_vec_executors/src/fast_hash_aggr_executor.rs
  components/tidb_query_vec_executors/src/index_scan_executor.rs
  components/tidb_query_vec_executors/src/simple_aggr_executor.rs
  components/tidb_query_vec_executors/src/slow_hash_aggr_executor.rs
  components/tidb_query_vec_executors/src/stream_aggr_executor.rs
  components/tidb_query_vec_executors/src/table_scan_executor.rs
  components/tidb_query_vec_executors/src/top_n_executor.rs
  components/tidb_query_vec_expr/src/impl_compare_in.rs
  components/tidb_query_vec_expr/src/types/expr_eval.rs
Labels: contribution, status/LGT2, status/can-merge

#8213 Config: deprecate pessimistic transaction "enabled" config to always enable
  cmd/src/server.rs
  components/test_raftstore/src/server.rs
  components/test_storage/src/sync_storage.rs
  src/server/gc_worker/gc_worker.rs
  src/server/lock_manager/config.rs
  src/server/node.rs
  src/server/server.rs
  src/storage/errors.rs
  src/storage/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/config/mod.rs
Labels: component/configuration, contribution, sig/transaction, status/LGT2, status/can-merge

#8179 copr: index scan support cluster index with new collation
  components/tidb_query_datatype/src/codec/batch/lazy_column_vec.rs
  components/tidb_query_datatype/src/codec/datum.rs
  components/tidb_query_datatype/src/codec/row/v2/compat_v1.rs
  components/tidb_query_datatype/src/codec/row/v2/encoder_for_test.rs
  components/tidb_query_datatype/src/codec/row/v2/mod.rs
  components/tidb_query_datatype/src/codec/row/v2/row_slice.rs
  components/tidb_query_datatype/src/codec/table.rs
  components/tidb_query_vec_executors/src/index_scan_executor.rs
  components/tidb_query_vec_executors/src/runner.rs
  tests/benches/coprocessor_executors/index_scan/util.rs
Labels: component/coprocessor, status/LGT1

#8209 gc_worker: report error when registering conflict lock observer
  src/server/gc_worker/applied_lock_collector.rs
Labels: component/server, needs-cherry-pick-4.0, status/LGT1, type/enhancement

#8110 gc_worker: add integration tests to lock observer
  components/raftstore/src/store/fsm/apply.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  src/server/gc_worker/applied_lock_collector.rs
  tests/failpoints/cases/test_gc_worker.rs
  tests/integrations/raftstore/test_service.rs
  tests/integrations/server/gc_worker.rs
  tests/integrations/server/lock_manager.rs
  tests/integrations/server/mod.rs
Labels: component/test-bench, component/transaction, needs-cherry-pick-4.0, sig/transaction, status/LGT1

#8200 backup: support explicitly set sst compression type
  Cargo.lock
  components/backup/src/endpoint.rs
  components/backup/src/writer.rs
  components/engine_panic/src/sst.rs
  components/engine_rocks/src/sst.rs
  components/engine_traits/src/sst.rs
Labels: component/backup-restore, component/rocksdb, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8202 backup: send task reponse concurrently
  components/backup/src/endpoint.rs
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/enhancement

#8240 storage/txn: cleanup and refactoring
  src/storage/txn/commands.rs
  src/storage/txn/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: component/transaction, sig/transaction, status/LGT2, status/can-merge

#8228 txn: Split up the command module so there is one submodule per command
  src/storage/mvcc/txn.rs
  src/storage/txn/commands.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/macros.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/mvcc_by_key.rs
  src/storage/txn/commands/mvcc_by_start_ts.rs
  src/storage/txn/commands/pause.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/scan_lock.rs
  src/storage/txn/commands/txn_heart_beat.rs
Labels: component/transaction, sig/transaction, status/LGT2, status/can-merge

#8223 raftstore: speed up leader election when enable hibernate region in some cases
  components/raftstore/src/store/fsm/peer.rs
Labels: status/LGT2, status/can-merge

#8265 txn: Split the read and write part of the ResolveLock command.
  components/test_storage/src/sync_storage.rs
  src/storage/mod.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_readphase.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge

#8245 Fix box error name in bootstrap_cluster
  src/server/node.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bugfix

#8214 copr: migrate fixed size type to ChunkedVec
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_datatype/src/codec/data_type/bit_vec.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_sized.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_datatype/src/codec/data_type/not_chunked_vec.rs
  components/tidb_query_datatype/src/codec/data_type/vector.rs
  components/tidb_query_vec_aggr/src/impl_avg.rs
  components/tidb_query_vec_aggr/src/impl_bit_op.rs
  components/tidb_query_vec_aggr/src/impl_count.rs
  components/tidb_query_vec_aggr/src/impl_first.rs
  components/tidb_query_vec_aggr/src/impl_max_min.rs
  components/tidb_query_vec_aggr/src/impl_sum.rs
  components/tidb_query_vec_executors/src/top_n_executor.rs
Labels: contribution, status/LGT2

#8274 Makefile: don't try to use SSE on ARM
  Makefile
Labels: status/LGT2, status/can-merge

#8205 storage: implement async commit prewrite (initial work)
  Cargo.lock
  cmd/src/server.rs
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/test_raftstore/src/server.rs
  components/test_storage/Cargo.toml
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/sync_storage.rs
  src/server/gc_worker/gc_worker.rs
  src/server/node.rs
  src/server/server.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  src/storage/txn/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
  src/storage/types.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/storage/test_raft_storage.rs
Labels: component/transaction, sig/transaction, status/LGT2, status/can-merge

#8283 Config, Documentation: Correctly format "rocksdb.info-log-roll-time" default config value
  docs/V2.1/op-guide/rocksdb-option-config.md
  docs/reference/configuration/rocksdb-option-config.md
  etc/config-template.toml
Labels: contribution, status/LGT2, status/can-merge

#8215 copr: Analyze executor supports common handles
  Cargo.lock
  components/raftstore/src/coprocessor/split_observer.rs
  components/tidb_query_datatype/src/codec/batch/lazy_column.rs
  components/tidb_query_datatype/src/codec/data_type/vector.rs
  components/tidb_query_datatype/src/codec/datum.rs
  components/tidb_query_vec_executors/src/index_scan_executor.rs
  components/tidb_query_vec_executors/src/runner.rs
  components/tidb_query_vec_executors/src/slow_hash_aggr_executor.rs
  src/coprocessor/statistics/analyze.rs
Labels: component/coprocessor, status/LGT2, status/can-merge

#8258 txn: change CheckTxnStatus to return async commit information
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
  src/storage/types.rs
Labels: component/transaction, sig/transaction, status/LGT2, status/can-merge

#8264 Remove most uses of RangeProperties outside of engine_rocks
  Cargo.lock
  components/engine_panic/src/lib.rs
  components/engine_panic/src/range_properties.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/range_properties.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/range.rs
  components/engine_traits/src/range_properties.rs
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  src/server/debug.rs
Labels: status/LGT2, status/can-merge

#8239 copr: migrate `Bytes` and `Json` to ChunkedVec
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_bytes.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_common.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_json.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_sized.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_datatype/src/codec/data_type/not_chunked_vec.rs
  components/tidb_query_datatype/src/codec/data_type/vector.rs
  components/tidb_query_datatype/src/codec/mysql/json/mod.rs
Labels: contribution, status/LGT2, status/can-merge

#8280 copr: add non-null support for normal rpn fn
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_vec_expr/src/impl_arithmetic.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge

#8293 rust-rocksdb: titan: Fix Segment fault when creates TitanCompactionFi…
  Cargo.lock
Labels: component/titan, status/LGT2, status/can-merge

#8234 gc use local engine instead of raft engine
  cmd/src/server.rs
  components/raftstore/src/store/region_snapshot.rs
  components/test_raftstore/src/server.rs
  components/test_storage/src/sync_storage.rs
  src/server/gc_worker/applied_lock_collector.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/server/gc_worker/mod.rs
  src/server/raftkv.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  tests/failpoints/cases/test_gc_worker.rs
  tests/integrations/config/dynamic/gc_worker.rs
  tests/integrations/raftstore/test_service.rs
Labels: status/LGT2

#8304 coprocessor: configure consistency check method
  components/raftstore/src/coprocessor/config.rs
  components/raftstore/src/coprocessor/mod.rs
  etc/config-template.toml
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge

#8297 copr: non-null rpn_fn by default
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_vec_executors/src/selection_executor.rs
  components/tidb_query_vec_expr/src/impl_arithmetic.rs
  components/tidb_query_vec_expr/src/impl_cast.rs
  components/tidb_query_vec_expr/src/impl_compare.rs
  components/tidb_query_vec_expr/src/impl_compare_in.rs
  components/tidb_query_vec_expr/src/impl_control.rs
  components/tidb_query_vec_expr/src/impl_encryption.rs
  components/tidb_query_vec_expr/src/impl_json.rs
  components/tidb_query_vec_expr/src/impl_like.rs
  components/tidb_query_vec_expr/src/impl_math.rs
  components/tidb_query_vec_expr/src/impl_miscellaneous.rs
  components/tidb_query_vec_expr/src/impl_op.rs
  components/tidb_query_vec_expr/src/impl_other.rs
  components/tidb_query_vec_expr/src/impl_string.rs
  components/tidb_query_vec_expr/src/impl_time.rs
  components/tidb_query_vec_expr/src/types/expr_builder.rs
  components/tidb_query_vec_expr/src/types/expr_eval.rs
  components/tidb_query_vec_expr/src/types/function.rs
Labels: contribution, status/LGT2

#7878 Batch RocksSnapshot for multiple requests access different regions.
  Cargo.lock
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/read.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/transport_simulate.rs
  components/test_raftstore/src/util.rs
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/sync_storage.rs
  components/tikv_util/src/time.rs
  src/coprocessor/endpoint.rs
  src/server/config.rs
  src/server/gc_worker/gc_worker.rs
  src/server/raftkv.rs
  src/server/server.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mod.rs
  src/storage/txn/scheduler.rs
  tests/Cargo.toml
  tests/benches/misc/raftkv/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_lease_read.rs
  tests/integrations/storage/test_storage.rs
Labels: component/gRPC, component/raft, status/LGT2, status/can-merge

#8238 Use reverse Poland notation as default expression of AggrDefinitionParser
  components/tidb_query_vec_aggr/src/impl_avg.rs
  components/tidb_query_vec_aggr/src/impl_bit_op.rs
  components/tidb_query_vec_aggr/src/impl_count.rs
  components/tidb_query_vec_aggr/src/impl_first.rs
  components/tidb_query_vec_aggr/src/impl_max_min.rs
  components/tidb_query_vec_aggr/src/impl_sum.rs
  components/tidb_query_vec_aggr/src/parser.rs
Labels: component/coprocessor, contribution, status/LGT2, status/can-merge

#8312 copr: support writer-guard pattern for Bytes
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_bytes.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_vec_expr/src/impl_string.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: contribution, status/LGT2

#8307 metrics: update title of some raft IO metrics
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge

#8313 Test, codec: enhance test coverage for module codec
  components/codec/src/convert.rs
Labels: contribution, status/LGT2, status/can-merge

#8284 Parameterize more of raftstore over engines
  cmd/src/server.rs
  components/cdc/src/endpoint.rs
  components/engine_panic/src/write_batch.rs
  components/engine_rocks/src/write_batch.rs
  components/engine_traits/src/write_batch.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/read_queue.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/consistency_check.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/read.rs
  components/raftstore/src/store/worker/region.rs
  components/raftstore/src/store/worker/split_check.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/router.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/transport_simulate.rs
  components/test_raftstore/src/util.rs
  src/import/sst_service.rs
  src/server/node.rs
  src/server/raft_client.rs
  src/server/raftkv.rs
  src/server/resolve.rs
  src/server/server.rs
  src/server/service/debug.rs
  src/server/service/kv.rs
  src/server/snap.rs
  src/server/status_server/mod.rs
  src/server/status_server/region_meta.rs
  src/server/transport.rs
  tests/benches/misc/raftkv/mod.rs
  tests/integrations/config/dynamic/raftstore.rs
Labels: status/LGT2, status/can-merge

#8299 raftstore: change the max value of missing tick
  components/raftstore/src/store/fsm/peer.rs
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8298 copr: fix index out of range in analyze column
  src/coprocessor/statistics/analyze.rs
  tests/integrations/coprocessor/test_analyze.rs
Labels: component/coprocessor, status/LGT2, status/can-merge

#8201 cdc: support to sink old value
  Cargo.lock
  cmd/src/server.rs
  components/backup/src/endpoint.rs
  components/backup/src/writer.rs
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/errors.rs
  components/cdc/src/observer.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  components/engine_rocks/src/options.rs
  components/engine_rocks/src/sst.rs
  components/engine_traits/src/iterable.rs
  components/engine_traits/src/options.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/txn_types/src/types.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/raftkv.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
  tests/benches/misc/storage/incremental_get.rs
Labels: component/CDC, sig/tools, status/LGT2

#8326 Bump version v4.0.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: priority/release-blocker, status/LGT2

#8331 copr: remove nullable signature for expression `like`
  components/tidb_query_vec_expr/src/impl_like.rs
Labels: contribution, status/LGT1

#8333 copr: remove nullable signature for expression
  components/tidb_query_vec_expr/src/impl_json.rs
Labels: contribution, status/LGT2, status/can-merge

#8335 copr: remove nullable signature for math expressions
  components/tidb_query_vec_expr/src/impl_math.rs
Labels: contribution, status/LGT1

#8030 test: fix check split bug in pd
  components/test_raftstore/src/pd.rs
  tests/failpoints/cases/test_merge.rs
  tests/integrations/raftstore/test_merge.rs
Labels: component/raft, status/LGT1, status/can-merge

#8174 server: remove the limit about received message size (#4992)
  src/server/server.rs
Labels: component/gRPC, component/server, status/LGT2, status/can-merge

#8266 Enable perf in store.fsm and apply.fsm for rocksdb
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/store.rs
Labels: status/LGT2, status/can-merge, type/bugfix

#8342 storage: remove useless codes
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  tests/integrations/config/test-custom.toml
Labels: component/storage, sig/transaction, status/LGT2, status/can-merge

#8340 copr: remove nullable signature for expression
  components/tidb_query_vec_expr/src/impl_other.rs
Labels: contribution, status/LGT2, status/can-merge

#8277 tikv_alloc: collect per thread memory allocation for debugging
  Cargo.lock
  cmd/Cargo.toml
  cmd/src/bin/tikv-ctl.rs
  cmd/src/server.rs
  components/backup/src/endpoint.rs
  components/engine_traits/src/metrics_flusher.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/region.rs
  components/tikv_alloc/Cargo.toml
  components/tikv_alloc/src/default.rs
  components/tikv_alloc/src/jemalloc.rs
  components/tikv_alloc/src/lib.rs
  components/tikv_util/src/future_pool/mod.rs
  components/tikv_util/src/metrics/mod.rs
  components/tikv_util/src/threadpool.rs
  components/tikv_util/src/time.rs
  components/tikv_util/src/timer.rs
  components/tikv_util/src/worker/future.rs
  components/tikv_util/src/worker/mod.rs
  src/import/sst_service.rs
  src/read_pool.rs
  src/server/debug.rs
  src/server/gc_worker/gc_manager.rs
  src/server/snap.rs
Labels: contribution, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8343 batch_system: use lru cache
  components/batch-system/src/router.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/lru.rs
Labels: component/raft, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, priority/release-blocker, sig/raft, status/LGT2, status/can-merge, type/bugfix

#8354 Bump version v4.0.4
  Cargo.lock
  Cargo.toml
Labels: status/LGT2

#8344 raftstore: simplify casual messages
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/split_check.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/router.rs
  components/test_raftstore/src/transport_simulate.rs
  components/tikv_alloc/src/lib.rs
  src/server/server.rs
  src/server/status_server/mod.rs
  src/server/status_server/region_meta.rs
  tests/benches/misc/raftkv/mod.rs
Labels: component/raft, status/LGT2

#8351 raftstore: fix stale lease in test_node_batch_id_in_lease
  tests/integrations/raftstore/test_lease_read.rs
Labels: status/LGT2, status/can-merge

#8084 raftstore: handle the race between creating new peer and splitting correctly
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/util.rs
  components/test_raftstore/src/common-test.toml
  src/server/lock_manager/deadlock.rs
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge

#8345 copr: merge nulls before loop in rpn_fn
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_datatype/src/codec/data_type/bit_vec.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_bytes.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_json.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_sized.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_vec_expr/src/types/expr_eval.rs
  components/tidb_query_vec_expr/src/types/function.rs
Labels: contribution, status/LGT2, status/can-merge

#8365 copr: remove nullable arithmetic_with_ctx
  components/tidb_query_vec_expr/src/impl_arithmetic.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge

#8320 mvcc: Introduce sample step for MVCC scanner
  components/test_storage/src/sync_storage.rs
  src/server/gc_worker/gc_worker.rs
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/txn/store.rs
Labels: component/transaction, status/LGT2, status/can-merge

#8337 txn: implement CheckSecondaryLocks command
  Cargo.lock
  components/tikv_alloc/src/lib.rs
  src/server/metrics.rs
  src/server/service/kv.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/mod.rs
  src/storage/txn/process.rs
  src/storage/types.rs
  tests/integrations/server/mod.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#8369 test: stablize test_applied_lock_collector
  tests/integrations/server/gc_worker.rs
Labels: component/test-bench, status/LGT2, status/can-merge

#8374 Revert "raftstore: make destroy overlapped regions and apply snapshot atomically"
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/transport_simulate.rs
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/mod.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/worker/region.rs
  tests/failpoints/cases/test_merge.rs
  tests/integrations/raftstore/test_merge.rs
Labels: status/LGT2, status/can-merge

#8324 tikv_alloc: update jemalloc to 5.2.1
  Cargo.lock
  components/tikv_alloc/Cargo.toml
  components/tikv_alloc/src/error.rs
  components/tikv_alloc/src/jemalloc.rs
  components/tikv_alloc/src/lib.rs
Labels: component/util, status/LGT2, status/can-merge, type/bugfix
