Repository tikv/tikv, pull requests merged in 2020-01, with the labels that each got.

#6196 More snapshot abstraction
  components/engine_rocks/src/snapshot.rs
  components/engine_rocks/src/sst.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/io_limiter.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/snapshot.rs
  components/engine_traits/src/sst.rs
  components/test_raftstore/src/node.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/region_snapshot.rs
  src/raftstore/store/snap.rs
  src/raftstore/store/snap/io.rs
  src/raftstore/store/worker/consistency_check.rs
  src/raftstore/store/worker/region.rs
  src/server/node.rs
  src/server/server.rs
  src/server/snap.rs
Labels: S: CanMerge

#6382 *: update bindgen to 0.51.1 to fix grpcio build
  Cargo.lock
  components/sst_importer/src/sst_importer.rs
Labels: C: Build, P: High, S: CanMerge, T: BugFix

#6369 make dist_release for fail_release
  Makefile
Labels: S: CanMerge

#6378 sst_importer: Fix MvccProperties didn't generated during restoring (#…
  components/engine/src/cf.rs
  src/import/sst_importer.rs
  src/import/sst_service.rs
Labels: C: Backup-Restore, T: CherryPick

#6371 resolved_ts: add resolved_ts
  Cargo.lock
  Cargo.toml
  components/resolved_ts/Cargo.toml
  components/resolved_ts/src/lib.rs
Labels: C: CDC, S: CanMerge

#6333 gc_worker: Check need_gc before getting snapshot
  cmd/src/server.rs
  components/test_raftstore/src/server.rs
  components/test_storage/src/sync_storage.rs
  src/raftstore/coprocessor/mod.rs
  src/raftstore/coprocessor/region_info_accessor.rs
  src/server/debug.rs
  src/server/gc_worker.rs
  src/server/server.rs
  src/storage/kv/mod.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/mvcc/reader/reader.rs
  tests/failpoints/cases/test_gc_worker.rs
Labels: C: Server, C: Txn, S: CanMerge

#6331 config: add switch of online config change feature
  cmd/src/bin/tikv-server.rs
  cmd/src/server.rs
  cmd/src/setup.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/config.rs
  src/raftstore/store/config.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/worker/split_check.rs
  src/server/lock_manager/config.rs
  src/server/service/debug.rs
  tests/integrations/config/test_config_client.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_service.rs
Labels: C: Configuration

#6355 txn: use Commit to clean up pessimistic locks (#6353)
  src/storage/mvcc/txn.rs
Labels: S: CanMerge, T: CherryPick

#6372 raftstore: support specifying keys to split region (#5458)
  components/test_raftstore/src/pd.rs
  components/test_raftstore/src/util.rs
  src/pd/pd.rs
  src/raftstore/store/worker/split_check.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: C: PD-Client, C: Raft, S: CanMerge, T: CherryPick

#6395 sst_importer: add metrics
  components/sst_importer/src/errors.rs
  components/sst_importer/src/lib.rs
  components/sst_importer/src/metrics.rs
  components/sst_importer/src/service.rs
  components/sst_importer/src/sst_importer.rs
  src/import/sst_service.rs
Labels: C: Backup-Restore, S: CanMerge, T: NeedCherryPick-3.1

#6298 lock_manager: polish waiter manager (#6244)
  Cargo.lock
  etc/config-template.toml
  src/server/lock_manager/config.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  tests/integrations/server/lock_manager.rs
Labels: S: CanMerge, T: CherryPick

#6397 Unify tikv port
  docs/V2.1/op-guide/horizontal-scale.md
  docs/V2.1/tools/tikv-control.md
  docs/how-to/scale/horizontal-scale.md
  docs/reference/tools/tikv-control.md
Labels: S: CanMerge, T: Contributor ⭐️

#6393 change default write buffer size of lockcf to 32MB
  etc/config-template.toml
  src/config.rs
Labels: S: CanMerge

#6390 tidb_query: fix cast string to real inconsistent with TiDB
  components/tidb_query/src/rpn_expr/impl_cast.rs
  components/tidb_query/src/rpn_expr/types/test_util.rs
  components/tidb_query_codegen/src/rpn_function.rs
Labels: S: LGT1, T: BugFix

#6389 pd_client: support get_tso RPC
  Cargo.lock
  components/pd_client/Cargo.toml
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/pd_client/src/util.rs
  components/test_raftstore/src/pd.rs
  tests/integrations/pd/mock/mocker/service.rs
  tests/integrations/pd/mock/server.rs
  tests/integrations/pd/test_rpc_client.rs
Labels: C: CDC, C: PD-Client, S: CanMerge

#6391 tests: fix failpoint cases
  Cargo.lock
  Makefile
  tests/Cargo.toml
  tests/failpoints/cases/test_gc_worker.rs
  tests/failpoints/cases/test_storage.rs
Labels: C: Test/Bench, S: CanMerge

#6287 copr: Add vectorize random_bytes
  components/tidb_query/src/expr/builtin_encryption.rs
  components/tidb_query/src/expr/scalar_function.rs
  components/tidb_query/src/expr_util/rand.rs
  components/tidb_query/src/rpn_expr/impl_encryption.rs
  components/tidb_query/src/rpn_expr/mod.rs
Labels: C: Copr, S: CanMerge, T: Contributor ⭐️

#6070 gc_worker: Implement physical scan lock
  Cargo.lock
  components/pd_client/src/client.rs
  components/sst_importer/src/lib.rs
  components/test_raftstore/src/server.rs
  src/import/sst_service.rs
  src/server/gc_worker.rs
  src/server/metrics.rs
  src/server/service/kv.rs
  tests/integrations/raftstore/test_service.rs
  tests/integrations/server/mod.rs
Labels: C: Server, C: Txn

#6392 lock_manager: more metrics
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/metrics.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
Labels: S: CanMerge, T: NeedCherryPick-3.0

#6422 lock_manager: more metrics (#6392)
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/metrics.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
Labels: T: CherryPick

#6424 tidb_query: fix log_2args rpn function inconsistent with tidb
  components/tidb_query/src/rpn_expr/impl_math.rs
Labels: T: BugFix

#6425 tidb_query: fix get_valid_int_prefix in SELECT statement context
  components/tidb_query/src/codec/convert.rs
Labels: T: BugFix

#6426 lock_manager: update default config
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  etc/config-template.toml
  src/server/lock_manager/config.rs
  src/server/lock_manager/mod.rs
  tests/integrations/server/lock_manager.rs
Labels: C: Txn, S: CanMerge, T: NeedCherryPick-3.0, T: NeedCherryPick-3.1

#6421 raftstore: speed up conf change
  components/tidb_query/src/rpn_expr/impl_encryption.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/worker/region.rs
  tests/integrations/raftstore/test_conf_change.rs
Labels: C: Raft, S: CanMerge, T: BugFix, T: NeedCherryPick-3.0, T: NeedCherryPick-3.1

#6429 lock_manager: update default config (#6426)
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  etc/config-template.toml
  src/server/lock_manager/config.rs
  src/server/lock_manager/mod.rs
  tests/integrations/server/lock_manager.rs
Labels: S: CanMerge, T: CherryPick

#6415 deadlock: more solid role change observer
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/mod.rs
  tests/integrations/server/lock_manager.rs
Labels: C: Server

#6431 deadlock: more solid role change observer (#6415)
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/mod.rs
  tests/integrations/server/lock_manager.rs
Labels: S: CanMerge

#6430 raftstore: speed up conf change (#6421)
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/worker/region.rs
  tests/integrations/raftstore/test_conf_change.rs
Labels: T: BugFix, T: CherryPick

#6359 config: support online change gc worker config
  cmd/src/bin/tikv-ctl.rs
  cmd/src/server.rs
  components/configuration/configuration_derive/src/lib.rs
  components/test_raftstore/src/server.rs
  src/config.rs
  src/raftstore/store/config.rs
  src/server/debug.rs
  src/server/gc_worker.rs
  src/server/service/debug.rs
Labels: C: Configuration

#6436 Enable default proto feature flag
  Cargo.toml
  components/engine/Cargo.toml
  components/pd_client/Cargo.toml
  components/sst_importer/Cargo.toml
  components/tidb_query/Cargo.toml
  components/tikv_util/Cargo.toml
Labels: C: Build, T: BugFix

#6440 tidb_query: fix parse time from a string in format yymmddhhmm
  components/tidb_query/src/codec/mysql/time/mod.rs
Labels: T: BugFix

#6408 Dockerfile robustness improvements
  scripts/gen-dockerfile.sh
Labels: C: Build, S: CanMerge

#6442 copr: check `Date` via `check_datetime`
  components/tidb_query/src/codec/mysql/time/mod.rs
Labels: C: Copr, S: CanMerge

#6447 tidb_query: reset the hms after validating date
  components/tidb_query/src/codec/mysql/time/mod.rs
Labels: C: Copr, S: CanMerge, T: BugFix

#6375 *: allow coprocessor to use yatp
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  cmd/src/server.rs
  components/test_coprocessor/src/fixture.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  components/tidb_query/Cargo.toml
  components/tidb_query/src/batch/runner.rs
  src/config.rs
  src/coprocessor/endpoint.rs
  src/lib.rs
  src/read_pool.rs
  src/server/config.rs
  src/server/server.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: C: Server, S: CanMerge

#6394 mvcc: Implement DeltaScanner in ForwardScanner framework
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
Labels: C: CDC, C: Txn, S: CanMerge

#6396 raftstore: remove nested loop replica read queue
  src/raftstore/store/mod.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/read_queue.rs
  src/server/gc_worker.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: P: High, P: Release-blocker, T: Enhancement, T: NeedCherryPick-3.1

#6449 update rust-rocksdb
  Cargo.lock
  components/engine/Cargo.toml
  components/engine_rocks/Cargo.toml
Labels: C: RocksDB

#6453 do not encode key in batch raw get
  src/storage/mod.rs
  src/storage/txn/commands.rs
Labels: C: Storage, S: CanMerge, T: BugFix

#6138 gc_worker: Implement Lock Observers
  cmd/src/server.rs
  components/tidb_query/src/rpn_expr/impl_math.rs
  src/server/gc_worker/applied_lock_collector.rs
  src/server/gc_worker/mod.rs
  src/server/metrics.rs
  src/server/service/kv.rs
  tests/integrations/server/lock_manager.rs
Labels: C: Server, C: Txn, S: CanMerge

#6435 cdc: add basic CDC framework
  Cargo.lock
  Cargo.toml
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/errors.rs
  components/cdc/src/lib.rs
  components/cdc/src/service.rs
Labels: C: CDC, S: CanMerge

#6414 raftstore: extract batch system
  Cargo.lock
  Cargo.toml
  components/batch-system/Cargo.toml
  components/batch-system/benches/router.rs
  components/batch-system/src/batch.rs
  components/batch-system/src/fsm.rs
  components/batch-system/src/lib.rs
  components/batch-system/src/mailbox.rs
  components/batch-system/src/router.rs
  components/batch-system/tests/cases/batch.rs
  components/batch-system/tests/cases/mod.rs
  components/batch-system/tests/cases/router.rs
  components/engine/Cargo.toml
  components/pd_client/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/tidb_query/Cargo.toml
  components/tikv_util/Cargo.toml
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/mod.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/fsm/router.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/transport.rs
Labels: C: Raft, S: CanMerge, S: LGT2, T: Enhancement

#6377 config: support online change rocksdb config
  Cargo.lock
  cmd/src/server.rs
  components/configuration/src/lib.rs
  components/engine/Cargo.toml
  components/engine/src/rocks/util/config.rs
  src/config.rs
  src/lib.rs
Labels: C: Configuration, S: CanMerge

#6348 raftstore: retry pending read index requests
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/read_queue.rs
  tests/integrations/raftstore/test_replica_read.rs
Labels: C: Raft, T: BugFix, T: NeedCherryPick-3.1

#6374 *: replace RocksIOLimiter by a pure-Rust async implementation, and eliminate the extra copies to memory when backing up a file
  Cargo.lock
  Cargo.toml
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/backup/src/writer.rs
  components/backup/tests/integrations/test_backup.rs
  components/engine_rocks/src/io_limiter.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/sst.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/io_limiter.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/sst.rs
  components/external_storage/Cargo.toml
  components/external_storage/src/lib.rs
  components/external_storage/src/local.rs
  components/external_storage/src/noop.rs
  components/sst_importer/Cargo.toml
  components/sst_importer/src/sst_importer.rs
  components/test_raftstore/src/node.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/file.rs
  components/tikv_util/src/time.rs
  src/import/sst_service.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/mod.rs
  src/raftstore/store/peer_storage.rs
  src/raftstore/store/region_snapshot.rs
  src/raftstore/store/snap.rs
  src/raftstore/store/snap/io.rs
  src/raftstore/store/worker/region.rs
  src/server/gc_worker/mod.rs
  src/server/node.rs
  src/server/server.rs
  src/server/snap.rs
Labels: C: Backup-Restore, S: CanMerge, S: LGT2, T: NeedCherryPick-3.1

#6327 fix error handling about rocksdb iterator
  Cargo.lock
  src/import/stream.rs
  src/lib.rs
  src/raftstore/coprocessor/split_check/table.rs
  src/raftstore/store/engine.rs
  src/raftstore/store/region_snapshot.rs
  src/raftstore/store/util.rs
  src/raftstore/store/worker/split_check.rs
  src/server/debug.rs
  src/storage/engine/mod.rs
  src/storage/engine/raftkv.rs
  src/storage/engine/rocksdb.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/backward_scanner.rs
  src/storage/mvcc/reader/forward_scanner.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/txn/store.rs
  tests/failpoints_cases/test_merge.rs
Labels: T: CherryPick

#6419 config: move ConfigClient out of PdClient
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/test_raftstore/src/pd.rs
  components/tikv_util/src/config.rs
  src/config.rs
  src/raftstore/store/config.rs
  src/raftstore/store/fsm/apply.rs
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/worker/pd.rs
  src/server/gc_worker/mod.rs
  src/server/node.rs
  tests/integrations/config/test_config_client.rs
Labels: C: Configuration, C: PD-Client, S: CanMerge

#6456 grpc: update grpcio to shrink internal buffer
  Cargo.lock
Labels: C: gRPC

#6458 tidb_query: fix RealPlus overflow inconsistent with tidb
  components/tidb_query/src/rpn_expr/impl_arithmetic.rs
Labels: C: Copr, S: CanMerge, T: BugFix

#6321 Reserve disk space before create db engine
  Cargo.lock
  cmd/src/server.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/lib.rs
  src/storage/config.rs
  tests/integrations/config/mod.rs
Labels: C: Storage, S: CanMerge

#6401 *: allow replacing all the readpools with yatp
  cmd/src/server.rs
  components/test_raftstore/src/server.rs
  components/tidb_query_datatype/src/builder/field_type.rs
  src/server/node.rs
  src/storage/mod.rs
Labels: C: Server, C: Storage

#6461 tidb_query: fix parse time from string in special case 00:00:00
  components/tidb_query/src/codec/mysql/time/mod.rs
Labels: C: Copr, T: BugFix

#6459 tidb_query: fix convert integer to duration
  components/tidb_query/src/codec/mysql/duration.rs
  components/tidb_query/src/rpn_expr/impl_cast.rs
Labels: C: Copr, S: CanMerge, T: BugFix

#6434 copr: Switch to use nanosecs for Duration
  components/tidb_query/src/codec/mysql/duration.rs
  components/tidb_query/src/codec/mysql/time/mod.rs
Labels: C: Copr, S: CanMerge

#6469 Fix Prost build
  cmd/src/server.rs
  components/cdc/Cargo.toml
  tests/integrations/pd/mock/server.rs
Labels: C: Build, C: gRPC, T: BugFix

#6428 Bump v3.0.9
  Cargo.lock
  Cargo.toml
Labels: P: Release-blocker

#6305 Txn: move some commands functionality around.
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/sync_storage.rs
  src/server/gc_worker/mod.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/txn/commands.rs
  src/storage/txn/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
  src/storage/types.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/storage/test_raft_storage.rs
  tests/integrations/storage/test_storage.rs
Labels: C: Txn, S: CanMerge

#6470 *: prune unused dependencies
  Cargo.lock
  Cargo.toml
  Makefile
  components/engine/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/external_storage/Cargo.toml
  components/keys/Cargo.toml
  components/log_wrappers/Cargo.toml
  components/pd_client/Cargo.toml
  components/tidb_query/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tikv_alloc/Cargo.toml
  components/tikv_util/Cargo.toml
  components/txn_types/Cargo.toml
  scripts/check-udeps.sh
Labels: C: Build, S: CanMerge

#6464 copr: refactor `Duration` parser
  Cargo.lock
  components/tidb_query/Cargo.toml
  components/tidb_query/src/codec/mysql/duration.rs
Labels: C: Copr, S: CanMerge

#6472 test: stabilize prevote cases.
  tests/integrations/raftstore/test_prevote.rs
Labels: C: Raft, C: Test/Bench

#6462 [3.1] Update rust-toolchain to 2019-12-20, and cherry-pick #6374
  Cargo.lock
  Cargo.toml
  benches/coprocessor_executors/mod.rs
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/backup/src/lib.rs
  components/backup/src/writer.rs
  components/backup/tests/integrations/test_backup.rs
  components/codec/src/byte.rs
  components/codec/src/lib.rs
  components/codec/src/number.rs
  components/engine/Cargo.toml
  components/engine/src/rocks/sst.rs
  components/engine/src/rocks/util/io_limiter.rs
  components/engine/src/rocks/util/mod.rs
  components/external_storage/Cargo.toml
  components/external_storage/src/lib.rs
  components/external_storage/src/local.rs
  components/external_storage/src/noop.rs
  components/panic_hook/src/lib.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/file.rs
  components/tikv_util/src/time.rs
  rust-toolchain
  src/import/engine.rs
  src/import/sst_importer.rs
  src/import/sst_service.rs
  src/lib.rs
  src/raftstore/store/snap.rs
  src/server/config.rs
  src/storage/gc_worker.rs
Labels: C: Backup-Restore, S: LGT2, T: CherryPick

#6471 cdc: add raft role observer
  components/cdc/src/endpoint.rs
  components/cdc/src/lib.rs
  components/cdc/src/observer.rs
Labels: C: CDC, S: CanMerge

#6473 storage: reduce code duplication using a few macros
  src/server/service/kv.rs
  src/storage/txn/commands.rs
  src/storage/types.rs
Labels: C: Txn, S: CanMerge

#6463 tidb_query: fix CAST binary string as int
  components/tidb_query/src/aggr_fn/util.rs
  components/tidb_query/src/rpn_expr/impl_cast.rs
  components/tidb_query/src/rpn_expr/types/expr.rs
Labels: C: Copr, T: BugFix

#6454 config: not report some config to PD
  Cargo.lock
  components/configuration/Cargo.toml
  components/configuration/configuration_derive/src/lib.rs
  components/configuration/src/lib.rs
  src/config.rs
  src/raftstore/store/config.rs
  tests/integrations/config/test_config_client.rs
Labels: C: Configuration, S: CanMerge

#6483 Bump v4.0.0-beta
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  components/engine/Cargo.toml
  components/engine_rocks/Cargo.toml
Labels: P: Release-blocker

#6455 Fixup fingerprint issue in Dockerfile
  scripts/gen-dockerfile.sh
Labels: C: Build, S: CanMerge, T: BugFix

#6480 config: get the current using config through status config
  cmd/src/server.rs
  components/tikv_util/src/worker/future.rs
  components/tikv_util/src/worker/mod.rs
  src/raftstore/store/worker/pd.rs
  src/server/status_server.rs
Labels: C: Configuration, S: CanMerge

#6474 fix inconsistent with tidb in parsing Duration from String
  components/tidb_query/src/codec/mysql/duration.rs
  components/tidb_query/src/rpn_expr/impl_cast.rs
Labels: C: Copr, S: CanMerge, T: BugFix

#6468 Add prominent docs links to README.
  README.md
Labels: C: Doc, S: CanMerge

#6438 raft: peer shouldn't hibernate if it has pending reads
  components/test_raftstore/src/util.rs
  src/raftstore/store/fsm/peer.rs
  src/raftstore/store/peer.rs
  src/raftstore/store/read_queue.rs
  tests/integrations/raftstore/test_replica_read.rs
Labels: T: BugFix, T: NeedCherryPick-3.1

#6475 fix unstable test_replica_read::test_read_after_cleanup_range_for_snap
  tests/failpoints/cases/test_replica_read.rs
Labels: C: Raft, S: CanMerge, T: NeedCherryPick-3.1

#6209 external_storage: add S3 support
  Cargo.lock
  Cargo.toml
  components/backup/src/writer.rs
  components/external_storage/Cargo.toml
  components/external_storage/examples/scli.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/local.rs
  components/external_storage/src/noop.rs
  components/external_storage/src/s3.rs
  components/tikv_util/src/file.rs
Labels: C: Backup-Restore, S: CanMerge

#6476 tnx_types: Reduce Error Size
  components/txn_types/src/lib.rs
  components/txn_types/src/lock.rs
  components/txn_types/src/write.rs
  src/storage/mvcc/mod.rs
  src/storage/txn/store.rs
  tests/failpoints/cases/test_storage.rs
Labels: S: CanMerge, T: Contributor ⭐️

#6418 copr: chunk time use new 8 byte format
  components/tidb_query/src/codec/chunk/column.rs
  components/tidb_query/src/codec/mysql/time/mod.rs
Labels: T: Contributor ⭐️
