Repository tikv/tikv, pull requests merged in 2020-10, with the labels that each got.

#8774 fix doc tests
  src/server/raft_client.rs
Labels: status/LGT2, status/can-merge

#8776 fix links to point to tikv instead of pingcap
  CONTRIBUTING.md
Labels: status/LGT2, status/can-merge

#8784 *: update rust-rocksdb version to fix build failed
  Cargo.lock
Labels: contribution, sig/engine, status/LGT2, status/can-merge

#8741 tikv_alloc: fix profiling
  components/tikv_alloc/src/jemalloc.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bugfix

#8715 concurrency manager: add memory usage test and lock table benchmarks
  Cargo.lock
  components/concurrency_manager/Cargo.toml
  components/concurrency_manager/benches/lock_table.rs
  components/concurrency_manager/tests/memory_usage.rs
Labels: component/test-bench, sig/transaction, status/LGT2, status/can-merge

#8747 copr: Improve `BitVec` perf
  components/tidb_query_datatype/src/codec/data_type/bit_vec.rs
Labels: contribution, status/LGT2, status/can-merge

#8740 copr: Implement non-nullable support for vargs
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_vec_expr/src/impl_string.rs
Labels: contribution, status/LGT2, status/can-merge

#8749 copr: Vectorize month_name
  components/tidb_query_vec_expr/src/impl_time.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge

#8791 *: update sysinfo version to fix undiscovered disk information
  Cargo.lock
  Cargo.toml
  components/tikv_util/Cargo.toml
Labels: status/LGT2, status/can-merge

#8115 rocksdb: Compaction guard: split SST by region boundaries
  cmd/src/bin/tikv-ctl.rs
  cmd/src/server.rs
  components/engine_panic/src/cf_options.rs
  components/engine_rocks/src/cf_options.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/sst_partitioner.rs
  components/engine_traits/src/cf_options.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/sst_partitioner.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/compaction_guard.rs
  components/raftstore/src/store/mod.rs
  components/test_raftstore/src/util.rs
  src/config.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/storage/test_titan.rs
Labels: component/rocksdb, sig/engine, status/LGT2, status/PTAL, status/can-merge

#8703 implement mvcc consistency check
  cmd/src/server.rs
  components/raftstore/src/coprocessor/config.rs
  components/raftstore/src/store/worker/consistency_check.rs
  etc/config-template.toml
  src/server/debug.rs
  src/server/gc_worker/gc_worker.rs
  src/server/service/debug.rs
  src/storage/mvcc/consistency_check.rs
  src/storage/mvcc/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge

#8795 test: stablize future_pool::tests::test_tick again
  components/tikv_util/src/yatp_pool/future_pool.rs
Labels: component/test-bench, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8794 tikv-server: enable mem profiling features by default
  Makefile
  components/tikv_alloc/src/jemalloc.rs
  tests/Cargo.toml
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, status/LGT3, status/can-merge

#8782 *: remove useless timer pool
  Cargo.lock
  Cargo.toml
  components/test_raftstore/Cargo.toml
  src/server/service/kv.rs
  tests/Cargo.toml
Labels: contribution, status/LGT3, status/can-merge

#8798 metrics: add fast tune panals
  metrics/grafana/tikv_fast_tune.json
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8753 txn: remove async commit configurations
  etc/config-template.toml
  src/coprocessor/endpoint.rs
  src/server/config.rs
  src/storage/config.rs
  src/storage/mod.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: sig/transaction, status/LGT2, status/can-merge

#8773 txn: move scheduler process counter into worker
  src/storage/txn/scheduler.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8799 tikv_util: use singleton sysinfo::System
  components/tikv_util/src/sys/mod.rs
  src/server/service/diagnostics/mod.rs
  src/server/service/diagnostics/sys.rs
Labels: component/util, status/LGT2, status/can-merge

#8803 *: cleanup dependencies
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  cmd/src/bin/tikv-server.rs
  cmd/src/server.rs
  cmd/src/setup.rs
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.lock
  components/log_wrappers/Cargo.toml
  components/pd_client/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tikv_util/Cargo.toml
  components/tikv_util/src/metrics/mod.rs
  components/txn_types/Cargo.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/build, status/LGT2, status/can-merge

#8807 Makefile: do not gen error code before build
  Makefile
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#7794 Ingest SST instead of writing memtable directly when delete a large range of keys.
  Cargo.lock
  components/engine_panic/src/misc.rs
  components/engine_panic/src/sst.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_rocks/src/sst.rs
  components/engine_traits/src/misc.rs
  components/engine_traits/src/sst.rs
  components/engine_traits/tests/Cargo.toml
  components/engine_traits/tests/src/test_metrics_fluster.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/region.rs
  src/server/gc_worker/gc_worker.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge

#8812 metrics: add write-batch-size-too-big panels to Fast-Tune
  metrics/grafana/tikv_fast_tune.json
Labels: status/LGT2, status/can-merge

#8499 raftstore&txn: add a proposed callback
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  etc/config-template.toml
  src/import/sst_service.rs
  src/server/lock_manager/config.rs
  src/server/raftkv.rs
  src/server/service/kv.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/txn/scheduler.rs
  tests/benches/misc/raftkv/mod.rs
  tests/failpoints/cases/test_snap.rs
  tests/failpoints/cases/test_stale_read.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: sig/raft, sig/transaction, status/LGT2, status/can-merge

#8771 copr: add writer support for varg rpn fn
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_vec_expr/src/impl_string.rs
Labels: contribution, status/LGT2, status/can-merge

#8788 rocksdb: add key order check and turn off force-consistency-checks
  Cargo.lock
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/rocksdb, needs-cherry-pick-4.0, sig/engine, status/LGT2, status/can-merge

#8770 update raft engine
  Cargo.lock
  components/raft_log_engine/src/engine.rs
Labels: status/LGT2, status/can-merge

#8727 txn: Move pessimistic prewrite action
  components/backup/src/endpoint.rs
  components/backup/src/service.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/observer.rs
  src/server/gc_worker/compaction_filter.rs
  src/storage/mvcc/consistency_check.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/mod.rs
  src/storage/txn/actions/pessimistic_prewrite.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/shared.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  src/storage/txn/mod.rs
  tests/failpoints/cases/test_transaction.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#8825 update adopters
  docs/adopters.md
Labels: status/LGT2, status/can-merge

#8831 test: fix isolate typo
  tests/integrations/raftstore/test_merge.rs
Labels: first-time-contributor, status/LGT2, status/can-merge

#8827 tikv-ctl: improve cert error messages
  cmd/src/bin/tikv-ctl.rs
Labels: component/security, status/LGT2, status/can-merge

#8737 copr: migrate cast decimal as time expr compatible with non-vec (pingcap/tidb#15185)
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
  components/tidb_query_normal_expr/src/builtin_cast.rs
  components/tidb_query_vec_expr/src/impl_cast.rs
Labels: contribution, status/LGT2, status/can-merge

#8833 fix some typos
  src/storage/mvcc/txn.rs
Labels: first-time-contributor, status/LGT2, status/can-merge

#8826 update raft engine to fix a rewrite bug
  Cargo.lock
  components/raft_log_engine/Cargo.toml
Labels: status/LGT2, status/can-merge

#8832 tests: add tests for holding and releasing memory locks
  Cargo.lock
  components/concurrency_manager/Cargo.toml
  components/concurrency_manager/src/key_handle.rs
  tests/failpoints/cases/test_transaction.rs
Labels: status/LGT2, status/can-merge

#8777 Makefile: organize for faster and more flexible dev workflows
  CONTRIBUTING.md
  Makefile
  ci-build/test.sh
  scripts/clippy-all
  scripts/env
  scripts/test
  scripts/test-all
Labels: status/LGT2, status/can-merge

#8824 scheduler: reduce 2 HashMap lookup for each command and minor fix
  src/server/lock_manager/mod.rs
  src/storage/txn/latch.rs
  src/storage/txn/scheduler.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#8429 engine_traits: add MvccPropertiesExt
  Cargo.lock
  components/engine_panic/Cargo.toml
  components/engine_panic/src/lib.rs
  components/engine_panic/src/mvcc_properties.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/mvcc_properties.rs
  components/engine_rocks/src/properties.rs
  components/engine_traits/Cargo.toml
  components/engine_traits/src/engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/mvcc_properties.rs
  src/server/debug.rs
  src/server/gc_worker/gc_worker.rs
  src/server/raftkv.rs
  src/storage/kv/mod.rs
  src/storage/mvcc/reader/reader.rs
Labels: component/storage, status/LGT2, status/can-merge

#8836 *: update and fix docs links and format
  .github/ISSUE_TEMPLATE/question.md
  CONTRIBUTING.md
  README.md
Labels: component/documentation, status/LGT2

#8842 test: cherry-pick unstable test fix
  components/test_raftstore/src/pd.rs
  tests/integrations/config/dynamic/pessimistic_txn.rs
  tests/integrations/config/dynamic/raftstore.rs
Labels: component/test-bench, status/LGT2, status/can-merge, type/cherry-pick

#8843 test: fix test_node_merge_crash_when_snapshot test
  tests/failpoints/cases/test_merge.rs
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/raft, status/LGT2, status/can-merge

#8662 raftstore: make apply log and read process more early
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
Labels: component/performance, sig/raft, status/LGT2, status/can-merge

#8325 update code comment style
  CODE_COMMENT_STYLE.md
Labels: status/LGT2, status/can-merge

#8422 config: enable dynamically change config pessimistic-txn.pipelined
  cmd/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/lock_manager/config.rs
  src/server/lock_manager/mod.rs
  src/server/node.rs
  src/storage/mod.rs
  src/storage/txn/scheduler.rs
  tests/integrations/config/dynamic/pessimistic_txn.rs
Labels: component/configuration, needs-cherry-pick-4.0, status/LGT3, status/can-merge, type/bugfix

#8792 *: update rust toolchain
  Cargo.lock
  Makefile
  cmd/Cargo.toml
  cmd/build.rs
  cmd/src/bin/tikv-ctl.rs
  cmd/src/bin/tikv-server.rs
  cmd/src/server.rs
  components/cdc/src/endpoint.rs
  components/codec/src/lib.rs
  components/concurrency_manager/src/lock_table.rs
  components/engine_rocks/src/raw_util.rs
  components/external_storage/src/gcs.rs
  components/raftstore/src/coprocessor/consistency_check.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/tidb_query_datatype/src/codec/batch/lazy_column.rs
  components/tidb_query_datatype/src/codec/mysql/decimal.rs
  components/tidb_query_datatype/src/codec/mysql/duration.rs
  components/tidb_query_datatype/src/codec/mysql/json/jcodec.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_merge.rs
  components/tidb_query_datatype/src/codec/mysql/json/mod.rs
  components/tidb_query_datatype/src/codec/row/v2/encoder_for_test.rs
  components/tidb_query_datatype/src/codec/table.rs
  components/tidb_query_datatype/src/lib.rs
  components/tidb_query_normal_executors/src/index_scan.rs
  components/tidb_query_normal_executors/src/lib.rs
  components/tidb_query_normal_executors/src/scan.rs
  components/tidb_query_normal_executors/src/table_scan.rs
  components/tidb_query_normal_executors/src/topn.rs
  components/tidb_query_normal_executors/src/topn_heap.rs
  components/tidb_query_normal_expr/src/builtin_cast.rs
  components/tidb_query_normal_expr/src/column.rs
  components/tidb_query_vec_executors/src/lib.rs
  components/tidb_query_vec_expr/src/impl_cast.rs
  components/tidb_query_vec_expr/src/impl_compare.rs
  components/tidb_query_vec_expr/src/lib.rs
  components/tidb_query_vec_expr/src/types/expr.rs
  components/tidb_query_vec_expr/src/types/expr_eval.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/metrics/threads_linux.rs
  components/tikv_util/src/worker/future.rs
  components/tikv_util/src/worker/mod.rs
  components/txn_types/src/timestamp.rs
  components/txn_types/src/types.rs
  rust-toolchain
  src/coprocessor/statistics/cmsketch.rs
  src/lib.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/service/diagnostics/sys.rs
  src/storage/mvcc/consistency_check.rs
  src/storage/txn/latch.rs
  tests/benches/coprocessor_executors/util/fixture.rs
Labels: component/build, status/LGT2, status/can-merge

#8851 txn: check min_commit_ts to be smaller than max_commit_ts
  Cargo.lock
  components/error_code/src/storage.rs
  components/test_pd/src/server.rs
  etc/error_code.toml
  src/storage/errors.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/pessimistic_prewrite.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/shared.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/failpoints/cases/test_storage.rs
  tests/failpoints/cases/test_transaction.rs
  tests/integrations/server/kv_service.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#8725 Make raftstore testable with arbitrary combinations of storage engines
  Cargo.lock
  Cargo.toml
  Makefile
  cmd/Cargo.toml
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_panic/src/cf_options.rs
  components/engine_panic/src/lib.rs
  components/engine_panic/src/misc.rs
  components/engine_panic/src/raft_engine.rs
  components/engine_rocks/src/cf_options.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_test/Cargo.toml
  components/engine_test/src/lib.rs
  components/engine_traits/src/cf_options.rs
  components/engine_traits/src/misc.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/coprocessor/consistency_check.rs
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/coprocessor/split_check/table.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/read_queue.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/raftstore/src/store/worker/compact.rs
  components/raftstore/src/store/worker/consistency_check.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/raftstore/src/store/worker/read.rs
  components/raftstore/src/store/worker/region.rs
  tests/Cargo.toml
Labels: status/LGT2, status/can-merge

#8805 Encryption: reduce lock range of file_dict and background the key rotation
  Cargo.lock
  components/encryption/Cargo.toml
  components/encryption/src/manager/mod.rs
Labels: needs-cherry-pick-4.0, priority/release-blocker, status/LGT2, status/can-merge

#8847 raftstore: remove the overhead of traversing new committed entries
  components/raftstore/src/store/peer.rs
Labels: status/LGT2, status/can-merge

#8820 raftstore: record the noop entry message temporarily like pending_votes
  cmd/src/server.rs
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/pd.rs
  tests/failpoints/cases/test_replica_read.rs
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/raftstore/test_replica_read.rs
  tests/integrations/storage/test_raftkv.rs
Labels: needs-cherry-pick-4.0, sig/raft, status/LGT2, status/can-merge

#8869 Encryption: reduce lock range of file_dict and background the key rotation (#8805)
  Cargo.lock
  Cargo.toml
  components/batch-system/Cargo.toml
  components/cdc/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/src/manager/mod.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/errors.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/read.rs
  components/tikv_util/Cargo.toml
  tests/Cargo.toml
Labels: status/LGT4, status/can-merge, type/cherry-pick

#8857 engine_rocks: support change rate limit dynamically
  components/engine_panic/src/db_options.rs
  components/engine_rocks/src/db_options.rs
  components/engine_traits/src/db_options.rs
  src/config.rs
Labels: component/rocksdb, status/LGT2, status/can-merge, type/cherry-pick

#8835 txn: Move acquire_pessimistic_lock action
  components/cdc/src/endpoint.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/mod.rs
  src/storage/txn/actions/pessimistic_prewrite.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/mod.rs
Labels: status/LGT2, status/can-merge

#8856 Remove CFHandles from engine_traits
  components/engine_panic/src/cf_handle.rs
  components/engine_panic/src/cf_options.rs
  components/engine_panic/src/import.rs
  components/engine_panic/src/lib.rs
  components/engine_panic/src/table_properties.rs
  components/engine_rocks/src/cf_handle.rs
  components/engine_rocks/src/cf_options.rs
  components/engine_rocks/src/import.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/range_properties.rs
  components/engine_rocks/src/table_properties.rs
  components/engine_traits/src/cf_handle.rs
  components/engine_traits/src/cf_options.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/import.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/table_properties.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/sst_importer/src/import_mode.rs
  components/sst_importer/src/sst_importer.rs
  components/sst_importer/src/util.rs
  src/config.rs
  src/server/debug.rs
  src/storage/config.rs
Labels: status/LGT2, status/can-merge

#8852 importer: do not set in memory in importer sst writer
  components/external_storage/src/local.rs
  components/sst_importer/src/sst_importer.rs
  src/import/sst_service.rs
Labels: component/backup-restore, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8872 txn: move scheduler process counter into worker(#8773)
  src/storage/txn/process.rs
Labels: status/LGT2, status/can-merge

#8871 test: fix unstable test test_node_merge_write_data_to_source_region_after_merging
  tests/failpoints/cases/test_merge.rs
Labels: component/bench-test, needs-cherry-pick-4.0, sig/raft, status/LGT2, status/can-merge

#8870 error_code: re-format metafile
  components/error_code/bin.rs
  components/error_code/src/codec.rs
  components/error_code/src/coprocessor.rs
  components/error_code/src/encryption.rs
  components/error_code/src/engine.rs
  components/error_code/src/lib.rs
  components/error_code/src/pd.rs
  components/error_code/src/raft.rs
  components/error_code/src/raftstore.rs
  components/error_code/src/sst_importer.rs
  components/error_code/src/storage.rs
  etc/error_code.toml
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8830 make build_dist_release: use a static Dockerfile
  Dockerfile
  Makefile
Labels: status/LGT2, status/can-merge

#8878 cdc: fix resolved ts blocked by channel receiving & improve old value
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/metrics.rs
  components/cdc/src/observer.rs
  components/cdc/tests/failpoints/test_resolve.rs
Labels: status/LGT2, status/can-merge

#8571 txn: Async apply for prewrites of async commit transactions
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  etc/config-template.toml
  src/server/raftkv.rs
  src/storage/config.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pause.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: sig/transaction, status/LGT2, status/can-merge

#8882 Refactored a default function into Default trait.
  components/raftstore/src/store/worker/split_controller.rs
Labels: first-time-contributor, status/LGT2, status/can-merge

#8008 *: update yatp to reduce allocations in the multilevel mode and enable it for storage by default
  Cargo.lock
  components/tikv_util/src/sys/mod.rs
  src/config.rs
Labels: component/storage, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8854 rocksdb: default use WriteAmpBasedRateLimiter with auto-tuned on
  Cargo.lock
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/rocksdb, status/LGT2, status/can-merge

#8866 Bump tame-gcs to simplify code.
  Cargo.lock
  components/external_storage/Cargo.toml
  components/external_storage/src/gcs.rs
Labels: first-time-contributor, status/LGT2, status/can-merge

#8894 tikv_util: fix build error on macos
  components/tikv_util/src/sys/mod.rs
Labels: status/LGT2, status/can-merge

#8514 storage: Optimize seek write for many tombstones
  components/engine_rocks/src/options.rs
  components/engine_traits/src/options.rs
  src/server/raftkv.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/cursor.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
Labels: status/LGT2, status/can-merge, type/enhancement

#8889 statistics: make perf statistics safer
  src/coprocessor/endpoint.rs
  src/coprocessor/interceptors/tracker.rs
  src/coprocessor/tracker.rs
  src/lib.rs
  src/storage/kv/perf_context.rs
Labels: component/storage, status/LGT2, status/can-merge

#8891 *: remove io from gRPC threads (#8886)
  Cargo.lock
  Cargo.toml
  components/backup/src/endpoint.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/sst.rs
  components/external_storage/Cargo.toml
  components/external_storage/src/lib.rs
  components/external_storage/src/metrics.rs
  src/import/sst_service.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_import_service.rs
  tests/integrations/import/mod.rs
  tests/integrations/import/test_sst_service.rs
  tests/integrations/import/util.rs
Labels: status/LGT2, status/can-merge

#8886 *: remove io from gRPC threads
  Cargo.lock
  Cargo.toml
  components/backup/src/endpoint.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/sst.rs
  components/external_storage/Cargo.toml
  components/external_storage/src/lib.rs
  components/external_storage/src/metrics.rs
  src/import/sst_service.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_import_service.rs
  tests/integrations/import/mod.rs
  tests/integrations/import/test_sst_service.rs
  tests/integrations/import/util.rs
Labels: status/LGT2, status/can-merge, type/bugfix

#8604 storage/kv: Add comment for Engine trait
  src/storage/kv/mod.rs
Labels: contribution, status/LGT2, status/can-merge

#8696 coprocessor/expression: push down builtin method NullTimeDiff
  components/tidb_query_normal_expr/src/builtin_time.rs
  components/tidb_query_normal_expr/src/scalar_function.rs
Labels: contribution, status/LGT2, status/can-merge

#8849 copr: Add mysql Enum and Set support
  components/tidb_query_datatype/src/codec/mysql/enums.rs
  components/tidb_query_datatype/src/codec/mysql/mod.rs
  components/tidb_query_datatype/src/codec/mysql/set.rs
Labels: status/LGT2, status/can-merge

#8850 txn: make use of near_seek for write-cf
  src/storage/kv/cursor.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/commands/mvcc_by_key.rs
  src/storage/txn/commands/txn_heart_beat.rs
  tests/benches/misc/storage/mod.rs
  tests/benches/misc/storage/mvcc_reader.rs
  tests/benches/misc/util/slice_compare.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#8892 *: refactor collation code structure
  components/tidb_query_datatype/src/codec/collation/charset.rs
  components/tidb_query_datatype/src/codec/collation/collator/binary.rs
  components/tidb_query_datatype/src/codec/collation/collator/mod.rs
  components/tidb_query_datatype/src/codec/collation/collator/utf8mb4_binary.rs
  components/tidb_query_datatype/src/codec/collation/collator/utf8mb4_general_ci.rs
  components/tidb_query_datatype/src/codec/collation/collator/utf8mb4_unicode_ci.rs
  components/tidb_query_datatype/src/codec/collation/mod.rs
Labels: status/LGT2, status/can-merge

#8762 txn: Support 1PC for transactions that involves only one region
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/pessimistic_prewrite.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/shared.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  src/storage/txn/store.rs
  src/storage/types.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/failpoints/cases/test_storage.rs
  tests/failpoints/cases/test_transaction.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#8898 storage: Add a test case for async apply prewrite falling back
  components/raftstore/src/store/fsm/peer.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_storage.rs
Labels: component/storage, component/test-bench, sig/transaction, status/LGT2, status/can-merge

#8899 backup: handle create external storage error
  components/backup/src/endpoint.rs
  components/backup/src/service.rs
  components/backup/tests/integrations/test_backup.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bugfix

#8880 Remove pipelined lock check
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/pessimistic_prewrite.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#8900 backup: handle create external storage error (#8899)
  components/backup/src/endpoint.rs
  components/backup/src/service.rs
  components/backup/tests/integrations/test_backup.rs
Labels: status/LGT2, status/can-merge, type/cherry-pick

#8902 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: status/LGT2, status/can-merge

#8865 encryption: Turn file dictionary into log style
  components/encryption/src/config.rs
  components/encryption/src/encrypted_file/header.rs
  components/encryption/src/encrypted_file/mod.rs
  components/encryption/src/lib.rs
  components/encryption/src/log_file.rs
  components/encryption/src/manager/mod.rs
  components/test_raftstore/src/cluster.rs
  components/test_util/src/encryption.rs
  tests/integrations/config/mod.rs
  tests/integrations/server_encryption.rs
Labels: component/security, sig/engine, status/LGT2, status/can-merge

#8863 rocksdb: add config for max-background-flushes
  Cargo.lock
  components/engine_rocks/src/db_options.rs
  docs/V2.1/op-guide/rocksdb-option-config.md
  docs/reference/configuration/rocksdb-option-config.md
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/rocksdb, sig/engine, status/LGT2, status/can-merge

#8909 storage: Support async apply prewrite for 1PC transactions
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  tests/failpoints/cases/test_storage.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#8914 Bump version v4.0.8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: status/LGT2, status/can-merge

#8893 github: refine challenge program template
  .github/ISSUE_TEMPLATE/challenge-program.md
  .github/ISSUE_TEMPLATE/performance-challenge-program.md
  .github/pull_request_template.md
Labels: status/LGT2, status/can-merge

#8915 don't block 60s when shutdown tikv server
  src/server/server.rs
Labels: status/LGT2, status/can-merge

#8917 copr: remove non-vec coprocessor
  Cargo.lock
  Cargo.toml
  components/tidb_query_normal_executors/Cargo.toml
  components/tidb_query_normal_executors/src/aggregate.rs
  components/tidb_query_normal_executors/src/aggregation.rs
  components/tidb_query_normal_executors/src/index_scan.rs
  components/tidb_query_normal_executors/src/lib.rs
  components/tidb_query_normal_executors/src/limit.rs
  components/tidb_query_normal_executors/src/runner.rs
  components/tidb_query_normal_executors/src/scan.rs
  components/tidb_query_normal_executors/src/selection.rs
  components/tidb_query_normal_executors/src/table_scan.rs
  components/tidb_query_normal_executors/src/topn.rs
  components/tidb_query_normal_executors/src/topn_heap.rs
  components/tidb_query_normal_expr/Cargo.toml
  components/tidb_query_normal_expr/src/builtin_arithmetic.rs
  components/tidb_query_normal_expr/src/builtin_cast.rs
  components/tidb_query_normal_expr/src/builtin_compare.rs
  components/tidb_query_normal_expr/src/builtin_control.rs
  components/tidb_query_normal_expr/src/builtin_encryption.rs
  components/tidb_query_normal_expr/src/builtin_json.rs
  components/tidb_query_normal_expr/src/builtin_like.rs
  components/tidb_query_normal_expr/src/builtin_math.rs
  components/tidb_query_normal_expr/src/builtin_miscellaneous.rs
  components/tidb_query_normal_expr/src/builtin_op.rs
  components/tidb_query_normal_expr/src/builtin_other.rs
  components/tidb_query_normal_expr/src/builtin_string.rs
  components/tidb_query_normal_expr/src/builtin_time.rs
  components/tidb_query_normal_expr/src/column.rs
  components/tidb_query_normal_expr/src/constant.rs
  components/tidb_query_normal_expr/src/lib.rs
  components/tidb_query_normal_expr/src/scalar_function.rs
  src/coprocessor/dag/mod.rs
  tests/Cargo.toml
  tests/benches/coprocessor_executors/hash_aggr/mod.rs
  tests/benches/coprocessor_executors/hash_aggr/util.rs
  tests/benches/coprocessor_executors/index_scan/mod.rs
  tests/benches/coprocessor_executors/index_scan/util.rs
  tests/benches/coprocessor_executors/integrated/mod.rs
  tests/benches/coprocessor_executors/integrated/util.rs
  tests/benches/coprocessor_executors/selection/mod.rs
  tests/benches/coprocessor_executors/selection/util.rs
  tests/benches/coprocessor_executors/simple_aggr/mod.rs
  tests/benches/coprocessor_executors/simple_aggr/util.rs
  tests/benches/coprocessor_executors/stream_aggr/mod.rs
  tests/benches/coprocessor_executors/stream_aggr/util.rs
  tests/benches/coprocessor_executors/table_scan/mod.rs
  tests/benches/coprocessor_executors/table_scan/util.rs
  tests/benches/coprocessor_executors/top_n/mod.rs
  tests/benches/coprocessor_executors/top_n/util.rs
  tests/benches/coprocessor_executors/util/bencher.rs
  tests/benches/coprocessor_executors/util/fixture.rs
  tests/benches/coprocessor_executors/util/scan_bencher.rs
Labels: sig/coprocessor, status/LGT2, status/can-merge
