Repository tikv/tikv, pull requests merged in 2020-08, with the labels that each got.

#8386 *: Bump 3.0.17
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: status/LGT2

#8375 *: define error code for errors
  Cargo.lock
  Cargo.toml
  components/codec/Cargo.toml
  components/codec/src/error.rs
  components/encryption/Cargo.toml
  components/encryption/src/errors.rs
  components/engine_traits/Cargo.toml
  components/engine_traits/src/errors.rs
  components/error_code/Cargo.toml
  components/error_code/src/codec.rs
  components/error_code/src/coprocessor.rs
  components/error_code/src/encryption.rs
  components/error_code/src/engine.rs
  components/error_code/src/lib.rs
  components/error_code/src/pd.rs
  components/error_code/src/raft.rs
  components/error_code/src/raftstore.rs
  components/error_code/src/sst_importer.rs
  components/error_code/src/storage.rs
  components/pd_client/Cargo.toml
  components/pd_client/src/errors.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/coprocessor/error.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/store/snap.rs
  components/sst_importer/Cargo.toml
  components/sst_importer/src/errors.rs
  components/tidb_query_common/Cargo.toml
  components/tidb_query_common/src/error.rs
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/src/codec/error.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/codec/mod.rs
  components/tikv_util/src/error_code/engine.rs
  components/tikv_util/src/error_code/storage.rs
  components/tikv_util/src/lib.rs
  components/txn_types/Cargo.toml
  components/txn_types/src/lib.rs
  src/coprocessor/error.rs
  src/storage/errors.rs
  src/storage/kv/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/txn/mod.rs
Labels: sig/coprocessor, sig/engine, sig/raft, sig/transaction, status/LGT1

#8361 cmd: tikv-ctl upgrade to futures 0.3
  Cargo.lock
  cmd/Cargo.toml
  cmd/src/bin/tikv-ctl.rs
Labels: contribution, status/LGT2, status/can-merge, type/enhancement

#8322 copr: coprocessor batch executors support handling server-side streaming requests.
  Cargo.lock
  components/tidb_query_vec_executors/Cargo.toml
  components/tidb_query_vec_executors/src/index_scan_executor.rs
  components/tidb_query_vec_executors/src/runner.rs
  components/tidb_query_vec_executors/src/table_scan_executor.rs
  components/tidb_query_vec_executors/src/util/scan_executor.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/statistics/analyze.rs
  tests/benches/coprocessor_executors/index_scan/util.rs
  tests/benches/coprocessor_executors/integrated/util.rs
  tests/benches/coprocessor_executors/table_scan/util.rs
  tests/benches/coprocessor_executors/util/mod.rs
  tests/integrations/coprocessor/test_select.rs
Labels: component/coprocessor, contribution, status/LGT2, status/can-merge

#8390 tests: fix size split check
  components/raftstore/src/coprocessor/split_check/size.rs
Labels: status/LGT1, status/can-merge, type/bugfix

#8296 txn: Move Command's read or write process to their own file
  src/storage/mod.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/mvcc_by_key.rs
  src/storage/txn/commands/mvcc_by_start_ts.rs
  src/storage/txn/commands/pause.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/resolve_lock_readphase.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/scan_lock.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/mod.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
Labels: component/storage, component/transaction, sig/transaction, status/LGT2, status/can-merge

#8385 raftstore: ouput error code to logs
  components/error_code/src/lib.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/coprocessor/split_check/table.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/cleanup_sst.rs
  components/raftstore/src/store/worker/consistency_check.rs
  components/raftstore/src/store/worker/read.rs
  components/raftstore/src/store/worker/region.rs
  components/raftstore/src/store/worker/split_check.rs
Labels: needs-cherry-pick-4.0, sig/raft, status/LGT2, status/can-merge

#8392 engine_traits: fix default value for fill cache
  components/engine_traits/src/options.rs
Labels: sig/engine, sig/tools, type/bugfix

#8310 storage: Remove scan_mode for prewrite
  src/storage/mvcc/txn.rs
  src/storage/txn/commands/prewrite.rs
Labels: component/transaction, status/LGT2, status/can-merge

#8370 makefile: Add `make doc` command
  Makefile
Labels: status/LGT2, status/can-merge

#8371 rocksdb: add config for rate_limiter.refill_period
  Cargo.lock
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/rocksdb, sig/engine, status/DNM, status/LGT2, status/can-merge, type/enhancement

#8405 txn: support async commit for pessimistic transactions
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  tests/failpoints/cases/test_storage.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#8408 raftstore: fix side effects when receiving an old snapshot
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/node.rs
  tests/failpoints/cases/test_snap.rs
Labels: sig/raft, status/LGT1

#8388 raftstore: use KvEngine trait instead of implementations
  cmd/src/server.rs
  components/engine_panic/src/write_batch.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/write_batch.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/mod.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/region.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/server/node.rs
  src/server/server.rs
  src/server/snap.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_service.rs
Labels: status/LGT2

#8349 txn: Mark a flag when commit record collides with a protected rollback in write_cf
  components/txn_types/src/write.rs
  src/server/gc_worker/compaction_filter.rs
  src/storage/mvcc/metrics.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#8415 readme: updated docs links to point to version 4.0
  README.md
Labels: contribution, status/LGT2, status/can-merge

#8339 gc: handle deletes correctly in compaction filter
  src/server/gc_worker/compaction_filter.rs
  src/storage/kv/rocksdb_engine.rs
Labels: status/LGT2, type/bugfix

#8363 txn: use in-memory lock table and avoid getting timestamp from PD in prewrite
  Cargo.lock
  cmd/src/server.rs
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/backup/tests/integrations/test_backup.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/test_coprocessor/src/fixture.rs
  components/test_raftstore/src/server.rs
  components/test_storage/src/sync_storage.rs
  components/txn_types/src/lock.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/mod.rs
  src/server/gc_worker/gc_worker.rs
  src/server/node.rs
  src/server/server.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  src/storage/concurrency_manager/key_handle.rs
  src/storage/concurrency_manager/lock_table.rs
  src/storage/concurrency_manager/mod.rs
  src/storage/mod.rs
  src/storage/mvcc/metrics.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pause.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
Labels: component/storage, sig/transaction, status/LGT2, status/can-merge

#8425 util: support float cgroup cpu quota
  components/tikv_util/src/sys/cgroup.rs
  components/tikv_util/src/sys/mod.rs
  src/config.rs
  src/server/config.rs
  src/storage/config.rs
Labels: component/configuration, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8428 storage: make Engine::kv_engine generic
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_worker.rs
  src/server/gc_worker/mod.rs
  src/server/raftkv.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
Labels: component/storage, status/LGT2, status/can-merge

#8434 cdc: support config file
  cmd/src/server.rs
  components/cdc/src/endpoint.rs
  components/cdc/tests/mod.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/CDC, sig/tools, status/LGT1

#8414 server: report cpu cores quota to Prometheus
  cmd/src/server.rs
  src/server/metrics.rs
  src/server/mod.rs
Labels: contribution, status/LGT2, status/can-merge

#8396 gc_worker: Change log about gc failure to warn level
  src/server/gc_worker/gc_manager.rs
Labels: component/server, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, priority/low, status/LGT2, status/can-merge

#8439 txn: Store rollback ts in the lock when the key is locked by another transaction
  components/txn_types/src/lock.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
Labels: sig/transaction, status/LGT3, status/can-merge

#8421 Fix grafana perf context panel id duplicate issue
  metrics/grafana/tikv_details.json
Labels: needs-cherry-pick-4.0, status/LGT2, type/bugfix

#8395 txn: Forbit pushing min_commit_ts of async commit transaction
  src/storage/mvcc/txn.rs
Labels: sig/transaction, status/LGT3, status/can-merge

#8409 Use raft engine
  Cargo.lock
  cmd/src/bin/tikv-ctl.rs
  cmd/src/server.rs
  cmd/src/signal_handler.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/Cargo.toml
  components/engine_traits/src/engines.rs
  components/engine_traits/src/metrics_flusher.rs
  components/engine_traits/tests/src/test_metrics_fluster.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/errors.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/raftstore/src/store/worker/read.rs
  components/raftstore/src/store/worker/region.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  src/server/debug.rs
  src/server/node.rs
  src/server/service/debug.rs
  src/storage/kv/cursor.rs
  src/storage/kv/rocksdb_engine.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_compact_log.rs
  tests/integrations/storage/test_titan.rs
Labels: sig/engine, status/LGT2

#8431 *: disable checking memory locks by default
  etc/config-template.toml
  src/coprocessor/endpoint.rs
  src/server/config.rs
  src/storage/config.rs
  src/storage/mod.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  src/storage/txn/scheduler.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: sig/transaction, status/LGT2, status/can-merge

#8448 *: update kvproto
  Cargo.lock
  components/cdc/tests/integrations/test_cdc.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/test_raftstore/src/pd.rs
  src/server/status_server/region_meta.rs
  tests/integrations/raftstore/test_conf_change.rs
Labels: status/LGT2, status/can-merge, type/enhancement

#8217 gc_worker: collect locks after applying
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  src/server/gc_worker/applied_lock_collector.rs
  tests/failpoints/cases/test_gc_worker.rs
Labels: needs-cherry-pick-4.0, sig/transaction, status/LGT2, status/can-merge, type/bugfix

#8454 raftstore: fix lost request vote messages during split
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  tests/failpoints/cases/test_split_region.rs
Labels: sig/raft, status/LGT1, type/bugfix

#8400 br: support set compression level when write sst files
  Cargo.lock
  components/backup/src/endpoint.rs
  components/backup/src/writer.rs
  components/engine_panic/src/sst.rs
  components/engine_rocks/src/sst.rs
  components/engine_traits/src/sst.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8458 *: update raft engine
  Cargo.lock
  components/tidb_query_vec_expr/Cargo.toml
Labels: component/security, status/LGT2, status/can-merge

#8224 *: support handle search invalid logs file
  src/server/service/diagnostics/log.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8406 Upgrade future for pd_client
  Cargo.lock
  cmd/src/bin/tikv-ctl.rs
  cmd/src/server.rs
  components/backup/tests/integrations/test_backup.rs
  components/cdc/Cargo.toml
  components/cdc/src/endpoint.rs
  components/cdc/tests/failpoints/test_observe.rs
  components/cdc/tests/failpoints/test_register.rs
  components/cdc/tests/failpoints/test_resolve.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/pd_client/Cargo.toml
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/pd_client/src/util.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/pd.rs
  components/test_raftstore/src/server.rs
  src/server/gc_worker/gc_worker.rs
  tests/Cargo.toml
  tests/failpoints/cases/test_conf_change.rs
  tests/integrations/import/sst_service.rs
  tests/integrations/pd/test_rpc_client.rs
  tests/integrations/raftstore/test_conf_change.rs
  tests/integrations/raftstore/test_hibernate.rs
Labels: status/LGT2, type/enhancement

#8436 metrics: add alert rule for process restart
  metrics/alertmanager/tikv.rules.yml
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT3, status/can-merge

#8470 storage: fix wrong context in batch_get_commands
  src/storage/mod.rs
Labels: sig/transaction, status/LGT2, status/can-merge, type/bugfix

#8378 copr: Add vectorize to_seconds
  components/tidb_query_vec_expr/src/impl_time.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge

#8397 copr: add fast path for ensure_decoded
  components/tidb_query_datatype/src/codec/batch/lazy_column.rs
  components/tidb_query_datatype/src/codec/data_type/logical_rows.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_vec_executors/src/fast_hash_aggr_executor.rs
  components/tidb_query_vec_executors/src/selection_executor.rs
  components/tidb_query_vec_executors/src/slow_hash_aggr_executor.rs
  components/tidb_query_vec_executors/src/util/hash_aggr_helper.rs
  components/tidb_query_vec_expr/src/types/expr_eval.rs
Labels: contribution, status/LGT2, status/can-merge

#8441 raftstore: add epoch checker to eliminate the proposals' failure due to epoch not match during applying
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/test_raftstore/src/cluster.rs
Labels: sig/raft

#8455 raftstore: destroy process must be asynchronous if peer is initialized
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_snap.rs
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, sig/raft, status/LGT2, status/can-merge

#7563 Fix incorrect processed / total keys counter
  src/coprocessor/metrics.rs
  src/coprocessor/tracker.rs
  src/server/metrics.rs
  src/storage/kv/stats.rs
  src/storage/metrics.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  tests/integrations/coprocessor/test_select.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8468 *: update max ts when a peer becomes leader or after region merge
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  cmd/src/server.rs
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/backup/tests/integrations/test_backup.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/concurrency_manager/Cargo.toml
  components/concurrency_manager/src/key_handle.rs
  components/concurrency_manager/src/lib.rs
  components/concurrency_manager/src/lock_table.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/read.rs
  components/test_coprocessor/Cargo.toml
  components/test_coprocessor/src/fixture.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/coprocessor/endpoint.rs
  src/server/gc_worker/gc_worker.rs
  src/server/node.rs
  src/server/raftkv.rs
  src/storage/kv/mod.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
  tests/Cargo.toml
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_service.rs
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: sig/raft, sig/transaction, status/LGT2, status/can-merge

#8498 server: implement full raft client
  components/tikv_util/src/future_pool/mod.rs
  components/tikv_util/src/lru.rs
  src/server/raft_client/fresh.rs
Labels: component/gRPC, status/LGT1

#8477 raftstore: use binary search to find the proposed time
  components/raftstore/src/store/peer.rs
Labels: sig/raft, status/LGT2, type/enhancement

#8487 raftstore: Refactor type parameter of apply to make code clear
  components/engine_panic/src/write_batch.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_rocks/src/write_batch.rs
  components/engine_traits/src/misc.rs
  components/engine_traits/src/mutable.rs
  components/engine_traits/src/write_batch.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/snap/io.rs
  src/server/debug.rs
  src/server/gc_worker/compaction_filter.rs
  tests/benches/misc/writebatch/bench_writebatch.rs
Labels: status/LGT2, status/can-merge

#8503 copr: add benchmark for chunk-based computing
  components/tidb_query_datatype/src/codec/data_type/bit_vec.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_bytes.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_json.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_sized.rs
  components/tidb_query_vec_expr/src/types/expr_eval.rs
Labels: status/LGT2, status/can-merge

#8435 txn: Move several MvccTxn functions to command
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/mod.rs
Labels: sig/transaction, status/LGT2

#8507 Remove remaining uses of RocksEngine in raftstore
  cmd/src/server.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/util.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/worker/split_check.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/server/gc_worker/gc_worker.rs
  src/storage/kv/cursor.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge

#8509 [4.0] cdc: cherry pick bug fixes to release-4.0
  cmd/src/server.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/observer.rs
  components/cdc/tests/mod.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/CDC, sig/tools, status/LGT2, status/can-merge

#8494 Upgrade future for tikv_util (step 1)
  Cargo.lock
  components/cdc/src/endpoint.rs
  components/sst_importer/Cargo.toml
  components/sst_importer/src/errors.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/future.rs
  components/tikv_util/src/lib.rs
  src/import/sst_service.rs
  src/server/errors.rs
  src/server/gc_worker/gc_worker.rs
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/service/kv.rs
  src/storage/kv/mod.rs
Labels: status/LGT2, type/enhancement

#8508 txn: check whether max timestamp is up-to-date in async-commit prewrite
  Cargo.lock
  components/error_code/src/storage.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/pd.rs
  src/storage/errors.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/prewrite_pessimistic.rs
  src/storage/txn/mod.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/raftstore/test_merge.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#8515 fix test_destroy_local_reader
  components/raftstore/src/store/worker/read.rs
Labels: component/test-bench, status/LGT2, status/can-merge

#8523 *: bump 2.1.17-hotfix
  Cargo.lock
  Cargo.toml
Labels: status/LGT1

#8521 copr: fix deadline detection test: `test_deadline_3`
  Cargo.lock
  components/tidb_query_vec_executors/Cargo.toml
  components/tidb_query_vec_executors/src/runner.rs
  tests/failpoints/cases/test_coprocessor.rs
Labels: priority/critical, sig/coprocessor, status/LGT2, status/can-merge

#8525 tests: transfer leader to node 1 first to make sync max ts tests stable
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: component/test-bench, sig/raft, sig/transaction, status/LGT2, status/can-merge

#8418 copr: migrate builtin functions from non-vec framework to the vec one
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
  components/tidb_query_vec_expr/src/impl_compare.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge

#8533 test: fix test_notify_observer_after_apply
  tests/failpoints/cases/test_gc_worker.rs
Labels: component/test-bench, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8466 config: check if current config is the equivalent of last one
  src/config.rs
Labels: contribution, status/LGT2, status/can-merge

#8194 config: error on unrecognized keys in --config-check
  Cargo.lock
  Cargo.toml
  cmd/src/bin/tikv-server.rs
  cmd/src/setup.rs
  components/test_raftstore/src/util.rs
  src/config.rs
Labels: component/configuration, status/LGT2, status/can-merge, type/enhancement

#8542 Bump version v4.0.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: status/LGT1, status/can-merge

#8529 txn: return lock info in CheckTxnStatus
  Cargo.lock
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/types.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#8420 charset: support utf8mb4_unicode_ci collation
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_datatype/src/codec/collation/unicode_ci_data.rs
  components/tidb_query_datatype/src/codec/collation/utf8mb4.rs
  components/tidb_query_datatype/src/def/field_type.rs
  components/tidb_query_vec_aggr/src/impl_max_min.rs
  components/tidb_query_vec_expr/src/impl_compare.rs
  components/tidb_query_vec_expr/src/impl_compare_in.rs
  components/tidb_query_vec_expr/src/impl_like.rs
Labels: contribution, sig/coprocessor, status/LGT2, status/can-merge

#8532 Fix make doc warnings
  components/tidb_query_datatype/src/codec/mysql/json/path_expr.rs
  components/txn_types/src/types.rs
  src/storage/mod.rs
  src/storage/txn/commands/mod.rs
Labels: contribution, status/LGT2, status/can-merge

#8536 raftstore: refactor hibernate-timeout
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: sig/raft, status/LGT2, status/can-merge

#8511 Upgrade future for tikv_util (step 2)
  Cargo.lock
  components/cdc/src/delegate.rs
  components/cdc/src/service.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/pd.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/future.rs
  components/tikv_util/src/future_pool/mod.rs
  components/tikv_util/src/mpsc/batch.rs
  components/tikv_util/src/timer.rs
  components/tikv_util/src/worker/future.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/raft_client/legacy.rs
  src/server/service/kv.rs
  tests/benches/channel/bench_channel.rs
Labels: component/util, status/LGT3, type/enhancement

#8286 raftstore: support multi consistency check
  cmd/src/server.rs
  components/raftstore/src/coprocessor/config.rs
  components/raftstore/src/coprocessor/consistency_check.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/consistency_check.rs
Labels: status/LGT2

#8551 tidb_query: bug fix for vectorized casting real as time
  components/tidb_query_vec_expr/src/impl_cast.rs
Labels: status/LGT2, status/can-merge

#8520 cdc: Make compatible with async commit
  Cargo.lock
  cmd/src/server.rs
  components/cdc/Cargo.toml
  components/cdc/src/endpoint.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  components/concurrency_manager/src/lib.rs
  components/concurrency_manager/src/lock_table.rs
  components/test_raftstore/src/pd.rs
Labels: component/CDC, sig/tools, sig/transaction, status/LGT3, status/can-merge
