Repository tikv/tikv, pull requests merged in 2020-11, with the labels that each got.

#8919 *: fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: first-time-contributor, status/LGT2, status/can-merge

#8921 txn: check data constraint after lock
  src/storage/kv/rocksdb_engine.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/prewrite.rs
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, sig/transaction, status/LGT2, status/can-merge, type/bugfix

#8918 rocksdb: change target-file-size-base back to 8M
  src/config.rs
Labels: status/LGT3, status/can-merge

#8930 txn: check data constraint after lock
  src/storage/kv/rocksdb_engine.rs
  src/storage/mvcc/txn.rs
Labels: status/LGT2, status/can-merge, type/cherry-pick

#8925 *: update deps
  Cargo.lock
Labels: status/LGT2, status/can-merge, type/bugfix

#8896 raftstore: trace split command source
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_check.rs
  components/test_raftstore/src/cluster.rs
  src/server/service/kv.rs
Labels: needs-cherry-pick-4.0, sig/raft, status/LGT2, status/can-merge, type/enhancement

#8934 *: update deps
  Cargo.lock
Labels: status/LGT2, status/can-merge

#4935 Support adjusting log level dynamically through HTTP API (#4033)
  components/tikv_util/src/logger/mod.rs
  src/server/status_server/mod.rs
Labels: contribution, status/LGT2, status/can-merge, status/waiting

#8885 txn: Move cleanup
  components/cdc/src/observer.rs
  src/storage/mvcc/consistency_check.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/cleanup.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/mod.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/mod.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
Labels: status/LGT2, status/can-merge

#8903 *: make snapshot aware of memory lock checking
  components/backup/src/endpoint.rs
  components/backup/tests/integrations/test_backup.rs
  components/cdc/src/endpoint.rs
  components/test_coprocessor/src/store.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/mod.rs
  src/coprocessor/tracker.rs
  src/server/gc_worker/gc_worker.rs
  src/server/raftkv.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/cleanup.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/pessimistic_prewrite.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/engine/mod.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/benches/misc/raftkv/mod.rs
  tests/benches/misc/storage/incremental_get.rs
  tests/benches/misc/storage/mvcc_reader.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/coprocessor/test_checksum.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_transfer_leader.rs
  tests/integrations/storage/test_raftkv.rs
Labels: sig/transaction, status/LGT2

#8814 tikv-server: Add ScanDetailV2 to KvGet and KvBatchGet
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/sync_storage.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  src/storage/errors.rs
  src/storage/kv/perf_context.rs
  src/storage/kv/stats.rs
  src/storage/mod.rs
  tests/failpoints/cases/test_storage.rs
  tests/failpoints/cases/test_transaction.rs
  tests/integrations/storage/test_raft_storage.rs
  tests/integrations/storage/test_storage.rs
Labels: rewarded, status/LGT2, status/can-merge

#8951 copr: Add behavior comment for ChunkedVec
  components/tidb_query_datatype/src/codec/data_type/mod.rs
Labels: status/LGT2, status/can-merge

#8947 rocksdb: add config for max-background-flushes (#8863)
  Cargo.lock
  components/engine_rocks/src/db_options.rs
  docs/V2.1/op-guide/rocksdb-option-config.md
  docs/reference/configuration/rocksdb-option-config.md
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge

#8952 github: fix challenge program template
  .github/ISSUE_TEMPLATE/challenge-program.md
Labels: status/LGT2, status/can-merge

#8821 *: Merge some single thread of TiKV into one thread pool.
  cmd/src/server.rs
  components/backup/src/endpoint.rs
  components/backup/src/service.rs
  components/backup/tests/integrations/test_backup.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/observer.rs
  components/cdc/tests/mod.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/raftstore/src/store/worker/region.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/tikv_util/src/timer.rs
  components/tikv_util/src/worker/mod.rs
  components/tikv_util/src/worker/pool.rs
  etc/config-template.toml
  metrics/grafana/tikv_details.json
  src/server/config.rs
  src/server/debug.rs
  src/server/gc_worker/applied_lock_collector.rs
  src/server/node.rs
  src/server/resolve.rs
  src/server/server.rs
  src/storage/kv/rocksdb_engine.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/config/dynamic/split_check.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
  tests/integrations/raftstore/test_service.rs
  tests/integrations/server/raft_client.rs
  tests/integrations/storage/test_seek_region.rs
Labels: component/util, status/LGT2, status/can-merge

#8897 collation: complement a missing data
  components/tidb_query_datatype/src/codec/collation/collator/utf8mb4_unicode_ci.rs
Labels: status/LGT2, status/can-merge

#8961 stabilize test_read_index_when_transfer_leader_2
  tests/failpoints/cases/test_stale_read.rs
Labels: status/LGT2, status/can-merge

#8960 encryption: Turn file dictionary into log style (#8865)
  components/encryption/src/config.rs
  components/encryption/src/encrypted_file/header.rs
  components/encryption/src/encrypted_file/mod.rs
  components/encryption/src/lib.rs
  components/encryption/src/log_file.rs
  components/encryption/src/manager/mod.rs
  components/test_raftstore/src/cluster.rs
  components/test_util/src/encryption.rs
  tests/integrations/config/mod.rs
  tests/integrations/server_encryption.rs
Labels: component/security, sig/engine, status/LGT2, status/can-merge, type/cherry-pick

#8858 handle MVCC delete marks quickly
  src/server/gc_worker/compaction_filter.rs
Labels: status/LGT2, status/can-merge

#8963 tests: add prewrite before max ts is synced failpoints tests
  components/test_raftstore/src/pd.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_transfer_leader.rs
Labels: component/test-bench, sig/transaction, status/LGT2, status/can-merge

#8971 *: fix counter overflow
  components/tikv_util/src/worker/pool.rs
Labels: component/util, status/LGT3, status/can-merge, type/bugfix

#8948 copr: Implement ChunkedVecEnum
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_enum.rs
  components/tidb_query_datatype/src/codec/mysql/enums.rs
Labels: status/LGT2, status/can-merge

#8991 metrics: fix compaction pending bytes metrics
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_fast_tune.json
  metrics/grafana/tikv_trouble_shooting.json
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8985 importer: rename sst file with key manager to fix ingest sst failure
  components/sst_importer/src/sst_importer.rs
  components/test_raftstore/src/server.rs
  components/test_util/src/encryption.rs
  components/test_util/src/lib.rs
  tests/integrations/import/test_sst_service.rs
  tests/integrations/import/util.rs
Labels: component/backup-restore, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8992 copr: Code cleanup
  Cargo.lock
  Cargo.toml
  components/tidb_query/Cargo.toml
  components/tidb_query_normal_expr/Cargo.toml
  components/tidb_query_shared_expr/Cargo.toml
  components/tidb_query_shared_expr/src/conv.rs
  components/tidb_query_shared_expr/src/lib.rs
  components/tidb_query_shared_expr/src/like.rs
  components/tidb_query_shared_expr/src/miscellaneous.rs
  components/tidb_query_shared_expr/src/rand.rs
  components/tidb_query_shared_expr/src/string.rs
  components/tidb_query_vec_expr/Cargo.toml
  components/tidb_query_vec_expr/src/impl_encryption.rs
  components/tidb_query_vec_expr/src/impl_like.rs
  components/tidb_query_vec_expr/src/impl_math.rs
  components/tidb_query_vec_expr/src/impl_miscellaneous.rs
  components/tidb_query_vec_expr/src/impl_string.rs
Labels: status/LGT2, status/can-merge

#8994 metrics: fix compaction pending bytes metrics in fast tune
  metrics/grafana/tikv_fast_tune.json
Labels: status/LGT2, status/can-merge

#8969 Rollup of CDC commits
  Cargo.lock
  Makefile
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/metrics.rs
  components/cdc/src/service.rs
  components/cdc/tests/failpoints/mod.rs
  components/cdc/tests/failpoints/test_observe.rs
  components/cdc/tests/failpoints/test_register.rs
  components/cdc/tests/failpoints/test_resolve.rs
  components/cdc/tests/integrations/mod.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#8462 coprocessor: Add more perf stats counters
  Cargo.lock
  cmd/src/server.rs
  components/raftstore/src/coprocessor/config.rs
  components/test_coprocessor/Cargo.toml
  components/test_coprocessor/src/fixture.rs
  components/test_raftstore/src/server.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/metrics.rs
  src/coprocessor/mod.rs
  src/coprocessor/tracker.rs
  src/server/server.rs
  src/storage/kv/perf_context.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/rocksdb, sig/coprocessor, sig/engine, status/LGT2, status/PTAL, status/can-merge

#9006 metrics: fix compaction pending bytes metrics in tikv details
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge

#9000 importer: add TDE support for upload sst
  components/encryption/src/io.rs
  components/raftstore/src/store/snap.rs
  components/sst_importer/src/sst_importer.rs
  components/sst_importer/src/util.rs
  components/test_sst_importer/src/lib.rs
  tests/integrations/import/test_sst_service.rs
Labels: component/backup-restore, component/security, needs-cherry-pick-4.0, status/LGT1

#7951 config: tolerate config checking when directory doesn't exist
  components/tikv_util/src/config.rs
Labels: component/configuration, status/LGT2, status/can-merge

#8968 gRPC: Merge the thread of pd-client and tikv-server into one pool
  cmd/src/bin/tikv-ctl.rs
  cmd/src/server.rs
  components/pd_client/src/client.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/test_pd/src/util.rs
  components/test_raftstore/src/server.rs
  src/server/config.rs
  src/server/mod.rs
  src/server/server.rs
  tests/integrations/pd/test_rpc_client.rs
Labels: component/gRPC, status/LGT2, status/can-merge

#9007 test: stabilize deadlock tests
  tests/integrations/server/lock_manager.rs
Labels: component/test-bench, sig/transaction, status/LGT2, status/can-merge

#8884 tests: serialize cdc failpoints tests
  components/cdc/tests/failpoints/mod.rs
  components/test_util/src/logging.rs
Labels: component/CDC, component/test-bench, status/LGT2, status/can-merge

#8926 *: check memory locks in replica read
  Cargo.lock
  cmd/src/server.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/lib.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/read_queue.rs
  components/test_pd/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/metrics.rs
  src/server/raftkv.rs
  src/server/service/kv.rs
  src/storage/errors.rs
  src/storage/kv/mod.rs
  src/storage/mod.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/server/mod.rs
  tests/integrations/storage/test_raftkv.rs
Labels: sig/raft, sig/transaction, status/DNM, status/LGT2, status/can-merge

#8875 config: fix invalid advertise-status-addr
  components/tikv_util/src/config.rs
  src/server/config.rs
Labels: component/configuration, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#9028 txn: change txn_heart_beat response from TxnLockNotFound to TxnNotFound
  src/storage/mod.rs
  src/storage/txn/commands/txn_heart_beat.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_service.rs
  tests/integrations/server/kv_service.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#9037 metrics: fix granafa tikv_detail.json syntax error
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge

#9034 txn: allow non-async prewrite to overwrite async prewrite
  src/storage/txn/actions/pessimistic_prewrite.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/shared.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#9023 raftstore: report hibernate region config to prometheus
  components/raftstore/src/store/config.rs
Labels: needs-cherry-pick-4.0, sig/raft, status/LGT3, status/can-merge

#9035 txn: early return for async commit in check txn status
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/check_txn_status.rs
  src/storage/txn/actions/cleanup.rs
  src/storage/txn/actions/mod.rs
  src/storage/txn/commands/check_txn_status.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#9030 Fix test `test_server_stale_peer_out_of_region`
  tests/integrations/raftstore/test_stale_peer.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bugfix

#9045 raftstore: move sst cleanup (compact range) task to its own thread
  components/raftstore/src/store/fsm/store.rs
Labels: sig/engine, sig/raft, status/LGT2, status/can-merge, type/bugfix

#8965 Pace up limiter before triggering write stall
  Cargo.lock
Labels: component/rocksdb, sig/engine, status/LGT2, status/can-merge

#8984 use mvcc properties in compaction filter
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/table_properties.rs
  components/engine_traits/src/mvcc_properties.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/commands/prewrite.rs
Labels: status/LGT2, status/can-merge

#9046 Fix test `test_node_snapshot_encryption`
  tests/integrations/server_encryption.rs
Labels: status/LGT2, status/can-merge

#8999 copr: add vectorize add_datetime_and_duration, and sub_datetime_and_duration
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, status/can-merge

#9021 copr: Add enum/set into ScalarValue and VectorValue
  components/tidb_query_aggr/src/impl_first.rs
  components/tidb_query_aggr/src/impl_max_min.rs
  components/tidb_query_aggr/src/lib.rs
  components/tidb_query_datatype/src/codec/chunk/column.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_datatype/src/codec/data_type/scalar.rs
  components/tidb_query_datatype/src/codec/data_type/vector.rs
  components/tidb_query_datatype/src/codec/datum.rs
  components/tidb_query_datatype/src/codec/datum_codec.rs
  components/tidb_query_datatype/src/codec/mysql/enums.rs
  components/tidb_query_datatype/src/codec/mysql/set.rs
  components/tidb_query_datatype/src/def/eval_type.rs
  components/tidb_query_executors/src/top_n_executor.rs
  components/tidb_query_expr/src/types/expr.rs
Labels: status/LGT2, status/can-merge

#9026 engine_rocks: add tests for deleting multiple ranges
  components/engine_rocks/src/misc.rs
Labels: first-time-contributor, status/LGT2, status/can-merge

#9053 Fix test `test_secure_connect`
  tests/integrations/raftstore/test_transport.rs
Labels: sig/raft, status/LGT2, status/can-merge, type/bugfix

#9060 tests: allocate port explicitly
  components/test_raftstore/src/server.rs
  components/test_util/src/lib.rs
  tests/integrations/server/status_server.rs
Labels: status/LGT2, status/can-merge, type/bugfix

#9054 compaction filter handles delete marks more safe
  cmd/src/bin/tikv-ctl.rs
  src/server/gc_worker/compaction_filter.rs
Labels: status/LGT2, status/can-merge

#9055 copr: vectorize add_duration_and_duration
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: first-time-contributor, status/LGT2, status/can-merge

#8990 *: change default config for background-thread-count
  etc/config-template.toml
  src/server/config.rs
Labels: component/server, status/LGT2, status/can-merge

#9020 batch-system: increase max batch size
  components/batch-system/src/config.rs
Labels: sig/raft, status/LGT2, status/can-merge

#8911 raftstore: more tests for cmd epoch checker
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_cmd_epoch_checker.rs
  tests/failpoints/cases/test_storage.rs
Labels: component/test-bench, sig/raft, sig/transaction, status/LGT2, status/can-merge

#9052 copr: add latin1_bin collator to ignore UTF-8 check
  Cargo.lock
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/src/codec/collation/collator/latin1_bin.rs
  components/tidb_query_datatype/src/codec/collation/collator/mod.rs
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_datatype/src/def/field_type.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#9074 cop: fix typo in tidb_query_common/src/storage/scanner.rs
  components/tidb_query_common/src/storage/scanner.rs
Labels: sig/coprocessor, status/LGT2, status/can-merge

#8949 *: update grpcio
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/error_code/Cargo.toml
  components/pd_client/Cargo.toml
  components/security/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_pd/src/server.rs
  components/test_raftstore/Cargo.toml
  components/test_util/Cargo.toml
  components/tikv_util/Cargo.toml
  tests/Cargo.toml
Labels: status/LGT2, status/can-merge

#9068 raftstore: keep wake on isolation
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  tests/integrations/raftstore/test_hibernate.rs
Labels: sig/raft, status/LGT2, status/can-merge, type/bugfix

#9091 *: update time to fix potential segfault
  Cargo.lock
Labels: status/LGT2, status/can-merge, type/bugfix

#8939 *: Move from our fork of sysinfo to upstream and get test suite passing on AMD cpus (#7682)
  Cargo.lock
  Cargo.toml
  Makefile
  components/engine/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/tikv_util/Cargo.toml
  components/tikv_util/src/config.rs
  components/tikv_util/src/sys/mod.rs
  src/server/service/diagnostics.rs
  src/server/service/diagnostics/ioload.rs
  src/server/service/diagnostics/log.rs
  src/server/service/diagnostics/mod.rs
  src/server/service/diagnostics/sys.rs
  tests/integrations/raftstore/test_service.rs
Labels: component/server, component/util, status/LGT2, status/can-merge, type/cherry-pick

#9008 misc: Update KvProto
  Cargo.lock
  src/coprocessor/endpoint.rs
  src/coprocessor/tracker.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  tests/integrations/coprocessor/test_select.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#9029 rocksdb: Fix cache key collision and turn off force-consistency-checks (#8788)
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/rocksdb, status/LGT3, status/can-merge, type/cherry-pick

#9092 *: update time to fix potential segfault
  Cargo.lock
Labels: status/LGT2, status/can-merge, type/bugfix

#9078 sst_importer: add metrics for import error
  components/sst_importer/src/errors.rs
  components/sst_importer/src/metrics.rs
  components/sst_importer/src/service.rs
  metrics/grafana/tikv_details.json
  src/import/sst_service.rs
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#9089 txn: Move check_data_constraint to action module
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/check_data_constraint.rs
  src/storage/txn/actions/mod.rs
  src/storage/txn/actions/prewrite.rs
Labels: status/LGT2, status/can-merge

#9097 Revert "encryption: Turn file dictionary into log style (#8865) (#8960)"
  components/encryption/src/config.rs
  components/encryption/src/encrypted_file/header.rs
  components/encryption/src/encrypted_file/mod.rs
  components/encryption/src/lib.rs
  components/encryption/src/log_file.rs
  components/encryption/src/manager/mod.rs
  components/test_raftstore/src/cluster.rs
  components/test_util/src/encryption.rs
  tests/integrations/config/mod.rs
  tests/integrations/server_encryption.rs
Labels: component/security, status/LGT2, status/can-merge

#9073 raftstore: Remove Option wrapper from WriteBatch
  components/raftstore/src/store/fsm/apply.rs
Labels: component/storage, status/LGT2, status/can-merge

#9086 Roll up pipelined locking
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  src/import/sst_service.rs
  src/server/raftkv.rs
  src/server/service/kv.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/process.rs
  src/storage/txn/scheduler.rs
  tests/benches/misc/raftkv/mod.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_cmd_epoch_checker.rs
  tests/failpoints/cases/test_snap.rs
  tests/failpoints/cases/test_stale_read.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, type/cherry-pick

#9094 copr: allow checksum request to be rescheduled
  src/coprocessor/checksum.rs
Labels: needs-cherry-pick-4.0, sig/coprocessor, status/LGT2, status/PTAL, status/can-merge, type/bugfix

#9077 storage: return memory locks as BatchGet response level error
  src/server/raftkv.rs
  src/server/service/kv.rs
  src/storage/errors.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_kv_service.rs
  tests/integrations/server/kv_service.rs
Labels: sig/transaction, status/LGT2, status/can-merge, type/bugfix

#9031 copr: migrate cast decimal as time expr compatible with non-vec (pingcap/tidb#15185) #8737
  components/tidb_query/src/codec/mysql/time/mod.rs
  components/tidb_query/src/expr/builtin_cast.rs
  components/tidb_query/src/rpn_expr/impl_cast.rs
Labels: status/LGT2

#9088 copr:add make_time
  components/tidb_query_datatype/src/codec/mysql/duration.rs
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, first-time-contributor, sig/coprocessor, status/LGT2, status/can-merge

#8879 add transparent hugepage enabled information
  src/server/service/diagnostics/sys.rs
Labels: status/LGT1

#9043 util: read cpu quota from both of `cpu.cfs_quota_us` and `cpuset.cpus`
  components/tikv_util/src/lib.rs
  components/tikv_util/src/sys/cgroup.rs
  components/tikv_util/src/sys/mod.rs
Labels: status/LGT2, status/can-merge

#9062 storage: remove local storage create directory
  components/backup/src/endpoint.rs
  components/backup/tests/integrations/test_backup.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/local.rs
Labels: component/backup-restore, needs-cherry-pick-4.0, sig/migrate, status/LGT2, status/can-merge

#9061 Add end_point_slow_log_threshold config
  etc/config-template.toml
  src/coprocessor/endpoint.rs
  src/coprocessor/tracker.rs
  src/server/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge

#9107 copr: add vectorize substring_2_args, substring_3_args
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, status/can-merge

#9065 fix: add invalid time check for `add_datetime_and_duration` & `sub_datetime_and_duration`
  components/tidb_query_expr/src/impl_time.rs
Labels: status/LGT2, status/can-merge

#9105 sst_importer: fix bug that cause tikv panic when ingest sst file
  Cargo.lock
  components/encryption/Cargo.toml
  components/encryption/src/lib.rs
  components/encryption/src/manager/mod.rs
  components/sst_importer/src/util.rs
  tests/Cargo.toml
  tests/failpoints/cases/test_import_service.rs
Labels: component/backup-restore, needs-cherry-pick-4.0, sig/migrate, status/LGT2, status/can-merge

#9101 raftstore: change some box_err to error in kvproto
  Cargo.lock
  components/error_code/src/raftstore.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/store/peer.rs
Labels: first-time-contributor, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#9108 raftstore: make destroy overlapped regions and apply snapshot atomically
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/region.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/transport_simulate.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_snap.rs
  tests/integrations/raftstore/test_merge.rs
Labels: status/LGT2, status/can-merge

#9123 test: add apply_before_split failpoint
  components/raftstore/src/store/fsm/apply.rs
  tests/failpoints/cases/test_cmd_epoch_checker.rs
Labels: needs-cherry-pick-4.0, sig/raft, sig/transaction, status/LGT2, status/can-merge

#9128 copr: Fix search_null incorrect result when scanning small rows for column id > 255
  components/tidb_query_datatype/src/codec/row/v2/row_slice.rs
Labels: needs-cherry-pick-4.0, sig/coprocessor, status/LGT3, status/can-merge, type/bugfix

#9085 copr: add (non-)vectorized DateDiff
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, status/can-merge

#9142 copr: add vectorize sub_duration_and_duration
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: first-time-contributor, status/LGT2, status/can-merge

#9120 storage: return memory locks as ScanResponse level error
  Cargo.lock
  src/server/service/kv.rs
  tests/failpoints/cases/test_kv_service.rs
  tests/integrations/server/kv_service.rs
Labels: sig/transaction, status/LGT2, status/can-merge

#6290 copr: implement oct_string
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge, status/waiting

#9135 copr: Add test for enum/set support on First aggr
  components/tidb_query_aggr/src/impl_first.rs
Labels: status/LGT2, status/can-merge

#8953 txn: move gc to action module
  src/server/gc_worker/gc_worker.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/gc.rs
  src/storage/txn/actions/mod.rs
  src/storage/txn/mod.rs
Labels: status/LGT2, status/can-merge
