Repository tikv/tikv, pull requests merged in 2020-06, with the labels that each got.

#7982 copr: port some tests from TiDB and refine some comments
  components/tidb_query_shared_expr/src/like.rs
  components/tidb_query_vec_expr/src/impl_like.rs
Labels: status/can-merge

#7672 raftstore: rely on the all-target-peer-exist guarantee during merging
  Cargo.toml
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/src/pd.rs
  components/test_raftstore/src/util.rs
  tests/failpoints/cases/test_merge.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_merge.rs
Labels: component/raft, status/can-merge, type/bugfix

#7946 conf: rewrite unified pool related configurations
  src/config.rs
Labels: component/configuration, needs-cherry-pick-4.0, status/can-merge, type/bugfix

#7988 copr: Add vectorized quote function.
  components/tidb_query_vec_expr/src/impl_string.rs
Labels: contribution, status/can-merge

#7979 copr: migrate `rpn_fn` interface to be compatible with proposed `ChunkedVec`
  Cargo.lock
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_vec_executors/src/selection_executor.rs
  components/tidb_query_vec_expr/Cargo.toml
  components/tidb_query_vec_expr/src/impl_arithmetic.rs
  components/tidb_query_vec_expr/src/impl_cast.rs
  components/tidb_query_vec_expr/src/impl_compare.rs
  components/tidb_query_vec_expr/src/impl_compare_in.rs
  components/tidb_query_vec_expr/src/impl_control.rs
  components/tidb_query_vec_expr/src/impl_encryption.rs
  components/tidb_query_vec_expr/src/impl_json.rs
  components/tidb_query_vec_expr/src/impl_like.rs
  components/tidb_query_vec_expr/src/impl_math.rs
  components/tidb_query_vec_expr/src/impl_miscellaneous.rs
  components/tidb_query_vec_expr/src/impl_op.rs
  components/tidb_query_vec_expr/src/impl_other.rs
  components/tidb_query_vec_expr/src/impl_string.rs
  components/tidb_query_vec_expr/src/impl_time.rs
  components/tidb_query_vec_expr/src/types/expr_builder.rs
  components/tidb_query_vec_expr/src/types/expr_eval.rs
  components/tidb_query_vec_expr/src/types/function.rs
Labels: component/coprocessor, contribution, sig/coprocessor, status/can-merge

#7786 copr: add non-vectorized make_set
  components/tidb_query_normal_expr/src/builtin_string.rs
  components/tidb_query_normal_expr/src/scalar_function.rs
Labels: contribution, status/can-merge

#7944 server: Add advertise status addr
  cmd/src/bin/tikv-server.rs
  cmd/src/server.rs
  cmd/src/setup.rs
  src/config.rs
  src/server/config.rs
  src/server/node.rs
  src/server/status_server/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/server/status_server.rs
Labels: component/configuration, component/server, type/enhancement

#7784 copr: add non-vectorized insert (#6935)
  components/tidb_query_normal_expr/src/builtin_string.rs
  components/tidb_query_normal_expr/src/scalar_function.rs
Labels: contribution, status/can-merge

#8011 metrics: Add back process metrics
  Cargo.lock
  Makefile
  cmd/src/setup.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/metrics/memory_linux.rs
  components/tikv_util/src/metrics/mod.rs
  components/tikv_util/src/metrics/process_dummy.rs
  components/tikv_util/src/metrics/process_linux.rs
Labels: needs-cherry-pick-4.0

#8023 storage: collect flow statistics in batch_get_commands
  src/storage/mod.rs
Labels: component/storage, needs-cherry-pick-4.0, status/can-merge, type/bugfix

#7358 engine_rocks: use tikv logger for rocksdb info log
  cmd/src/setup.rs
  components/engine/src/rocks/mod.rs
  components/engine_rocks/src/config.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/logger.rs
  components/engine_rocks/src/raw_util.rs
  components/tikv_util/src/config.rs
  components/tikv_util/src/logger/mod.rs
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
Labels: component/rocksdb, contribution, status/can-merge

#7983 tikv-ctl: remove pessimistic lock with invalid for_update_ts in recover-mvcc
  src/server/debug.rs
Labels: component/tikv-ctl, component/transaction, status/can-merge

#7995 raftstore: get read index independently in batch
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/read_queue.rs
  tests/integrations/raftstore/test_lease_read.rs
Labels: component/raft, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, type/bugfix

#7973 Bump version v3.0.15
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: status/can-merge

#8007 test: stabilize test_single_lock_manager
  src/server/lock_manager/mod.rs
Labels: component/test-bench, status/can-merge

#8022 Fix broken links in docs
  docs/overview.md
Labels: status/can-merge

#8016 server: allow wildcard address for advertise-status-addr to keep compatible with tidb-operator
  src/server/config.rs
  src/server/status_server/mod.rs
Labels: component/server, needs-cherry-pick-4.0, status/can-merge, type/bugfix

#7954 copr: fix wrong query slow log
  src/coprocessor/endpoint.rs
  src/coprocessor/tracker.rs
Labels: component/coprocessor, needs-cherry-pick-4.0, status/can-merge, type/bugfix

#7781 add trace info to coprocessor call
  Cargo.lock
  Cargo.toml
  components/tikv_util/Cargo.toml
  components/tikv_util/src/lib.rs
  components/tikv_util/src/trace.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/endpoint.rs
Labels: contribution, status/can-merge

#8019 copr: migrate `rpn_fn` interface to use `JsonRef` and `BytesRef`
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_datatype/src/codec/convert.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_datatype/src/codec/mysql/decimal.rs
  components/tidb_query_datatype/src/codec/mysql/json/mod.rs
  components/tidb_query_vec_expr/src/impl_cast.rs
  components/tidb_query_vec_expr/src/impl_compare.rs
  components/tidb_query_vec_expr/src/impl_encryption.rs
  components/tidb_query_vec_expr/src/impl_json.rs
  components/tidb_query_vec_expr/src/impl_like.rs
  components/tidb_query_vec_expr/src/impl_math.rs
  components/tidb_query_vec_expr/src/impl_miscellaneous.rs
  components/tidb_query_vec_expr/src/impl_string.rs
  components/tidb_query_vec_expr/src/impl_time.rs
  components/tidb_query_vec_expr/src/lib.rs
  components/tidb_query_vec_expr/src/types/function.rs
Labels: contribution, status/can-merge

#7955 raftstore: add hibernate-timeout to prevent leader become hibernated too fast
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/test_raftstore/src/common-test.toml
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/raft

#7913 raftstore: add APPLY_PENDING_ENTRIES_GAUGE metrics
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
Labels: contribution, status/can-merge

#7027 raftstore: make destroy overlapped regions and apply snapshot atomically
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/region.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/transport_simulate.rs
  tests/failpoints/cases/test_merge.rs
  tests/integrations/raftstore/test_merge.rs
Labels: component/raft, status/can-merge, type/bugfix

#8066 update: rusoto crate and use from_k8s_env()
  Cargo.lock
  components/encryption/Cargo.toml
  components/external_storage/Cargo.toml
  components/rusoto_util/Cargo.toml
  components/rusoto_util/src/lib.rs
Labels: component/backup-restore, contribution, sig/tools, status/can-merge

#8063 GitHub workflow: automatically assign feature requests to the specified project
  .github/workflows/assign_feature_requests.yml
Labels: status/can-merge

#8058 copr: add vectorized make_date
  components/tidb_query_vec_expr/src/impl_time.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: contribution, status/can-merge

#7537 copr: add non-vectorized make_date (#6870)
  components/tidb_query_normal_expr/src/builtin_time.rs
  components/tidb_query_normal_expr/src/scalar_function.rs
Labels: contribution, status/can-merge

#8054 copr: Vectorize time_to_sec
  components/tidb_query_vec_expr/src/impl_time.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: contribution, status/can-merge

#8064 Status server: make CN check more fine-grained
  cmd/src/server.rs
  src/server/status_server/mod.rs
  tests/integrations/server/status_server.rs
Labels: component/security, component/server, needs-cherry-pick-4.0, status/can-merge

#8075 Add TLS for registering address to PD
  Cargo.lock
  Cargo.toml
  src/server/status_server/mod.rs
Labels: component/security, needs-cherry-pick-4.0, type/bugfix

#8072 Zero cost MIN / MAX abstraction
  components/tidb_query_vec_aggr/src/impl_max_min.rs
Labels: component/coprocessor, needs-cherry-pick-4.0, status/can-merge

#8068 copr: fix precision lost in json numeric comparsion
  components/tidb_query_datatype/src/codec/mysql/json/comparison.rs
Labels: component/coprocessor, needs-cherry-pick-4.0, status/can-merge

#8089 Bump version v4.0.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: status/can-merge

#7999 pd_client: unwrap or panic with detail log
  components/pd_client/src/client.rs
  components/pd_client/src/util.rs
  components/raftstore/src/store/worker/pd.rs
Labels: component/pd-client, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge

#8074 copr: add vec round_with_frac_int
  components/tidb_query_normal_expr/src/builtin_math.rs
  components/tidb_query_vec_expr/src/impl_math.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: component/coprocessor, contribution, sig/coprocessor, status/can-merge

#8094 external_storage: add GCS support (#6283)
  Cargo.lock
  components/external_storage/Cargo.toml
  components/external_storage/examples/scli.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/util.rs
Labels: component/backup-restore, priority/release-blocker, status/PTAL, type/cherry-pick

#8015 Add metric for perf context
  components/raftstore/src/store/metrics.rs
  metrics/grafana/tikv_details.json
Labels: component/performance, status/can-merge

#8070 copr: refactor internally to support new `rpn_fn` interface
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_datatype/src/codec/convert.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_datatype/src/codec/data_type/not_chunked_vec.rs
  components/tidb_query_datatype/src/codec/data_type/scalar.rs
  components/tidb_query_datatype/src/codec/data_type/vector.rs
  components/tidb_query_datatype/src/codec/datum_codec.rs
  components/tidb_query_vec_aggr/src/impl_count.rs
  components/tidb_query_vec_aggr/src/impl_first.rs
  components/tidb_query_vec_aggr/src/impl_max_min.rs
  components/tidb_query_vec_aggr/src/lib.rs
  components/tidb_query_vec_aggr/src/summable.rs
  components/tidb_query_vec_expr/src/impl_arithmetic.rs
  components/tidb_query_vec_expr/src/impl_cast.rs
  components/tidb_query_vec_expr/src/impl_compare.rs
  components/tidb_query_vec_expr/src/impl_compare_in.rs
  components/tidb_query_vec_expr/src/impl_control.rs
  components/tidb_query_vec_expr/src/impl_encryption.rs
  components/tidb_query_vec_expr/src/impl_json.rs
  components/tidb_query_vec_expr/src/impl_math.rs
  components/tidb_query_vec_expr/src/impl_miscellaneous.rs
  components/tidb_query_vec_expr/src/impl_op.rs
  components/tidb_query_vec_expr/src/impl_other.rs
  components/tidb_query_vec_expr/src/impl_string.rs
  components/tidb_query_vec_expr/src/impl_time.rs
  components/tidb_query_vec_expr/src/lib.rs
  components/tidb_query_vec_expr/src/types/expr_builder.rs
  components/tidb_query_vec_expr/src/types/expr_eval.rs
  components/tidb_query_vec_expr/src/types/function.rs
  components/tidb_query_vec_expr/src/types/test_util.rs
Labels: contribution

#8073 Add vectorized password function.
  components/tidb_query_vec_expr/src/impl_encryption.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: contribution, sig/coprocessor, status/can-merge, status/waiting

#7731 UCP: Migrate scalar function `substring_index` from TiDB
  components/tidb_query_vec_expr/src/impl_string.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: component/coprocessor, contribution, status/can-merge

#7997 Fix missing titan histogram metrics (#7943)
  components/engine_rocks/src/rocks_metrics.rs
Labels: priority/release-blocker, status/can-merge, type/cherry-pick

#8097 encryption: tikv-ctl command to dump metadata
  Cargo.lock
  cmd/Cargo.toml
  cmd/src/bin/tikv-ctl.rs
  components/encryption/src/manager/mod.rs
Labels: component/security, needs-cherry-pick-4.0

#8099 txn: use command! macro on ScanLock command
  src/storage/txn/commands.rs
Labels: component/transaction, contribution, sig/transaction, status/can-merge

#8102 Makefile: fix test failure issue
  Makefile
  src/server/status_server/mod.rs
Labels: component/build, needs-cherry-pick-4.0, priority/release-blocker, status/can-merge, type/bugfix

#6728 Gc with compaction filter
  CHANGELOG.md
  components/engine/src/rocks/mod.rs
  etc/config-template.toml
  src/config.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/config.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/server/gc_worker/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  tests/integrations/config/dynamic/gc_worker.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/server, status/can-merge

#8055 copr: vectorize make_set
  components/tidb_query_vec_expr/src/impl_string.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: contribution, status/can-merge

#8098 server: support cluster_version
  Cargo.lock
  components/pd_client/Cargo.toml
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/pd_client/src/util.rs
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/src/pd.rs
  tests/Cargo.toml
  tests/integrations/pd/mock/mocker/service.rs
  tests/integrations/pd/test_rpc_client.rs
Labels: component/server, status/can-merge

#8100 txn: Move tag and cmd_metric to each command
  src/storage/txn/commands.rs
Labels: component/transaction, contribution, sig/transaction, status/can-merge

#7842 engine_traits: Add some doc comments
  components/engine_traits/src/engine.rs
  components/engine_traits/src/iterable.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/peekable.rs
  components/engine_traits/src/snapshot.rs
Labels: status/LGT1, status/can-merge

#8081 raftstore: check log entries for prepare merge based on minimal committed
  Cargo.lock
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  tests/integrations/raftstore/test_merge.rs
Labels: component/raft

#8032 test: fix check split bug in pd
  components/test_raftstore/src/pd.rs
  tests/failpoints/cases/test_merge.rs
  tests/integrations/raftstore/test_merge.rs
Labels: component/raft, status/can-merge

#8082 copr: support collation aware min/max aggregation functions
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_datatype/src/codec/collation/utf8mb4.rs
  components/tidb_query_vec_aggr/src/impl_max_min.rs
Labels: component/coprocessor, needs-cherry-pick-4.0, sig/coprocessor, status/LGT1, status/can-merge

#8096 copr: add vec RoundWithFracReal and RoundWithFracDec
  components/tidb_query_vec_expr/src/impl_math.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: contribution, status/can-merge

#8101 Migration status_server related PR to 4.0 branch
  Cargo.lock
  Cargo.toml
  Makefile
  cmd/src/server.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/test_raftstore/src/cluster.rs
  src/server/status_server.rs
  src/server/status_server/mod.rs
  src/server/status_server/region_meta.rs
  tests/Cargo.toml
  tests/integrations/server/mod.rs
  tests/integrations/server/status_server.rs
Labels: priority/release-blocker, status/can-merge, type/cherry-pick

#8048 raftstore: rely on the all-target-peer-exist guarantee during merging(#7672)
  Cargo.toml
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/src/pd.rs
  components/test_raftstore/src/util.rs
  tests/failpoints/cases/test_merge.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_merge.rs
Labels: component/raft, status/can-merge

#8056 raftstore: prevent unsafe local read during merging
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_stale_read.rs
Labels: component/raft, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, sig/raft, status/can-merge, type/bugfix

#7942 Fix panic when a NIC doesn't have a mac address
  Cargo.lock
  Cargo.toml
  src/server/service/diagnostics.rs
Labels: contribution, status/can-merge

#6558 sst_importer: do not change block_cache_size in import mode
  components/sst_importer/src/import_mode.rs
  components/test_sst_importer/src/lib.rs
Labels: component/backup-restore, status/LGT2, status/can-merge, type/bugfix

#8114 Grafana: fix queries of block cache hit panel
  metrics/grafana/tikv_details.json
Labels: needs-cherry-pick-4.0, status/can-merge

#8107 txn: Move ts to each command
  src/storage/txn/commands.rs
Labels: contribution, status/can-merge

#8129 change community meeting video link
  README.md
Labels: status/can-merge

#8131 txn: move several functions to each command
  src/storage/txn/commands.rs
  src/storage/txn/process.rs
Labels: component/transaction, sig/transaction, status/can-merge

#8123 raftstore: do not send store heartbeat when snapshot received
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/util.rs
  tests/integrations/raftstore/test_stats.rs
Labels: component/raft

#8109 copr: tablescan support common handle encoding
  components/tidb_query_datatype/src/codec/table.rs
  components/tidb_query_normal_executors/src/table_scan.rs
  components/tidb_query_vec_executors/src/runner.rs
  components/tidb_query_vec_executors/src/table_scan_executor.rs
  tests/benches/coprocessor_executors/table_scan/util.rs
Labels: component/coprocessor, status/can-merge

#8106 Move engine::rocks to engine_rocks::raw
  cmd/src/bin/tikv-ctl.rs
  components/backup/src/writer.rs
  components/engine/src/lib.rs
  components/engine_rocks/src/compact_listener.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/raw.rs
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/coprocessor/split_check/table.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/compact.rs
  components/raftstore/src/store/worker/consistency_check.rs
  components/raftstore/src/store/worker/region.rs
  components/test_raftstore/src/util.rs
  components/test_sst_importer/src/lib.rs
  src/config.rs
  src/server/debug.rs
  src/server/gc_worker/compaction_filter.rs
  src/storage/config.rs
  src/storage/kv/perf_context.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mvcc/reader/reader.rs
  tests/benches/misc/raftkv/mod.rs
  tests/benches/misc/writebatch/bench_writebatch.rs
  tests/benches/raftstore/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/raftstore/test_clear_stale_data.rs
  tests/integrations/raftstore/test_compact_after_delete.rs
  tests/integrations/raftstore/test_compact_lock_cf.rs
  tests/integrations/raftstore/test_service.rs
  tests/integrations/raftstore/test_tombstone.rs
  tests/integrations/storage/test_titan.rs
Labels: component/rocksdb, sig/engine

#8125 copr: implement `ChunkRef` on `&Vec<Option<T>>`
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_datatype/src/codec/data_type/not_chunked_vec.rs
  components/tidb_query_vec_expr/src/types/function.rs
Labels: contribution, status/can-merge

#8138 bump to minitrace-rust
  Cargo.lock
  Cargo.toml
  components/tikv_util/Cargo.toml
  components/tikv_util/src/trace.rs
Labels: contribution, status/can-merge

#8039 rust-rocksdb: rocksdb: avoid `IterKey::UpdateInternalKey()` in `BlockIter`
  Cargo.lock
Labels: component/rocksdb, priority/release-blocker, type/bugfix, type/cherry-pick

#8145 raftstore: do not send store heartbeat when snapshot received (#8123)
  src/raftstore/store/fsm/store.rs
  src/raftstore/store/msg.rs
  src/raftstore/store/snap.rs
  src/raftstore/store/util.rs
  tests/integrations/raftstore/test_stats.rs
Labels: component/raft, status/LGT1, status/can-merge, type/cherry-pick

#8139 Remove engine::Engines in favor of engine_traits::KvEngines
  cmd/src/bin/tikv-ctl.rs
  cmd/src/server.rs
  cmd/src/signal_handler.rs
  components/backup/tests/integrations/test_backup.rs
  components/engine/src/lib.rs
  components/engine_rocks/src/compat.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/region.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  src/server/debug.rs
  src/server/node.rs
  src/server/service/debug.rs
  src/storage/kv/rocksdb_engine.rs
  tests/benches/raftstore/mod.rs
  tests/failpoints/cases/test_bootstrap.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_compact_after_delete.rs
  tests/integrations/raftstore/test_compact_lock_cf.rs
  tests/integrations/raftstore/test_compact_log.rs
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_service.rs
  tests/integrations/raftstore/test_split_region.rs
  tests/integrations/raftstore/test_transport.rs
  tests/integrations/raftstore/test_update_region_size.rs
  tests/integrations/storage/test_titan.rs
Labels: sig/engine, status/LGT2, status/can-merge

#8059 copr: add vectorized insert
  components/tidb_query_vec_expr/src/impl_string.rs
  components/tidb_query_vec_expr/src/lib.rs
Labels: contribution, status/can-merge

#8150 Remove the engine crate
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/backup/src/writer.rs
  components/cdc/Cargo.toml
  components/engine/Cargo.toml
  components/engine/src/errors.rs
  components/engine/src/lib.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/compat.rs
  components/engine_rocks/src/encryption.rs
  components/engine_rocks/src/misc.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/store/worker/compact.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_sst_importer/Cargo.toml
  tests/Cargo.toml
  tests/failpoints/cases/test_replica_read.rs
  tests/integrations/config/dynamic/split_check.rs
Labels: status/LGT2, status/can-merge

#8146 Add missing feature for `trace.rs`
  Cargo.lock
  Cargo.toml
  components/tikv_util/Cargo.toml
  components/tikv_util/src/trace.rs
Labels: contribution, status/LGT2, status/can-merge

#8121 storage: support to get old value through DeltaScanner
  components/backup/src/writer.rs
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/txn/store.rs
Labels: component/CDC, sig/tools, status/LGT3, status/can-merge

#8124 engine_rocks: support change rate limit dynamically
  components/engine_panic/src/db_options.rs
  components/engine_rocks/src/db_options.rs
  components/engine_traits/src/db_options.rs
  src/config.rs
Labels: component/rocksdb, status/LGT2, status/can-merge

#8133 txn: move write_bytes and gen_lock into each command
  src/storage/txn/commands.rs
Labels: component/transaction, sig/transaction, status/LGT2, status/can-merge

#8148 Accelerate makefile build speed
  Makefile
Labels: status/LGT2, status/can-merge, type/enhancement
