Repository tikv/tikv, pull requests merged in 2021-03, with the labels that each got.

#9670 copr: read value when common handle only contain prefix column
  Cargo.lock
  components/tidb_query_executors/src/runner.rs
  components/tidb_query_executors/src/table_scan_executor.rs
  src/coprocessor/statistics/analyze.rs
  tests/benches/coprocessor_executors/table_scan/util.rs
Labels: sig/coprocessor, size/L, status/LGT2, status/can-merge

#9175 copr: support analyze common handle and columns by scan once table rows
  src/coprocessor/statistics/analyze.rs
Labels: first-time-contributor, sig/coprocessor, size/L, status/LGT2, status/can-merge

#9646 copr: add instr
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, sig/coprocessor, size/M, status/LGT2, status/can-merge

#9715 *: update dependencies
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Makefile
  cmd/Cargo.toml
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/pd_client/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/security/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_executors/src/runner.rs
  components/tikv_util/Cargo.toml
  src/server/service/kv.rs
  tests/Cargo.toml
  tests/integrations/server/mod.rs
Labels: size/XXL, status/LGT2, status/can-merge

#9738 *: fix build on CI
  Cargo.lock
  Cargo.toml
Labels: component/build, size/S, status/LGT2, status/can-merge, type/bugfix

#9700 resolved_ts: add scanner
  components/resolved_ts/src/lib.rs
  components/resolved_ts/src/scanner.rs
Labels: size/L, status/LGT2, status/can-merge

#9735 raftstore: disable hibernate region except on master
  components/raftstore/src/store/config.rs
  components/test_raftstore/src/common-test.toml
  components/tikv_util/src/lib.rs
Labels: needs-cherry-pick-5.0-rc, sig/raft, size/XS, status/LGT2, status/can-merge, type/bugfix

#9383 copr: support decoding the new index format
  Cargo.lock
  components/error_code/src/coprocessor.rs
  components/tidb_query_datatype/src/codec/collation/collator/mod.rs
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_datatype/src/codec/error.rs
  components/tidb_query_datatype/src/codec/row/v2/compat_v1.rs
  components/tidb_query_datatype/src/codec/row/v2/row_slice.rs
  components/tidb_query_datatype/src/codec/table.rs
  components/tidb_query_datatype/src/def/field_type.rs
  components/tidb_query_executors/Cargo.toml
  components/tidb_query_executors/src/index_scan_executor.rs
  components/tikv_util/src/buffer_vec.rs
  etc/error_code.toml
Labels: needs-ok-to-test, size/XXL, status/LGT2, status/can-merge

#9737 raftstore: consider tick count in lease check
  components/raftstore/src/store/config.rs
  components/test_raftstore/src/common-test.toml
  components/test_raftstore/src/util.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_stale_peer.rs
Labels: sig/raft, size/S, status/LGT2, status/can-merge

#9743 storage: record key and start_ts in committed error
  src/storage/errors.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/cleanup.rs
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#9659 txn_types: ignore unknown bytes when parsing Write/Lock
  components/txn_types/src/lock.rs
  components/txn_types/src/write.rs
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#9729 storage: Optimize seek write for many tombstones (#8514)
  components/engine/src/iterable.rs
  components/engine_traits/src/options.rs
  src/server/raftkv.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/cursor.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
Labels: size/XL, status/LGT2, status/can-merge, type/cherry-pick

#9721 raftstore: re-propose read index with no lock checking response
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/util.rs
  src/storage/mod.rs
  tests/integrations/raftstore/test_replica_read.rs
Labels: size/L, status/LGT2, status/can-merge

#9722 concurrency manager: fix a memory leak when iterating skiplist
  Cargo.lock
  components/concurrency_manager/Cargo.toml
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#9703 ignore max_row_versions in check_need_gc
  src/storage/mvcc/reader/reader.rs
Labels: size/XS, status/LGT2, status/can-merge

#9742 Add test for panic in load-base-split
  components/raftstore/src/store/worker/split_controller.rs
Labels: needs-cherry-pick-4.0, size/S, status/LGT2, status/can-merge

#9745 config: Make labels' format constaint consistent with PD
  src/server/config.rs
Labels: component/configuration, size/L, status/LGT2, status/can-merge

#9731 raftstore: return more regions in EpochNotMatch
  components/raftstore/src/store/fsm/peer.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0-rc, sig/raft, size/L, status/LGT2, status/can-merge, type/enhancement

#9754 raftstore: fix find_propose_time may return older instant
  components/raftstore/src/lib.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0-rc, sig/raft, size/M, status/LGT2, status/can-merge

#9757 server: Add ttl compaction filter
  src/server/ttl/mod.rs
  src/server/ttl/ttl_compaction_filter.rs
Labels: size/L, status/LGT2, status/can-merge

#9662 Fix raw key mode in load-base-split
  components/raftstore/src/store/worker/split_controller.rs
  src/coprocessor/tracker.rs
  src/storage/mod.rs
Labels: size/L, status/LGT2, status/can-merge

#9763 storage: Make snapshot trait return iterator instead of cursor
  components/backup/src/endpoint.rs
  components/cdc/src/observer.rs
  components/engine_traits/src/options.rs
  src/server/raftkv.rs
  src/storage/kv/btree_engine.rs
  src/storage/kv/cursor.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/store.rs
  tests/integrations/storage/test_raftkv.rs
Labels: size/XL, status/LGT2, status/can-merge

#9702 raftstore: enable observing cmds for all regions
  components/cdc/src/endpoint.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/mod.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/resolved_ts/src/scanner.rs
Labels: size/L, status/LGT2, status/can-merge

#9756 engine_rocks: Add ttl properties
  components/engine_panic/src/ttl_properties.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/ttl_properties.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/ttl_properties.rs
  components/engine_traits/src/util.rs
  components/error_code/src/codec.rs
  components/tikv_util/src/codec/mod.rs
Labels: size/L, status/LGT2, status/can-merge

#9694 avoid deadlock for GC in compaction filter
  components/test_raftstore/src/server.rs
  components/tikv_util/src/worker/future.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/server/gc_worker/mod.rs
  src/server/metrics.rs
  tests/failpoints/cases/test_gc_worker.rs
Labels: size/XXL, status/LGT1

#9769 cop: fix analyze common handle in collect column stats
  src/coprocessor/statistics/analyze.rs
Labels: sig/coprocessor, size/XS, status/LGT2, status/can-merge

#9624 sst_importer: make ingest reentrant
  components/engine_panic/src/import.rs
  components/engine_rocks/src/import.rs
  components/engine_traits/src/import.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/snap.rs
  components/sst_importer/src/sst_importer.rs
  components/sst_importer/src/util.rs
  tests/failpoints/cases/test_import_service.rs
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0-rc, size/L, status/LGT2, status/can-merge

#9758 storage: Add ttl snapshot and iterator
  src/storage/raw/ttl.rs
Labels: size/XL, status/LGT2, status/can-merge

#9759 *: log less on transport failure
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  src/server/raft_client.rs
Labels: component/gRPC, needs-cherry-pick-5.0-rc, size/XL, status/LGT2, status/can-merge, type/bugfix

#9773 *: support proxy over tikv nodes
  Cargo.lock
  Cargo.toml
  src/server/config.rs
  src/server/metrics.rs
  src/server/mod.rs
  src/server/proxy.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/storage/txn/commands/mod.rs
  tests/Cargo.toml
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/server/kv_service.rs
Labels: component/gRPC, size/XXL, status/LGT2, status/can-merge

#9787 copr: fix a bug that get_index_version doesn't consider some cases.
  components/tidb_query_executors/src/index_scan_executor.rs
Labels: sig/coprocessor, size/M, status/LGT2, status/can-merge

#9630 Add engine_traits tests and docs
  Cargo.lock
  Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/engine_iterator.rs
  components/engine_traits/src/iterable.rs
  components/engine_traits/src/misc.rs
  components/engine_traits/src/write_batch.rs
  components/engine_traits_tests/Cargo.toml
  components/engine_traits_tests/src/basic_read_write.rs
  components/engine_traits_tests/src/cf_names.rs
  components/engine_traits_tests/src/ctor.rs
  components/engine_traits_tests/src/delete_range.rs
  components/engine_traits_tests/src/iterator.rs
  components/engine_traits_tests/src/lib.rs
  components/engine_traits_tests/src/misc.rs
  components/engine_traits_tests/src/read_consistency.rs
  components/engine_traits_tests/src/scenario_writes.rs
  components/engine_traits_tests/src/snapshot_basic.rs
  components/engine_traits_tests/src/write_batch.rs
Labels: size/XXL, status/LGT2, status/can-merge

#9760 *: Introduce RawStore to support ttl
  src/storage/raw/mod.rs
  src/storage/raw/store.rs
Labels: size/L, status/LGT2, status/can-merge

#9744 *: add metrics for checking memory locks
  metrics/grafana/tikv_details.json
  src/coprocessor/endpoint.rs
  src/coprocessor/metrics.rs
  src/server/metrics.rs
  src/server/raftkv.rs
  src/storage/metrics.rs
  src/storage/mod.rs
Labels: priority/release-blocker, size/XL, status/LGT2, status/can-merge

#9711 tests: fix key manager flaky tests
  components/encryption/src/manager/mod.rs
Labels: sig/engine, size/S, status/LGT2, status/can-merge

#9794 Add byte threshold and remove approximate threshold for load base split
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_config.rs
  components/raftstore/src/store/worker/split_controller.rs
Labels: size/L, status/LGT2, status/can-merge

#9693 Add load-base-split test in test-custom.toml
  tests/integrations/config/test-custom.toml
Labels: size/XS, status/LGT2, status/can-merge

#9792 *: Support TTL on read and write path
  cmd/src/bin/tikv-ctl.rs
  cmd/src/server.rs
  components/engine_panic/src/lib.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/ttl_properties.rs
  components/engine_traits/src/engine.rs
  components/error_code/src/storage.rs
  components/test_raftstore/src/util.rs
  components/test_storage/src/sync_storage.rs
  src/config.rs
  src/server/metrics.rs
  src/server/mod.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/server/ttl/ttl_compaction_filter.rs
  src/storage/config.rs
  src/storage/errors.rs
  src/storage/kv/mod.rs
  src/storage/kv/rocksdb_engine.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/raw/store.rs
  src/storage/raw/ttl.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/server/kv_service.rs
  tests/integrations/server/mod.rs
  tests/integrations/storage/test_titan.rs
Labels: priority/release-blocker, size/XXL, status/LGT2, status/can-merge

#9793 Add end key as sample key in key range for load base split
  components/raftstore/src/store/worker/split_controller.rs
Labels: size/M, status/LGT2, status/can-merge

#9768 Add metrics for load base split
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/worker/split_controller.rs
  metrics/grafana/tikv_details.json
Labels: size/L, status/LGT2, status/can-merge

#9788 pd_client: reconnect leader only when members change
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/pd_client/src/util.rs
  tests/integrations/pd/test_rpc_client.rs
Labels: component/pd-client, priority/release-blocker, size/XL, status/LGT2, status/can-merge, type/bugfix

#9783 Rustdoc: fix broken intra-doc links
  components/engine_traits/src/lib.rs
  components/engine_traits/src/misc.rs
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_enum.rs
  components/tidb_query_datatype/src/codec/mysql/binary_literal.rs
  components/tidb_query_datatype/src/codec/mysql/duration.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_length.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_merge.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_type.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_unquote.rs
  components/tidb_query_datatype/src/codec/mysql/json/mod.rs
  components/tidb_query_datatype/src/codec/row/v2/encoder_for_test.rs
  components/tidb_query_datatype/src/codec/table.rs
  components/tidb_query_datatype/src/expr/ctx.rs
  components/tikv_util/src/codec/bytes.rs
  components/tikv_util/src/config.rs
  components/tikv_util/src/stream.rs
  src/server/gc_worker/gc_worker.rs
  src/storage/kv/mod.rs
  src/storage/txn/actions/mod.rs
Labels: component/documentation, contribution, size/M, status/LGT2, status/can-merge

#9797 server: Add TTL checker
  cmd/src/server.rs
  components/engine_panic/src/compact.rs
  components/engine_rocks/src/compact.rs
  components/engine_traits/src/compact.rs
  components/tikv_util/src/worker/pool.rs
  metrics/grafana/tikv_details.json
  src/config.rs
  src/import/sst_service.rs
  src/server/ttl/mod.rs
  src/server/ttl/ttl_checker.rs
  src/storage/config.rs
Labels: size/XXL, status/LGT2, status/can-merge

#9777 txn_types: Check overflow in timestamp computation
  components/txn_types/src/timestamp.rs
Labels: size/XS, status/LGT2, status/can-merge

#9770 storage: support atomic operator in rawkv
  Cargo.lock
  components/test_storage/src/sync_storage.rs
  src/server/metrics.rs
  src/server/service/kv.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/compare_and_set.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/mod.rs
  src/storage/txn/scheduler.rs
  src/storage/types.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/server/mod.rs
  tests/integrations/storage/test_raft_storage.rs
Labels: component/storage, needs-cherry-pick-5.0, size/XXL, status/LGT2, status/can-merge

#9781 copr: add coprocessor v2
  Cargo.lock
  cmd/src/server.rs
  components/test_raftstore/src/server.rs
  src/coprocessor_v2/endpoint.rs
  src/coprocessor_v2/mod.rs
  src/lib.rs
  src/server/metrics.rs
  src/server/server.rs
  src/server/service/kv.rs
  tests/integrations/server/mod.rs
Labels: contribution, sig/coprocessor, size/L, status/LGT2, status/can-merge

#9826 server: add health check service
  Cargo.lock
  Cargo.toml
  src/server/proxy.rs
  src/server/server.rs
  tests/Cargo.toml
  tests/integrations/server/kv_service.rs
Labels: needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge

#9820 fix backward compatibility in load base split config
  components/raftstore/src/store/worker/split_config.rs
Labels: size/S, status/LGT2, status/can-merge

#9822 cut rust-rocksdb branch for 5.0 release
  Cargo.lock
  components/engine_rocks/Cargo.toml
Labels: size/XS, status/LGT2, status/can-merge

#9824 enable GC in compaction filter by default
  etc/config-template.toml
  src/server/gc_worker/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge

#9819 file_system: replace variant_count with strum
  Cargo.lock
  components/file_system/Cargo.toml
  components/file_system/src/lib.rs
  components/file_system/src/metrics_manager.rs
  components/file_system/src/rate_limiter.rs
Labels: contribution, size/XL, status/LGT2, status/can-merge

#9834 rust-rocksdb: Update rocksdb and titan with arm crc32 improvment etc
  Cargo.lock
Labels: size/XS, status/LGT2, status/can-merge

#9815 raftstore: refine clippy
  components/raftstore/src/store/fsm/apply.rs
Labels: size/S, status/LGT2, status/can-merge

#9832 txn: add the pessimistic prewrite failpoint
  src/storage/txn/actions/prewrite.rs
  tests/failpoints/cases/test_transaction.rs
Labels: needs-cherry-pick-5.0, sig/transaction, size/S, status/LGT2, status/can-merge

#9635 copr: add vectorized rpad_utf8 for strings
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, first-time-contributor, sig/coprocessor, size/L, status/LGT2, status/can-merge

#9825 *: replace `quick-error` with `thiserror` partially
  Cargo.lock
  components/engine_traits/Cargo.toml
  components/engine_traits/src/errors.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/util.rs
  components/into_other/src/lib.rs
  components/pd_client/Cargo.toml
  components/pd_client/src/errors.rs
  components/raftstore/src/errors.rs
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/src/codec/error.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/codec/mod.rs
  components/tikv_util/src/config.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/sys/cgroup.rs
  components/txn_types/Cargo.toml
  components/txn_types/src/lib.rs
Labels: size/XL, status/LGT2, status/can-merge

#9753 pd_client: support forwarding requests to PD followers
  components/pd_client/src/client.rs
  components/pd_client/src/config.rs
  components/pd_client/src/util.rs
  components/test_pd/src/mocker/service.rs
  components/test_pd/src/server.rs
  tests/failpoints/cases/test_pd_client.rs
  tests/integrations/pd/test_rpc_client.rs
Labels: needs-cherry-pick-5.0, priority/release-blocker, size/XXL, status/LGT2, status/can-merge

#9823 copr: fix IN expr didn't handle unsigned/signed int properly
  components/tidb_query_expr/src/impl_compare_in.rs
  components/tidb_query_expr/src/lib.rs
Labels: cherry-pick-approved, size/L, status/LGT2, status/can-merge

#9608 Extract tikv::storag::kv to tikv_kv crate
  Cargo.lock
  Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_kv/src/btree_engine.rs
  components/tikv_kv/src/cursor.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/metrics.rs
  components/tikv_kv/src/mock_engine.rs
  components/tikv_kv/src/perf_context.rs
  components/tikv_kv/src/raftstore_impls.rs
  components/tikv_kv/src/rocksdb_engine.rs
  components/tikv_kv/src/stats.rs
  src/lib.rs
  src/server/metrics.rs
  src/server/raftkv.rs
  src/storage/errors.rs
  src/storage/kv/mod.rs
  src/storage/kv/test_engine_builder.rs
  src/storage/mod.rs
  tests/integrations/storage/test_raftkv.rs
Labels: size/XXL, status/LGT2, status/can-merge

#9839 add test cases for GC bypassing Raft
  tests/failpoints/cases/test_gc_worker.rs
  tests/integrations/server/gc_worker.rs
Labels: size/M, status/LGT2, status/can-merge

#9845 Remove two uses of engine_rocks from tikv_kv
  Cargo.lock
  components/tikv_kv/Cargo.toml
  components/tikv_kv/src/btree_engine.rs
  components/tikv_kv/src/lib.rs
  src/server/raftkv.rs
Labels: size/M, status/LGT2, status/can-merge

#9814 *: merge Mutable trait with WriteBatch
  components/engine_panic/src/write_batch.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_rocks/src/write_batch.rs
  components/engine_traits/src/write_batch.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_worker.rs
Labels: size/L, status/LGT2, status/can-merge

#9798 raftstore: add region pending peer duration metrics
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
Labels: size/S, status/LGT2, status/can-merge

#9642 copr: variance agg func (population and sample)
  components/tidb_query_aggr/src/impl_avg.rs
  components/tidb_query_aggr/src/impl_sum.rs
  components/tidb_query_aggr/src/impl_variance.rs
  components/tidb_query_aggr/src/lib.rs
  components/tidb_query_aggr/src/parser.rs
  components/tidb_query_aggr/src/summable.rs
Labels: contribution, first-time-contributor, sig/coprocessor, size/XXL, status/LGT2, status/can-merge

#9800 tikv_util: import macros with the use syntax
  components/tikv_util/src/config.rs
  components/tikv_util/src/deadline.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/logger/mod.rs
  components/tikv_util/src/metrics/mod.rs
  components/tikv_util/src/metrics/process_linux.rs
  components/tikv_util/src/metrics/threads_linux.rs
  components/tikv_util/src/sys/cpu_time.rs
  components/tikv_util/src/sys/mod.rs
  components/tikv_util/src/timer.rs
  components/tikv_util/src/worker/metrics.rs
  components/tikv_util/src/yatp_pool/future_pool.rs
  components/tikv_util/src/yatp_pool/metrics.rs
Labels: size/S, status/LGT2, status/can-merge

#9801 encryption: import macros with the use syntax
  components/encryption/src/config.rs
  components/encryption/src/crypter.rs
  components/encryption/src/encrypted_file/header.rs
  components/encryption/src/errors.rs
  components/encryption/src/file_dict_file.rs
  components/encryption/src/io.rs
  components/encryption/src/lib.rs
  components/encryption/src/manager/mod.rs
  components/encryption/src/master_key/file.rs
  components/encryption/src/master_key/kms.rs
  components/encryption/src/master_key/mem.rs
  components/encryption/src/master_key/mod.rs
Labels: size/M, status/LGT2, status/can-merge

#9803 backup: import macros with the use syntax
  components/backup/src/endpoint.rs
  components/backup/src/errors.rs
  components/backup/src/lib.rs
  components/backup/src/service.rs
  components/backup/src/writer.rs
Labels: size/S, status/LGT2, status/can-merge

#9851 copr: optimize limit operator next_batch method
  components/tidb_query_executors/src/limit_executor.rs
  components/tidb_query_executors/src/runner.rs
  components/tidb_query_executors/src/util/mock_executor.rs
Labels: contribution, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge

#9784 storage: Add ttl tombstone statistics
  components/tikv_kv/src/cursor.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/metrics.rs
  components/tikv_kv/src/stats.rs
  src/coprocessor/metrics.rs
  src/storage/metrics.rs
  src/storage/raw/ttl.rs
Labels: size/L, status/LGT2, status/can-merge

#9855 cdc: fix old value cache may always missed
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  components/test_raftstore/src/server.rs
  components/txn_types/src/types.rs
  src/storage/txn/commands/prewrite.rs
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, type/bugfix

#9858 *: downgrade rust to 2021-01-16
  components/engine_traits_tests/src/write_batch.rs
  rust-toolchain
Labels: needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge

#9860 copr: cast invalid utf8 string to real bug
  components/tidb_query_datatype/src/codec/convert.rs
Labels: contribution, size/M, status/LGT2, status/can-merge

#9846 server: Use KvTestEngine instead of RocksEngine in test
  src/server/status_server/mod.rs
Labels: size/XS, status/LGT2, status/can-merge

#9840 pd_client: prevent a large number of reconnections in a short time
  components/pd_client/src/lib.rs
  components/pd_client/src/util.rs
  components/test_pd/src/mocker/leader_change.rs
  components/test_pd/src/mocker/retry.rs
  src/server/status_server/mod.rs
  tests/failpoints/cases/test_pd_client.rs
  tests/integrations/pd/test_rpc_client.rs
Labels: component/pd-client, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge, type/bugfix

#9849 pd_client: add the state of forwarding metrics
  components/pd_client/src/client.rs
  components/pd_client/src/metrics.rs
  components/pd_client/src/util.rs
Labels: component/pd-client, needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge

#9872 cdc: fix panic caused by insert
  components/cdc/src/observer.rs
  components/cdc/tests/integrations/test_cdc.rs
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge

#9843 *: replace failure with anyhow and thiserror
  Cargo.lock
  Cargo.toml
  components/backup/Cargo.toml
  components/backup/src/errors.rs
  components/backup/src/lib.rs
  components/cdc/Cargo.toml
  components/cdc/src/errors.rs
  components/cdc/src/lib.rs
  components/cloud/Cargo.toml
  components/cloud/src/error.rs
  components/cloud/src/lib.rs
  components/codec/Cargo.toml
  components/codec/src/error.rs
  components/codec/src/lib.rs
  components/encryption/Cargo.toml
  components/encryption/src/errors.rs
  components/keys/Cargo.toml
  components/keys/src/lib.rs
  components/tidb_query_common/Cargo.toml
  components/tidb_query_common/src/error.rs
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/src/error.rs
  components/tidb_query_datatype/src/lib.rs
  components/tidb_query_executors/Cargo.toml
  components/tidb_query_executors/src/table_scan_executor.rs
  src/coprocessor/error.rs
  src/lib.rs
Labels: contribution, size/XL, status/LGT2, status/can-merge

#9880 pd_client: add reconnect metrics
  components/pd_client/src/metrics.rs
  components/pd_client/src/util.rs
  metrics/grafana/tikv_details.json
  tests/failpoints/cases/test_pd_client.rs
Labels: component/pd-client, needs-cherry-pick-5.0, status/LGT2, status/can-merge

#9607 copr: add feature json_quote
  components/tidb_query_expr/src/impl_json.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, first-time-contributor, sig/coprocessor, size/M, status/LGT2, status/can-merge

#9868 codec: import macros with the use syntax
  components/codec/src/error.rs
  components/codec/src/lib.rs
Labels: contribution, size/XS, status/LGT2, status/can-merge

#9863 raftstore: generate snapshot(if any) after getting ready
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_snap.rs
Labels: needs-cherry-pick-5.0, sig/raft, size/M, status/LGT2, status/can-merge, type/bugfix

#9881 storage: Fix ttl expire ts overflow
  src/server/ttl/ttl_checker.rs
  src/server/ttl/ttl_compaction_filter.rs
  src/storage/mod.rs
  src/storage/raw/mod.rs
  src/storage/raw/ttl.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/compare_and_set.rs
Labels: needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge, type/bugfix

#9884 txn: make prewrite idempotent when falling back to 2PC
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
  tests/failpoints/cases/test_transaction.rs
  tests/integrations/server/kv_service.rs
Labels: needs-cherry-pick-5.0, sig/transaction, size/L, status/LGT2, status/can-merge, type/bugfix

#9888 txn: return min_commit_ts for check_not_exists
  src/storage/txn/actions/prewrite.rs
Labels: needs-cherry-pick-5.0, sig/transaction, size/L, status/LGT2, status/can-merge

#9879 pd_client: prevent a large number of reconnections in a short time (#9840)
  components/pd_client/src/lib.rs
  components/pd_client/src/metrics.rs
  components/pd_client/src/util.rs
  components/test_pd/src/mocker/leader_change.rs
  components/test_pd/src/mocker/retry.rs
  components/test_pd/src/mocker/service.rs
  metrics/grafana/tikv_details.json
  src/server/status_server/mod.rs
  tests/failpoints/cases/test_pd_client.rs
  tests/integrations/pd/test_rpc_client.rs
Labels: cherry-pick-approved, component/pd-client, size/XL, status/LGT2, status/can-merge, type/bugfix, type/cherry-pick

#9887 Dockerfile: fix build failure
  Dockerfile
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge

#9854 pd_client: link PD client to tikv_alloc
  components/pd_client/src/lib.rs
Labels: component/pd-client, size/XS, status/LGT2, status/can-merge

#9869 cdc: add version checking for resolved ts
  components/cdc/src/endpoint.rs
  components/cdc/src/lib.rs
  components/cdc/src/metrics.rs
  components/cdc/tests/integrations/test_cdc.rs
Labels: needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge

#9717 benches: Only use perfcnt on x86
  tests/Cargo.toml
  tests/benches/coprocessor_executors/mod.rs
Labels: size/XS, status/LGT2, status/can-merge

#9804 tikv_util: Clippy fix
  components/tikv_util/src/buffer_vec.rs
  components/tikv_util/src/logger/mod.rs
Labels: size/S, status/LGT2, status/can-merge

#9900 pd_client: fix monitoring unit typo
  metrics/grafana/tikv_details.json
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge

#9895 storage: implement proper sematic for RawCAS
  Cargo.lock
  components/test_storage/src/sync_storage.rs
  src/server/metrics.rs
  src/server/service/kv.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/compare_and_swap.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/mod.rs
  src/storage/types.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/server/mod.rs
  tests/integrations/storage/test_raft_storage.rs
Labels: component/storage, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge

#9904 calculate snap dir size by scan
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/pd.rs
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge

#9514 Storage: refactor reader
  components/cdc/src/observer.rs
  components/resolved_ts/src/cmd.rs
  components/resolved_ts/src/scanner.rs
  components/tikv_kv/src/lib.rs
  src/server/gc_worker/gc_worker.rs
  src/server/gc_worker/mod.rs
  src/storage/mod.rs
  src/storage/mvcc/consistency_check.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/check_data_constraint.rs
  src/storage/txn/actions/check_txn_status.rs
  src/storage/txn/actions/cleanup.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/gc.rs
  src/storage/txn/actions/get_old_value.rs
  src/storage/txn/actions/mod.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/mvcc_by_key.rs
  src/storage/txn/commands/mvcc_by_start_ts.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/resolve_lock_readphase.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/benches/misc/storage/mvcc_reader.rs
Labels: component/storage, sig/transaction, size/XXL, status/LGT2, status/can-merge

#9916 Fix reuse of invalid write cursor
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/actions/prewrite.rs
Labels: size/M, status/LGT2, status/can-merge

#9906 *: fix forward report and use more forward connections
  components/pd_client/src/client.rs
  components/pd_client/src/util.rs
  metrics/grafana/tikv_details.json
  src/server/config.rs
  src/server/raft_client.rs
Labels: component/gRPC, needs-cherry-pick-5.0, size/XL, status/LGT2, status/can-merge, type/enhancement

#9921 copr: add vectorize add_date_and_string
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, first-time-contributor, size/M, status/LGT2, status/can-merge

#9914 update gc can't work alert
  metrics/alertmanager/tikv.rules.yml
  src/server/gc_worker/compaction_filter.rs
Labels: needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge

#9917 batch-system: use different default max batch size between master and release branch
  components/batch-system/src/batch.rs
  components/batch-system/src/config.rs
  components/raftstore/src/store/config.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_snap.rs
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/config/mod.rs
Labels: needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge

#9802 coprv2: plugin_api and plugin manager
  Cargo.lock
  Cargo.toml
  components/coprocessor_plugin_api/Cargo.toml
  components/coprocessor_plugin_api/src/allocator.rs
  components/coprocessor_plugin_api/src/lib.rs
  components/coprocessor_plugin_api/src/plugin_api.rs
  components/coprocessor_plugin_api/src/storage_api.rs
  components/coprocessor_plugin_api/src/util.rs
  components/test_coprocessor_plugin/README.md
  components/test_coprocessor_plugin/example_plugin/Cargo.toml
  components/test_coprocessor_plugin/example_plugin/src/lib.rs
  scripts/check-bins.py
  src/coprocessor_v2/endpoint.rs
  src/coprocessor_v2/mod.rs
  src/coprocessor_v2/plugin_registry.rs
Labels: contribution, sig/coprocessor, size/XXL, status/LGT2, status/can-merge

#9885 cdc: flow control
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/errors.rs
  components/cdc/src/lib.rs
  components/cdc/src/metrics.rs
  components/cdc/src/rate_limiter.rs
  components/cdc/src/service.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  components/resolved_ts/src/resolver.rs
  src/config.rs
Labels: contribution, size/XXL, status/LGT2, status/can-merge
