Repository tikv/tikv, pull requests merged in 2021-12, with the labels that each got.

#11331 storage:change configuration storage.max-key-size default value from 4096 to 8192
  src/storage/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note

#11527 raftstore: update applied_index_term after snapshot (#10476)
  components/raftstore/src/store/peer_storage.rs
  tests/integrations/raftstore/test_snap.rs
Labels: status/LGT2, type/bugfix, size/M, do-not-merge/cherry-pick-not-approved, release-note

#11501 storage: make it cheaper to clone Scheduler
  src/storage/txn/scheduler.rs
Labels: component/storage, status/LGT2, status/can-merge, size/S, release-note-none

#11493 raftclient: count term and index in estimated size
  src/server/raft_client.rs
  tests/integrations/server/raft_client.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/M, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11544 scanner/forward: move to next key if accesses a lock with delete type
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11482 Bump v5.0.5
  Cargo.lock
  Cargo.toml
Labels: size/XS, do-not-merge/cherry-pick-not-approved, release-note, do-not-merge/invalid-commit-message

#11481 *: add configuration for in-memory pessimistic lock
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/lock_manager/config.rs
  src/server/lock_manager/mod.rs
  src/server/node.rs
  src/storage/mod.rs
  src/storage/txn/scheduler.rs
  tests/integrations/config/dynamic/pessimistic_txn.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11556 backup: fix background panic in `endpoint::tests::test_adjust_thread_pool_size`
  components/backup/src/endpoint.rs
Labels: contribution, status/LGT2, status/can-merge, component/backup-restore, sig/migrate, size/M, release-note-none

#11477 [DNM] Bump v5.1.3
  Cargo.lock
  Cargo.toml
Labels: size/XS, do-not-merge/cherry-pick-not-approved, release-note, do-not-merge/invalid-commit-message

#11550 tikv_util: reimplement poll_future_notify
  components/tikv_util/src/future.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/L, release-note, affects-5.0, affects-5.1, affects-5.2, affects-5.3

#11554 fix taking rootfs as filesystem by mistake
  src/server/service/diagnostics/sys.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/S, release-note-none

#11545 raftstore: set term when catch up logs for merge
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_merge.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/M, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11228 storage: Add API V2 check for RawKV and TxnKV requests (part 2)
  components/test_coprocessor/src/store.rs
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/sync_storage.rs
  components/txn_types/src/lib.rs
  components/txn_types/src/types.rs
  src/server/gc_worker/gc_worker.rs
  src/server/service/kv.rs
  src/storage/errors.rs
  src/storage/mod.rs
  tests/benches/misc/storage/incremental_get.rs
  tests/benches/misc/storage/mvcc_reader.rs
  tests/benches/misc/storage/scan.rs
  tests/failpoints/cases/test_transaction.rs
  tests/integrations/storage/test_raft_storage.rs
  tests/integrations/storage/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11529 storage: read and write in-memory pessimistic locks in the scheduler
  components/tikv_kv/src/btree_engine.rs
  components/tikv_kv/src/lib.rs
  src/server/gc_worker/gc_worker.rs
  src/server/raftkv.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11570 tolerate unmounted cgroup controller
  components/tikv_util/src/sys/cgroup.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11585 Cherry-pick compaction filter GC fixes
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/compaction_guard.rs
  metrics/grafana/tikv_details.json
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/server/gc_worker/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/gc.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
  tests/integrations/storage/mod.rs
  tests/integrations/storage/test_region_info_accessor.rs
Labels: status/LGT2, size/XL, do-not-merge/cherry-pick-not-approved, release-note

#11574 cgroup: fix a bug about mountinfo of cpuset,cpu (#11029)
  components/tikv_util/src/sys/cgroup.rs
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#11586 stabilize some cdc cases
  components/cdc/src/endpoint.rs
  scripts/test
Labels: status/LGT2, status/can-merge, size/L, release-note

#11584 *: Fix tikv-ctl region-properties doesn't work on rawkv
  src/server/debug.rs
  src/storage/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#11508 *: return wait time and process time for kv get
  components/test_storage/src/sync_storage.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/stats.rs
  src/server/service/kv.rs
  src/storage/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#11531 flow controller: consider the time factor when evaluating the trending
  src/storage/txn/flow_controller.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11207 raftstore: add PoolState to save the info needed to build a poller (#11159)
  Cargo.lock
  components/batch-system/Cargo.toml
  components/batch-system/src/batch.rs
  components/batch-system/src/config.rs
  components/batch-system/src/lib.rs
  components/batch-system/src/router.rs
  components/raftstore/src/store/fsm/apply.rs
Labels: sig/raft, status/LGT2, status/can-merge, component/configuration, first-time-contributor, size/L, release-note-none

#11507 br-stream: the metadata client
  Cargo.lock
  Cargo.toml
  components/br-stream/Cargo.toml
  components/br-stream/bin/playground.rs
  components/br-stream/src/errors.rs
  components/br-stream/src/lib.rs
  components/br-stream/src/metadata/client.rs
  components/br-stream/src/metadata/keys.rs
  components/br-stream/src/metadata/metrics.rs
  components/br-stream/src/metadata/mod.rs
  components/br-stream/src/metadata/store/etcd.rs
  components/br-stream/src/metadata/store/mod.rs
  components/br-stream/src/metadata/store/slash_etc.rs
  components/br-stream/src/metadata/test.rs
Labels: contribution, status/LGT2, component/backup-restore, sig/migrate, size/XXL, release-note-none, do-not-merge/invalid-commit-message

#11518 txn_types: Add assertion field to Mutation type
  components/resolved_ts/src/cmd.rs
  components/test_coprocessor/src/store.rs
  components/test_storage/src/assert_storage.rs
  components/txn_types/src/lock.rs
  components/txn_types/src/types.rs
  src/import/duplicate_detect.rs
  src/server/gc_worker/gc_worker.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/storage/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/benches/misc/storage/incremental_get.rs
  tests/benches/misc/storage/mvcc_reader.rs
  tests/benches/misc/storage/scan.rs
  tests/failpoints/cases/test_storage.rs
  tests/failpoints/cases/test_transaction.rs
  tests/integrations/storage/test_raft_storage.rs
  tests/integrations/storage/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#10615 fix incomplete sub_path canonicalization
  components/tikv_util/src/config.rs
  components/tikv_util/src/sys/cgroup.rs
  etc/config-template.toml
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#11523 encryption: decrypt the buff with actual and correct buflen
  components/encryption/src/io.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#11614 metrics: remove coprocessor meet lock alert
  metrics/alertmanager/tikv.rules.yml
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#11616 server: panic when read request met engine corruption error
  src/coprocessor/endpoint.rs
  src/server/service/kv.rs
Labels: status/LGT2, size/M, do-not-merge/cherry-pick-not-approved, release-note, do-not-merge/invalid-commit-message

#10384 raftstore: always reject remove leader
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/peer.rs
  src/server/raft_client.rs
Labels: sig/raft, status/LGT2, status/can-merge, size/S, release-note

#11522 rsmeter: tag factory instead of global variable
  Cargo.lock
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/pd.rs
  components/resource_metering/Cargo.toml
  components/resource_metering/src/collector.rs
  components/resource_metering/src/config.rs
  components/resource_metering/src/lib.rs
  components/resource_metering/src/localstorage.rs
  components/resource_metering/src/model.rs
  components/resource_metering/src/recorder/cpu.rs
  components/resource_metering/src/recorder/mod.rs
  components/resource_metering/src/reporter.rs
  components/resource_metering/tests/recorder_test.rs
  components/server/src/server.rs
  components/test_coprocessor/Cargo.toml
  components/test_coprocessor/src/fixture.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/coprocessor/endpoint.rs
  src/server/node.rs
  src/server/server.rs
  src/storage/mod.rs
  src/storage/txn/scheduler.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/resource_metering/mod.rs
  tests/integrations/resource_metering/test_dynamic_config.rs
  tests/integrations/resource_metering/test_receiver.rs
  tests/integrations/resource_metering/test_suite/mock_receiver_server.rs
  tests/integrations/resource_metering/test_suite/mod.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11211 raftstore: add a new worker to dynamically update pool size (#11159)
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/refresh_config.rs
Labels: status/LGT2, status/can-merge, first-time-contributor, size/L, release-note-none

#11516 txn: Support check existence without getting value during pessimistic lock requests
  Cargo.lock
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/scheduler.rs
  src/storage/types.rs
  tests/failpoints/cases/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#11611 BackupStream: implement the basic endpoint and observer logic
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup/Cargo.toml
  components/br-stream/Cargo.toml
  components/br-stream/src/config.rs
  components/br-stream/src/endpoint.rs
  components/br-stream/src/lib.rs
  components/br-stream/src/metadata/client.rs
  components/br-stream/src/metadata/store/etcd.rs
  components/br-stream/src/observer.rs
  components/cdc/Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/gcp/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/into_other/Cargo.toml
  components/keys/Cargo.toml
  components/pd_client/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/resource_metering/Cargo.toml
  components/server/Cargo.toml
  components/server/src/server.rs
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_sst_importer/Cargo.toml
  components/test_storage/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
  components/txn_types/Cargo.toml
  etc/config-template.toml
  src/config.rs
  tests/Cargo.toml
  tests/integrations/config/mod.rs
Labels: status/LGT1, size/XXL, release-note-none, do-not-merge/invalid-commit-message

#11620 gc_worker: Add failpoint to unsafe_destroy_range
  src/server/gc_worker/gc_worker.rs
Labels: component/test-bench, sig/transaction, status/LGT2, status/can-merge, size/XS, release-note-none

#10936 add more load base split metrics
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/worker/split_controller.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11619 br: implement router for backup stream
  components/br-stream/src/endpoint.rs
  components/br-stream/src/lib.rs
  components/br-stream/src/observer.rs
  components/br-stream/src/router.rs
  src/config.rs
Labels: status/LGT1, size/L, release-note-none, do-not-merge/invalid-commit-message

#11457 raftstore: destroy uninitialized peer can make it possible to recreate old peer
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  tests/failpoints/cases/test_stale_peer.rs
Labels: contribution, status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/L, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11632 cdc: pick some fixes from master
  Cargo.lock
  components/backup/src/writer.rs
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/metrics.rs
  components/cdc/src/observer.rs
  components/cdc/src/old_value.rs
  components/cdc/tests/mod.rs
  components/engine_panic/src/lib.rs
  components/engine_panic/src/table_properties.rs
  components/engine_rocks/src/mvcc_properties.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/table_properties.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/table_properties.rs
  components/raftstore/src/store/worker/check_leader.rs
  components/resolved_ts/src/advance.rs
  components/resolved_ts/tests/failpoints/mod.rs
  components/server/src/server.rs
  components/tikv_util/src/lib.rs
  components/txn_types/src/types.rs
  src/config.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/store.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, size/XXL, do-not-merge/cherry-pick-not-approved, release-note

#11213 raftstore: support dynamically scaling pool size (#11159)
  Cargo.lock
  components/online_config/src/lib.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/worker/refresh_config.rs
  components/server/src/server.rs
  components/test_raftstore/src/common-test.toml
  components/test_raftstore/src/node.rs
  components/tikv_util/src/metrics/threads_linux.rs
  src/config.rs
  src/server/node.rs
  tests/Cargo.toml
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_scale_pool.rs
Labels: status/LGT2, status/can-merge, first-time-contributor, size/XL, release-note

#11625 storage: reduce extra next/pre in row_scan
  src/storage/raw/store.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note

#11592 *: remove some unnecessary dependencies
  Cargo.lock
  Cargo.toml
  components/backup/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/resource_metering/Cargo.toml
  components/server/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11274 raftstore: make threads of snap-generator pool configurable
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/region.rs
  etc/config-template.toml
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#11639 ctl:add prompt for ctl when required param is not specified
  cmd/tikv-ctl/src/main.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#10923 config(cdc): Add the missing from
  src/config.rs
Labels: type/cherry-pick, status/LGT2, status/can-merge, component/CDC, size/S, cherry-pick-approved, release-note-none

#11269 ctl: should check column family name validation when scan data using ctl
  cmd/tikv-ctl/src/main.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none

#10977 txn: Do assertions on data for mutations to reduce potential data inconsistency
  components/error_code/src/storage.rs
  components/resolved_ts/src/cmd.rs
  src/storage/errors.rs
  src/storage/mod.rs
  src/storage/mvcc/metrics.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/failpoints/cases/test_storage.rs
  tests/failpoints/cases/test_transaction.rs
Labels: sig/transaction, status/LGT2, status/can-merge, size/XXL, release-note-none

#11656 metrics: fix memory metrics
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_summary.json
  metrics/grafana/tikv_trouble_shooting.json
Labels: type/enhancement, status/LGT2, status/can-merge, size/XS, release-note-none

#11661 coprocesser: refactor encoding and add gbk_chinese_ci map
  components/tidb_query_datatype/src/codec/collation/encoding/ascii.rs
  components/tidb_query_datatype/src/codec/collation/encoding/latin1.rs
  components/tidb_query_datatype/src/codec/collation/encoding/mod.rs
  components/tidb_query_datatype/src/codec/collation/encoding/utf8.rs
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_datatype/src/def/field_type.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#11216 storage: Add API V2 check for RawKV and TxnKV requests (txn part)
  components/test_raftstore/src/util.rs
  src/storage/config.rs
  src/storage/mod.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/storage/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#11615 cdc: load uninlined value more effectively
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/observer.rs
  components/cdc/src/old_value.rs
  components/tikv_util/src/lib.rs
  src/storage/mvcc/reader/mod.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
Labels: component/performance, status/LGT2, status/can-merge, component/CDC, size/XXL, release-note-none

#11643 cdc: load old value with prefix seek if possible
  components/cdc/src/old_value.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11658 ctl: split into multiple modules
  cmd/tikv-ctl/src/cmd.rs
  cmd/tikv-ctl/src/executor.rs
  cmd/tikv-ctl/src/main.rs
  cmd/tikv-ctl/src/util.rs
  src/server/debug.rs
Labels: type/enhancement, component/tikv-ctl, status/LGT2, status/can-merge, size/XXL, release-note-none

#11650 Bump v4.0.16
  Cargo.lock
  Cargo.toml
Labels: size/XS, do-not-merge/cherry-pick-not-approved, release-note, do-not-merge/invalid-commit-message

#11671 Fix build issues on non-linux platforms
  Cargo.lock
  components/resource_metering/Cargo.toml
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/S, release-note-none

#11677 all: Migrate from std:: types to primitives.
  components/backup/src/endpoint.rs
  components/backup/src/writer.rs
  components/cdc/src/endpoint.rs
  components/cdc/tests/mod.rs
  components/cloud/aws/src/s3.rs
  components/codec/src/number.rs
  components/external_storage/export/src/request.rs
  components/keys/src/lib.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/memory.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/snap/io.rs
  components/raftstore/src/store/util.rs
  components/sst_importer/src/sst_importer.rs
  components/test_coprocessor/src/table.rs
  components/tidb_query_datatype/src/codec/chunk/column.rs
  components/tidb_query_datatype/src/codec/convert.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_sized.rs
  components/tidb_query_datatype/src/codec/mysql/binary_literal.rs
  components/tidb_query_datatype/src/codec/mysql/decimal.rs
  components/tidb_query_datatype/src/codec/mysql/duration.rs
  components/tidb_query_datatype/src/codec/mysql/json/comparison.rs
  components/tidb_query_datatype/src/codec/mysql/json/mod.rs
  components/tidb_query_datatype/src/codec/mysql/json/serde.rs
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
  components/tidb_query_datatype/src/codec/row/v2/encoder_for_test.rs
  components/tidb_query_executors/src/table_scan_executor.rs
  components/tidb_query_expr/src/impl_arithmetic.rs
  components/tidb_query_expr/src/impl_cast.rs
  components/tidb_query_expr/src/impl_compare.rs
  components/tidb_query_expr/src/impl_math.rs
  components/tidb_query_expr/src/impl_op.rs
  components/tidb_query_expr/src/impl_string.rs
  components/tikv_util/src/codec/number.rs
  components/tikv_util/src/config.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/logger/mod.rs
  components/tikv_util/src/time.rs
  components/txn_types/src/timestamp.rs
  src/server/gc_worker/gc_worker.rs
  src/server/service/diagnostics/log.rs
  src/server/service/kv.rs
  src/storage/txn/scheduler.rs
  tests/integrations/config/dynamic/gc_worker.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/storage/test_titan.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XXL, release-note-none

#11652 br/stream: Flush files
  Cargo.lock
  components/br-stream/Cargo.toml
  components/br-stream/src/endpoint.rs
  components/br-stream/src/errors.rs
  components/br-stream/src/lib.rs
  components/br-stream/src/observer.rs
  components/br-stream/src/router.rs
  components/br-stream/src/utils.rs
  components/external_storage/export/src/export.rs
  src/config.rs
Labels: contribution, status/LGT2, component/backup-restore, sig/migrate, size/XXL, release-note-none, do-not-merge/invalid-commit-message

#11672 metrics alert: fix apply cpu alert
  metrics/alertmanager/tikv.rules.yml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#11085 resrc_mtr: introduce scanned keys statistics
  components/raftstore/src/store/worker/pd.rs
  components/resource_metering/src/client.rs
  components/resource_metering/src/lib.rs
  components/resource_metering/src/localstorage.rs
  components/resource_metering/src/model.rs
  components/resource_metering/src/recorder/cpu.rs
  components/resource_metering/src/recorder/mod.rs
  components/resource_metering/src/recorder/summary.rs
  components/resource_metering/src/reporter.rs
  components/resource_metering/tests/summary_test.rs
  components/test_raftstore/src/server.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  tests/integrations/resource_metering/mod.rs
  tests/integrations/resource_metering/test_read_keys.rs
  tests/integrations/resource_metering/test_suite/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note

#11667 file_system: support collect the io flow by proc
  Cargo.lock
  components/file_system/Cargo.toml
  components/file_system/src/lib.rs
  components/file_system/src/metrics_manager.rs
  components/file_system/src/thread_io.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note

#11591 *: check epoch and validness of lock table when writing pessimistic locks
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/txn_ext.rs
  components/test_raftstore/src/server.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_transaction.rs
  tests/integrations/raftstore/test_multi.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#11688 rsmeter: introduce datasink
  Cargo.lock
  components/resource_metering/src/config.rs
  components/resource_metering/src/error.rs
  components/resource_metering/src/lib.rs
  components/resource_metering/src/reporter/data_sink.rs
  components/resource_metering/src/reporter/mod.rs
  components/resource_metering/src/reporter/single_target.rs
  components/resource_metering/tests/summary_test.rs
  components/server/Cargo.toml
  components/server/src/server.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/server.rs
  tests/Cargo.toml
  tests/integrations/resource_metering/test_read_keys.rs
  tests/integrations/resource_metering/test_suite/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11696 rsmeter: add centralized place to construct protobuf data
  components/resource_metering/src/model.rs
  components/resource_metering/src/reporter/data_sink.rs
  components/resource_metering/src/reporter/mod.rs
  components/resource_metering/src/reporter/single_target.rs
  components/resource_metering/tests/summary_test.rs
  tests/integrations/resource_metering/test_read_keys.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11703 tikv_util: update procfs to 0.12.0
  Cargo.lock
  components/tikv_util/Cargo.toml
  components/tikv_util/src/sys/inspector.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#11687 Use generic for api version to reduce runtime branching
  Cargo.lock
  Cargo.toml
  components/api_version/Cargo.toml
  components/api_version/src/api_v1.rs
  components/api_version/src/api_v1ttl.rs
  components/api_version/src/api_v2.rs
  components/api_version/src/lib.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/ttl_properties.rs
  components/engine_traits/Cargo.toml
  components/engine_traits/src/key_prefix.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/raw_ttl.rs
  components/engine_traits/src/raw_value.rs
  components/error_code/src/storage.rs
  components/sst_importer/Cargo.toml
  components/sst_importer/src/sst_writer.rs
  components/test_coprocessor/src/store.rs
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/sync_storage.rs
  components/txn_types/src/lib.rs
  components/txn_types/src/types.rs
  src/config.rs
  src/server/gc_worker/gc_worker.rs
  src/server/node.rs
  src/server/service/kv.rs
  src/server/ttl/ttl_compaction_filter.rs
  src/storage/errors.rs
  src/storage/mod.rs
  src/storage/raw/encoded.rs
  src/storage/raw/mod.rs
  src/storage/raw/store.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/compare_and_swap.rs
  tests/Cargo.toml
  tests/benches/misc/storage/scan.rs
  tests/failpoints/cases/test_storage.rs
  tests/failpoints/cases/test_transaction.rs
  tests/failpoints/cases/test_ttl.rs
  tests/integrations/resource_metering/test_suite/mod.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/storage/test_raft_storage.rs
  tests/integrations/storage/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11664 sst_importer: check api version when importing
  components/engine_traits/src/iterable.rs
  components/error_code/src/sst_importer.rs
  components/sst_importer/src/errors.rs
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/sst_importer.rs
  src/import/sst_service.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#11528 backup: pipeline scan and save step
  Cargo.lock
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/backup/src/errors.rs
  components/backup/src/metrics.rs
  components/backup/src/writer.rs
  metrics/grafana/tikv_details.json
  src/config.rs
  tests/integrations/backup/mod.rs
Labels: contribution, status/LGT2, status/can-merge, component/backup-restore, sig/migrate, size/XXL, release-note-none

#11710 metrics: fix the metrics cannot be displayed
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XS, release-note

#11713 cherry-pick performance related patches to release-5.3-20211208
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-ctl/src/main.rs
  components/backup/Cargo.toml
  components/backup/src/writer.rs
  components/batch-system/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/concurrency_manager/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/src/io.rs
  components/encryption/src/lib.rs
  components/encryption/src/manager/mod.rs
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/external_storage/Cargo.toml
  components/file_system/Cargo.toml
  components/pd_client/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raft_log_engine/src/engine.rs
  components/raft_log_engine/src/lib.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/snap/io.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/resolved_ts/Cargo.toml
  components/resource_metering/Cargo.toml
  components/server/Cargo.toml
  components/server/src/raft_engine_switch.rs
  components/server/src/server.rs
  components/sst_importer/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
  etc/config-template.toml
  src/config.rs
  src/server/raft_client.rs
  src/server/service/kv.rs
  tests/Cargo.toml
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: size/XXL, do-not-merge/cherry-pick-not-approved, release-note-none

#11704 backup: return api-version to BR when backup
  Cargo.lock
  components/backup/src/endpoint.rs
  components/external_storage/export/src/export.rs
  components/pd_client/src/util.rs
  components/server/src/server.rs
  components/test_backup/src/lib.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#11715 file_system: limit thread_io target os
  components/file_system/src/thread_io.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#11700 file_system: bypass file allocate implementation in fs2
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/file_system/src/file.rs
  components/file_system/src/lib.rs
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11487 metrics: remove min legend
  metrics/grafana/performance_read.json
  metrics/grafana/performance_write.json
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_trouble_shooting.json
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11708 coprocessor: not return rows when there is no input for simple aggregation
  components/tidb_query_executors/src/simple_aggr_executor.rs
Labels: contribution, status/LGT2, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/can-merge, needs-cherry-pick-3.1, needs-cherry-pick-4.0, first-time-contributor, size/S, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11699 backup: reduce the default thread pool size of backup, enable auto tune by default
  components/backup/src/endpoint.rs
  components/backup/src/lib.rs
  components/backup/src/softlimit.rs
  components/backup/src/utils.rs
  etc/config-template.toml
  src/config.rs
Labels: contribution, status/LGT2, status/can-merge, component/backup-restore, sig/migrate, size/L, release-note

#11666 Backup: add S3 metrics && add s3_multi_part_size config
  Cargo.lock
  components/backup/src/endpoint.rs
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/aws/src/s3.rs
  components/cloud/src/lib.rs
  components/cloud/src/metrics.rs
  components/external_storage/export/src/export.rs
  components/external_storage/src/lib.rs
  metrics/grafana/tikv_details.json
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, component/backup-restore, size/XL, release-note

#11707 rsmeter: support multiple datasinks
  Cargo.lock
  components/raftstore/src/store/worker/pd.rs
  components/resource_metering/src/collector.rs
  components/resource_metering/src/config.rs
  components/resource_metering/src/lib.rs
  components/resource_metering/src/localstorage.rs
  components/resource_metering/src/model.rs
  components/resource_metering/src/recorder/mod.rs
  components/resource_metering/src/reporter/data_sink.rs
  components/resource_metering/src/reporter/data_sink_reg.rs
  components/resource_metering/src/reporter/mod.rs
  components/resource_metering/src/reporter/single_target.rs
  components/resource_metering/tests/summary_test.rs
  components/server/Cargo.toml
  components/server/src/server.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/server.rs
  tests/Cargo.toml
  tests/integrations/resource_metering/test_read_keys.rs
  tests/integrations/resource_metering/test_suite/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11728 engine: properly estimate store size
  Cargo.lock
  components/raft_log_engine/src/engine.rs
  components/raftstore/src/store/worker/pd.rs
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_summary.json
  src/server/metrics.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11675 br: backup-log: Test and debug for backup-log process
  Cargo.lock
  components/br-stream/Cargo.toml
  components/br-stream/src/endpoint.rs
  components/br-stream/src/metadata/client.rs
  components/br-stream/src/metadata/keys.rs
  components/br-stream/src/observer.rs
  components/br-stream/src/router.rs
  components/server/src/server.rs
Labels: contribution, status/LGT2, status/can-merge, component/backup-restore, size/L, release-note-none

#11685 implement global config client for tikv
  components/error_code/src/pd.rs
  components/pd_client/src/client.rs
  components/pd_client/src/errors.rs
  components/pd_client/src/lib.rs
  components/pd_client/src/util.rs
  components/test_pd/src/mocker/mod.rs
  components/test_pd/src/server.rs
  tests/failpoints/cases/test_pd_client.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#11701 storage: skip scanning lock when using rc
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  tests/integrations/coprocessor/test_select.rs
Labels: sig/transaction, status/LGT2, status/can-merge, size/L, release-note

#11494 copr: pushdown substring to tikv
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#11712 rsmeter: distinguish between collectors and observers within recorder
  components/raftstore/src/store/worker/pd.rs
  components/resource_metering/Cargo.toml
  components/resource_metering/src/collector.rs
  components/resource_metering/src/config.rs
  components/resource_metering/src/lib.rs
  components/resource_metering/src/model.rs
  components/resource_metering/src/recorder/collector_reg.rs
  components/resource_metering/src/recorder/localstorage.rs
  components/resource_metering/src/recorder/mod.rs
  components/resource_metering/src/recorder/sub_recorder/cpu.rs
  components/resource_metering/src/recorder/sub_recorder/mod.rs
  components/resource_metering/src/recorder/sub_recorder/summary.rs
  components/resource_metering/src/reporter/collector_impl.rs
  components/resource_metering/src/reporter/mod.rs
  components/resource_metering/tests/recorder_test.rs
  components/resource_metering/tests/summary_test.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  tests/integrations/resource_metering/test_dynamic_config.rs
  tests/integrations/resource_metering/test_read_keys.rs
  tests/integrations/resource_metering/test_receiver.rs
  tests/integrations/resource_metering/test_suite/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11714 config: validate online configurable thread pools (tikv#11159)
  components/raftstore/src/store/config.rs
  src/config.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11749 res_meter: upgrade kvproto
  Cargo.lock
  components/resource_metering/src/model.rs
  components/resource_metering/tests/summary_test.rs
  tests/integrations/resource_metering/test_read_keys.rs
  tests/integrations/resource_metering/test_suite/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#11719 rsmeter: add pubsub datasink
  Cargo.lock
  components/resource_metering/Cargo.toml
  components/resource_metering/src/lib.rs
  components/resource_metering/src/reporter/mod.rs
  components/resource_metering/src/reporter/pubsub.rs
  components/server/src/server.rs
  tests/integrations/resource_metering/mod.rs
  tests/integrations/resource_metering/test_dynamic_config.rs
  tests/integrations/resource_metering/test_pubsub.rs
  tests/integrations/resource_metering/test_suite/mock_pubsub.rs
  tests/integrations/resource_metering/test_suite/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#11693 status_server: Support online config update for configuration hosting platform
  cmd/tikv-server/src/main.rs
  components/test_raftstore/src/util.rs
  src/config.rs
  src/server/status_server/mod.rs
  tests/integrations/config/test_config_client.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11753 res_meter: optimize top k
  components/resource_metering/src/config.rs
  components/resource_metering/src/lib.rs
  components/resource_metering/src/model.rs
  components/resource_metering/src/recorder/mod.rs
  components/resource_metering/src/reporter/mod.rs
  components/server/src/server.rs
  tests/integrations/resource_metering/test_suite/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#11705 raftclient: delay flush
  Cargo.lock
  Cargo.toml
  components/batch-system/src/batch.rs
  components/batch-system/src/config.rs
  components/batch-system/tests/cases/batch.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/refresh_config.rs
  src/server/config.rs
  src/server/raft_client.rs
  src/storage/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: type/enhancement, component/gRPC, status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-5.3

#11732 cloud: support azure blob storage as external storage backend
  Cargo.lock
  Cargo.toml
  Makefile
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-server/Cargo.toml
  components/backup/Cargo.toml
  components/cloud/azure/Cargo.toml
  components/cloud/azure/src/azblob.rs
  components/cloud/azure/src/lib.rs
  components/encryption/export/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/external_storage/export/examples/scli.rs
  components/external_storage/export/src/export.rs
  components/raftstore/Cargo.toml
  components/server/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_util/Cargo.toml
  tests/Cargo.toml
Labels: contribution, status/LGT2, status/can-merge, component/backup-restore, sig/migrate, first-time-contributor, size/XXL, release-note-none

#11506 coprocesser: update encoding lib
  Cargo.lock
  components/tidb_query_datatype/Cargo.toml
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note

#11756 coprocesser: implement upper and lower function on GBK charset
  components/tidb_query_datatype/src/codec/collation/encoding/gbk.rs
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_datatype/src/codec/mysql/charset.rs
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none
