Repository tikv/tikv, pull requests merged in 2021-11, with the labels that each got.

#11146 Implement store info reporting and recover plan execution logic for o…
  Cargo.lock
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/pd.rs
  src/server/node.rs
  tests/failpoints/cases/test_pd_client.rs
  tests/integrations/pd/test_rpc_client.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_unsafe_recover.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note

#11170 raftstore: distinguish empty and size uninitialized region
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note-none

#11196 Fix label leaking of thread metrics
  components/tikv_util/src/metrics/threads_linux.rs
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/L, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#11198 Fix unstable test about slow node detection
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/util.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11111 raftstore: delay some events to reduce store and grpc cpu
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_lease_read.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11205 status_server: add glibc, pthread, libgcc to the blocklist
  Cargo.lock
  Cargo.toml
  src/server/status_server/profile.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#11107 metrics: use process_cpu_seconds_total to display process CPU
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_summary.json
  metrics/grafana/tikv_trouble_shooting.json
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/XS, needs-cherry-pick-5.0, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#11212 tests: fix slow snapshot tests and failed split operation
  components/encryption/src/encrypted_file/mod.rs
  components/raftstore/src/store/async_io/write.rs
  components/test_raftstore/src/cluster.rs
  components/tikv_util/src/metrics/threads_linux.rs
  tests/integrations/raftstore/test_single.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_stats.rs
  tests/integrations/server_encryption.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11219 storage: avoid leaking FlowController channel in tests
  src/storage/txn/flow_controller.rs
Labels: component/test-bench, component/storage, status/LGT2, status/can-merge, size/S, release-note-none

#10948 rocksdb: fix panic caused by ingest multiple files
  Cargo.lock
  components/engine_rocks/src/import.rs
Labels: component/rocksdb, status/LGT2, type/bugfix, status/can-merge, size/M, release-note

#11242 Delete challenge-program.md
  .github/ISSUE_TEMPLATE/challenge-program.md
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11246 engine_rocks: switch rust-rocksdb to branch tikv-5.2
  Cargo.lock
  components/engine_rocks/Cargo.toml
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note-none

#10950 import: remove verify checksum in apply thread
  components/raftstore/src/store/fsm/apply.rs
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/sst_importer.rs
  src/import/sst_service.rs
Labels: status/LGT2, status/can-merge, component/backup-restore, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11227 engine_rocks: update rust-rocksdb
  Cargo.lock
  components/engine_rocks/src/options.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/ttl_properties.rs
  components/engine_test/src/lib.rs
  components/test_sst_importer/src/lib.rs
  src/config.rs
  src/storage/mvcc/reader/reader.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11267 raftstore: make threads of snap-generator pool configurable
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/region.rs
  etc/config-template.toml
  tests/integrations/config/mod.rs
Labels: size/M, do-not-merge/cherry-pick-not-approved, release-note, do-not-merge/invalid-commit-message

#11249 tests: speed up tests with batch put and mem disk
  .gitignore
  components/encryption/src/encrypted_file/mod.rs
  components/encryption/src/manager/mod.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/apply.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/common-test.toml
  components/test_raftstore/src/config.rs
  components/test_raftstore/src/lib.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  components/test_util/src/lib.rs
  tests/failpoints/cases/test_merge.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/import/util.rs
  tests/integrations/raftstore/test_conf_change.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_update_region_size.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.3

#11266 generate heap profile to data dir
  components/server/src/server.rs
  src/server/status_server/mod.rs
  src/server/status_server/profile.rs
  tests/integrations/server/status_server.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11147 raftstore: call proposed callback in advance
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_cmd_epoch_checker.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-5.3

#11190 utils: Add case conversion procedural macro to convert identifier to string literal
  Cargo.lock
  Cargo.toml
  components/case_macros/Cargo.toml
  components/case_macros/src/lib.rs
  scripts/check-bins.py
  src/config.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#10599 raftstore: refine raft log gc tick.
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  etc/config-template.toml
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-5.3

#11215 status_server: add glibc, pthread, libgcc to the blocklist (#11205)
  Cargo.lock
  Cargo.toml
  src/server/status_server/profile.rs
Labels: status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note, do-not-merge/invalid-commit-message

#11248 gc: Fix GcKeys task doesn't work when called with multiple keys
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/compaction_guard.rs
  metrics/grafana/tikv_details.json
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/server/gc_worker/mod.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
  tests/integrations/storage/mod.rs
  tests/integrations/storage/test_region_info_accessor.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/L, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11264 txn: Check constraint when retrying prewrite of non-pessimistic-locked keys in pessimistic transactions
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/prewrite.rs
Labels: status/LGT2, status/can-merge, size/XL, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11294 raftstore: Fix compaction guard panic on non-data key
  components/raftstore/src/store/compaction_guard.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11252 raftstore: reduce some cpu waste of apply thread
  components/cdc/src/endpoint.rs
  components/cdc/src/observer.rs
  components/keys/src/lib.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/observer.rs
  components/test_raftstore/src/cluster.rs
  src/server/raftkv.rs
  tests/failpoints/cases/test_async_io.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-5.3

#11308 tikv_util: ProcessCollector should use IntGauge to provide better performance
  Cargo.lock
  components/tikv_util/Cargo.toml
  components/tikv_util/src/metrics/process_linux.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#11166 backup, external_storage, cloud: make write functions asynchronous
  Cargo.lock
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/backup/src/errors.rs
  components/backup/src/softlimit.rs
  components/backup/src/writer.rs
  components/cloud/aws/Cargo.toml
  components/cloud/aws/src/s3.rs
  components/cloud/gcp/Cargo.toml
  components/cloud/gcp/src/gcs.rs
  components/cloud/src/blob.rs
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/external_storage/export/examples/scli.rs
  components/external_storage/export/src/export.rs
  components/external_storage/src/hdfs.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/local.rs
  components/external_storage/src/noop.rs
  components/tikv_util/src/stream.rs
Labels: contribution, status/LGT2, status/can-merge, component/backup-restore, sig/migrate, first-time-contributor, size/XXL, release-note-none

#11206 Add code owner for config file
  .github/CODEOWNERS
Labels: status/LGT2, status/can-merge, size/S, release-note, do-not-merge/invalid-commit-message

#11280 Fix compile error in status server on MacOS
  src/server/status_server/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none

#11314 cdc: remove hint_min_ts for cdc incremental scanner
  components/cdc/src/endpoint.rs
Labels: status/LGT2, type/bugfix, status/can-merge, component/CDC, size/M, needs-cherry-pick-5.0, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11261 raftstore: Fix a flaky test
  components/test_raftstore/src/cluster.rs
  tests/integrations/raftstore/test_unsafe_recover.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#11310 raftstore: reduce the frequency of flushing raft messages
  components/batch-system/src/batch.rs
  components/batch-system/src/config.rs
  components/batch-system/src/test_runner.rs
  components/batch-system/tests/cases/batch.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  etc/config-template.toml
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.3

#11305 *: log path on error during encryption
  components/encryption/src/encrypted_file/mod.rs
  tests/integrations/raftstore/test_conf_change.rs
  tests/integrations/raftstore/test_single.rs
  tests/integrations/resource_metering/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11199 tikv_util: support get tikv api version via store command
  Cargo.lock
  cmd/tikv-ctl/src/main.rs
  src/server/debug.rs
  src/server/service/debug.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#11301 grafana: fix incorrect by-instance gRPC average duration
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_summary.json
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/XS, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11302 copr: fix neg sign when decimal divide to zero
  components/tidb_query_datatype/src/codec/mysql/decimal.rs
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/S, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11209 jenkins: remove useless jenkins file
  Jenkinsfile
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#11068 config: support configuring rocksdb enum item with string literals
  Cargo.lock
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/config.rs
  components/engine_rocks/src/lib.rs
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/test-custom.toml
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#11079 github/workflows: remove legacy actions
  .github/workflows/assign_bugs_questions_project.yml
  .github/workflows/assign_failed_test_project.yml
  .github/workflows/assign_feature_requests.yml
  .github/workflows/assign_sig_project.yml
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11343 grafana: fix gc scan detail metrics
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#11342 server: deregister should be call if stream revc error after inject net error
  src/server/snap.rs
  tests/failpoints/cases/test_snap.rs
  tests/integrations/raftstore/test_snap.rs
Labels: status/LGT2, status/can-merge, first-time-contributor, size/M, release-note-none, needs-cherry-pick-5.3

#11338 tikv_util: support microsecond unit for ReadableDuration
  components/batch-system/src/batch.rs
  components/batch-system/src/config.rs
  components/batch-system/tests/cases/batch.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/tidb_query_common/src/execute_stats.rs
  components/tikv_util/src/config.rs
  components/tikv_util/src/time.rs
  tests/failpoints/cases/test_merge.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-5.3

#11304 raftstore: batch apply msg to reduce apply state keys
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11369 raftstore: revert async io code for test
  components/batch-system/src/batch.rs
  components/batch-system/src/config.rs
  components/batch-system/src/lib.rs
  components/batch-system/src/test_runner.rs
  components/batch-system/tests/cases/batch.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_rocks/src/write_batch.rs
  components/engine_traits/src/raft_engine.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/async_io/write_router.rs
  components/raftstore/src/store/async_io/write_tests.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/mod.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/util.rs
  components/tidb_query_common/src/execute_stats.rs
  components/tikv_util/src/config.rs
  components/tikv_util/src/sys/cgroup.rs
  components/tikv_util/src/time.rs
  etc/config-template.toml
  src/config.rs
  src/server/config.rs
  src/server/metrics.rs
  src/server/raft_client.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_async_io.rs
  tests/failpoints/cases/test_cmd_epoch_checker.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_stale_peer.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_lease_read.rs
  tests/integrations/raftstore/test_multi.rs
Labels: size/XXL, do-not-merge/cherry-pick-not-approved, release-note, do-not-merge/invalid-commit-message

#11370 raftstore: fix callback of cmd batch
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
Labels: size/S, do-not-merge/cherry-pick-not-approved, release-note, do-not-merge/invalid-commit-message

#11376 More metrics for raft log gc
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  metrics/grafana/tikv_details.json
  src/server/metrics.rs
  src/server/resolve.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11377 More metrics for raft log gc (#11376)
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  metrics/grafana/tikv_details.json
  src/server/metrics.rs
  src/server/resolve.rs
Labels: status/LGT2, status/can-merge, size/XXL, do-not-merge/cherry-pick-not-approved, release-note-none

#11372 copr: add duration_string_time_diff function
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note

#11277 tikv_util: upgrade `gag` from 0.1 to 1.0
  Cargo.lock
  cmd/tikv-ctl/Cargo.toml
  components/tikv_util/Cargo.toml
  components/tikv_util/src/lib.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#11357 codec: add compile time assert to guarantee safety
  components/codec/src/byte.rs
Labels: type/enhancement, status/LGT2, status/can-merge, size/M, release-note-none

#11401 rafstore: fix commit state check in apply thread
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_early_apply.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.3

#11407 raftstore: increase batch for raftlog-gc-worker (release-5.1-20211115)
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/raft_engine.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
Labels: status/LGT2, size/L, do-not-merge/cherry-pick-not-approved, release-note-none, do-not-merge/invalid-commit-message

#11113 backup: create external storage per-backup reqeust.
  components/backup/src/endpoint.rs
Labels: contribution, status/LGT2, status/can-merge, component/backup-restore, sig/migrate, first-time-contributor, size/M, release-note-none

#11347 Remove duplicate enum and macro about numberic_enum_mod
  Cargo.lock
  components/engine_rocks/src/config.rs
  components/engine_traits/Cargo.toml
  components/engine_traits/src/config.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/perf_context.rs
  components/raftstore/src/coprocessor/config.rs
  components/raftstore/src/store/config.rs
  components/tikv_util/src/config.rs
  src/config.rs
  tests/integrations/config/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#11395 ctl: detect raft db correctly
  cmd/tikv-ctl/src/main.rs
  components/engine_rocks/src/raw_util.rs
  src/config.rs
Labels: component/tikv-ctl, status/LGT2, type/bugfix, status/can-merge, size/M, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11388 Support to iterate table properties for KvEngine
  components/engine_panic/src/lib.rs
  components/engine_panic/src/table_properties.rs
  components/engine_rocks/src/table_properties.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/table_properties.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11416 gc: Fix GC scan effectiveness to avoid OOM
  metrics/grafana/tikv_details.json
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_worker.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/gc.rs
Labels: status/LGT2, status/can-merge, size/L, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11354 fix a panic about parsing memory.limit_in_bytes
  components/tikv_util/src/sys/cgroup.rs
  components/tikv_util/src/sys/mod.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#11349 build: fix make docker on Linux
  Dockerfile
  components/cdc/Cargo.toml
  components/cdc/benches/cdc_event.rs
  components/external_storage/export/Cargo.toml
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#11225 engine_rocks: ignore NoSpace error during flush or compaction
  components/engine_rocks/src/event_listener.rs
Labels: status/LGT2, status/can-merge, size/S, release-note, needs-cherry-pick-5.3

#11429 gc: set pending capacity for gc worker
  src/server/gc_worker/gc_worker.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#11430 gc: set pending capacity for gc worker(#11429)
  src/server/gc_worker/gc_worker.rs
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note-none

#11418 raftstore: support synchronous write
  components/batch-system/src/batch.rs
  components/batch-system/src/lib.rs
  components/batch-system/src/test_runner.rs
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/async_io/write_tests.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/common-test.toml
  etc/config-template.toml
  tests/failpoints/cases/test_async_io.rs
  tests/failpoints/cases/test_snap.rs
  tests/integrations/raftstore/test_status_command.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-5.3

#11423 Cherry pick compaction filter bugfix
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/compaction_guard.rs
  components/tikv_util/src/worker/pool.rs
  metrics/grafana/tikv_details.json
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/server/gc_worker/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/gc.rs
  tests/failpoints/cases/test_gc_worker.rs
  tests/integrations/config/dynamic/gc_worker.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
  tests/integrations/storage/mod.rs
  tests/integrations/storage/test_region_info_accessor.rs
Labels: status/LGT2, size/XXL, cherry-pick-approved, release-note-none

#11415 metrics: add Raft Engine panel
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11414 resource-metering: add some metrics
  components/resource_metering/src/client.rs
  components/resource_metering/src/collector.rs
  components/resource_metering/src/lib.rs
  components/resource_metering/src/metrics.rs
  components/resource_metering/src/recorder/cpu.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11408 metrics: add asynchronous write io panels
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/metrics.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-5.3

#11447 storage: fix reverse scan check memory locks
  src/storage/mod.rs
Labels: sig/transaction, status/LGT2, type/bugfix, status/can-merge, size/M, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11366 test: make test_sending_fail_with_net_error more statable
  tests/failpoints/cases/test_snap.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11405 raftstore: increase batch for raftlog-gc-worker
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/raft_engine.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#10945 Make tikv-server fully generic over kv engines
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11462 Revert "Make tikv-server fully generic over kv engines (#10945)"
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11451 raftstore: flush waterfall metrics when using synchronous write
  components/raftstore/src/store/async_io/write.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11391 *:fix one disk full unstable test case on assert condition.
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_disk_full.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none

#11352 resolved_ts: return early after regions already had quorum
  components/cdc/src/endpoint.rs
  components/raftstore/src/store/worker/check_leader.rs
  components/resolved_ts/src/advance.rs
  components/resolved_ts/tests/failpoints/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#10904 import: fix upgrade bug for import_file
  components/sst_importer/src/sst_importer.rs
Labels: type/cherry-pick, status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none

#11465 support to get approximate keys and size for a given range from UserCollectedProperties
  components/engine_panic/src/table_properties.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/table_properties.rs
  components/engine_traits/src/table_properties.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11300 copr: add paging API support for streaming-like processling
  Cargo.lock
  components/test_coprocessor/src/dag.rs
  components/tidb_query_executors/src/runner.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/endpoint.rs
  tests/benches/coprocessor_executors/util/mod.rs
  tests/failpoints/cases/test_coprocessor.rs
  tests/integrations/coprocessor/test_select.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#10929 encryption: support seek for encryption writer
  components/backup/src/writer.rs
  components/encryption/src/io.rs
  components/encryption/src/lib.rs
  components/raftstore/src/store/snap/io.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#10985 server: remove register PD process
  components/server/src/server.rs
  src/server/status_server/mod.rs
  tests/integrations/server/status_server.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#10937 engine: provide customized file builder to raft engine
  Cargo.lock
  cmd/tikv-ctl/src/main.rs
  components/encryption/src/manager/mod.rs
  components/raft_log_engine/Cargo.toml
  components/raft_log_engine/src/engine.rs
  components/raft_log_engine/src/lib.rs
  components/server/src/raft_engine_switch.rs
  components/server/src/server.rs
  etc/config-template.toml
  src/config.rs
  tests/Cargo.toml
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#11458 *: update some dependencies
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup/Cargo.toml
  components/batch-system/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/concurrency_manager/Cargo.toml
  components/encryption/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/external_storage/Cargo.toml
  components/file_system/Cargo.toml
  components/pd_client/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/resource_metering/Cargo.toml
  components/server/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
  tests/Cargo.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11397 coprocessor: add `to_binary` and `from_binary` function
  Cargo.lock
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/src/builder/field_type.rs
  components/tidb_query_datatype/src/codec/collation/encoding/gbk.rs
  components/tidb_query_datatype/src/codec/collation/encoding/latin1.rs
  components/tidb_query_datatype/src/codec/collation/encoding/mod.rs
  components/tidb_query_datatype/src/codec/collation/encoding/utf8.rs
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_datatype/src/codec/error.rs
  components/tidb_query_datatype/src/def/field_type.rs
  components/tidb_query_datatype/src/def/mod.rs
  components/tidb_query_datatype/src/error.rs
  components/tidb_query_expr/src/impl_cast.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#11122 server: fix IOType configure for recving snapshot
  src/server/snap.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/S, release-note-none

#11459 raftstore: add pessimistic lock table to peer
  Cargo.lock
  components/cdc/src/endpoint.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/txn_ext.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/read.rs
  components/tikv_kv/src/raftstore_impls.rs
  components/txn_types/src/lib.rs
  components/txn_types/src/lock.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11490 engine: fix backward compatibility issue of raft-engine.recovery-mode
  Cargo.lock
  Cargo.toml
  src/config.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11491 metrics: add duration composition panel
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#11238 *: support read-through lock
  Cargo.lock
  components/backup/src/endpoint.rs
  components/test_backup/src/lib.rs
  components/test_coprocessor/src/store.rs
  components/test_coprocessor/src/table.rs
  src/coprocessor/checksum.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/mod.rs
  src/coprocessor/statistics/analyze.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/txn/store.rs
  tests/benches/misc/storage/incremental_get.rs
  tests/integrations/coprocessor/test_checksum.rs
  tests/integrations/coprocessor/test_select.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#11139 storage: support raw value encode for API V2
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/src/main.rs
  components/coprocessor_plugin_api/src/errors.rs
  components/engine_rocks/src/ttl_properties.rs
  components/engine_traits/Cargo.toml
  components/engine_traits/src/key_prefix.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/raw_value.rs
  components/engine_traits/src/util.rs
  components/error_code/src/codec.rs
  components/error_code/src/storage.rs
  components/keys/src/lib.rs
  components/raftstore/src/store/fsm/apply.rs
  components/server/src/server.rs
  components/sst_importer/src/sst_importer.rs
  components/sst_importer/src/sst_writer.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  components/test_storage/src/sync_storage.rs
  components/tikv_kv/src/lib.rs
  components/tikv_util/src/codec/mod.rs
  src/config.rs
  src/coprocessor_v2/endpoint.rs
  src/coprocessor_v2/raw_storage_impl.rs
  src/import/duplicate_detect.rs
  src/server/gc_worker/gc_worker.rs
  src/server/node.rs
  src/server/server.rs
  src/server/ttl/ttl_compaction_filter.rs
  src/storage/errors.rs
  src/storage/kv/test_engine_builder.rs
  src/storage/mod.rs
  src/storage/raw/encoded.rs
  src/storage/raw/mod.rs
  src/storage/raw/store.rs
  src/storage/raw/ttl.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/compare_and_swap.rs
  tests/failpoints/cases/test_storage.rs
  tests/failpoints/cases/test_transaction.rs
  tests/failpoints/cases/test_ttl.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/config/mod.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/resource_metering/test_suite/mod.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/storage/test_storage.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11496 copr: enable pushdown of substring to tikv
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, size/L, do-not-merge/cherry-pick-not-approved, release-note

#11471 *: replace snapshot `CbContext` with `SnapshotExt`
  components/raftstore/src/store/region_snapshot.rs
  components/tikv_kv/src/btree_engine.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/raftstore_impls.rs
  components/tikv_kv/src/rocksdb_engine.rs
  src/coprocessor/cache.rs
  src/coprocessor/endpoint.rs
  src/lib.rs
  src/server/gc_worker/gc_worker.rs
  src/server/raftkv.rs
  src/storage/mod.rs
  src/storage/raw/encoded.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/misc/raftkv/mod.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#11392 bump v5.3.0
  Cargo.lock
  Cargo.toml
Labels: size/XS, do-not-merge/cherry-pick-not-approved, release-note, do-not-merge/invalid-commit-message

#11478 raftstore: relax merge result check
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  tests/integrations/raftstore/test_conf_change.rs
  tests/integrations/raftstore/test_merge.rs
Labels: status/LGT2, type/bugfix, status/can-merge, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#11488 Update max_ts for Prewrite and AcquirePessimisticLock with should_not_exist flag.
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/prewrite.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/L, release-note-none

#11504 *: simplify pull request template
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11385 cdc: introduce TsFilter into incremental scan
  Cargo.lock
  components/backup/src/writer.rs
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/metrics.rs
  components/cdc/src/old_value.rs
  components/cdc/tests/mod.rs
  components/engine_rocks/src/mvcc_properties.rs
  components/server/src/server.rs
  components/txn_types/src/types.rs
  src/config.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/store.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/performance, status/LGT2, status/can-merge, component/CDC, size/XXL, release-note-none

#11051 metric: add stale read count metric
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/read.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/S, release-note
