Repository tikv/tikv, pull requests merged in 2021-04, with the labels that each got.

#9928 remove the upper limit for space reserving
  cmd/src/server.rs
  etc/config-template.toml
  src/storage/config.rs
Labels: needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge

#9897 raftstore: approximate split range evenly instead of against split size
  cmd/src/server.rs
  components/engine_panic/src/range_properties.rs
  components/engine_rocks/src/range_properties.rs
  components/engine_traits/src/range_properties.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/mod.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/coprocessor/split_check/table.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/worker/consistency_check.rs
  components/raftstore/src/store/worker/split_check.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/server/debug.rs
  tests/integrations/config/dynamic/split_check.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/server/kv_service.rs
Labels: size/XXL, status/LGT2, status/can-merge

#9502 *: Add more failpoints about transaction
  components/concurrency_manager/src/lib.rs
  components/raftstore/src/store/worker/pd.rs
  src/server/gc_worker/applied_lock_collector.rs
  src/storage/txn/actions/prewrite.rs
  tests/failpoints/cases/test_gc_worker.rs
Labels: component/bench-test, component/test, component/test-bench, sig/transaction, size/M, status/LGT2, status/can-merge

#9915 Delay iterator panic to data access
  cmd/Cargo.toml
  components/engine_rocks/src/engine_iterator.rs
  components/engine_traits_tests/src/iterator.rs
Labels: size/S, status/LGT2, status/can-merge

#9944 *: Bump version v4.0.12
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: size/S, status/LGT1

#9883 raftstore: import macros with the use syntax
  components/raftstore/src/coprocessor/config.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/error.rs
  components/raftstore/src/coprocessor/metrics.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/mod.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/coprocessor/split_check/table.rs
  components/raftstore/src/coprocessor/split_observer.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/lib.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/compaction_guard.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/metrics.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/hibernate_state.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/read_queue.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/replication_mode.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/cleanup_sst.rs
  components/raftstore/src/store/worker/compact.rs
  components/raftstore/src/store/worker/consistency_check.rs
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/raftstore/src/store/worker/read.rs
  components/raftstore/src/store/worker/region.rs
  components/raftstore/src/store/worker/split_check.rs
  components/raftstore/src/store/worker/split_config.rs
  components/raftstore/src/store/worker/split_controller.rs
Labels: size/L, status/LGT2, status/can-merge

#9948 cdc: limit scan speed
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/metrics.rs
  components/cdc/src/observer.rs
  components/cdc/src/service.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  src/config.rs
  src/storage/txn/store.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: cherry-pick-approved, component/CDC, priority/release-blocker, size/XL, status/LGT2, status/can-merge, type/bugfix

#9953 fix broken error display
  components/tikv_util/src/config.rs
Labels: size/XS, status/LGT2, status/can-merge

#9951 encryption: import macros with the use syntax
  components/encryption/export/examples/ecli.rs
  components/encryption/export/src/lib.rs
Labels: size/XS, status/LGT2, status/can-merge

#9954 *: rephrase quickstart section of README
  README.md
  doc/deploy.md
Labels: contribution, first-time-contributor, size/L, status/LGT2, status/can-merge

#9938 encryption: Ignore log record parse error caused by write failure before
  components/encryption/src/errors.rs
  components/encryption/src/file_dict_file.rs
  components/encryption/src/lib.rs
  components/error_code/src/encryption.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_encryption.rs
Labels: component/security, needs-cherry-pick-4.0, size/L, status/LGT2, status/can-merge

#9947 snap: use zstd to compress the snapshot
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
Labels: size/XS, status/LGT2, status/can-merge

#9923 txn: add more log info for fallback
  components/txn_types/src/lock.rs
  src/storage/txn/actions/prewrite.rs
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#9949 batch-system: import macros with the use syntax
  components/batch-system/src/batch.rs
  components/batch-system/src/config.rs
  components/batch-system/src/lib.rs
  components/batch-system/src/router.rs
  components/batch-system/src/test_runner.rs
Labels: size/S, status/LGT2, status/can-merge

#9950 cdc: import macros with the use syntax
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/lib.rs
  components/cdc/src/observer.rs
  components/cdc/src/rate_limiter.rs
  components/cdc/src/service.rs
Labels: size/S, status/LGT2, status/can-merge

#9952 engine_rocks: import macros with the use syntax
  components/engine_rocks/src/cf_options.rs
  components/engine_rocks/src/compact_listener.rs
  components/engine_rocks/src/config.rs
  components/engine_rocks/src/db_options.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/logger.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_rocks/src/range_properties.rs
  components/engine_rocks/src/raw_util.rs
  components/engine_rocks/src/rocks_metrics.rs
  components/engine_rocks/src/sst.rs
  components/engine_rocks/src/ttl_properties.rs
  components/engine_rocks/src/util.rs
Labels: size/S, status/LGT2, status/can-merge

#9974 bump 5.0.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: cherry-pick-approved, size/L, status/LGT2, status/can-merge

#8793 *: move server setups to a separate crate and lower its optimization level
  Cargo.lock
  Cargo.toml
  Makefile
  cmd/build.rs
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-ctl/build.rs
  cmd/tikv-ctl/src/main.rs
  cmd/tikv-server/Cargo.toml
  cmd/tikv-server/build.rs
  cmd/tikv-server/src/main.rs
  components/server/Cargo.toml
  components/server/src/dump.rs
  components/server/src/lib.rs
  components/server/src/server.rs
  components/server/src/setup.rs
  components/server/src/signal_handler.rs
  etc/cargo.config.dist
  scripts/run-cargo.sh
Labels: component/build-time, size/XL, status/LGT2, status/can-merge

#9975 txn: Test 1PC prewrite request partially fail in unit tests
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
Labels: sig/transaction, size/L, status/LGT2, status/can-merge

#9969 *: fix issue that some components depend on protobuf-codec unconditionally
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup/Cargo.toml
  components/batch-system/Cargo.toml
  components/cdc/src/delegate.rs
  components/cloud/aws/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/external_storage/Cargo.toml
  components/file_system/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/tidb_query_expr/Cargo.toml
  fuzz/targets/Cargo.toml
Labels: component/build, size/L, status/LGT2, status/can-merge

#9979 *: make PROST work again
  Cargo.toml
  components/server/Cargo.toml
Labels: size/M, status/LGT2, status/can-merge

#9934 suppress output when unwinding panic
  Cargo.lock
  components/engine_traits_tests/Cargo.toml
  components/engine_traits_tests/src/delete_range.rs
  components/engine_traits_tests/src/iterator.rs
  components/engine_traits_tests/src/scenario_writes.rs
  components/engine_traits_tests/src/write_batch.rs
Labels: size/M, status/LGT2, status/can-merge

#9977 statistics: collect FMSketch when processing index/mix-analyze tasks
  src/coprocessor/statistics/analyze.rs
Labels: size/S, status/LGT2, status/can-merge

#9892 *: fix mailbox leak
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/batch-system/Cargo.toml
  components/batch-system/src/router.rs
  components/cdc/Cargo.toml
  components/cdc/src/endpoint.rs
  components/cdc/src/rate_limiter.rs
  components/concurrency_manager/Cargo.toml
  components/encryption/Cargo.toml
  components/raftstore/Cargo.toml
  components/raftstore/src/errors.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/read.rs
  components/resolved_ts/Cargo.toml
  components/server/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/tikv_util/Cargo.toml
  src/server/raft_client.rs
  tests/Cargo.toml
Labels: sig/raft, size/L, status/LGT2, status/can-merge, type/bugfix

#9912 coprv2: RawStorage implementation and request dispatch
  components/coprocessor_plugin_api/src/plugin_api.rs
  components/coprocessor_plugin_api/src/storage_api.rs
  src/coprocessor_v2/endpoint.rs
  src/coprocessor_v2/mod.rs
  src/coprocessor_v2/raw_storage_impl.rs
  src/server/server.rs
  src/server/service/kv.rs
Labels: contribution, size/XL, status/LGT2, status/can-merge

#9649 rocksdb: increase default value of max-background-flushes to avoid write stall
  src/config.rs
Labels: sig/engine, size/L, status/LGT2, status/PTAL, status/can-merge

#9955 ensure the panic log is flushed
  components/tikv_util/src/lib.rs
  src/server/status_server/mod.rs
Labels: size/M, status/LGT2, status/can-merge

#9982 raftstore: remove unnecessary assert on merge check
  components/raftstore/src/store/peer.rs
Labels: needs-cherry-pick-5.0, sig/raft, size/S, status/LGT2, status/can-merge

#9978 tidb_query: fix panic when input of cast_string_as_time is invalid UTF-8 bytes
  components/tidb_query_expr/src/impl_cast.rs
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge

#9959 handle gc keys task more effectively
  components/backup/src/endpoint.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/compaction_guard.rs
  components/test_storage/src/sync_storage.rs
  metrics/grafana/tikv_details.json
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/storage/mvcc/reader/reader.rs
Labels: needs-cherry-pick-5.0, size/XL, status/LGT2, status/can-merge

#9988 Use RocksEngine in compaction filter
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/options.rs
  components/engine_traits/src/misc.rs
  components/engine_traits/src/options.rs
  src/server/gc_worker/compaction_filter.rs
Labels: size/L, status/LGT2, status/can-merge

#9997 *: clean up some dead code
  Cargo.lock
  Cargo.toml
  components/tikv_util/Cargo.toml
  components/tikv_util/src/lib.rs
  components/tikv_util/src/trace.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/endpoint.rs
Labels: size/XL, status/LGT2, status/can-merge

#9993 config: Remove obsolete items from the config template file.
  etc/config-template.toml
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge

#10000 support monitoring pending pd heartbeat
  components/pd_client/src/client.rs
  components/pd_client/src/metrics.rs
  components/pd_client/src/util.rs
  metrics/grafana/tikv_details.json
Labels: component/pd-client, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge

#9924 sst_importer: fix empty region after ingest lots of files
  components/engine_rocks/src/sst.rs
  components/engine_traits/src/sst.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/sst_importer/src/sst_importer.rs
Labels: component/backup-restore, component/pd-client, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge

#10014 Make the server::snap module generic over engines
  src/server/snap.rs
Labels: size/S, status/LGT2, status/can-merge

#9999 *: update deps
  Cargo.lock
  Cargo.toml
  tests/Cargo.toml
Labels: size/XL, status/LGT2, status/can-merge

#10006 grafana: update backup & import CPU to Thread CPU panels.
  metrics/grafana/tikv_details.json
Labels: needs-cherry-pick-5.0, size/XL, status/LGT2, status/can-merge

#9987 deregister region when resolver fails to build
  components/cdc/src/endpoint.rs
  components/cdc/src/errors.rs
  components/cdc/tests/failpoints/mod.rs
  components/cdc/tests/failpoints/test_endpoint.rs
Labels: cherry-pick-approved, component/CDC, contribution, size/L, status/LGT2, status/can-merge, type/bugfix

#9986 service: drop connections for raft/batch_raft when encountering store_id mismatching error
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/server/node.rs
  src/server/resolve.rs
  src/server/server.rs
  src/server/service/kv.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_server.rs
  tests/integrations/raftstore/test_bootstrap.rs
Labels: size/L, status/LGT2, status/can-merge

#9925 coprv2: hot-reloading of plugins
  Cargo.lock
  Cargo.toml
  src/coprocessor_v2/plugin_registry.rs
Labels: contribution, size/XL, status/LGT2, status/can-merge

#10029 txn: don't pass latches in when gen_lock()
  src/storage/txn/commands/macros.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/latch.rs
  src/storage/txn/scheduler.rs
Labels: sig/transaction, size/L, status/LGT2, status/can-merge, type/enhancement

#10039 tikv_util: fix compile errors on macOS
  components/tikv_util/src/sys/cpu_time.rs
Labels: size/XS, status/LGT2, status/can-merge, type/bugfix

#10041 *: upgrade kvproto
  Cargo.lock
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/errors.rs
  components/cdc/src/observer.rs
  components/external_storage/src/lib.rs
  components/resolved_ts/src/errors.rs
  components/resolved_ts/src/scanner.rs
  src/server/service/kv.rs
  tests/integrations/server/mod.rs
Labels: component/CDC, size/M, status/LGT2, status/can-merge

#10034 *: update deps
  Cargo.lock
  Cargo.toml
  cmd/Cargo.toml
  components/batch-system/Cargo.toml
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/encryption/Cargo.toml
  components/raftstore/Cargo.toml
  components/raftstore/src/errors.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/read.rs
  components/resolved_ts/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/tikv_util/Cargo.toml
  src/server/raft_client.rs
  tests/Cargo.toml
Labels: cherry-pick-approved, size/XL, status/LGT2, status/can-merge, type/bugfix

#10031 cdc: skip seek old value for Put if cache returns None
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/lib.rs
  components/cdc/src/metrics.rs
  components/cdc/src/observer.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/tikv_util/src/lru.rs
  components/txn_types/src/types.rs
  components/txn_types/src/write.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/prewrite.rs
Labels: cherry-pick-approved, component/CDC, needs-cherry-pick-5.0, size/XXL, status/LGT2, status/can-merge, type/bugfix

#10010 Validate `config-template.toml`
  components/pd_client/src/config.rs
  etc/config-template.toml
  src/config.rs
Labels: contribution, size/L, status/LGT2, status/can-merge

#10051 contribution: Clean up outdated information about bot
  CONTRIBUTING.md
Labels: size/XS, status/LGT2, status/can-merge

#10026 server: Add KvEngine typarams to resolve
  src/server/resolve.rs
  tests/integrations/server/raft_client.rs
Labels: size/M, status/LGT2, status/can-merge

#9685 batch-system, raftstore: apply high-latency operations in low-priority thread pool
  components/batch-system/src/batch.rs
  components/batch-system/src/config.rs
  components/batch-system/src/fsm.rs
  components/batch-system/src/lib.rs
  components/batch-system/src/test_runner.rs
  components/batch-system/tests/cases/batch.rs
  components/batch-system/tests/cases/router.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
Labels: needs-cherry-pick-5.0, sig/raft, size/XL, status/LGT2, status/can-merge

#9347 *: support handling stale read request on replica
  Cargo.lock
  Cargo.toml
  components/cdc/src/delegate.rs
  components/error_code/src/raftstore.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/read.rs
  components/resolved_ts/Cargo.toml
  components/resolved_ts/src/cmd.rs
  components/tikv_kv/src/lib.rs
  components/txn_types/Cargo.toml
  components/txn_types/src/lib.rs
  components/txn_types/src/types.rs
  src/coprocessor/endpoint.rs
  src/server/raftkv.rs
  src/storage/mod.rs
Labels: size/XL, status/LGT2, status/can-merge

#10028 cdc: fix deregister region & connection abortion
  components/cdc/src/endpoint.rs
  components/cdc/tests/failpoints/mod.rs
  components/cdc/tests/failpoints/test_endpoint.rs
Labels: contribution, size/L, status/LGT2, status/can-merge

#9772 resolved_ts: add endpoint
  Cargo.lock
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/observer.rs
  components/cdc/tests/failpoints/test_observe.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/resolved_ts/Cargo.toml
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/lib.rs
  components/resolved_ts/src/metrics.rs
  components/resolved_ts/src/observer.rs
  components/resolved_ts/src/resolver.rs
  components/resolved_ts/src/scanner.rs
  components/resolved_ts/src/sinker.rs
  components/resolved_ts/tests/integrations/mod.rs
  components/resolved_ts/tests/mod.rs
  components/server/Cargo.toml
  components/server/src/server.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: size/XXL, status/LGT2, status/can-merge

#10013 tikv: Make RaftKv generic over engines
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/rocksdb_engine.rs
  src/server/node.rs
  src/server/raftkv.rs
  tests/benches/misc/raftkv/mod.rs
Labels: size/L, status/LGT2, status/can-merge

#9648 copr: support enum pushdown
  Cargo.lock
  components/tidb_query_aggr/src/impl_avg.rs
  components/tidb_query_aggr/src/impl_count.rs
  components/tidb_query_aggr/src/impl_first.rs
  components/tidb_query_aggr/src/impl_max_min.rs
  components/tidb_query_aggr/src/impl_sum.rs
  components/tidb_query_aggr/src/impl_variance.rs
  components/tidb_query_datatype/src/codec/chunk/column.rs
  components/tidb_query_datatype/src/codec/convert.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_enum.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_datatype/src/codec/data_type/vector.rs
  components/tidb_query_datatype/src/codec/datum_codec.rs
  components/tidb_query_datatype/src/codec/mysql/enums.rs
  components/tidb_query_datatype/src/codec/mysql/mod.rs
  components/tidb_query_datatype/src/def/eval_type.rs
  components/tidb_query_datatype/src/def/field_type.rs
  components/tidb_query_executors/src/util/scan_executor.rs
  components/tidb_query_expr/src/impl_cast.rs
  components/tidb_query_expr/src/types/expr_builder.rs
  components/tidb_query_expr/src/types/function.rs
Labels: contribution, first-time-contributor, sig/coprocessor, size/XXL, status/LGT2, status/can-merge

#10071 *: Bump version v5.0.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: cherry-pick-approved, size/S, status/LGT2, status/can-merge

#10074 copr: fix unsound unsafe transmute
  components/tidb_query_aggr/src/impl_avg.rs
  components/tidb_query_aggr/src/impl_count.rs
  components/tidb_query_aggr/src/impl_first.rs
  components/tidb_query_aggr/src/impl_max_min.rs
  components/tidb_query_aggr/src/impl_sum.rs
  components/tidb_query_aggr/src/impl_variance.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_enum.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_datatype/src/codec/mysql/enums.rs
  components/tidb_query_expr/src/impl_cast.rs
Labels: size/L, status/LGT2, status/can-merge

#10067 *: Clean up verkv
  Cargo.lock
  components/engine_traits/src/cf_defs.rs
  components/raftstore/src/store/compaction_guard.rs
  src/config.rs
  src/server/metrics.rs
  src/server/service/kv.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/server/mod.rs
Labels: size/XL, status/LGT2, status/can-merge

#10063 tidb_query: use macro_rules instead of declarative macros
  components/tidb_query_aggr/src/impl_max_min.rs
  components/tidb_query_datatype/src/codec/batch/lazy_column.rs
  components/tidb_query_datatype/src/codec/collation/collator/mod.rs
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_datatype/src/codec/data_type/scalar.rs
  components/tidb_query_datatype/src/codec/data_type/vector.rs
  components/tidb_query_datatype/src/lib.rs
  components/tidb_query_executors/src/fast_hash_aggr_executor.rs
  components/tidb_query_executors/src/lib.rs
  components/tidb_query_executors/src/selection_executor.rs
  components/tidb_query_executors/src/simple_aggr_executor.rs
  components/tidb_query_executors/src/stream_aggr_executor.rs
  components/tidb_query_executors/src/util/hash_aggr_helper.rs
  components/tidb_query_expr/src/lib.rs
  components/tidb_query_expr/src/types/expr_builder.rs
  src/coprocessor/statistics/analyze.rs
Labels: sig/coprocessor, size/L, status/LGT2, status/can-merge

#9968 *: fix issue that some components depend on protobuf-codec unconditionally
  Cargo.toml
  cmd/Cargo.toml
  components/backup/Cargo.toml
  components/batch-system/Cargo.toml
  components/cdc/src/delegate.rs
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/external_storage/Cargo.toml
  components/file_system/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/tidb_query_expr/Cargo.toml
Labels: cherry-pick-approved, component/build, priority/release-blocker, size/M, status/LGT2, status/can-merge, type/cherry-pick

#10048 copr: fix cast real, decimal to time bug on overflow
  components/tidb_query_datatype/src/codec/mysql/duration.rs
  components/tidb_query_expr/src/impl_cast.rs
Labels: contribution, size/L, status/LGT2, status/can-merge

#9385 raftstore: forward the replica's safe timestamp
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/read.rs
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/resolver.rs
  components/resolved_ts/tests/mod.rs
  src/server/service/kv.rs
Labels: size/XL, status/LGT2, status/can-merge

#10080 copr: support cast enum to any type
  components/tidb_query_datatype/src/codec/chunk/column.rs
  components/tidb_query_datatype/src/codec/mysql/enums.rs
  components/tidb_query_expr/src/impl_cast.rs
Labels: contribution, size/XL, status/LGT2, status/can-merge

#10081 raftstore: faster lookup for admin epoch checker
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
Labels: size/M, status/LGT2, status/can-merge

#10083 raftstore: rename `renew_lease_time` to `propose_time`
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/read_queue.rs
Labels: size/M, status/LGT2, status/can-merge

#10075 coprv2: plugin version checks
  Cargo.lock
  components/coprocessor_plugin_api/Cargo.toml
  components/coprocessor_plugin_api/build.rs
  components/coprocessor_plugin_api/src/util.rs
  src/coprocessor_v2/plugin_registry.rs
Labels: contribution, size/L, status/LGT2, status/can-merge

#10072 cdc, txn: improve CDC old value cache hit ratio in pessimistic txn
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/metrics.rs
  components/cdc/src/observer.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  components/txn_types/src/types.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_storage.rs
Labels: component/CDC, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XXL, status/LGT2, status/can-merge, type/bugfix

#10057 statistics: introduce full sampling collect tech
  Cargo.lock
  src/coprocessor/statistics/analyze.rs
  tests/integrations/coprocessor/test_analyze.rs
Labels: contribution, size/XL, status/LGT2, status/can-merge

#10090 coprv2: check plugin version on coprocessor requests
  Cargo.lock
  Cargo.toml
  components/coprocessor_plugin_api/src/plugin_api.rs
  components/coprocessor_plugin_api/src/util.rs
  components/test_coprocessor_plugin/example_plugin/src/lib.rs
  src/coprocessor_v2/endpoint.rs
  src/coprocessor_v2/plugin_registry.rs
Labels: contribution, size/L, status/LGT2, status/can-merge

#10096 Replace some RocksEngine with KvEngine type parameters in tikv::server
  components/engine_traits/src/engine.rs
  components/test_raftstore/src/server.rs
  src/server/raft_client.rs
  src/server/server.rs
  src/server/transport.rs
  tests/integrations/server/raft_client.rs
Labels: size/L, status/LGT2, status/can-merge

#9963 encryption: Ignore log record parse error caused by write failure before (#9938)
  components/encryption/src/errors.rs
  components/encryption/src/file_dict_file.rs
  components/encryption/src/lib.rs
  components/error_code/src/encryption.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_encryption.rs
Labels: cherry-pick-approved, component/security, size/L, status/LGT2, status/can-merge, type/cherry-pick
