Repository tikv/tikv, pull requests merged in 2021-05, with the labels that each got.

#10112 coprv2: enable tests for plugins
  Cargo.lock
  Cargo.toml
  build.rs
  src/coprocessor_v2/plugin_registry.rs
Labels: contribution, sig/coprocessor, size/XL, status/LGT2, status/can-merge

#10105 Replace RocksEngine with KvEngine in lock manager
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/mod.rs
Labels: size/S, status/LGT2, status/can-merge

#10084 server: add stale read test infra and test cases
  Cargo.lock
  components/cdc/tests/failpoints/test_resolve.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/observer.rs
  components/resolved_ts/src/resolver.rs
  components/resolved_ts/src/sinker.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/common-test.toml
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: component/test-bench, size/XL, status/LGT2, status/can-merge

#10099 raftstore: remove applying snapshot count
  components/raftstore/src/store/fsm/store.rs
Labels: size/S, status/LGT2, status/can-merge, type/bugfix

#10116 resolved_ts: skip default cf cmd with invalid ts
  components/resolved_ts/src/cmd.rs
  components/resolved_ts/tests/integrations/mod.rs
Labels: size/S, status/LGT2, status/can-merge

#10025 importer: auto split when import end
  components/encryption/export/src/lib.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/server/src/server.rs
  components/sst_importer/src/import_mode.rs
  components/sst_importer/src/sst_importer.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/import/sst_service.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/server/kv_service.rs
Labels: component/backup-restore, needs-cherry-pick-5.0, size/XL, status/LGT2, status/can-merge

#10100 *: replace all remaining `quick-error` with `thiserror`
  Cargo.lock
  Cargo.toml
  components/backup/src/errors.rs
  components/engine_traits/src/errors.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/coprocessor/error.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/compact.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/raftstore/src/store/worker/read.rs
  components/resolved_ts/src/errors.rs
  components/sst_importer/Cargo.toml
  components/sst_importer/src/errors.rs
  components/sst_importer/src/lib.rs
  components/sst_importer/src/sst_importer.rs
  components/tidb_query_common/src/error.rs
  components/tikv_kv/Cargo.toml
  components/tikv_kv/src/lib.rs
  components/txn_types/src/lib.rs
  src/lib.rs
  src/read_pool.rs
  src/server/debug.rs
  src/server/errors.rs
  src/server/raftkv.rs
  src/server/service/kv.rs
  src/storage/errors.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/txn/mod.rs
Labels: contribution, size/XXL, status/LGT2, status/can-merge

#10001 allow to cancel snapshot generating if necessary
  Cargo.lock
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/region.rs
  components/test_raftstore/Cargo.toml
  metrics/grafana/tikv_details.json
  tests/failpoints/cases/test_snap.rs
  tests/integrations/raftstore/test_snap.rs
Labels: size/XL, status/LGT2, status/can-merge

#10085 server/lock_manager: Support reporting the full wait chain when deadlock is detected
  Cargo.lock
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/service/kv.rs
  src/storage/errors.rs
  src/storage/lock_manager.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/scheduler.rs
  tests/benches/deadlock_detector/mod.rs
  tests/integrations/server/lock_manager.rs
  tests/integrations/server/mod.rs
Labels: sig/transaction, size/XXL, status/LGT2, status/can-merge

#10126 resolved_ts: delay matching default cf
  Cargo.lock
  components/batch-system/benches/batch-system.rs
  components/resolved_ts/Cargo.toml
  components/resolved_ts/src/cmd.rs
  components/resolved_ts/tests/integrations/mod.rs
Labels: size/M, status/LGT2, status/can-merge

#9983 cdc: limit scan speed
  Cargo.lock
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/metrics.rs
  components/cdc/src/observer.rs
  components/cdc/src/service.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  src/config.rs
  src/storage/txn/store.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: cherry-pick-approved, component/CDC, size/XL, status/LGT2, status/can-merge, type/bugfix, type/cherry-pick

#10101 copr: support group by enum column
  components/tidb_query_datatype/src/codec/data_type/scalar.rs
  components/tidb_query_datatype/src/codec/mysql/enums.rs
  components/tidb_query_executors/src/fast_hash_aggr_executor.rs
Labels: contribution, size/L, status/LGT2, status/can-merge

#10128 properly canonicalize non-existing path
  components/tikv_util/src/config.rs
Labels: size/L, status/LGT2, status/can-merge

#10035 *: update deps
  Cargo.lock
Labels: cherry-pick-approved, size/M, status/LGT2, status/can-merge, type/bugfix

#10102 config-template: add option 'raftdb.wal-dir'.
  components/server/src/dump.rs
  components/server/src/server.rs
  etc/config-template.toml
  src/config.rs
Labels: size/L, status/LGT2, status/can-merge

#10108 cdc: limit scan speed
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/errors.rs
  components/cdc/src/lib.rs
  components/cdc/src/metrics.rs
  components/cdc/src/observer.rs
  components/cdc/src/rate_limiter.rs
  components/cdc/src/service.rs
  components/cdc/tests/failpoints/test_endpoint.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  src/config.rs
  src/storage/txn/store.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/CDC, size/XXL, status/LGT2, status/can-merge, type/bugfix

#10061 raftstore: support to switch in raft-engine and raft-db
  Cargo.lock
  components/raft_log_engine/src/engine.rs
  components/server/src/dump.rs
  components/server/src/lib.rs
  components/server/src/raft_engine_switch.rs
  components/server/src/server.rs
  src/config.rs
Labels: size/XXL, status/LGT2, status/can-merge

#10141 cdc: skip seek old value for Put if cache returns None #10031
  Cargo.lock
  Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/lib.rs
  components/cdc/src/observer.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/txn_types/src/types.rs
  src/lib.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
Labels: cherry-pick-approved, size/XXL, status/LGT2, status/can-merge, type/cherry-pick

#10134 cdc: reduce scan batch bytes
  components/cdc/src/endpoint.rs
Labels: cherry-pick-approved, component/CDC, size/XS, status/LGT2, status/can-merge, type/bugfix, type/cherry-pick

#10122 raftstore: support report hotspot in store heartbeat
  Cargo.lock
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/src/pd.rs
  components/test_raftstore/src/server.rs
  components/tikv_util/src/yatp_pool/mod.rs
  src/import/sst_service.rs
  tests/integrations/raftstore/test_stats.rs
Labels: size/L, status/LGT2, status/can-merge

#10145 cdc: back pressure scan speed (#10142)
  Cargo.lock
  components/cdc/Cargo.toml
  components/cdc/src/channel.rs
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/errors.rs
  components/cdc/src/lib.rs
  components/cdc/src/metrics.rs
  components/cdc/src/observer.rs
  components/cdc/src/service.rs
  components/cdc/tests/integrations/test_cdc.rs
Labels: cherry-pick-approved, component/CDC, size/XXL, status/LGT2, status/can-merge, type/bugfix

#10161 cdc: move old value code to a separate file
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/lib.rs
  components/cdc/src/observer.rs
  components/cdc/src/old_value.rs
Labels: component/CDC, size/XXL, status/LGT2, status/can-merge

#10132 external_storage: add timeout for s3 storage
  Cargo.lock
  components/external_storage/Cargo.toml
  components/external_storage/src/lib.rs
  components/external_storage/src/s3.rs
Labels: component/backup-restore, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge

#10059 snapshot generating and receiving share I/O limiter fairly
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/server/snap.rs
  tests/failpoints/cases/test_snap.rs
  tests/integrations/raftstore/test_snap.rs
Labels: size/L, status/LGT2, status/can-merge

#10138 raftstore: reduce cost of observing applied cmd
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/observer.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/mod.rs
  components/resolved_ts/src/cmd.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/observer.rs
  components/resolved_ts/src/scanner.rs
  components/resolved_ts/src/sinker.rs
Labels: size/XL, status/LGT2, status/can-merge

#10095 resolved_ts: use tracked index update region read progress
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/external_storage/src/s3.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/util.rs
  components/resolved_ts/src/cmd.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/resolver.rs
  components/resolved_ts/src/scanner.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: size/XL, status/LGT2, status/can-merge, type/bugfix

#10178 Remove TODO of create_key_file
  Cargo.lock
  components/encryption/Cargo.toml
  components/encryption/src/manager/mod.rs
Labels: size/XS, status/LGT2, status/can-merge

#10179 server: log "batch commands fail" error
  src/server/service/kv.rs
Labels: size/XS, status/LGT2, status/can-merge

#10098 storage: optimize strategy of batch commands
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/sync_storage.rs
  metrics/grafana/tikv_details.json
  src/read_pool.rs
  src/server/metrics.rs
  src/server/server.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  src/storage/mod.rs
Labels: component/server, needs-cherry-pick-5.0, size/XXL, status/LGT2, status/can-merge

#10180 copr: support enum type for in function
  components/tidb_query_expr/src/impl_compare_in.rs
Labels: contribution, size/L, status/LGT2, status/can-merge

#10187 cdc, mvcc: always read old value when cdc requires
  components/cdc/tests/integrations/test_cdc.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
Labels: cherry-pick-approved, component/CDC, size/L, status/LGT2, status/can-merge, type/bugfix

#10190 resolved_ts: fix `tracked_index` initialization
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/resolver.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: size/L, status/LGT2, status/can-merge

#10107 Support ingest multiple files in one raft command
  components/sst_importer/src/import_mode.rs
  src/import/sst_service.rs
  tests/failpoints/cases/test_import_service.rs
  tests/integrations/import/test_sst_service.rs
  tests/integrations/import/util.rs
Labels: size/XL, status/LGT2, status/can-merge

#10200 cdc: deprecate verbose log
  components/cdc/src/endpoint.rs
Labels: component/CDC, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, type/bugfix

#10201 cdc: deprecate verbose log (#10200)
  components/cdc/src/endpoint.rs
Labels: cherry-pick-approved, component/CDC, size/XS, status/LGT2, status/can-merge, type/bugfix, type/cherry-pick

#10167 copr: fix Max/Min bug when comparing signed and unsigned int64
  components/tidb_query_aggr/src/impl_max_min.rs
Labels: size/L, status/LGT2, status/can-merge

#10191 storage: fix the integration test of BR
  components/cloud/aws/src/s3.rs
  components/cloud/gcp/src/gcs.rs
Labels: component/backup-restore, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge

#10207 cdc: fix deregister panic when old value is not enabled (#10206)
  Cargo.lock
  components/cdc/Cargo.toml
  components/cdc/src/endpoint.rs
  components/raftstore/src/store/worker/read.rs
Labels: cherry-pick-approved, component/CDC, size/M, status/LGT2, status/can-merge, type/bugfix, type/cherry-pick

#10206 cdc: fix deregister panic when old value is not enabled
  Cargo.lock
  components/cdc/Cargo.toml
  components/cdc/src/endpoint.rs
  components/external_storage/export/src/export.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/read.rs
Labels: component/CDC, needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge, type/bugfix

#10164 *: Add `abort-on-panic` config
  cmd/tikv-ctl/src/main.rs
  components/engine_rocks/src/raw_util.rs
  components/server/src/server.rs
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge

#10188 storage: check deadline before executing scheduler command
  components/error_code/src/storage.rs
  src/storage/errors.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_storage.rs
Labels: size/L, status/LGT2, status/can-merge

#10104 *: solve race condition with safe_ts and apply_index
  components/raftstore/src/store/util.rs
  components/resolved_ts/src/advance.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: size/L, status/LGT2, status/can-merge

#10218 always put engine info log into data dir
  components/server/src/setup.rs
Labels: size/L, status/LGT2, status/can-merge

#10181 config-template: add `server.max-grpc-send-msg-len` to template
  etc/config-template.toml
Labels: size/XS, status/LGT2, status/can-merge

#10121 *: make configuration of snap to be dynamically modified
  components/raftstore/src/store/snap.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  src/config.rs
  src/server/config.rs
  src/server/mod.rs
  src/server/proxy.rs
  src/server/server.rs
  src/server/snap.rs
  tests/integrations/config/dynamic/mod.rs
  tests/integrations/config/dynamic/snap.rs
Labels: size/XL, status/LGT2, status/can-merge

#10233 *: bump 5.1.0-alpha
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: size/XL, status/LGT2, status/can-merge

#10223 Cleanup IO rate limiter related code
  Cargo.lock
  components/backup/src/endpoint.rs
  components/engine_panic/src/cf_options.rs
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/cf_options.rs
  components/engine_rocks/src/event_listener.rs
  components/engine_rocks/src/file_system.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/rocks_metrics.rs
  components/engine_rocks/src/util.rs
  components/engine_traits/src/cf_options.rs
  components/engine_traits/src/file_system.rs
  components/engine_traits/src/misc.rs
  components/file_system/Cargo.toml
  components/file_system/src/file.rs
  components/file_system/src/iosnoop/biosnoop.c
  components/file_system/src/lib.rs
  components/file_system/src/metrics.rs
  components/file_system/src/metrics_manager.rs
  components/file_system/src/rate_limiter.rs
  components/raftstore/src/store/snap.rs
  components/server/src/server.rs
  components/sst_importer/src/sst_importer.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  components/tikv_kv/Cargo.toml
  components/tikv_kv/src/rocksdb_engine.rs
  components/tikv_util/src/worker/pool.rs
  src/server/gc_worker/compaction_filter.rs
  src/storage/kv/test_engine_builder.rs
  src/storage/mod.rs
  tests/integrations/raftstore/test_snap.rs
Labels: size/XL, status/LGT2, status/can-merge

#10159 tidb_query: fix read empty value for the clustered PK column in the 2nd index with latin1_bin
  components/tidb_query_datatype/src/def/field_type.rs
  components/tidb_query_executors/src/index_scan_executor.rs
Labels: contribution, needs-cherry-pick-5.0, sig/coprocessor, size/M, status/LGT2, status/can-merge

#10185 Add memory trace macros
  Cargo.lock
  Cargo.toml
  components/memory_trace_macros/Cargo.toml
  components/memory_trace_macros/src/lib.rs
  components/tikv_alloc/Cargo.toml
  components/tikv_alloc/src/lib.rs
  components/tikv_alloc/src/trace.rs
  scripts/check-bins.py
Labels: size/XL, status/LGT2, status/can-merge

#10198 *: support parsing ReadableSize in scientific notations
  cmd/tikv-ctl/src/main.rs
  components/tikv_util/src/config.rs
  components/tikv_util/src/sys/mod.rs
  etc/config-template.toml
  src/config.rs
  src/server/service/diagnostics/sys.rs
Labels: size/L, status/LGT2, status/can-merge

#9425 external_storage: support virtual-host style for s3
  Cargo.lock
  Cargo.toml
  components/cloud/aws/src/s3.rs
Labels: component/backup-restore, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge

#10234 *: update deps
  Cargo.lock
  Cargo.toml
Labels: size/XS, status/LGT2, status/can-merge

#10227 config: add memory-usage-limit
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: size/L, status/LGT2, status/can-merge

#10231 refresh global memory usage periodically
  components/server/src/server.rs
  components/tikv_util/src/sys/mod.rs
  src/config.rs
  src/server/config.rs
  src/server/server.rs
  src/server/service/diagnostics/mod.rs
  src/server/service/diagnostics/sys.rs
  src/storage/config.rs
Labels: size/L, status/LGT2, status/can-merge

#10197 cdc, mvcc: always read old value when cdc requires
  components/cdc/src/delegate.rs
  components/cdc/src/service.rs
  components/cdc/tests/integrations/test_cdc.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/prewrite.rs
Labels: component/CDC, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge, type/bugfix

#10133 cdc: reduce scan batch bytes
  components/cdc/src/endpoint.rs
Labels: cherry-pick-approved, component/CDC, size/XS, status/LGT2, status/can-merge, type/bugfix, type/cherry-pick

#10250 *: fix build when using MacOS
  components/tikv_util/src/sys/mod.rs
Labels: component/build, size/XS, status/LGT2, status/can-merge

#10235 github: add release-note description format to pull request template
  .github/pull_request_template.md
Labels: contribution, first-time-contributor, size/XS, status/LGT2, status/can-merge

#10254 Bump v4.0.13
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: do-not-merge/cherry-pick-not-approved, size/S

#10253 raftstore: fix not register split when apply busy
  components/raftstore/src/store/fsm/peer.rs
Labels: needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge

#10194 support raft engine in tikv-ctl
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-ctl/src/main.rs
  src/lib.rs
  src/server/debug.rs
Labels: size/XXL, status/LGT2, status/can-merge

#10115 storage: optimize strategy of batch commands
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/sync_storage.rs
  metrics/grafana/tikv_details.json
  src/read_pool.rs
  src/server/metrics.rs
  src/server/server.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  src/storage/mod.rs
Labels: cherry-pick-approved, component/storage, size/XXL, status/LGT2, status/can-merge, type/cherry-pick

#10220 batch-system,raftstore: add router memory trace
  Cargo.lock
  components/batch-system/Cargo.toml
  components/batch-system/benches/batch-system.rs
  components/batch-system/benches/router.rs
  components/batch-system/src/batch.rs
  components/batch-system/src/fsm.rs
  components/batch-system/src/mailbox.rs
  components/batch-system/src/router.rs
  components/batch-system/tests/cases/batch.rs
  components/batch-system/tests/cases/router.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/memory.rs
  components/raftstore/src/store/mod.rs
Labels: size/XL, status/LGT2, status/can-merge

#10236 update protobuf and raft
  Cargo.lock
  Cargo.toml
  components/error_code/src/raft.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/lib.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/util.rs
  src/server/debug.rs
  src/server/raftkv.rs
  tests/benches/misc/serialization/bench_serialization.rs
  tests/integrations/raftstore/test_hibernate.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/server/raft_client.rs
Labels: size/L, status/LGT2, status/can-merge

#10229 copr_v2: Enhance raw coprocessor protocol and API
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/gcp/Cargo.toml
  components/coprocessor_plugin_api/src/errors.rs
  components/coprocessor_plugin_api/src/lib.rs
  components/coprocessor_plugin_api/src/plugin_api.rs
  components/coprocessor_plugin_api/src/storage_api.rs
  components/coprocessor_plugin_api/src/util.rs
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/into_other/Cargo.toml
  components/keys/Cargo.toml
  components/pd_client/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/server/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_coprocessor/src/fixture.rs
  components/test_coprocessor/src/util.rs
  components/test_coprocessor_plugin/example_plugin/src/lib.rs
  components/test_pd/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/server.rs
  components/test_sst_importer/Cargo.toml
  components/test_storage/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
  components/txn_types/Cargo.toml
  src/coprocessor/endpoint.rs
  src/coprocessor/tracker.rs
  src/coprocessor_v2/endpoint.rs
  src/coprocessor_v2/plugin_registry.rs
  src/coprocessor_v2/raw_storage_impl.rs
  src/server/metrics.rs
  src/server/server.rs
  src/server/service/kv.rs
  tests/Cargo.toml
  tests/integrations/server/mod.rs
Labels: sig/coprocessor, size/XXL, status/LGT2, status/can-merge, type/enhancement

#10238 cloud: fix missing region config for aws
  components/cloud/aws/src/s3.rs
Labels: component/storage, size/XS, status/LGT2, status/PTAL, status/can-merge, type/bugfix

#10199 raftstore: enable hibernate regions by default
  components/raftstore/src/store/config.rs
Labels: needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge

#10222 *: check request deadline before propose
  components/error_code/src/raftstore.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/tikv_kv/src/lib.rs
  src/server/raftkv.rs
  src/storage/errors.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_storage.rs
Labels: size/L, status/LGT2, status/can-merge
