Repository tikv/tikv, pull requests merged in 2021-06, with the labels that each got.

#10152 raftstore: Add hibernate region metrics
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/hibernate_state.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/mod.rs
  metrics/grafana/tikv_details.json
Labels: cherry-pick-approved, needs-cherry-pick-5.0, size/L, status/LGT2, status/PTAL, status/can-merge

#10277 tests: fix flaky test_read_index_retry_lock_checking
  tests/integrations/raftstore/test_replica_read.rs
Labels: component/test-bench, needs-cherry-pick-5.0, release-note-none, size/XS, status/LGT2, status/can-merge

#10271 cdc: stable cdc old value test
  components/cdc/src/delegate.rs
  components/cdc/tests/integrations/test_cdc.rs
Labels: component/CDC, needs-cherry-pick-4.0, release-note-none, size/M, status/LGT2, status/can-merge, type/bugfix

#10286 cdc: fix missing ResolvedTs import in prost-codec (#10285)
  components/cdc/src/endpoint.rs
Labels: cherry-pick-approved, component/CDC, sig/migrate, size/XS, status/LGT2, status/can-merge

#10251 raftstore: add mem trace
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/memory.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/read_queue.rs
  components/tikv_alloc/src/trace.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/memory.rs
Labels: size/XL, status/LGT2, status/can-merge

#10272 engine: default set soft_pending_compaction_bytes_limit to 192GiB
  src/config.rs
Labels: release-note, size/S, status/LGT2, status/can-merge

#10244 resolved_ts: reduce retrying of registering observe region
  components/cdc/src/observer.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/observer.rs
  components/resolved_ts/src/scanner.rs
Labels: size/L, status/LGT2, status/can-merge

#10280 analyze: correct the offset used in sampling
  src/coprocessor/statistics/analyze.rs
  tests/integrations/coprocessor/test_analyze.rs
Labels: contribution, release-note-none, size/M, status/LGT2, status/can-merge

#10224 resolevd_ts: stop serving stale read while applying snapshot
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/read.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: size/L, status/LGT2, status/can-merge

#10285 cdc: fix missing ResolvedTs import in prost-codec
  components/cdc/src/endpoint.rs
Labels: component/CDC, needs-cherry-pick-4.0, needs-cherry-pick-5.0, release-note-none, sig/migrate, size/XS, status/LGT2, status/can-merge

#10240 Bump grpcio version to 0.9.0
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup/Cargo.toml
  components/backup/src/service.rs
  components/cdc/Cargo.toml
  components/cdc/src/service.rs
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/gcp/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/into_other/Cargo.toml
  components/keys/Cargo.toml
  components/pd_client/Cargo.toml
  components/pd_client/src/util.rs
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/security/Cargo.toml
  components/security/src/lib.rs
  components/server/Cargo.toml
  components/sst_importer/Cargo.toml
  components/sst_importer/src/service.rs
  components/test_backup/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_pd/src/server.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/pd.rs
  components/test_sst_importer/Cargo.toml
  components/test_storage/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
  components/txn_types/Cargo.toml
  src/server/lock_manager/deadlock.rs
  src/server/raft_client.rs
  src/server/service/debug.rs
  src/server/service/diagnostics/mod.rs
  src/server/service/kv.rs
  src/server/snap.rs
  tests/Cargo.toml
  tests/integrations/pd/test_rpc_client.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/server/mod.rs
  tests/integrations/server/raft_client.rs
Labels: contribution, first-time-contributor, size/XXL, status/LGT2, status/can-merge

#10258 resolved_ts: separate resolevd_ts config from cdc config
  Cargo.lock
  components/resolved_ts/Cargo.toml
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/lib.rs
  components/resolved_ts/src/metrics.rs
  components/resolved_ts/tests/mod.rs
  components/server/src/server.rs
  components/test_raftstore/src/common-test.toml
  components/test_raftstore/src/server.rs
  src/config.rs
  tests/failpoints/cases/test_replica_stale_read.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: size/XL, status/LGT2, status/can-merge

#10295 engine: fix engine metrics not resetting
  components/file_system/src/metrics_manager.rs
  components/server/src/server.rs
Labels: release-note-none, size/S, status/LGT2, status/can-merge

#10215 resolved_ts: reset `resolved_ts` after region merge
  components/cdc/src/endpoint.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/read.rs
  components/resolved_ts/src/cmd.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/observer.rs
  components/resolved_ts/src/resolver.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: size/XL, status/LGT2, status/can-merge

#9197 Implement IO Rate Limiter
  Cargo.lock
  components/backup/src/endpoint.rs
  components/engine_rocks/src/file_system.rs
  components/file_system/Cargo.toml
  components/file_system/src/file.rs
  components/file_system/src/lib.rs
  components/file_system/src/metrics.rs
  components/file_system/src/metrics_manager.rs
  components/file_system/src/rate_limiter.rs
  components/server/src/server.rs
  components/test_raftstore/src/cluster.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/math.rs
  etc/config-template.toml
  metrics/grafana/tikv_details.json
  src/storage/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: release-note, sig/engine, size/XXL, status/LGT2

#10290 storage: fix that some latches of expired commands are not cleaned
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_coprocessor.rs
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#10298 raftstore: add the RegionNotInitialized error
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/gcp/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/into_other/Cargo.toml
  components/keys/Cargo.toml
  components/pd_client/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/raftstore/src/errors.rs
  components/resolved_ts/Cargo.toml
  components/server/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_sst_importer/Cargo.toml
  components/test_storage/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
  components/txn_types/Cargo.toml
  tests/Cargo.toml
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#10245 apply: further reduce cmd clone of cmd observer
  components/cdc/src/endpoint.rs
  components/cdc/src/observer.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/resolved_ts/src/cmd.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/observer.rs
  components/test_raftstore/src/server.rs
  src/server/gc_worker/applied_lock_collector.rs
Labels: size/XXL, status/LGT2, status/can-merge

#10155 statistics: resource metering
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/gcp/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/into_other/Cargo.toml
  components/keys/Cargo.toml
  components/pd_client/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/resource_metering/Cargo.toml
  components/resource_metering/src/cpu/collector/dummy.rs
  components/resource_metering/src/cpu/collector/linux.rs
  components/resource_metering/src/cpu/collector/mod.rs
  components/resource_metering/src/cpu/future_ext.rs
  components/resource_metering/src/cpu/mod.rs
  components/resource_metering/src/cpu/recorder/dummy.rs
  components/resource_metering/src/cpu/recorder/linux.rs
  components/resource_metering/src/cpu/recorder/mod.rs
  components/resource_metering/src/lib.rs
  components/resource_metering/src/reporter.rs
  components/server/Cargo.toml
  components/server/src/server.rs
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_sst_importer/Cargo.toml
  components/test_storage/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
  components/txn_types/Cargo.toml
  src/config.rs
  src/coprocessor/endpoint.rs
  src/storage/mod.rs
  src/storage/txn/scheduler.rs
  tests/Cargo.toml
  tests/integrations/config/dynamic/mod.rs
  tests/integrations/config/dynamic/resource_metering.rs
Labels: sig/coprocessor, size/XXL, status/LGT2, status/can-merge

#10301 rust-rocksdb: update to include important bugfix
  Cargo.lock
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#10299 cdc: stop CDC incremental scan from polluting rocksdb block cache
  components/cdc/src/endpoint.rs
Labels: contribution, first-time-contributor, release-note-none, size/XS, status/LGT2, status/can-merge

#10135 cdc: add sink memory quota
  components/cdc/src/channel.rs
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/lib.rs
  components/cdc/src/metrics.rs
  components/cdc/src/service.rs
  components/cdc/tests/mod.rs
  components/server/src/server.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/CDC, needs-cherry-pick-5.0, size/XL, status/LGT2, status/can-merge, type/bugfix

#10304 tests: fix flaky test_rate_limited_*_flow
  components/file_system/src/rate_limiter.rs
Labels: component/test-bench, release-note-none, size/S, status/LGT2, status/can-merge

#10263 evict entry cache when memory usage is high
  Cargo.lock
  components/engine_panic/src/raft_engine.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/raft_engine.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/lib.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/memory.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/server/src/raft_engine_switch.rs
  components/server/src/server.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/sys/mod.rs
  src/server/metrics.rs
  src/server/server.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_compact_log.rs
Labels: release-note-none, size/XXL, status/LGT2, status/can-merge

#10276 *: add a metrics for memory trace
  components/raftstore/src/store/mod.rs
  components/server/src/lib.rs
  components/server/src/memory.rs
  components/server/src/server.rs
  components/tikv_alloc/src/trace.rs
  metrics/grafana/tikv_details.json
  src/server/metrics.rs
  src/server/mod.rs
Labels: release-note-none, size/L, status/LGT2, status/can-merge

#9686 raftstore: support batch ingest
  components/raftstore/src/store/fsm/apply.rs
  components/sst_importer/src/metrics.rs
  components/sst_importer/src/sst_importer.rs
  components/test_sst_importer/src/lib.rs
Labels: size/XL, status/LGT2, status/can-merge

#10281 *: remove build.rs
  Cargo.toml
  build.rs
  src/coprocessor_v2/plugin_registry.rs
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#10226 raft_client: fix imbalance load of raft msg
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/server/config.rs
  src/server/raft_client.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: size/M, status/LGT2, status/can-merge

#10252 cdc: change old value cache to memory-bounded
  components/cdc/src/endpoint.rs
  components/cdc/src/metrics.rs
  components/cdc/src/old_value.rs
  components/tikv_util/src/lru.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/CDC, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge

#10177 copr: fix the wrong arguments type of json_unquote
  components/tidb_query_datatype/src/codec/mysql/json/mod.rs
  components/tidb_query_expr/src/impl_json.rs
Labels: sig/coprocessor, size/M, status/LGT2, status/can-merge

#10262 cdc: limit scan task concurrency
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/errors.rs
  components/cdc/src/observer.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/CDC, needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, size/XXL, status/LGT2, status/can-merge, type/bugfix

#10323 *: fix some monitors in Grafana
  metrics/grafana/tikv_details.json
Labels: needs-cherry-pick-5.1, release-note-none, size/S, status/LGT2, status/can-merge

#10327 allow to compile an individual package
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/gcp/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/resource_metering/Cargo.toml
  components/server/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tidb_query_expr/Cargo.toml
  components/tikv_util/Cargo.toml
  fuzz/targets/Cargo.toml
  tests/Cargo.toml
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#10311 tests: Fix the unstable integration test for get_lock_wait_info api
  components/test_raftstore/src/util.rs
  tests/integrations/server/kv_service.rs
Labels: release-note-none, sig/transaction, size/M, status/LGT2, status/can-merge

#10310 raftstore: support batch ingest
  components/raftstore/src/store/fsm/apply.rs
  components/sst_importer/src/metrics.rs
  components/sst_importer/src/sst_importer.rs
  components/test_sst_importer/src/lib.rs
Labels: cherry-pick-approved, contribution, needs-cherry-pick-5.1, size/XL, status/LGT2, status/can-merge

#10315 statistics: fix resource report agent not supporting TLS
  Cargo.lock
  components/resource_metering/Cargo.toml
  components/resource_metering/src/cpu/recorder/linux.rs
  components/resource_metering/src/cpu/recorder/mod.rs
  components/resource_metering/src/lib.rs
  components/resource_metering/src/reporter.rs
  components/server/src/server.rs
  components/tikv_util/src/config.rs
  tests/integrations/config/dynamic/resource_metering.rs
Labels: release-note, sig/coprocessor, sig/diagnosis, size/XL, status/LGT2, status/can-merge

#10317 cdc: limit scan task concurrency (#10262)
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/errors.rs
  components/cdc/src/observer.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: cherry-pick-approved, component/CDC, release-note, size/XXL, status/LGT2, status/can-merge, type/bugfix, type/cherry-pick

#10328 Fix test: test_region_heartbeat_report_approximate_size
  components/raftstore/src/store/fsm/peer.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/pd.rs
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/raftstore/test_region_heartbeat.rs
Labels: release-note-none, size/L, status/LGT2, status/can-merge

#10318 *: fix license
  LICENSE
  etc/license.template
  rustfmt.toml
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#10335 cut rust-rocksdb branch for release 5.1
  Cargo.lock
  components/engine_rocks/Cargo.toml
Labels: cherry-pick-approved, release-note-none, size/XS, status/LGT2, status/can-merge

#10339 resolved_ts: fix resolved_ts can't update after merge
  components/raftstore/src/store/util.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: needs-cherry-pick-5.1, release-note, size/S, status/LGT2, status/can-merge

#10345 resolved_ts: ignore pessimistic lock while scanning locks
  components/resolved_ts/src/scanner.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: needs-cherry-pick-5.1, release-note, size/M, status/LGT2, status/can-merge

#10355 test_backup: typo Extrat -> Extract
  components/test_backup/src/lib.rs
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#10343 *: Add Read duration metrics for TiKV
  components/tidb_query_executors/src/runner.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/mod.rs
  src/coprocessor/tracker.rs
  src/server/service/kv.rs
Labels: contribution, needs-cherry-pick-5.0, needs-cherry-pick-5.1, size/M, status/LGT2, status/can-merge

#10288 backup: do not recycle backup threads
  components/backup/src/endpoint.rs
  components/server/src/server.rs
Labels: component/backup-restore, needs-cherry-pick-4.0, needs-cherry-pick-5.0, release-note-none, size/L, status/LGT2, status/can-merge, type/bugfix

#8157 Report QPS about each type of command in RegionHeartbeat and StoreHeartbeat
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/gcp/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/into_other/Cargo.toml
  components/keys/Cargo.toml
  components/pd_client/Cargo.toml
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/metrics.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/query_stats.rs
  components/raftstore/src/store/worker/split_controller.rs
  components/resolved_ts/Cargo.toml
  components/resource_metering/Cargo.toml
  components/server/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/pd.rs
  components/test_sst_importer/Cargo.toml
  components/test_storage/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
  components/tikv_util/src/metrics/mod.rs
  components/txn_types/Cargo.toml
  src/coprocessor/metrics.rs
  src/coprocessor/tracker.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  tests/Cargo.toml
  tests/integrations/raftstore/test_stats.rs
Labels: size/XXL, status/LGT2, status/can-merge

#10334 raftstore: unify memory trace and count dangle entries
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/memory.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/read_queue.rs
  components/tikv_alloc/src/trace.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/memory.rs
Labels: needs-cherry-pick-5.1, release-note-none, size/XXL, status/LGT2, status/can-merge

#10350 resolved_ts: refine the resolved ts metric and panels
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/metrics.rs
  components/resolved_ts/src/resolver.rs
  metrics/grafana/tikv_details.json
Labels: needs-cherry-pick-5.1, release-note, size/XXL, status/LGT2, status/can-merge

#10336 statitics: send original string value for sampling data
  src/coprocessor/statistics/analyze.rs
Labels: contribution, release-note-none, size/M, status/LGT2, status/can-merge

#10372 raftstore: fix a panic about EntryCache::append
  components/raftstore/src/store/peer_storage.rs
Labels: needs-cherry-pick-5.1, release-note-none, size/M, status/LGT2, status/can-merge, type/bugfix

#10370 copr: fix wrong function cast double to double
  components/tidb_query_expr/src/impl_cast.rs
Labels: contribution, release-note, size/XS, status/LGT2, status/can-merge

#10369 memory-usage-limit shouldn't disturb users
  components/raftstore/src/store/memory.rs
  components/server/src/server.rs
  etc/config-template.toml
  metrics/grafana/tikv_details.json
  src/config.rs
  src/storage/config.rs
  tests/integrations/config/mod.rs
Labels: needs-cherry-pick-5.1, release-note-none, size/XL, status/LGT2, status/can-merge

#10386 statistic: more stable test for query test
  tests/integrations/raftstore/test_stats.rs
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#10376 raftstore: don't share read index for replica reads on leader
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: needs-cherry-pick-5.0, needs-cherry-pick-5.1, size/L, status/LGT2, status/can-merge

#10352 raftstore: reply to stale peer with tombstone message everytime
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  tests/integrations/raftstore/test_stale_peer.rs
Labels: needs-cherry-pick-5.1, release-note-none, size/L, status/LGT2, status/can-merge

#10364 raftstore: skip clearing callback when shutdown
  components/batch-system/src/batch.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/server/src/server.rs
  components/test_coprocessor/src/fixture.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/pd.rs
  components/test_raftstore/src/server.rs
  components/tikv_util/src/callback.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/thread_group.rs
  components/tikv_util/src/time.rs
  components/tikv_util/src/timer.rs
  components/tikv_util/src/worker/future.rs
  components/tikv_util/src/yatp_pool/mod.rs
  src/import/sst_service.rs
  src/server/debug.rs
  src/server/gc_worker/gc_manager.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/server/gc_worker.rs
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, size/XL, status/LGT2, status/can-merge, type/bugfix

#10383 gc_worker: typo construcing -> constructing
  src/server/gc_worker/compaction_filter.rs
Labels: contribution, first-time-contributor, release-note-none, size/XS, status/LGT2, status/can-merge

#10385 config: Rename Configuration trait to OnlineConfig
  Cargo.lock
  Cargo.toml
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/encryption/Cargo.toml
  components/encryption/src/config.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/config.rs
  components/online_config/Cargo.toml
  components/online_config/online_config_derive/Cargo.toml
  components/online_config/online_config_derive/src/lib.rs
  components/online_config/src/lib.rs
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/raftstore/src/coprocessor/config.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/worker/split_check.rs
  components/raftstore/src/store/worker/split_config.rs
  components/resolved_ts/Cargo.toml
  components/resolved_ts/src/endpoint.rs
  components/resource_metering/Cargo.toml
  components/resource_metering/src/lib.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/config.rs
  scripts/check-bins.py
  src/config.rs
  src/server/config.rs
  src/server/gc_worker/config.rs
  src/server/lock_manager/config.rs
  src/server/status_server/mod.rs
  src/storage/config.rs
  tests/Cargo.toml
  tests/integrations/config/test_config_client.rs
Labels: release-note-none, size/XXL, status/LGT2, status/can-merge

#10390 Escalate import/export priority
  src/storage/config.rs
Labels: needs-cherry-pick-5.1, release-note-none, size/XS, status/LGT2, status/can-merge

#10410 remove unnecessary kvproto patch
  Cargo.lock
  Cargo.toml
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#10405 txn: Remove outdated comment for check_txn_status
  src/storage/txn/commands/check_txn_status.rs
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#10416 sst_importer: fix the file exists issue in link file
  components/sst_importer/src/sst_importer.rs
  components/test_sst_importer/src/lib.rs
  src/import/sst_service.rs
Labels: needs-cherry-pick-5.0, needs-cherry-pick-5.1, size/L, status/LGT2, status/can-merge

#10413 cdc: fix sink quota leak on closed channel
  components/cdc/src/channel.rs
Labels: component/CDC, release-note-none, size/M, status/LGT2, status/can-merge, type/bugfix

#10419 cdc: fix sink quota leak on closed channel (#10411)
  components/cdc/src/channel.rs
Labels: cherry-pick-approved, component/CDC, release-note-none, size/M, status/LGT2, status/can-merge, type/bugfix, type/cherry-pick

#10354 resolved_ts: fix high tail latency cause by time-consuming operation in raftstore
  components/cdc/src/endpoint.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/check_leader.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/read.rs
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/tests/mod.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/server.rs
  src/server/service/kv.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: needs-cherry-pick-5.1, release-note-none, size/XXL, status/LGT2, status/can-merge

#10420 Fix wrong tikv_raftstore_hibernated_peer_state metric
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
Labels: needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, size/XS, status/LGT2, status/can-merge

#10418 copr: make CM Sketch built with the same encoding as what TiDB assumes
  src/coprocessor/statistics/analyze.rs
Labels: contribution, first-time-contributor, needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, size/S, status/LGT2, status/can-merge

#10264 *: support read only and recovery when disk full
  .gitignore
  Cargo.toml
  components/engine_panic/src/raft_engine.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/raft_engine.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/server/src/server.rs
  components/tikv_util/src/sys/disk.rs
  components/tikv_util/src/sys/mod.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_disk_full.rs
Labels: contribution, first-time-contributor, size/XL, status/LGT2, status/can-merge

#10437 tests: stabilize test_nonblocking_batch
  components/cdc/src/channel.rs
Labels: release-note-none, size/S, status/LGT2, status/can-merge

#10403 tests: fix several unstable cases
  components/test_backup/src/lib.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/pd.rs
  components/test_raftstore/src/util.rs
  components/test_storage/src/assert_storage.rs
  tests/integrations/raftstore/test_compact_log.rs
  tests/integrations/raftstore/test_conf_change.rs
  tests/integrations/raftstore/test_hibernate.rs
  tests/integrations/raftstore/test_lease_read.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_replica_read.rs
  tests/integrations/storage/test_storage.rs
Labels: component/test, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, sig/raft, size/L, status/LGT2, status/can-merge

#10406 *: Bump version v5.1.0
  Cargo.lock
  Cargo.toml
Labels: contribution, do-not-merge/cherry-pick-not-approved, first-time-contributor, release-note, size/XS

#10443 *: the `start_ts` of stale read request should not used to update `max_ts`
  components/test_raftstore/src/util.rs
  src/coprocessor/endpoint.rs
  src/storage/mod.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: needs-cherry-pick-5.1, release-note, size/M, status/LGT2, status/can-merge

#10337 copr: fix float64 overflow check in plus/minus real function
  components/tidb_query_expr/src/impl_arithmetic.rs
Labels: contribution, release-note-none, size/S, status/LGT2, status/can-merge

#10404 raftstore: Refactor SplitObserver.adjust_key()
  Cargo.lock
  components/raftstore/Cargo.toml
  components/raftstore/src/coprocessor/split_observer.rs
Labels: release-note-none, size/L, status/LGT2, status/can-merge, type/enhancement

#10415 statistic: return user-visible scanned bytes
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/gcp/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/into_other/Cargo.toml
  components/keys/Cargo.toml
  components/pd_client/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/resource_metering/Cargo.toml
  components/resource_metering/src/cpu/collector/linux.rs
  components/server/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_sst_importer/Cargo.toml
  components/test_storage/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_kv/src/stats.rs
  components/tikv_util/Cargo.toml
  components/txn_types/Cargo.toml
  src/coprocessor/tracker.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  tests/Cargo.toml
  tests/integrations/coprocessor/test_select.rs
  tests/integrations/server/kv_service.rs
Labels: release-note-none, size/XL, status/LGT2, status/can-merge

#10417 cdc: fix sink quota leak on closed channel (#10411)
  components/cdc/src/channel.rs
Labels: cherry-pick-approved, component/CDC, release-note-none, size/M, status/LGT2, status/can-merge, type/bugfix, type/cherry-pick

#10454 allow to build one snapshot twice
  Cargo.lock
  components/encryption/src/manager/mod.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/snap.rs
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, size/L, status/LGT2, status/can-merge

#10461 cdc: fix memory quota overflow
  components/cdc/src/channel.rs
Labels: component/CDC, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, size/S, status/LGT2, status/can-merge, type/bugfix

#10470 sst_importer: fix the file exists issue in link file (#10416) (#10421)
  components/sst_importer/src/sst_importer.rs
  components/test_sst_importer/src/lib.rs
  src/import/sst_service.rs
Labels: cherry-pick-approved, size/L, status/LGT2, status/can-merge

#9549 avoid stale result for read index command
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, sig/raft, size/L, status/LGT2, status/can-merge, type/bugfix

#10467 allow to build one snapshot twice (#10454) (#10463)
  Cargo.lock
  components/encryption/src/manager/mod.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/region.rs
  src/server/snap.rs
Labels: do-not-merge/cherry-pick-not-approved, release-note-none, size/XL, status/LGT2

#10247 raftstore: support limit the count of the peer stats reported in heartbeat
  components/raftstore/src/store/worker/pd.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/topn.rs
  tests/integrations/raftstore/test_stats.rs
Labels: needs-cherry-pick-5.1, release-note, size/XL, status/LGT2, status/can-merge

#10478 Remove commit of kvproto for every Cargo.toml
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/gcp/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/into_other/Cargo.toml
  components/keys/Cargo.toml
  components/pd_client/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/resource_metering/Cargo.toml
  components/server/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_sst_importer/Cargo.toml
  components/test_storage/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
  components/txn_types/Cargo.toml
  tests/Cargo.toml
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#10479 stabilize test_node_lease_unsafe_during_leader_transfers
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/raftstore/test_lease_read.rs
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#10459 raftstore: adjust max_down_peer_duration based on hibernate timeout
  components/raftstore/src/store/config.rs
  etc/config-template.toml
Labels: release-note, size/S, status/LGT2, status/can-merge

#10489 drop router shoulnd't reset memtrace because it's clonable
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
Labels: needs-cherry-pick-5.1, release-note-none, size/M, status/LGT2, status/can-merge
