Repository tikv/tikv, pull requests merged in 2021-02, with the labels that each got.

#9238 copr: Implement regexp & regexp_utf8
  Cargo.lock
  components/tidb_query_expr/Cargo.toml
  components/tidb_query_expr/src/impl_like.rs
  components/tidb_query_expr/src/lib.rs
Labels: sig/coprocessor, size/L, status/LGT2, status/can-merge

#9617 importer: fix test_ingest_sst
  tests/integrations/import/test_sst_service.rs
  tests/integrations/import/util.rs
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0-rc, size/M, status/LGT2, status/can-merge, type/bugfix

#9540 Make TiKV not to create dict files when master_key cannot work
  components/encryption/src/encrypted_file/mod.rs
  components/encryption/src/file_dict_file.rs
  components/encryption/src/manager/mod.rs
Labels: component/security, sig/engine, size/M, status/LGT1, status/can-merge, type/bugfix

#9610 copr: Vectorize AddDatetimeAndString
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: first-time-contributor, size/M, status/LGT2, status/can-merge

#9370 copr: (non)-vectorized Date
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: sig/coprocessor, size/M, status/LGT2, status/can-merge

#9616 copr: implement strcmp considering collation
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: first-time-contributor, size/M, status/LGT2, status/can-merge

#9437 copr: add ISO 8601 support for time parsing
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
Labels: sig/coprocessor, size/XL, status/LGT2, status/can-merge

#9441 resolved_ts: introduce cmd encoder
  Cargo.lock
  components/resolved_ts/Cargo.toml
  components/resolved_ts/src/cmd.rs
  components/resolved_ts/src/lib.rs
  components/resolved_ts/src/resolver.rs
  src/server/raftkv.rs
  src/storage/kv/mock_engine.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
Labels: sig/migrate, sig/raft, size/XXL, status/LGT2, status/can-merge

#9611 remove community meetings' info
  README.md
Labels: size/S, status/LGT2, status/can-merge

#9619 Fix redundant closure warning
  components/raftstore/src/store/fsm/apply.rs
Labels: size/XS, status/LGT2, status/can-merge

#9599 CONTRIBUTING: mention credentials
  CONTRIBUTING.md
Labels: size/XS, status/LGT2, status/can-merge

#9623 copr: implement find_in_set considering collation
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, sig/coprocessor, size/M, status/LGT2, status/can-merge

#9600 raftstore: Move engine_rocks to dev-dependencies
  components/raftstore/Cargo.toml
Labels: size/XS, status/LGT2, status/can-merge

#9602 engine: tag IO requests by GC, Import, Export
  Cargo.lock
  cmd/src/server.rs
  components/backup/src/endpoint.rs
  components/encryption/Cargo.toml
  components/encryption/examples/ecli.rs
  components/encryption/src/encrypted_file/mod.rs
  components/encryption/src/file_dict_file.rs
  components/encryption/src/io.rs
  components/encryption/src/manager/mod.rs
  components/encryption/src/master_key/file.rs
  components/engine_rocks/src/file_system.rs
  components/file_system/src/file.rs
  components/file_system/src/iosnoop/biosnoop.c
  components/file_system/src/iosnoop/biosnoop.rs
  components/file_system/src/lib.rs
  components/file_system/src/metrics.rs
  components/file_system/src/metrics_manager.rs
  components/file_system/src/rate_limiter.rs
  components/sst_importer/src/sst_importer.rs
  components/sst_importer/src/util.rs
  components/test_raftstore/src/util.rs
  src/import/sst_service.rs
  src/server/gc_worker/gc_worker.rs
  src/storage/kv/rocksdb_engine.rs
  tests/integrations/raftstore/test_snap.rs
Labels: sig/engine, size/L, status/LGT2, status/can-merge

#9631 copr: implement ord considering collation
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: size/M, status/LGT2, status/can-merge

#9629 external_storage: move util to tikv_util/stream
  Cargo.lock
  components/external_storage/Cargo.toml
  components/external_storage/src/gcs.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/local.rs
  components/external_storage/src/s3.rs
  components/sst_importer/src/sst_importer.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/lib.rs
  components/tikv_util/src/stream.rs
Labels: size/M, status/LGT2, status/can-merge

#9640 copr: Implement From<Utf8Error> for EvaluateError
  components/tidb_query_common/src/error.rs
  components/tidb_query_expr/src/impl_like.rs
  components/tidb_query_expr/src/impl_string.rs
Labels: contribution, sig/coprocessor, size/L, status/LGT2, status/can-merge

#9632 copr: use EvalType::Bytes as the eval type for Null type.
  components/tidb_query_datatype/src/def/eval_type.rs
Labels: sig/coprocessor, size/XS, status/LGT2, status/can-merge

#9638 copr: add vectorized Trim2Args
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: first-time-contributor, sig/coprocessor, size/L, status/LGT2, status/can-merge

#9618 copr: add truncate decimal & truncate uint
  components/tidb_query_expr/src/impl_math.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, sig/coprocessor, size/XL, status/LGT2, status/can-merge

#9637 copr: add lower() for strings
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: first-time-contributor, size/L, status/LGT2, status/can-merge

#9634 copr: add sub_datetime_and_string
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, first-time-contributor, sig/coprocessor, size/M, status/LGT2, status/can-merge

#9645 build: disable fuzzer honggfuzz & afl on Windows
  fuzz/fuzzer-afl/Cargo.toml
  fuzz/fuzzer-honggfuzz/Cargo.toml
Labels: component/build, contribution, first-time-contributor, size/XS, status/LGT2, status/can-merge

#9656 txn: allow rollback a lock with an existing rollback
  src/storage/mvcc/txn.rs
  src/storage/txn/commands/rollback.rs
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#9660 copr: fix missing space in json format
  components/tidb_query_datatype/src/codec/mysql/json/serde.rs
  components/tidb_query_expr/src/impl_json.rs
Labels: sig/coprocessor, size/M, status/LGT2, status/can-merge

#9667 copr: use criterion-perf-events to get instructions
  Cargo.lock
  tests/Cargo.toml
  tests/benches/coprocessor_executors/mod.rs
  tests/benches/deadlock_detector/mod.rs
  tests/benches/hierarchy/engine/mod.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/storage/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/benches/raftstore/mod.rs
Labels: size/XXL, status/LGT2, status/can-merge

#9651 pd_client: refine PD client codes
  components/pd_client/src/client.rs
  components/pd_client/src/config.rs
  components/pd_client/src/errors.rs
  components/pd_client/src/lib.rs
  components/pd_client/src/metrics.rs
  components/pd_client/src/util.rs
Labels: size/S, status/LGT2, status/can-merge

#9675 raftstore: reduce merge check tick interval
  components/raftstore/src/store/config.rs
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0-rc, sig/raft, size/XS, status/LGT2, status/can-merge

#9669 skip to examine snapshots when GC
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/snap.rs
Labels: size/M, status/LGT1

#9663 Update slack invitation link
  README.md
Labels: size/XS, status/LGT2, status/can-merge

#9653 diagnostics:add cpu arch
  src/server/service/diagnostics/sys.rs
Labels: first-time-contributor, needs-cherry-pick-4.0, size/S, status/LGT2, status/can-merge

#9622 resolved_ts: add resolved ts advancer and event observer
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/errors.rs
  components/resolved_ts/src/lib.rs
  components/resolved_ts/src/observer.rs
  components/resolved_ts/src/sinker.rs
Labels: component/CDC, size/XXL, status/LGT2, status/can-merge

#9661 use bash from the PATH instead of the absolute path
  Makefile
Labels: contribution, first-time-contributor, size/XS, status/LGT2, status/can-merge

#9644 scripts: add scripts/clippy
  scripts/clippy
  scripts/clippy-all
  scripts/env
Labels: size/M, status/LGT2, status/PTAL, status/can-merge

#9647 encryption: move AWS to a separate cloud crate
  Cargo.lock
  Cargo.toml
  Makefile
  cmd/Cargo.toml
  cmd/src/bin/tikv-ctl.rs
  cmd/src/server.rs
  components/backup/src/endpoint.rs
  components/cdc/src/endpoint.rs
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/aws/src/kms.rs
  components/cloud/aws/src/lib.rs
  components/cloud/aws/src/util.rs
  components/cloud/src/error.rs
  components/cloud/src/kms.rs
  components/cloud/src/lib.rs
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/encryption/export/examples/ecli.rs
  components/encryption/export/src/lib.rs
  components/encryption/src/config.rs
  components/encryption/src/crypter.rs
  components/encryption/src/errors.rs
  components/encryption/src/lib.rs
  components/encryption/src/manager/mod.rs
  components/encryption/src/master_key/kms.rs
  components/encryption/src/master_key/mod.rs
  components/error_code/bin.rs
  components/error_code/src/cloud.rs
  components/error_code/src/lib.rs
  components/external_storage/src/gcs.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  components/test_util/Cargo.toml
  components/test_util/src/encryption.rs
  components/test_util/src/security.rs
  components/tidb_query_common/src/error.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/macros.rs
  components/tikv_util/src/stream.rs
  etc/error_code.toml
  src/lib.rs
Labels: component/security, sig/engine, size/XXL, status/LGT2, status/can-merge

#9698 compaction filter: avoid redundant seeks
  src/server/gc_worker/compaction_filter.rs
Labels: size/M, status/LGT2, status/can-merge

#9697 Add reschedule for raw scan
  src/storage/mod.rs
Labels: component/storage, needs-cherry-pick-5.0-rc, size/M, status/LGT2, status/can-merge

#9710 copr: fix cast expr when cast empty string to float (#9704)
  components/tidb_query_expr/src/impl_cast.rs
Labels: first-time-contributor, size/XS, status/LGT2, status/can-merge

#9696 error_code: remove default implementation
  cmd/src/server.rs
  components/backup/src/endpoint.rs
  components/encryption/src/lib.rs
  components/error_code/src/lib.rs
  components/pd_client/src/lib.rs
  components/pd_client/src/util.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/log.rs
  src/import/sst_service.rs
  src/server/raft_client.rs
  src/storage/errors.rs
Labels: size/M, status/LGT2, status/can-merge

#9718 Bump version v4.0.11
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: cherry-pick-approved, first-time-contributor, size/S, status/LGT2, status/can-merge

#9720 Fix unexpected panic when sampling in load base split
  components/raftstore/src/store/worker/split_controller.rs
Labels: size/S, status/LGT2, status/can-merge

#9724 copr: activate quote & add null_time_diff
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: size/S, status/LGT2, status/can-merge
