Repository tikv/tikv, pull requests merged in 2021-08, with the labels that each got.

#10589 raftstore/pd: replace FutureWorker with Worker for pd worker
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/tikv_util/src/worker/pool.rs
  src/server/node.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/server/kv_service.rs
Labels: release-note, size/L, status/LGT2, status/can-merge

#10652 txn: skip resolve commit fail for left pessimistic locks
  components/txn_types/src/lock.rs
  src/storage/mod.rs
  src/storage/txn/commands/resolve_lock.rs
Labels: release-note, size/L, status/LGT2, status/can-merge

#10649 server/gc_worker: Replace Futuer::Worker with Poll::Worker
  components/tikv_util/src/worker/pool.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  tests/failpoints/cases/test_gc_worker.rs
  tests/integrations/config/dynamic/gc_worker.rs
Labels: release-note-none, size/L, status/LGT2, status/can-merge

#10661 alertmanager: no GC cannot work alert if no compaction happens
  metrics/alertmanager/tikv.rules.yml
Labels: needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, size/XS, status/LGT2, status/can-merge, type/bugfix

#10326 raftstore: introduce asynchronous write io
  components/engine_panic/src/raft_engine.rs
  components/engine_panic/src/write_batch.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_rocks/src/write_batch.rs
  components/engine_traits/src/raft_engine.rs
  components/engine_traits/src/write_batch.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/lib.rs
  components/raftstore/src/store/async_io/mod.rs
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/async_io/write_tests.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  etc/config-template.toml
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: release-note-none, sig/raft, size/XXL, status/LGT2, status/can-merge

#10562 *: solve cloud tikv disk full problem
  Cargo.lock
  components/error_code/src/raftstore.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  components/tikv_kv/src/lib.rs
  components/tikv_util/src/sys/disk.rs
  src/import/sst_service.rs
  src/server/raftkv.rs
  src/server/service/debug.rs
  src/server/service/kv.rs
  src/server/snap.rs
  src/storage/mod.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/compare_and_swap.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  tests/benches/misc/raftkv/mod.rs
  tests/failpoints/cases/test_disk_full.rs
  tests/failpoints/cases/test_replica_stale_read.rs
  tests/integrations/raftstore/test_multi.rs
Labels: contribution, release-note-none, size/XXL, status/LGT2, status/can-merge

#10656 raftstore: add message for inspecting latency
  components/raftstore/src/store/async_io/write_tests.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/util.rs
  tests/integrations/raftstore/test_status_command.rs
Labels: release-note, size/L, status/LGT2, status/can-merge

#10259 cmd: Add bad ssts command for tikv-ctl
  Cargo.lock
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-ctl/src/main.rs
  components/engine_rocks/src/raw.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/lib.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note, needs-cherry-pick-5.1

#10667 raftstore: add write router for async write io
  components/raftstore/src/store/async_io/mod.rs
  components/raftstore/src/store/async_io/write_router.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#10672 raftstore: always enable entry cache for async write io
  components/raftstore/src/store/peer_storage.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#10636 resource_metering: fix the enabled reporter doesn't initialize client during starting server
  components/resource_metering/src/reporter.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none

#10666 cdc: reduce resolved ts message size
  Cargo.lock
  components/cdc/Cargo.toml
  components/cdc/benches/cdc_event/main.rs
  components/cdc/src/channel.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/lib.rs
  components/cdc/src/metrics.rs
  components/cdc/src/service.rs
  components/cdc/tests/failpoints/test_resolve.rs
  components/cdc/tests/mod.rs
Labels: status/LGT2, type/bugfix, status/can-merge, component/CDC, needs-cherry-pick-4.0, size/XL, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1

#10674 raftstore: calculate slow score periodically
  Cargo.lock
  components/raftstore/Cargo.toml
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/worker/pd.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/L, release-note

#10671 handle proposals correctly if majority peers are disk full
  Cargo.lock
  components/backup/src/endpoint.rs
  components/backup/src/errors.rs
  components/backup/src/service.rs
  components/backup/src/writer.rs
  components/cloud/aws/src/s3.rs
  components/cloud/gcp/src/gcs.rs
  components/cloud/src/blob.rs
  components/external_storage/export/examples/scli.rs
  components/external_storage/export/src/dylib.rs
  components/external_storage/export/src/export.rs
  components/external_storage/export/src/grpc_service.rs
  components/external_storage/export/src/request.rs
  components/external_storage/src/dylib_client.rs
  components/external_storage/src/grpc_client.rs
  components/external_storage/src/request.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/server/src/server.rs
  components/sst_importer/src/sst_importer.rs
  components/test_backup/src/lib.rs
  components/tikv_util/src/sys/disk.rs
  tests/failpoints/cases/test_backup.rs
  tests/failpoints/cases/test_disk_full.rs
  tests/integrations/backup/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#10249 Substitute write stall with flow control in scheduler level
  Cargo.lock
  Cargo.toml
  components/engine_panic/src/cf_options.rs
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/cf_options.rs
  components/engine_rocks/src/compact_listener.rs
  components/engine_rocks/src/event_listener.rs
  components/engine_rocks/src/flow_listener.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/rocks_metrics.rs
  components/engine_rocks/src/util.rs
  components/engine_traits/src/cf_options.rs
  components/engine_traits/src/compaction_job.rs
  components/engine_traits/src/misc.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  components/tikv_kv/src/lib.rs
  components/tikv_util/src/time.rs
  etc/config-template.toml
  metrics/grafana/tikv_details.json
  src/config.rs
  src/lib.rs
  src/server/node.rs
  src/server/raftkv.rs
  src/storage/config.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/txn/flow_controller.rs
  src/storage/txn/mod.rs
  src/storage/txn/scheduler.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/XXL

#10670 Remove useless features dependency parameters
  Cargo.toml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#10651 cdc: Support changing CDC configs dynamically
  Cargo.lock
  components/cdc/Cargo.toml
  components/cdc/src/channel.rs
  components/cdc/src/config.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/lib.rs
  components/cdc/src/old_value.rs
  components/cdc/tests/mod.rs
  components/server/src/server.rs
  components/tikv_util/src/lru.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, component/configuration, component/CDC, needs-cherry-pick-4.0, size/XL, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#10675 Update raft engine
  Cargo.lock
  cmd/tikv-ctl/src/main.rs
  components/raft_log_engine/src/engine.rs
  components/server/src/raft_engine_switch.rs
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#10695 Fix unstable test_joint_confchange test
  components/cdc/tests/mod.rs
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#10700 test: fix warning
  cmd/tikv-ctl/src/main.rs
  components/raftstore/src/store/async_io/write_router.rs
  src/storage/txn/flow_controller.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note-none

#10691 handle majority disk full peers correctly
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  tests/failpoints/cases/test_disk_full.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/XL, release-note-none, needs-cherry-pick-5.2

#10705 fix cgroup for containers with mountinfo
  Cargo.lock
  components/tikv_util/Cargo.toml
  components/tikv_util/src/sys/cgroup.rs
  components/tikv_util/src/sys/mod.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.2

#10709 metrics: add panels for slow score
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.2

#10660 record grpc duration correctly
  components/test_storage/src/sync_storage.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  src/server/service/mod.rs
  src/storage/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#10712 *: fix one bug about drop table/truncate table failed when TiKV is almost disk full
  components/file_system/src/lib.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/server/src/server.rs
  components/tikv_kv/src/lib.rs
  components/tikv_util/src/sys/disk.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_disk_full.rs
Labels: contribution, status/LGT2, type/bugfix, status/can-merge, size/M, needs-cherry-pick-5.2

#10721 Makefile: Remove outdated TODO
  ci-build/Makefile
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#10726 batch proposals correctly if disk full checks pass
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/M, release-note-none, needs-cherry-pick-5.2

#10668 Statistics: simplify CPU recorder when workload on a thread can always be attributed to a request
  components/resource_metering/src/cpu/future_ext.rs
  components/resource_metering/src/cpu/mod.rs
  components/resource_metering/src/cpu/recorder/linux.rs
  components/resource_metering/tests/cpu_recorder.rs
  src/coprocessor/endpoint.rs
  src/storage/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#10439 raftstore: fix TiKV delete files before ingesting
  components/raftstore/src/store/fsm/store.rs
Labels: status/LGT2, type/bugfix, status/can-merge, needs-cherry-pick-4.0, size/XS, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#10733 cdc: fix EventBatcher statistics
  components/cdc/src/service.rs
Labels: status/LGT2, type/bugfix, status/can-merge, component/CDC, size/M, release-note-none, needs-cherry-pick-5.2

#10703 resolved_ts: more precise RTS_MIN_RESOLVED_TS_GAP
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/metrics.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#10748 *: re-enable clippy in CI checks
  components/server/src/server.rs
  components/tikv_util/src/sys/cgroup.rs
  scripts/clippy
  tests/failpoints/cases/test_disk_full.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-5.2

#10749 grafana: add instance to flow control metrics legend
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-5.2

#10621 raftstore: support limit the count of the peer stats reported in heartbeat (#10247)
  components/raftstore/src/store/worker/pd.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/topn.rs
  tests/integrations/raftstore/test_stats.rs
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note

#10755 Fix flow controller for missing throttle cf
  src/storage/txn/flow_controller.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-5.2

#10746 raftstore: separate read write ready (#10592)
  components/batch-system/src/batch.rs
  components/batch-system/src/lib.rs
  components/batch-system/src/test_runner.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/raft_engine.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/tikv_util/src/sys/cgroup.rs
Labels: type/cherry-pick, status/LGT2, priority/release-blocker, status/can-merge, size/XL, cherry-pick-approved, release-note

#10750 raftstore: skip to inspect apply latency
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/pd.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-5.2

#10760 *: disable disk full checks and actions temporarily
  components/raftstore/src/store/fsm/peer.rs
  components/server/src/server.rs
  components/tikv_util/src/sys/disk.rs
  tests/failpoints/cases/test_disk_full.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, needs-cherry-pick-5.2

#10763 *: update several deps
  Cargo.lock
Labels: status/LGT2, type/bugfix, status/can-merge, needs-cherry-pick-4.0, size/S, needs-cherry-pick-5.0, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#10759 monitors: Replace the description in English
  metrics/grafana/tikv_trouble_shooting.json
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none

#10768 storage: Flow controller consumes quota only when write succeeds
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-5.2

#10704 cdc: Use compare_exchange_weak and fix incorrect configuration check msg
  components/cdc/src/channel.rs
  src/config.rs
Labels: status/LGT2, status/can-merge, component/CDC, size/XS, release-note-none

#10758 encryption: support encryption on top of custom reader and writer
  components/encryption/src/crypter.rs
  components/encryption/src/io.rs
  components/encryption/src/manager/mod.rs
  components/external_storage/export/src/export.rs
  components/raftstore/src/store/snap/io.rs
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/sst_importer.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#10775 Fix TiKV panic when enable Titan and upgrade from pre-5.0 version
  Cargo.lock
Labels: status/LGT2, type/bugfix, status/can-merge, size/XS, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#10735 *: fix Clippy warnings about rule new_without_default
  components/cdc/src/delegate.rs
  components/cdc/src/service.rs
  components/cdc/tests/mod.rs
  components/engine_rocks/src/properties.rs
  components/engine_test/src/lib.rs
  components/engine_traits/src/file_system.rs
  components/engine_traits/src/mvcc_properties.rs
  components/file_system/src/file.rs
  components/file_system/src/rate_limiter.rs
  components/pd_client/src/client.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/read.rs
  components/resolved_ts/src/sinker.rs
  components/test_coprocessor/src/column.rs
  components/test_coprocessor/src/fixture.rs
  components/test_coprocessor/src/store.rs
  components/test_coprocessor/src/table.rs
  components/test_pd/src/mocker/leader_change.rs
  components/test_pd/src/mocker/retry.rs
  components/test_pd/src/mocker/service.rs
  components/test_pd/src/mocker/split.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/router.rs
  components/test_storage/src/sync_storage.rs
  components/tidb_query_expr/src/types/test_util.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/perf_context.rs
  components/tikv_util/src/config.rs
  components/tikv_util/src/metrics/threads_dummy.rs
  components/tikv_util/src/metrics/threads_linux.rs
  components/tikv_util/src/time.rs
  scripts/clippy
  src/storage/kv/test_engine_builder.rs
  src/storage/mod.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/L, release-note-none

#9200 raftstore: Fix delete by ingest cause too many L0 files
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/region.rs
  metrics/grafana/tikv_details.json
Labels: sig/raft, status/LGT2, type/bugfix, status/can-merge, needs-cherry-pick-4.0, size/L, needs-cherry-pick-5.2

#10722 raftstore: fix compact_to for entry cache
  components/raftstore/src/store/peer_storage.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#10069 Add KvTestEngineIterator export to engine_test and use it in one tikv test
  components/engine_test/src/lib.rs
  src/storage/txn/commands/prewrite.rs
Labels: status/LGT2, status/can-merge, size/S

#10791 copr: replace extend_from_slice with partial_write
  components/tidb_query_expr/src/impl_string.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/S, release-note-none

#10792 fix wrong coprocessor alert rules
  metrics/alertmanager/tikv.rules.yml
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/XS, needs-cherry-pick-5.0, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#10800 storage: ban txn cmds when TTL is enabled.
  src/storage/errors.rs
  src/storage/mod.rs
  tests/integrations/raftstore/test_stats.rs
  tests/integrations/server/kv_service.rs
Labels: component/storage, status/LGT2, status/can-merge, size/L, needs-cherry-pick-5.0, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#10786 statistics: add more write query kind
  Cargo.lock
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/query_stats.rs
  components/raftstore/src/store/worker/split_controller.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  components/tikv_util/src/yatp_pool/mod.rs
  src/read_pool.rs
  src/server/node.rs
  src/storage/mod.rs
  src/storage/txn/sched_pool.rs
  src/storage/txn/scheduler.rs
  tests/integrations/raftstore/test_stats.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-5.2

#10807 Fix ineffective alert rule for low space
  metrics/alertmanager/tikv.rules.yml
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/XS, needs-cherry-pick-5.0, release-note-none, needs-cherry-pick-5.1

#10707 fix broken initialization of flow_receiver
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#10810 statistic: more stable test for query test
  tests/integrations/raftstore/test_stats.rs
Labels: status/LGT2, status/can-merge, size/XS, needs-cherry-pick-5.0, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#10818 raftstore: fix the wrong assign commit group
  components/raftstore/src/store/fsm/peer.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note, needs-cherry-pick-5.2

#10802 raftstore: fix the committed group not assign after apply snapshot
  components/raftstore/src/store/fsm/peer.rs
  tests/integrations/raftstore/test_replication_mode.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-5.2

#10817 coprocessor: tag analyze requests correctly
  src/coprocessor/endpoint.rs
  src/coprocessor/metrics.rs
  src/coprocessor/statistics/analyze.rs
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/S, needs-cherry-pick-5.0, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#10789 raftstore: collect and report the CPU time usage of regions to PD
  Cargo.lock
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/worker/pd.rs
  components/resource_metering/src/cpu/recorder/linux.rs
  components/resource_metering/src/lib.rs
  components/tikv_util/src/metrics/threads_linux.rs
  tests/integrations/resource_metering/test_agent.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#10844 print log for space reserve failure
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/XS, needs-cherry-pick-5.0, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#10851 remove MAINTAINERS.md
  MAINTAINERS.md
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none

#10853 copr: fix panic when exceeds deadline before polling
  src/coprocessor/endpoint.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#10858 coprocessor: reduce the slow log count by changing the req_lifetime to total_process_time
  components/tikv_util/src/logger/mod.rs
  src/coprocessor/tracker.rs
Labels: contribution, status/LGT2, needs-cherry-pick-3.0, status/can-merge, needs-cherry-pick-3.1, needs-cherry-pick-4.0, first-time-contributor, size/XS, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#10831 raftstore: continue GC snapshot files when it encounters a corrupted snapshot
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/snap.rs
  tests/failpoints/cases/test_snap.rs
Labels: contribution, status/LGT2, status/can-merge, needs-cherry-pick-4.0, first-time-contributor, size/L, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2
