Repository tikv/tikv, pull requests merged in 2021-07, with the labels that each got.

#10471 resolved_ts: fix online changing `resolved-ts.advance-ts-interval` can't take effect immediately
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/tests/integrations/mod.rs
  components/resolved_ts/tests/mod.rs
Labels: needs-cherry-pick-5.1, release-note, size/L, status/LGT2, status/can-merge, type/bugfix

#10480 update kvproto for PR kvproto#777
  Cargo.lock
  components/resource_metering/src/reporter.rs
Labels: contribution, first-time-contributor, needs-cherry-pick-5.1, release-note-none, size/XS, status/LGT2, status/can-merge

#10499 storage: avoid sched_pool stack overflow when commands fail successively
  src/storage/txn/scheduler.rs
Labels: needs-cherry-pick-5.1, release-note, sig/transaction, size/M, status/LGT2, status/can-merge, type/bugfix

#10503 txn: remove the `command_method` abstraction
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/macros.rs
  src/storage/txn/commands/mvcc_by_key.rs
  src/storage/txn/commands/mvcc_by_start_ts.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/resolve_lock_readphase.rs
Labels: release-note-none, sig/transaction, size/S, status/LGT2, status/can-merge

#10344 Abstract cdc crate over engines
  components/cdc/Cargo.toml
  components/cdc/src/endpoint.rs
  components/cdc/src/observer.rs
Labels: release-note-none, size/S, status/LGT2, status/can-merge

#10260 server: Replace RocksEngine with KvEngine typaram
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/gc_worker/applied_lock_collector.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/server/node.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/storage/mvcc/consistency_check.rs
  tests/integrations/config/dynamic/gc_worker.rs
Labels: release-note-none, size/L, status/LGT2, status/can-merge

#10469 Bump 5.0.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: contribution, do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed, first-time-contributor, size/S

#10457 add memory trace for raft messages and unstable entries
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/memory.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/server/src/server.rs
Labels: release-note-none, size/L, status/LGT2, status/can-merge

#10516 *: typo messge -> message
  components/raftstore/src/store/fsm/peer.rs
  metrics/grafana/performance_read.json
  metrics/grafana/performance_write.json
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_summary.json
  metrics/grafana/tikv_trouble_shooting.json
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, status/LGT2, status/can-merge

#10521 Rewritten ScannerBuilder and ScannerConfig
  components/cdc/src/endpoint.rs
  components/resolved_ts/src/scanner.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/txn/store.rs
  tests/integrations/storage/test_titan.rs
Labels: contribution, first-time-contributor, release-note-none, size/L, status/LGT2, status/can-merge

#10171 importer: Detect duplicate data importing by Lightning.
  components/sst_importer/src/lib.rs
  src/import/duplicate_detect.rs
  src/import/mod.rs
  src/import/sst_service.rs
  src/storage/mod.rs
  tests/integrations/import/test_sst_service.rs
Labels: size/XXL, status/LGT2, status/can-merge

#10531 external_storage: Fix force-style-path become useless
  components/external_storage/src/s3.rs
Labels: cherry-pick-approved, release-note-none, size/XS, status/LGT2, status/can-merge

#10147 cdc: add sink memory quota (#10135)
  components/cdc/src/channel.rs
Labels: backport-4.0.14, cherry-pick-approved, component/CDC, release-note, size/M, status/LGT2, status/can-merge, type/bugfix, type/cherry-pick

#10522 storage: do not report WriteConflict or PessimisticLockNotFound if txn is committed
  src/storage/txn/commands/prewrite.rs
Labels: release-note, sig/transaction, size/L, status/LGT2, status/can-merge

#10525 test: fix unstable test test_report_approximate_size_after_split_check
  tests/failpoints/cases/test_split_region.rs
Labels: component/test-bench, release-note-none, size/XS, status/LGT2, status/can-merge

#10453 test: try stabilize test case `test_get_lock_wait_info_api`
  tests/integrations/server/kv_service.rs
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#10541 fix unstable test case test_pending_peers
  tests/failpoints/cases/test_pending_peers.rs
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#10482 cdc: fix typos
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/service.rs
  components/cdc/tests/failpoints/test_resolve.rs
Labels: component/CDC, release-note-none, size/S, status/LGT2, status/can-merge

#10551 txn: considering the write type processing prewrite errors
  src/storage/txn/commands/prewrite.rs
Labels: release-note-none, sig/transaction, size/M, status/LGT2, status/can-merge, type/bugfix

#10535 Remove all request snapshot code
  components/error_code/src/raft.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/cluster.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_snap.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_snap.rs
Labels: contribution, first-time-contributor, release-note, size/XL, status/LGT2, status/can-merge

#10414 Support dynamically configuring IO priority
  Cargo.lock
  Cargo.toml
  components/file_system/Cargo.toml
  components/file_system/src/lib.rs
  components/file_system/src/rate_limiter.rs
  components/online_config/src/lib.rs
  src/config.rs
  src/storage/config.rs
Labels: needs-cherry-pick-5.1, release-note-none, size/L, status/LGT2, status/can-merge

#10553 copr: fix json_unquote bug when argument is like `""a""`
  Cargo.lock
  components/tidb_query_common/Cargo.toml
  components/tidb_query_common/src/error.rs
  components/tidb_query_expr/Cargo.toml
  components/tidb_query_expr/src/impl_json.rs
Labels: contribution, first-time-contributor, release-note-none, size/M, status/LGT2, status/can-merge

#9584 raftstore: handle the race between creating new peer and splitting correctly
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/util.rs
  components/test_raftstore/src/common-test.toml
  src/server/lock_manager/deadlock.rs
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: backport-4.0.14, cherry-pick-approved, sig/raft, size/XXL, status/LGT2, status/can-merge, type/bugfix

#10543 fix unencoded keys in load-base-split
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_controller.rs
  components/test_raftstore/src/server.rs
  src/storage/mod.rs
  tests/integrations/raftstore/test_stats.rs
Labels: needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, size/XL, status/LGT2, status/can-merge

#10538 storage: fix that reader statistics are not collected on errors
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
Labels: release-note, sig/transaction, size/L, status/LGT2, status/can-merge

#10505 Set write_global_seqno to false while ingesting SST files.
  Cargo.lock
  components/engine_panic/src/import.rs
  components/engine_rocks/src/import.rs
  components/engine_rocks/src/misc.rs
  components/engine_traits/src/import.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/sst_importer/src/sst_importer.rs
  components/sst_importer/src/util.rs
  tests/failpoints/cases/test_import_service.rs
Labels: contribution, first-time-contributor, release-note, size/L, status/LGT2, status/can-merge

#7771 Enable perf-level mutex by default
  components/raftstore/src/store/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/rocksdb, size/XS, status/LGT2, status/can-merge

#10561 Fix tikv-detail.json Panel ID
  metrics/grafana/tikv_details.json
Labels: first-time-contributor, release-note-none, size/XS, status/LGT2, status/can-merge

#10504 server: stop status server early when gracefully shutdown
  cmd/src/server.rs
Labels: backport-4.0.14, cherry-pick-approved, component/server, release-note-none, size/XS, status/LGT2, status/can-merge, type/cherry-pick

#10582 cloud: fix test_s3_storage
  components/cloud/aws/src/s3.rs
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#10590 statistic: more stable test for query test
  tests/integrations/raftstore/test_stats.rs
Labels: release-note-none, size/L, status/LGT2, status/can-merge

#10365 statistic: introduce resource metering integration test
  Cargo.lock
  components/resource_metering/Cargo.toml
  components/resource_metering/src/cpu/recorder/linux.rs
  components/resource_metering/src/cpu/recorder/mod.rs
  components/resource_metering/src/reporter.rs
  components/resource_metering/tests/cpu_recorder.rs
  src/storage/txn/scheduler.rs
  tests/integrations/config/dynamic/mod.rs
  tests/integrations/config/dynamic/resource_metering.rs
  tests/integrations/mod.rs
  tests/integrations/resource_metering/mod.rs
  tests/integrations/resource_metering/test_agent.rs
  tests/integrations/resource_metering/test_dynamic_config.rs
  tests/integrations/resource_metering/test_suite/mock_agent_server.rs
  tests/integrations/resource_metering/test_suite/mod.rs
Labels: release-note-none, size/XXL, status/LGT2, status/can-merge

#10524 Add raw split/raw checksum/raw write sst
  Cargo.lock
  Cargo.toml
  components/engine_traits/Cargo.toml
  components/engine_traits/src/lib.rs
  components/engine_traits/src/util.rs
  components/error_code/src/sst_importer.rs
  components/raftstore/src/store/fsm/apply.rs
  components/server/src/server.rs
  components/sst_importer/src/errors.rs
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/lib.rs
  components/sst_importer/src/metrics.rs
  components/sst_importer/src/sst_importer.rs
  components/sst_importer/src/sst_writer.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/import/mod.rs
  src/import/sst_service.rs
  src/server/metrics.rs
  src/server/service/kv.rs
  src/server/ttl/mod.rs
  src/server/ttl/ttl_checker.rs
  src/server/ttl/ttl_compaction_filter.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/raw/mod.rs
  src/storage/raw/store.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_ttl.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/server/kv_service.rs
Labels: release-note, size/XXL, status/LGT2, status/can-merge

#10585 copr: vectorize sub_duration_and_string and fix unit test
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, first-time-contributor, release-note-none, size/M, status/LGT2, status/can-merge

#10579 package Env creation into one function entry
  cmd/tikv-ctl/src/main.rs
  components/engine_rocks/src/encryption.rs
  components/engine_rocks/src/file_system.rs
  components/engine_rocks/src/lib.rs
  components/server/src/server.rs
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/sst_importer.rs
  components/test_raftstore/src/util.rs
  components/tikv_kv/src/rocksdb_engine.rs
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#10536 support both cgroup v1 and v2
  components/cloud/aws/src/s3.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/sys/cgroup.rs
  components/tikv_util/src/sys/mod.rs
Labels: release-note-none, size/XXL, status/LGT2, status/can-merge

#10555 reject raft messages if they take too much memory
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/memory.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/tikv_util/src/sys/mod.rs
  src/server/config.rs
  src/server/metrics.rs
  src/server/server.rs
  src/server/service/kv.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_memory_usage_limit.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: release-note-none, size/XL, status/LGT2, status/can-merge

#10600 storage: prevent repeated non-pessimistic lock prewrite from writing locks
  Cargo.lock
  components/resolved_ts/src/cmd.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
Labels: needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, sig/transaction, size/L, status/LGT2, status/can-merge

#10592 raftstore: separate read write ready
  Cargo.lock
  components/batch-system/src/batch.rs
  components/batch-system/src/lib.rs
  components/batch-system/src/test_runner.rs
  components/cloud/aws/src/s3.rs
  components/engine_panic/src/raft_engine.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/raft_engine.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
Labels: cherry-pick-approved, needs-cherry-pick-4.0, needs-cherry-pick-5.0, release-note, sig/raft, size/XL, status/LGT2, status/can-merge, type/enhancement

#10609 coprocessor_plugin_api: Use atomic for allocator functions
  Cargo.lock
  components/coprocessor_plugin_api/Cargo.toml
  components/coprocessor_plugin_api/src/allocator.rs
  components/coprocessor_plugin_api/src/lib.rs
  src/coprocessor_v2/endpoint.rs
Labels: contribution, first-time-contributor, release-note, size/M, status/LGT2, status/can-merge

#10601 fix tikv_details panel id
  metrics/grafana/tikv_details.json
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#10624 docs: remove roadmap section in README.md
  README.md
Labels: contribution, release-note-none, size/XS, status/LGT2, status/can-merge

#10622 test: retry on get_region() to stable related test
  Cargo.lock
  components/test_raftstore/src/pd.rs
Labels: release-note-none, size/S, status/LGT2, status/can-merge

#10371 cdc: add congest integration test
  components/cdc/tests/failpoints/test_observe.rs
  components/cdc/tests/failpoints/test_resolve.rs
  components/cdc/tests/integrations/mod.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/integrations/test_flow_control.rs
  components/cdc/tests/mod.rs
  components/test_raftstore/src/cluster.rs
Labels: component/CDC, component/test-bench, needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, size/L, status/LGT2, status/can-merge

#10583 *: bump 4.0.14
  Cargo.lock
  Cargo.toml
Labels: do-not-merge/cherry-pick-not-approved, release-note, size/XS

#10557 pd_client: use stream RPC for TSO requests
  Cargo.lock
  components/pd_client/Cargo.toml
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/pd_client/src/metrics.rs
  components/pd_client/src/tso.rs
  components/pd_client/src/util.rs
  components/test_pd/src/server.rs
  metrics/grafana/tikv_details.json
Labels: needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, size/XXL, status/LGT2, status/can-merge

#10635 record grpc duration more clear
  src/server/service/batch.rs
  src/server/service/kv.rs
Labels: do-not-merge/cherry-pick-not-approved, release-note-none, size/M, status/LGT1

#10577 sst_importer: always use the bottommost compression (zstd) when writing SSTs
  components/engine_rocks/src/sst.rs
  components/server/src/server.rs
  components/sst_importer/src/sst_importer.rs
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, size/L, status/LGT2, status/can-merge

#10527 Add more tests to engine_traits_tests
  components/engine_rocks/src/sst.rs
  components/engine_test/src/lib.rs
  components/engine_traits/src/range_properties.rs
  components/engine_traits_tests/src/ctor.rs
  components/engine_traits_tests/src/lib.rs
  components/engine_traits_tests/src/sst.rs
  components/engine_traits_tests/src/write_batch.rs
Labels: release-note-none, size/XXL, status/LGT2, status/can-merge

#10375 engine_traits: Remove TableProperties abstractions
  components/engine_panic/src/lib.rs
  components/engine_panic/src/table_properties.rs
  components/engine_rocks/src/decode_properties.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/mvcc_properties.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/range_properties.rs
  components/engine_rocks/src/table_properties.rs
  components/engine_rocks/src/ttl_properties.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/table_properties.rs
  components/sst_importer/src/sst_importer.rs
  src/server/debug.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/ttl/ttl_compaction_filter.rs
Labels: release-note-none, size/XL, status/LGT2, status/can-merge

#10627 test: fix test_reject_proposal_during_region_merge
  tests/failpoints/cases/test_cmd_epoch_checker.rs
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, size/XS, status/LGT2, status/can-merge

#10629 Bump v5.1.1
  Cargo.lock
  Cargo.toml
Labels: do-not-merge/cherry-pick-not-approved, release-note, size/XS

#10650 hotfix
  components/tidb_query_datatype/src/def/eval_type.rs
Labels: do-not-merge/cherry-pick-not-approved, release-note, size/XS
