Repository tikv/tikv, pull requests merged in 2022-05, with the labels that each got.

#12445 *: Sort dependencies in Cargo.toml in order automatically
  Cargo.toml
  Makefile
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-server/Cargo.toml
  components/api_version/Cargo.toml
  components/backup/Cargo.toml
  components/batch-system/Cargo.toml
  components/causal_ts/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/Cargo.toml
  components/codec/Cargo.toml
  components/concurrency_manager/Cargo.toml
  components/encryption/Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_test/Cargo.toml
  components/engine_traits/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/file_system/Cargo.toml
  components/log_wrappers/Cargo.toml
  components/pd_client/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/resource_metering/Cargo.toml
  components/security/Cargo.toml
  components/server/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_storage/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_aggr/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tidb_query_expr/Cargo.toml
  components/tikv_alloc/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
  components/txn_types/Cargo.toml
  tests/Cargo.toml
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#12432 *: apply perf flags to record RocksDB perf context in coprocessor
  Cargo.lock
  components/cdc/src/initializer.rs
  components/cdc/src/metrics.rs
  components/cdc/src/old_value.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/perf_context.rs
  components/engine_rocks/src/perf_context_impl.rs
  components/engine_traits/src/perf_context.rs
  components/raftstore/src/coprocessor/config.rs
  components/server/src/server.rs
  components/test_coprocessor/src/fixture.rs
  components/test_raftstore/src/server.rs
  components/tikv_kv/Cargo.toml
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/perf_context.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/interceptors/tracker.rs
  src/coprocessor/metrics.rs
  src/coprocessor/mod.rs
  src/coprocessor/tracker.rs
  src/lib.rs
  src/server/config.rs
  src/server/server.rs
  src/server/service/batch.rs
  src/storage/kv/test_engine_builder.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/txn/commands/prewrite.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/resource_metering/test_cpu.rs
  tests/integrations/resource_metering/test_read_keys.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#12458 engine: support setting memory limit for raft engine
  Cargo.lock
  components/raft_log_engine/Cargo.toml
  components/raft_log_engine/src/engine.rs
  components/raft_log_engine/src/lib.rs
  etc/config-template.toml
  metrics/grafana/tikv_details.json
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/M, release-note

#12461 encryption: reduce redundant log
  components/encryption/src/manager/mod.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#10961 storage: support automatic sst corruption check and deletion
  Cargo.lock
  Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/event_listener.rs
  components/engine_rocks/src/file_system.rs
  components/engine_rocks_helper/Cargo.toml
  components/engine_rocks_helper/src/lib.rs
  components/engine_rocks_helper/src/metric.rs
  components/engine_rocks_helper/src/sst_recovery.rs
  components/raftstore/src/store/fsm/store.rs
  components/server/Cargo.toml
  components/server/src/server.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  components/tikv_util/src/worker/pool.rs
  etc/config-template.toml
  metrics/grafana/tikv_details.json
  src/config.rs
  src/server/engine_factory.rs
  src/storage/config.rs
  tests/Cargo.toml
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_sst_recovery.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, sig/engine, size/XXL, release-note

#12430 backup-stream: Merge the feature branch `3pointer/br-stream` into master
  Cargo.lock
  Cargo.toml
  components/backup-stream/Cargo.toml
  components/backup-stream/src/config.rs
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/errors.rs
  components/backup-stream/src/event_loader.rs
  components/backup-stream/src/lib.rs
  components/backup-stream/src/metadata/client.rs
  components/backup-stream/src/metadata/keys.rs
  components/backup-stream/src/metadata/metrics.rs
  components/backup-stream/src/metadata/mod.rs
  components/backup-stream/src/metadata/store/etcd.rs
  components/backup-stream/src/metadata/store/mod.rs
  components/backup-stream/src/metadata/store/slash_etc.rs
  components/backup-stream/src/metadata/test.rs
  components/backup-stream/src/metrics.rs
  components/backup-stream/src/observer.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/subscription_track.rs
  components/backup-stream/src/utils.rs
  components/backup-stream/tests/mod.rs
  components/cdc/src/observer.rs
  components/cloud/aws/src/lib.rs
  components/cloud/aws/src/s3.rs
  components/error_code/src/backup_stream.rs
  components/error_code/src/lib.rs
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/external_storage/export/src/export.rs
  components/external_storage/export/src/request.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/local.rs
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/resolved_ts/src/observer.rs
  components/resolved_ts/src/resolver.rs
  components/server/Cargo.toml
  components/server/src/server.rs
  components/sst_importer/Cargo.toml
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/metrics.rs
  components/sst_importer/src/sst_importer.rs
  components/test_raftstore/src/pd.rs
  components/test_raftstore/src/server.rs
  components/tikv_util/src/codec/mod.rs
  components/tikv_util/src/codec/stream_event.rs
  components/tikv_util/src/lib.rs
  etc/config-template.toml
  src/config.rs
  src/import/sst_service.rs
  tests/integrations/config/mod.rs
Labels: contribution, status/LGT2, status/can-merge, component/backup-restore, size/XXL, release-note

#12471 engine: update raft engine
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#12387 cdc: Add supporting rawkv cdc codes.
  Cargo.lock
  components/api_version/src/api_v2.rs
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/src/service.rs
  components/cdc/tests/failpoints/test_endpoint.rs
  components/cdc/tests/failpoints/test_observe.rs
  components/cdc/tests/failpoints/test_register.rs
  components/cdc/tests/failpoints/test_resolve.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
Labels: status/LGT2, status/can-merge, component/CDC, first-time-contributor, size/XXL, release-note

#12424 APIV2: RawKV MVCC GC
  components/api_version/src/api_v2.rs
  src/config.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/server/gc_worker/mod.rs
  src/server/gc_worker/rawkv_compaction_filter.rs
  src/server/metrics.rs
  tests/failpoints/cases/test_ttl.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XXL, release-note

#11659 raftstore: support multi-files' snapshot
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/raftstore/src/store/worker/region.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/config.rs
  src/server/config.rs
  src/server/snap.rs
  src/storage/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#12483 kvengine: refine table format
  components/kvengine/src/table/sstable/builder.rs
  components/kvengine/src/table/sstable/iterator.rs
  components/kvengine/src/table/sstable/sstable.rs
  components/rfstore/src/mvcc.rs
Labels: status/LGT1, size/L, release-note-none

#12476 raftstore: fix split buckets bug
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/worker/split_check.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-6.0

#12475 br: move the file v1_backupmeta_xxxx.meta to v1/backupmeta/xxxx.meta
  components/backup-stream/src/router.rs
Labels: contribution, status/LGT2, status/can-merge, sig/migrate, size/XS, release-note-none

#12494 metrics: add grafana panels for RawKV causal timestamp
  metrics/grafana/tikv_raw.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#12496 bump master version to 6.1-alpha
  Cargo.lock
  Cargo.toml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#12502 bump version v5.4.1
  Cargo.lock
  Cargo.toml
Labels: contribution, status/LGT1, first-time-contributor, do-not-merge/hold, size/XS, do-not-merge/cherry-pick-not-approved, release-note

#12505 Raftstore: fix split skip bug due to incorrectly setting has_calculated_region_size
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12389 storage: make ingest and split_region interface compatible with API v2
  components/error_code/src/sst_importer.rs
  components/sst_importer/src/errors.rs
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/sst_importer.rs
  components/sst_importer/src/sst_writer.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#12488 txn: do conflict check before returning assertion failure
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/prewrite.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-6.0

#12482 raftstore: check store id before sending wakeup message
  components/pd_client/src/client.rs
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/src/pd.rs
  tests/integrations/raftstore/test_replica_read.rs
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#12473 raftstore: report delta bucket stats
  components/pd_client/src/lib.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/src/pd.rs
  tests/failpoints/cases/test_stats.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12346 server: support dynamically change grpc-memory-pool-quota
  Cargo.lock
  components/server/src/server.rs
  src/server/config.rs
  src/server/server.rs
  tests/integrations/config/dynamic/snap.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12415 raftstore: make snapshot gc in background thread
  components/backup-stream/tests/mod.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/cleanup.rs
  components/raftstore/src/store/worker/cleanup_snapshot.rs
  components/raftstore/src/store/worker/mod.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/server/config.rs
  src/server/snap.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_snap.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#12523 add RawKV GC metric versions count
  src/server/gc_worker/rawkv_compaction_filter.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note

#12539 raftstore: misc changes for dynamic regions
  components/raftstore/src/coprocessor/config.rs
  components/raftstore/src/store/config.rs
  metrics/grafana/tikv_details.json
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#12544 file_system: update fs2 fork to use posix_fallocate
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, release-note, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#12521 tests: make several txn tests less flaky
  tests/failpoints/cases/test_transaction.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#12516 log-backup: Added metrics for log backup
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/errors.rs
  components/backup-stream/src/metrics.rs
  metrics/grafana/tikv_details.json
Labels: contribution, status/LGT2, status/can-merge, component/backup-restore, sig/migrate, size/XXL, release-note-none

#12540 test: stabilize resouce_metering::test_dynamic_config::test_report_interval
  tests/integrations/resource_metering/test_dynamic_config.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/S, release-note-none

#12335 server: support dynamic config max-grpc-send-msg-len and raft-msg-max-batch-size
  components/raftstore/src/store/config.rs
  src/config.rs
  src/server/config.rs
  src/server/raft_client.rs
  src/server/server.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/server/raft_client.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12565 components: handle invalid utf8 characters in `produce_str_with_specified_tp` func
  components/tidb_query_datatype/src/codec/convert.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note

#12551 raftstore: remove ts for bucket keys
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/coprocessor/split_observer.rs
  components/raftstore/src/store/worker/split_check.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12558 Rawkv gctask metrics
  src/server/gc_worker/gc_worker.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note

#12550 [backup apiv2] fix file range in backup response
  components/backup/src/endpoint.rs
  components/backup/src/utils.rs
Labels: status/LGT2, status/can-merge, component/backup-restore, size/L, release-note

#12559 raftstore: enable waterfall panel by default
  components/raftstore/src/store/config.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note

#12484 raftstore: adjust default log gc limit automatically
  components/raftstore/src/coprocessor/config.rs
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/coprocessor/split_check/table.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  components/tikv_util/src/config.rs
  src/config.rs
  tests/Cargo.toml
  tests/failpoints/cases/test_async_fetch.rs
  tests/failpoints/cases/test_conf_change.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_pending_peers.rs
  tests/failpoints/cases/test_replica_stale_read.rs
  tests/failpoints/cases/test_snap.rs
  tests/failpoints/cases/test_split_region.rs
  tests/failpoints/cases/test_stale_peer.rs
  tests/failpoints/cases/test_unsafe_recovery.rs
  tests/integrations/config/dynamic/split_check.rs
  tests/integrations/config/mod.rs
  tests/integrations/raftstore/test_compact_log.rs
  tests/integrations/raftstore/test_hibernate.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_replica_read.rs
  tests/integrations/raftstore/test_replication_mode.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_split_region.rs
  tests/integrations/raftstore/test_tombstone.rs
  tests/integrations/raftstore/test_transfer_leader.rs
  tests/integrations/raftstore/test_update_region_size.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#12555 log-backup: skip locks in write cf when restoring
  src/import/sst_service.rs
Labels: contribution, status/LGT2, status/can-merge, component/backup-restore, sig/migrate, size/XL, release-note-none

#12480 *: enable frame pointer & enable cpu profiling on aarch64
  Cargo.lock
  Cargo.toml
  Makefile
  cmd/tikv-server/Cargo.toml
  scripts/run-cargo.sh
  src/server/status_server/profile.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#12570 Revert "[backup apiv2] fix file range in backup response"
  components/backup/src/endpoint.rs
  components/backup/src/utils.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#12022 raftstore: Execute recovery plan via raft
  Cargo.lock
  components/pd_client/src/client.rs
  components/pd_client/src/util.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/pd.rs
  tests/failpoints/cases/test_unsafe_recovery.rs
  tests/integrations/raftstore/test_unsafe_recovery.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#12575 Raftstore: reset the bucket after split region
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/split_check.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-6.0

#12537 pitr: do not set safe-point when pause task in TiKV endpoint
  components/backup-stream/src/endpoint.rs
  components/backup-stream/tests/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note

#12569 status_server: reload TLS certificate on TLS errors
  components/security/src/lib.rs
  src/server/status_server/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#12573 causal_ts: fix issue #12498
  components/causal_ts/src/observer.rs
Labels: status/LGT2, status/can-merge, size/S, release-note

#12586 Raftstore: reset the bucket after the regions merge
  components/raftstore/src/store/fsm/peer.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#12604 rfengine: refactor and add tests for RaftLog*
  components/cloud_server/src/signal_handler.rs
  components/cloud_server/src/status_server/mod.rs
  components/cloud_server/src/tikv_server.rs
  components/rfengine/src/engine.rs
  components/rfengine/src/lib.rs
  components/rfengine/src/load.rs
  components/rfengine/src/traits.rs
  components/rfengine/src/worker.rs
  components/rfstore/src/errors.rs
  components/rfstore/src/lib.rs
  components/rfstore/src/store/engine.rs
  components/rfstore/src/store/peer_storage.rs
  components/rfstore/src/store/peer_worker.rs
  components/rfstore/src/store/recover.rs
Labels: status/LGT1, size/XL, release-note-none

#12605 rfengine: extract RaftLog.* to a standalone module
  components/rfengine/src/engine.rs
  components/rfengine/src/lib.rs
  components/rfengine/src/log_batch.rs
  components/rfengine/src/worker.rs
Labels: status/LGT1, size/XXL, release-note-none

#12606 rfengine: refactor RegionData
  components/rfengine/src/engine.rs
  components/rfengine/src/log_batch.rs
Labels: status/LGT1, size/L, release-note-none

#12608 rfengine: extract WriteBatch
  components/rfengine/src/engine.rs
  components/rfengine/src/iterator.rs
  components/rfengine/src/lib.rs
  components/rfengine/src/load.rs
  components/rfengine/src/worker.rs
  components/rfengine/src/write_batch.rs
  components/rfengine/src/writer.rs
Labels: status/LGT1, size/XXL, do-not-merge/release-note-label-needed

#12609 rfengine: extract error
  components/rfengine/src/engine.rs
  components/rfengine/src/iterator.rs
  components/rfengine/src/lib.rs
Labels: status/LGT1, size/L, release-note-none

#12610 rfengine: refactor engine
  Cargo.lock
  components/rfengine/Cargo.toml
  components/rfengine/src/engine.rs
  components/rfengine/src/metrics.rs
  components/rfengine/src/traits.rs
  components/rfengine/src/worker.rs
  components/rfengine/src/writer.rs
Labels: status/LGT1, size/XXL, release-note-none

#12599 Raftstore: fix the config of region_split_check_diff
  components/raftstore/src/store/config.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/config.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-6.1

#12614 config: fix startup error when upgrade storage.api-version from 1 to 2
  src/config.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#12611 rfengine: introduce DmaBuffer for direct I/O
  components/rfengine/src/engine.rs
  components/rfengine/src/iterator.rs
  components/rfengine/src/writer.rs
Labels: size/L, release-note-none

#12485 tikv_util: handle cgroup path building error
  components/tikv_util/src/sys/cgroup.rs
  components/tikv_util/src/sys/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#12596 fixbug:when enable api v2 , TiDB resolve lock meet error
  src/storage/mod.rs
  tests/integrations/storage/test_storage.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-6.1

#12613 txn: check conflicts for pessimistic prewrite according to for_update_ts
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/prewrite.rs
Labels: status/LGT2, status/can-merge, size/M, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#12532 Fix serialized format of ReadableSize
  components/tikv_util/src/config.rs
  tests/Cargo.toml
  tests/failpoints/cases/test_conf_change.rs
Labels: status/LGT2, status/can-merge, size/S, release-note, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#12589 *: avoid mutually exclusive features in pprof
  Cargo.lock
  Cargo.toml
  Makefile
  cmd/tikv-server/Cargo.toml
  tests/Cargo.toml
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none

#12639 raftstore: refine some code of the PD and SplitController
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12577 raftstore: in try_batch, we should use the lastest bucket_meta.
  components/raftstore/src/store/fsm/apply.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-6.1

#12603 raftstore: clean up stale logs when recovering from applying state
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/peer_storage.rs
  tests/failpoints/cases/test_snap.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#12356 server: support gzip compression for metrics
  Cargo.lock
  Cargo.toml
  components/tikv_util/src/metrics/mod.rs
  etc/config-template.toml
  src/server/status_server/mod.rs
  src/storage/config.rs
  tests/integrations/backup/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#12623 quota-limiter: fix panic when set limiter value to 0
  components/tikv_util/src/quota_limiter.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/M, release-note-none, needs-cherry-pick-6.1

#12616 txn: check committed record before async commit fallback
  src/storage/txn/commands/prewrite.rs
Labels: status/LGT2, status/can-merge, size/M, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#12566 log backup: don't advance checkpoint ts if there are inflight StartObserve
  components/backup-stream/Cargo.toml
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/event_loader.rs
  components/backup-stream/src/lib.rs
  components/backup-stream/src/metrics.rs
  components/backup-stream/src/observer.rs
  components/backup-stream/tests/mod.rs
  components/test_raftstore/src/pd.rs
Labels: contribution, status/LGT2, status/can-merge, component/backup-restore, sig/migrate, size/XL, release-note-none, needs-cherry-pick-6.1

#12629 pd_client: Do not reconnect on store tombstone error
  components/pd_client/src/errors.rs
  components/pd_client/src/util.rs
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/lib.rs
  tests/integrations/pd/test_rpc_client.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-6.1

#12620 raftstore: bucket and region split bug fix
  components/raftstore/src/coprocessor/config.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/mod.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-6.1

#12657 raftstore: fix the recovery process hanging issue caused orphaned unsafe recovery state
  components/raftstore/src/store/fsm/peer.rs
  tests/integrations/raftstore/test_unsafe_recovery.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-6.1

#12669 add logs for entry missing
  components/raftstore/src/store/fsm/store.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-6.1

#12584 log-backup: fix bug: After br log pausing, the global checkpoint is still moving …
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/metadata/client.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-6.1

#12638 raftstore: report has_commit_merge in unsafe recovery
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/pd.rs
  tests/integrations/raftstore/test_unsafe_recovery.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-6.1

#12672 expr: fix tikv crash when conv empty string
  components/tidb_query_expr/src/impl_math.rs
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/XS, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#12640 log-backup: adapt user-defined TLS config
  Cargo.lock
  components/backup-stream/Cargo.toml
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/metadata/mod.rs
  components/backup-stream/src/metadata/store/lazy_etcd.rs
  components/backup-stream/src/metadata/store/mod.rs
  components/backup-stream/tests/mod.rs
  components/security/Cargo.toml
  components/security/src/lib.rs
  components/server/src/server.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note, needs-cherry-pick-6.1

#12700 causal_ts: fix issue #12680
  Cargo.lock
  components/backup-stream/src/observer.rs
  components/causal_ts/Cargo.toml
  components/causal_ts/src/observer.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/resolved_ts/src/observer.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  src/server/lock_manager/deadlock.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_rawkv.rs
  tests/integrations/raftstore/test_region_change_observer.rs
Labels: status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note

#12697 causal_ts: fix issue #12680
  Cargo.lock
  components/backup-stream/src/observer.rs
  components/causal_ts/Cargo.toml
  components/causal_ts/src/observer.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/resolved_ts/src/observer.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  src/server/lock_manager/deadlock.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_rawkv.rs
  tests/integrations/raftstore/test_region_change_observer.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note, needs-cherry-pick-6.1

#12701 server: fix race during raft data migration
  components/raft_log_engine/src/engine.rs
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1
