Repository tikv/tikv, pull requests merged in 2022-09, with the labels that each got.

#13342 copr: add json opaque value and implement conversion, comparison...
  Cargo.lock
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/src/codec/convert.rs
  components/tidb_query_datatype/src/codec/mysql/json/binary.rs
  components/tidb_query_datatype/src/codec/mysql/json/comparison.rs
  components/tidb_query_datatype/src/codec/mysql/json/jcodec.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_type.rs
  components/tidb_query_datatype/src/codec/mysql/json/mod.rs
  components/tidb_query_datatype/src/codec/mysql/json/modifier.rs
  components/tidb_query_datatype/src/codec/mysql/json/serde.rs
  components/tidb_query_datatype/src/codec/row/v2/encoder_for_test.rs
  components/tidb_query_expr/src/impl_cast.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#13348 *: Block reads, writes and schedules before finishing flashback
  components/error_code/src/raftstore.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/cluster.rs
  components/tikv_kv/src/lib.rs
  components/txn_types/src/types.rs
  src/server/raftkv.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/flashback_to_version.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/scheduler.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_flashback.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XL, release-note-none

#13372 engine: default enable raft engine log recycling
  Cargo.lock
  etc/config-template.toml
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#13389 causal_ts: add benchmark
  Cargo.lock
  components/causal_ts/Cargo.toml
  components/causal_ts/benches/tso.rs
  components/causal_ts/src/tso.rs
  components/test_raftstore/src/pd.rs
  components/txn_types/src/lib.rs
  components/txn_types/src/timestamp.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#13378 service: add the kv_flashback_to_version interface
  Cargo.lock
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  src/server/metrics.rs
  src/server/service/kv.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/scheduler.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13253 engine: toggle purge worker with `need_manual_purge`
  components/engine_panic/src/raft_engine.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/raft_engine.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore/src/store/fsm/store.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13354 log-backup: fixed pessimistic lock in initial scanning
  components/backup-stream/src/event_loader.rs
  components/backup-stream/tests/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-6.2

#13322 gc_worker: use async_snapshot instead of raw API in GC
  Cargo.lock
  components/backup-stream/Cargo.toml
  components/backup-stream/src/event_loader.rs
  components/engine_panic/src/snapshot.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/worker/read.rs
  components/server/src/server.rs
  components/test_coprocessor/src/store.rs
  components/test_raftstore/src/server.rs
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/sync_storage.rs
  components/test_storage/src/util.rs
  components/tikv_kv/src/btree_engine.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/mock_engine.rs
  components/tikv_kv/src/rocksdb_engine.rs
  src/coprocessor/endpoint.rs
  src/lib.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  src/server/gc_worker/rawkv_compaction_filter.rs
  src/server/raftkv.rs
  src/server/server.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/storage/mod.rs
  tests/benches/misc/storage/incremental_get.rs
  tests/benches/misc/storage/mvcc_reader.rs
  tests/benches/misc/storage/scan.rs
  tests/failpoints/cases/test_gc_metrics.rs
  tests/failpoints/cases/test_gc_worker.rs
  tests/integrations/config/dynamic/gc_worker.rs
  tests/integrations/raftstore/test_lease_read.rs
  tests/integrations/server/gc_worker.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/storage/test_raft_storage.rs
  tests/integrations/storage/test_raftkv.rs
  tests/integrations/storage/test_region_info_accessor.rs
  tests/integrations/storage/test_storage.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#13317 copr: use manually written json path parser
  components/tidb_query_datatype/src/codec/mysql/json/path_expr.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#13398 *: introduce the non-retryable error FlashbackInProgress
  Cargo.lock
  components/error_code/src/raftstore.rs
  components/raftstore/src/errors.rs
  etc/error_code.toml
  tests/integrations/raftstore/test_flashback.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13343 cloud: add retry on web identity credentials
  Cargo.lock
  components/cloud/aws/Cargo.toml
  components/cloud/aws/src/s3.rs
  components/cloud/aws/src/util.rs
  components/cloud/src/metrics.rs
  components/tikv_util/src/stream.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#13384 raftstore: optimize region destroy
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/misc.rs
  components/engine_traits/src/misc.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/region.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#13408 cloud: add retry on web identity credentials (#13343)
  Cargo.lock
  components/cloud/aws/Cargo.toml
  components/cloud/aws/src/s3.rs
  components/cloud/aws/src/util.rs
  components/cloud/src/metrics.rs
  components/tikv_util/src/stream.rs
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note

#13422 bump version to 5.3.3
  Cargo.lock
  Cargo.toml
Labels: contribution, status/LGT1, size/XS, do-not-merge/cherry-pick-not-approved

#13427 storage: add perform_read_local fail_point to stabilize the test
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/read.rs
  tests/failpoints/cases/test_read_execution_tracker.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none

#13392 copr: fix wrong json opaque serialization
  components/tidb_query_datatype/src/codec/mysql/json/serde.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#13411 components: introduce tirocks module
  Cargo.lock
  Cargo.toml
  components/engine_tirocks/Cargo.toml
  components/engine_tirocks/src/lib.rs
  components/engine_tirocks/src/status.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13334 raftstore-v2: support peer create and destroy
  components/batch-system/src/router.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/engine.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/mod.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/ready/async_writer.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/tests/integrations/mod.rs
  components/raftstore-v2/tests/integrations/test_life.rs
  components/raftstore/src/store/async_io/write.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13424 txn: distinguish different types of write conflicts
  Cargo.lock
  Cargo.toml
  components/txn_types/src/lib.rs
  components/txn_types/src/lock.rs
  src/server/lock_manager/waiter_manager.rs
  src/storage/errors.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/prewrite.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13272 raft_engine: set recover_state
  components/engine_panic/src/raft_engine.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/raft_engine.rs
  components/keys/src/lib.rs
  components/raft_log_engine/src/engine.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12924 raftstore: Implement engine trait can_apply_snapshot
  components/engine_rocks/src/engine.rs
  components/engine_rocks/src/lib.rs
  components/engine_traits/src/engine.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/region.rs
  components/tikv_util/src/timer.rs
  tests/integrations/config/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#13421 *: move ioload to tikv_util
  components/tikv_util/src/quota_limiter.rs
  components/tikv_util/src/sys/ioload.rs
  components/tikv_util/src/sys/mod.rs
  src/server/service/diagnostics/mod.rs
  src/server/service/diagnostics/sys.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#13426 storage: skip Rollback when checking newer version for non-pessimisitc keys
  src/storage/txn/actions/prewrite.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-5.4, needs-cherry-pick-6.1

#13432 hook after update safe ts
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/check_leader.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#13393 engine: update rust-rocksdb
  Cargo.lock
  components/engine_rocks/src/write_batch.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#13350 cloud: support backup to s3 when object lock enabled.
  Cargo.lock
  components/cloud/aws/Cargo.toml
  components/cloud/aws/src/s3.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#13233 log-backup: merge small files in each flush
  Cargo.lock
  components/backup-stream/Cargo.toml
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/utils.rs
  components/backup-stream/tests/mod.rs
  components/cloud/aws/src/s3.rs
  components/cloud/azure/src/azblob.rs
  components/cloud/gcp/src/gcs.rs
  components/cloud/src/blob.rs
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/external_storage/export/src/export.rs
  components/external_storage/src/hdfs.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/local.rs
  components/external_storage/src/noop.rs
  components/sst_importer/src/sst_importer.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#13234 server: support customized addr/status_addr
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/node.rs
  src/server/status_server/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#13453 test: Separate TestPdClient from test_raftstore component
  Cargo.lock
  Cargo.toml
  components/causal_ts/Cargo.toml
  components/causal_ts/benches/tso.rs
  components/causal_ts/src/observer.rs
  components/causal_ts/src/tso.rs
  components/cdc/Cargo.toml
  components/cdc/src/endpoint.rs
  components/test_pd_client/Cargo.toml
  components/test_pd_client/src/lib.rs
  components/test_pd_client/src/pd.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/lib.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  tests/Cargo.toml
  tests/failpoints/cases/test_bootstrap.rs
  tests/failpoints/cases/test_replica_stale_read.rs
  tests/failpoints/cases/test_sst_recovery.rs
  tests/integrations/config/dynamic/pessimistic_txn.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_conf_change.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13454 resolved_ts: track ingest sst
  Cargo.lock
  components/file_system/src/rate_limiter.rs
  components/raftstore/src/store/util.rs
  components/resolved_ts/Cargo.toml
  components/resolved_ts/src/cmd.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/tests/integrations/mod.rs
  components/resolved_ts/tests/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#12957 raftstore: Implement coprocessor observer pre_persist
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#13418 copr: implement several mysql time related types json
  components/tidb_query_datatype/src/codec/convert.rs
  components/tidb_query_datatype/src/codec/mysql/json/binary.rs
  components/tidb_query_datatype/src/codec/mysql/json/comparison.rs
  components/tidb_query_datatype/src/codec/mysql/json/constants.rs
  components/tidb_query_datatype/src/codec/mysql/json/jcodec.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_type.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_unquote.rs
  components/tidb_query_datatype/src/codec/mysql/json/mod.rs
  components/tidb_query_datatype/src/codec/mysql/json/modifier.rs
  components/tidb_query_datatype/src/codec/mysql/json/serde.rs
  components/tidb_query_expr/src/impl_cast.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#13387 copr: don't convert bool to int while comparing json bool with other types
  components/tidb_query_datatype/src/codec/datum.rs
  components/tidb_query_datatype/src/codec/mysql/json/comparison.rs
Labels: status/LGT2, status/can-merge, size/S, release-note

#13462 engine_tirocks: port util
  Cargo.lock
  components/engine_panic/src/cf_options.rs
  components/engine_panic/src/db_options.rs
  components/engine_rocks/src/cf_options.rs
  components/engine_rocks/src/db_options.rs
  components/engine_tirocks/Cargo.toml
  components/engine_tirocks/src/cf_options.rs
  components/engine_tirocks/src/db_options.rs
  components/engine_tirocks/src/engine.rs
  components/engine_tirocks/src/lib.rs
  components/engine_tirocks/src/util.rs
  components/engine_traits/src/cf_options.rs
  components/engine_traits/src/db_options.rs
  components/sst_importer/src/import_mode.rs
  components/sst_importer/src/util.rs
  components/tikv_kv/src/cursor.rs
  src/config.rs
  tests/Cargo.toml
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13407 tikv_util: introduce future channel
  components/tikv_util/Cargo.toml
  components/tikv_util/benches/channel/bench_channel.rs
  components/tikv_util/benches/channel/mod.rs
  components/tikv_util/src/mpsc/batch.rs
  components/tikv_util/src/mpsc/future.rs
  components/tikv_util/src/mpsc/mod.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  tests/Cargo.toml
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13465 multi-rocksdb: avoid mutex deadlock between open_tablet() and create_shared_db()
  components/engine_test/src/lib.rs
  src/server/engine_factory.rs
  src/server/engine_factory_v2.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#13464 engine: update raft-engine
  Cargo.lock
  cmd/tikv-ctl/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raft_log_engine/src/engine.rs
  etc/config-template.toml
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13472 tidb_query_expr: fix the problem that the result of castFloatAsTime is different with TiDB.
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
  components/tidb_query_expr/src/impl_cast.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.1

#12978 raftstore: set seqno in ApplyRes
  components/engine_panic/src/write_batch.rs
  components/engine_rocks/src/write_batch.rs
  components/engine_traits/src/engines.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/options.rs
  components/engine_traits/src/util.rs
  components/engine_traits/src/write_batch.rs
  components/engine_traits_tests/src/scenario_writes.rs
  components/raftstore/src/store/fsm/apply.rs
  src/server/gc_worker/compaction_filter.rs
  tests/benches/misc/writebatch/bench_writebatch.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13438 backup: Add rawkv ttl expired data metric
  components/api_version/src/lib.rs
  components/backup/src/endpoint.rs
  components/backup/src/metrics.rs
  components/backup/src/utils.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13402 gc_worker: make background gc compatible with multi-rocks db
  Cargo.lock
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/server/src/server.rs
  components/tikv_kv/Cargo.toml
  components/tikv_kv/src/btree_engine.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/mock_engine.rs
  components/tikv_kv/src/rocksdb_engine.rs
  src/coprocessor/tracker.rs
  src/server/gc_worker/gc_worker.rs
  src/server/raftkv.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/mod.rs
  tests/failpoints/cases/test_gc_metrics.rs
  tests/failpoints/cases/test_storage.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#13457 log-backup: update for compression type compatibility and config default value update
  Cargo.lock
  components/backup-stream/src/router.rs
  components/backup-stream/src/utils.rs
  components/backup-stream/tests/mod.rs
  components/external_storage/export/src/export.rs
  components/external_storage/src/lib.rs
  components/sst_importer/src/sst_importer.rs
  etc/config-template.toml
  src/config.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#13484 engine_tirocks: port iterator and snapshot
  components/engine_tirocks/Cargo.toml
  components/engine_tirocks/src/db_vector.rs
  components/engine_tirocks/src/engine.rs
  components/engine_tirocks/src/engine_iterator.rs
  components/engine_tirocks/src/lib.rs
  components/engine_tirocks/src/snapshot.rs
  components/engine_tirocks/src/util.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13388 raftstore-v2: support write proposal
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/operation/command/write/simple_write.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/router/response_channel.rs
  components/raftstore-v2/tests/integrations/mod.rs
  components/raftstore-v2/tests/integrations/test_basic_write.rs
  components/raftstore-v2/tests/integrations/test_life.rs
  components/raftstore-v2/tests/integrations/test_status.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/mod.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13480 copr: support more regexp functions
  components/tidb_query_expr/src/impl_like.rs
  components/tidb_query_expr/src/impl_regexp.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#13374 br: implement/refactor a generic interface for snapshot backup and restore
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_snap_recovery.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XL, release-note

#13450 storage: refactor flashback to use the MVCC overwriting
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/actions/flashback_to_version.rs
  src/storage/txn/actions/mod.rs
  src/storage/txn/commands/flashback_to_version.rs
  src/storage/txn/commands/flashback_to_version_read_phase.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/mod.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13028 br: implement snapshot restore in tikv for ebs based Backup and Restore
  Cargo.lock
  Cargo.toml
  components/backup/src/service.rs
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/raftstore/src/store/fsm/peer.rs
  components/server/Cargo.toml
  components/server/src/server.rs
  components/snap_recovery/Cargo.toml
  components/snap_recovery/src/data_resolver.rs
  components/snap_recovery/src/init_cluster.rs
  components/snap_recovery/src/lib.rs
  components/snap_recovery/src/region_meta_collector.rs
  components/snap_recovery/src/services.rs
  tests/integrations/raftstore/test_snap_recovery.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XXL, release-note

#13488 engine: disable raft engine log recycling
  Cargo.lock
  cmd/tikv-ctl/Cargo.toml
  components/raft_log_engine/Cargo.toml
  etc/config-template.toml
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#13314 coprocessor: support auto scale read-pool
  components/server/src/server.rs
  src/config.rs
  src/read_pool.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#13441 raftstore, resolved_ts: clarify the use of term safe_ts and resolved_ts
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/pd.rs
  components/resolved_ts/tests/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12938 Add check conditions before compaction filter in RawKV GC
  components/engine_rocks/src/properties.rs
  src/config.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/rawkv_compaction_filter.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_gc_metrics.rs
  tests/failpoints/cases/test_table_properties.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note

#13326 rawkv: Encode ts to apiv2 key in storage instead of causal observer
  Cargo.lock
  components/backup/src/endpoint.rs
  components/causal_ts/Cargo.toml
  components/causal_ts/src/lib.rs
  components/causal_ts/src/observer.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/observer.rs
  components/cdc/tests/failpoints/test_endpoint.rs
  components/cdc/tests/mod.rs
  components/server/src/server.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/server.rs
  components/txn_types/src/types.rs
  src/server/node.rs
  src/storage/kv/test_engine_builder.rs
  src/storage/mod.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/compare_and_swap.rs
  tests/failpoints/cases/test_rawkv.rs
  tests/failpoints/cases/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13485 gc_worker: make unsafe detroy range compatible with multi-rocks db
  src/server/gc_worker/gc_worker.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#13429 causal_ts: add async func for CausalTsProvider
  Cargo.lock
  components/causal_ts/Cargo.toml
  components/causal_ts/src/lib.rs
  components/causal_ts/src/tso.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#13202 raftstore-v2: support lease read
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore-v2/src/lib.rs
  components/raftstore-v2/src/operation/query/lease.rs
  components/raftstore-v2/src/operation/query/local.rs
  components/raftstore-v2/src/operation/query/mod.rs
  components/raftstore-v2/src/operation/query/replica.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/router/mod.rs
  components/raftstore-v2/src/router/response_channel.rs
  components/raftstore-v2/tests/integrations/mod.rs
  components/raftstore-v2/tests/integrations/test_read.rs
  components/raftstore/src/lib.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/read_queue.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13498 br: recovering_mark interface block tikv startup when tikv v6.3.0 connect to pd v6.2.0
  components/server/src/server.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note

#13504 br: recovering_mark interface block tikv startup when tikv v6.3.0 con…
  components/server/src/server.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none

#13507 Revert "tikv_util: introduce future channel (#13407)"
  components/tikv_util/Cargo.toml
  components/tikv_util/src/mpsc/batch.rs
  components/tikv_util/src/mpsc/future.rs
  components/tikv_util/src/mpsc/mod.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  tests/Cargo.toml
  tests/benches/channel/bench_channel.rs
  tests/benches/channel/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, cherry-pick-approved, release-note-none

#13514 copr: forbid empty pattern for regexp
  components/tidb_query_datatype/src/codec/error.rs
  components/tidb_query_expr/src/impl_regexp.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13506 raftstore, tikv_util: move QueryStats from raftstore to tikv_util component
  Cargo.lock
  components/backup/src/endpoint.rs
  components/backup/src/writer.rs
  components/cdc/src/observer.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/tests/integrations/test_basic_write.rs
  components/raftstore-v2/tests/integrations/test_life.rs
  components/raftstore-v2/tests/integrations/test_read.rs
  components/raftstore-v2/tests/integrations/test_status.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/metrics.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/replication_mode.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_controller.rs
  components/test_pd_client/Cargo.toml
  components/test_pd_client/src/pd.rs
  components/test_raftstore/src/util.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/store/mod.rs
  components/tikv_util/src/store/peer.rs
  components/tikv_util/src/store/query_stats.rs
  components/tikv_util/src/store/region.rs
  src/server/debug.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  tests/benches/misc/raftkv/mod.rs
  tests/failpoints/cases/test_transaction.rs
  tests/failpoints/cases/test_unsafe_recovery.rs
  tests/integrations/raftstore/test_conf_change.rs
  tests/integrations/raftstore/test_joint_consensus.rs
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_region_change_observer.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
  tests/integrations/raftstore/test_stats.rs
  tests/integrations/raftstore/test_unsafe_recovery.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13518 raftstore: Do not print error log for "region not exist but not tombstone"
  components/raftstore/src/errors.rs
  components/raftstore/src/store/fsm/store.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13496 cdc: Clean rawkv resolved ts code
  components/backup-stream/src/subscription_track.rs
  components/backup/src/endpoint.rs
  components/causal_ts/src/lib.rs
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/src/observer.rs
  components/cdc/tests/mod.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/resolver.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  src/config.rs
  src/server/node.rs
  src/storage/kv/test_engine_builder.rs
  src/storage/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#12946 Observer: add some metrics for the waiting queue of snapshot generator.
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/region.rs
  src/server/metrics.rs
  src/server/snap.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13509 engine_tirocks: add write batch and perf context
  components/engine_rocks/src/write_batch.rs
  components/engine_tirocks/Cargo.toml
  components/engine_tirocks/src/engine.rs
  components/engine_tirocks/src/lib.rs
  components/engine_tirocks/src/logger.rs
  components/engine_tirocks/src/perf_context.rs
  components/engine_tirocks/src/write_batch.rs
  components/raftstore/src/store/metrics.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13531 engine: batch delete files in ranges
  components/engine_rocks/src/misc.rs
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#13525 commands: use ReaderWithStats in flashback_to_version command
  src/storage/txn/actions/cleanup.rs
  src/storage/txn/actions/flashback_to_version.rs
  src/storage/txn/commands/flashback_to_version.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#13536 metrics: fix grafana expr for `tikv_gc_compaction_filtered`
  metrics/grafana/tikv_details.json
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none

#13538 engine: update rocksdb
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note-none

#13510 Bump version tag to `6.3.0`, in branch `release-6.3`
  Cargo.lock
  Cargo.toml
Labels: contribution, status/LGT1, size/XS, do-not-merge/cherry-pick-not-approved, release-note-none

#13545 *: upgrade jemalloc for release-5.4
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note

#13552 tikv_util: make LruCache sound
  components/tikv_util/src/lru.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13540 engine: fix performance issue of deleting files in ranges
  Cargo.lock
  components/engine_rocks/src/misc.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13521 storage: Rollback all locks to prevent from losing the pessimistic lock in flashback
  src/storage/txn/actions/flashback_to_version.rs
  tests/integrations/raftstore/test_flashback.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#13527 storage: remove histogram about locking key in prewrite
  src/storage/mvcc/metrics.rs
  src/storage/txn/actions/prewrite.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#13486 storage: Add new implementation of lock waiting queue
  Cargo.lock
  Cargo.toml
  src/storage/errors.rs
  src/storage/lock_manager/lock_wait_context.rs
  src/storage/lock_manager/lock_waiting_queue.rs
  src/storage/lock_manager/mod.rs
  src/storage/types.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13499 bump master version to v6.4.0-alpha
  Cargo.lock
  Cargo.toml
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note

#13495 raftstore-v2: add basic apply
  Cargo.lock
  components/batch-system/src/lib.rs
  components/raftstore-v2/Cargo.toml
  components/raftstore-v2/src/batch/apply.rs
  components/raftstore-v2/src/batch/mod.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/fsm/mod.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/query/mod.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/router/internal_message.rs
  components/raftstore-v2/tests/failpoints/mod.rs
  components/raftstore-v2/tests/failpoints/test_basic_write.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/mod.rs
  components/raftstore-v2/tests/integrations/test_basic_write.rs
  components/raftstore-v2/tests/integrations/test_life.rs
  components/raftstore-v2/tests/integrations/test_read.rs
  components/raftstore-v2/tests/integrations/test_status.rs
  components/raftstore/src/store/fsm/apply.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13487 *: Refine interfaces for TiFlash when using TiKV as a component
  components/encryption/src/manager/mod.rs
  src/config.rs
  src/server/service/diagnostics/mod.rs
  src/server/service/mod.rs
  src/storage/config_manager.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#13520 storage, raftstore, causal-ts: Get snapshot before raw put(delete) to ensure that causal ts provider flush correctly
  Cargo.lock
  components/backup/src/endpoint.rs
  components/causal_ts/Cargo.toml
  components/causal_ts/benches/tso.rs
  components/causal_ts/src/lib.rs
  components/causal_ts/src/observer.rs
  components/causal_ts/src/tso.rs
  components/cdc/src/endpoint.rs
  components/cdc/tests/failpoints/test_endpoint.rs
  components/cdc/tests/mod.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/pd.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/server/node.rs
  src/storage/mod.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/compare_and_swap.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_rawkv.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_transfer_leader.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#13560 storage/lock_manager: Add metrics to the new lock waiting queue
  src/storage/lock_manager/lock_waiting_queue.rs
  src/storage/metrics.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none
