Repository tikv/tikv, pull requests merged in 2022-11, with the labels that each got.

#13559 log-backup: set `checkpoint-ts -1` as sevice-safe-point when checkpoint advances
  components/backup-stream/src/checkpoint_manager.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-6.3

#13707 coprocessor_v2: fix incorrect shared library name
  src/coprocessor_v2/plugin_registry.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#13681 raftstore fix typo
  components/raftstore/src/store/peer_storage.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note

#13697 scheduler: Optimize CPU usage of waking up
  src/storage/lock_manager/lock_waiting_queue.rs
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13555 raftstore-v2: add snapshot basic logic in peer storage
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/src/router/imp.rs
  components/raftstore-v2/src/router/internal_message.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore/src/store/async_io/mod.rs
  components/raftstore/src/store/async_io/read.rs
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13699 fix typo
  src/read_pool.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note-none

#13703 *: upgrade jemalloc for release-5.4 (#13545)
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note

#13713 raft_client: Report store unreachable once until being connected again
  components/batch-system/src/metrics.rs
  components/batch-system/src/router.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/test_raftstore/src/common-test.toml
  metrics/grafana/tikv_details.json
  src/server/config.rs
  src/server/raft_client.rs
  src/server/server.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/server/raft_client.rs
Labels: status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note

#13698 txn_types: add info about last change to Lock and Write
  Cargo.lock
  Cargo.toml
  components/pd_client/src/util.rs
  components/raftstore/src/store/txn_ext.rs
  components/tikv_kv/src/lib.rs
  components/txn_types/src/lock.rs
  components/txn_types/src/write.rs
  src/storage/mod.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/types.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_split_region.rs
  tests/failpoints/cases/test_transaction.rs
  tests/failpoints/cases/test_transfer_leader.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_split_region.rs
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13594 raftstore: restrict the total write size of each apply round
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/apply.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, component/configuration, size/L, release-note

#13717 storage: calculate last_change_ts in acquire_pessimistic_lock
  components/txn_types/src/write.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13680 txn: Add lock-with-conflict support to acquire_pessimistic_lock
  src/server/service/kv.rs
  src/storage/errors.rs
  src/storage/lock_manager/lock_wait_context.rs
  src/storage/lock_manager/lock_waiting_queue.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/mod.rs
  src/storage/types.rs
  tests/failpoints/cases/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13645 copr, json: support json path range selection
  Cargo.lock
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/src/codec/mysql/json/binary.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_extract.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_modify.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_remove.rs
  components/tidb_query_datatype/src/codec/mysql/json/modifier.rs
  components/tidb_query_datatype/src/codec/mysql/json/path_expr.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#13727 apply: avoid unnecessary clone
  components/raftstore/src/store/fsm/apply.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13728 txn: set last_change_ts only on 6.5+ versions
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/sched_pool.rs
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13733 *: upgrade pprof-rs to v0.11
  Cargo.lock
  Cargo.toml
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#13695 *: resolve when flashback meets error in the first batch
  components/test_raftstore/src/util.rs
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/actions/flashback_to_version.rs
  src/storage/txn/commands/flashback_to_version.rs
  src/storage/txn/commands/flashback_to_version_read_phase.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/mod.rs
  tests/integrations/server/kv_service.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#13718 *: Fix link to TiDB Release Notes
  CHANGELOG.md
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note-none

#13739 bump version to 6.4.0
  Cargo.lock
  Cargo.toml
Labels: contribution, status/LGT1, size/XS, do-not-merge/cherry-pick-not-approved, release-note

#13108 cmd: fix raft engine ctl
  cmd/tikv-ctl/src/cmd.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#13744 storage: fix the flashback dead loop caused by a deleted key
  src/storage/mod.rs
  src/storage/txn/actions/flashback_to_version.rs
  src/storage/txn/commands/flashback_to_version_read_phase.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.4

#13652 tidb_query_datatype: Fix Geometry FieldType support
  components/tidb_query_datatype/src/codec/row/v2/compat_v1.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note-none

#13721 storage: calculate last_change_ts in prewrite
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/store.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13750 backup: udpate rusoto to support backup to ap-southeast-3
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.4

#13742 debugger: fix compacting raftdb with tikv-ctl
  src/server/debug.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note

#12972 raftstore: Introduce witness peer
  Cargo.toml
  components/raftstore-v2/src/operation/command/admin/conf_change.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/query/local.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/check_leader.rs
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/read.rs
  components/test_pd_client/src/pd.rs
  components/test_raftstore/src/util.rs
  components/tikv_util/src/store/mod.rs
  components/tikv_util/src/store/peer.rs
  components/tikv_util/src/store/region.rs
  src/server/raft_client.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_unsafe_recovery.rs
  tests/integrations/raftstore/test_witness.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#13740 bump version to 6.5.0-alpha
  Cargo.lock
  Cargo.toml
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note

#13762 cdc: remove deprecated config
  src/config.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#13749 storage: calculate last_change_ts in rollback
  src/storage/txn/actions/check_txn_status.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13759 txn: save last change info in write records
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/prewrite.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12839 cdc: set min-ts-interval to 200ms to reduce latency
  components/cdc/src/endpoint.rs
  src/config.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note

#13737 raftstore-v2: add proposal conflict checker
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/control.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/operation/command/write/simple_write.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/query/lease.rs
  components/raftstore-v2/src/operation/query/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/router/response_channel.rs
  components/raftstore-v2/tests/integrations/mod.rs
  components/raftstore-v2/tests/integrations/test_read.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13736 raftstore-v2: make generate snapshot works with checkpoint
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/src/router/imp.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore/src/store/async_io/read.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13765 Add curl command into docker image
  Dockerfile
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note

#13709 raftstore-v2: support tablet split
  components/batch-system/src/router.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/mod.rs
  components/raftstore-v2/tests/integrations/test_split.rs
  components/raftstore/src/store/config.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#13785 copr: fix _ pattern in like behavior for old collation
  components/tidb_query_datatype/src/codec/collation/charset.rs
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_expr/src/impl_like.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4

#13572 Push Json_valid to tikv
  components/tidb_query_expr/src/impl_json.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note

#13777 txn: add a new field `txn_source` in write and lock
  Cargo.lock
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/resolved_ts/src/cmd.rs
  components/txn_types/src/lock.rs
  components/txn_types/src/write.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#13799 cdc: run CheckLeader in a dedicate thread
  components/cdc/tests/failpoints/test_endpoint.rs
  components/cdc/tests/mod.rs
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, component/CDC, size/M, release-note

#13803 bump version to v5.3.4
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#13804 Revert "bump version to v5.3.4"
  Cargo.lock
  Cargo.toml
Labels: contribution, do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#13805 bump version to 5.3.4
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#13801 storage: avoid repeating unnecessary checks on flashback keys
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/read.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/actions/flashback_to_version.rs
  src/storage/txn/commands/flashback_to_version_read_phase.rs
  tests/integrations/raftstore/test_flashback.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13633 Protect Raft Engine Disk Usage
  Cargo.lock
  components/engine_panic/src/raft_engine.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/raft_engine.rs
  components/raft_log_engine/src/engine.rs
  components/server/src/server.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/sys/disk.rs
  components/tikv_util/src/sys/mod.rs
  etc/config-template.toml
  src/storage/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note

#13687 txn: Add batch-resumed mode for acquire_pessimistic_lock storage command
  components/txn_types/src/lib.rs
  components/txn_types/src/types.rs
  src/storage/lock_manager/lock_wait_context.rs
  src/storage/lock_manager/lock_waiting_queue.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/acquire_pessimistic_lock_resumed.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/compare_and_swap.rs
  src/storage/txn/commands/flashback_to_version.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pause.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/latch.rs
  src/storage/txn/mod.rs
  src/storage/txn/scheduler.rs
  src/storage/types.rs
  tests/failpoints/cases/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13767 read: fix panic on witness check
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/worker/read.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_witness.rs
  tests/integrations/raftstore/test_witness.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13807 *: update crossbeam-channel to avoid spin at sending side
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#13808 tests: refine the raftstore flashback tests
  tests/integrations/raftstore/test_flashback.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13768 cmd: support tikv-ctl to get the regions info within a given key range
  cmd/tikv-ctl/src/cmd.rs
  cmd/tikv-ctl/src/executor.rs
  cmd/tikv-ctl/src/main.rs
  cmd/tikv-ctl/src/util.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#13784 mvcc: skip accumulated locks by a second get
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13822 test: fix flaky witness test
  components/test_raftstore/src/cluster.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#13817 txn: make `txn_source` be u64 type
  Cargo.lock
  components/txn_types/src/lock.rs
  components/txn_types/src/write.rs
  src/storage/mvcc/mod.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/prewrite.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#13795 resolved_ts: remove the unused CDC sinker
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/lib.rs
  components/resolved_ts/src/observer.rs
  components/resolved_ts/src/sinker.rs
  components/resolved_ts/tests/mod.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13776 raftstore-v2: support send/recv tablet snapshot
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore/src/store/async_io/read.rs
  components/raftstore/src/store/snap.rs
  src/server/errors.rs
  src/server/mod.rs
  src/server/snap.rs
  src/server/tablet_snap.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13828 *: make flashback not aware of raftstore router
  components/tikv_kv/src/lib.rs
  components/tikv_util/src/sys/mod.rs
  src/server/raftkv.rs
  src/server/service/kv.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13819 mvcc: skip accumulated locks using seek in forward scanner
  src/storage/mvcc/reader/scanner/forward.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13702 backup: backup sub-ranges in one request
  components/backup/src/endpoint.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#13747 *: remove redundant code for prewrite and commit.
  components/test_raftstore/src/util.rs
  tests/integrations/resource_metering/test_read_keys.rs
  tests/integrations/server/kv_service.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#13830 server: wait for reset-to-version task completion
  src/server/reset_to_version.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-6.1

#13786 support restoring a batch of KV files
  components/external_storage/export/src/export.rs
  components/sst_importer/src/metrics.rs
  src/import/sst_service.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note

#13834 txn: revert "calculate last_change_ts in rollback"
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/txn/actions/check_txn_status.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13836 tikv_kv: make async_snapshot return future
  components/tikv_kv/src/btree_engine.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/mock_engine.rs
  components/tikv_kv/src/rocksdb_engine.rs
  src/lib.rs
  src/server/gc_worker/gc_worker.rs
  src/server/raftkv.rs
  src/storage/mod.rs
  tests/benches/misc/raftkv/mod.rs
  tests/failpoints/cases/test_coprocessor.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13840 mvcc: fix get_write may return Delete when skipping versions
  src/storage/mvcc/reader/reader.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13773 raftstore-v2: pd worker
  Cargo.lock
  components/raftstore-v2/Cargo.toml
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore-v2/src/lib.rs
  components/raftstore-v2/src/operation/command/admin/conf_change.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/pd.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/worker/mod.rs
  components/raftstore-v2/src/worker/pd/mod.rs
  components/raftstore-v2/src/worker/pd/region_heartbeat.rs
  components/raftstore-v2/src/worker/pd/split.rs
  components/raftstore-v2/src/worker/pd/store_heartbeat.rs
  components/raftstore-v2/src/worker/pd/update_max_timestamp.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/mod.rs
  components/raftstore-v2/tests/integrations/test_pd_heartbeat.rs
  components/raftstore-v2/tests/integrations/test_split.rs
  components/test_pd/src/mocker/service.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13833 scheduler: Support keeping some latches for another command when releasing latches.
  src/storage/txn/latch.rs
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13843 chore: bump version to 6.1.3
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, release-note

#13845 reader: fix the invisible write record flashback bug
  src/storage/mvcc/reader/reader.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13734 raftstore-v2: support apply snapshot
  components/engine_test/src/lib.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/operation/ready/async_writer.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/test_conf_change.rs
  components/raftstore/src/store/async_io/read.rs
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/snap.rs
  src/server/tablet_snap.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13820 storage: skip accumulated locks on non-existing keys
  components/txn_types/src/lock.rs
  components/txn_types/src/write.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/prewrite.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13842 storage: introduce hint_min_ts to speed up the flashback progress
  components/cdc/src/old_value.rs
  components/tikv_kv/src/cursor.rs
  components/tikv_kv/src/lib.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/mod.rs
  src/storage/txn/actions/flashback_to_version.rs
  src/storage/txn/commands/flashback_to_version.rs
  src/storage/txn/commands/flashback_to_version_read_phase.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13826 scheduler: Support resuming after meeting lock for AcquirePessimisticLock requests
  Cargo.lock
  components/test_raftstore/src/util.rs
  src/server/service/kv.rs
  src/storage/errors.rs
  src/storage/lock_manager/lock_wait_context.rs
  src/storage/lock_manager/lock_waiting_queue.rs
  src/storage/mod.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/scheduler.rs
  src/storage/types.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/server/lock_manager.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13753 tikv_utils: make retry returns a `Send` future even the result type is `!Sync`
  components/tikv_util/src/stream.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13852 filter out invalid k-v events when applying kv-file on PiTR
  src/import/sst_service.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note

#13796 cdc: filter out the event cause by cdc write
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/src/service.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#13850 cop: support batch coprocessor processing in tikv
  Cargo.lock
  src/coprocessor/endpoint.rs
  tests/integrations/coprocessor/test_select.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13857 cop: set the error field properly for the batch cop task response
  src/coprocessor/endpoint.rs
  tests/integrations/coprocessor/test_select.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, feature/developing

#13859 cop: disable the coprocessor cache path for batched task processing
  src/coprocessor/endpoint.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, feature/developing

#13854 tikv_kv: make async_write return stream
  Cargo.lock
  components/tikv_kv/src/btree_engine.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/mock_engine.rs
  components/tikv_kv/src/rocksdb_engine.rs
  components/tikv_util/src/future.rs
  components/tikv_util/src/mpsc/future.rs
  src/server/gc_worker/gc_worker.rs
  src/server/raftkv.rs
  src/storage/mod.rs
  src/storage/raw/raw_mvcc.rs
  src/storage/txn/scheduler.rs
  tests/Cargo.toml
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/misc/raftkv/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13810 log-backup: implement subscribe flushing
  components/backup-stream/src/checkpoint_manager.rs
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/errors.rs
  components/backup-stream/src/service.rs
  components/backup-stream/tests/mod.rs
  components/error_code/src/backup_stream.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13802 pitr: support skipping download kv files when pitr
  components/backup-stream/tests/mod.rs
  components/error_code/src/sst_importer.rs
  components/external_storage/export/src/export.rs
  components/external_storage/src/lib.rs
  components/sst_importer/src/config.rs
  components/sst_importer/src/errors.rs
  components/sst_importer/src/sst_importer.rs
  components/tikv_util/src/codec/stream_event.rs
  src/import/sst_service.rs
  tests/integrations/config/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note
