Repository tikv/tikv, pull requests merged in 2022-10, with the labels that each got.

#13578 bump version to 5.4.3
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#13580 rawkv: Fix unstable test-region-merge
  components/causal_ts/src/tso.rs
  tests/failpoints/cases/test_rawkv.rs
Labels: status/LGT2, status/can-merge, size/S, release-note

#13375 raftstore-v2: implement local read for raftstore-v2
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/bootstrap.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/operation/command/write/simple_write.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/query/lease.rs
  components/raftstore-v2/src/operation/query/local.rs
  components/raftstore-v2/src/operation/query/mod.rs
  components/raftstore-v2/src/operation/query/replica.rs
  components/raftstore-v2/src/operation/ready/async_writer.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/src/router/imp.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/src/router/mod.rs
  components/raftstore-v2/src/router/response_channel.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/test_read.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/read.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#13561 raftstore: add metrics for slow ready handle diagnosis
  Cargo.lock
  components/batch-system/Cargo.toml
  components/batch-system/src/lib.rs
  components/batch-system/src/metrics.rs
  components/batch-system/src/router.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/lib.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/msg.rs
  etc/error_code.toml
Labels: status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note-none

#13197 log-backup: remove checkpoint V2 from codebase
  components/backup-stream/src/checkpoint_manager.rs
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/metadata/client.rs
  components/backup-stream/src/metadata/keys.rs
  components/backup-stream/src/metadata/test.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/subscription_track.rs
  components/backup-stream/tests/mod.rs
  src/config.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#13209 trace peers' availability info on leader side
  Cargo.lock
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  src/server/service/kv.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#13541 *: Add a Raft admin command to put the region into a locking flashback state.
  Cargo.lock
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/test_raftstore/src/cluster.rs
  src/server/metrics.rs
  src/server/service/kv.rs
  tests/integrations/raftstore/test_flashback.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#13584 storage/lock_manager: Avoid stale entries in the new lock waiting queue
  Cargo.lock
  Cargo.toml
  src/storage/lock_manager/lock_wait_context.rs
  src/storage/lock_manager/lock_waiting_queue.rs
  src/storage/metrics.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13469 Json contains push tikv
  components/tidb_query_datatype/src/codec/mysql/json/binary.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_contains.rs
  components/tidb_query_datatype/src/codec/mysql/json/mod.rs
  components/tidb_query_expr/src/impl_json.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XL, release-note

#13568 local_reader: solve the race condition when acquiring the snapshot
  components/raftstore-v2/src/operation/query/local.rs
  components/raftstore-v2/src/operation/query/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/read.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_local_read.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#13598 local_reader: solve the race condition when acquiring the snapshot
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/read.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_local_read.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note

#13597 causal-ts: rename `available-interval` to `alloc-ahead-buffer`
  components/causal_ts/src/config.rs
  components/causal_ts/src/tso.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#13604 bump version to 6.1.2
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, release-note

#13605 local_reader: release snapshot properly
  components/raftstore/src/store/worker/read.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#13611 local_reader: release snapshot properly
  components/raftstore/src/store/worker/read.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#13557 *: introduce the two-phase kv_flashback_to_version
  Cargo.lock
  components/error_code/src/raftstore.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/util.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  src/server/service/kv.rs
  src/storage/txn/actions/flashback_to_version.rs
  tests/integrations/raftstore/test_flashback.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13618 raftstore: move check_flashback_state to after check_region_epoch
  components/raftstore/src/store/fsm/peer.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13600 test: Fix incorrect rawkv case test_raw_put_key_guard
  tests/failpoints/cases/test_rawkv.rs
  tests/failpoints/cases/test_storage.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13615 tests: refine the flashback raftstore test
  components/test_raftstore/src/cluster.rs
  etc/error_code.toml
  tests/integrations/raftstore/test_flashback.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13579 resolved_ts: track 1PC
  components/raftstore/src/store/util.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/tests/failpoints/mod.rs
  components/resolved_ts/tests/integrations/mod.rs
  components/resolved_ts/tests/mod.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.1

#13626 raftstore-v2: test_read is not stable
  components/raftstore-v2/src/operation/query/local.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#13636 test: Add rawkv empty key/value test
  src/storage/mod.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#13565 raftstore-v2: add read handling after apply
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/query/lease.rs
  components/raftstore-v2/src/operation/query/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/test_read.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13649 log-backup: using `std::fs` for reading local files
  components/backup-stream/src/router.rs
  components/backup-stream/src/utils.rs
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note

#13661 tikv_util: fix panic when there are multiple cgroup2 mountinfos
  components/tikv_util/src/sys/cgroup.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-6.1

#13659 mvcc: log the mvcc key if default not found error happens
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/mod.rs
Labels: type/enhancement, status/LGT2, status/can-merge, size/S, release-note-none

#13631 raftstore-v2: support conf change
  components/raftstore-v2/Cargo.toml
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/command/admin/conf_change.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/operation/command/write/simple_write.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/query/mod.rs
  components/raftstore-v2/src/operation/ready/async_writer.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/src/router/internal_message.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/src/router/mod.rs
  components/raftstore-v2/src/router/response_channel.rs
  components/raftstore-v2/tests/failpoints/test_basic_write.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/mod.rs
  components/raftstore-v2/tests/integrations/test_basic_write.rs
  components/raftstore-v2/tests/integrations/test_conf_change.rs
  components/raftstore-v2/tests/integrations/test_read.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/region_meta.rs
  components/raftstore/src/store/util.rs
  tests/integrations/raftstore/test_replication_mode.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13602 tests: fix one flaky testcase
  tests/integrations/raftstore/test_snap_recovery.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#13657 cdc, resolved_ts: add leadership resolver
  components/cdc/Cargo.toml
  components/cdc/src/endpoint.rs
  components/cdc/tests/failpoints/test_endpoint.rs
  components/raftstore/src/store/util.rs
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/test_raftstore/src/server.rs
Labels: status/LGT2, status/can-merge, component/CDC, size/XXL, release-note-none

#13556 raftstore: warm up entry cache before leadership transfer
  components/backup-stream/tests/mod.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/common-test.toml
  tests/failpoints/cases/test_transfer_leader.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#13609 raftstore: introduce an observer to control write apply state
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  tests/integrations/raftstore/test_snap.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#13447 storage, lock_manager: Use the new lock waiting queue instead of WaiterManager to handle pessimistic lock waking up
  Cargo.lock
  components/resolved_ts/src/cmd.rs
  components/test_coprocessor/src/fixture.rs
  components/test_coprocessor/src/store.rs
  components/test_storage/src/sync_storage.rs
  metrics/grafana/tikv_details.json
  src/config.rs
  src/coprocessor_v2/raw_storage_impl.rs
  src/import/duplicate_detect.rs
  src/server/gc_worker/gc_worker.rs
  src/server/lock_manager/config.rs
  src/server/lock_manager/deadlock.rs
  src/server/lock_manager/metrics.rs
  src/server/lock_manager/mod.rs
  src/server/lock_manager/waiter_manager.rs
  src/server/server.rs
  src/storage/lock_manager/lock_wait_context.rs
  src/storage/lock_manager/lock_waiting_queue.rs
  src/storage/lock_manager/mod.rs
  src/storage/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/check_txn_status.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/compare_and_swap.rs
  src/storage/txn/commands/flashback_to_version.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pause.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_storage.rs
  tests/failpoints/cases/test_transaction.rs
  tests/failpoints/cases/test_ttl.rs
  tests/integrations/config/dynamic/pessimistic_txn.rs
  tests/integrations/resource_metering/test_suite/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13664 raftstore: make sure PrepareFlashback will get the latest region meta
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/util.rs
  components/test_raftstore/src/cluster.rs
  tests/integrations/raftstore/test_flashback.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13666 cdc, resolved_ts: reduce allocation in leadership resolver
  components/cdc/Cargo.toml
  components/cdc/src/endpoint.rs
  components/raftstore/src/store/util.rs
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/lib.rs
  components/resolved_ts/src/util.rs
Labels: status/LGT2, status/can-merge, component/CDC, size/XL, release-note-none

#13686 log-backup: added `Debug` output of error to report log
  components/backup-stream/src/errors.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#13674 log-backup: fix slow flush in GCP
  Cargo.lock
  components/cloud/gcp/Cargo.toml
  components/cloud/gcp/src/gcs.rs
  components/cloud/gcp/src/lib.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#13489 readpool: update yatp and add new metrics for unified-read-pool
  Cargo.lock
  Cargo.toml
  components/server/src/server.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13678 Raftstore-v2: tablet factory supports temporary split path
  components/engine_test/src/lib.rs
  components/engine_traits/src/engine.rs
  src/server/engine_factory.rs
  src/server/engine_factory_v2.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#13693 *: prepare for raftstore-v2's split
  components/engine_panic/src/checkpoint.rs
  components/engine_panic/src/lib.rs
  components/engine_rocks/src/checkpoint.rs
  components/engine_rocks/src/lib.rs
  components/engine_traits/src/checkpoint.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/lib.rs
  components/raftstore/src/store/fsm/apply.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none
