Repository tikv/tikv, pull requests merged in 2022-03, with the labels that each got.

#11985 raftstore: revert pessimistic locks status when failing to propose PrepareMerge
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/txn_ext.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_transaction.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#12037 copr: support push bit column down
  components/tidb_query_aggr/src/util.rs
  components/tidb_query_datatype/src/codec/chunk/column.rs
  components/tidb_query_datatype/src/def/eval_type.rs
  components/tidb_query_expr/src/impl_cast.rs
  components/tidb_query_expr/src/types/expr_builder.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12058 split_controller: add more sample function test cases
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12056 copr: fix greatest/least time/date args type
  components/tidb_query_expr/src/impl_compare.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#12050 cdc: advancing resolved ts correctly for clusters with tiflash
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/resolved_ts/src/advance.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12077 *: bump master branch version to v6.0.0-alpha
  Cargo.lock
  Cargo.toml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#11553 *: Add TruncateManager and TruncateWorker
  Cargo.lock
  cmd/tikv-ctl/src/executor.rs
  src/server/debug.rs
  src/server/mod.rs
  src/server/reset_to_version.rs
  src/server/service/debug.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#11763 TiKV supports buckets
  components/raftstore/src/coprocessor/config.rs
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/coprocessor/split_check/mod.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/split_check.rs
  components/tikv_util/src/time.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/XL, release-note

#12036 api_version: Codec for RawKV key
  Cargo.lock
  components/api_version/Cargo.toml
  components/api_version/src/api_v2.rs
  components/api_version/src/lib.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#12066 *: fix some typos
  CHANGELOG.md
  README.md
  components/api_version/src/lib.rs
  components/batch-system/src/batch.rs
  components/cdc/src/channel.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/observer.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cloud/azure/src/azblob.rs
  components/engine_traits/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/S, release-note-none

#12054 raftstore: fix stale message cause panic
  components/raftstore/src/store/fsm/store.rs
  tests/integrations/raftstore/test_merge.rs
Labels: sig/raft, status/LGT2, type/bugfix, status/can-merge, size/M, release-note

#12038 raftstore: ignore async fetch result when the peer is pending removed
  Cargo.lock
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/worker/raftlog_fetch.rs
  tests/failpoints/cases/test_async_fetch.rs
  tests/integrations/raftstore/test_transport.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12101 *: remove part about wechat in doc
  CONTRIBUTING.md
  README.md
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none

#12095 engine: upgrade raft engine
  Cargo.lock
  Cargo.toml
  components/concurrency_manager/Cargo.toml
  components/encryption/src/io.rs
  components/file_system/Cargo.toml
  components/raft_log_engine/src/engine.rs
  components/raftstore/Cargo.toml
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#12096 *: Fix possible undefined behavior for transmuting vec
  Cargo.lock
  components/concurrency_manager/Cargo.toml
  components/concurrency_manager/src/lib.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/memory.rs
  components/txn_types/src/timestamp.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#12102 github: Remove the pingcap/tidb-ansible from the PR template
  .github/pull_request_template.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#12108 copr: extract reschedule to inject a fail point
  components/tidb_query_executors/src/runner.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#11883 raftstore: reactivate in-memory pessimistic locking when leader transfer fails
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/txn_ext.rs
  tests/failpoints/cases/test_transaction.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12115 *: check memory locks for replica read only on the leader
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/peer.rs
  src/server/raftkv.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/L, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#10689 copr: add projection
  components/tidb_query_common/src/metrics.rs
  components/tidb_query_datatype/src/codec/data_type/vector.rs
  components/tidb_query_executors/src/lib.rs
  components/tidb_query_executors/src/projection_executor.rs
  components/tidb_query_executors/src/runner.rs
  components/tidb_query_executors/src/selection_executor.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note

#12018 raftstore: adjust raft max msg size dynamically
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/peer.rs
  tests/integrations/config/dynamic/raftstore.rs
Labels: status/LGT2, status/can-merge, size/S, release-note

#12098 *: update deps
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-ctl/src/util.rs
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/external_storage/export/Cargo.toml
  components/file_system/Cargo.toml
  components/pd_client/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/resource_metering/Cargo.toml
  components/security/Cargo.toml
  components/server/Cargo.toml
  components/server/src/signal_handler.rs
  components/sst_importer/Cargo.toml
  components/test_backup/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_pd/src/server.rs
  components/test_raftstore/Cargo.toml
  components/test_util/Cargo.toml
  components/tikv_util/Cargo.toml
  src/server/status_server/profile.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/mod.rs
  tests/Cargo.toml
  tests/integrations/coprocessor/test_analyze.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#12122 tests: make raftstore tests about transactions more stable
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/server.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12008 metrics: support multi k8s in grafana dashboards
  metrics/grafana/performance_read.json
  metrics/grafana/performance_write.json
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_fast_tune.json
  metrics/grafana/tikv_raw.json
  metrics/grafana/tikv_summary.json
  metrics/grafana/tikv_trouble_shooting.json
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XXL, release-note

#12078 storage: set in-memory pessimistic lock feature gate to 6.0.0
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/node.rs
  src/storage/mod.rs
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12124 raftstore,cdc: pass leader transferee to cdc observer
  components/cdc/src/observer.rs
  components/cdc/tests/failpoints/test_register.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/resolved_ts/src/observer.rs
  src/server/lock_manager/deadlock.rs
Labels: status/LGT2, status/can-merge, component/CDC, size/L, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#12133 config: simplify handling of nullable configurations
  components/online_config/online_config_derive/src/lib.rs
  components/online_config/src/lib.rs
  components/server/src/server.rs
  components/tikv_util/src/config.rs
  src/config.rs
  src/storage/config.rs
  src/storage/kv/test_engine_builder.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11974 raftstore: support dynamic adjust max_batch_size
  components/batch-system/src/batch.rs
  components/batch-system/src/config.rs
  components/batch-system/src/test_runner.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/refresh_config.rs
  src/config.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/config/test_config_client.rs
  tests/integrations/raftstore/test_scale_pool.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#12047 server: disallow coexist of raft engine and raftdb
  components/server/src/raft_engine_switch.rs
  components/server/src/server.rs
  components/tikv_util/src/config.rs
  src/config.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-5.4

#12089 *: add more metrics and logs for in-memory pessimistic locking
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/txn_ext.rs
  metrics/grafana/tikv_details.json
  src/storage/metrics.rs
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12126 *: notify snapshot apply
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/worker/region.rs
  components/test_raftstore/src/cluster.rs
  src/import/sst_service.rs
  tests/failpoints/cases/test_conf_change.rs
  tests/failpoints/cases/test_replica_stale_read.rs
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/raftstore/test_hibernate.rs
  tests/integrations/raftstore/test_merge.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12123 txn: Fix assertion fail on non-pessimistic key with conflict
  src/storage/txn/commands/prewrite.rs
Labels: sig/transaction, status/LGT2, type/bugfix, status/can-merge, size/L, release-note-none

#12145 cmd: link c++ explicitly
  Cargo.lock
  cmd/build.rs
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-server/Cargo.toml
  components/engine_rocks/Cargo.toml
  scripts/check-bins.py
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12049 Fix logic of error string match in `bad-ssts`
  cmd/tikv-ctl/src/cmd.rs
  cmd/tikv-ctl/src/main.rs
  cmd/tikv-ctl/src/util.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/L, release-note, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#12087 APIV2: Implement RawMvccSnapshot & RawMvccIterator
  src/storage/mod.rs
  src/storage/raw/mod.rs
  src/storage/raw/raw_mvcc.rs
  src/storage/raw/store.rs
Labels: status/LGT2, status/can-merge, first-time-contributor, size/XL, release-note

#12129 *: add tip in contributing.md
  CONTRIBUTING.md
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none

#12052 dr-ausosync: report min resolved ts
  Cargo.lock
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/pd.rs
  components/resolved_ts/tests/integrations/mod.rs
  components/test_raftstore/src/pd.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12097 txn: support read-consistency read with tso checking
  Cargo.lock
  components/backup/src/endpoint.rs
  components/concurrency_manager/Cargo.toml
  components/concurrency_manager/benches/lock_table.rs
  components/txn_types/src/lib.rs
  components/txn_types/src/lock.rs
  src/coprocessor/endpoint.rs
  src/server/raftkv.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
Labels: sig/transaction, status/LGT2, status/can-merge, size/XXL, release-note

#12153 config: enable in-memory pessimistic locks by default
  components/cdc/tests/integrations/test_cdc.rs
  etc/config-template.toml
  src/server/lock_manager/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#12156 cdc: don't emit resolved timestamps before scan
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/tests/failpoints/test_endpoint.rs
Labels: status/LGT2, type/bugfix, status/can-merge, component/CDC, needs-cherry-pick-4.0, size/L, needs-cherry-pick-5.0, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#12169 cdc: add a metrics for count of pending tasks
  components/cdc/src/endpoint.rs
  components/cdc/src/metrics.rs
  components/tikv_util/src/worker/pool.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#12163 raft_log_engine: fix managedfs create encrypted file
  components/raft_log_engine/src/engine.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#12141 config: limit backup workers cap
  src/config.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#12165 cdc: remove useless deps and fix typos
  Cargo.lock
  components/cdc/Cargo.toml
  components/cdc/src/endpoint.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#12068 storage: support scale store scheduler pool size
  Cargo.lock
  components/batch-system/src/batch.rs
  components/server/src/server.rs
  components/tikv_kv/src/rocksdb_engine.rs
  components/tikv_util/src/worker/pool.rs
  components/tikv_util/src/yatp_pool/future_pool.rs
  components/tikv_util/src/yatp_pool/mod.rs
  src/config.rs
  src/read_pool.rs
  src/storage/config.rs
  src/storage/config_manager.rs
  src/storage/kv/test_engine_builder.rs
  src/storage/mod.rs
  src/storage/txn/sched_pool.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_storage.rs
Labels: component/storage, status/LGT2, status/can-merge, size/XXL, release-note

#12179 *: update jemalloc version to fix profiling problem
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12189 split_controller: refine and add some test cases for sample function
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12151 Foreground Quota Limiter: limit the cpu, bandwidth to provide stable QPS
  Cargo.lock
  components/server/src/server.rs
  components/test_coprocessor/src/fixture.rs
  components/test_raftstore/src/server.rs
  components/tidb_query_executors/Cargo.toml
  components/tidb_query_executors/src/runner.rs
  components/tikv_kv/src/stats.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/lib.rs
  components/tikv_util/src/metrics/mod.rs
  components/tikv_util/src/quota_limiter.rs
  etc/config-template.toml
  metrics/grafana/tikv_details.json
  src/config.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/statistics/analyze.rs
  src/server/node.rs
  src/server/server.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/txn/scheduler.rs
  tests/benches/coprocessor_executors/util/mod.rs
  tests/integrations/resource_metering/test_cpu.rs
  tests/integrations/resource_metering/test_read_keys.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, sig/engine, size/XXL, release-note

#11783 UnifiedReadPool: support adjusting the pool size dynamically
  components/server/src/server.rs
  src/config.rs
  src/read_pool.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#12076 raftstore: drop raft message by replication state
  components/raftstore/src/errors.rs
  components/raftstore/src/store/async_io/write_tests.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/transport.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/pd.rs
  components/test_raftstore/src/transport_simulate.rs
  src/server/raft_client.rs
  src/server/transport.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_replication_mode.rs
  tests/integrations/server/raft_client.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12184 copr: return buckets version for unary call
  components/test_raftstore/src/cluster.rs
  src/coprocessor/endpoint.rs
  tests/integrations/coprocessor/test_select.rs
Labels: sig/transaction, status/LGT2, status/can-merge, size/M, release-note-none

#12019 tikv-ctl: support raft engine ctl
  Cargo.lock
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-ctl/src/main.rs
  components/encryption/src/io.rs
  components/raft_log_engine/Cargo.toml
  components/raft_log_engine/src/engine.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12157 dr-ausosync: make report interval configurable
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/worker/pd.rs
  components/resolved_ts/tests/failpoints/mod.rs
  components/resolved_ts/tests/integrations/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12190 resolved_ts: fix oom and add more metrics
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/metrics.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12167 avoid to banish region leaders when rolling upgrade
  components/raftstore/src/store/fsm/peer.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_hibernate.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12060 rocksdb: use new pipelined-write to replace multibatch-write
  Cargo.lock
  components/engine_panic/src/write_batch.rs
  components/engine_rocks/src/event_listener.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_rocks/src/write_batch.rs
  components/engine_traits/src/write_batch.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  etc/config-template.toml
  src/config.rs
  src/server/debug.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: component/rocksdb, status/LGT2, status/can-merge, size/XXL, release-note

#12201 add vdso to the pprof blocklist
  src/server/status_server/profile.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note

#12186 raftstore:Fix memory metrics overflow on raft msgs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_metrics_overflow.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-6.0

#12181 do not force compact unreplicated entries
  components/raftstore/src/store/fsm/peer.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-6.0

#12237 raftstore: validate bucket config only when it's enabled
  components/raftstore/src/coprocessor/config.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, affects-6.0, needs-cherry-pick-6.0

#12219 Quota limiter: make method to delay cpu more precise
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  components/tikv_util/src/quota_limiter.rs
  etc/config-template.toml
  src/config.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, sig/engine, size/L, release-note-none, affects-6.0, needs-cherry-pick-6.0

#12244 resolved_ts: fix shutdown panic
  components/resolved_ts/src/endpoint.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note, needs-cherry-pick-6.0

#12152 metrics: remove the incorrect rate() for worker pending tasks
  metrics/alertmanager/tikv.accelerate.rules.yml
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_fast_tune.json
Labels: status/LGT2, status/can-merge, size/XS, release-note, needs-cherry-pick-6.0

#12168 raftstore: report buckets to pd
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/pd_client/src/metrics.rs
  components/pd_client/src/util.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_check.rs
  components/raftstore/src/store/worker/split_controller.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/pd.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_stats.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#12252 res_meter: fix assertion failure
  components/resource_metering/src/model.rs
  components/resource_metering/src/reporter/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-6.0

#12263 Update procinfo-rs to support pid status parse in kernel 5.x
  Cargo.lock
  Cargo.toml
  components/resource_metering/Cargo.toml
  components/tikv_util/Cargo.toml
  tests/Cargo.toml
Labels: status/LGT2, type/bugfix, status/can-merge, size/S, release-note-none, affects-6.0, needs-cherry-pick-6.0

#12264 Quota limiter: increase refill duration to avoid much context switch cost
  components/tikv_util/src/quota_limiter.rs
Labels: status/LGT2, status/can-merge, sig/engine, size/S, release-note-none, affects-6.0, needs-cherry-pick-6.0

#12262 cdc: remove downstreams correctly when uninitialized
  components/cdc/src/delegate.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/M, release-note-none, affects-6.0, needs-cherry-pick-6.0

#12251 raftstore: only persist merge target if the merge is known to be succeeded
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/cluster.rs
  tests/failpoints/cases/test_merge.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#12241 cdc: split the initializer from the endpoint
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/src/lib.rs
Labels: status/LGT2, status/can-merge, component/CDC, size/XXL, release-note-none

#12280 storage: send old value to CDC after in-memory pessimistic locking
  components/cdc/tests/integrations/test_cdc.rs
  components/tikv_kv/src/lib.rs
  src/server/raftkv.rs
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-6.0

#12250 server: fix issues with critical config check
  src/config.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-6.0

#12203 *: update grpcio
  Cargo.lock
  components/tikv_util/src/timer.rs
  tests/failpoints/cases/test_storage.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-6.0

#12270 Storage: remove unnecessary `multi` attribute in `PointerGetter`
  src/storage/mod.rs
  src/storage/mvcc/reader/point_getter.rs
  src/storage/txn/store.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/L, release-note

#12301 engine: update rust-rocksdb
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#12247 raftstore:Fix append log entry oom
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/mod.rs
  metrics/grafana/tikv_details.json
  src/server/service/kv.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note

#12164 config:consider config change in readstats
  components/raftstore/src/store/worker/split_config.rs
  components/raftstore/src/store/worker/split_controller.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note

#12300 raftstore: ignore stale read states
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/read_queue.rs
  tests/integrations/raftstore/test_replica_read.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#12099 rawkv: causal timestamp
  Cargo.lock
  Cargo.toml
  components/api_version/src/api_v2.rs
  components/api_version/src/lib.rs
  components/causal_ts/Cargo.toml
  components/causal_ts/src/config.rs
  components/causal_ts/src/errors.rs
  components/causal_ts/src/lib.rs
  components/causal_ts/src/metrics.rs
  components/causal_ts/src/observer.rs
  components/causal_ts/src/tso.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/error_code/src/causal_ts.rs
  components/error_code/src/lib.rs
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/pd_client/src/tso.rs
  components/resolved_ts/src/cmd.rs
  components/server/Cargo.toml
  components/server/src/server.rs
  components/test_pd/src/server.rs
  components/test_raftstore/src/pd.rs
  components/tikv_kv/src/btree_engine.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/rocksdb_engine.rs
  components/tikv_util/src/worker/pool.rs
  components/txn_types/src/timestamp.rs
  src/config.rs
  src/server/raftkv.rs
  src/storage/kv/test_engine_builder.rs
  src/storage/mod.rs
  tests/Cargo.toml
  tests/integrations/config/mod.rs
  tests/integrations/pd/test_rpc_client.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#12309 Fix test_delegate_subscribe_unsubscribe flaking test
  components/cdc/src/delegate.rs
Labels: status/LGT2, status/can-merge, component/CDC, size/S, release-note-none, needs-cherry-pick-6.0
