Repository tikv/tikv, pull requests merged in 2022-02, with the labels that each got.

#11928 engine: enable raft engine by default
  Cargo.lock
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/M, release-note

#11922 gc_worker: Limit the key range to scan for GcKeys tasks
  src/server/gc_worker/gc_worker.rs
Labels: sig/transaction, status/LGT2, status/can-merge, size/L, release-note-none

#11063 raftstore: TransferLeader support multiple target peers
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/src/pd.rs
  components/test_raftstore/src/util.rs
  tests/integrations/raftstore/test_conf_change.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#11934 raftstore: remove the leaders field of `StoreMeta`
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
Labels: type/enhancement, status/LGT2, status/can-merge, size/S, release-note-none

#11409 raftstore: Fetch raft log in async manner
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/raft_engine.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/raftlog_fetch.rs
  components/test_raftstore/src/util.rs
  metrics/grafana/tikv_details.json
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_async_fetch.rs
  tests/integrations/raftstore/test_compact_log.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#11874 Thix/bump v5.4.0
  Cargo.lock
  Cargo.toml
Labels: size/XS, do-not-merge/cherry-pick-not-approved, release-note

#11935 copr: add quarter function
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note

#11938 correct a metric about compaction filter
  metrics/grafana/tikv_details.json
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_worker.rs
  src/server/metrics.rs
  src/storage/mvcc/txn.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11961 raft: Fix possible panic on entries fetched callback
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#11952 split_controller: refine the sample function and add some comments
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#11936 metrics: fix grid position in TiKV Details
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#11896 cdc: capture old value from txn layer dynamically
  Cargo.lock
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/lib.rs
  components/cdc/src/old_value.rs
  components/cdc/src/service.rs
  components/cdc/tests/failpoints/test_endpoint.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/raftstore/src/store/worker/read.rs
Labels: status/LGT2, status/can-merge, component/CDC, size/XXL, release-note-none

#11967 split_controller: reorganize the structs and add more comments
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11970 copr: support push down mod, sysdate to TiKV
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
  components/tidb_query_expr/src/impl_arithmetic.rs
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note

#11758 raftstore: propose in-memory pessimistic locks before prepare merge
  components/error_code/src/raftstore.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/txn_ext.rs
  components/test_raftstore/src/cluster.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_split_region.rs
  tests/failpoints/cases/test_transaction.rs
  tests/failpoints/cases/test_transfer_leader.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_split_region.rs
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11972 stats_monitor: reformat stats_monitor tick
  components/raftstore/src/store/worker/pd.rs
  tests/integrations/raftstore/test_stats.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11980 copr: support extract scalar value from bit
  components/tidb_query_expr/src/types/expr_builder.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#11978 diagnosis: support get cpu time of threads for macOS
  Cargo.lock
  components/resource_metering/src/recorder/sub_recorder/cpu.rs
  components/resource_metering/tests/recorder_test.rs
  components/tikv_util/src/metrics/process_linux.rs
  components/tikv_util/src/sys/cpu_time.rs
  components/tikv_util/src/sys/thread.rs
  tests/integrations/resource_metering/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#11954 rust: update toolchain to fix missing rls
  Cargo.lock
  cmd/tikv-ctl/src/util.rs
  components/case_macros/src/lib.rs
  components/concurrency_manager/src/lib.rs
  components/engine_rocks/src/table_properties.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/security/src/lib.rs
  components/test_pd/src/mocker/leader_change.rs
  components/test_pd/src/mocker/service.rs
  components/test_pd/src/mocker/split.rs
  components/test_raftstore/src/util.rs
  components/tidb_query_aggr/src/impl_avg.rs
  components/tidb_query_aggr/src/impl_bit_op.rs
  components/tidb_query_aggr/src/impl_count.rs
  components/tidb_query_aggr/src/impl_first.rs
  components/tidb_query_aggr/src/impl_max_min.rs
  components/tidb_query_aggr/src/impl_sum.rs
  components/tidb_query_aggr/src/impl_variance.rs
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_datatype/src/codec/mysql/decimal.rs
  components/tidb_query_datatype/src/codec/mysql/duration.rs
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
  components/tidb_query_executors/src/slow_hash_aggr_executor.rs
  components/tidb_query_executors/src/top_n_executor.rs
  components/tidb_query_expr/src/impl_compare_in.rs
  components/tikv_util/src/logger/formatter.rs
  components/txn_types/src/timestamp.rs
  rust-toolchain
  tests/integrations/raftstore/test_replica_read.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11971 raftstore: increase batch for raftlog-gc-worker (#11405)
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/raft_engine.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note

#11991 cdc: separate resolved region outliers
  components/cdc/src/endpoint.rs
  components/resolved_ts/src/advance.rs
  src/server/service/kv.rs
Labels: status/LGT2, type/bugfix, status/can-merge, component/CDC, needs-cherry-pick-4.0, size/XL, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#11995 *: collect key ranges for the read request in ResourceMeteringTag
  components/resource_metering/src/lib.rs
  components/resource_metering/src/model.rs
  components/resource_metering/src/recorder/sub_recorder/cpu.rs
  components/resource_metering/src/reporter/mod.rs
  components/txn_types/src/types.rs
  src/coprocessor/endpoint.rs
  src/storage/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11986 split_controller: move sample_threshold check out of the split_key iteration
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#11987 copr: support insertutf8 and lowerutf8
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12003 copr: support rest greatest/least functions
  Cargo.lock
  components/tidb_query_executors/src/runner.rs
  components/tidb_query_expr/src/impl_compare.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#12006 raftstore: force compact with gentleness
  components/raftstore/src/store/fsm/peer.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#12010 split_controller: refine the LOAD_BASE_SPLIT_EVENT metrics label definitions
  components/raftstore/src/store/worker/split_controller.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#12013 split_controller: fix the incorrect sampled key ranges number check
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#11866 raftstore: Support adjusting max_inflight_msgs dynamically
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#12016 copr: fix missing flag solvement for bit column in decoding
  components/tidb_query_datatype/src/codec/chunk/column.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#11873 file_system: overhaul proc-based io tracing utilities
  Cargo.lock
  components/file_system/Cargo.toml
  components/file_system/src/file.rs
  components/file_system/src/io_stats/biosnoop.c
  components/file_system/src/io_stats/biosnoop.rs
  components/file_system/src/io_stats/mod.rs
  components/file_system/src/io_stats/proc.rs
  components/file_system/src/iosnoop/mod.rs
  components/file_system/src/iosnoop/null.rs
  components/file_system/src/lib.rs
  components/file_system/src/metrics.rs
  components/file_system/src/metrics_manager.rs
  components/file_system/src/thread_io.rs
  components/server/src/server.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11716 raftstore: Wait for the apply index equals to the commit index
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/pd.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_unsafe_recovery.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#12030 copr: revert 11968/11980/12016
  components/tidb_query_aggr/src/util.rs
  components/tidb_query_datatype/src/codec/chunk/column.rs
  components/tidb_query_datatype/src/def/eval_type.rs
  components/tidb_query_expr/src/impl_cast.rs
  components/tidb_query_expr/src/types/expr_builder.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12027 build: fix a Mac build issue
  components/file_system/src/io_stats/mod.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#11931 copr: Extra physical table id column
  components/tidb_query_datatype/src/codec/table.rs
  components/tidb_query_executors/src/index_scan_executor.rs
  components/tidb_query_executors/src/table_scan_executor.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XL, release-note

#12004 *: hotfix panic from tokio-timer
  Cargo.lock
  Cargo.toml
  components/pd_client/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/tikv_util/Cargo.toml
Labels: status/LGT2, status/can-merge, size/S, release-note

#12035 build: add arm64 check on SSE in makefile
  Makefile
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note

#11751 replication mode: sync state to pd
  Cargo.lock
  components/pd_client/src/client.rs
  components/pd_client/src/lib.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/replication_mode.rs
  components/raftstore/src/store/worker/pd.rs
  components/test_raftstore/src/pd.rs
  tests/failpoints/cases/test_pd_client.rs
  tests/integrations/pd/test_rpc_client.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none
