Repository tikv/tikv, pull requests merged in 2022-01, with the labels that each got.

#11768 *: run clippy for integration tests
  components/batch-system/src/test_runner.rs
  components/batch-system/tests/cases/batch.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/codec/src/buffer.rs
  components/coprocessor_plugin_api/src/util.rs
  components/encryption/src/manager/mod.rs
  components/engine_rocks/src/mvcc_properties.rs
  components/file_system/src/lib.rs
  components/file_system/src/rate_limiter.rs
  components/resolved_ts/src/cmd.rs
  components/test_raftstore/src/util.rs
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_datatype/src/codec/collation/charset.rs
  components/tidb_query_datatype/src/codec/datum.rs
  components/tidb_query_datatype/src/codec/mysql/decimal.rs
  components/tidb_query_datatype/src/codec/mysql/time/extension.rs
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
  components/tidb_query_datatype/src/codec/row/v2/compat_v1.rs
  components/tidb_query_datatype/src/codec/table.rs
  components/tidb_query_executors/src/table_scan_executor.rs
  components/tidb_query_expr/src/impl_cast.rs
  components/tidb_query_expr/src/impl_compare.rs
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/impl_time.rs
  components/tikv_kv/src/lib.rs
  components/tikv_util/src/buffer_vec.rs
  components/tikv_util/src/config.rs
  components/tikv_util/src/logger/mod.rs
  components/tikv_util/src/lru.rs
  components/tikv_util/src/time.rs
  scripts/clippy
  src/config.rs
  src/storage/mod.rs
  src/storage/raw/encoded.rs
  tests/integrations/backup/mod.rs
  tests/integrations/config/dynamic/snap.rs
  tests/integrations/config/test_config_client.rs
  tests/integrations/coprocessor/test_analyze.rs
  tests/integrations/coprocessor/test_select.rs
  tests/integrations/import/test_sst_service.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_compact_after_delete.rs
  tests/integrations/raftstore/test_compact_log.rs
  tests/integrations/raftstore/test_early_apply.rs
  tests/integrations/raftstore/test_hibernate.rs
  tests/integrations/raftstore/test_lease_read.rs
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
  tests/integrations/raftstore/test_replica_read.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_split_region.rs
  tests/integrations/raftstore/test_stats.rs
  tests/integrations/raftstore/test_transport.rs
  tests/integrations/resource_metering/test_dynamic_config.rs
  tests/integrations/resource_metering/test_read_keys.rs
  tests/integrations/resource_metering/test_suite/mod.rs
  tests/integrations/server/gc_worker.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#11777 logger: fix config-template's log unit (#11651)
  components/tikv_util/src/logger/mod.rs
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11778 logger: improve testcase (#11651)
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#11577 raftstore: propose in-memory pessimistic locks before leader transfer
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/txn_ext.rs
  components/txn_types/src/types.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/mvcc_by_key.rs
  src/storage/txn/commands/mvcc_by_start_ts.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/resolve_lock_readphase.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_storage.rs
  tests/failpoints/cases/test_transaction.rs
  tests/failpoints/cases/test_transfer_leader.rs
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11779 res_meter: ignore the read keys test temporarily
  tests/integrations/resource_metering/test_read_keys.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none

#11780 logger: change critical to fatal (#11651)
  cmd/tikv-server/src/main.rs
  components/tikv_util/src/logger/mod.rs
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/config/test-log-compatible.toml
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#11790 update CHANGELOG.md
  CHANGELOG.md
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#11798 config: relax the bounds of online configurable worker number (#11651)
  components/raftstore/src/store/config.rs
  src/config.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11792 logger: invoke logger_compatible_adjust before run_tikv (#11651)
  cmd/tikv-server/src/main.rs
  src/config.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.4

#11785 *: unify thread related native APIs
  components/file_system/src/iosnoop/biosnoop.rs
  components/file_system/src/thread_io.rs
  components/resource_metering/src/lib.rs
  components/resource_metering/src/recorder/localstorage.rs
  components/resource_metering/src/recorder/mod.rs
  components/resource_metering/src/recorder/sub_recorder/cpu.rs
  components/resource_metering/src/recorder/sub_recorder/mod.rs
  components/resource_metering/src/recorder/sub_recorder/summary.rs
  components/resource_metering/src/utils.rs
  components/resource_metering/tests/recorder_test.rs
  components/tikv_util/src/metrics/mod.rs
  components/tikv_util/src/metrics/process_linux.rs
  components/tikv_util/src/metrics/threads_linux.rs
  components/tikv_util/src/sys/inspector.rs
  components/tikv_util/src/sys/mod.rs
  components/tikv_util/src/sys/thread.rs
  src/server/load_statistics/linux.rs
  tests/integrations/raftstore/test_scale_pool.rs
Labels: status/LGT2, component/util, status/can-merge, size/XXL, release-note-none

#11791 Fix method on_tick will not update metric when enable_auto_tune is false
  components/backup/src/endpoint.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none

#11805 Cherry-pick: Backup: add S3 metrics && add s3_multi_part_size config (#11666)
  Cargo.lock
  components/backup/src/endpoint.rs
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/aws/src/s3.rs
  components/cloud/src/lib.rs
  components/cloud/src/metrics.rs
  components/external_storage/export/src/export.rs
  components/external_storage/src/lib.rs
  metrics/grafana/tikv_details.json
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT1, size/XL, do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#6427 raftstore: add a new tick to renew lease in advance
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/hibernate_state.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/read_queue.rs
  components/raftstore/src/store/util.rs
  tests/failpoints/cases/test_storage.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_lease_read.rs
  tests/integrations/raftstore/test_replica_read.rs
Labels: sig/raft, status/LGT2, status/can-merge, size/L, release-note

#11813 cloud: Add retry for azure blob server busy error
  components/cloud/azure/src/azblob.rs
Labels: contribution, status/LGT2, status/can-merge, component/backup-restore, sig/migrate, size/S, cherry-pick-approved, release-note-none

#11786 tikv_util: make cgroup parsing more robust
  Cargo.lock
  components/tikv_util/Cargo.toml
  components/tikv_util/src/sys/cgroup.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#11826 rocksdb: update branch for 5.4 release
  Cargo.lock
  components/engine_rocks/Cargo.toml
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note

#11825 *: make it compile on macos
  components/resource_metering/src/recorder/mod.rs
  components/tikv_util/src/sys/thread.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/S, release-note-none

#11809 resolved_ts: add more metrics
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/util.rs
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/lib.rs
  components/resolved_ts/src/metrics.rs
  components/resolved_ts/src/util.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11833 rsmeter: fix perf regression caused by arc swap
  Cargo.lock
  components/resource_metering/Cargo.toml
  components/resource_metering/src/lib.rs
  components/resource_metering/src/recorder/localstorage.rs
  components/resource_metering/src/recorder/mod.rs
  components/resource_metering/src/recorder/sub_recorder/cpu.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.4

#11039 load base split: more accurate sample for large key ranges batch
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#11772 raftclient: enable delay only in high load
  components/test_raftstore/src/server.rs
  metrics/grafana/tikv_details.json
  src/server/config.rs
  src/server/load_statistics/linux.rs
  src/server/load_statistics/mod.rs
  src/server/metrics.rs
  src/server/raft_client.rs
  src/server/server.rs
  src/server/service/kv.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/server/raft_client.rs
Labels: component/gRPC, status/LGT2, type/bugfix, status/can-merge, size/XL, release-note-none, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#11231 tikv-ctl: fix tikv-ctl's output is incomplete on calling process::exit
  cmd/tikv-ctl/src/executor.rs
  cmd/tikv-ctl/src/main.rs
  cmd/tikv-ctl/src/util.rs
  components/tikv_util/src/logger/mod.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note-none

#11782 raftstore: skip deleting snapshot files in peer pending_remove is true
  components/raftstore/src/store/fsm/peer.rs
  tests/failpoints/cases/test_snap.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#11851 load_statis: fix compilation on macos
  src/server/load_statistics/mod.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/XS, release-note-none, needs-cherry-pick-5.4

#11840 config: override rocksdb config when flow control enabled
  src/config.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#11760 rocksdb: consider env sharing when configuring background threads
  Cargo.lock
  cmd/tikv-ctl/src/executor.rs
  components/engine_rocks/src/misc.rs
  components/server/src/server.rs
  components/tikv_kv/src/cursor.rs
  src/config.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/ttl/ttl_compaction_filter.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11864 raftstore: fix missing workers' stop on shutdown
  components/raftstore/src/store/fsm/store.rs
  components/test_raftstore/src/common-test.toml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-5.4

#11655 raftstore: move in-memory pessimistic locks to split regions
  components/raftstore/src/lib.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  src/storage/mvcc/reader/reader.rs
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#11394 *: Remove the entrance of enabling io snooper.
  Cargo.toml
  Makefile
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-server/Cargo.toml
  components/file_system/Cargo.toml
  components/file_system/src/iosnoop/mod.rs
  components/file_system/src/lib.rs
  components/server/Cargo.toml
  components/server/src/server.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/S, release-note-none

#11849 raftstore: change PeerTicks to enum
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11841 *: check memory limit when inserting in-memory pessimistic locks
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/txn_ext.rs
  components/tikv_kv/src/lib.rs
  components/txn_types/src/lock.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_split_region.rs
  tests/failpoints/cases/test_transaction.rs
  tests/failpoints/cases/test_transfer_leader.rs
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_split_region.rs
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: sig/transaction, status/LGT2, status/can-merge, size/XXL, release-note-none

#11709 *: fix invalid failpoint caused by typo
  components/raftstore/src/store/fsm/apply.rs
  components/resolved_ts/src/advance.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#11750 raftstore: Extract significant router
  components/raftstore/src/router.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/transport.rs
  components/test_raftstore/src/router.rs
  components/test_raftstore/src/transport_simulate.rs
  src/server/server.rs
  tests/benches/misc/raftkv/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#11853 raftstore: move scan delete to raft log gc worker
  components/engine_panic/src/raft_engine.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/raft_engine.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/server/src/raft_engine_switch.rs
  components/tikv_util/src/yatp_pool/mod.rs
  tests/failpoints/cases/test_snap.rs
  tests/failpoints/cases/test_stale_peer.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_tombstone.rs
Labels: sig/raft, status/LGT2, type/bugfix, status/can-merge, size/XXL, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#11832 doc: update new rules for linking issue and commit message
  CONTRIBUTING.md
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note-none

#11795 readme: change images based on github theme
  README.md
  images/cncf-white.png
  images/tikv_stack.png
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note-none

#11882 raftstore: don't remove other peer's read delegate
  components/cdc/src/endpoint.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/worker/read.rs
  tests/failpoints/cases/test_merge.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#11869 logger: use eprintln! if the logger is not initialized
  src/config.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-5.4

#11884 copr: fix the calculation of total column size in analyze
  src/coprocessor/statistics/analyze.rs
  tests/integrations/coprocessor/test_analyze.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/S, release-note-none

#11885 engine: update raft-engine for data consistency fix
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-5.4

#11819 build: check docker build during clippy
  Makefile
  scripts/check-docker-build
  scripts/check-redact-log
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#11904 gc_worker: fix incorrect scheduled_tasks counting
  components/tikv_util/src/worker/pool.rs
  src/server/gc_worker/gc_worker.rs
Labels: status/LGT1, type/bugfix, status/can-merge, size/L, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#11900 raftstore: Introduce raft log fetcher
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup/Cargo.toml
  components/cdc/Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/Cargo.toml
  components/error_code/Cargo.toml
  components/into_other/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore/Cargo.toml
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/raftlog_fetch.rs
  components/raftstore/src/store/worker/region.rs
  components/resolved_ts/Cargo.toml
  components/server/Cargo.toml
  components/test_raftstore/Cargo.toml
  metrics/grafana/tikv_details.json
  src/server/debug.rs
  tests/Cargo.toml
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#11901 raftstore: move scan delete to raft log gc worker (#11853)
  components/engine_panic/src/raft_engine.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/raft_engine.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore/src/store/bootstrap.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/raftlog_gc.rs
  components/test_raftstore/src/cluster.rs
  components/tikv_util/src/yatp_pool/mod.rs
  tests/failpoints/cases/test_snap.rs
  tests/failpoints/cases/test_stale_peer.rs
  tests/integrations/config/mod.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_tombstone.rs
Labels: status/LGT2, size/XXL, do-not-merge/cherry-pick-not-approved, release-note

#10951 status_server: add pprof flamegraph response header
  src/server/status_server/mod.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/S, release-note, do-not-merge/invalid-commit-message

#11918 gc_worker: fix incorrect scheduled_tasks counting (#11904)
  components/tikv_util/src/worker/pool.rs
  src/server/gc_worker/gc_worker.rs
Labels: type/cherry-pick, status/LGT2, size/L, do-not-merge/cherry-pick-not-approved, release-note

#11474 status_server: add glibc, pthread, libgcc to the blocklist (#11205)
  Cargo.lock
  Cargo.toml
  src/server/status_server/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note

#11282 resource_metering: fix config enable not working
  Cargo.lock
  components/resource_metering/src/cpu/recorder/dummy.rs
  components/resource_metering/src/cpu/recorder/linux.rs
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note

#9307 raftstore: renew leader lease in advance when handle read request
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/read.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_lease_read.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#11925 pprof: ignore cpu profiling on non-x86 arch
  Cargo.toml
  src/server/status_server/profile.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-5.4

#11887 github: add new pr requirement for linking issue and commit message
  .github/pull_request_template.md
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none
