Repository tikv/tikv, pull requests merged in 2022-07, with the labels that each got.

#12944 raftstore: support to split the region on half with the given key range
  components/keys/src/lib.rs
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_check.rs
  components/test_raftstore/src/cluster.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12941 metrics, pd_worker: add time duration metrics for the Load Base Split
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/worker/pd.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12942 pd_worker, split_controller: introduce the new config and CPU collector registration mechanism
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_config.rs
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12954 server: collect count and duration by request source
  Cargo.lock
  metrics/grafana/tikv_details.json
  src/server/metrics.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  src/storage/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#12951 [apiv2] encode key range in raw_checksum interface
  src/storage/mod.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-6.1

#12968 cdc: add min_resolved_ts_lag metrics
  components/backup-stream/src/endpoint.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/metrics.rs
Labels: status/LGT2, status/can-merge, component/CDC, size/M, release-note-none

#12969 raftstore: add some test cases for the CPU-based Load Base Split strategy
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#12971 bump version v5.4.2
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, release-note

#12960 debug: Parameterize debug service
  src/server/service/debug.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none

#12921 raftstorev2: support building store batch system
  Cargo.lock
  components/engine_panic/src/raft_engine.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_traits/src/raft_engine.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore-v2/Cargo.toml
  components/raftstore-v2/src/batch/apply.rs
  components/raftstore-v2/src/batch/mod.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/mod.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore-v2/src/lib.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/tikv_util/src/lib.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/tracker.rs
  src/server/service/kv.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#12866 cdc: Resolved-ts for RawKV
  Cargo.lock
  components/backup-stream/src/subscription_track.rs
  components/causal_ts/src/lib.rs
  components/causal_ts/src/observer.rs
  components/cdc/Cargo.toml
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/src/metrics.rs
  components/cdc/src/observer.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/resolver.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  src/config.rs
  src/storage/kv/test_engine_builder.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#12976 log-backup: support the new feature PiTR- backup/restore log at the tikv endpoint
  Cargo.lock
  components/backup-stream/Cargo.toml
  components/backup-stream/src/checkpoint_manager.rs
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/errors.rs
  components/backup-stream/src/event_loader.rs
  components/backup-stream/src/lib.rs
  components/backup-stream/src/metadata/client.rs
  components/backup-stream/src/metadata/keys.rs
  components/backup-stream/src/metadata/metrics.rs
  components/backup-stream/src/metadata/mod.rs
  components/backup-stream/src/metadata/store/etcd.rs
  components/backup-stream/src/metadata/store/lazy_etcd.rs
  components/backup-stream/src/metadata/store/mod.rs
  components/backup-stream/src/metadata/store/slash_etc.rs
  components/backup-stream/src/metadata/test.rs
  components/backup-stream/src/metrics.rs
  components/backup-stream/src/observer.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/service.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/subscription_track.rs
  components/backup-stream/src/utils.rs
  components/backup-stream/tests/mod.rs
  components/server/src/server.rs
  src/config.rs
  src/import/sst_service.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note

#12900 *: set write and time details in RPC responses
  components/engine_rocks/src/perf_context_impl.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/tikv_util/Cargo.toml
  components/tracker/src/lib.rs
  src/coprocessor/endpoint.rs
  src/server/metrics.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#12992 raftstore: update the Load Base Split metrics event
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#12892 *: mitigations for Raft Engine encryption key issue
  Cargo.lock
  cmd/tikv-ctl/src/cmd.rs
  cmd/tikv-ctl/src/main.rs
  components/encryption/src/manager/mod.rs
  components/raft_log_engine/src/engine.rs
  components/raft_log_engine/src/lib.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-6.1

#12533 engine: use 6.29 rocksdb
  Cargo.lock
  components/engine_rocks/src/compact.rs
  components/engine_rocks/src/config.rs
  components/engine_rocks/src/file_system.rs
  components/engine_rocks/src/options.rs
  components/engine_rocks/src/raw.rs
  components/engine_rocks/src/sst.rs
  components/engine_rocks/src/write_batch.rs
  components/raftstore/src/store/snap.rs
  etc/config-template.toml
  src/config.rs
  src/server/gc_worker/mod.rs
  tests/integrations/backup/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13004 raftstore: fix the building warning caused by the feature cfg
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#12868 raftstore: Implement coprocessor observer pre_exec_admin(query)
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/L, release-note-none

#13005 raftstore: make the gRPC poll busy check to consider the average value
  components/raftstore/src/store/worker/split_config.rs
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12993 raftstore: change send proposal time to waterfall metrics
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  components/tracker/src/lib.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#12940 add TestTabletFactory and refine TabletFactory trait
  Cargo.lock
  Cargo.toml
  components/engine_rocks/src/compact_listener.rs
  components/engine_test/Cargo.toml
  components/engine_test/src/lib.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/compacted_event_sender.rs
  components/raftstore/src/lib.rs
  components/raftstore/src/store/snap.rs
  components/server/Cargo.toml
  components/server/src/server.rs
  components/test_raftstore/src/util.rs
  src/server/engine_factory.rs
  src/server/engine_factory_v2.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13006 log-backup: store log files by date and hour in sub directory
  components/backup-stream/src/router.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note

#12991 BR: flush causal timestamp before backup start for rawkv apiv2
  Cargo.lock
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/causal_ts/src/lib.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/observer.rs
  components/cdc/tests/mod.rs
  components/server/src/server.rs
  components/test_backup/src/lib.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13022 Backup: Do not fill cache when backup rawkv
  components/backup/src/endpoint.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-6.1

#12899 Optimize Commit pipeline performance
  Cargo.lock
  components/backup-stream/src/utils.rs
  components/engine_rocks/src/engine.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/raft_engine.rs
  components/engine_rocks/src/write_batch.rs
  components/engine_test/src/lib.rs
  components/engine_traits_tests/src/lib.rs
  components/engine_traits_tests/src/write_batch.rs
  components/raftstore/src/store/fsm/apply.rs
  src/config.rs
  src/server/debug.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/reset_to_version.rs
  tests/benches/misc/writebatch/bench_writebatch.rs
  tests/failpoints/cases/test_gc_worker.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#13018 log-backup: store log files by date/hour/store_id
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/subscription_manager.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#12956 server: support command line output config info
  Cargo.lock
  Cargo.toml
  cmd/tikv-server/Cargo.toml
  cmd/tikv-server/src/main.rs
  src/config.rs
  src/lib.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#13016 raftstore: only record UNABLE_TO_SPLIT_CPU_TOP when the top_cpu_usage is not empty
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#12850 raftstore: Implement coprocessor observer post_exec_admin(query)
  components/cdc/src/delegate.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/resolved_ts/src/cmd.rs
  components/resolved_ts/src/observer.rs
  src/server/gc_worker/applied_lock_collector.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/L, release-note-none

#12995 raftstore: Avoid printing error log in case sending CaptureChange message failed
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/transport.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#12927 Sm4 support
  Cargo.lock
  components/encryption/src/config.rs
  components/encryption/src/crypter.rs
  components/encryption/src/io.rs
  components/engine_rocks/src/encryption.rs
  components/engine_traits/src/encryption.rs
  etc/config-template.toml
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note

#13035 log-backup: update global-checkpoint to storage periodically
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/router.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note

#13048 log-backup: added some new metrics for log backup
  metrics/grafana/tikv_details.json
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note

#13037 make the smallest bucket size 10 us for many metrics
  components/engine_rocks/src/perf_context_metrics.rs
  components/external_storage/src/metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/worker/metrics.rs
  src/coprocessor/metrics.rs
  src/server/lock_manager/metrics.rs
  src/server/metrics.rs
  src/storage/metrics.rs
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13043 log-backup: don't run the cond function if the entry state is removal
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/subscription_track.rs
  components/backup-stream/tests/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note

#12958 br: Adjust the backup organization structure
  Cargo.lock
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/backup/src/writer.rs
  components/cloud/aws/src/lib.rs
  components/cloud/aws/src/s3.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/local.rs
  tests/integrations/backup/mod.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/L, release-note, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#12962 tikv: refactor StorageConfigManger to support multi-rocksdb
  components/engine_test/src/lib.rs
  components/engine_traits/src/engine.rs
  components/server/src/server.rs
  src/config.rs
  src/server/engine_factory.rs
  src/server/engine_factory_v2.rs
  src/storage/config_manager.rs
  src/storage/txn/flow_controller/singleton_flow_controller.rs
  tests/failpoints/cases/test_storage.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13019 log: support dynamically change log level via sql
  cmd/tikv-ctl/src/main.rs
  cmd/tikv-ctl/src/util.rs
  components/server/src/server.rs
  components/server/src/setup.rs
  components/tikv_util/src/logger/mod.rs
  src/config.rs
  src/server/status_server/mod.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13046 copr: fix get_valid_int_prefix() to be compatible with TiDB(#13045)
  components/tidb_query_datatype/src/codec/convert.rs
  components/tidb_query_expr/src/impl_cast.rs
Labels: status/LGT2, status/can-merge, size/L, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#13051 Fix panic when enable titan
  Cargo.lock
  components/engine_rocks/src/write_batch.rs
  tests/integrations/raftstore/test_compact_after_delete.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_snap.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#13053 log-backup: upload global checkpoint ts to etcd.
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/metadata/client.rs
  components/backup-stream/src/metadata/keys.rs
  components/backup-stream/src/metadata/test.rs
  components/backup-stream/src/router.rs
  components/external_storage/src/local.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-6.2

#13031 duration: keep duration parser compatible with tidb
  components/tidb_query_datatype/src/codec/mysql/duration.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note-none, needs-cherry-pick-6.2

#13023 log-backup: modify the config
  components/backup-stream/src/endpoint.rs
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note

#13080 log: optimize log filter
  components/tikv_util/src/logger/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#13056 server: do not update background cpu limit when auto-tune is off
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#13085 components, src: avoid cpu quota limitation contamination
  components/tidb_query_executors/src/runner.rs
  components/tikv_util/src/quota_limiter.rs
  src/config.rs
  src/coprocessor/statistics/analyze.rs
  src/storage/mod.rs
  src/storage/txn/scheduler.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-6.1

#13087 metrics: fix a expression error of unified read pool cpu
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/XS, needs-cherry-pick-5.0, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#13112 *: migrate match-template to standalone crate
  Cargo.toml
  components/api_version/Cargo.toml
  components/match_template/Cargo.toml
  components/match_template/src/lib.rs
  components/tidb_query_aggr/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tidb_query_expr/Cargo.toml
  scripts/check-bins.py
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13013 raftstorev2: add apply batch system
  components/raftstore-v2/src/batch/apply.rs
  components/raftstore-v2/src/batch/mod.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/fsm/mod.rs
  components/raftstore-v2/src/lib.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/raft/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/router/internal_message.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/src/router/mod.rs
  components/raftstore-v2/src/tablet.rs
  components/raftstore/src/store/fsm/apply.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13118 engine: revert RocksDB update and update raft-engine
  Cargo.lock
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/compact.rs
  components/engine_rocks/src/config.rs
  components/engine_rocks/src/file_system.rs
  components/engine_rocks/src/options.rs
  components/engine_rocks/src/raw.rs
  components/engine_rocks/src/sst.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore/src/store/snap.rs
  etc/config-template.toml
  src/config.rs
  src/server/gc_worker/mod.rs
  tests/integrations/backup/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note-none

#13094 pd-client: pd client should update if the grpc stream sender failed.
  components/error_code/src/pd.rs
  components/pd_client/src/client.rs
  components/pd_client/src/errors.rs
  components/test_pd/src/mocker/service.rs
  tests/integrations/pd/test_rpc_client.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.1, needs-cherry-pick-6.2

#13115 raftstore: extract EntryStorage
  components/raftstore/src/store/async_io/write_tests.rs
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/read.rs
  components/raftstore/src/store/worker/region.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#13127 raftstorev2: fix cached tablet bug
  Cargo.lock
  components/raftstore-v2/src/batch/apply.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/bootstrap.rs
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/src/tablet.rs
  components/tikv_util/src/lib.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#13107 log-backup: fix uploading to gcs error
  Cargo.lock
  components/backup-stream/Cargo.toml
  components/backup-stream/src/router.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note, needs-cherry-pick-6.2

#13158 raftstore: add more arguments to pre_exec observer
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#13146 Make max_subcompactions dynamically changeable
  Cargo.lock
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/write_batch.rs
  components/tikv_alloc/Cargo.toml
  etc/config-template.toml
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note

#13152 Make max_subcompactions dynamically changeable
  Cargo.lock
  src/config.rs
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note

#13151 Make max_subcompactions dynamically changeable
  src/config.rs
Labels: status/LGT2, status/can-merge, size/S, release-note, needs-cherry-pick-6.1, needs-cherry-pick-6.2

#13168 raftstore: use force_send to send ApplyRes
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/tikv_util/src/mpsc/mod.rs
  tests/failpoints/cases/test_split_region.rs
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, release-note, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1, needs-cherry-pick-6.2

#13148 metrics: fix wrong expression for cdc cpu usage
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XS, needs-cherry-pick-5.0, release-note-none, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1, needs-cherry-pick-6.2
