Repository tikv/tikv, pull requests merged in 2023-02, with the labels that each got.

#14102 cop: handle unset scan details in store batch
  src/coprocessor/endpoint.rs
  tests/integrations/coprocessor/test_select.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#14121 resource_control: unify wru/rru to ru
  Cargo.lock
  components/resource_control/src/resource_group.rs
  components/resource_control/src/service.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#14106 pd_client: fix item value type
  Cargo.lock
  components/resource_control/Cargo.toml
  components/resource_control/src/resource_group.rs
  components/resource_control/src/service.rs
  components/test_pd/src/mocker/mod.rs
  components/test_pd/src/server.rs
  tests/failpoints/cases/test_pd_client_legacy.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#14129 raftstore-v2: add tablet logger and update dep
  Cargo.lock
  cmd/tikv-ctl/src/main.rs
  components/engine_rocks/src/logger.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  src/config/mod.rs
  src/server/engine_factory.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14043 raftstore: Observe when receive raft message
  components/cdc/src/observer.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/snap.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#14108 log-backup: added check leader call before flushing
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/metrics.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/subscription_track.rs
  components/backup-stream/tests/mod.rs
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.5

#14056 raftstore-v2: support tracing peer lifetime
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore-v2/src/operation/command/admin/conf_change.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/test_conf_change.rs
  components/raftstore-v2/tests/integrations/test_life.rs
  components/raftstore/src/store/async_io/read.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#14094 cloud: azblob: add retry for http code 500 error
  Cargo.lock
  components/cloud/azure/Cargo.toml
  components/cloud/azure/src/azblob.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#14110 tests: fix test_witness_replica_read fail
  tests/integrations/raftstore/test_witness.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#14107 tikv: optimize default config for multi-rocksdb
  cmd/tikv-ctl/src/executor.rs
  components/raftstore/src/coprocessor/config.rs
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/coprocessor/split_check/table.rs
  components/server/src/raft_engine_switch.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/snap_recovery/src/init_cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  src/config/mod.rs
  src/server/engine_factory.rs
  src/storage/config.rs
  src/storage/kv/test_engine_builder.rs
  src/storage/mod.rs
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/config/mod.rs
  tests/integrations/raftstore/test_split_region.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#14081 log-backup: support CA-bundle certifications
  components/backup-stream/src/metadata/store/lazy_etcd.rs
Labels: status/LGT2, status/can-merge, size/S, release-note, needs-cherry-pick-release-6.5

#14140 rawkv: fix flaky integration test case `test_raw_put_key_guard`
  tests/failpoints/cases/test_rawkv.rs
Labels: status/LGT2, status/can-merge, size/S, release-note

#14133 Integration test: use proc-macro to reuse test cases.
  Cargo.lock
  Cargo.toml
  components/test_raftstore_macro/Cargo.toml
  components/test_raftstore_macro/src/lib.rs
  scripts/check-bins.py
  tests/Cargo.toml
  tests/integrations/raftstore/test_single.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#14145 raftstore, storage: return FlashbackNotPrepared error if the flashback commit check failed
  Cargo.lock
  components/error_code/src/storage.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/read.rs
  etc/error_code.toml
  src/storage/errors.rs
  src/storage/txn/actions/flashback_to_version.rs
  src/storage/txn/commands/flashback_to_version_read_phase.rs
  src/storage/txn/mod.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#13965 raftstore: support dynamically resize the count of async ios.
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/async_io/write_router.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/refresh_config.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_scale_pool.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note

#14125 raftstore-v2: fix tablet gc issues
  Cargo.lock
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/misc.rs
  components/engine_test/src/lib.rs
  components/engine_traits/src/misc.rs
  components/raftstore-v2/src/worker/tablet_gc.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14077 copr: reject request when estimated waiting duration exceeds threshold
  Cargo.lock
  components/server/src/server.rs
  components/server/src/server2.rs
  src/coprocessor/endpoint.rs
  src/read_pool.rs
  src/storage/mod.rs
  tests/failpoints/cases/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14112 raftstore-v2: fix peer destroy not clear in scale-in scene
  components/batch-system/src/router.rs
  components/raftstore-v2/src/operation/command/admin/compact_log.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/tests/integrations/test_conf_change.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14150 apply: ignore compute and verify hash when it's a witness
  components/raftstore/src/store/fsm/apply.rs
  tests/integrations/raftstore/test_witness.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#14153 fix: ebs volume snapshot support tikv node equipped with 2 cpu or less configuration
  components/snap_recovery/src/init_cluster.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#13766 Increase read pool limit
  src/config/mod.rs
  src/read_pool.rs
Labels: status/LGT2, status/can-merge, size/S, release-note, needs-cherry-pick-release-6.5

#14149 copr: fix error when cast const Enum to any type
  components/tidb_query_expr/src/types/expr_builder.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#13975 Support backup replica read
  components/backup/src/endpoint.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#14154 log-backup: report when watch canceled
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/errors.rs
  components/backup-stream/src/metadata/store/etcd.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-6.5

#14160 engine_traits: allow chaos flush notification
  components/engine_rocks/src/event_listener.rs
  components/engine_rocks/src/lib.rs
  components/engine_traits/src/cf_defs.rs
  components/engine_traits/src/flush.rs
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/ready/apply_trace.rs
  components/raftstore-v2/src/operation/ready/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14169 raftstore-v2: gc all split tablets
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/worker/tablet_gc.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14155 log-backup: retry for more time when failed to get snapshot(to adapt the feature witness)
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/event_loader.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note

#14111 server: disable `PersistStats` RocksDB task for v2
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#14127 log-backup: update the endpoints when etcd cluster config changes
  Cargo.lock
  components/backup-stream/Cargo.toml
  components/backup-stream/src/metadata/store/etcd.rs
  components/backup-stream/src/metadata/store/lazy_etcd.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note, needs-cherry-pick-release-6.5

#13894 log-backup: edit checkpoint to 2 hours
  components/backup-stream/src/checkpoint_manager.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#14171 grafana: add grpc resource group QPS panel
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14170 resource_control: support return resource groups config via http
  components/pd_client/src/client.rs
  components/resource_control/src/resource_group.rs
  components/resource_control/src/service.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_pd/src/mocker/etcd.rs
  src/server/status_server/mod.rs
  tests/integrations/server/status_server.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14000 raftstore: new slow store detecting
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/worker/pd.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/store/query_stats.rs
  components/tikv_util/src/trend.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#14158 metrics: add panels showing pessimistic lock queue lengths
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14190 config: disallow encryption for v2
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup-stream/Cargo.toml
  components/backup/Cargo.toml
  components/batch-system/Cargo.toml
  components/causal_ts/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/azure/Cargo.toml
  components/cloud/gcp/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_rocks_helper/Cargo.toml
  components/engine_tirocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/external_storage/Cargo.toml
  components/file_system/Cargo.toml
  components/pd_client/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore-v2/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/resource_control/Cargo.toml
  components/resource_metering/Cargo.toml
  components/security/Cargo.toml
  components/security/src/lib.rs
  components/server/Cargo.toml
  components/snap_recovery/Cargo.toml
  components/sst_importer/Cargo.toml
  components/test_pd/Cargo.toml
  components/test_pd_client/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_util/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
  components/txn_types/Cargo.toml
  src/config/mod.rs
  tests/Cargo.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14192 resource_control: pass missing resource group name to request header
  src/server/raftkv/mod.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#14018 log-backup: allow observer hibernate when there isn't any task
  components/backup-stream/src/observer.rs
  components/backup-stream/src/utils.rs
  components/sst_importer/src/sst_importer.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#14183 raftkv: allow cancel error in snapshot
  components/test_raftstore/src/cluster.rs
  src/server/raftkv/mod.rs
  tests/integrations/coprocessor/test_select.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/M, release-note, needs-cherry-pick-release-6.5

#14116 copr: (feat) Implement operator PartitionTopN
  Cargo.lock
  components/tidb_query_executors/src/lib.rs
  components/tidb_query_executors/src/partition_top_n_executor.rs
  components/tidb_query_executors/src/runner.rs
  components/tidb_query_executors/src/top_n_executor.rs
  components/tidb_query_executors/src/util/top_n_heap.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#14182 polish the config region_split_size
  components/raftstore/src/coprocessor/config.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#14198 chore: bump version to v6.6.0
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, release-note, do-not-merge/needs-linked-issue

#14147 cdc: fix cdc integration test ` test_rawkv_sacn`
  components/cdc/tests/integrations/test_cdc.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note

#14201 Revert #14077 from release-6.6
  Cargo.lock
  components/server/src/server.rs
  components/server/src/server2.rs
  src/coprocessor/endpoint.rs
  src/read_pool.rs
  src/storage/mod.rs
  tests/failpoints/cases/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note-none

#14202 read_pool: avoid get inconsistent sample sum and count from histogram
  src/read_pool.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#14197 *: fix tablet leak in flow control
  Cargo.lock
  Cargo.toml
  cmd/tikv-server/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/engine.rs
  components/engine_traits/Cargo.toml
  components/engine_traits/src/tablet.rs
  src/server/status_server/mod.rs
  src/storage/txn/flow_controller/singleton_flow_controller.rs
  src/storage/txn/flow_controller/tablet_flow_controller.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#13989 raftstore-v2: integration test
  Cargo.lock
  Cargo.toml
  components/cdc/tests/failpoints/test_observe.rs
  components/cdc/tests/integrations/test_flow_control.rs
  components/cdc/tests/mod.rs
  components/engine_traits/Cargo.toml
  components/engine_traits/src/tablet.rs
  components/raftstore-v2/src/lib.rs
  components/raftstore-v2/src/router/imp.rs
  components/raftstore/src/store/snap.rs
  components/resolved_ts/tests/mod.rs
  components/test_backup/src/lib.rs
  components/test_raftstore-v2/Cargo.toml
  components/test_raftstore-v2/src/cluster.rs
  components/test_raftstore-v2/src/lib.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore-v2/src/transport_simulate.rs
  components/test_raftstore-v2/src/util.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/lib.rs
  components/test_raftstore/src/transport_simulate.rs
  components/test_raftstore/src/util.rs
  components/test_raftstore_macro/src/lib.rs
  src/server/engine_factory.rs
  src/server/service/kv.rs
  src/server/tablet_snap.rs
  tests/Cargo.toml
  tests/failpoints/cases/test_async_io.rs
  tests/failpoints/cases/test_cmd_epoch_checker.rs
  tests/failpoints/cases/test_conf_change.rs
  tests/failpoints/cases/test_early_apply.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_pending_peers.rs
  tests/failpoints/cases/test_rawkv.rs
  tests/failpoints/cases/test_replica_read.rs
  tests/failpoints/cases/test_replica_stale_read.rs
  tests/failpoints/cases/test_snap.rs
  tests/failpoints/cases/test_split_region.rs
  tests/failpoints/cases/test_stale_peer.rs
  tests/failpoints/cases/test_stale_read.rs
  tests/integrations/raftstore/test_conf_change.rs
  tests/integrations/raftstore/test_flashback.rs
  tests/integrations/raftstore/test_lease_read.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_prevote.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
  tests/integrations/raftstore/test_replica_read.rs
  tests/integrations/raftstore/test_single.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_split_region.rs
  tests/integrations/raftstore/test_transfer_leader.rs
  tests/integrations/raftstore/test_unsafe_recovery.rs
  tests/integrations/storage/test_raftkv.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#14199 Raftstore-v2: support split operator
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/src/worker/pd/region.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#14210 Raftstore-v2: use appropriate default region split size when integration test suit start
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#14216 chore: bump version to v6.7.0-alpha
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, release-note, do-not-merge/needs-linked-issue

#14203 log-backup: make the download more finer-grained
  components/sst_importer/src/metrics.rs
  components/sst_importer/src/sst_importer.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note, needs-cherry-pick-release-6.5

#14212 raftstore-v2: fix wrong peer cache
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/tests/integrations/test_conf_change.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#14229 fix: ebs volume snapshot support tikv node equipped with 2 cpu or less configuration
  components/snap_recovery/src/init_cluster.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note

#14227 causal_ts: simplify the logic of pop ts
  components/causal_ts/src/tso.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#14230 Raftstore-v2: snap status should be cleared when sending snapshot failed
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/test_raftstore-v2/src/util.rs
  tests/integrations/raftstore/test_snap.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#14236 chore: bump version to 6.5.1
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, release-note

#14032 Revise CONTRIBUTING.md contents
  CONTRIBUTING.md
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note-none

#14204 coprocessor: use mur3 to calculate fmsketch
  Cargo.lock
  Cargo.toml
  src/coprocessor/statistics/analyze.rs
  src/coprocessor/statistics/cmsketch.rs
  src/coprocessor/statistics/fmsketch.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#14223 raftstore-v2: fix destroy blocked by apply progress
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/tests/failpoints/mod.rs
  components/raftstore-v2/tests/failpoints/test_life.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/test_life.rs
  components/raftstore/src/store/worker/region.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14044 raftstore-v2: impl report buckets
  components/pd_client/src/client.rs
  components/pd_client/src/client_v2.rs
  components/pd_client/src/lib.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/bucket.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/router/imp.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/src/worker/pd/mod.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/test_pd_heartbeat.rs
  components/test_pd/src/mocker/mod.rs
  components/test_pd/src/mocker/service.rs
  components/test_pd/src/server.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#14123 raftstore,resolved_ts: advance resolved ts as needed
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/read.rs
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/resolver.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.5

#14244 rocksdb: reduce rocksdb block size to 32KB (#14053)
  etc/config-template.toml
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, cherry-pick-approved, release-note, affects-6.6

#14136 config: increase resolved-ts.advance-ts-interval to 20s
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note, needs-cherry-pick-release-6.5

#14246 rocksdb: reduce rocksdb block size to 32KB (#14053) (#14244)
  etc/config-template.toml
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note

#14239 pd_client: add some function to buckets
  components/pd_client/src/lib.rs
  components/raftstore-v2/src/operation/bucket.rs
  components/raftstore-v2/src/worker/pd/region.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_controller.rs
  components/test_pd_client/src/pd.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14248 Raftstore-v2: update peer state after persisting snapshot
  components/raftstore-v2/src/operation/ready/snapshot.rs
  tests/integrations/raftstore/test_conf_change.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note

#14226 raftstore-v2: prepare merge
  components/raftstore-v2/src/lib.rs
  components/raftstore-v2/src/operation/command/admin/compact_log.rs
  components/raftstore-v2/src/operation/command/admin/conf_change.rs
  components/raftstore-v2/src/operation/command/admin/merge/mod.rs
  components/raftstore-v2/src/operation/command/admin/merge/prepare.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/control.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/query/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/txn_ext.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/router/imp.rs
  components/raftstore-v2/src/worker/pd/mod.rs
  components/raftstore-v2/src/worker/pd/region.rs
  components/raftstore/src/store/fsm/peer.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#14255 *: enable bucket automatically if region size is large enough
  components/engine_rocks/src/engine.rs
  components/raftstore-v2/src/operation/bucket.rs
  components/raftstore-v2/tests/integrations/test_pd_heartbeat.rs
  components/raftstore/src/coprocessor/config.rs
  components/raftstore/src/coprocessor/split_check/half.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/mod.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/split_check.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/config/mod.rs
  tests/failpoints/cases/test_stats.rs
  tests/integrations/config/mod.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14234 raftstore-v2: consider `None` when getting mailbox
  components/raftstore-v2/src/operation/command/admin/split.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: contribution, status/LGT2, type/bugfix, status/can-merge, size/M, release-note-none

#14209 copr: early stop paging copr when resultset is drained.
  components/tidb_query_executors/src/runner.rs
  tests/failpoints/cases/test_coprocessor.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.5

#14261 chore: bump version to v6.1.5
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, release-note

#14258 *: update openssl-src version to fix CVE-2023-0286
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, affects-6.6

#14252 integration test v2: report snapshot status after sending
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/transport_simulate.rs
  tests/integrations/raftstore/test_snap.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#14280 coprocessor: avoid unnecessary vec allocation in collect_column_stats
  src/coprocessor/statistics/analyze.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#14279 raftstore-v2: update region state in apply_snapshot
  components/raftstore-v2/src/operation/ready/snapshot.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none

#14238 impl buckets flow report
  components/pd_client/src/lib.rs
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/operation/bucket.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/src/router/internal_message.rs
  components/raftstore-v2/src/worker/pd/region.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/test_pd_heartbeat.rs
  components/raftstore/src/store/worker/read.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14286 log_backup: move all download request into the same runtime
  components/file_system/src/io_stats/proc.rs
  components/sst_importer/src/sst_importer.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-6.5

#14294 importer: use kv engine instead of raw API
  Cargo.lock
  components/raft_log_engine/src/engine.rs
  components/raftstore-v2/Cargo.toml
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/operation/command/write/simple_write.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/cluster.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  components/tikv_kv/src/btree_engine.rs
  components/tikv_kv/src/lib.rs
  src/import/sst_service.rs
  src/server/gc_worker/gc_worker.rs
  src/server/raftkv/mod.rs
  src/server/raftkv2/mod.rs
  src/server/raftkv2/node.rs
  src/storage/mvcc/reader/reader.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none
