Repository tikv/tikv, pull requests merged in 2023-05, with the labels that each got.

#14674 raftstore: pub snapshot_meta
  components/raftstore/src/store/snap.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-7.1

#14651 status_api: add get_engine_type api
  src/config/mod.rs
  src/server/status_server/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#14402 tikv control for raftstore v2
  cmd/tikv-ctl/src/executor.rs
  src/server/debug.rs
  src/server/debug2.rs
  src/server/mod.rs
  src/storage/mvcc/consistency_check.rs
  src/storage/mvcc/mod.rs
  tests/integrations/server/debugger.rs
  tests/integrations/server/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#14690 raftstore-v2: fix split removes records unexpectedly
  components/raftstore-v2/src/raft/peer.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-7.1

#14640 storage: set write detail for all txn write commands
  src/coprocessor/endpoint.rs
  src/server/service/kv.rs
  src/storage/txn/scheduler.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#14703 tikv control for raftstore v2 (#14402)
  cmd/tikv-ctl/src/executor.rs
  src/server/debug.rs
  src/server/debug2.rs
  src/server/mod.rs
  src/storage/mvcc/consistency_check.rs
  src/storage/mvcc/mod.rs
  tests/integrations/server/debugger.rs
  tests/integrations/server/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, cherry-pick-approved, release-note-none

#14646 raftstore-v2: offload checkpoint during split
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/query/capture.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/src/worker/checkpoint.rs
  components/raftstore-v2/src/worker/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-7.1

#14678 add make docker_test to run tikv test in docker environment
  CONTRIBUTING.md
  Dockerfile.test
  Makefile
  scripts/test
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#14719 raftstore-v2: add raftstore-v2's test cases under kv_service
  components/test_raftstore-v2/src/cluster.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  tests/failpoints/cases/test_coprocessor.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-7.1

#14720 raftstore-v2: send tablet when offload checkpoint
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/worker/checkpoint.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-7.1

#14669 sst_import: keep import sst if the ingest apply index has not flush the rocksdb.
  components/engine_traits/src/flush.rs
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/command/write/ingest.rs
  components/raftstore-v2/src/operation/query/capture.rs
  components/raftstore-v2/src/operation/ready/apply_trace.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/raft/storage.rs
  tests/failpoints/cases/test_import_service.rs
  tests/integrations/import/util.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-7.1

#14713 raftstore-v2: offload checkpoint during split (#14646)
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/query/capture.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/src/worker/checkpoint.rs
  components/raftstore-v2/src/worker/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note-none

#14716 txn: check memory lock for max ts replica read
  components/tracker/src/lib.rs
  components/txn_types/src/lock.rs
  src/server/raftkv/mod.rs
  tests/failpoints/cases/test_transaction.rs
  tests/integrations/storage/test_raftkv.rs
Labels: sig/transaction, status/LGT2, type/bugfix, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#14097 server: pass encryption key with tablet snapshot
  Cargo.lock
  components/encryption/export/src/lib.rs
  components/encryption/src/io.rs
  components/encryption/src/lib.rs
  components/encryption/src/manager/mod.rs
  components/raftstore-v2/Cargo.toml
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/test_raftstore-v2/src/cluster.rs
  components/test_raftstore-v2/src/util.rs
  components/test_util/src/encryption.rs
  src/server/tablet_snap.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_v1_v2_mixed.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-7.1

#14736 raftstore-v2: check locks on step read index
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/query/lease.rs
  components/raftstore-v2/src/operation/query/local.rs
  components/raftstore-v2/src/operation/query/mod.rs
  components/raftstore-v2/src/operation/query/replica.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/read.rs
  components/test_raftstore-v2/src/cluster.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore-v2/src/util.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  components/tikv_util/src/mpsc/future.rs
  tests/failpoints/cases/test_cmd_epoch_checker.rs
  tests/failpoints/cases/test_conf_change.rs
  tests/failpoints/cases/test_disk_full.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_replica_read.rs
  tests/failpoints/cases/test_stale_read.rs
  tests/integrations/raftstore/test_hibernate.rs
  tests/integrations/raftstore/test_joint_consensus.rs
  tests/integrations/raftstore/test_lease_read.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_replica_read.rs
  tests/integrations/raftstore/test_replication_mode.rs
  tests/integrations/storage/test_raftkv.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-7.1

#14746 sst_importer: load SST start key from sst while cleaning up
  Cargo.lock
  components/engine_panic/src/sst.rs
  components/engine_rocks/src/encryption.rs
  components/engine_rocks/src/sst.rs
  components/engine_traits/src/sst.rs
  components/raftstore/src/store/worker/cleanup_sst.rs
  components/sst_importer/Cargo.toml
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/sst_importer.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#14681 tikv-ctl: support get range properties under remote mode
  Cargo.lock
  cmd/tikv-ctl/src/executor.rs
  src/server/debug.rs
  src/server/debug2.rs
  src/server/service/debug.rs
  tests/integrations/server/kv_service.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/L, release-note

#14685 raftstore-v2: support flashback region
  components/raftstore-v2/src/operation/command/admin/flashback.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/query/capture.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/read.rs
  components/test_raftstore-v2/src/cluster.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  src/server/raftkv/mod.rs
  src/server/raftkv2/mod.rs
  tests/integrations/raftstore/test_flashback.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-7.1

#14536 raftstore-v2: check and compact region
  components/engine_panic/src/engine.rs
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/engine.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/range_properties.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/misc.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore-v2/src/lib.rs
  components/raftstore-v2/src/operation/misc.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/src/worker/cleanup/compact.rs
  components/raftstore-v2/src/worker/cleanup/mod.rs
  components/raftstore-v2/src/worker/mod.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/compact.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/config/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_compact_after_delete.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-7.1

#14783 raftstore-v2: check and compact region (#14536)
  components/engine_panic/src/engine.rs
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/engine.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/range_properties.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/misc.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore-v2/src/lib.rs
  components/raftstore-v2/src/operation/misc.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/src/worker/cleanup/compact.rs
  components/raftstore-v2/src/worker/cleanup/mod.rs
  components/raftstore-v2/src/worker/mod.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/compact.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/config/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_compact_after_delete.rs
Labels: status/LGT2, status/can-merge, size/XXL, cherry-pick-approved, release-note-none

#14694 encryption: tidy encryption slices and supply basements for KMS on Azure
  Cargo.lock
  components/cloud/aws/src/kms.rs
  components/cloud/azure/Cargo.toml
  components/cloud/azure/src/lib.rs
  components/cloud/azure/src/token_credentials/certificate_credentials.rs
  components/cloud/azure/src/token_credentials/mod.rs
  components/cloud/src/kms.rs
  components/encryption/Cargo.toml
  components/encryption/export/src/lib.rs
  components/encryption/src/crypter.rs
  components/encryption/src/errors.rs
  components/encryption/src/lib.rs
  components/encryption/src/master_key/kms.rs
  components/encryption/src/master_key/mem.rs
  components/encryption/src/master_key/mod.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#14784 fix: find the correct last_change_ts after upgrade from versions < 6.5
  components/txn_types/src/write.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/common.rs
  src/storage/txn/actions/mod.rs
  src/storage/txn/actions/prewrite.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#14791 fix: find the correct last_change_ts after upgrade from versions < 6.5
  components/txn_types/src/write.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/common.rs
  src/storage/txn/actions/mod.rs
  src/storage/txn/actions/prewrite.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/L, cherry-pick-approved, release-note

#14771 sst_import: run size check after ingest sst file
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/write/ingest.rs
  tests/failpoints/cases/test_import_service.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#14511 raftstore-v2: implement rollback merge
  Cargo.lock
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/command/admin/compact_log.rs
  components/raftstore-v2/src/operation/command/admin/merge/commit.rs
  components/raftstore-v2/src/operation/command/admin/merge/mod.rs
  components/raftstore-v2/src/operation/command/admin/merge/prepare.rs
  components/raftstore-v2/src/operation/command/admin/merge/rollback.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/src/worker/tablet.rs
  components/raftstore-v2/tests/failpoints/test_merge.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-7.1

#14792 command: distinguish different states in the flashback tag statistics
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/txn/commands/flashback_to_version.rs
  src/storage/txn/commands/flashback_to_version_read_phase.rs
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#14708 engine_rocks: flush memtable does not wait for write stall
  Cargo.lock
  components/engine_rocks/src/event_listener.rs
  components/engine_rocks/src/misc.rs
  src/server/gc_worker/gc_worker.rs
  tests/failpoints/cases/test_gc_metrics.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-7.1

#14751 raftstore-v2: ignore unimplemented extra msg
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-7.1

#14789 raftstorev2: fix miss ready after handling read index
  components/raftstore-v2/src/operation/ready/mod.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-7.1

#14804 raftstore-v2: reset has_dirty_data after receiving snapshot from leader
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/src/worker/tablet.rs
  src/server/tablet_snap.rs
  tests/failpoints/cases/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-7.1

#14770 engine: fix raft-engine encryption key deletion order
  components/encryption/src/file_dict_file.rs
  components/raft_log_engine/src/engine.rs
Labels: status/LGT2, status/can-merge, size/S, release-note, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#14777 config: clean up v2 config validation
  components/raftstore-v2/src/raft/apply.rs
  components/security/src/lib.rs
  components/tikv_util/src/config.rs
  etc/config-template.toml
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-7.1

#14809 add more specific error type in ErrorHeaderKind
  src/server/metrics.rs
  src/storage/errors.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#14739 raftstore-v2: add replay watch
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/router/message.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-7.1

#14742 implement debug interface such as `store_info`, `cluster_info`,`dump_kv`
  cmd/tikv-ctl/src/cmd.rs
  cmd/tikv-ctl/src/executor.rs
  components/test_raftstore/src/server.rs
  src/server/debug.rs
  src/server/debug2.rs
  src/server/service/debug.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note, needs-cherry-pick-release-7.1

#14816 tikv-ctl: implement region tombstone for raftstore-v2
  cmd/tikv-ctl/src/executor.rs
  src/server/debug2.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-7.1

#14692 txn: persist fair lock type in lock information and handle stale fair lock resolve
  components/cdc/src/delegate.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/concurrency_manager/benches/lock_table.rs
  components/concurrency_manager/src/lib.rs
  components/concurrency_manager/src/lock_table.rs
  components/concurrency_manager/tests/memory_usage.rs
  components/raftstore/src/store/txn_ext.rs
  components/snap_recovery/src/data_resolver.rs
  components/tikv_kv/src/lib.rs
  components/txn_types/src/lock.rs
  src/coprocessor/endpoint.rs
  src/server/debug.rs
  src/server/reset_to_version.rs
  src/storage/mod.rs
  src/storage/mvcc/consistency_check.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/check_txn_status.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/flashback_to_version.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/scheduler.rs
  src/storage/types.rs
  tests/failpoints/cases/test_coprocessor.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_replica_read.rs
  tests/failpoints/cases/test_split_region.rs
  tests/failpoints/cases/test_transaction.rs
  tests/failpoints/cases/test_transfer_leader.rs
  tests/integrations/coprocessor/test_select.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_replica_read.rs
  tests/integrations/raftstore/test_split_region.rs
  tests/integrations/raftstore/test_transfer_leader.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/storage/test_raftkv.rs
Labels: sig/transaction, status/LGT2, type/bugfix, status/can-merge, size/XXL, release-note

#14774 raftstore, metrics: add metrics for the number of peers in flashback state
  components/raftstore-v2/src/operation/command/admin/flashback.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/metrics.rs
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#14830 raftstorev2: avoid unnecessary snapshot after split
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/util.rs
  src/server/config.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_replica_read.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-7.1

#14841 tikv-ctl: add tikv-ctl fork-readonly-tikv
  Cargo.lock
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-ctl/src/cmd.rs
  cmd/tikv-ctl/src/fork_readonly_tikv.rs
  cmd/tikv-ctl/src/main.rs
  cmd/tikv-server/Cargo.toml
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/region.rs
  components/sst_importer/src/lib.rs
  components/sst_importer/src/util.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1
