Repository tikv/tikv, pull requests merged in 2023-11, with the labels that each got.

#15849 cdc: limit cdc event fetching speed to reduce RocksDB read load
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  src/config/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15854 makefile: update cargo sort installation to remove dependency on rust-toolchain
  Makefile
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note-none

#15865 cdc: incremental scans acquire snapshots before semaphores to avoid useless queue
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15848 fuzz: Bump afl version
  Cargo.lock
  fuzz/fuzzer-afl/Cargo.toml
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/L, release-note-none

#15876 test: fix the flaky test for `test_gen_split_check_bucket_ranges `
  components/raftstore/src/store/fsm/peer.rs
  components/test_raftstore/src/cluster.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#15906 server: make grpc metrics consistent
  src/server/service/kv.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#15913 sst_importer: join can fallback to version 1 filename
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/sst_importer.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-7.5

#15872 log-backup: use row-level memory usage statistic for initial scan
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/event_loader.rs
  components/backup-stream/src/lib.rs
  components/backup-stream/src/router.rs
  components/backup-stream/tests/failpoints/mod.rs
  components/backup-stream/tests/integration/mod.rs
  components/backup-stream/tests/suite.rs
  components/tikv_util/src/memory.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note, needs-cherry-pick-release-7.5

#15900 raftstore: enhance split check
  components/raftstore-v2/src/router/imp.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/split_check/keys.rs
  components/raftstore/src/coprocessor/split_check/size.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/split_check.rs
  components/test_raftstore/src/util.rs
  components/tikv_util/src/log.rs
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#15882 server: change the log level to debug for cop error response
  src/coprocessor/endpoint.rs
  src/read_pool.rs
Labels: type/enhancement, sig/coprocessor, status/LGT2, status/can-merge, size/L, release-note-none

#15934 raftstore: gc uninitialized stale peer after merge
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_stale_peer.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15918 resource_control: add quota limiter per priority
  components/backup/src/endpoint.rs
  components/resource_control/src/future.rs
  components/resource_control/src/resource_group.rs
  components/resource_control/src/service.rs
  components/resource_control/src/worker.rs
  src/coprocessor/endpoint.rs
  src/import/sst_service.rs
  src/storage/mod.rs
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#15925 *: make unified-pool use FuturePool
  components/tikv_util/src/worker/pool.rs
  components/tikv_util/src/yatp_pool/future_pool.rs
  components/tikv_util/src/yatp_pool/mod.rs
  src/read_pool.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#15948 alert: tackle the false-postive case where alerting `gc not work`.
  metrics/alertmanager/tikv.rules.yml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15838 *: fix issue of modify resolved-ts.advance-ts-interval from 5s to 2s is not work
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
Labels: contribution, status/LGT2, size/S, release-note

#15883 server: Introduce heap profiling config
  cmd/tikv-server/src/main.rs
  components/raftstore/src/store/config.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/server/src/setup.rs
  components/tikv_alloc/src/default.rs
  components/tikv_alloc/src/jemalloc.rs
  etc/config-template.toml
  src/config/mod.rs
  src/server/config.rs
  src/server/status_server/mod.rs
  src/server/status_server/profile.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-cache-compatible.toml
  tests/integrations/config/test-custom.toml
  tests/integrations/config/test-default.toml
Labels: status/LGT2, status/can-merge, size/XL, release-note, needs-cherry-pick-release-7.5

#15947 cdc: notify pending tasks if associated regions change
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/src/observer.rs
  components/cdc/tests/failpoints/test_endpoint.rs
  components/cdc/tests/failpoints/test_register.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15929 resource_control: support automatically tuning priority resource limiters
  components/resource_control/src/future.rs
  components/resource_control/src/lib.rs
  components/resource_control/src/metrics.rs
  components/resource_control/src/resource_group.rs
  components/resource_control/src/resource_limiter.rs
  components/resource_control/src/worker.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/tikv_util/src/yatp_pool/metrics.rs
  components/tikv_util/src/yatp_pool/mod.rs
  src/read_pool.rs
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/txn/sched_pool.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-7.5

#15968 test: do not capture test output in make test_with_nextest
  Makefile
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#15944 *: allow dynamic link openssl library
  .dockerignore
  Cargo.lock
  Cargo.toml
  Dockerfile.FIPS
  Makefile
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-server/Cargo.toml
  components/backup-stream/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/encryption/src/io.rs
  scripts/check-bins.py
  src/lib.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#15976 backup-stream: remove dead code
  Cargo.lock
  components/backup-stream/Cargo.toml
  components/backup-stream/src/errors.rs
  components/backup-stream/src/metadata/mod.rs
  components/backup-stream/src/metadata/store/etcd.rs
  components/backup-stream/src/metadata/store/lazy_etcd.rs
  components/backup-stream/src/metadata/store/mod.rs
  components/error_code/src/backup_stream.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#15949 metric: add ttl expire metric
  metrics/grafana/tikv_details.json
  src/server/ttl/ttl_compaction_filter.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note

#15981 makefile: polish the validation of python path.
  Makefile
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#15809 raftstore: Inherit raftdb-path when upgrading to raft-engine
  components/tikv_util/src/config.rs
  src/config/mod.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XXL, release-note

#15989 cdc: limit incremental scan fetching speed
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/src/observer.rs
  components/cdc/tests/failpoints/test_endpoint.rs
  components/cdc/tests/failpoints/test_register.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: size/L, do-not-merge/release-note-label-needed

#15974 chore: clean up fixme on latch.rs
  src/storage/txn/latch.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note-none

#15983 fips: enable OpenSSL FIPS mode on TiKV start if it's eligible
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-ctl/src/main.rs
  cmd/tikv-server/Cargo.toml
  cmd/tikv-server/src/main.rs
  components/backup-stream/Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/azure/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/external_storage/Cargo.toml
  components/file_system/Cargo.toml
  components/fips/Cargo.toml
  components/fips/build.rs
  components/fips/src/lib.rs
  components/raftstore/Cargo.toml
  components/server/src/server.rs
  components/server/src/server2.rs
  components/server/src/setup.rs
  components/sst_importer/Cargo.toml
  components/tidb_query_expr/Cargo.toml
  components/tikv_util/Cargo.toml
  scripts/check-bins.py
  src/lib.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#15363 chore: fix error message typo
  components/pd_client/src/util.rs
  components/tikv_kv/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note-none

#15991 raftstore: fine-tune SlowScore.
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/pd.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-7.5

#16003 resource_control: do not force set override priority at handle gRPC request
  components/resource_control/src/resource_group.rs
  src/server/service/kv.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-7.5

#15979 titan: Introduce titan zstd dict compression
  etc/config-template.toml
  src/config/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#15988 config: Fix titan blob-run-mode setting
  components/engine_rocks/src/config.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16010 Copr: do not change expression type for `Lower`
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16020 titan: update titan to fix incorrect blob file size and change default value
  Cargo.lock
  etc/config-template.toml
  src/config/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-7.5

#16033 Dockerfile: update base image
  Dockerfile.FIPS
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16038 raftstore: check stale peer on leader missing
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  metrics/grafana/tikv_details.json
  tests/integrations/raftstore/test_merge.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16029 coprocessor: use the deadline in kvrpcpb::Context (#15564)
  src/coprocessor/mod.rs
Labels: status/LGT2, size/M, release-note-none

#15995 raftstore: make full compaction incremental, pause when load is high
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/worker/compact.rs
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/mod.rs
  metrics/grafana/tikv_details.json
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note

#16051 update default value of region_compact_redundant_rows_percent
  components/raftstore/src/store/config.rs
  etc/config-template.toml
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/S, release-note, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15908 raftstore: backport the detection of network-io from raftstore-v2.
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16031 readpool: fix pending tasks counter
  src/read_pool.rs
Labels: status/LGT2, status/can-merge, size/S, release-note, needs-cherry-pick-release-7.5

#16000 resolved_ts: use smaller timeout when do check_leader
  components/backup-stream/src/subscription_manager.rs
  components/cdc/src/endpoint.rs
  components/resolved_ts/src/advance.rs
Labels: contribution, status/LGT2, size/M, release-note-none

#16036 resolved-ts: speed up advancing when stores get partitioned (#15567)
  components/resolved_ts/src/advance.rs
  components/resolved_ts/tests/integrations/mod.rs
Labels: status/LGT2, size/L, release-note-none

#15837 pd_client: support dynamically modifying `min-resolved-ts` report interval and reduce retry times
  components/pd_client/src/client.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/worker/pd/mod.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/worker/pd.rs
  components/resolved_ts/tests/failpoints/mod.rs
  components/test_raftstore/src/util.rs
  etc/config-template.toml
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15479 test: enable fail-point cases in test_kv_service for raftstore-v2
  Cargo.lock
  src/server/raftkv2/mod.rs
  tests/failpoints/cases/test_kv_service.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16058 ctl: backoff load key range in finish flashback when meet `notLeader` or `regionNotFound`
  cmd/tikv-ctl/src/executor.rs
  cmd/tikv-ctl/src/main.rs
  src/server/debug.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.5

#15911 server: grpc metrics consider request group priority
  metrics/grafana/tikv_details.json
  src/server/metrics.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  src/storage/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16060 raftstore: update apply state even if peer is removed
  components/raftstore/src/store/fsm/apply.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16059 sst_importer: Use generic sst reader for importer
  Cargo.lock
  components/engine_panic/src/sst.rs
  components/engine_rocks/src/encryption.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/sst.rs
  components/engine_traits/src/sst.rs
  components/engine_traits_tests/src/sst.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/worker/tablet.rs
  components/raftstore/src/store/compaction_guard.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/cleanup.rs
  components/raftstore/src/store/worker/cleanup_sst.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/sst_importer.rs
  components/sst_importer/src/sst_writer.rs
  components/test_raftstore/src/server.rs
  components/tikv_kv/Cargo.toml
  components/tikv_kv/src/rocksdb_engine.rs
  src/import/sst_service.rs
  src/server/node.rs
  src/server/raftkv2/node.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16089 chore: bump version to 6.5.6
  Cargo.lock
  Cargo.toml
Labels: size/XS, do-not-merge/cherry-pick-not-approved, release-note

#16086 encryption: remove useless `EncryptionKeyManager` trait
  Cargo.lock
  cmd/tikv-ctl/src/main.rs
  components/encryption/Cargo.toml
  components/encryption/export/src/lib.rs
  components/encryption/src/crypter.rs
  components/encryption/src/lib.rs
  components/encryption/src/manager/mod.rs
  components/engine_panic/Cargo.toml
  components/engine_panic/src/sst.rs
  components/engine_rocks/src/encryption.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/sst.rs
  components/engine_traits/Cargo.toml
  components/engine_traits/src/encryption.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/sst.rs
  components/engine_traits_tests/src/ctor.rs
  components/engine_traits_tests/src/sst.rs
  components/external_storage/src/lib.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore/src/store/compaction_guard.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/sst_importer.rs
  components/sst_importer/src/util.rs
  components/tikv_kv/src/rocksdb_engine.rs
  src/server/tablet_snap.rs
Labels: status/LGT1, status/LGT2, status/can-merge, size/XL, release-note-none

#16092 titan: update titan to fix compaction filter
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-7.5

#16054 cdc: limit pending scan tasks (#16048)
  components/cdc/src/endpoint.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/L, release-note

#16049 readpool: gate future-pool running tasks per priority
  Cargo.lock
  components/resource_control/src/lib.rs
  components/resource_control/src/resource_group.rs
  components/resource_control/src/worker.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/lib.rs
  components/tikv_util/src/resource_control.rs
  components/tikv_util/src/yatp_pool/future_pool.rs
  components/tikv_util/src/yatp_pool/metrics.rs
  components/tikv_util/src/yatp_pool/mod.rs
  src/config/mod.rs
  src/read_pool.rs
  src/storage/txn/sched_pool.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note, needs-cherry-pick-release-7.5

#15857 metrics: generate Grafana dashboards with python
  Makefile
  metrics/grafana/README.md
  metrics/grafana/common.py
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  scripts/check-dashboards
  scripts/gen-tikv-details-dashboard
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16025 tidb_query_expr: fix incorrect intdiv for decimal type
  components/tidb_query_expr/src/impl_arithmetic.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/M, release-note-none

#16098 cloud: update cloud sdk that supports fips 140 for cloud sdk
  Cargo.lock
  Cargo.toml
  components/cloud/aws/src/s3.rs
  components/cloud/azure/Cargo.toml
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#16103 metrics: add extra filters to filter out redundant data.
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16104 chore: Use checkbox for check list in pull request template
  .github/pull_request_template.md
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16095 tikv-ctl: enhance the easy of use on EncyptionMeta cmd.
  cmd/tikv-ctl/src/main.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16106 metrics/grafana: set shared crosshair tooltip
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16071 log-backup: make initialize failure fatal error, release memory while task stopped.
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/metadata/client.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/tempfiles.rs
  components/backup-stream/tests/failpoints/mod.rs
  components/backup-stream/tests/integration/mod.rs
  components/backup-stream/tests/suite.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5
