Repository tikv/tikv, pull requests merged in 2023-10, with the labels that each got.

#15637 raftstore: split bucket if the increment flow reach the limit
  components/pd_client/src/lib.rs
  components/raftstore-v2/src/operation/bucket.rs
  components/raftstore-v2/src/worker/pd/mod.rs
  components/raftstore-v2/src/worker/pd/region.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/util.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#15733 Revert "log-bakcup: make initial scan asynchronous (#15541)"
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/event_loader.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/subscription_track.rs
  components/backup-stream/src/utils.rs
  components/backup-stream/tests/integration/mod.rs
  components/backup-stream/tests/suite.rs
  components/raftstore/src/router.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, cherry-pick-approved, release-note

#15734 config: set a longer rocksdb io limiter smooth window for raft-v2
  Cargo.lock
  cmd/tikv-ctl/src/main.rs
  src/config/mod.rs
  src/server/engine_factory.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#15740 raftstore: disable region bucket for raftstore v1 by default
  components/raftstore/src/coprocessor/config.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-7.1

#15558 raftstore-v2: support to make protection when disk full.
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/command/admin/merge/prepare.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/admin/transfer_leader.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/pd.rs
  components/raftstore-v2/src/operation/query/lease.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/txn_ext.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/test_raftstore-v2/src/cluster.rs
  components/test_raftstore-v2/src/util.rs
  src/server/raftkv2/mod.rs
  tests/failpoints/cases/test_disk_full.rs
  tests/integrations/raftstore/test_stale_read.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note

#15697 raftstore-v2: fix non-deterministic region merge
  components/raftstore-v2/src/operation/command/admin/merge/commit.rs
  components/raftstore-v2/tests/failpoints/test_merge.rs
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_merge.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-7.1

#15709 coprocessor: do not treat deadline exceeded error as other error
  src/coprocessor/dag/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#15723 raftstore-v2: adjust max-background-flushes default value
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-7.1

#15704 raftstore-v2: avoid follower forwarding propose msg
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/simple_write.rs
  tests/failpoints/cases/test_transaction.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-7.1

#15750 [Dynamic Regions] Supplement extra uts for test_storage.rs.
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/operation/txn_ext.rs
  components/raftstore-v2/src/router/message.rs
  components/test_raftstore-v2/src/cluster.rs
  src/server/raftkv2/mod.rs
  tests/failpoints/cases/test_storage.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#15635 raftstore: Introduce failed state for unsafe recovery to fix rollback merge timeout
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/unsafe_recovery/demote.rs
  components/raftstore-v2/src/operation/unsafe_recovery/force_leader.rs
  components/raftstore-v2/src/operation/unsafe_recovery/report.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/unsafe_recovery.rs
  tests/failpoints/cases/test_unsafe_recovery.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#15595 unsafe recovery: cherry-pick #15578 into 7.1
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_unsafe_recovery.rs
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#15726 retry leader read when stale read encounters data not ready
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/read.rs
  tests/failpoints/cases/test_kv_service.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: type/enhancement, sig/raft, sig/transaction, status/LGT2, status/can-merge, size/XL, release-note

#15685 snap_restore: Abort last recover region
  Cargo.toml
  components/raftstore/src/store/transport.rs
  components/snap_recovery/Cargo.toml
  components/snap_recovery/src/leader_keeper.rs
  components/snap_recovery/src/services.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#15769 config: adjust rocksdb background compaction threads
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-7.1

#15013 import: write RPC will check region epoch before continue
  Makefile
  components/raftstore-v2/src/operation/command/write/ingest.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/worker/cleanup.rs
  components/raftstore/src/store/worker/cleanup_sst.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/lib.rs
  components/sst_importer/src/sst_importer.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  src/import/sst_service.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-7.1

#15716 add more metrics for slow commit log diagnostics
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/msg.rs
  metrics/grafana/tikv_details.json
  src/server/server.rs
  tests/failpoints/cases/test_merge.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#15775 titan: update titan to avoid manifest mutex on release-7.1
  Cargo.lock
  components/engine_rocks/Cargo.toml
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note

#15722 s3: support backup with session token and assume role
  components/cloud/aws/src/s3.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#15783 chore: bump version to 7.5.0
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, release-note

#15747 tikv_util: Support customizing evict policy and operations without promoting for LruCache
  components/tikv_util/src/lru.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#15788 chore: bump version to 7.1.2
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, release-note

#15787 Revert "import: write RPC will check region epoch before continue"
  Makefile
  components/raftstore-v2/src/operation/command/write/ingest.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/worker/cleanup.rs
  components/raftstore/src/store/worker/cleanup_sst.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/lib.rs
  components/sst_importer/src/sst_importer.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  src/import/sst_service.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-7.5

#15780 raftstore-v2: Allow rollback merge during unsafe recovery for raftstore v2
  components/raftstore-v2/src/operation/command/admin/merge/commit.rs
  components/raftstore-v2/src/operation/command/admin/merge/prepare.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_unsafe_recovery.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#15749 storage/txn: Add txn_status_cache module
  components/tikv_util/src/lru.rs
  src/storage/metrics.rs
  src/storage/txn/mod.rs
  src/storage/txn/txn_status_cache.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#15808 *: remove unused dyn and grpc external storage
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup-stream/Cargo.toml
  components/backup-stream/src/router.rs
  components/backup/Cargo.toml
  components/backup/src/endpoint.rs
  components/backup/src/service.rs
  components/backup/src/writer.rs
  components/cloud/aws/src/s3.rs
  components/cloud/azure/src/azblob.rs
  components/cloud/gcp/src/gcs.rs
  components/cloud/src/blob.rs
  components/external_storage/Cargo.toml
  components/external_storage/examples/scli.rs
  components/external_storage/export/Cargo.toml
  components/external_storage/export/src/bin/tikv-cloud-storage.rs
  components/external_storage/export/src/dylib.rs
  components/external_storage/export/src/grpc_service.rs
  components/external_storage/export/src/lib.rs
  components/external_storage/export/src/request.rs
  components/external_storage/src/dylib_client.rs
  components/external_storage/src/export.rs
  components/external_storage/src/grpc_client.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/request.rs
  components/raftstore-v2/Cargo.toml
  components/raftstore/Cargo.toml
  components/sst_importer/Cargo.toml
  components/sst_importer/src/caching/storage_cache.rs
  components/sst_importer/src/sst_importer.rs
  components/sst_importer/src/util.rs
  components/test_backup/Cargo.toml
  components/test_backup/src/lib.rs
  tests/Cargo.toml
  tests/failpoints/cases/test_import_service.rs
  tests/integrations/backup/mod.rs
  tests/integrations/import/test_apply_log.rs
  tests/integrations/import/test_sst_service.rs
  tests/integrations/import/util.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#15761 server: make cpu and heap profiling can be running concurrently
  src/server/status_server/jeprof.in
  src/server/status_server/mod.rs
  src/server/status_server/profile.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#15806 raftstore: fix an OOM issue by paginate scan unapplied config changes
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, release-note, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15785 raftstore: calculate group id for every peer when it is syn-recover status
  components/raftstore/src/store/peer.rs
  components/test_pd_client/src/pd.rs
  tests/integrations/raftstore/test_replication_mode.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15819 copr: fix cast_bytes_like_as_duration encoding failed
  components/tidb_query_expr/src/impl_cast.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15810 chore: bump version to 7.6.0-alpha
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, release-note, do-not-merge/needs-linked-issue

#15797 metrics: Add extra necessary metrics for monitoring SlowTrend performance.
  metrics/grafana/tikv_details.json
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#15833 grafana: Fix wrong scheduler command variables of grafana in cloud env
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XS, release-note

#15830 raftstore: Fix group commit is mistakenly enabled in sync recover state
  components/raftstore/src/store/peer.rs
  components/test_pd_client/src/pd.rs
  tests/integrations/raftstore/test_replication_mode.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15798 raftstore: improve the bucket split strategy
  components/raftstore-v2/src/operation/bucket.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/read.rs
  components/raftstore/src/store/worker/split_check.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15850 raftstore: make release work
  components/raftstore/src/store/fsm/peer.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#15795 import: write RPC will check region epoch before continue
  Makefile
  components/error_code/src/sst_importer.rs
  components/raftstore-v2/src/operation/command/write/ingest.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/worker/cleanup.rs
  components/raftstore/src/store/worker/cleanup_sst.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/sst_importer/src/errors.rs
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/lib.rs
  components/sst_importer/src/sst_importer.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  src/import/sst_service.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15852 doc: Add CPU and heap profiling HTTP API doc
  doc/http.md
Labels: status/LGT2, status/can-merge, size/L, release-note

#15860 metrics: fix 2 incorrect grafana expression
  metrics/alertmanager/tikv.accelerate.rules.yml
  metrics/alertmanager/tikv.rules.yml
  metrics/grafana/performance_read.json
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_fast_tune.json
  metrics/grafana/tikv_trouble_shooting.json
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#15861 Cherry-pick online recovery and dr auto sync releated related PRs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/test_pd_client/src/pd.rs
  tests/failpoints/cases/test_unsafe_recovery.rs
  tests/integrations/raftstore/test_replication_mode.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#15658 txn: Fix to the prewrite requests retry problem by using TxnStatusCache
  components/test_raftstore-v2/src/util.rs
  components/test_raftstore/src/util.rs
  src/storage/config.rs
  src/storage/mod.rs
  src/storage/mvcc/metrics.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/acquire_pessimistic_lock_resumed.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/compare_and_swap.rs
  src/storage/txn/commands/flashback_to_version.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pause.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/txn_status_cache.rs
  tests/failpoints/cases/test_kv_service.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/XXL, release-note, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15879 tidb_query_expr: fix the behavior of `field` function
  components/tidb_query_expr/src/impl_string.rs
  components/tidb_query_expr/src/lib.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-7.5

#15853 rafstore, engine_rocks: periodic full compaction (#12729)
  Cargo.lock
  components/online_config/Cargo.toml
  components/online_config/src/lib.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/worker/compact.rs
  components/raftstore/src/store/worker/metrics.rs
  components/tikv_util/src/config.rs
  tests/integrations/config/mod.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XL, release-note, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5
