Repository tikv/tikv, pull requests merged in 2023-04, with the labels that each got.

#14493 Parameterize Simulator and Cluster in test_raftstore-v2
  Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_panic/src/engine.rs
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/engine.rs
  components/engine_traits/src/engine.rs
  components/server/src/common.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/cluster.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore-v2/src/util.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#14461 raftstore-v2: thread name fix
  components/causal_ts/src/tso.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/worker/tablet_flush.rs
  components/server/src/server.rs
  components/server/src/server2.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none

#14512 server, test: Refactor NodeCluster and ServerCluster
  components/server/src/common.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore-v2/src/util.rs
  components/test_raftstore/src/util.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#14465 cdc: batch send resolved ts exponentially to speed up TiCDC resolve lock
  components/cdc/src/endpoint.rs
Labels: status/LGT2, status/can-merge, component/CDC, size/L, release-note-none

#14537 tikv_util: cgroup path parsing fix
  components/tikv_util/src/sys/cgroup.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#14526 [raftstore-v2]: check apply_scheduler before using in on_refresh_region_buckets
  components/raftstore-v2/src/operation/bucket.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/query/mod.rs
  components/raftstore-v2/tests/failpoints/mod.rs
  components/raftstore-v2/tests/failpoints/test_bucket.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/mod.rs
  components/raftstore/src/store/region_meta.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14490 log-backup: use conservativer batch strategy
  src/import/sst_service.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.5

#14454 log-backup: eliminate some verbose logs
  Cargo.lock
  components/backup-stream/Cargo.toml
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/metrics.rs
  components/backup-stream/src/observer.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/subscription_track.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-7.0

#14543 *: register cdc/resolved_ts endpoint in server2
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/tests/mod.rs
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore-v2/src/router/imp.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/store.rs
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/scanner.rs
  components/resolved_ts/tests/mod.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore/src/server.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14535 fix cgroup parse problem
  components/tikv_util/src/sys/cgroup.rs
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note

#14529 storage: implement the row value checksum encode logic in tikv side
  Cargo.lock
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/src/codec/row/v2/encoder_for_test.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14560 server2: disable cdc and resolved_ts as they are not fully implemented
  components/server/src/server2.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#14492 txn: Support check for_update_ts when prewriting
  Cargo.lock
  components/resolved_ts/src/cmd.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/mod.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/failpoints/cases/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#14509 resource_control: fix virtual time overflow
  Cargo.lock
  components/resource_control/Cargo.toml
  components/resource_control/src/resource_group.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14563 chore: bump version to v6.5.2
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, release-note

#14558 raftstore-v2: implement CaptureChange and LeaderCallback
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/query/capture.rs
  components/raftstore-v2/src/operation/query/mod.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/router/imp.rs
  components/raftstore-v2/src/router/internal_message.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/src/router/mod.rs
  components/raftstore-v2/src/router/response_channel.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/mod.rs
  components/raftstore/src/store/msg.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14544 Move simple write into raftstore
  components/raftstore-v2/src/operation/command/admin/merge/prepare.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/command/write/mod.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/simple_write.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#14564 importer: added grafana for point in time restore.
  metrics/grafana/tikv_details.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#14557 txn: Let commit rollback pessimistic lock instead of committing as WriteType::Lock
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/commit.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#14559 raftstore: enable v1 to receive snapshot from v2
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/region.rs
  components/test_raftstore-v2/src/cluster.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/server.rs
  src/server/snap.rs
  src/server/tablet_snap.rs
  tests/integrations/config/dynamic/snap.rs
  tests/integrations/raftstore/test_snap.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14591 raftstore: fix snap manager init
  components/raftstore/src/store/snap.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#14562 *: support observe apply in raftstore v2
  components/cdc/src/endpoint.rs
  components/cdc/tests/mod.rs
  components/raftstore-v2/src/fsm/apply.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/query/capture.rs
  components/raftstore-v2/src/raft/apply.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/simple_write.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14550 raftstore-v2: schedule raft tick after apply snapshot
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/ready/apply_trace.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  tests/failpoints/cases/test_snap.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#14541 update storage.engine config to actual engine type used in existing cluster
  src/config/mod.rs
  src/storage/config.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#14571 txn: round up last_update_duration_ms
  src/server/lock_manager/waiter_manager.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#14374 raftstore-v2: check peer trim status before prepare merge
  components/raftstore-v2/src/operation/command/admin/merge/prepare.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/tests/failpoints/test_merge.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore-v2/tests/integrations/test_merge.rs
  components/raftstore/src/store/fsm/peer.rs
  tests/integrations/raftstore/test_merge.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14578 *: correct io type for raft engine write and purge
  components/file_system/src/lib.rs
  components/file_system/src/rate_limiter.rs
  components/raft_log_engine/src/engine.rs
  components/raftstore-v2/src/batch/store.rs
  components/raftstore/src/store/async_io/read.rs
  components/raftstore/src/store/fsm/store.rs
  components/server/src/common.rs
  src/storage/config.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#14586 encryption: fix key collision handling
  components/encryption/src/manager/mod.rs
Labels: status/LGT2, status/can-merge, size/M, needs-cherry-pick-release-5.0, release-note, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#14582 sched_pool: auto switch between the single queue and priority queue
  components/resource_control/src/resource_group.rs
  metrics/grafana/tikv_fast_tune.json
  src/storage/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/sched_pool.rs
  tests/failpoints/cases/test_storage.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14603 fix engine type config on existing cluster
  cmd/tikv-server/src/main.rs
  src/storage/config.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#14549 raftstore-v2: adapt catch up new peer for pending peers after split
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/operation/pd.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/test_pd_client/src/pd.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14590 snapshot-v2: delete idle snapshot file
  components/file_system/src/lib.rs
  components/raftstore/src/store/snap.rs
  src/server/server.rs
  src/server/tablet_snap.rs
  tests/integrations/raftstore/test_snap.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#14567 raftstore-v2: memtable pre-flush should be async
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/lib.rs
  components/raftstore-v2/src/operation/command/admin/compact_log.rs
  components/raftstore-v2/src/operation/command/admin/mod.rs
  components/raftstore-v2/src/operation/command/admin/split.rs
  components/raftstore-v2/src/operation/command/write/ingest.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/src/worker/mod.rs
  components/raftstore-v2/src/worker/tablet.rs
  components/raftstore-v2/src/worker/tablet_flush.rs
  components/txn_types/src/types.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14587 raftstore-v2: add capture tests
  Cargo.lock
  components/raftstore-v2/Cargo.toml
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/query/capture.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/simple_write.rs
  components/server/src/server2.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14605 resource_control: take global resource consumption into consideration
  Cargo.lock
  components/resource_control/src/resource_group.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  src/coprocessor/endpoint.rs
  src/server/raftkv/mod.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/txn/commands/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#14613 chore: bump version to v7.1.0
  Cargo.lock
  Cargo.toml
Labels: contribution, do-not-merge/cherry-pick-not-approved, release-note

#14615 chore: bump version to v7.2.0-alpha
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, release-note, do-not-merge/needs-linked-issue

#14527 engine: add configurations for filter enhancements
  Cargo.lock
  etc/config-template.toml
  src/config/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14583 raftstore-v2: support renaming encrypted dir (inefficiently) and batch importing data keys
  Cargo.lock
  components/encryption/Cargo.toml
  components/encryption/export/src/lib.rs
  components/encryption/src/file_dict_file.rs
  components/encryption/src/lib.rs
  components/encryption/src/manager/mod.rs
  components/engine_rocks/src/sst.rs
  components/engine_test/src/lib.rs
  components/engine_traits_tests/Cargo.toml
  components/engine_traits_tests/src/checkpoint.rs
  components/engine_traits_tests/src/ctor.rs
  components/engine_traits_tests/src/lib.rs
  components/file_system/src/lib.rs
  components/raftstore-v2/Cargo.toml
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/ready/apply_trace.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore/src/store/async_io/read.rs
  components/raftstore/src/store/snap.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  components/test_util/src/encryption.rs
  src/server/engine_factory.rs
  src/server/raftkv2/node.rs
  src/server/tablet_snap.rs
  tests/failpoints/cases/test_encryption.rs
  tests/integrations/import/util.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#14617 raftstore-v2: report sending/recving count
  components/raftstore-v2/src/operation/pd.rs
  components/raftstore/src/store/snap.rs
  src/server/tablet_snap.rs
  tests/failpoints/cases/test_snap.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-7.1

#14616 raftstore,server: add enable_v2_compatible_learner config
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/region.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/config/mod.rs
  src/server/server.rs
  src/server/snap.rs
  tests/integrations/config/dynamic/snap.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_snap.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14584 raftstore: enable raftstore-v1 apply tablet snapshot sent from raftstore-v2
  Cargo.lock
  components/raftstore/src/store/snap.rs
  components/test_raftstore/src/server.rs
  src/server/metrics.rs
  src/server/snap.rs
  src/server/tablet_snap.rs
  tests/integrations/raftstore/test_snap.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14631 chore: bump version to 7.1.0-rc.0
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, release-note

#14574 raft: peers shouldn't hibernate incorrectly when one node fails
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/mod.rs
  src/server/raft_client.rs
  src/server/server.rs
  src/server/service/kv.rs
  tests/failpoints/cases/test_hibernate.rs
  tests/integrations/raftstore/test_tombstone.rs
  tests/integrations/server/raft_client.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-6.5

#14647 raftstore: delete tablet snap if exists
  components/raftstore/src/store/snap.rs
  tests/integrations/raftstore/test_snap.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-7.1

#14530 [raftstore-v2]: add the missed apply log duration and fix apply wait time
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/query/capture.rs
  components/raftstore/src/store/local_metrics.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#14601 raftstore: make v1 learner compatible with gc peer
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/router/response_channel.rs
  components/raftstore/src/store/fsm/life.rs
  components/raftstore/src/store/fsm/mod.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/region.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_life.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14629 cdc: support filter lossy DDL changes
  components/cdc/src/delegate.rs
  components/cdc/src/initializer.rs
  components/cdc/src/lib.rs
  components/cdc/src/txn_source.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#14610 cloud: update dependencies on Azure.
  Cargo.lock
  components/cloud/azure/Cargo.toml
  components/cloud/azure/src/azblob.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#14635 update pprof
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, release-note, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#14637 txn: Check whether the primary matches when handling check_txn_status requests
  Cargo.lock
  components/error_code/src/storage.rs
  etc/error_code.toml
  src/storage/errors.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/txn/actions/check_txn_status.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#14665 raftstore-v2: fix stale read by correct updating peers
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore/src/store/util.rs
  components/test_raftstore-v2/src/server.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_lease_read.rs
  tests/integrations/raftstore/test_stale_read.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-7.1

#14662 metrics: add missing `check_leader` gRPC metrics
  src/server/service/kv.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#14625 [raftstore-v2]: optimize the load based split config based on region size
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/split_config.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#14638 raftstore: support decode simple write request in v1
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/util.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_v1_v2_mixed.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/XXL, release-note-none

#14634 Pick #14584 and #14616 and #14583 to release-7.1
  Cargo.lock
  components/encryption/Cargo.toml
  components/encryption/export/src/lib.rs
  components/encryption/src/file_dict_file.rs
  components/encryption/src/lib.rs
  components/encryption/src/manager/mod.rs
  components/engine_rocks/src/sst.rs
  components/engine_test/src/lib.rs
  components/engine_traits_tests/Cargo.toml
  components/engine_traits_tests/src/checkpoint.rs
  components/engine_traits_tests/src/ctor.rs
  components/engine_traits_tests/src/lib.rs
  components/file_system/src/lib.rs
  components/raftstore-v2/Cargo.toml
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/ready/apply_trace.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/ready/snapshot.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore-v2/src/raft/storage.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/raftstore/src/store/async_io/read.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/region.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_util/src/encryption.rs
  src/config/mod.rs
  src/server/engine_factory.rs
  src/server/metrics.rs
  src/server/raftkv2/node.rs
  src/server/server.rs
  src/server/snap.rs
  src/server/tablet_snap.rs
  tests/failpoints/cases/test_encryption.rs
  tests/integrations/config/dynamic/snap.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/import/util.rs
  tests/integrations/raftstore/test_snap.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, cherry-pick-approved, release-note-none

#14611 storage: add checksum logic in row slice, add cop and get test cases
  components/test_coprocessor/src/fixture.rs
  components/test_coprocessor/src/store.rs
  components/tidb_query_datatype/src/codec/data_type/scalar.rs
  components/tidb_query_datatype/src/codec/row/v2/encoder_for_test.rs
  components/tidb_query_datatype/src/codec/row/v2/mod.rs
  components/tidb_query_datatype/src/codec/row/v2/row_slice.rs
  components/tidb_query_datatype/src/def/field_type.rs
  src/storage/mvcc/reader/point_getter.rs
  tests/integrations/coprocessor/test_select.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#14673 raftstore: support decode simple write request in v1 (#14638)
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/util.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_v1_v2_mixed.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, cherry-pick-approved, release-note-none

#14565 raftstore-v2: support dynamic config write buffer settings
  components/engine_panic/src/db_options.rs
  components/engine_rocks/src/db_options.rs
  components/engine_traits/src/db_options.rs
  components/tikv_util/src/config.rs
  src/config/configurable.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#14671 chore: bump version to 7.1.0
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, release-note
