Repository tikv/tikv, pull requests merged in 2023-12, with the labels that each got.

#16133 raftstore: clean up destroyed_region_for_snap when a peer is destroyed
  components/raftstore/src/store/fsm/peer.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16127 cdc: return server_is_busy to cdc clients if necessary
  Cargo.lock
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16087 raftstore: fine-tunes slow score
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/L, release-note

#16145 metrics: fix heatmap on grafana 9
  metrics/grafana/common.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16149 Fix the QPS metrics in tikv_details.json.
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16100 resource_control: replace limited future's post delay with delay before first poll
  components/resource_control/src/future.rs
  components/resource_control/src/resource_limiter.rs
  components/resource_control/src/service.rs
  components/resource_control/src/worker.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-7.5

#16140 raftstore/util: fix errors in comments of get_min_resolved_ts
  components/raftstore/src/store/util.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16151 server: Remove periodic heap profiling
  components/server/src/server.rs
  components/server/src/server2.rs
  doc/http.md
  src/config/mod.rs
  src/server/status_server/mod.rs
  src/server/status_server/profile.rs
  tests/integrations/server/status_server.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#16152 enable entry cache evict on high cpu
  components/raftstore/src/store/config.rs
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note

#16157 revert "cdc: limit pending scan tasks (#16048) (#16054)"
  components/cdc/src/endpoint.rs
  src/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: size/L, release-note-none

#16153 [cherry-pick-7.5] raftstore: fine-tunes slow score (#16087)
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/local_metrics.rs
  components/raftstore/src/store/worker/pd.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#16160 coprocessor: rewrite `Upper` and `Lower` functions by porting the implementation from Go library
  components/tidb_query_datatype/src/codec/collation/encoding/gbk.rs
  components/tidb_query_datatype/src/codec/collation/encoding/mod.rs
  components/tidb_query_datatype/src/codec/collation/encoding/unicode_letter.rs
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_expr/src/impl_string.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16114 In-memory Engine: defining hybrid engine
  Cargo.lock
  Cargo.toml
  components/engine_traits/src/lib.rs
  components/engine_traits/src/memory_engine.rs
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/cf_names.rs
  components/hybrid_engine/src/cf_options.rs
  components/hybrid_engine/src/checkpoint.rs
  components/hybrid_engine/src/compact.rs
  components/hybrid_engine/src/db_options.rs
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/engine_iterator.rs
  components/hybrid_engine/src/flow_control_factors.rs
  components/hybrid_engine/src/hybrid_metrics.rs
  components/hybrid_engine/src/import.rs
  components/hybrid_engine/src/iterable.rs
  components/hybrid_engine/src/lib.rs
  components/hybrid_engine/src/misc.rs
  components/hybrid_engine/src/mvcc_properties.rs
  components/hybrid_engine/src/perf_context.rs
  components/hybrid_engine/src/range_properties.rs
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/sst.rs
  components/hybrid_engine/src/table_properties.rs
  components/hybrid_engine/src/ttl_properties.rs
  components/hybrid_engine/src/write_batch.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16168 chore: bump version to 7.1.3
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#16167 cloud: update cloud sdk that supports fips 140 for cloud sdk (#16098)
  Cargo.lock
  Cargo.toml
  components/cloud/aws/src/s3.rs
  components/cloud/azure/Cargo.toml
Labels: contribution, status/LGT1, size/M, release-note-none

#16096 server: make gc support multi-threads
  components/tikv_util/src/worker/pool.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/config.rs
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/XL, release-note

#16170 *: use OpenSSL for crypto RNG
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-ctl/src/main.rs
  cmd/tikv-server/Cargo.toml
  cmd/tikv-server/src/main.rs
  components/backup-stream/Cargo.toml
  components/backup/src/writer.rs
  components/crypto/Cargo.toml
  components/crypto/build.rs
  components/crypto/src/fips.rs
  components/crypto/src/lib.rs
  components/crypto/src/rand.rs
  components/encryption/Cargo.toml
  components/encryption/src/crypter.rs
  components/encryption/src/encrypted_file/mod.rs
  components/encryption/src/file_dict_file.rs
  components/encryption/src/io.rs
  components/encryption/src/manager/mod.rs
  components/encryption/src/master_key/file.rs
  components/encryption/src/master_key/kms.rs
  components/encryption/src/master_key/mem.rs
  components/server/Cargo.toml
  components/tidb_query_expr/Cargo.toml
  components/tidb_query_expr/src/impl_encryption.rs
  components/tikv_util/src/lib.rs
  scripts/check-bins.py
  src/lib.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5

#16171 server: Fix heap profile temp file is dropped before reading
  src/server/status_server/mod.rs
  src/server/status_server/profile.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16172 coprocessor: add query digest tracing in tikv slow query
  src/coprocessor/tracker.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16132 In-memory Engine: integrate hybrid engine with TiKV
  Cargo.lock
  Cargo.toml
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/misc.rs
  components/engine_traits/src/misc.rs
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/lib.rs
  components/hybrid_engine/src/misc.rs
  components/raftstore/src/compacted_event_sender.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/server/Cargo.toml
  components/server/src/common.rs
  components/server/src/server.rs
  components/snap_recovery/src/init_cluster.rs
  components/snap_recovery/src/region_meta_collector.rs
  components/snap_recovery/src/services.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16116 coprocessor: change the log level to debug for cop error response
  src/coprocessor/endpoint.rs
Labels: type/cherry-pick, status/LGT2, size/L, release-note-none

#16177 cloud: update gcs sdk to support fips 140
  Cargo.lock
  Cargo.toml
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#16178 cloud: update gcs and azure sdk
  Cargo.lock
  Cargo.toml
Labels: contribution, status/LGT1, size/M, release-note-none

#16182 Dockerfile: fix release-6.5 FIPS build
  Dockerfile.FIPS
Labels: size/XS, release-note-none

#16163 In-memory Engine: implement read flow part 1
  Cargo.lock
  components/backup-stream/src/utils.rs
  components/cdc/src/observer.rs
  components/cdc/src/old_value.rs
  components/engine_panic/src/engine.rs
  components/engine_rocks/src/engine.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/errors.rs
  components/engine_traits_tests/src/iterator.rs
  components/engine_traits_tests/src/read_consistency.rs
  components/engine_traits_tests/src/snapshot_basic.rs
  components/error_code/src/engine.rs
  components/hybrid_engine/src/engine.rs
  components/raftstore-v2/src/operation/query/capture.rs
  components/raftstore-v2/src/operation/query/local.rs
  components/raftstore/src/store/async_io/write_tests.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/raftstore/src/store/worker/consistency_check.rs
  components/raftstore/src/store/worker/read.rs
  components/raftstore/src/store/worker/region.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/tikv_kv/src/rocksdb_engine.rs
  src/server/node.rs
  tests/benches/misc/raftkv/mod.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16184 Dockerfile: support multi-arch build
  Dockerfile.FIPS
Labels: contribution, status/LGT1, size/XS, release-note-none

#16186 In-memory Engine: integrate HybridEngine with integration test framework
  Cargo.lock
  components/backup-stream/tests/suite.rs
  components/cdc/tests/mod.rs
  components/resolved_ts/tests/mod.rs
  components/test_backup/Cargo.toml
  components/test_backup/src/lib.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/lib.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/transport_simulate.rs
  components/test_raftstore/src/util.rs
  components/test_storage/Cargo.toml
  components/test_storage/src/assert_storage.rs
  components/test_storage/src/util.rs
  tests/benches/raftstore/mod.rs
  tests/failpoints/cases/test_bootstrap.rs
  tests/failpoints/cases/test_cmd_epoch_checker.rs
  tests/failpoints/cases/test_conf_change.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_rawkv.rs
  tests/failpoints/cases/test_replica_read.rs
  tests/failpoints/cases/test_replica_stale_read.rs
  tests/failpoints/cases/test_sst_recovery.rs
  tests/failpoints/cases/test_stale_read.rs
  tests/failpoints/cases/test_witness.rs
  tests/integrations/coprocessor/test_select.rs
  tests/integrations/import/util.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_clear_stale_data.rs
  tests/integrations/raftstore/test_compact_after_delete.rs
  tests/integrations/raftstore/test_compact_lock_cf.rs
  tests/integrations/raftstore/test_compact_log.rs
  tests/integrations/raftstore/test_early_apply.rs
  tests/integrations/raftstore/test_flashback.rs
  tests/integrations/raftstore/test_hibernate.rs
  tests/integrations/raftstore/test_joint_consensus.rs
  tests/integrations/raftstore/test_lease_read.rs
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_prevote.rs
  tests/integrations/raftstore/test_region_change_observer.rs
  tests/integrations/raftstore/test_region_heartbeat.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
  tests/integrations/raftstore/test_replication_mode.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_split_region.rs
  tests/integrations/raftstore/test_stale_peer.rs
  tests/integrations/raftstore/test_stats.rs
  tests/integrations/raftstore/test_tombstone.rs
  tests/integrations/raftstore/test_transport.rs
  tests/integrations/raftstore/test_update_region_size.rs
  tests/integrations/raftstore/test_witness.rs
  tests/integrations/resource_metering/test_read_keys.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/server/lock_manager.rs
  tests/integrations/server_encryption.rs
  tests/integrations/storage/test_raft_storage.rs
  tests/integrations/storage/test_raftkv.rs
  tests/integrations/storage/test_region_info_accessor.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16143 *: add log and metric in raft_client
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/server/metrics.rs
  src/server/raft_client.rs
Labels: contribution, status/LGT2, status/can-merge, size/XXL, release-note-none

#16201 *: do not suffix "fips" for tikv version ouput
  src/lib.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16180 txn: change memory pessimsitic lock to btree map and support scan
  components/raftstore/src/store/txn_ext.rs
  src/storage/mod.rs
  src/storage/mvcc/metrics.rs
  src/storage/mvcc/reader/reader.rs
  tests/integrations/server/kv_service.rs
Labels: sig/transaction, status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#16199 *: set version to 6.5.6-fips
  Cargo.lock
  Cargo.toml
  src/lib.rs
Labels: size/S, release-note-none

#16198 server: add metrics for status server API
  metrics/grafana/common.py
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/server/status_server/metrics.rs
  src/server/status_server/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16181 In-memory Engine: implement read flow -- hybrid engine part
  Cargo.lock
  components/engine_panic/src/engine.rs
  components/engine_rocks/src/engine.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/memory_engine.rs
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/engine_iterator.rs
  components/hybrid_engine/src/iterable.rs
  components/hybrid_engine/src/lib.rs
  components/hybrid_engine/src/snapshot.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/router.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/worker/read.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/engine.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/transport_simulate.rs
  components/test_raftstore/src/util.rs
  src/server/raftkv/mod.rs
  tests/benches/misc/raftkv/mod.rs
  tests/failpoints/cases/test_witness.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_region_cache.rs
  tests/integrations/raftstore/test_witness.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16192 metrics: change resource group label name
  components/resource_control/src/metrics.rs
  src/server/metrics.rs
  src/server/service/kv.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16205 metric: add read scan duration panel
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#16050 Revert "*: make unified-pool use FuturePool (#15925)"
  components/tikv_util/src/yatp_pool/mod.rs
  src/read_pool.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16196 tikv_util: add handled task counter for LazyWorker
  components/tikv_util/src/worker/mod.rs
  components/tikv_util/src/worker/pool.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16212 expression: `cast_duration_as_time` should not consider time zone
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
  components/tidb_query_expr/src/impl_cast.rs
Labels: status/LGT2, status/can-merge, size/S, release-note, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16221 tidb_query_datatype: fix timezone conversion by upgrading chrono-tz
  Cargo.lock
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#15836 *: fix issue of modify resolved-ts.advance-ts-interval from 5s to 2s is not work
  components/resolved_ts/src/advance.rs
  components/resolved_ts/src/endpoint.rs
Labels: sig/transaction, contribution, status/LGT2, status/can-merge, size/S, release-note, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16193 In-memory Engine: implement read flow -- support sequence number
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/keys.rs
  components/region_cache_memory_engine/src/lib.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16237 In-memory Engine: implement read flow -- prefix read
  Cargo.lock
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/engine.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16249 readpool: add priority label for running tasks metrics
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  scripts/gen-tikv-details-dashboard
  src/read_pool.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16250 metrics: polish the metrics on Raft IO and Raft Propose sections.
  metrics/grafana/common.py
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16254 chore: bump version to 6.5.7
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#15727 added async-backtrace for log backup
  Cargo.lock
  Cargo.toml
  Makefile
  cmd/tikv-server/Cargo.toml
  cmd/tikv-server/src/main.rs
  components/backup-stream/Cargo.toml
  components/backup-stream/src/checkpoint_manager.rs
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/event_loader.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/subscription_manager.rs
  src/server/status_server/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note
