Repository tikv/tikv, pull requests merged in 2024-11, with the labels that each got.

#17723 batch_system: Add fsm schedule related metrics
  Cargo.lock
  components/batch-system/Cargo.toml
  components/batch-system/src/batch.rs
  components/batch-system/src/fsm.rs
  components/batch-system/src/lib.rs
  components/batch-system/src/metrics.rs
  components/batch-system/src/scheduler.rs
  components/batch-system/src/test_runner.rs
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/fsm/store.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#13814 aws: switch to aws-sdk
  Cargo.lock
  Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/aws/src/kms.rs
  components/cloud/aws/src/s3.rs
  components/cloud/aws/src/util.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/stream.rs
  deny.toml
Labels: contribution, status/LGT1, first-time-contributor, size/XXL, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#17747 In-memory engine: use stop-load-threshold for loading new regions
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/memory_controller.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#17757 RocksDB: Deprecate write_global_seq
  components/engine_panic/src/import.rs
  components/engine_rocks/src/import.rs
  components/engine_traits/src/import.rs
  tests/failpoints/cases/test_import_service.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17763 In-memory Engine: remove dead code and fix typos
  components/engine_traits/src/region_cache_engine.rs
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/engine.rs
  components/in_memory_engine/src/write_batch.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17730 resolved-ts: use min_lock_ts-1 as the candidate of resolved-ts
  components/resolved_ts/src/resolver.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17751 in_memory_engine: adjust the default config
  components/hybrid_engine/src/observer/load_eviction.rs
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/config.rs
  components/in_memory_engine/src/write_batch.rs
  components/tikv_util/src/config.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/config/mod.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#17744 batch-system: Reduce the memory usage of peers' message channel (#17326)
  components/backup/src/service.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/cleanup_snapshot.rs
  components/raftstore/src/store/worker/pd.rs
  components/snap_recovery/src/services.rs
  components/test_raftstore/src/router.rs
  src/server/server.rs
  tests/integrations/raftstore/test_snap_recovery.rs
Labels: size/XL, cherry-pick-approved, release-note, lgtm, approved, dco-signoff: yes

#17771 In-memory Engine: fix panic when destroy an uninitialized region
  components/hybrid_engine/src/observer/load_eviction.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  tests/failpoints/cases/test_in_memory_engine.rs
  tests/failpoints/cases/test_stale_peer.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17665 Make import.num_threads be able to config online
  .config/nextest.toml
  components/backup/src/endpoint.rs
  components/backup/src/utils.rs
  components/sst_importer/src/config.rs
  components/sst_importer/src/import_mode.rs
  components/sst_importer/src/import_mode2.rs
  components/sst_importer/src/sst_importer.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/resizable_threadpool.rs
  src/import/sst_service.rs
Labels: contribution, size/XXL, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#17766 grafana: clarify raft waterfall metrics descriptions
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17724 cdc: do not send too much tasks if cannot be handled in time
  components/cdc/src/endpoint.rs
  components/cdc/src/metrics.rs
  components/cdc/src/observer.rs
  components/cdc/tests/mod.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/txn_types/src/types.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#17765 raft-engine: fix panics when reading entries on compacted raft logs
  Cargo.lock
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes

#17515 In-memory Engine: Adjust memory settings based on available memory
  Cargo.lock
  components/in_memory_engine/src/config.rs
  components/in_memory_engine/src/region_stats.rs
  deny.toml
  src/config/mod.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17798 test: fix the test failure that clear_regions_in_written may be called twice
  components/in_memory_engine/src/write_batch.rs
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#17805 In-memory engine: handle error when getting regions info
  components/in_memory_engine/src/region_stats.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17740 Build: Update dependencies
  Cargo.lock
Labels: size/L, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#17822 aws: switch to aws-sdk
  Cargo.lock
  Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/aws/src/kms.rs
  components/cloud/aws/src/s3.rs
  components/cloud/aws/src/util.rs
  components/test_util/data/.gitignore
  components/test_util/data/ca.pem
  components/test_util/data/generate_certs.sh
  components/test_util/data/key.pem
  components/test_util/data/server.pem
  components/tikv_util/Cargo.toml
  components/tikv_util/src/stream.rs
  deny.toml
Labels: type/cherry-pick, size/XXL, release-note, lgtm, approved, dco-signoff: yes

#17831 Rollup of In-memory Engine commits #17805, #17515, #17771, #17763 and #17747
  components/engine_traits/src/region_cache_engine.rs
  components/hybrid_engine/src/observer/load_eviction.rs
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/config.rs
  components/in_memory_engine/src/engine.rs
  components/in_memory_engine/src/memory_controller.rs
  components/in_memory_engine/src/region_stats.rs
  components/in_memory_engine/src/write_batch.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  src/config/mod.rs
  tests/failpoints/cases/test_in_memory_engine.rs
  tests/failpoints/cases/test_stale_peer.rs
Labels: size/XL, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#17823 raftstore: add write batch limit for raft command batch
  components/raftstore/src/store/fsm/peer.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17632 implement the base library for compacting logs
  Cargo.lock
  Cargo.toml
  components/compact-log-backup/Cargo.toml
  components/compact-log-backup/src/compaction/collector.rs
  components/compact-log-backup/src/compaction/exec.rs
  components/compact-log-backup/src/compaction/meta.rs
  components/compact-log-backup/src/compaction/mod.rs
  components/compact-log-backup/src/errors.rs
  components/compact-log-backup/src/exec_hooks/checkpoint.rs
  components/compact-log-backup/src/exec_hooks/consistency.rs
  components/compact-log-backup/src/exec_hooks/mod.rs
  components/compact-log-backup/src/exec_hooks/observability.rs
  components/compact-log-backup/src/exec_hooks/save_meta.rs
  components/compact-log-backup/src/execute/hooking.rs
  components/compact-log-backup/src/execute/mod.rs
  components/compact-log-backup/src/execute/test.rs
  components/compact-log-backup/src/lib.rs
  components/compact-log-backup/src/source.rs
  components/compact-log-backup/src/statistic.rs
  components/compact-log-backup/src/storage.rs
  components/compact-log-backup/src/test_util.rs
  components/compact-log-backup/src/util.rs
  components/engine_traits/src/sst.rs
  components/tikv_util/src/codec/stream_event.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17837 raftstore: add metrics for snapshots that are dropped
  src/server/metrics.rs
  src/server/snap.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#17625 raftstore: `campaign` newly created regions in time after `Split`
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/snap_recovery/src/leader_keeper.rs
  tests/failpoints/cases/test_split_region.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: size/XL, release-note, lgtm, approved, dco-signoff: yes

#17841 raftstore: skip handle remaining messages if peer is destroyed
  components/raftstore/src/store/fsm/peer.rs
  tests/failpoints/cases/test_merge.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17853 expr: fix panic when using radians and degree
  components/tidb_query_expr/src/impl_math.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17834 import: call sink.fail() when failed to send message by grpc
  Cargo.lock
  src/import/ingest.rs
  src/import/sst_service.rs
  tests/failpoints/cases/test_import_service.rs
Labels: contribution, size/L, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17821 raftstore: Increase the default raft_client_queue_size and raft_msg_max_batch_size.
  src/server/config.rs
Labels: contribution, size/XS, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#17870 lock_manager: Skip updating lock wait info for non-fair-locking requests (#17500)
  src/server/lock_manager/waiter_manager.rs
  src/storage/lock_manager/lock_waiting_queue.rs
  src/storage/lock_manager/mod.rs
  src/storage/txn/scheduler.rs
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes

#17735 Add metrics for raft message send wait & receive delay duration
  Cargo.lock
  components/tikv_util/src/time.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/server/metrics.rs
  src/server/raft_client.rs
  src/server/service/kv.rs
Labels: contribution, size/XXL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17880 fix dead lock when create external storage in less threads
  components/sst_importer/src/sst_importer.rs
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#17795 br: rename limiter to rate_limiter for better readability
  components/backup/src/endpoint.rs
  components/backup/src/softlimit.rs
  components/backup/src/writer.rs
Labels: contribution, size/L, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#17878 cdc: skip loading old values for un-observed ranges
  components/cdc/src/delegate.rs
  components/cdc/tests/integrations/test_cdc.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17872 metrics: Correct bloom prefix efficiency monitoring
  components/engine_rocks/src/rocks_metrics.rs
  components/engine_rocks/src/rocks_metrics_defs.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17784 Refactor Resizable Runtime from blocking TiKV shutting down.
  .config/nextest.toml
  Cargo.lock
  components/backup-stream/src/subscription_manager.rs
  components/backup/src/endpoint.rs
  components/sst_importer/src/config.rs
  components/sst_importer/src/import_mode.rs
  components/sst_importer/src/import_mode2.rs
  components/sst_importer/src/sst_importer.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/resizable_threadpool.rs
  components/tikv_util/src/stream.rs
  src/import/sst_service.rs
Labels: contribution, size/XXL, release-note, ok-to-test, lgtm, approved, dco-signoff: yes
