Repository tikv/tikv, pull requests merged in 2024-07, with the labels that each got.

#17215 raftstore: cancel gen snap task if a peer becomes unreachable
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/test_raftstore/src/transport_simulate.rs
  tests/integrations/raftstore/test_snap.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17219 grafana: Fix display of ingest SST and compaction size
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17227 Revert recent snapshot changes to workaround #17226
  Cargo.lock
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/region.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/transport_simulate.rs
  src/server/snap.rs
  tests/failpoints/cases/test_snap.rs
  tests/integrations/raftstore/test_snap.rs
Labels: size/XXL, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#17212 security: refactor to support new mode `marker`.
  Cargo.lock
  components/backup-stream/src/utils.rs
  components/log_wrappers/Cargo.toml
  components/log_wrappers/src/lib.rs
  components/security/Cargo.toml
  components/security/src/lib.rs
  components/server/src/setup.rs
  components/test_util/Cargo.toml
  components/test_util/src/security.rs
  components/txn_types/src/lock.rs
  etc/config-template.toml
  src/config/mod.rs
  tests/integrations/config/mod.rs
Labels: size/XL, release-note, lgtm, approved, dco-signoff: yes

#17217 In-memory Engine: evict range on ingest sst
  Cargo.lock
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/lib.rs
  components/hybrid_engine/src/observer.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/region.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17235 profiling: Fix cpu profiling flag may not reset when meeting errors
  src/server/status_server/profile.rs
Labels: size/XS, release-note, lgtm, approved, dco-signoff: yes

#17236 In-memory Engine: add prop test for skiplist
  Cargo.lock
  components/range_cache_memory_engine/Cargo.toml
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/lib.rs
  components/range_cache_memory_engine/src/prop_test.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17231 raftstore: fix snap gen cancellation
  components/raftstore/src/store/peer_storage.rs
Labels: contribution, size/M, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.2

#17228 cdc: revert the enhancemant about region partial subscription
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/src/observer.rs
  components/cdc/src/service.rs
  components/cdc/tests/failpoints/test_memory_quota.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  components/txn_types/src/types.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17237 In-memory Engine: do not evict range on applying snapshot
  components/hybrid_engine/src/observer.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17238 br: pre-check TiKV disk space before download
  src/import/sst_service.rs
  tests/failpoints/cases/test_import_service.rs
  tests/integrations/import/test_apply_log.rs
Labels: contribution, size/M, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#17248 cdc: skip incremental scaned events after region fails
  components/cdc/src/channel.rs
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/src/service.rs
  components/cdc/tests/failpoints/test_endpoint.rs
Labels: size/L, release-note-none, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.2

#17257 In-memory Engine: Replace skiplist-rs with crossbeam-skiplist
  Cargo.lock
  components/crossbeam-skiplist/src/base.rs
  components/crossbeam-skiplist/tests/base.rs
  components/range_cache_memory_engine/Cargo.toml
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/read.rs
  components/range_cache_memory_engine/src/write_batch.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17275 Revert "raftstore: handle region destroy in a separate thread pool (#17121)"
  components/raftstore/src/store/worker/region.rs
  tests/failpoints/cases/test_merge.rs
Labels: contribution, size/XL, release-note-none, needs-ok-to-test, lgtm, approved, dco-signoff: yes

#17279 metrics: fix incorrect unit of grpc source requests' duration.
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#17280 Revert "metrics: fix incorrect unit of grpc source requests' duration(#17279)"
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#17266 doc: make c++ complier requirement more accurate
  CONTRIBUTING.md
Labels: contribution, first-time-contributor, size/XS, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17292 *: ignore unsound `openssl::bio::MemBio::get_buf`
  clippy.toml
  deny.toml
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17288 In-memory engine: fix gc may filter keys of onging snapshot
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/range_manager.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17261 In-memory engine: fix repeatable schedule delete-range for the same range
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/read.rs
  components/range_cache_memory_engine/src/write_batch.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17289 chore: bump nightly version to 8.3.0-alpha
  Cargo.lock
  Cargo.toml
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#17295 raftstore: Fix too large slow log
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/msg.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17029 raftstore: optimize the batching mechanism when enabling async-ios.
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/async_io/write_tests.rs
  components/raftstore/src/store/config.rs
  components/tikv_util/src/time.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: size/XL, release-note, lgtm, approved, dco-signoff: yes

#17321 In-memory engine: add eviction duration metrics
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/metrics.rs
  components/range_cache_memory_engine/src/range_manager.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17318 raftstore: cherry-pick #16239 & #16494 & #16738 to v7.1
  Cargo.toml
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  metrics/grafana/tikv_details.json
  tests/failpoints/cases/test_pending_peers.rs
  tests/integrations/config/mod.rs
Labels: size/XXL, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#17297 txn: refactor scheduler and add more information for error type
  components/tikv_util/src/memory.rs
  components/tracker/src/lib.rs
  src/storage/errors.rs
  src/storage/lock_manager/lock_wait_context.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/check_data_constraint.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/flush.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/task.rs
Labels: type/enhancement, sig/transaction, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17274 cdc: re-design delegate and downstream to support partial region subscription better
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/src/observer.rs
  components/cdc/src/service.rs
  components/cdc/tests/failpoints/test_memory_quota.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
  components/txn_types/src/types.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17308 TiKV : Stale reads.: add histogram of min safe ts.
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/metrics.rs
Labels: contribution, size/S, release-note-none, needs-ok-to-test, lgtm, approved, dco-signoff: yes

#17301 br: use dashmap for br router#tasks
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/router.rs
  components/backup-stream/tests/failpoints/mod.rs
  components/backup-stream/tests/suite.rs
Labels: contribution, size/L, release-note, ok-to-test, lgtm, approved, dco-signoff: yes
