Repository tikv/tikv, pull requests merged in 2024-10, with the labels that each got.

#17611 chore: Fix yanked futures-util 0.3.15
  Cargo.lock
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17596 metrics: add basic resource control panels
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17613 test: fix flaky test test_limited_future
  Cargo.lock
  components/resource_control/src/future.rs
  components/tikv_util/Cargo.toml
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#17597 metrics/grafana: fix two heatmap panel issues
  metrics/grafana/common.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17594 snap: ensure the state of snapshot flushed after applying snapshots.
  components/raftstore/src/store/snap/io.rs
  components/raftstore/src/store/worker/region.rs
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#17610 chore: Conditionally compile helper function for failpoints
  components/raftstore/src/store/fsm/peer.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#17573 in_memory_engine: trigger loading pending region with background task
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/cross_check.rs
  components/in_memory_engine/src/engine.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/server/src/common.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  tests/failpoints/cases/test_region_cache_engine.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17091 rocksdb: Upgrade rocksdb
  Cargo.lock
  components/engine_rocks/src/engine_iterator.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/rocks_metrics.rs
  components/engine_rocks/src/rocks_metrics_defs.rs
  components/engine_rocks/src/util.rs
  components/raftstore/src/store/compaction_guard.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/rawkv_compaction_filter.rs
  src/server/ttl/ttl_compaction_filter.rs
  tests/failpoints/cases/test_engine.rs
  tests/integrations/import/test_sst_service.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#17466 *: Remove unused dependency
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-server/Cargo.toml
  components/api_version/Cargo.toml
  components/backup-stream/Cargo.toml
  components/backup/Cargo.toml
  components/batch-system/Cargo.toml
  components/causal_ts/Cargo.toml
  components/cdc/Cargo.toml
  components/cloud/Cargo.toml
  components/cloud/aws/Cargo.toml
  components/cloud/azure/Cargo.toml
  components/cloud/gcp/Cargo.toml
  components/crossbeam-skiplist/Cargo.toml
  components/crypto/Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/export/Cargo.toml
  components/engine_panic/Cargo.toml
  components/engine_rocks/Cargo.toml
  components/engine_rocks_helper/Cargo.toml
  components/engine_test/Cargo.toml
  components/engine_traits/Cargo.toml
  components/engine_traits_tests/Cargo.toml
  components/error_code/Cargo.toml
  components/external_storage/Cargo.toml
  components/file_system/Cargo.toml
  components/health_controller/Cargo.toml
  components/hybrid_engine/Cargo.toml
  components/in_memory_engine/Cargo.toml
  components/online_config/Cargo.toml
  components/pd_client/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore-v2/Cargo.toml
  components/raftstore/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/resource_control/Cargo.toml
  components/resource_metering/Cargo.toml
  components/security/Cargo.toml
  components/server/Cargo.toml
  components/snap_recovery/Cargo.toml
  components/test_backup/Cargo.toml
  components/test_coprocessor/Cargo.toml
  components/test_pd_client/Cargo.toml
  components/test_raftstore-v2/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_storage/Cargo.toml
  components/tidb_query_common/Cargo.toml
  components/tidb_query_executors/Cargo.toml
  components/tikv_kv/Cargo.toml
  components/tikv_util/Cargo.toml
  components/tracker/Cargo.toml
  tests/Cargo.toml
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17604 grafana: Introduce additional groupby
  metrics/grafana/common.py
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note, lgtm, approved, dco-signoff: yes

#17621 Fix SSE42 error
  scripts/check-bins.py
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#17615 resource_control: fix the bug that resource may be counted twice in txn scheduler pool
  src/storage/mod.rs
  src/storage/txn/sched_pool.rs
  src/storage/txn/scheduler.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17593 status_server: Fix output of jeprof
  src/server/status_server/profile.rs
Labels: size/XS, release-note, lgtm, approved, dco-signoff: yes

#17505 copr: add simd for vector distance functions
  Cargo.lock
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/benches/bench_vector_distance.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_vector_float32.rs
  components/tidb_query_datatype/src/codec/datum.rs
  components/tidb_query_datatype/src/codec/mysql/vector.rs
  components/tidb_query_expr/src/impl_vec.rs
Labels: contribution, size/XXL, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#17285 Prepare the external storage interface for compacting log backup
  Cargo.lock
  components/backup-stream/src/router.rs
  components/cloud/Cargo.toml
  components/cloud/aws/src/s3.rs
  components/cloud/azure/src/azblob.rs
  components/cloud/gcp/src/gcs.rs
  components/cloud/gcp/src/lib.rs
  components/cloud/src/blob.rs
  components/engine_panic/src/sst.rs
  components/engine_rocks/src/sst.rs
  components/engine_traits/src/sst.rs
  components/external_storage/Cargo.toml
  components/external_storage/src/export.rs
  components/external_storage/src/hdfs.rs
  components/external_storage/src/lib.rs
  components/external_storage/src/local.rs
  components/external_storage/src/locking.rs
  components/external_storage/src/noop.rs
  components/tikv_util/src/stream.rs
  components/tikv_util/src/sys/mod.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17636 Revert pr "copr: add simd for vector distance functions"
  Cargo.lock
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/benches/bench_vector_distance.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_vector_float32.rs
  components/tidb_query_datatype/src/codec/datum.rs
  components/tidb_query_datatype/src/codec/mysql/vector.rs
  components/tidb_query_expr/src/impl_vec.rs
Labels: contribution, size/XXL, release-note-none, ok-to-test, skip-issue-check, lgtm, approved, dco-signoff: yes

#17635 In-memory engine: fix save point empty assertion fail
  components/in_memory_engine/src/write_batch.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17638 config: disable IME when API v2 or TTL is enabled
  src/config/mod.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17640 In-memory Engine: align config names with spec
  components/hybrid_engine/src/engine.rs
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/config.rs
  components/in_memory_engine/src/engine.rs
  components/in_memory_engine/src/lib.rs
  components/in_memory_engine/src/memory_controller.rs
  components/in_memory_engine/src/prop_test.rs
  components/in_memory_engine/src/region_stats.rs
  components/in_memory_engine/src/write_batch.rs
  components/in_memory_engine/tests/failpoints/test_memory_engine.rs
  components/server/src/common.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  src/config/mod.rs
  tests/integrations/config/test_config_client.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17650 test: fix flaky test test_query_stats and test_store_disconnect_with_hibernate
  components/raftstore/src/store/fsm/peer.rs
  tests/failpoints/cases/test_hibernate.rs
  tests/integrations/raftstore/test_stats.rs
Labels: size/L, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#17646 In-memory engine: fix unsafe-destroy-range/delete-range does not trigger eviction
  Cargo.lock
  components/backup-stream/tests/suite.rs
  components/cdc/tests/mod.rs
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/observer/load_eviction.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_backup/src/disk_snap.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  components/test_storage/src/sync_storage.rs
  src/server/gc_worker/gc_worker.rs
  src/server/server.rs
  tests/failpoints/cases/test_gc_metrics.rs
  tests/failpoints/cases/test_region_cache_engine.rs
  tests/integrations/config/dynamic/gc_worker.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17655 In-memory engine: calculating top stats should not consider reach_stop_load
  components/in_memory_engine/src/region_stats.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  tests/integrations/storage/test_region_info_accessor.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17662 hybrid-engine: fix unexpected compilation behaviors.
  components/hybrid_engine/Cargo.toml
Labels: size/XS, release-note, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.4

#17670 cdc: cancel incremental scan tasks in time
  components/cdc/src/initializer.rs
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#17672 build: fix unexpected CI errors as missing necessary dependencies.
  Cargo.lock
  Cargo.toml
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.4

#17678 garfana: Fix some panels parse error and legend format
  metrics/grafana/common.py
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.4

#17682 in_memory_engine: fix the assert panic caused by gc
  components/in_memory_engine/src/background.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17588 In-memory engine: consider tikv gc in cross check
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/cross_check.rs
  components/in_memory_engine/src/engine.rs
  components/server/src/common.rs
  src/config/mod.rs
  src/server/gc_worker/compaction_filter.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17687 chore: Fix yanked futures-util 0.3.15
  Cargo.lock
Labels: size/M, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#17664 In-memory engine: evict on flashback
  components/engine_traits/src/region_cache_engine.rs
  components/engine_traits/src/write_batch.rs
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/misc.rs
  components/hybrid_engine/src/observer/load_eviction.rs
  components/hybrid_engine/src/observer/write_batch.rs
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/write_batch.rs
  components/hybrid_engine/tests/failpoints/test_write_batch.rs
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/cross_check.rs
  components/in_memory_engine/src/engine.rs
  components/in_memory_engine/src/metrics.rs
  components/in_memory_engine/src/read.rs
  components/in_memory_engine/src/write_batch.rs
  components/in_memory_engine/tests/failpoints/test_memory_engine.rs
  components/raftstore/src/coprocessor/read_write/write_batch.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/fsm/apply.rs
  tests/failpoints/cases/test_region_cache_engine.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17668 In-memory Engine: unify failpoints and logs
  Cargo.lock
  components/crossbeam-skiplist/Cargo.toml
  components/crossbeam-skiplist/src/lib.rs
  components/hybrid_engine/tests/failpoints/test_write_batch.rs
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/cross_check.rs
  components/in_memory_engine/src/engine.rs
  components/in_memory_engine/src/read.rs
  components/in_memory_engine/src/region_manager.rs
  components/in_memory_engine/src/region_stats.rs
  components/in_memory_engine/src/write_batch.rs
  components/in_memory_engine/tests/failpoints/test_memory_engine.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_in_memory_engine.rs
  tests/failpoints/cases/test_merge.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17685 In-memory engine: fix data inconsistency due to unflushed data that exists when schedule load
  Cargo.lock
  components/in_memory_engine/Cargo.toml
  components/in_memory_engine/src/region_manager.rs
  components/in_memory_engine/src/write_batch.rs
  components/test_raftstore/src/util.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17694 In-memory engine: display safe point and safe point gap
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/metrics.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17677 in_memory_engine: add a debug API for IME to show current cached regions metadata
  components/in_memory_engine/src/region_manager.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  src/server/status_server/mod.rs
  tests/integrations/server/status_server.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17697 In-memory engine: display region cache hit related metrics
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/lib.rs
  components/hybrid_engine/src/metrics.rs
  components/hybrid_engine/src/observer/snapshot.rs
  components/hybrid_engine/src/snapshot.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17698 in_memory_engine: add a benchmark for region load
  Cargo.lock
  components/in_memory_engine/Cargo.toml
  components/in_memory_engine/benches/load_region.rs
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/engine.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17695 In-memory engine: display put/delete operations per second
  components/in_memory_engine/src/metrics.rs
  components/in_memory_engine/src/write_batch.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17703 In-memory Engine: fix the panic in write batch prepare
  components/in_memory_engine/src/write_batch.rs
  components/raftstore/src/store/fsm/apply.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  tests/failpoints/cases/test_in_memory_engine.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17702 In-memory engine: copy read throughput and latency panels to in-memory engine
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17712 In-memory engine: evict region when destroy peer
  components/engine_traits/src/region_cache_engine.rs
  components/hybrid_engine/src/observer/load_eviction.rs
  components/in_memory_engine/src/metrics.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/peer.rs
  tests/failpoints/cases/test_in_memory_engine.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17706 *: fix compile fail for test
  components/hybrid_engine/Cargo.toml
  components/raftstore/src/store/fsm/peer.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#17726 RocksDB: Fix SST ingestion
  Cargo.lock
Labels: size/XS, release-note, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.4

#17725 compaction-filter: add test for triggering compaction in CheckAndCompact
  components/raftstore/src/store/worker/compact.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17729 chore: bump master version to 8.5.0-alpha
  Cargo.lock
  Cargo.toml
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#17656 cdc: filter events with the observed range before load old values
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/tests/failpoints/test_endpoint.rs
Labels: size/L, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#17732 RocksDB: Fix deprecated option
  Cargo.lock
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.4

#17734 storage: Fix unexpected flow control after unsafe destroy range -- cp to 7.1
  src/storage/txn/flow_controller/singleton_flow_controller.rs
Labels: size/M, cherry-pick-approved, release-note, lgtm, approved, dco-signoff: yes

#17737 resolved_ts: use smaller timeout when do check_leader (#16000) (#16943)
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/subscription_manager.rs
  components/cdc/src/endpoint.rs
  components/resolved_ts/src/advance.rs
Labels: size/M, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#17733 In-memory engine: rearrange parts of metrics panel
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17738 Fix the problem that CDC and log-backup didn't use advance-ts-interval to limit the timeout of check_leader (#17113)
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/tests/suite.rs
  components/cdc/src/endpoint.rs
  components/cdc/tests/mod.rs
  components/server/src/server.rs
  components/server/src/server2.rs
Labels: size/M, cherry-pick-approved, release-note, lgtm, approved, dco-signoff: yes

#17746 In-memory Engine: evaluate SkiplistEngine memory usage
  Cargo.lock
  components/in_memory_engine/Cargo.toml
  components/in_memory_engine/src/lib.rs
  components/in_memory_engine/src/memory_usage_test.rs
  components/in_memory_engine/src/prop_test.rs
  components/tikv_alloc/src/jemalloc.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17629 resolved-ts: track the number of locks of large txns in resolver
  components/resolved_ts/src/resolver.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17742 add more specific error type in ErrorHeaderKind (#14809)
  src/server/metrics.rs
  src/storage/errors.rs
Labels: size/M, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#17438 raftstore: move snapshot generation out of the region worker
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/mod.rs
  components/raftstore/src/store/worker/region.rs
  components/raftstore/src/store/worker/snap_gen.rs
  components/tikv_util/src/worker/pool.rs
Labels: contribution, size/XXL, release-note, ok-to-test, lgtm, approved, dco-signoff: yes
