Repository tikv/tikv, pull requests merged in 2024-09, with the labels that each got.

#17455 In-memory engine: consider mvcc suffix in prop test
  components/range_cache_memory_engine/src/prop_test.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17443 In-memory engine: introduce stop load limit threshold
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/lib.rs
  components/range_cache_memory_engine/src/memory_controller.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
  tests/integrations/config/test_config_client.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17462 encryption: remove duplicate comments
  components/encryption/src/master_key/kms.rs
  tests/failpoints/cases/test_encryption.rs
Labels: contribution, size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5, ok-to-test, lgtm, approved, dco-signoff: yes

#17458 storage: Fix unexpected flow control after unsafe destroy range
  src/storage/txn/flow_controller/singleton_flow_controller.rs
Labels: size/M, release-note, needs-cherry-pick-release-6.5, lgtm, approved, dco-signoff: yes

#17486 in-memory-region: fix the inconsistency caused by updating region range
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/write_batch.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17499 In-memory engine: provide a callback API for eviction
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/read.rs
  components/range_cache_memory_engine/src/write_batch.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17490 ci: update owners aliases
  OWNERS_ALIASES
Labels: contribution, size/XS, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17450 In-memory engine: optimize auto evict
  components/pd_client/src/lib.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/lib.rs
  components/range_cache_memory_engine/src/memory_controller.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/range_stats.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/smoother.rs
  src/storage/txn/flow_controller/singleton_flow_controller.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17506 In-memory Engine: unify thread names
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/region_label.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17514 util: bump kvproto version
  Cargo.lock
  components/pd_client/src/util.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#17500 lock_manager: Skip updating lock wait info for non-fair-locking requests
  src/server/lock_manager/waiter_manager.rs
  src/storage/lock_manager/lock_waiting_queue.rs
  src/storage/lock_manager/mod.rs
  src/storage/txn/scheduler.rs
Labels: size/S, cherry-pick-approved, release-note, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5, lgtm, approved, dco-signoff: yes

#16864 cdc: handles unordered prewrites on one same key
  components/cdc/src/delegate.rs
  components/cdc/src/initializer.rs
  components/cdc/tests/failpoints/test_endpoint.rs
  components/cdc/tests/mod.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17416 *: fix compatibility to raft-engine.spill-dir (#17358)
  Cargo.lock
  components/raftstore-v2/src/worker/pd/store.rs
  components/raftstore/src/store/worker/pd.rs
  components/server/Cargo.toml
  components/server/src/common.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/sys/disk.rs
  components/tikv_util/src/sys/mod.rs
Labels: size/XXL, cherry-pick-approved, release-note, lgtm, approved, dco-signoff: yes

#17477 In-memory-engine: refactor region manager to avoiding acquire global write lock in hot path
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/misc.rs
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/write_batch.rs
  components/hybrid_engine/tests/failpoints/test_write_batch.rs
  components/raftstore/src/store/worker/read.rs
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/read.rs
  components/range_cache_memory_engine/src/write_batch.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17507 cdc: return sink congested error explictly
  Cargo.lock
  components/cdc/src/channel.rs
  components/cdc/src/delegate.rs
  components/cdc/src/errors.rs
  components/cdc/tests/integrations/test_flow_control.rs
  components/cdc/tests/mod.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17533 cdc: fix unstable test_cdc_pipeline_dml
  components/cdc/src/errors.rs
  components/cdc/tests/failpoints/test_endpoint.rs
  components/cdc/tests/failpoints/test_memory_quota.rs
  components/cdc/tests/mod.rs
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#17512 In-memory engine: optimize eviction on soft limit reached
  Cargo.lock
  components/range_cache_memory_engine/Cargo.toml
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/lib.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/range_stats.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17524 in-memory-engine fix incorrect region count gauge when count becomes 0
  Cargo.lock
  components/range_cache_memory_engine/Cargo.toml
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/range_manager.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17527 metrics: add IME thread cpu panel
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17296 In-memory Engine: reload manual loaded regions after leader transfer
  components/engine_traits/src/range_cache_engine.rs
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/observer/load_eviction.rs
  components/hybrid_engine/src/observer/mod.rs
  components/hybrid_engine/tests/failpoints/test_write_batch.rs
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/metrics.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/region_label.rs
  components/range_cache_memory_engine/src/write_batch.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
  components/server/src/server.rs
  components/test_raftstore/src/server.rs
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17535 raftstore: fix panic due to stale peer handling snapshot
  components/raftstore/src/store/fsm/peer.rs
  tests/failpoints/cases/test_split_region.rs
Labels: contribution, size/L, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#17550 In-memory Engine: fix panic that new region has the same id with evicting region
  components/engine_traits/src/range_cache_engine.rs
  components/range_cache_memory_engine/src/range_manager.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17408 raftstore: directly write kvs rafther than ingestion when merging small regions.
  components/pd_client/src/util.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/server/config.rs
  src/server/snap.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/storage/test_titan.rs
Labels: size/XL, release-note, lgtm, approved, dco-signoff: yes

#17545 support change in memory pessimistic lock memory size dynamically
  components/raftstore/src/store/txn_ext.rs
  src/server/lock_manager/config.rs
  src/server/lock_manager/mod.rs
  src/storage/mod.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_merge.rs
  tests/failpoints/cases/test_split_region.rs
  tests/failpoints/cases/test_transaction.rs
  tests/failpoints/cases/test_transfer_leader.rs
  tests/integrations/config/dynamic/pessimistic_txn.rs
  tests/integrations/config/mod.rs
  tests/integrations/raftstore/test_flashback.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_multi.rs
  tests/integrations/raftstore/test_split_region.rs
  tests/integrations/raftstore/test_transfer_leader.rs
Labels: sig/transaction, size/XL, release-note, lgtm, approved, dco-signoff: yes

#17555 txn: fix the config comment
  etc/config-template.toml
  src/server/lock_manager/config.rs
Labels: sig/transaction, size/S, release-note-none, lgtm, approved, dco-signoff: yes

#17523 In-memory engine: sync evict in auto load/evict to ensure memory reduction
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/memory_controller.rs
  components/range_cache_memory_engine/src/range_stats.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17560 In-memory engine: update the calculation of mvcc_amplification
  components/pd_client/src/lib.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#17433 In-memory engine: try best to preload when transfer leader
  Cargo.lock
  components/engine_traits/src/range_cache_engine.rs
  components/hybrid_engine/src/observer/load_eviction.rs
  components/hybrid_engine/src/range_cache_engine.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/snapshot_backup.rs
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/read.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17558 In-memory engine: fix flaky test `test_load_with_split`
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#17386 In-memory Engine: decoupling raftstore and IME
  Cargo.lock
  components/backup-stream/src/utils.rs
  components/cdc/src/observer.rs
  components/cdc/src/old_value.rs
  components/engine_panic/src/engine.rs
  components/engine_rocks/src/engine.rs
  components/engine_traits/src/engine.rs
  components/engine_traits_tests/src/iterator.rs
  components/engine_traits_tests/src/read_consistency.rs
  components/engine_traits_tests/src/snapshot_basic.rs
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/observer/snapshot.rs
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/write_batch.rs
  components/raftstore-v2/src/operation/query/capture.rs
  components/raftstore-v2/src/operation/query/local.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/read_write/snapshot.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/async_io/write_tests.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/region_snapshot.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/raftstore/src/store/worker/consistency_check.rs
  components/raftstore/src/store/worker/read.rs
  components/raftstore/src/store/worker/region.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/read.rs
  components/server/src/server.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/transport_simulate.rs
  components/test_raftstore/src/util.rs
  components/tikv_kv/src/rocksdb_engine.rs
  src/server/raft_server.rs
  src/server/raftkv/mod.rs
  tests/benches/misc/raftkv/mod.rs
  tests/failpoints/cases/test_witness.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/raftstore/test_witness.rs
  tests/integrations/storage/test_titan.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17571 In-memory engine: fix wrong set in complete checking
  components/range_cache_memory_engine/src/range_stats.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17564 raftstore: skip create logger in `get_entry_header`
  components/raftstore-v2/src/operation/command/admin/merge/prepare.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore/src/store/simple_write.rs
  components/raftstore/src/store/util.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17532 resource_control: support setting resource usage limit for background tasks
  components/resource_control/src/metrics.rs
  components/resource_control/src/resource_group.rs
  components/resource_control/src/worker.rs
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes

#17241 In-memory engine: add cross check task for data consistency verification
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/cross_check.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/lib.rs
  components/range_cache_memory_engine/src/memory_controller.rs
  components/range_cache_memory_engine/src/read.rs
  components/server/src/common.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17460 txn: introduce large_txn_cache in txn_status_cache
  components/tikv_util/src/lru.rs
  src/storage/mod.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/txn_status_cache.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17488 raftstore: optimize entry cache eviction to prevent append rejections under memory pressure
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/memory.rs
  components/tikv_util/src/sys/mod.rs
  src/server/service/kv.rs
  tests/failpoints/cases/test_memory_usage_limit.rs
Labels: contribution, size/XL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17387 br : add encryption support for log/stream backup and restore
  Cargo.lock
  components/backup-stream/Cargo.toml
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/tempfiles.rs
  components/backup-stream/tests/suite.rs
  components/cloud/aws/src/kms.rs
  components/cloud/aws/src/util.rs
  components/cloud/azure/src/kms.rs
  components/cloud/gcp/src/kms.rs
  components/cloud/src/kms.rs
  components/encryption/Cargo.toml
  components/encryption/export/examples/ecli.rs
  components/encryption/export/src/lib.rs
  components/encryption/src/backup/backup_encryption.rs
  components/encryption/src/backup/mod.rs
  components/encryption/src/config.rs
  components/encryption/src/lib.rs
  components/encryption/src/manager/mod.rs
  components/encryption/src/master_key/file.rs
  components/encryption/src/master_key/kms.rs
  components/encryption/src/master_key/mod.rs
  components/encryption/src/test_utils.rs
  components/external_storage/Cargo.toml
  components/external_storage/src/export.rs
  components/external_storage/src/lib.rs
  components/file_system/src/lib.rs
  components/server/src/lib.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/server/src/utils.rs
  components/sst_importer/Cargo.toml
  components/sst_importer/src/service.rs
  components/sst_importer/src/sst_importer.rs
  src/import/sst_service.rs
Labels: contribution, size/XXL, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#17581 raftkv: fix inaccurate async write duration metric
  src/server/raftkv/mod.rs
  src/server/raftkv2/mod.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17544 resource_control: add new config `priority_ctl_strategy` to enhance priority control
  components/resource_control/src/config.rs
  components/resource_control/src/lib.rs
  components/resource_control/src/metrics.rs
  components/resource_control/src/resource_group.rs
  components/resource_control/src/worker.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  etc/config-template.toml
  src/config/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17407 added crc64 and origin region boundary for log backup
  Cargo.lock
  components/backup-stream/Cargo.toml
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/lib.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/subscription_track.rs
  components/backup-stream/tests/integration/mod.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#17540 *: Prevent resolved-ts from being blocked by pipelined DML transactions.
  Cargo.lock
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/event_loader.rs
  components/backup-stream/src/observer.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/subscription_track.rs
  components/backup-stream/tests/suite.rs
  components/resolved_ts/src/cmd.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/resolver.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/metrics.rs
  src/server/service/kv.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/acquire_pessimistic_lock_resumed.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/compare_and_swap.rs
  src/storage/txn/commands/flush.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/txn_status_cache.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17541 Support date_add/date_sub expression functions
  Cargo.lock
  components/tidb_query_datatype/src/codec/error.rs
  components/tidb_query_datatype/src/codec/mysql/decimal.rs
  components/tidb_query_datatype/src/codec/mysql/duration.rs
  components/tidb_query_datatype/src/codec/mysql/mod.rs
  components/tidb_query_datatype/src/codec/mysql/time/interval.rs
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
  components/tidb_query_datatype/src/expr/ctx.rs
  components/tidb_query_datatype/src/lib.rs
  components/tidb_query_expr/src/impl_cast.rs
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
  components/tipb_helper/src/expr_def_builder.rs
Labels: size/XXL, release-note, lgtm, approved, dco-signoff: yes

#17582 metrics: add scheduler worker pool panels
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17574 In-memory engine: fix online configuration not taking effect for some configs
  components/backup/src/endpoint.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/range_stats.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/gc_worker/gc_worker.rs
  tests/failpoints/cases/test_gc_metrics.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
  tests/integrations/storage/test_region_info_accessor.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17590 resource_control: add metrics for priority resource limiter
  Cargo.lock
  components/resource_control/src/lib.rs
  components/resource_control/src/metrics.rs
  components/resource_control/src/resource_limiter.rs
  components/resource_control/src/worker.rs
  components/tikv_util/Cargo.toml
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#17547 chore: Using match for if conditions
  src/storage/txn/scheduler.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes
