Repository tikv/tikv, pull requests merged in 2024-05, with the labels that each got.

#16255 tikv_alloc: Add per thread memory usage
  components/batch-system/src/batch.rs
  components/server/src/server.rs
  components/tikv_alloc/src/default.rs
  components/tikv_alloc/src/jemalloc.rs
  components/tikv_util/src/metrics/allocator_metrics.rs
  components/tikv_util/src/yatp_pool/mod.rs
  etc/config-template.toml
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/config/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#16931 metrics: fix the typo of metrics
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16657 log_backup: add metrics for pending tasks
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16944 In-memory engine: skiplist tombstone should be handled separetely in gc
  components/region_cache_memory_engine/src/background.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16943 resolved_ts: use smaller timeout when do check_leader (#16000)
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/subscription_manager.rs
  components/cdc/src/endpoint.rs
  components/resolved_ts/src/advance.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none, needs-ok-to-test

#16938 tikv_util: make memory quota alloc and free simpler
  components/cdc/src/endpoint.rs
  components/tikv_util/src/memory.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16959 In-memory engine: manually implement partial_eq for CacheRange to avoid the consideration of tag
  components/engine_traits/src/range_cache_engine.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16906 raft-engine: reduce the threshold of compression and add related metrics on it.
  Cargo.lock
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/config/mod.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note, needs-cherry-pick-release-8.1

#16957 pd_client: fix return error when removing safepoint
  components/pd_client/src/client.rs
  components/pd_client/src/client_v2.rs
  components/pd_client/src/lib.rs
  components/test_pd/src/mocker/service.rs
  tests/failpoints/cases/test_pd_client.rs
  tests/integrations/pd/test_rpc_client_legacy.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16968 statistics: add comments for FmSketch
  src/coprocessor/statistics/fmsketch.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16945 In-memory engine: implement core local array and collect read flow statistics
  Cargo.lock
  components/engine_panic/src/engine.rs
  components/engine_panic/src/snapshot.rs
  components/engine_rocks/src/engine_iterator.rs
  components/engine_traits/src/iterable.rs
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/engine_iterator.rs
  components/hybrid_engine/src/util.rs
  components/raftstore/src/store/worker/read.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/metrics.rs
  components/region_cache_memory_engine/src/perf_context.rs
  components/region_cache_memory_engine/src/read.rs
  components/region_cache_memory_engine/src/statistics.rs
  components/region_cache_memory_engine/src/write_batch.rs
  components/server/src/common.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore/src/util.rs
  components/tikv_kv/src/btree_engine.rs
  components/tikv_kv/src/stats.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/storage/raw/encoded.rs
  src/storage/raw/raw_mvcc.rs
  src/storage/txn/store.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_region_cache.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16970 expression: fix overflow panic in `conv`
  components/tidb_query_expr/src/impl_math.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16963 expression: fix a `cast_string_to_decimal` truncate bug
  components/tidb_query_datatype/src/codec/mysql/decimal.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16780 jemalloc: Enable background thread to reduce tail latency
  components/tikv_alloc/src/jemalloc.rs
Labels: status/LGT2, status/can-merge, size/S, release-note

#16975 expression: fix casting REAL type to STRING type
  Cargo.lock
  components/tidb_query_expr/Cargo.toml
  components/tidb_query_expr/src/impl_cast.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, ok-to-test

#16996 statistics: remove unreachable code
  src/coprocessor/statistics/analyze.rs
  src/coprocessor/statistics/analyze_context.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16991 In-memory engine: fix seek does not set self.valid properly
  components/region_cache_memory_engine/src/read.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16997 In-memory engine: add metrics for different types of iteration operations
  components/region_cache_memory_engine/src/metrics.rs
  components/region_cache_memory_engine/src/read.rs
  components/region_cache_memory_engine/src/statistics.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16971 In-memory engine: add metrics for range count
  Cargo.lock
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/metrics.rs
  components/region_cache_memory_engine/src/range_manager.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16995 server: pick the retry local leader read
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/read.rs
  components/test_raftstore/src/util.rs
  tests/failpoints/cases/test_kv_service.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: type/cherry-pick, status/LGT2, size/XL, release-note-none

#17014 expression: revert tikv#17003 (release-8.1)
  Cargo.lock
  components/tidb_query_expr/Cargo.toml
  components/tidb_query_expr/src/impl_cast.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note-none, needs-ok-to-test

#17021 log_backup: fix panic when encountered error during resuming
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/metadata/client.rs
  components/backup-stream/tests/failpoints/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#17008 server: Support explicitly getting health feedback information by calling RPC
  Cargo.lock
  src/server/metrics.rs
  src/server/service/kv.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16977 raftstore: fix a bug where snapshot file is not deleted in time
  src/server/snap.rs
  tests/failpoints/cases/test_snap.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/M, release-note-none, ok-to-test

#16662 coprocessor: limit concurrent requests by memory quota
  components/error_code/src/coprocessor.rs
  components/pd_client/src/lib.rs
  components/resource_metering/src/lib.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/tikv_util/src/memory.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/config/mod.rs
  src/coprocessor/config_manager.rs
  src/coprocessor/endpoint.rs
  src/coprocessor/error.rs
  src/coprocessor/metrics.rs
  src/coprocessor/mod.rs
  src/coprocessor/tracker.rs
  src/server/config.rs
  tests/Cargo.toml
  tests/benches/memory/mod.rs
  tests/integrations/config/dynamic/snap.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#17015 raftstore: add a concurrency limiter for receiving snapshots
  components/raftstore/src/store/snap.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/L, release-note-none, ok-to-test

#16784 rocksdb: Expose track-and-verify-wals-in-manifest config (#16546)
  components/engine_panic/src/db_options.rs
  components/engine_rocks/src/db_options.rs
  components/engine_traits/src/db_options.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none

#17038 tikv-ctl: add region state to `raft region` command output
  cmd/tikv-ctl/src/executor.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-7.5

#17013 expression: reverts tikv#16975
  Cargo.lock
  components/tidb_query_expr/Cargo.toml
  components/tidb_query_expr/src/impl_cast.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, ok-to-test

#17051 raftstore: add region_id to snap concurrency limiter APIs
  components/raftstore/src/store/snap.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none, ok-to-test

#17050 raftstore: do not free cached entries if not all of them are persisted
  components/raftstore/src/store/entry_storage.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#17064 resolved_ts: refactor log for the unexpected path
  components/resolved_ts/src/cmd.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-8.1

#17067 log_backup: make the retry rule unify with master (#16608)
  components/backup-stream/src/subscription_manager.rs
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note

#17069 raftstore: fix online config change panic for periodic-full-compact-start-time
  components/online_config/src/lib.rs
  components/tikv_util/src/config.rs
  components/tikv_util/src/lib.rs
  src/config/mod.rs
  tests/integrations/config/test_config_client.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#17073 statistics: update comments for FMSketch
  src/coprocessor/statistics/fmsketch.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, skip-issue-check

#16856 executor: Optimize projection executor to avoid deep copy for no dup column ref
  components/tidb_query_datatype/src/codec/batch/lazy_column_vec.rs
  components/tidb_query_executors/src/projection_executor.rs
  components/tidb_query_expr/src/types/expr_eval.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none, ok-to-test

#17076 cdc: handles region registers correctly after connection deregistered
  components/cdc/src/endpoint.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none
