Repository tikv/tikv, pull requests merged in 2024-02, with the labels that each got.

#16476 raftstore: Improve readability
  components/raftstore/src/store/util.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16479 raftstore: Revert remove peer check
  components/raftstore-v2/src/operation/command/admin/conf_change.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  tests/integrations/raftstore/test_conf_change.rs
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#16239 raftstore: report busy to PD when restarting if exists apply log lags.
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_pending_peers.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16456 *: Add module health_controller and move SlowScore, SlowTrend, HealthService from PdWorker to it
  Cargo.lock
  Cargo.toml
  components/health_controller/Cargo.toml
  components/health_controller/src/lib.rs
  components/health_controller/src/reporters.rs
  components/health_controller/src/slow_score.rs
  components/health_controller/src/trend.rs
  components/health_controller/src/types.rs
  components/raftstore-v2/Cargo.toml
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/operation/life.rs
  components/raftstore-v2/src/router/message.rs
  components/raftstore-v2/src/worker/pd/mod.rs
  components/raftstore-v2/src/worker/pd/slowness.rs
  components/raftstore-v2/src/worker/pd/store.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/pd.rs
  components/server/Cargo.toml
  components/server/src/server.rs
  components/server/src/server2.rs
  components/server/src/signal_handler.rs
  components/test_raftstore-v2/Cargo.toml
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/tikv_util/src/lib.rs
  src/server/node.rs
  src/server/server.rs
  tests/Cargo.toml
  tests/failpoints/cases/test_server.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_status_command.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16481 statistics: move analyze context out
  src/coprocessor/endpoint.rs
  src/coprocessor/statistics/analyze.rs
  src/coprocessor/statistics/analyze_context.rs
  src/coprocessor/statistics/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16486 raftstore: polish the availability check on conf change requests
  components/raftstore/src/store/util.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16494 raftstore: fix store_heartbeat incorrectly reporting store.is_busy == true.
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  tests/failpoints/cases/test_pending_peers.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16474 In-memory Engine: make integration test work
  Cargo.lock
  components/engine_traits/src/cf_defs.rs
  components/hybrid_engine/src/misc.rs
  components/hybrid_engine/src/write_batch.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/server/src/common.rs
  components/test_raftstore/src/cluster.rs
  tests/integrations/mod.rs
  tests/integrations/range_cache_engine.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16502 *: uniform deadline exceeded error in cop response (#16155)
  components/raftstore/src/errors.rs
  components/tikv_util/src/deadline.rs
  src/coprocessor/endpoint.rs
  src/storage/errors.rs
  tests/failpoints/cases/test_coprocessor.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#16473 storage: reject new commands if memory quota exceeded
  components/cdc/src/delegate.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/read_queue.rs
  components/resolved_ts/src/endpoint.rs
  components/resolved_ts/src/resolver.rs
  components/tikv_kv/src/lib.rs
  components/tikv_util/src/memory.rs
  components/txn_types/src/lock.rs
  components/txn_types/src/timestamp.rs
  components/txn_types/src/types.rs
  src/lib.rs
  src/storage/config.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/acquire_pessimistic_lock_resumed.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/compare_and_swap.rs
  src/storage/txn/commands/flashback_to_version.rs
  src/storage/txn/commands/flashback_to_version_read_phase.rs
  src/storage/txn/commands/macros.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/mvcc_by_key.rs
  src/storage/txn/commands/pause.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/pessimistic_rollback_read_phase.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/resolve_lock_readphase.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/task.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#16506 *: tidy the dependencies on test crates.
  Cargo.toml
  components/causal_ts/Cargo.toml
  components/raftstore/Cargo.toml
  components/resource_control/Cargo.toml
  components/tikv_kv/Cargo.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16490 Engine: add basic proptest for titan
  Cargo.lock
  components/engine_rocks/Cargo.toml
  components/engine_rocks/src/engine.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16493 raftstore: use force in compact_range triggered by no valid split key
  components/engine_panic/src/compact.rs
  components/engine_rocks/src/compact.rs
  components/engine_rocks/src/file_system.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks_helper/src/sst_recovery.rs
  components/engine_traits/src/compact.rs
  components/hybrid_engine/src/compact.rs
  components/raftstore-v2/src/worker/cleanup/compact.rs
  components/raftstore-v2/src/worker/tablet.rs
  components/raftstore-v2/tests/failpoints/test_basic_write.rs
  components/raftstore/src/store/compaction_guard.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/compact.rs
  components/test_raftstore/src/cluster.rs
  src/storage/mvcc/reader/reader.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16519 disk_snapshot_backup: pause raft log GC while backing up
  components/raftstore/src/store/snapshot_backup.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note, needs-cherry-pick-release-6.5

#16513 copr, json: handle u64 json correctly
  components/tidb_query_datatype/src/codec/mysql/json/binary.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_contains.rs
  components/tidb_query_datatype/src/codec/mysql/json/json_type.rs
  components/tidb_query_datatype/src/codec/mysql/json/serde.rs
  components/tidb_query_expr/src/impl_json.rs
Labels: status/LGT2, status/can-merge, size/S, release-note

#16461 In-memory Engine: implement garbage collection -- worker part
  components/engine_traits/src/lib.rs
  components/engine_traits/src/range_cache_engine.rs
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/util.rs
  components/hybrid_engine/src/write_batch.rs
  components/raftstore/src/store/worker/read.rs
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/write_batch.rs
  components/server/src/common.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16527 raftstore: polish codes when clearing `busy_on_apply` flag.
  components/raftstore/src/store/fsm/store.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16466 raftstore: add a timeout for sending snapshot
  components/raftstore/src/store/peer_storage.rs
  src/server/snap.rs
  tests/failpoints/cases/test_snap.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16532 copr: Fix panic when there is illegal push down
  components/tidb_query_aggr/src/impl_avg.rs
  components/tidb_query_aggr/src/impl_bit_op.rs
  components/tidb_query_aggr/src/impl_sum.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16364 txn: Pipelined DML: introduce Flush and BufferBatchGet
  Cargo.lock
  components/tracker/src/lib.rs
  deny.toml
  src/server/metrics.rs
  src/server/service/kv.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/txn/actions/common.rs
  src/storage/txn/commands/flush.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/prewrite.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#16482 storage: add memory quota metrics
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/config/mod.rs
  src/storage/config.rs
  src/storage/config_manager.rs
  src/storage/metrics.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/task.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16487 add disk protection in import service
  components/error_code/src/sst_importer.rs
  components/sst_importer/src/errors.rs
  src/import/sst_service.rs
  tests/integrations/import/test_sst_service.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#16498 service/kv: Support sending health feedback via BatchCommandResponse
  Cargo.lock
  components/health_controller/src/lib.rs
  components/health_controller/src/reporters.rs
  src/server/config.rs
  src/server/server.rs
  src/server/service/kv.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16547 raftstore: make manual compaction in cleanup worker be able to be ignored dynamically
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/compact.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore/src/common-test.toml
  components/test_raftstore/src/node.rs
  tests/failpoints/cases/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16548 chore: bump version to v7.5.1
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#16541 *: remove unnecessary async blocks to save memory
  components/backup-stream/src/checkpoint_manager.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup/src/softlimit.rs
  components/resolved_ts/src/scanner.rs
  components/resource_control/src/future.rs
  components/tikv_util/src/yatp_pool/future_pool.rs
  scripts/clippy
  src/read_pool.rs
  src/server/status_server/mod.rs
  src/storage/txn/sched_pool.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16508 In-Memory Engine: region stats manager.
  components/pd_client/src/lib.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/worker/pd.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/gc_worker/gc_worker.rs
  tests/failpoints/cases/test_gc_metrics.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
  tests/integrations/storage/test_region_info_accessor.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#16484 log_backup: fix stale task when version changes
  components/backup-stream/Cargo.toml
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/subscription_track.rs
  components/backup-stream/tests/failpoints/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#15603 pd_client: replace global config with meta storage interface
  Cargo.lock
  components/pd_client/src/client.rs
  components/pd_client/src/meta_storage.rs
  components/pd_client/src/metrics.rs
  components/resource_control/src/service.rs
  components/test_pd/src/mocker/meta_storage.rs
  components/test_pd/src/mocker/mod.rs
  components/test_pd/src/server.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#16500 In-memory Engine: implement range load
  Cargo.lock
  components/engine_traits/src/range_cache_engine.rs
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/write_batch.rs
  components/raftstore/src/store/worker/read.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/keys.rs
  components/region_cache_memory_engine/src/memory_limiter.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/src/write_batch.rs
  components/server/src/common.rs
  components/test_raftstore/src/cluster.rs
  tests/integrations/range_cache_engine.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16485 Reject illegal initial_scan_rate_limit value(less than 1024)
  src/config/mod.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/S, release-note

#16553 *: update pprof to 0.13.*.
  Cargo.lock
  Cargo.toml
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16563 grafana: tidy the metrics related to `slowness`.
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16566 *: fix make dist_release compile fail
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16565 grafana: Add region worker CPU and snap generator CPU metrics
  components/raftstore/src/store/fsm/store.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#16546 rocksdb: Expose track-and-verify-wals-in-manifest config
  Cargo.lock
  components/engine_panic/src/db_options.rs
  components/engine_rocks/src/db_options.rs
  components/engine_traits/src/db_options.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.5

#16580 chore: bump version to v7.1.4
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#16586 import: move ingest and its checks to the ingest mod
  src/import/ingest.rs
  src/import/mod.rs
  src/import/sst_service.rs
  tests/failpoints/cases/test_import_service.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none
