Repository tikv/tikv, pull requests merged in 2024-04, with the labels that each got.

#16729 raftstore: supply extra ut for testing non-blocking channel.
  components/raftstore/src/store/worker/pd.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16731 chore: bump nightly version to 8.1.0-alpha
  Cargo.lock
  Cargo.toml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16725 In-memory engine: make integration tests reusable for hybrid engine
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/import.rs
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/sst.rs
  components/hybrid_engine/src/write_batch.rs
  components/raftstore/src/store/worker/read.rs
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/src/write_batch.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/lib.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/range_cache_engine.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  tests/failpoints/cases/test_range_cache_engine.rs
  tests/integrations/raftstore/test_lease_read.rs
  tests/integrations/raftstore/test_single.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16734 chore: bump patch version to v6.5.9
  Cargo.lock
  Cargo.toml
Labels: contribution, status/can-merge, size/XS, cherry-pick-approved, release-note-none

#16700 server: stop manual compaction jobs in engines before shutdown
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/misc.rs
  components/engine_traits/src/misc.rs
  components/hybrid_engine/src/misc.rs
  components/raftstore/src/store/worker/compact.rs
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16505 *: fix issue of stale peer block resolve-ts cause by ignore gc message
  components/raftstore/src/store/fsm/peer.rs
  components/test_raftstore/src/cluster.rs
  tests/integrations/raftstore/test_life.rs
Labels: contribution, status/LGT2, type/bugfix, status/can-merge, size/L, release-note

#16740 log_backup: make a more rusty `CallbackWaitGroup`
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/utils.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#16760 engine_test: fix cannot find types error in cargo test
  components/engine_test/src/lib.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16754 [Release 5.1 hotfix] copr: avoid panic when response is large
  Cargo.lock
  Cargo.toml
  src/coprocessor/dag/mod.rs
  src/server/service/diagnostics/sys.rs
  src/server/service/kv.rs
  src/server/service/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16769 Cargo.toml: Fix h2 cargo deny issue.
  Cargo.lock
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none

#16671 In-memory Engine: introduce memory controller
  components/engine_traits/src/write_batch.rs
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/util.rs
  components/hybrid_engine/src/write_batch.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/worker/read.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/keys.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/memory_controller.rs
  components/region_cache_memory_engine/src/memory_limiter.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/src/write_batch.rs
  components/server/src/common.rs
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16775 raftstore: Avoid consuming resource when there is only one resource group
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/fsm/apply.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16753 In-Memory Engine: Load from ranges from region labels
  Cargo.lock
  components/engine_traits/src/lib.rs
  components/engine_traits/src/range_cache_engine.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/region_label.rs
  components/server/src/common.rs
  components/server/src/server.rs
  components/test_raftstore/src/util.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#16773 chore: update codecov.yml
  codecov.yml
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none

#16777 In-memory engine: fix problems of sub range scheduling load task of the whole range
  components/raftstore/src/store/fsm/apply.rs
  components/region_cache_memory_engine/src/engine.rs
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16626 raftstore: allow apply committed logs before persist
  Cargo.lock
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/test_raftstore/src/cluster.rs
  src/config/mod.rs
  tests/failpoints/cases/test_async_fetch.rs
  tests/failpoints/cases/test_async_io.rs
  tests/failpoints/cases/test_merge.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#14817 components: only check output schema field type when set resp encode type
  components/tidb_query_datatype/src/def/eval_type.rs
  components/tidb_query_executors/src/runner.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-7.1

#16785 test: enhance flaky test disk_snap::test_conf_change
  tests/integrations/backup/disk_snap.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16651 raftstore: make apply before persist compatible with online unsafe recovery
  Cargo.lock
  components/raftstore-v2/src/operation/unsafe_recovery/force_leader.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/unsafe_recovery.rs
  tests/failpoints/cases/test_unsafe_recovery.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16735 In-memory engine: collector iteration related metrics
  components/engine_panic/src/engine.rs
  components/engine_panic/src/snapshot.rs
  components/engine_rocks/src/engine_iterator.rs
  components/engine_traits/src/iterable.rs
  components/hybrid_engine/src/engine_iterator.rs
  components/raftstore/src/store/region_snapshot.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/perf_context.rs
  components/region_cache_memory_engine/src/read.rs
  components/tikv_kv/src/btree_engine.rs
  components/tikv_kv/src/cursor.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/stats.rs
  src/storage/raw/encoded.rs
  src/storage/raw/raw_mvcc.rs
  src/storage/txn/store.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16762 [cherry-pick-7.1] server: stop manual compaction jobs in engines before shutdown
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/misc.rs
  components/engine_traits/src/misc.rs
  components/raftstore/src/store/worker/compact.rs
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#16811 txn: use u64::MAX as txn_size for Flush commands
  src/storage/txn/commands/flush.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16791 In-memory engine: expose range cache engine configuration
  Cargo.lock
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/util.rs
  components/hybrid_engine/src/write_batch.rs
  components/raftstore/src/store/worker/read.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/keys.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/src/read.rs
  components/region_cache_memory_engine/src/region_label.rs
  components/region_cache_memory_engine/src/write_batch.rs
  components/server/src/common.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16794 In-memory engine: do not load a range overlapped with an unresolved range
  components/region_cache_memory_engine/src/range_manager.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16783 server/node: rename Node to MultiRaftServer
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/server/mod.rs
  src/server/raft_server.rs
  src/server/raftkv2/node.rs
  tests/integrations/raftstore/test_bootstrap.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16822 In-memory engine: add metrics for memory usage
  components/hybrid_engine/src/engine.rs
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/metrics.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/src/write_batch.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16829 txn: add more logs before assertions
  components/resolved_ts/src/cmd.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16821 add grafana panel for applying unpersisted log
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  tests/integrations/raftstore/test_merge.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16826 tests: Fix flaky test_raw_put_key_guard
  tests/failpoints/cases/test_rawkv.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16831 In-memory engine: add metrics for gc duration, range load duration, and write duration
  components/engine_traits/src/range_cache_engine.rs
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/metrics.rs
  components/region_cache_memory_engine/src/write_batch.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16827 tests,storage: Fix flaky test_rawkv::test_leader_transfer
  components/test_raftstore/src/util.rs
  src/storage/errors.rs
  src/storage/mod.rs
  src/storage/txn/mod.rs
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#16819 *: tools in scripts use fixed version to avoid incompatible updates
  Makefile
  scripts/gen-tikv-details-dashboard
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16771 expr: Support json_merge_patch pushdown
  components/tidb_query_datatype/src/codec/mysql/json/json_merge.rs
  components/tidb_query_expr/src/impl_json.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note, ok-to-test

#16851 grafana: add metric to show how many sst files a compaction job involves
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16843 *: fix issue of stale peer block resolve-ts cause by ignore gc message (#16505)
  components/raftstore/src/store/fsm/peer.rs
  components/test_raftstore/src/cluster.rs
  tests/integrations/raftstore/test_life.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note, ok-to-test

#16850 In-memory engine: fix missing memory record when snapshot loading
  components/engine_traits/src/range_cache_engine.rs
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/src/write_batch.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16869 rocksdb: Expose track-and-verify-wals-in-manifest config
  Cargo.lock
  components/engine_panic/src/db_options.rs
  components/engine_rocks/src/db_options.rs
  components/engine_traits/src/db_options.rs
  src/config/mod.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none

#16816 In-Memory Engine: add a tag to the range for easier troubleshooting
  components/engine_traits/src/range_cache_engine.rs
  components/region_cache_memory_engine/src/engine.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16889 raftstore: Fix store msg discriminant out of bound (#16641)
  components/raftstore/src/store/msg.rs
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none

#16872 In-memory engine: remove out of date pending ranges
  components/engine_traits/src/range_cache_engine.rs
  components/region_cache_memory_engine/src/engine.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16891 chore: bump nightly version to 8.2.0-alpha
  Cargo.lock
  Cargo.toml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16881 txn: use start_ts + 1 as Flush's min_commit_ts
  src/storage/txn/commands/flush.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16828 cargo deny: fix hmac
  deny.toml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16883 txn: Pipelined DML: sort and remove duplicated keys when buffer batch get
  src/storage/mod.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16834 raftstore: enable apply committed log before persistence by default
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/peer.rs
  components/test_raftstore/src/util.rs
  src/config/mod.rs
  tests/failpoints/cases/test_async_fetch.rs
  tests/failpoints/cases/test_async_io.rs
  tests/failpoints/cases/test_early_apply.rs
  tests/failpoints/cases/test_unsafe_recovery.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16894 txn: add rollback log for pipelined dml
  src/storage/txn/actions/check_txn_status.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16904 [cherry-pick-6.5] server: stop manual compaction jobs in engines before shutdown
  Cargo.lock
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/misc.rs
  components/engine_traits/src/misc.rs
  components/raftstore/src/store/worker/compact.rs
  components/server/src/server.rs
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#16914 expr: fix the wrong decimal's result frac in some cases
  components/tidb_query_datatype/src/codec/convert.rs
  components/tidb_query_datatype/src/codec/mysql/decimal.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#16898 readme: update exmaple binary version
  README.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16897 compile memory-engine by default and support dynamic config update for memory-engine
  Cargo.lock
  Makefile
  components/engine_traits/src/range_cache_engine.rs
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/util.rs
  components/raftstore/src/store/worker/read.rs
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/config.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/memory_controller.rs
  components/region_cache_memory_engine/src/read.rs
  components/region_cache_memory_engine/src/write_batch.rs
  components/server/src/common.rs
  components/server/src/server.rs
  components/test_raftstore/src/util.rs
  src/config/mod.rs
  tests/integrations/config/test_config_client.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#16830 txn: add more log before row lock check
  components/resolved_ts/src/cmd.rs
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note-none

#16911 pd_client: make `update_service_safe_point` returns error when stale
  components/backup-stream/src/endpoint.rs
  components/backup-stream/tests/integration/mod.rs
  components/error_code/src/pd.rs
  components/pd_client/src/client.rs
  components/pd_client/src/client_v2.rs
  components/pd_client/src/errors.rs
  components/pd_client/src/lib.rs
  components/test_pd/src/mocker/mod.rs
  components/test_pd/src/mocker/service.rs
  components/test_pd/src/server.rs
  components/test_pd_client/src/pd.rs
  tests/failpoints/cases/test_pd_client.rs
  tests/integrations/pd/test_rpc_client_legacy.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16738 raftstore: bugfix of the calculation on the log gap between leader and peer when restart.
  Cargo.lock
  Cargo.toml
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  deny.toml
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  tests/failpoints/cases/test_pending_peers.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16146 sst_importer: remove the SST file where no kvs written into
  components/sst_importer/src/sst_importer.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1
