Repository tikv/tikv, pull requests merged in 2024-06, with the labels that each got.

#17081 config: test +HHMM offset in ReadableSchedule
  components/tikv_util/src/config.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none, ok-to-test

#17071 chore: add prow OWNERS files for critial configuration files
  OWNERS_ALIASES
  components/batch-system/src/OWNERS
  components/cdc/src/OWNERS
  components/encryption/src/OWNERS
  components/pd_client/src/OWNERS
  components/raftstore/src/coprocessor/OWNERS
  components/raftstore/src/store/worker/OWNERS
  components/sst_importer/src/OWNERS
  etc/OWNERS
  src/config/OWNERS
  src/coprocessor_v2/OWNERS
  src/server/OWNERS
  src/server/gc_worker/OWNERS
  src/server/lock_manager/OWNERS
  src/storage/OWNERS
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none, ok-to-test, dco-signoff: yes

#17077 Dockerfile: fix docker build
  Dockerfile
  Dockerfile.test
  rust-toolchain.toml
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/S, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17089 coprocessor_v2: FreeBSD uses .so
  src/coprocessor_v2/plugin_registry.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#17102 metrics: Show dropped raft messages
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17083 In-memory engine: mvcc keys with different sequence number should only be handled once in GC
  Cargo.lock
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/test_util.rs
  components/region_cache_memory_engine/tests/failpoints/mod.rs
  components/region_cache_memory_engine/tests/failpoints/test_gc.rs
Labels: status/LGT1, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17087 In-memory engine: enable compaction filter for HybridEngine
  Cargo.lock
  components/engine_traits/src/misc.rs
  components/test_storage/Cargo.toml
  components/test_storage/src/lib.rs
  components/test_storage/src/sync_storage.rs
  src/lib.rs
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_worker.rs
Labels: status/LGT1, size/L, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17122 In-memory Engine: sequence number should be increased for each key
  Cargo.lock
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/util.rs
  components/hybrid_engine/tests/failpoints/mod.rs
  components/hybrid_engine/tests/failpoints/test_write_batch.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/write_batch.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17070 rocks*: add some extra metrics for monitoring the perf of `ingest`.
  components/engine_rocks/src/import.rs
  components/engine_rocks/src/perf_context_metrics.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/region.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17113 Fix the problem that CDC and log-backup didn't use advance-ts-interval to limit the timeout of check_leader
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/tests/suite.rs
  components/cdc/src/endpoint.rs
  components/cdc/tests/mod.rs
  components/server/src/server.rs
  components/server/src/server2.rs
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes

#17129 In-memory engine: support changing the direction of iteration
  components/region_cache_memory_engine/src/read.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17128 In-memory engine: clean lock cf tombstone in a background worker
  components/hybrid_engine/src/write_batch.rs
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/write_batch.rs
  components/region_cache_memory_engine/tests/failpoints/mod.rs
  components/region_cache_memory_engine/tests/failpoints/test_memory_engine.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17125 In-memory Engine: encode internal key trailer in little endian.
  components/region_cache_memory_engine/src/keys.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#16992 raftstore: gc abnormal snapshots and destroy peer if failed to apply snapshots.
  components/engine_rocks/src/import.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/region.rs
  tests/failpoints/cases/test_pending_peers.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17061 split_controller : add logging for hot keys and region split key
  components/raftstore/src/store/worker/split_controller.rs
Labels: contribution, status/LGT2, first-time-contributor, size/S, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17145 In-memory engine: set boundries when gc
  components/region_cache_memory_engine/src/background.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17142 In-memory engine: encode key for lock cf without mvcc version in delete range
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/keys.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17023 In-Memory Engine: Eviction, Algorithmic loading
  Cargo.lock
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/memory_controller.rs
  components/region_cache_memory_engine/src/range_stats.rs
  components/server/src/common.rs
  components/server/src/server.rs
  components/test_raftstore/src/util.rs
  tests/integrations/storage/test_region_info_accessor.rs
Labels: contribution, size/XXL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#16645 cdc: re-design delegate and downstream to support partial region subscription better
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/tests/failpoints/test_memory_quota.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/txn_types/src/types.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17137 In-memory engine: consider range overlaps when eviction
  components/engine_traits/src/range_cache_engine.rs
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/src/write_batch.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, needs-1-more-lgtm

#17151 In-memory engine: support delete range
  components/hybrid_engine/src/write_batch.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17141 copr: let `ExtraPhysTblIDCol` column return partition id when it's a global indexScan
  components/tidb_query_datatype/src/codec/table.rs
  components/tidb_query_executors/src/index_scan_executor.rs
Labels: contribution, size/L, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17121 raftstore: handle region destroy in a separate thread pool
  components/raftstore/src/store/worker/region.rs
  tests/failpoints/cases/test_merge.rs
Labels: contribution, size/XL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17154 In-memory engine: evict range should consider loading range
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/tests/failpoints/test_memory_engine.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17156 In-memory engine: clear write batch when range load failed
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/tests/failpoints/test_memory_engine.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17157 *: replace case_macros with heck
  Cargo.lock
  Cargo.toml
  components/case_macros/Cargo.toml
  components/case_macros/src/lib.rs
  components/engine_rocks/Cargo.toml
  components/engine_traits/Cargo.toml
  components/tidb_query_codegen/Cargo.toml
  components/tikv_util/Cargo.toml
  components/tikv_util/src/config.rs
  scripts/check-bins.py
  src/config/mod.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17097 raftstore: add metrics to track pending snapshot applies
  components/raftstore/src/store/peer_storage.rs
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/region.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: contribution, size/XL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17149 In-memory engine: fix concurrency issue between delete range and write to memory
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/write_batch.rs
  components/hybrid_engine/tests/failpoints/test_write_batch.rs
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/src/write_batch.rs
  components/region_cache_memory_engine/tests/failpoints/test_memory_engine.rs
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17160 In-memory engine: add seek duration metrics
  components/region_cache_memory_engine/src/metrics.rs
  components/region_cache_memory_engine/src/read.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17009 config: deprecated rocksdb log configs
  src/config/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: status/LGT1, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17161 In-memory engine: add metrics for prepare for write duration
  components/region_cache_memory_engine/src/metrics.rs
  components/region_cache_memory_engine/src/write_batch.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17165 In-memory engine: set disk engine when start
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/tests/failpoints/test_memory_engine.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17132 Fix gRPC request source duration inaccurate issue
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: contribution, first-time-contributor, size/XS, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17155 raftstore: avoid deleting snap files in raftstore thread
  components/raftstore/src/store/fsm/peer.rs
Labels: contribution, size/S, release-note-none, needs-ok-to-test, lgtm, approved, dco-signoff: yes

#16863 In-memory engine: avoid using snapshot cache
  components/engine_panic/src/lib.rs
  components/engine_panic/src/range_cache_engine.rs
  components/engine_rocks/src/lib.rs
  components/engine_rocks/src/range_cache_engine.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/range_cache_engine.rs
  components/hybrid_engine/src/lib.rs
  components/hybrid_engine/src/range_cache_engine.rs
  components/raftstore/src/store/worker/read.rs
  src/server/raftkv/mod.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17159 In-memory engine: evict range after some raft commands
  components/engine_panic/src/range_cache_engine.rs
  components/engine_rocks/src/range_cache_engine.rs
  components/engine_traits/src/range_cache_engine.rs
  components/hybrid_engine/src/misc.rs
  components/hybrid_engine/src/range_cache_engine.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/region.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/write_batch.rs
  components/region_cache_memory_engine/tests/failpoints/test_memory_engine.rs
  tests/failpoints/cases/test_range_cache_engine.rs
  tests/integrations/raftstore/test_lease_read.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17171 In-memory engine: `filter` plus one when any key is removed during GC
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/read.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17167 *: add crossbeam-skiplist into components
  Cargo.lock
  Cargo.toml
  cmd/tikv-ctl/Cargo.toml
  components/backup-stream/Cargo.toml
  components/batch-system/Cargo.toml
  components/cdc/Cargo.toml
  components/concurrency_manager/Cargo.toml
  components/crossbeam-skiplist/CHANGELOG.md
  components/crossbeam-skiplist/Cargo.toml
  components/crossbeam-skiplist/LICENSE-APACHE
  components/crossbeam-skiplist/LICENSE-MIT
  components/crossbeam-skiplist/README.md
  components/crossbeam-skiplist/benches/btree.rs
  components/crossbeam-skiplist/benches/hash.rs
  components/crossbeam-skiplist/benches/skiplist.rs
  components/crossbeam-skiplist/benches/skipmap.rs
  components/crossbeam-skiplist/examples/simple.rs
  components/crossbeam-skiplist/rustfmt.toml
  components/crossbeam-skiplist/src/base.rs
  components/crossbeam-skiplist/src/lib.rs
  components/crossbeam-skiplist/src/map.rs
  components/crossbeam-skiplist/src/set.rs
  components/crossbeam-skiplist/tests/base.rs
  components/crossbeam-skiplist/tests/map.rs
  components/crossbeam-skiplist/tests/set.rs
  components/encryption/Cargo.toml
  components/file_system/Cargo.toml
  components/hybrid_engine/Cargo.toml
  components/raftstore-v2/Cargo.toml
  components/raftstore/Cargo.toml
  components/region_cache_memory_engine/Cargo.toml
  components/resolved_ts/Cargo.toml
  components/resource_control/Cargo.toml
  components/resource_metering/Cargo.toml
  components/server/Cargo.toml
  components/service/Cargo.toml
  components/test_raftstore-v2/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/tikv_util/Cargo.toml
  components/tracker/Cargo.toml
  scripts/check-bins.py
  tests/Cargo.toml
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#16993 log_backup: Adapt for log backup encrypting
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/tempfiles.rs
  components/backup-stream/tests/failpoints/mod.rs
  components/backup-stream/tests/suite.rs
  components/encryption/src/io.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore/src/server.rs
Labels: status/LGT2, size/L, release-note, lgtm, approved, dco-signoff: yes

#17179 *: upgrade crossbeam-channel
  Cargo.lock
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#17180 grpc: set compression args for TiKV service
  src/server/server.rs
Labels: size/XS, release-note, lgtm, approved, dco-signoff: yes

#17169 backup: continue to seek regions if one range has no located leader region
  components/backup/src/endpoint.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17183 In-memory engine: correct under-estimate memory size usage of delete entries.
  components/region_cache_memory_engine/src/keys.rs
  components/region_cache_memory_engine/src/write_batch.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17184 In-memory engine: fix name inconsistency
  Cargo.lock
  Cargo.toml
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/engine_iterator.rs
  components/hybrid_engine/src/misc.rs
  components/hybrid_engine/src/range_cache_engine.rs
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/util.rs
  components/hybrid_engine/src/write_batch.rs
  components/hybrid_engine/tests/failpoints/test_write_batch.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/worker/read.rs
  components/range_cache_memory_engine/Cargo.toml
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/config.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/keys.rs
  components/range_cache_memory_engine/src/lib.rs
  components/range_cache_memory_engine/src/memory_controller.rs
  components/range_cache_memory_engine/src/metrics.rs
  components/range_cache_memory_engine/src/perf_context.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/range_stats.rs
  components/range_cache_memory_engine/src/read.rs
  components/range_cache_memory_engine/src/region_label.rs
  components/range_cache_memory_engine/src/statistics.rs
  components/range_cache_memory_engine/src/test_util.rs
  components/range_cache_memory_engine/src/write_batch.rs
  components/range_cache_memory_engine/tests/failpoints/mod.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
  components/server/Cargo.toml
  components/server/src/common.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore/Cargo.toml
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/range_cache_engine.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  src/config/mod.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17193 Update OWNERS_ALIASES
  OWNERS_ALIASES
Labels: contribution, size/XS, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17209 cdc: introduce `RequesetId` type to make the code more clear
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/src/service.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17164 raftstore: Enhance slow log for peer/store messages with detailed info
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17210 cdc: rollback txn-source attached transactions correctly
  components/cdc/src/delegate.rs
  components/cdc/tests/integrations/test_cdc.rs
  components/cdc/tests/mod.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes
