Repository tikv/tikv, pull requests merged in 2024-08, with the labels that each got.

#17326 batch-system: Reduce the memory usage of peers' message channel
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/snapshot_backup.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/unsafe_recovery.rs
  components/raftstore/src/store/worker/cleanup_snapshot.rs
  components/raftstore/src/store/worker/pd.rs
  components/snap_recovery/src/services.rs
  components/test_raftstore/src/router.rs
  src/server/server.rs
  tests/integrations/raftstore/test_snap_recovery.rs
Labels: size/XL, release-note, lgtm, approved, dco-signoff: yes

#17306 copr: Add vector functions
  components/tidb_query_datatype/src/codec/data_type/scalar.rs
  components/tidb_query_datatype/src/codec/mysql/vector.rs
  components/tidb_query_expr/src/impl_vec.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, first-time-contributor, size/XL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17319 raftstore: cherry-pick #16239 & #16494 & #16738 to v7.5.
  Cargo.toml
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  metrics/grafana/tikv_details.json
  tests/failpoints/cases/test_pending_peers.rs
Labels: size/XXL, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#17324 In-memory engine: show index/select_by_range_cache_engine in handle/wait duration in cop detail
  components/engine_traits/src/snapshot.rs
  components/hybrid_engine/src/snapshot.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/raftstore_impls.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/coprocessor/endpoint.rs
  src/coprocessor/metrics.rs
  src/coprocessor/tracker.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17311 *: enlarge the default region-size.
  components/raftstore/src/coprocessor/config.rs
  etc/config-template.toml
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes

#17330 copr: Fix vector precision
  components/tidb_query_datatype/src/codec/data_type/vector.rs
  components/tidb_query_datatype/src/codec/mysql/vector.rs
  components/tidb_query_expr/src/impl_vec.rs
Labels: contribution, first-time-contributor, size/M, release-note-none, needs-ok-to-test, lgtm, approved, dco-signoff: yes

#17345 In-memory engine: show eviction reasons in metrics
  components/engine_panic/src/range_cache_engine.rs
  components/engine_rocks/src/range_cache_engine.rs
  components/engine_traits/src/range_cache_engine.rs
  components/hybrid_engine/src/misc.rs
  components/hybrid_engine/src/observer.rs
  components/hybrid_engine/src/range_cache_engine.rs
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/metrics.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/read.rs
  components/range_cache_memory_engine/src/write_batch.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17298 In-memory engine: gc the range immediately after load
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/test_util.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#17361 RocksDB: Fix bloom filter incompatible issue
  Cargo.lock
Labels: size/XS, release-note, affects-7.1, affects-7.5, affects-8.1, needs-cherry-pick-release-8.1, lgtm, approved, dco-signoff: yes

#17371 RocksDB: Fix rocksdb build in macos
  Cargo.lock
Labels: size/L, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#17358 *: fix compatibility to `raft-engine.spill-dir`
  Cargo.lock
  components/raftstore-v2/src/worker/pd/store.rs
  components/raftstore/src/store/worker/pd.rs
  components/server/Cargo.toml
  components/server/src/common.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/sys/disk.rs
  components/tikv_util/src/sys/mod.rs
Labels: size/XXL, release-note, lgtm, approved, dco-signoff: yes

#17333 copr: Fix possible panic when accessing unaligned VectorFloat32
  Cargo.lock
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/src/codec/mysql/vector.rs
  components/tidb_query_expr/src/impl_vec.rs
Labels: contribution, first-time-contributor, size/XL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17348 raftstore: debug print write info details
  Cargo.lock
  components/raftstore/src/store/async_io/write.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/tracker/Cargo.toml
  components/tracker/src/lib.rs
  components/tracker/src/slab.rs
  components/txn_types/src/types.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/task.rs
Labels: type/enhancement, sig/raft, sig/transaction, size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17334 copr: Add index_unchecked to avoid boundary check
  Cargo.lock
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/benches/bench_vector_distance.rs
  components/tidb_query_datatype/src/codec/mysql/vector.rs
Labels: contribution, first-time-contributor, size/L, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17347 br: some code cleanup in router
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/lib.rs
  components/backup-stream/src/metrics.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/service.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/tests/failpoints/mod.rs
  components/backup-stream/tests/suite.rs
  components/backup/src/metrics.rs
  components/server/src/server.rs
  components/server/src/server2.rs
Labels: contribution, size/L, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#17354 copr: Support VECTOR for RowFormatv1
  components/tidb_query_datatype/src/codec/datum.rs
Labels: contribution, first-time-contributor, size/S, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#17384 server: Fix io flow stat for snapshot sending
  components/raftstore/src/store/snap/io.rs
  src/server/snap.rs
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#17331 In-Memory-Engine: move from range-base to region-base
  Cargo.lock
  components/backup-stream/src/tempfiles.rs
  components/engine_panic/src/range_cache_engine.rs
  components/engine_rocks/src/range_cache_engine.rs
  components/engine_traits/src/engine.rs
  components/engine_traits/src/flush.rs
  components/engine_traits/src/range_cache_engine.rs
  components/engine_traits/src/write_batch.rs
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/metrics.rs
  components/hybrid_engine/src/misc.rs
  components/hybrid_engine/src/observer.rs
  components/hybrid_engine/src/range_cache_engine.rs
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/util.rs
  components/hybrid_engine/src/write_batch.rs
  components/hybrid_engine/tests/failpoints/test_write_batch.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/read.rs
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/keys.rs
  components/range_cache_memory_engine/src/lib.rs
  components/range_cache_memory_engine/src/memory_controller.rs
  components/range_cache_memory_engine/src/metrics.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/range_stats.rs
  components/range_cache_memory_engine/src/read.rs
  components/range_cache_memory_engine/src/test_util.rs
  components/range_cache_memory_engine/src/write_batch.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
  components/test_pd_client/src/pd.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/range_cache_engine.rs
  components/test_raftstore/src/server.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/server/raftkv/mod.rs
  tests/Cargo.toml
  tests/failpoints/cases/test_early_apply.rs
  tests/failpoints/cases/test_range_cache_engine.rs
  tests/failpoints/cases/test_stale_read.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17389 Revert "*: enlarge the default region-size. (#17311)"
  components/raftstore/src/coprocessor/config.rs
  etc/config-template.toml
Labels: size/S, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#17357 cdc: print log to indicate memory free, and adjust finish_scan_lock method
  components/cdc/src/channel.rs
  components/cdc/src/delegate.rs
  components/cdc/src/endpoint.rs
  components/cdc/src/initializer.rs
  components/cdc/src/observer.rs
  components/cdc/src/service.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17303 copr: Support Vector Data Type and Functions
  Cargo.lock
  components/tidb_query_aggr/src/impl_first.rs
  components/tidb_query_aggr/src/impl_max_min.rs
  components/tidb_query_aggr/src/lib.rs
  components/tidb_query_codegen/src/rpn_function.rs
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/benches/bench_vector_distance.rs
  components/tidb_query_datatype/src/codec/chunk/column.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_vector_float32.rs
  components/tidb_query_datatype/src/codec/data_type/mod.rs
  components/tidb_query_datatype/src/codec/data_type/scalar.rs
  components/tidb_query_datatype/src/codec/data_type/vector.rs
  components/tidb_query_datatype/src/codec/datum.rs
  components/tidb_query_datatype/src/codec/datum_codec.rs
  components/tidb_query_datatype/src/codec/mysql/mod.rs
  components/tidb_query_datatype/src/codec/mysql/vector.rs
  components/tidb_query_datatype/src/codec/row/v2/compat_v1.rs
  components/tidb_query_datatype/src/codec/table.rs
  components/tidb_query_datatype/src/def/eval_type.rs
  components/tidb_query_datatype/src/def/field_type.rs
  components/tidb_query_executors/src/fast_hash_aggr_executor.rs
  components/tidb_query_executors/src/util/top_n_heap.rs
  components/tidb_query_expr/src/impl_cast.rs
  components/tidb_query_expr/src/impl_compare.rs
  components/tidb_query_expr/src/impl_miscellaneous.rs
  components/tidb_query_expr/src/impl_op.rs
  components/tidb_query_expr/src/impl_vec.rs
  components/tidb_query_expr/src/lib.rs
  components/tidb_query_expr/src/types/expr.rs
  components/tidb_query_expr/src/types/expr_builder.rs
  components/tidb_query_expr/src/types/expr_eval.rs
  components/tidb_query_expr/src/types/function.rs
Labels: size/XXL, release-note, lgtm, approved, dco-signoff: yes

#17317 backup-stream: clean the `pause-guard-gc-safepoint` when unregister the log task
  components/backup-stream/src/endpoint.rs
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes

#17393 chore: bump version to v8.4.0-alpha
  Cargo.lock
  Cargo.toml
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#17398 In-memory Engine: fix panic when pending region split before start batch loading
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/write_batch.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17337 copr: add a `force_no_pad` argument to `sort_compare`, and fix `like` behavior
  components/tidb_query_aggr/src/impl_max_min.rs
  components/tidb_query_datatype/src/codec/collation/collator/binary.rs
  components/tidb_query_datatype/src/codec/collation/collator/gbk_collation.rs
  components/tidb_query_datatype/src/codec/collation/collator/latin1_bin.rs
  components/tidb_query_datatype/src/codec/collation/collator/mod.rs
  components/tidb_query_datatype/src/codec/collation/collator/utf8mb4_binary.rs
  components/tidb_query_datatype/src/codec/collation/collator/utf8mb4_general_ci.rs
  components/tidb_query_datatype/src/codec/collation/collator/utf8mb4_uca/mod.rs
  components/tidb_query_datatype/src/codec/collation/mod.rs
  components/tidb_query_datatype/src/codec/data_type/scalar.rs
  components/tidb_query_expr/src/impl_compare.rs
  components/tidb_query_expr/src/impl_like.rs
  components/tidb_query_expr/src/impl_string.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#17404 In-memory Engine: add "ime" log prefix
  components/hybrid_engine/src/observer.rs
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/config.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/range_stats.rs
  components/range_cache_memory_engine/src/read.rs
  components/range_cache_memory_engine/src/region_label.rs
  components/range_cache_memory_engine/src/write_batch.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17413 encryption: fix unexpected error code for wrong master-key(tikv#17410)
  components/encryption/src/master_key/kms.rs
Labels: contribution, first-time-contributor, size/M, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#17396 storage: support online config for flow-control module
  src/storage/config.rs
  src/storage/config_manager.rs
  src/storage/txn/flow_controller/mod.rs
  src/storage/txn/flow_controller/singleton_flow_controller.rs
  src/storage/txn/flow_controller/tablet_flow_controller.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#17400 chore: update OWNERS_ALIASES
  OWNERS_ALIASES
Labels: contribution, size/XS, release-note-none, needs-ok-to-test, skip-issue-check, lgtm, approved, dco-signoff: yes

#17431 compaction-filter: consider mvcc-delete as redundant key to trigger rocksdb compaction
  components/engine_rocks/src/properties.rs
  components/engine_traits/src/misc.rs
  components/raftstore/src/store/worker/compact.rs
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes

#17423 In-memory engine: collect cop detail and use it to determine top regions
  components/backup/src/endpoint.rs
  components/pd_client/src/lib.rs
  components/raftstore-v2/src/worker/pd/region.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_controller.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/lib.rs
  components/range_cache_memory_engine/src/memory_controller.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  src/coprocessor/metrics.rs
  src/server/gc_worker/gc_worker.rs
  src/storage/metrics.rs
  tests/failpoints/cases/test_gc_metrics.rs
  tests/integrations/raftstore/test_region_info_accessor.rs
  tests/integrations/storage/test_region_info_accessor.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17430 Revert "In-memory Engine: do not evict range on applying snapshot
  components/engine_traits/src/range_cache_engine.rs
  components/hybrid_engine/src/observer.rs
  components/range_cache_memory_engine/src/metrics.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#17441 dep: Update rusoto to support IMDSv2
  Cargo.lock
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes

#17440 in-memory-engine: replace region with CacheRegion
  components/engine_traits/src/engine.rs
  components/engine_traits/src/range_cache_engine.rs
  components/engine_traits/src/write_batch.rs
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/misc.rs
  components/hybrid_engine/src/observer.rs
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/write_batch.rs
  components/hybrid_engine/tests/failpoints/test_write_batch.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/read.rs
  components/range_cache_memory_engine/src/background.rs
  components/range_cache_memory_engine/src/engine.rs
  components/range_cache_memory_engine/src/keys.rs
  components/range_cache_memory_engine/src/prop_test.rs
  components/range_cache_memory_engine/src/range_manager.rs
  components/range_cache_memory_engine/src/read.rs
  components/range_cache_memory_engine/src/region_label.rs
  components/range_cache_memory_engine/src/test_util.rs
  components/range_cache_memory_engine/src/write_batch.rs
  components/range_cache_memory_engine/tests/failpoints/test_memory_engine.rs
  components/test_raftstore-v2/src/util.rs
  components/test_raftstore/src/cluster.rs
  src/server/raftkv/mod.rs
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#17445 encryption: add test for temporary KMS service unavailable
  Cargo.lock
  Cargo.toml
  components/encryption/Cargo.toml
  components/encryption/src/lib.rs
  components/encryption/src/master_key/kms.rs
  components/encryption/src/master_key/mod.rs
  tests/failpoints/cases/test_encryption.rs
Labels: contribution, size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5, needs-ok-to-test, lgtm, approved, dco-signoff: yes
