Repository tikv/tikv, pull requests merged in 2024-03, with the labels that each got.

#16544 txn: generation in pipelined DML
  components/error_code/src/storage.rs
  components/file_system/src/io_stats/mod.rs
  components/txn_types/src/lock.rs
  src/storage/mvcc/mod.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/flush.rs
  src/storage/txn/commands/mod.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16587 server: add cluster id check for unary request
  Cargo.lock
  src/server/server.rs
  src/server/service/kv.rs
  tests/integrations/server/kv_service.rs
Labels: type/enhancement, status/LGT2, status/can-merge, size/M, release-note-none

#16598 Cargo: update mio dependency.
  Cargo.lock
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note

#16602 *: remove cloud aws gcp azure features
  Cargo.toml
  Makefile
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-server/Cargo.toml
  components/encryption/export/Cargo.toml
  components/encryption/export/examples/ecli.rs
  components/encryption/export/src/lib.rs
  components/server/Cargo.toml
  components/test_raftstore-v2/Cargo.toml
  components/test_raftstore/Cargo.toml
  components/test_util/Cargo.toml
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16615 raftstore: enable async-io by default.
  components/raftstore/src/store/config.rs
  etc/config-template.toml
  tests/integrations/config/dynamic/raftstore.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note

#16570 add dict compression and sync in titan proptest
  components/engine_rocks/src/engine.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16613 txn: skip assertion checks for pipelined-dml
  src/storage/txn/actions/check_txn_status.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/flush.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16612 txn: check should_not_exist flag for Flush
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/flush.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16578 rocksdb: Expose track-and-verify-wals-in-manifest config
  Cargo.lock
  components/engine_panic/src/db_options.rs
  components/engine_rocks/src/db_options.rs
  components/engine_traits/src/db_options.rs
  src/config.rs
  tests/integrations/config/mod.rs
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none

#16579 Raftstore: destroy peer after applying snapshot (or aborted) if necessary
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_stale_peer.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16590 executor: fix incorrect handling expr eval results in projection executor
  components/tidb_query_executors/src/projection_executor.rs
  components/tidb_query_expr/src/types/expr_eval.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/L, release-note-none

#16618 sst_importer: replace mem_limit with MemoryQuota
  components/sst_importer/src/sst_importer.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16393 Cgroup monitoring and alerting
  components/server/src/server.rs
  components/server/src/server2.rs
  components/tikv_util/src/sys/mod.rs
  metrics/alertmanager/tikv.rules.yml
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  metrics/grafana/tikv_summary.json
  src/server/metrics.rs
  src/server/mod.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/L, release-note

#16617 copr: don't resize binary opaque when the type flen is unspecified
  components/tidb_query_expr/src/impl_cast.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16624 log_backup: store pending region info when giving up retry
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/subscription_track.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#16605 raftstore: Add slow log for peer and store msg
  Cargo.lock
  components/raftstore/Cargo.toml
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#16635 txn: reduce allocation for scan lock
  components/raftstore/src/store/txn_ext.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16584 sst_importer: a metrics to show the number of inflight sst service tasks
  components/sst_importer/src/metrics.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/import/sst_service.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#16581 backup: handle the error when peer not found
  components/backup/src/endpoint.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note

#16641 raftstore: Fix store msg discriminant out of bound
  components/raftstore/src/store/msg.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16622 tidb_query_datatype, tidb_query_expr: Add div_precision_increment support in dag request
  Cargo.lock
  components/tidb_query_datatype/src/codec/mysql/decimal.rs
  components/tidb_query_datatype/src/codec/mysql/mod.rs
  components/tidb_query_datatype/src/expr/ctx.rs
  components/tidb_query_expr/src/impl_arithmetic.rs
  components/tidb_query_expr/src/types/test_util.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note-none

#15610 pd_client: remove global config interface
  components/error_code/src/pd.rs
  components/pd_client/src/client.rs
  components/pd_client/src/client_v2.rs
  components/pd_client/src/errors.rs
  components/pd_client/src/lib.rs
  components/pd_client/src/metrics.rs
  components/pd_client/src/util.rs
  components/test_pd/src/mocker/mod.rs
  components/test_pd/src/server.rs
  etc/error_code.toml
  tests/failpoints/cases/test_pd_client.rs
  tests/failpoints/cases/test_pd_client_legacy.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#16636 backup: fix flaky testcases.
  components/test_backup/src/disk_snap.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16647 log_backup: try fix flaky tempfiles test
  components/backup-stream/src/tempfiles.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16649 test: fix flaky cases.
  components/engine_rocks/src/checkpoint.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16633 set the unified read pool size when bootstrapped
  src/read_pool.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note

#16646 txn: let buffer_batch_get behave like memdb.get rather than tikv.batch_get
  src/storage/mod.rs
  src/storage/txn/commands/flush.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16630 In-Memory: sync RegionLabelRules from PD
  Cargo.lock
  components/pd_client/src/lib.rs
  components/pd_client/src/meta_storage.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/region_label.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#16659 grafana: Add key size and value size histogram
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/metrics.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16652 In-memory Engine: use a more crossbeam-like skiplist
  Cargo.lock
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/util.rs
  components/raftstore/src/store/worker/read.rs
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/keys.rs
  components/region_cache_memory_engine/src/memory_limiter.rs
  components/region_cache_memory_engine/src/write_batch.rs
  components/server/src/common.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16460 titan: Share blob cache with block cache
  Cargo.lock
  components/engine_rocks/src/rocks_metrics.rs
  etc/config-template.toml
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/config/mod.rs
  src/storage/config.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#16517 Titan: Make several options online configurable
  components/engine_rocks/src/config.rs
  src/config/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16619 In-memory Engine: optimize write batch to selectively cache writes
  Cargo.lock
  components/engine_traits/src/range_cache_engine.rs
  components/engine_traits/src/write_batch.rs
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/write_batch.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/worker/read.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/src/write_batch.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_range_cache_engine.rs
  tests/integrations/mod.rs
  tests/integrations/range_cache_engine.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16672 chore: bump version to v8.0.0
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#16674 In-memory Engine: remove allow dead_code and unused_variables
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/src/region_label.rs
  components/region_cache_memory_engine/src/write_batch.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16677 test: enhance unstable test test_pool_available_deadline
  src/storage/txn/scheduler.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16675 In-memory Engine: make range delete be handled in background
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/range_manager.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16686 fix: use a fixed version of cargo deny
  scripts/deny
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16678 raftstore: optimize AutoSplitController memory usage
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16682 raftstore: Avoid snapshot IO in raftstore thread
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/snap.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#16691 In-memory engine: fix panic when write batch callback twice
  components/hybrid_engine/src/write_batch.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16685 In-Memory: implement hybrid snapshot iter
  components/hybrid_engine/src/db_vector.rs
  components/hybrid_engine/src/engine_iterator.rs
  components/hybrid_engine/src/iterable.rs
  components/hybrid_engine/src/lib.rs
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/write_batch.rs
Labels: contribution, status/LGT2, status/can-merge, size/L, release-note-none

#16690 expr: add json_array_append support
  components/tidb_query_expr/src/impl_json.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/L, release-note

#16704 rocksdb: Fix partial synced inactive WAL
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note

#16608 log_backup: make the retry rule unify with master
  components/backup-stream/src/subscription_manager.rs
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note

#16679 In-memory Engine: decouple load with split and fix a bug
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/write_batch.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/src/write_batch.rs
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16696 In-memory-engine: add metrics for acquire snapshot and gc
  Cargo.lock
  components/engine_traits/src/lib.rs
  components/engine_traits/src/range_cache_engine.rs
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/lib.rs
  components/hybrid_engine/src/metrics.rs
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/background.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/metrics.rs
  components/region_cache_memory_engine/src/range_manager.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  tests/failpoints/cases/test_range_cache_engine.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16706 rocksdb: Fix partial synced inactive WAL
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/XS, release-note, needs-cherry-pick-release-6.5

#16715 Add a metrics for cdc to observe the region count that use too long to do incremental scan
  components/cdc/src/initializer.rs
  components/cdc/src/metrics.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none

#16719 limit proptest test count
  components/engine_rocks/src/engine.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16726 [Bugfix] raftstore: fix the bug when the channel is full in AutoSplitController.
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_controller.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none
