Repository tikv/tikv, pull requests merged in 2024-01, with the labels that each got.

#16241 raftstore/*: Print region information when overlap is detected.
  components/raftstore/src/store/fsm/store.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16258 server: fix panic of gRPC threads due to thread group properties not set
  components/server/src/server.rs
  components/server/src/server2.rs
Labels: status/LGT2, status/can-merge, size/S, release-note, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16187 executor: omit truncating error when handling decimal multiplication in arithmetic operators
  components/tidb_query_datatype/src/codec/mysql/decimal.rs
  components/tidb_query_expr/src/impl_arithmetic.rs
Labels: contribution, status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16261 raftstore: fix load base split cannot works in pure follower/stale read scenario
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_controller.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16266 metrics: fix typo errors in the Raft IO panel.
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16281 cdc: add more metrics about output events queue time
  components/cdc/src/channel.rs
  components/cdc/src/initializer.rs
  components/cdc/src/metrics.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16285 config: Enable titan for newly created instance
  Cargo.lock
  src/config/mod.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/M, release-note

#16293 cdc: add more metrics about output events queue time (#16281)
  components/cdc/src/channel.rs
  components/cdc/src/initializer.rs
  components/cdc/src/metrics.rs
Labels: contribution, status/LGT1, first-time-contributor, size/M, do-not-merge/release-note-label-needed

#16296 Titan: refine Titan dir empty check
  components/server/src/common.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore/src/common-test.toml
  components/test_raftstore/src/util.rs
  etc/config-template.toml
  src/config/mod.rs
  src/storage/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/raftstore/test_compact_after_delete.rs
  tests/integrations/raftstore/test_merge.rs
  tests/integrations/raftstore/test_snap.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16257 log-backup: fix a typo
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/router.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16185 txn: introduce pessimistic rollback read phase
  components/raftstore/src/store/txn_ext.rs
  components/resolved_ts/src/scanner.rs
  components/test_raftstore/src/util.rs
  components/txn_types/src/lib.rs
  components/txn_types/src/lock.rs
  src/storage/metrics.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/actions/flashback_to_version.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/pessimistic_rollback_read_phase.rs
  src/storage/txn/commands/resolve_lock_readphase.rs
  src/storage/txn/scheduler.rs
  tests/integrations/server/kv_service.rs
Labels: sig/transaction, status/LGT2, status/can-merge, size/XXL, release-note-none

#16300 raftstore: fix Display for ReadableOffsetTime
  components/tikv_util/src/config.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none

#16298 raftstore: real batch ingest sst files in different region
  components/raftstore/src/store/fsm/apply.rs
Labels: status/LGT2, status/can-merge, size/M, release-note, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16321 chore: bump version to 7.6.0
  Cargo.lock
  Cargo.toml
Labels: do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#16294 raft_log_engine: update to latest version.
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16320 engine: calculate table properties correctly for Titan
  components/cdc/src/initializer.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/ttl_properties.rs
  src/config/mod.rs
  src/storage/kv/test_engine_builder.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16190 tikv-ctl: Don't send compact commands to TiFlash stores
  cmd/tikv-ctl/src/main.rs
Labels: contribution, status/LGT2, status/can-merge, first-time-contributor, size/S, release-note, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16342 txn: try to fix the possible deadlock caused by scan lock
  src/storage/mvcc/reader/reader.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/S, release-note-none

#16343 txn: try to fix the deadlock caused by scan lock(#16342)
  src/storage/mvcc/reader/reader.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/S, cherry-pick-approved, release-note-none, type/cherry-pick-for-release-7.6

#16352 *: ban unwanted crypto crates
  Makefile
  components/cloud/aws/src/s3.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  deny.toml
  scripts/check-log-style
  scripts/deny
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#15946 snapshot_backup: enhanced prepare stage
  Cargo.lock
  Cargo.toml
  components/backup/src/disk_snap.rs
  components/backup/src/endpoint.rs
  components/backup/src/lib.rs
  components/backup/src/service.rs
  components/raftstore-v2/src/operation/disk_snapshot_backup.rs
  components/raftstore-v2/src/operation/mod.rs
  components/raftstore-v2/src/router/mod.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/error.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/errors.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/snapshot_backup.rs
  components/raftstore/src/store/unsafe_recovery.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/snap_recovery/src/services.rs
  components/sst_importer/src/errors.rs
  components/test_backup/Cargo.toml
  components/test_backup/src/disk_snap.rs
  components/test_backup/src/lib.rs
  components/test_raftstore/src/transport_simulate.rs
  components/test_raftstore/src/util.rs
  components/test_util/src/lib.rs
  components/tikv_util/src/time.rs
  src/import/sst_service.rs
  tests/Cargo.toml
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_disk_snap_br.rs
  tests/integrations/backup/disk_snap.rs
  tests/integrations/backup/mod.rs
  tests/integrations/import/test_sst_service.rs
  tests/integrations/raftstore/test_snap_recovery.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16333 chore: bump version to v8.0.0-alpha
  Cargo.lock
  Cargo.toml
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none

#16329 [cherry-pick-7.5] raft_log_engine: update to latest version. (#16294)
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none

#16361 test: fix unstable test test_limit_concurrency
  src/coprocessor/interceptors/concurrency_limiter.rs
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#16360 *: deny vulnerable crates
  Cargo.lock
  Cargo.toml
  clippy.toml
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-server/Cargo.toml
  components/backup-stream/Cargo.toml
  components/backup-stream/src/router.rs
  components/backup-stream/src/utils.rs
  components/backup-stream/tests/suite.rs
  components/engine_rocks/Cargo.toml
  components/online_config/Cargo.toml
  components/raft_log_engine/Cargo.toml
  components/raftstore-v2/Cargo.toml
  components/raftstore/Cargo.toml
  components/server/Cargo.toml
  components/snap_recovery/Cargo.toml
  components/test_util/Cargo.toml
  components/test_util/src/logging.rs
  components/tidb_query_common/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_expr/Cargo.toml
  components/tikv_util/Cargo.toml
  deny.toml
  tests/Cargo.toml
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16322 In-memory engine: API changes for write-path.
  components/engine_rocks/src/write_batch.rs
  components/engine_traits/src/write_batch.rs
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/misc.rs
  components/hybrid_engine/src/write_batch.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/write_batch.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#16357 In-memory Engine: conditional compilation
  cmd/tikv-server/Cargo.toml
  components/server/Cargo.toml
  components/server/src/server.rs
Labels: contribution, status/LGT2, status/can-merge, size/S, release-note-none

#16376 Revert "raftstore: fix load base split cannot works in pure follower scenario
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_controller.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16373 cop: fix the scan panic when checksum is enabled
  components/test_coprocessor/src/store.rs
  components/tidb_query_datatype/src/codec/row/v2/row_slice.rs
  tests/integrations/coprocessor/test_select.rs
Labels: status/LGT2, type/bugfix, status/can-merge, size/M, release-note, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16372 *: deny yanked, unsound and unknown git source crates
  Cargo.lock
  Cargo.toml
  clippy.toml
  cmd/tikv-ctl/Cargo.toml
  cmd/tikv-server/Cargo.toml
  components/file_system/Cargo.toml
  components/file_system/src/io_stats/biosnoop.rs
  components/file_system/src/io_stats/mod.rs
  components/file_system/src/io_stats/proc.rs
  components/raft_log_engine/Cargo.toml
  components/server/Cargo.toml
  components/tidb_query_datatype/Cargo.toml
  deny.toml
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16377 [Pick-to-7.6]Revert "raftstore: fix load base split cannot works in pure follower read scenario
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_controller.rs
  tests/integrations/raftstore/test_split_region.rs
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#16252 cdc: incremental scans use correct specified ranges
  components/cdc/src/delegate.rs
  components/cdc/src/initializer.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16339 [cherry-pick-7.1] raft_log_engine: update to latest version. (#16294)
  Cargo.lock
  cmd/tikv-ctl/Cargo.toml
  components/raft_log_engine/Cargo.toml
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#16363 [cherry-pick-6.5] raft_log_engine: update to latest version. (#16294)
  Cargo.lock
  cmd/tikv-ctl/Cargo.toml
  components/raft_log_engine/Cargo.toml
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#16384 test: fix lint
  components/test_coprocessor/src/store.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-7.5

#16397 *: update rust-toolchain
  cmd/tikv-ctl/src/fork_readonly_tikv.rs
  cmd/tikv-ctl/src/main.rs
  components/backup-stream/src/endpoint.rs
  components/backup/src/endpoint.rs
  components/cloud/aws/src/s3.rs
  components/cloud/azure/src/azblob.rs
  components/file_system/src/io_stats/mod.rs
  components/file_system/src/io_stats/proc.rs
  components/raftstore-v2/src/operation/bucket.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/read.rs
  components/raftstore/src/store/worker/split_check.rs
  components/resource_metering/src/model.rs
  components/test_coprocessor/src/store.rs
  components/test_util/src/runner.rs
  components/tidb_query_datatype/src/codec/table.rs
  components/tidb_query_executors/src/index_scan_executor.rs
  components/tidb_query_executors/src/table_scan_executor.rs
  components/tidb_query_executors/src/util/aggr_executor.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/stats.rs
  components/tikv_util/src/logger/mod.rs
  components/tikv_util/src/thread_group.rs
  components/tikv_util/src/time.rs
  components/tracker/src/slab.rs
  components/tracker/src/tls.rs
  rust-toolchain.toml
  src/server/load_statistics/mod.rs
  src/storage/txn/commands/prewrite.rs
  tests/integrations/coprocessor/test_select.rs
  tests/integrations/server/debugger.rs
  tests/integrations/storage/test_region_info_accessor.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16399 logger: fix thread_id in log
  components/tikv_util/src/logger/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-7.5

#16404 coprocessor: make the error format the same as tidb
  components/tidb_query_expr/src/impl_math.rs
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note

#16406 Cargo.toml: fix h2 vulnerability
  Cargo.lock
Labels: contribution, status/LGT2, status/can-merge, size/XS, release-note-none

#16131 storage: Use write cf stats to decide load action for default cf instead of near seek
  components/cdc/src/initializer.rs
  components/cdc/src/old_value.rs
  components/tikv_kv/src/lib.rs
  components/tikv_kv/src/stats.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/scanner/backward.rs
  src/storage/mvcc/reader/scanner/forward.rs
  src/storage/mvcc/reader/scanner/mod.rs
Labels: status/LGT2, status/can-merge, size/L, release-note

#16381 In-Memory Engine: WriteBatch implementation.
  components/hybrid_engine/src/write_batch.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/write_batch.rs
Labels: contribution, status/LGT2, status/can-merge, size/XL, release-note-none

#16409 scripts: update RustSec advisory db before checking cargo deny
  scripts/deny
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16383 In-memory Engine: refactor from region based to range based
  Cargo.lock
  components/engine_traits/src/engine.rs
  components/engine_traits/src/errors.rs
  components/engine_traits/src/lib.rs
  components/engine_traits/src/memory_engine.rs
  components/hybrid_engine/src/cf_names.rs
  components/hybrid_engine/src/cf_options.rs
  components/hybrid_engine/src/checkpoint.rs
  components/hybrid_engine/src/compact.rs
  components/hybrid_engine/src/db_options.rs
  components/hybrid_engine/src/engine.rs
  components/hybrid_engine/src/engine_iterator.rs
  components/hybrid_engine/src/flow_control_factors.rs
  components/hybrid_engine/src/hybrid_metrics.rs
  components/hybrid_engine/src/import.rs
  components/hybrid_engine/src/iterable.rs
  components/hybrid_engine/src/misc.rs
  components/hybrid_engine/src/mvcc_properties.rs
  components/hybrid_engine/src/perf_context.rs
  components/hybrid_engine/src/range_properties.rs
  components/hybrid_engine/src/snapshot.rs
  components/hybrid_engine/src/sst.rs
  components/hybrid_engine/src/table_properties.rs
  components/hybrid_engine/src/ttl_properties.rs
  components/hybrid_engine/src/write_batch.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/read.rs
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/keys.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/range_manager.rs
  components/region_cache_memory_engine/src/write_batch.rs
  components/server/src/common.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  components/test_raftstore/src/util.rs
  src/server/raftkv/mod.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16411 logger: fix missing log fields
  components/tikv_util/src/logger/mod.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16402 config: Change titan min blob size default value to 32KB
  components/cdc/src/initializer.rs
  components/server/src/setup.rs
  components/test_raftstore/src/util.rs
  etc/config-template.toml
  src/config/mod.rs
  tests/integrations/config/mod.rs
  tests/integrations/storage/test_titan.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note

#16174 raftstore: check last heartbeat time before doing conf change remove node
  components/raftstore-v2/src/operation/command/admin/conf_change.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/util.rs
  tests/integrations/raftstore/test_conf_change.rs
Labels: status/LGT2, status/can-merge, size/L, release-note, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16008 log_backup: stop task while memory out of quota
  Cargo.lock
  components/backup-stream/Cargo.toml
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/errors.rs
  components/backup-stream/src/event_loader.rs
  components/backup-stream/src/observer.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/subscription_track.rs
  components/backup-stream/src/utils.rs
  components/backup-stream/tests/failpoints/mod.rs
  components/error_code/src/backup_stream.rs
  components/tikv_util/src/memory.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16408 raftstore: address the corner case on WakeUp hibernate regions.
  Cargo.lock
  components/raftstore/src/store/fsm/peer.rs
  deny.toml
  tests/failpoints/cases/test_hibernate.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16426 [cherry-pick-v6.5] raftstore: address the corner case on WakeUp hibernate regions. (#16408)
  components/raftstore/src/store/fsm/peer.rs
  tests/failpoints/cases/test_hibernate.rs
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#16427 [cherry-pick-v7.1] raftstore: address the corner case on WakeUp hibernate regions. (#16408)
  components/raftstore/src/store/fsm/peer.rs
  tests/failpoints/cases/test_hibernate.rs
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#16428 [cherry-pick-v7.5] raftstore: address the corner case on WakeUp hibernate regions. (#16408)
  components/raftstore/src/store/fsm/peer.rs
  tests/failpoints/cases/test_hibernate.rs
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#16432 grafana: Refine the order of grafana dashboard to localize related panels
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: status/LGT2, status/can-merge, size/XXL, release-note

#16439 txn: Reserve lock data prefix `T` for future use
  components/txn_types/src/lock.rs
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#16440 storage: refactor command marco and task
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/acquire_pessimistic_lock_resumed.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/cleanup.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/compare_and_swap.rs
  src/storage/txn/commands/flashback_to_version.rs
  src/storage/txn/commands/flashback_to_version_read_phase.rs
  src/storage/txn/commands/macros.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/mvcc_by_key.rs
  src/storage/txn/commands/mvcc_by_start_ts.rs
  src/storage/txn/commands/pause.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/pessimistic_rollback_read_phase.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/commands/resolve_lock_readphase.rs
  src/storage/txn/commands/rollback.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/mod.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/task.rs
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#16388 snap_backup: abort last connection of preparing while there are many
  components/backup/src/disk_snap.rs
  components/backup/src/service.rs
  components/test_backup/src/disk_snap.rs
  tests/integrations/backup/disk_snap.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#16238 In-memory Engine: implement garbage collection -- backend part
  Cargo.lock
  components/region_cache_memory_engine/Cargo.toml
  components/region_cache_memory_engine/src/engine.rs
  components/region_cache_memory_engine/src/gc.rs
  components/region_cache_memory_engine/src/keys.rs
  components/region_cache_memory_engine/src/lib.rs
  components/region_cache_memory_engine/src/memory_limiter.rs
  components/region_cache_memory_engine/src/range_manager.rs
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#16450 chore: bump version to v6.5.8
  Cargo.lock
  Cargo.toml
Labels: contribution, size/XS, do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#16446 Cargo: fix cargo vendor by upgrading encoding_rs
  Cargo.lock
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16464 statistics: use std from trait
  src/coprocessor/statistics/analyze.rs
  src/coprocessor/statistics/cmsketch.rs
  src/coprocessor/statistics/fmsketch.rs
  src/coprocessor/statistics/histogram.rs
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#16467 raftstore: improve the remove peer check
  components/raftstore/src/store/util.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#16447 server: add grpc exec duration and wait duration
  Cargo.lock
  components/tracker/src/lib.rs
  src/coprocessor/endpoint.rs
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/txn/scheduler.rs
  tests/integrations/server/kv_service.rs
Labels: status/LGT2, status/can-merge, size/M, release-note-none
