Repository tikv/tikv, pull requests merged in 2025-04, with the labels that each got.

#18348 aws: remove region check when create s3 storage (#18158)
  Cargo.lock
  clippy.toml
  components/cloud/aws/src/kms.rs
  components/cloud/aws/src/s3.rs
  components/cloud/aws/src/util.rs
  deny.toml
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#18320 tikv_util: fix tokio-timer panic when clock goes backward
  components/tikv_util/src/timer.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#18344 sst_importer: add lock for ponential duplicate download
  components/sst_importer/src/sst_importer.rs
  tests/failpoints/cases/test_import_service.rs
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes

#18356 *: Fix build on MacOS 15.4 with Apple clang v17.0.0
  Cargo.lock
  Makefile
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes

#18362 deps: Revert openssl changes of #18356
  Cargo.lock
  clippy.toml
  components/backup-stream/src/endpoint.rs
  deny.toml
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes

#18364 crypto: fix FIPS compilation
  Cargo.lock
  components/crypto/Cargo.toml
  components/crypto/build.rs
  components/crypto/src/fips.rs
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#18358 metric: fix typo in resolved-ts pending command size metric
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#18367 chore: Upgrade crossbeam-channel from yanked 0.5.13 to 0.5.15
  Cargo.lock
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#18354 tracker, coprocessor: do not overwrite coprocessor time details
  components/tracker/src/lib.rs
  src/coprocessor/endpoint.rs
  src/server/service/kv.rs
  src/storage/txn/tracker.rs
  tests/integrations/coprocessor/test_select.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#18360 sst_importer: make duplicated download report error
  components/error_code/src/sst_importer.rs
  components/sst_importer/src/errors.rs
  components/sst_importer/src/sst_importer.rs
  tests/failpoints/cases/test_import_service.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#18350 raftstore/store: compact the write cf before default cf
  components/raftstore/src/store/fsm/store.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#18387 alter_rules: fix incorrect aggregation expression with range vector.
  metrics/alertmanager/tikv.rules.yml
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#18385 txn_status_cache: avoid deadlock in txn_status_cache with Pipelined DML
  src/storage/txn/txn_status_cache.rs
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#18374 tests: fix test_change_memory_config
  src/config/mod.rs
Labels: contribution, first-time-contributor, size/XS, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18379 server: do not set defualt compression algorithm for grpc channel
  src/server/server.rs
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes

#18397 CP #18356, #18362, #18367 to fix build issues
  Cargo.lock
  Makefile
  clippy.toml
  deny.toml
Labels: size/M, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#18389 compact_log_backup: correct version assignment in subcompaction metadata
  components/compact-log-backup/src/compaction/exec.rs
  components/compact-log-backup/src/test_util.rs
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes

#18400 sst_importer: support ignore keys by ts during download (#17951)
  Cargo.lock
  components/sst_importer/src/metrics.rs
  components/sst_importer/src/sst_importer.rs
Labels: size/L, cherry-pick-approved, release-note, lgtm, approved, dco-signoff: yes

#18401 Cherry pick #15431, #17326 to 6.1.7
  Cargo.lock
  components/batch-system/Cargo.toml
  components/batch-system/src/router.rs
  components/batch-system/tests/cases/router.rs
  components/raftstore/src/router.rs
  components/raftstore/src/store/fsm/apply.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/transport.rs
  components/raftstore/src/store/worker/cleanup_snapshot.rs
  components/raftstore/src/store/worker/pd.rs
  components/server/src/memory.rs
  components/test_raftstore/src/router.rs
  components/test_util/data/.gitignore
  components/test_util/data/ca.pem
  components/test_util/data/generate_certs.sh
  components/test_util/data/key.pem
  components/test_util/data/server.pem
  components/tikv_util/src/mpsc/mod.rs
  src/server/server.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#16571 Config, Security: Allow dynamic configuration for "security.redact_info_log"
  Cargo.lock
  components/backup-stream/src/utils.rs
  components/log_wrappers/Cargo.toml
  components/log_wrappers/src/lib.rs
  components/online_config/src/lib.rs
  components/security/Cargo.toml
  components/security/src/lib.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_util/src/security.rs
  components/txn_types/src/lock.rs
  src/config/mod.rs
  tests/integrations/config/mod.rs
Labels: contribution, first-time-contributor, size/L, release-note, lgtm, approved, dco-signoff: yes

#18394 tests: ignore some tests in make docker_test
  Cargo.toml
  scripts/test
  src/server/service/diagnostics/sys.rs
  tests/integrations/backup/mod.rs
Labels: contribution, first-time-contributor, size/S, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18404 *: update rust-rocksdb to enable `cancel` in-progress manual compactions.
  Cargo.lock
  components/engine_rocks/src/misc.rs
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes

#18407 server: remove unused check added for investigations
  components/raftstore/src/store/fsm/peer.rs
  src/server/raftkv/mod.rs
Labels: sig/transaction, size/M, release-note-none, lgtm, approved, dco-signoff: yes

#18368 compacted restore: add region boundaries in log backup and support ts filter on key range
  Cargo.lock
  components/backup-stream/Cargo.toml
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/lib.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/subscription_manager.rs
  components/backup-stream/src/subscription_track.rs
  components/backup-stream/tests/integration/mod.rs
  components/sst_importer/src/metrics.rs
  components/sst_importer/src/sst_importer.rs
Labels: size/XL, cherry-pick-approved, release-note, lgtm, approved, dco-signoff: yes

#18409 metrics: fix the typos of metrics
  components/backup-stream/src/metrics.rs
Labels: size/XS, release-note, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#18408 RocksDB: Upgrade RocksDB
  Cargo.lock
  Makefile
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#18411 azblob: use `copy` to implement `read_to_end`
  Cargo.lock
  components/backup-stream/src/metrics.rs
  components/backup-stream/src/tempfiles.rs
  components/cloud/Cargo.toml
  components/cloud/azure/src/azblob.rs
  components/cloud/gcp/Cargo.toml
  components/cloud/gcp/src/gcs.rs
  components/cloud/gcp/src/lib.rs
  components/cloud/src/blob.rs
  components/cloud/src/lib.rs
  components/cloud/src/metrics.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#17802 copr: add simd for vector distance functions
  Cargo.lock
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/benches/bench_vector_distance.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_vector_float32.rs
  components/tidb_query_datatype/src/codec/datum.rs
  components/tidb_query_datatype/src/codec/mysql/vector.rs
  components/tidb_query_expr/src/impl_vec.rs
Labels: contribution, size/XXL, release-note-none, needs-ok-to-test, lgtm, approved, dco-signoff: yes

#18375 Introduce a new observer `on_apply_snapshot_committed` to notice the snapshot data is committed on disk
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/worker/region.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#18173 follower read cache
  components/raftstore-v2/src/operation/query/lease.rs
  components/raftstore-v2/src/operation/query/local.rs
  components/raftstore-v2/src/operation/query/replica.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/read_queue.rs
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/metrics.rs
  components/raftstore/src/store/worker/read.rs
  components/test_raftstore/src/util.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/server/raftkv/mod.rs
  tests/failpoints/cases/test_replica_read.rs
  tests/integrations/raftstore/test_replica_read.rs
Labels: contribution, size/XXL, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#18420 CP #18356, #18362, #18367 to fix build issues (#18397)
  Cargo.lock
  Makefile
  clippy.toml
  deny.toml
Labels: size/M, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes
