Repository tikv/tikv, pull requests merged in 2025-07, with the labels that each got.

#18626 config: avoid inherting unnecessary configs to RaftstoreConfig from the last config file
  src/config/mod.rs
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#18617 *: update raft-engine to optimize `fetch_entries_to`.
  Cargo.lock
  Cargo.toml
Labels: size/XS, release-note, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#18628 titan: Estimate raw blob size based on Titan metrics
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/rocks_metrics.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#18526 import: track inflight ingests during write stall check
  components/engine_panic/src/misc.rs
  components/engine_rocks/src/misc.rs
  components/engine_traits/src/misc.rs
  components/raftstore/src/store/worker/region.rs
  components/test_sst_importer/src/util.rs
  src/import/ingest.rs
  src/import/sst_service.rs
  tests/integrations/import/test_sst_service.rs
Labels: size/L, release-note, needs-cherry-pick-release-7.5, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#18489 *: bump version of pprof-rs to 0.15 (#18485)
  Cargo.lock
  Cargo.toml
Labels: size/XL, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#18704 *: hotfix: debug memory leak in concurrency manager
  Cargo.lock
  components/cdc/tests/integrations/test_cdc.rs
  components/concurrency_manager/Cargo.toml
  components/concurrency_manager/benches/lock_table.rs
  components/concurrency_manager/src/key_handle.rs
  components/concurrency_manager/src/lib.rs
  components/concurrency_manager/src/lock_table.rs
  components/concurrency_manager/src/metrics.rs
  components/concurrency_manager/src/tracked_arc.rs
  components/concurrency_manager/tests/memory_usage.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/tikv_alloc/src/default.rs
  components/tikv_alloc/src/jemalloc.rs
  components/tikv_util/src/metrics/allocator_metrics.rs
  components/tikv_util/src/sys/thread.rs
  components/tikv_util/src/yatp_pool/mod.rs
  etc/config-template.toml
  metrics/grafana/tikv_details.json
  src/config/mod.rs
  src/coprocessor/endpoint.rs
  src/server/debug.rs
  src/server/status_server/mod.rs
  src/storage/mod.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/scheduler.rs
  tests/failpoints/cases/test_coprocessor.rs
  tests/failpoints/cases/test_replica_read.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/raftstore/test_replica_read.rs
  tests/integrations/server/kv_service.rs
  tests/integrations/storage/test_raftkv.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#18714 batch-system: fix router `check_do` lock contention
  components/batch-system/src/router.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#18670 GC: Estimate compaction effectiveness based on stats and GC safe point
  components/cdc/src/initializer.rs
  components/engine_panic/src/table_properties.rs
  components/engine_rocks/src/mvcc_properties.rs
  components/engine_rocks/src/properties.rs
  components/engine_rocks/src/table_properties.rs
  components/engine_traits/src/mvcc_properties.rs
  components/engine_traits/src/table_properties.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/compact.rs
  components/server/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/server/raft_server.rs
  tests/failpoints/cases/test_compact_top_n.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/mod.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/raftstore/test_compact_after_delete.rs
  tests/integrations/server/kv_service.rs
Labels: size/XXL, release-note, lgtm, approved, dco-signoff: yes

#18686 *: bump version of pprof-rs to 0.15 (#18485)
  Cargo.lock
  Cargo.toml
Labels: size/M, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#18702 raftstore: invalidate follower read cache when region is destroyed
  components/raftstore/src/store/util.rs
  components/raftstore/src/store/worker/read.rs
  components/raftstore/src/store/worker/region.rs
  components/test_raftstore/src/util.rs
  tests/failpoints/cases/test_replica_read.rs
Labels: size/XXL, release-note, lgtm, approved, dco-signoff: yes

#18611 collation: fix process non-utf8 characters
  components/tidb_query_datatype/src/codec/collation/collator/gb18030_collation.rs
  components/tidb_query_datatype/src/codec/collation/collator/gbk_collation.rs
  components/tidb_query_datatype/src/codec/collation/collator/mod.rs
  components/tidb_query_datatype/src/codec/collation/collator/utf8mb4_binary.rs
  components/tidb_query_datatype/src/codec/collation/collator/utf8mb4_general_ci.rs
  components/tidb_query_datatype/src/codec/collation/collator/utf8mb4_uca/data_0400.rs
  components/tidb_query_datatype/src/codec/collation/collator/utf8mb4_uca/data_0900.rs
  components/tidb_query_datatype/src/codec/collation/collator/utf8mb4_uca/mod.rs
Labels: contribution, size/XL, release-note, needs-cherry-pick-release-7.5, ok-to-test, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#18598 PeerStorage: add TermCache caching recent terms to avoid unnecessary I/O ops.
  components/raftstore-v2/src/operation/command/admin/compact_log.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
Labels: size/XL, release-note, lgtm, approved, dco-signoff: yes

#18748 raftstore: fix flaky test test_evict_early_avoids_reject
  tests/failpoints/cases/test_memory_usage_limit.rs
Labels: contribution, first-time-contributor, size/XS, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18746 degrade TiKV Error log level for false alarm
  components/concurrency_manager/src/lib.rs
  components/in_memory_engine/src/region_label.rs
  components/pd_client/src/client.rs
  components/pd_client/src/util.rs
  components/raftstore-v2/src/operation/command/write/ingest.rs
  components/raftstore-v2/src/operation/misc.rs
  components/raftstore-v2/src/worker/pd/mod.rs
  components/raftstore-v2/src/worker/pd/store.rs
  components/raftstore/src/compacted_event_sender.rs
  components/raftstore/src/coprocessor/split_observer.rs
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/cleanup_snapshot.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/region.rs
  components/resource_control/src/service.rs
  components/sst_importer/src/sst_importer.rs
  src/server/gc_worker/gc_manager.rs
  src/server/raft_client.rs
  src/server/raft_server.rs
  src/server/raftkv/raft_extension.rs
  src/server/service/batch.rs
  src/server/service/debug.rs
  src/server/service/kv.rs
  src/server/snap.rs
  src/server/tablet_snap.rs
Labels: contribution, size/L, release-note, ok-to-test, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5
