Repository tikv/tikv, pull requests merged in 2025-09, with the labels that each got.

#18913 rocksdb: fix compaction guard overlap check
  components/raftstore/src/store/compaction_guard.rs
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#18928 cargo deny: fix RUSTSEC-2025-0055.
  Cargo.lock
  cmd/tikv-server/Cargo.toml
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#18715 worker: implement pd_worker get network latency from health_checker
  Cargo.lock
  components/health_controller/Cargo.toml
  components/health_controller/src/lib.rs
  components/health_controller/src/reporters.rs
  components/raftstore/src/store/worker/pd.rs
  src/server/raft_client.rs
  src/server/server.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#18890 README: Python API update
  README.md
Labels: contribution, first-time-contributor, size/XS, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18947 config: add more check for inspect_network_interval
  src/server/config.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#18943 coprocessor: support `IndexLookUp` in `BatchExecutorsRunner`
  Cargo.lock
  components/test_coprocessor/src/dag.rs
  components/tidb_query_common/src/execute_stats.rs
  components/tidb_query_datatype/src/codec/chunk/chunk.rs
  components/tidb_query_datatype/src/codec/chunk/column.rs
  components/tidb_query_datatype/src/codec/chunk/mod.rs
  components/tidb_query_executors/src/fast_hash_aggr_executor.rs
  components/tidb_query_executors/src/index_lookup_executor.rs
  components/tidb_query_executors/src/index_scan_executor.rs
  components/tidb_query_executors/src/interface.rs
  components/tidb_query_executors/src/lib.rs
  components/tidb_query_executors/src/limit_executor.rs
  components/tidb_query_executors/src/partition_top_n_executor.rs
  components/tidb_query_executors/src/projection_executor.rs
  components/tidb_query_executors/src/runner.rs
  components/tidb_query_executors/src/selection_executor.rs
  components/tidb_query_executors/src/simple_aggr_executor.rs
  components/tidb_query_executors/src/slow_hash_aggr_executor.rs
  components/tidb_query_executors/src/stream_aggr_executor.rs
  components/tidb_query_executors/src/table_scan_executor.rs
  components/tidb_query_executors/src/top_n_executor.rs
  components/tidb_query_executors/src/util/aggr_executor.rs
  components/tidb_query_executors/src/util/mock_executor.rs
  components/tidb_query_executors/src/util/scan_executor.rs
  src/coprocessor/dag/mod.rs
  src/coprocessor/endpoint.rs
  tests/benches/coprocessor_executors/integrated/util.rs
  tests/benches/coprocessor_executors/util/fixture.rs
  tests/integrations/coprocessor/test_select.rs
Labels: contribution, size/XXL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18968 sst_service: fix the panic on add_force_partition_range when raft-v2 is enabled
  src/import/sst_service.rs
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#18967 rocksdb: Optimize async snapshot and write tail latency with many SSTs
  Cargo.lock
Labels: size/XS, release-note, needs-cherry-pick-release-7.5, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#18860 degrade TiKV Error log level for false alarm (#18746)
  components/concurrency_manager/src/lib.rs
  components/in_memory_engine/src/region_label.rs
  components/pd_client/src/client.rs
  components/pd_client/src/util.rs
  components/raftstore-v2/src/operation/command/write/ingest.rs
  components/raftstore-v2/src/operation/misc.rs
  components/raftstore-v2/src/worker/pd/mod.rs
  components/raftstore-v2/src/worker/pd/store.rs
  components/raftstore/src/compacted_event_sender.rs
  components/raftstore/src/coprocessor/split_observer.rs
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/cleanup_snapshot.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/region.rs
  components/resource_control/src/service.rs
  components/sst_importer/src/sst_importer.rs
  src/server/gc_worker/gc_manager.rs
  src/server/raft_client.rs
  src/server/raft_server.rs
  src/server/raftkv/raft_extension.rs
  src/server/service/batch.rs
  src/server/service/debug.rs
  src/server/service/kv.rs
  src/server/snap.rs
  src/server/tablet_snap.rs
Labels: contribution, size/L, cherry-pick-approved, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#18940 resource_control: disable the buggy auto priority quota limiter
  components/resource_control/src/lib.rs
  components/resource_control/src/resource_group.rs
Labels: size/M, release-note-none, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#18984 raftstore: fix abnormally fetching terms when destroy peer asynchronously
  components/raftstore/src/store/fsm/peer.rs
  tests/failpoints/cases/test_stale_read.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#18993 *: Disable ENABLE_DUP_KEY_DEBUG by default
  components/txn_types/src/lib.rs
  tests/failpoints/cases/test_kv_service.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#18923 resource_metering: collect network/io info for coprocessor in TopSQL
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/split_controller.rs
  components/resource_metering/src/config.rs
  components/resource_metering/src/lib.rs
  components/resource_metering/src/model.rs
  components/resource_metering/src/recorder/mod.rs
  components/resource_metering/src/recorder/sub_recorder/summary.rs
  components/resource_metering/src/reporter/mod.rs
  components/tracker/src/lib.rs
  src/coprocessor/endpoint.rs
  src/server/service/batch.rs
  src/server/service/kv.rs
  src/storage/mod.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/scheduler.rs
  src/storage/types.rs
  tests/integrations/resource_metering/test_dynamic_config.rs
  tests/integrations/resource_metering/test_receiver.rs
  tests/integrations/resource_metering/test_suite/mod.rs
Labels: contribution, size/XXL, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#18930 server: graceful shutdown tikv-impl
  Cargo.lock
  components/raftstore-v2/src/batch/store.rs
  components/raftstore-v2/src/worker/pd/mod.rs
  components/raftstore-v2/src/worker/pd/slowness.rs
  components/raftstore-v2/src/worker/pd/store.rs
  components/raftstore/src/store/fsm/store.rs
  components/raftstore/src/store/worker/pd.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/server/src/signal_handler.rs
  components/service/src/service_event.rs
  src/server/config.rs
  src/server/raft_server.rs
  src/server/raftkv2/node.rs
  tests/integrations/config/graceful_shutdown_config.rs
  tests/integrations/config/mod.rs
Labels: contribution, size/XL, release-note, needs-ok-to-test, lgtm, approved, dco-signoff: yes

#19008 coprocessor: Support basic summary and metrics for push down IndexLookUp
  components/tidb_query_common/src/metrics.rs
  components/tidb_query_executors/src/index_lookup_executor.rs
  components/tidb_query_executors/src/runner.rs
Labels: contribution, size/L, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18997 coprocessor: check memory locks in `ExtraSnapStoreAccessor`
  src/coprocessor/endpoint.rs
  tests/integrations/raftstore/test_snap.rs
Labels: contribution, size/L, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#19015 raftstore: handle `ReadyToDestroyPeer` with incorrect order if the sender is delayed.
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/msg.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/worker/region.rs
  tests/failpoints/cases/test_stale_peer.rs
  tests/failpoints/cases/test_titan.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes
