Repository tikv/tikv, pull requests merged in 2025-01, with the labels that each got.

#18034 engine_rocks: export compactions and flushes metrics
  components/engine_rocks/src/rocks_metrics.rs
  components/engine_rocks/src/rocks_metrics_defs.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#18085 compact_log_backup: record `min_input_ts` and `max_input_ts` in Compaction
  Cargo.lock
  cmd/tikv-ctl/src/cmd.rs
  cmd/tikv-ctl/src/main.rs
  components/compact-log-backup/src/compaction/meta.rs
  components/compact-log-backup/src/execute/test.rs
  components/compact-log-backup/src/test_util.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#18080 concurrency_manager: make max-ts checker more robust
  Cargo.lock
  components/concurrency_manager/Cargo.toml
  components/concurrency_manager/src/lib.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#18027 log-backup: added manual flush RPCs
  components/backup-stream/src/checkpoint_manager.rs
  components/backup-stream/src/endpoint.rs
  components/backup-stream/src/router.rs
  components/backup-stream/src/service.rs
  components/backup-stream/tests/integration/mod.rs
  components/backup-stream/tests/suite.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#17951 support ignore keys by ts during download
  Cargo.lock
  components/sst_importer/src/metrics.rs
  components/sst_importer/src/sst_importer.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#18092 gc_worker: Do not do delete_files_in_range on lock cf which has potential risk to affect data correctness
  src/server/gc_worker/gc_worker.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#17990 resolved-ts: skip updating last_pd_tso if tso fetch fails
  components/resolved_ts/src/advance.rs
Labels: size/XS, release-note, lgtm, approved, dco-signoff: yes

#18115 txn: fix duplicate locks returned in scan locks
  components/raftstore/src/store/fsm/peer.rs
  components/test_raftstore/src/cluster.rs
  components/test_raftstore/src/util.rs
  src/storage/mvcc/reader/reader.rs
  tests/failpoints/cases/test_kv_service.rs
Labels: sig/transaction, type/bugfix, size/L, release-note, needs-cherry-pick-release-8.1, lgtm, approved, dco-signoff: yes

#18095 txn: prevent 1pc locks from being skipped when reading with max-ts
  components/txn_types/src/lock.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/commands/prewrite.rs
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes

#18099 *: extend task wait metrics and add configuration description
  components/resource_control/src/metrics.rs
  components/tikv_util/src/yatp_pool/metrics.rs
  etc/config-template.toml
  src/config/mod.rs
  src/server/config.rs
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#18128 coprocessor: fix the check logic of external request
  components/tracker/src/lib.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#18102 rocksdb: resolve flow control issues caused by clock-skew problems.
  Cargo.lock
  Cargo.toml
Labels: size/XS, release-note, lgtm, approved, dco-signoff: yes

#18126 *: Fix incorrect mapped allocation per thread metric
  components/batch-system/src/batch.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  components/tikv_util/src/sys/thread.rs
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes

#18112 expr: support scalar function from_unixtime in tikv
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#18114 Support customized raft message rejection logic
  components/server/src/server.rs
  components/server/src/server2.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/server.rs
  src/server/metrics.rs
  src/server/server.rs
  src/server/service/kv.rs
  src/server/service/mod.rs
  tests/failpoints/cases/test_server.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#18110 raftstore: add io throughput metrics for snapshot generation
  components/file_system/src/lib.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/resource_control/Cargo.toml
  components/resource_control/src/future.rs
Labels: contribution, size/M, release-note-none, needs-ok-to-test, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#18118 config: rename config items for max-ts checker
  components/concurrency_manager/src/lib.rs
  components/raftstore/src/store/peer.rs
  components/server/src/server.rs
  components/server/src/server2.rs
  src/server/raftkv/mod.rs
  src/storage/config.rs
  src/storage/config_manager.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
  tests/integrations/config/test_config_client.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#18133 [metrics] Fix tikv import CPU metric in tikv details dashboard
  metrics/grafana/common.py
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: contribution, first-time-contributor, size/S, release-note-none, needs-ok-to-test, lgtm, approved, dco-signoff: yes

#18153 [CP-to-8.1] Update rocksdb to fix clock-skew issues.
  Cargo.lock
Labels: size/XS, cherry-pick-approved, release-note, lgtm, approved, dco-signoff: yes

#18152 [CP-to-7.5] Update rocksdb to fix clock-skew issues.
  Cargo.lock
Labels: size/XS, cherry-pick-approved, release-note, lgtm, approved, dco-signoff: yes

#18151 [CP-to-7.1] Update rocksdb to fix clock-skew issues.
  Cargo.lock
Labels: size/XS, cherry-pick-approved, release-note, lgtm, approved, dco-signoff: yes

#18040 raftstore: remove stale ranges by DeleteByKeys rather than ingesting.
  Cargo.lock
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/worker/pd.rs
  components/raftstore/src/store/worker/region.rs
  tests/failpoints/cases/test_stale_peer.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#18161 Cherry pick #17784 to hot fix
  Cargo.lock
  components/backup-stream/src/subscription_manager.rs
  components/backup/src/endpoint.rs
  components/backup/src/utils.rs
  components/sst_importer/src/config.rs
  components/sst_importer/src/import_mode.rs
  components/sst_importer/src/import_mode2.rs
  components/sst_importer/src/sst_importer.rs
  components/tikv_util/Cargo.toml
  components/tikv_util/src/lib.rs
  components/tikv_util/src/resizable_threadpool.rs
  components/tikv_util/src/stream.rs
  src/import/sst_service.rs
Labels: contribution, size/XXL, release-note, ok-to-test, lgtm, approved, dco-signoff: yes

#18143 cdc: fix the panic introduced by #17656
  components/cdc/src/delegate.rs
  components/cdc/src/initializer.rs
  components/cdc/tests/integrations/test_cdc.rs
Labels: size/M, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#18130 In-memory Engine: optimize auto evict to reduce latency spike
  components/hybrid_engine/src/engine.rs
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/config.rs
  components/in_memory_engine/src/region_manager.rs
  components/in_memory_engine/src/region_stats.rs
  components/in_memory_engine/src/write_batch.rs
  components/pd_client/src/lib.rs
  components/raftstore/src/coprocessor/region_info_accessor.rs
  components/server/src/server.rs
  components/tikv_util/src/smoother.rs
Labels: size/XXL, release-note, lgtm, approved, dco-signoff: yes

#18131 upload pause state before unloading a task
  components/backup-stream/src/endpoint.rs
  components/backup-stream/tests/failpoints/mod.rs
  components/backup-stream/tests/integration/mod.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#18168 cdc: fix the panic introduced by #17656 (#18143)
  components/cdc/src/delegate.rs
  components/cdc/src/initializer.rs
  components/cdc/tests/integrations/test_cdc.rs
Labels: size/M, release-note-none, dco-signoff: yes

#18158 aws: remove region check when create s3 storage
  components/cloud/aws/src/kms.rs
  components/cloud/aws/src/s3.rs
  components/cloud/aws/src/util.rs
Labels: severity/major, size/M, release-note, lgtm, approved, dco-signoff: yes

#18134 In-memory Engine: reload regions evicted by region merge
  components/engine_traits/src/region_cache_engine.rs
  components/hybrid_engine/src/observer/load_eviction.rs
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/engine.rs
  components/in_memory_engine/src/lib.rs
  components/in_memory_engine/src/metrics.rs
  components/in_memory_engine/src/region_manager.rs
  components/in_memory_engine/src/region_stats.rs
  components/in_memory_engine/src/write_batch.rs
  tests/failpoints/cases/test_in_memory_engine.rs
Labels: size/XXL, release-note, lgtm, approved, dco-signoff: yes

#18120 coprocessor: print coprocessor slow log base on total_process_time and total_suspend_time
  src/coprocessor/tracker.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#18170 cdc: fix the panic introduced by #17656 (#18143)
  components/cdc/src/delegate.rs
  components/cdc/src/initializer.rs
  components/cdc/tests/integrations/test_cdc.rs
Labels: size/M, release-note-none, dco-signoff: yes

#18123 compact_log_backup: filter out meta files by migration
  components/compact-log-backup/src/compaction/meta.rs
  components/compact-log-backup/src/execute/mod.rs
  components/compact-log-backup/src/statistic.rs
  components/compact-log-backup/src/storage.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes
