Repository tikv/tikv, pull requests merged in 2025-02, with the labels that each got.

#18180 resource_control: fix unused warnings
  components/resource_control/src/future.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#18035 *: Makefile: use dwz to reduce binary size
  Dockerfile.FIPS
  Makefile
Labels: contribution, size/S, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18096 raftstore: support rocksdb writes during ingestion
  Cargo.lock
  components/engine_panic/Cargo.toml
  components/engine_panic/src/import.rs
  components/engine_rocks/src/engine.rs
  components/engine_rocks/src/import.rs
  components/engine_rocks/src/misc.rs
  components/engine_rocks/src/perf_context_metrics.rs
  components/engine_traits/Cargo.toml
  components/engine_traits/src/import.rs
  components/engine_traits/src/misc.rs
  components/raftstore/src/store/snap.rs
  components/raftstore/src/store/snap/io.rs
  components/raftstore/src/store/worker/region.rs
  components/sst_importer/src/import_file.rs
  components/sst_importer/src/util.rs
  components/test_raftstore/src/server.rs
  components/tikv_util/src/lib.rs
  components/tikv_util/src/range_latch.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  src/server/gc_worker/compaction_filter.rs
  src/server/gc_worker/gc_worker.rs
  tests/failpoints/cases/mod.rs
  tests/failpoints/cases/test_sst_ingest.rs
  tests/integrations/storage/test_titan.rs
Labels: contribution, size/XXL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18185 Support `timestampdiff` expression function
  components/tidb_query_datatype/src/codec/mysql/time/interval.rs
  components/tidb_query_datatype/src/codec/mysql/time/mod.rs
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: size/XL, release-note, lgtm, approved, dco-signoff: yes

#18195 RocksDB: Update RocksDB to include fix for deprecated option
  Cargo.lock
Labels: size/XS, release-note, lgtm, approved, dco-signoff: yes

#18190 expr: support scalar function unix_timestamp in tikv
  Cargo.lock
  components/tidb_query_datatype/src/codec/mysql/time/tz.rs
  components/tidb_query_expr/Cargo.toml
  components/tidb_query_expr/src/impl_time.rs
  components/tidb_query_expr/src/lib.rs
Labels: contribution, first-time-contributor, size/XL, release-note, needs-ok-to-test, lgtm, approved, dco-signoff: yes

#18203 chore: simplify snapshot metrics
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
Labels: contribution, size/S, release-note-none, needs-ok-to-test, lgtm, approved, dco-signoff: yes

#18205 raftstore: clean up the disk_latency_inspector file at exit
  components/raftstore/src/store/worker/disk_check.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#18207 use default credential loader when there isn't user specified cred
  components/cloud/azure/src/azblob.rs
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes

#17463 backup: support large txn by making scanner ignore safe locks.
  components/backup/src/endpoint.rs
Labels: size/L, needs-rebase, release-note, skip-issue-check, lgtm, approved, dco-signoff: yes

#18204 raftstore: do not override min_matched index with min_committed index
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_merge.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#18210 raftstore: change warmup cache ack from push to pull style
  Cargo.lock
  components/raftstore-v2/src/fsm/peer.rs
  components/raftstore-v2/src/operation/command/admin/compact_log.rs
  components/raftstore-v2/src/operation/command/admin/transfer_leader.rs
  components/raftstore-v2/src/operation/command/mod.rs
  components/raftstore-v2/src/operation/ready/mod.rs
  components/raftstore-v2/src/operation/txn_ext.rs
  components/raftstore-v2/src/raft/peer.rs
  components/raftstore/Cargo.toml
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/mod.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/peer_storage.rs
  tests/failpoints/cases/test_transfer_leader.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#18218 tests: Fix flaky stale read test by refining checks
  components/raftstore-v2/src/operation/query/lease.rs
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_replica_stale_read.rs
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#18224 Make unix_timestamp return 0 when datetime is invalid
  components/tidb_query_expr/src/impl_time.rs
Labels: contribution, size/S, release-note, needs-ok-to-test, lgtm, approved, dco-signoff: yes

#18220 gc_worker: fix deadlock when gc worker is busy
  src/server/gc_worker/gc_manager.rs
  src/server/gc_worker/gc_worker.rs
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes

#17882 raftstore: warm up IME before transferring leadership
  Cargo.lock
  components/engine_traits/src/region_cache_engine.rs
  components/hybrid_engine/Cargo.toml
  components/hybrid_engine/src/observer/load_eviction.rs
  components/in_memory_engine/src/engine.rs
  components/in_memory_engine/src/region_stats.rs
  components/raftstore-v2/src/operation/command/admin/transfer_leader.rs
  components/raftstore/src/coprocessor/dispatcher.rs
  components/raftstore/src/coprocessor/mod.rs
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/fsm/peer.rs
  components/raftstore/src/store/metrics.rs
  components/raftstore/src/store/peer.rs
  components/raftstore/src/store/snapshot_backup.rs
  tests/failpoints/cases/test_in_memory_engine.rs
Labels: size/XXL, release-note, lgtm, approved, dco-signoff: yes

#18223 GC: fix error log printed unexpectedly by gc worker
  components/backup/src/endpoint.rs
  components/cdc/src/endpoint.rs
  components/concurrency_manager/benches/lock_table.rs
  components/concurrency_manager/src/lib.rs
  components/concurrency_manager/tests/memory_usage.rs
  components/raftstore-v2/tests/integrations/cluster.rs
  components/resolved_ts/src/cmd.rs
  components/test_coprocessor/src/fixture.rs
  components/test_raftstore-v2/src/node.rs
  components/test_raftstore-v2/src/server.rs
  components/test_raftstore/src/node.rs
  components/test_raftstore/src/server.rs
  src/coprocessor/endpoint.rs
  src/server/gc_worker/gc_worker.rs
  src/server/raftkv/mod.rs
  src/storage/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/acquire_pessimistic_lock.rs
  src/storage/txn/actions/check_data_constraint.rs
  src/storage/txn/actions/cleanup.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/flashback_to_version.rs
  src/storage/txn/actions/gc.rs
  src/storage/txn/actions/prewrite.rs
  src/storage/txn/actions/tests.rs
  src/storage/txn/commands/acquire_pessimistic_lock_resumed.rs
  src/storage/txn/commands/atomic_store.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/check_txn_status.rs
  src/storage/txn/commands/compare_and_swap.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/pessimistic_rollback.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/txn_heart_beat.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/integrations/config/dynamic/raftstore.rs
  tests/integrations/raftstore/test_bootstrap.rs
  tests/integrations/resource_metering/test_cpu.rs
  tests/integrations/resource_metering/test_read_keys.rs
  tests/integrations/server/kv_service.rs
Labels: sig/transaction, type/bugfix, size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#18200 txn: optimize the performance of schedulers by read cursor
  src/storage/mvcc/reader/reader.rs
  src/storage/txn/commands/acquire_pessimistic_lock.rs
  src/storage/txn/commands/check_secondary_locks.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/flush.rs
  src/storage/txn/commands/prewrite.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/rollback.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#18192 importer: add memory limit for importers to avoid OOM
  src/import/sst_service.rs
  tests/failpoints/cases/test_import_service.rs
  tests/integrations/import/test_apply_log.rs
  tests/integrations/import/test_sst_service.rs
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#18232 In-memory Engine: reduce verbose logs and add metrics
  components/hybrid_engine/src/metrics.rs
  components/hybrid_engine/src/observer/load_eviction.rs
  components/in_memory_engine/src/background.rs
  components/in_memory_engine/src/engine.rs
  components/in_memory_engine/src/metrics.rs
  components/in_memory_engine/src/region_manager.rs
  components/in_memory_engine/src/region_stats.rs
  components/raftstore/src/store/config.rs
  metrics/grafana/tikv_details.dashboard.py
  metrics/grafana/tikv_details.json
  metrics/grafana/tikv_details.json.sha256
  tests/failpoints/cases/test_transfer_leader.rs
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#18246 cdc: ensure `Deregister::Conn` is always triggered
  components/cdc/src/service.rs
Labels: contribution, first-time-contributor, size/S, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18075 Add thread-local panic context for improved debugging
  components/raftstore/src/store/fsm/store.rs
  components/tikv_util/src/lib.rs
  src/server/gc_worker/gc_worker.rs
  src/server/snap.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#18248 import: relax memory check constraints
  src/import/sst_service.rs
  tests/failpoints/cases/test_import_service.rs
  tests/integrations/import/test_apply_log.rs
  tests/integrations/import/test_sst_service.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#18235 compact_log_backup: added minimal compactions size
  cmd/tikv-ctl/src/cmd.rs
  cmd/tikv-ctl/src/main.rs
  components/compact-log-backup/src/exec_hooks/mod.rs
  components/compact-log-backup/src/exec_hooks/skip_small_compaction.rs
  components/compact-log-backup/src/execute/mod.rs
  components/compact-log-backup/src/execute/test.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#18241 raftstore: fix reset follow apply_unpersisted_log_limit when demoting from leader
  Cargo.lock
  components/raftstore/src/store/entry_storage.rs
  components/raftstore/src/store/peer.rs
  tests/failpoints/cases/test_early_apply.rs
  tests/failpoints/cases/test_split_region.rs
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes
