Repository tikv/tikv, pull requests merged in 2025-05, with the labels that each got.

#18433 tests: use python3 for scripts/check-bins.py in test-all
  scripts/test-all
Labels: contribution, size/XS, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18432 tests: add docker_test feature to tests cargo
  tests/Cargo.toml
Labels: contribution, size/XS, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18426 txn: collect mvcc for err `TxnLockNotFound` when commit secondary failed
  Cargo.lock
  components/test_storage/src/sync_storage.rs
  components/tikv_util/src/log.rs
  components/txn_types/src/lib.rs
  components/txn_types/src/types.rs
  src/import/duplicate_detect.rs
  src/server/gc_worker/gc_worker.rs
  src/storage/errors.rs
  src/storage/mod.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/reader/reader.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/commit.rs
  src/storage/txn/actions/flashback_to_version.rs
  src/storage/txn/actions/mod.rs
  src/storage/txn/actions/mvcc.rs
  src/storage/txn/commands/commit.rs
  src/storage/txn/commands/mod.rs
  src/storage/txn/commands/mvcc_by_key.rs
  src/storage/txn/commands/mvcc_by_start_ts.rs
  src/storage/txn/commands/resolve_lock.rs
  src/storage/txn/commands/resolve_lock_lite.rs
  src/storage/txn/mod.rs
  src/storage/txn/scheduler.rs
  src/storage/txn/store.rs
  src/storage/types.rs
  tests/benches/hierarchy/mvcc/mod.rs
  tests/benches/hierarchy/txn/mod.rs
  tests/failpoints/cases/test_storage.rs
Labels: type/enhancement, contribution, size/XXL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18442 txn: collect mvcc for error `CommitTsExpired`
  src/storage/errors.rs
  src/storage/mvcc/mod.rs
  src/storage/mvcc/txn.rs
  src/storage/txn/actions/commit.rs
Labels: contribution, size/L, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18448 txn: return debug info for some error when `commit_role` is unknown
  src/storage/txn/actions/commit.rs
Labels: contribution, size/M, release-note-none, needs-ok-to-test, lgtm, approved, dco-signoff: yes

#18447 Revert pr "copr: add simd for vector distance functions"
  Cargo.lock
  components/tidb_query_datatype/Cargo.toml
  components/tidb_query_datatype/benches/bench_vector_distance.rs
  components/tidb_query_datatype/src/codec/data_type/chunked_vec_vector_float32.rs
  components/tidb_query_datatype/src/codec/datum.rs
  components/tidb_query_datatype/src/codec/mysql/vector.rs
  components/tidb_query_expr/src/impl_vec.rs
Labels: contribution, size/XXL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#18454 Raftstore: Close some background schedulers before shutting down
  components/raftstore/src/store/fsm/store.rs
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#18470 *: update kvproto version
  Cargo.lock
Labels: contribution, size/XS, release-note-none, needs-ok-to-test, lgtm, approved, dco-signoff: yes

#18439 raftstore: enhance the detection to cover I/O jitters on kvdb.
  components/health_controller/src/reporters.rs
  components/raftstore/src/store/config.rs
  components/raftstore/src/store/worker/pd.rs
  tests/integrations/config/mod.rs
  tests/integrations/config/test-custom.toml
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes
